<body>
    <h1>Convert AFN</h1>
<h3>Go <a href="/">back</a>.</h3>
<ul>
    <li>
      <a href="/AFN/AED">
        Convert 1 AFN to AED...
      </a>
    </li>
    <li>
      <a href="/AFN/AFN">
        Convert 1 AFN to AFN...
      </a>
    </li>
    <li>
      <a href="/AFN/ALL">
        Convert 1 AFN to ALL...
      </a>
    </li>
    <li>
      <a href="/AFN/AMD">
        Convert 1 AFN to AMD...
      </a>
    </li>
    <li>
      <a href="/AFN/ANG">
        Convert 1 AFN to ANG...
      </a>
    </li>
    <li>
      <a href="/AFN/AOA">
        Convert 1 AFN to AOA...
      </a>
    </li>
    <li>
      <a href="/AFN/ARS">
        Convert 1 AFN to ARS...
      </a>
    </li>
    <li>
      <a href="/AFN/AUD">
        Convert 1 AFN to AUD...
      </a>
    </li>
    <li>
      <a href="/AFN/AWG">
        Convert 1 AFN to AWG...
      </a>
    </li>
    <li>
      <a href="/AFN/AZN">
        Convert 1 AFN to AZN...
      </a>
    </li>
    <li>
      <a href="/AFN/BAM">
        Convert 1 AFN to BAM...
      </a>
    </li>
    <li>
      <a href="/AFN/BBD">
        Convert 1 AFN to BBD...
      </a>
    </li>
    <li>
      <a href="/AFN/BDT">
        Convert 1 AFN to BDT...
      </a>
    </li>
    <li>
      <a href="/AFN/BGN">
        Convert 1 AFN to BGN...
      </a>
    </li>
    <li>
      <a href="/AFN/BHD">
        Convert 1 AFN to BHD...
      </a>
    </li>
    <li>
      <a href="/AFN/BIF">
        Convert 1 AFN to BIF...
      </a>
    </li>
    <li>
      <a href="/AFN/BMD">
        Convert 1 AFN to BMD...
      </a>
    </li>
    <li>
      <a href="/AFN/BND">
        Convert 1 AFN to BND...
      </a>
    </li>
    <li>
      <a href="/AFN/BOB">
        Convert 1 AFN to BOB...
      </a>
    </li>
    <li>
      <a href="/AFN/BRL">
        Convert 1 AFN to BRL...
      </a>
    </li>
    <li>
      <a href="/AFN/BSD">
        Convert 1 AFN to BSD...
      </a>
    </li>
    <li>
      <a href="/AFN/BTC">
        Convert 1 AFN to BTC...
      </a>
    </li>
    <li>
      <a href="/AFN/BTN">
        Convert 1 AFN to BTN...
      </a>
    </li>
    <li>
      <a href="/AFN/BWP">
        Convert 1 AFN to BWP...
      </a>
    </li>
    <li>
      <a href="/AFN/BYN">
        Convert 1 AFN to BYN...
      </a>
    </li>
    <li>
      <a href="/AFN/BZD">
        Convert 1 AFN to BZD...
      </a>
    </li>
    <li>
      <a href="/AFN/CAD">
        Convert 1 AFN to CAD...
      </a>
    </li>
    <li>
      <a href="/AFN/CDF">
        Convert 1 AFN to CDF...
      </a>
    </li>
    <li>
      <a href="/AFN/CHF">
        Convert 1 AFN to CHF...
      </a>
    </li>
    <li>
      <a href="/AFN/CLF">
        Convert 1 AFN to CLF...
      </a>
    </li>
    <li>
      <a href="/AFN/CLP">
        Convert 1 AFN to CLP...
      </a>
    </li>
    <li>
      <a href="/AFN/CNH">
        Convert 1 AFN to CNH...
      </a>
    </li>
    <li>
      <a href="/AFN/CNY">
        Convert 1 AFN to CNY...
      </a>
    </li>
    <li>
      <a href="/AFN/COP">
        Convert 1 AFN to COP...
      </a>
    </li>
    <li>
      <a href="/AFN/CRC">
        Convert 1 AFN to CRC...
      </a>
    </li>
    <li>
      <a href="/AFN/CUC">
        Convert 1 AFN to CUC...
      </a>
    </li>
    <li>
      <a href="/AFN/CUP">
        Convert 1 AFN to CUP...
      </a>
    </li>
    <li>
      <a href="/AFN/CVE">
        Convert 1 AFN to CVE...
      </a>
    </li>
    <li>
      <a href="/AFN/CZK">
        Convert 1 AFN to CZK...
      </a>
    </li>
    <li>
      <a href="/AFN/DJF">
        Convert 1 AFN to DJF...
      </a>
    </li>
    <li>
      <a href="/AFN/DKK">
        Convert 1 AFN to DKK...
      </a>
    </li>
    <li>
      <a href="/AFN/DOP">
        Convert 1 AFN to DOP...
      </a>
    </li>
    <li>
      <a href="/AFN/DZD">
        Convert 1 AFN to DZD...
      </a>
    </li>
    <li>
      <a href="/AFN/EGP">
        Convert 1 AFN to EGP...
      </a>
    </li>
    <li>
      <a href="/AFN/ERN">
        Convert 1 AFN to ERN...
      </a>
    </li>
    <li>
      <a href="/AFN/ETB">
        Convert 1 AFN to ETB...
      </a>
    </li>
    <li>
      <a href="/AFN/EUR">
        Convert 1 AFN to EUR...
      </a>
    </li>
    <li>
      <a href="/AFN/FJD">
        Convert 1 AFN to FJD...
      </a>
    </li>
    <li>
      <a href="/AFN/FKP">
        Convert 1 AFN to FKP...
      </a>
    </li>
    <li>
      <a href="/AFN/GBP">
        Convert 1 AFN to GBP...
      </a>
    </li>
    <li>
      <a href="/AFN/GEL">
        Convert 1 AFN to GEL...
      </a>
    </li>
    <li>
      <a href="/AFN/GGP">
        Convert 1 AFN to GGP...
      </a>
    </li>
    <li>
      <a href="/AFN/GHS">
        Convert 1 AFN to GHS...
      </a>
    </li>
    <li>
      <a href="/AFN/GIP">
        Convert 1 AFN to GIP...
      </a>
    </li>
    <li>
      <a href="/AFN/GMD">
        Convert 1 AFN to GMD...
      </a>
    </li>
    <li>
      <a href="/AFN/GNF">
        Convert 1 AFN to GNF...
      </a>
    </li>
    <li>
      <a href="/AFN/GTQ">
        Convert 1 AFN to GTQ...
      </a>
    </li>
    <li>
      <a href="/AFN/GYD">
        Convert 1 AFN to GYD...
      </a>
    </li>
    <li>
      <a href="/AFN/HKD">
        Convert 1 AFN to HKD...
      </a>
    </li>
    <li>
      <a href="/AFN/HNL">
        Convert 1 AFN to HNL...
      </a>
    </li>
    <li>
      <a href="/AFN/HRK">
        Convert 1 AFN to HRK...
      </a>
    </li>
    <li>
      <a href="/AFN/HTG">
        Convert 1 AFN to HTG...
      </a>
    </li>
    <li>
      <a href="/AFN/HUF">
        Convert 1 AFN to HUF...
      </a>
    </li>
    <li>
      <a href="/AFN/IDR">
        Convert 1 AFN to IDR...
      </a>
    </li>
    <li>
      <a href="/AFN/ILS">
        Convert 1 AFN to ILS...
      </a>
    </li>
    <li>
      <a href="/AFN/IMP">
        Convert 1 AFN to IMP...
      </a>
    </li>
    <li>
      <a href="/AFN/INR">
        Convert 1 AFN to INR...
      </a>
    </li>
    <li>
      <a href="/AFN/IQD">
        Convert 1 AFN to IQD...
      </a>
    </li>
    <li>
      <a href="/AFN/IRR">
        Convert 1 AFN to IRR...
      </a>
    </li>
    <li>
      <a href="/AFN/ISK">
        Convert 1 AFN to ISK...
      </a>
    </li>
    <li>
      <a href="/AFN/JEP">
        Convert 1 AFN to JEP...
      </a>
    </li>
    <li>
      <a href="/AFN/JMD">
        Convert 1 AFN to JMD...
      </a>
    </li>
    <li>
      <a href="/AFN/JOD">
        Convert 1 AFN to JOD...
      </a>
    </li>
    <li>
      <a href="/AFN/JPY">
        Convert 1 AFN to JPY...
      </a>
    </li>
    <li>
      <a href="/AFN/KES">
        Convert 1 AFN to KES...
      </a>
    </li>
    <li>
      <a href="/AFN/KGS">
        Convert 1 AFN to KGS...
      </a>
    </li>
    <li>
      <a href="/AFN/KHR">
        Convert 1 AFN to KHR...
      </a>
    </li>
    <li>
      <a href="/AFN/KMF">
        Convert 1 AFN to KMF...
      </a>
    </li>
    <li>
      <a href="/AFN/KPW">
        Convert 1 AFN to KPW...
      </a>
    </li>
    <li>
      <a href="/AFN/KRW">
        Convert 1 AFN to KRW...
      </a>
    </li>
    <li>
      <a href="/AFN/KWD">
        Convert 1 AFN to KWD...
      </a>
    </li>
    <li>
      <a href="/AFN/KYD">
        Convert 1 AFN to KYD...
      </a>
    </li>
    <li>
      <a href="/AFN/KZT">
        Convert 1 AFN to KZT...
      </a>
    </li>
    <li>
      <a href="/AFN/LAK">
        Convert 1 AFN to LAK...
      </a>
    </li>
    <li>
      <a href="/AFN/LBP">
        Convert 1 AFN to LBP...
      </a>
    </li>
    <li>
      <a href="/AFN/LKR">
        Convert 1 AFN to LKR...
      </a>
    </li>
    <li>
      <a href="/AFN/LRD">
        Convert 1 AFN to LRD...
      </a>
    </li>
    <li>
      <a href="/AFN/LSL">
        Convert 1 AFN to LSL...
      </a>
    </li>
    <li>
      <a href="/AFN/LYD">
        Convert 1 AFN to LYD...
      </a>
    </li>
    <li>
      <a href="/AFN/MAD">
        Convert 1 AFN to MAD...
      </a>
    </li>
    <li>
      <a href="/AFN/MDL">
        Convert 1 AFN to MDL...
      </a>
    </li>
    <li>
      <a href="/AFN/MGA">
        Convert 1 AFN to MGA...
      </a>
    </li>
    <li>
      <a href="/AFN/MKD">
        Convert 1 AFN to MKD...
      </a>
    </li>
    <li>
      <a href="/AFN/MMK">
        Convert 1 AFN to MMK...
      </a>
    </li>
    <li>
      <a href="/AFN/MNT">
        Convert 1 AFN to MNT...
      </a>
    </li>
    <li>
      <a href="/AFN/MOP">
        Convert 1 AFN to MOP...
      </a>
    </li>
    <li>
      <a href="/AFN/MRO">
        Convert 1 AFN to MRO...
      </a>
    </li>
    <li>
      <a href="/AFN/MRU">
        Convert 1 AFN to MRU...
      </a>
    </li>
    <li>
      <a href="/AFN/MUR">
        Convert 1 AFN to MUR...
      </a>
    </li>
    <li>
      <a href="/AFN/MVR">
        Convert 1 AFN to MVR...
      </a>
    </li>
    <li>
      <a href="/AFN/MWK">
        Convert 1 AFN to MWK...
      </a>
    </li>
    <li>
      <a href="/AFN/MXN">
        Convert 1 AFN to MXN...
      </a>
    </li>
    <li>
      <a href="/AFN/MYR">
        Convert 1 AFN to MYR...
      </a>
    </li>
    <li>
      <a href="/AFN/MZN">
        Convert 1 AFN to MZN...
      </a>
    </li>
    <li>
      <a href="/AFN/NAD">
        Convert 1 AFN to NAD...
      </a>
    </li>
    <li>
      <a href="/AFN/NGN">
        Convert 1 AFN to NGN...
      </a>
    </li>
    <li>
      <a href="/AFN/NIO">
        Convert 1 AFN to NIO...
      </a>
    </li>
    <li>
      <a href="/AFN/NOK">
        Convert 1 AFN to NOK...
      </a>
    </li>
    <li>
      <a href="/AFN/NPR">
        Convert 1 AFN to NPR...
      </a>
    </li>
    <li>
      <a href="/AFN/NZD">
        Convert 1 AFN to NZD...
      </a>
    </li>
    <li>
      <a href="/AFN/OMR">
        Convert 1 AFN to OMR...
      </a>
    </li>
    <li>
      <a href="/AFN/PAB">
        Convert 1 AFN to PAB...
      </a>
    </li>
    <li>
      <a href="/AFN/PEN">
        Convert 1 AFN to PEN...
      </a>
    </li>
    <li>
      <a href="/AFN/PGK">
        Convert 1 AFN to PGK...
      </a>
    </li>
    <li>
      <a href="/AFN/PHP">
        Convert 1 AFN to PHP...
      </a>
    </li>
    <li>
      <a href="/AFN/PKR">
        Convert 1 AFN to PKR...
      </a>
    </li>
    <li>
      <a href="/AFN/PLN">
        Convert 1 AFN to PLN...
      </a>
    </li>
    <li>
      <a href="/AFN/PYG">
        Convert 1 AFN to PYG...
      </a>
    </li>
    <li>
      <a href="/AFN/QAR">
        Convert 1 AFN to QAR...
      </a>
    </li>
    <li>
      <a href="/AFN/RON">
        Convert 1 AFN to RON...
      </a>
    </li>
    <li>
      <a href="/AFN/RSD">
        Convert 1 AFN to RSD...
      </a>
    </li>
    <li>
      <a href="/AFN/RUB">
        Convert 1 AFN to RUB...
      </a>
    </li>
    <li>
      <a href="/AFN/RWF">
        Convert 1 AFN to RWF...
      </a>
    </li>
    <li>
      <a href="/AFN/SAR">
        Convert 1 AFN to SAR...
      </a>
    </li>
    <li>
      <a href="/AFN/SBD">
        Convert 1 AFN to SBD...
      </a>
    </li>
    <li>
      <a href="/AFN/SCR">
        Convert 1 AFN to SCR...
      </a>
    </li>
    <li>
      <a href="/AFN/SDG">
        Convert 1 AFN to SDG...
      </a>
    </li>
    <li>
      <a href="/AFN/SEK">
        Convert 1 AFN to SEK...
      </a>
    </li>
    <li>
      <a href="/AFN/SGD">
        Convert 1 AFN to SGD...
      </a>
    </li>
    <li>
      <a href="/AFN/SHP">
        Convert 1 AFN to SHP...
      </a>
    </li>
    <li>
      <a href="/AFN/SLL">
        Convert 1 AFN to SLL...
      </a>
    </li>
    <li>
      <a href="/AFN/SOS">
        Convert 1 AFN to SOS...
      </a>
    </li>
    <li>
      <a href="/AFN/SRD">
        Convert 1 AFN to SRD...
      </a>
    </li>
    <li>
      <a href="/AFN/SSP">
        Convert 1 AFN to SSP...
      </a>
    </li>
    <li>
      <a href="/AFN/STD">
        Convert 1 AFN to STD...
      </a>
    </li>
    <li>
      <a href="/AFN/STN">
        Convert 1 AFN to STN...
      </a>
    </li>
    <li>
      <a href="/AFN/SVC">
        Convert 1 AFN to SVC...
      </a>
    </li>
    <li>
      <a href="/AFN/SYP">
        Convert 1 AFN to SYP...
      </a>
    </li>
    <li>
      <a href="/AFN/SZL">
        Convert 1 AFN to SZL...
      </a>
    </li>
    <li>
      <a href="/AFN/THB">
        Convert 1 AFN to THB...
      </a>
    </li>
    <li>
      <a href="/AFN/TJS">
        Convert 1 AFN to TJS...
      </a>
    </li>
    <li>
      <a href="/AFN/TMT">
        Convert 1 AFN to TMT...
      </a>
    </li>
    <li>
      <a href="/AFN/TND">
        Convert 1 AFN to TND...
      </a>
    </li>
    <li>
      <a href="/AFN/TOP">
        Convert 1 AFN to TOP...
      </a>
    </li>
    <li>
      <a href="/AFN/TRY">
        Convert 1 AFN to TRY...
      </a>
    </li>
    <li>
      <a href="/AFN/TTD">
        Convert 1 AFN to TTD...
      </a>
    </li>
    <li>
      <a href="/AFN/TWD">
        Convert 1 AFN to TWD...
      </a>
    </li>
    <li>
      <a href="/AFN/TZS">
        Convert 1 AFN to TZS...
      </a>
    </li>
    <li>
      <a href="/AFN/UAH">
        Convert 1 AFN to UAH...
      </a>
    </li>
    <li>
      <a href="/AFN/UGX">
        Convert 1 AFN to UGX...
      </a>
    </li>
    <li>
      <a href="/AFN/USD">
        Convert 1 AFN to USD...
      </a>
    </li>
    <li>
      <a href="/AFN/UYU">
        Convert 1 AFN to UYU...
      </a>
    </li>
    <li>
      <a href="/AFN/UZS">
        Convert 1 AFN to UZS...
      </a>
    </li>
    <li>
      <a href="/AFN/VEF">
        Convert 1 AFN to VEF...
      </a>
    </li>
    <li>
      <a href="/AFN/VES">
        Convert 1 AFN to VES...
      </a>
    </li>
    <li>
      <a href="/AFN/VND">
        Convert 1 AFN to VND...
      </a>
    </li>
    <li>
      <a href="/AFN/VUV">
        Convert 1 AFN to VUV...
      </a>
    </li>
    <li>
      <a href="/AFN/WST">
        Convert 1 AFN to WST...
      </a>
    </li>
    <li>
      <a href="/AFN/XAF">
        Convert 1 AFN to XAF...
      </a>
    </li>
    <li>
      <a href="/AFN/XAG">
        Convert 1 AFN to XAG...
      </a>
    </li>
    <li>
      <a href="/AFN/XAU">
        Convert 1 AFN to XAU...
      </a>
    </li>
    <li>
      <a href="/AFN/XCD">
        Convert 1 AFN to XCD...
      </a>
    </li>
    <li>
      <a href="/AFN/XDR">
        Convert 1 AFN to XDR...
      </a>
    </li>
    <li>
      <a href="/AFN/XOF">
        Convert 1 AFN to XOF...
      </a>
    </li>
    <li>
      <a href="/AFN/XPD">
        Convert 1 AFN to XPD...
      </a>
    </li>
    <li>
      <a href="/AFN/XPF">
        Convert 1 AFN to XPF...
      </a>
    </li>
    <li>
      <a href="/AFN/XPT">
        Convert 1 AFN to XPT...
      </a>
    </li>
    <li>
      <a href="/AFN/YER">
        Convert 1 AFN to YER...
      </a>
    </li>
    <li>
      <a href="/AFN/ZAR">
        Convert 1 AFN to ZAR...
      </a>
    </li>
    <li>
      <a href="/AFN/ZMW">
        Convert 1 AFN to ZMW...
      </a>
    </li>
    <li>
      <a href="/AFN/ZWL">
        Convert 1 AFN to ZWL...
      </a>
    </li>
</ul>
</body>
