<body>
    <h1>Convert ALL</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/ALL/AED">
        Convert 1 ALL to AED...
      </a>
    </li>
    <li>
      <a href="/ALL/AFN">
        Convert 1 ALL to AFN...
      </a>
    </li>
    <li>
      <a href="/ALL/ALL">
        Convert 1 ALL to ALL...
      </a>
    </li>
    <li>
      <a href="/ALL/AMD">
        Convert 1 ALL to AMD...
      </a>
    </li>
    <li>
      <a href="/ALL/ANG">
        Convert 1 ALL to ANG...
      </a>
    </li>
    <li>
      <a href="/ALL/AOA">
        Convert 1 ALL to AOA...
      </a>
    </li>
    <li>
      <a href="/ALL/ARS">
        Convert 1 ALL to ARS...
      </a>
    </li>
    <li>
      <a href="/ALL/AUD">
        Convert 1 ALL to AUD...
      </a>
    </li>
    <li>
      <a href="/ALL/AWG">
        Convert 1 ALL to AWG...
      </a>
    </li>
    <li>
      <a href="/ALL/AZN">
        Convert 1 ALL to AZN...
      </a>
    </li>
    <li>
      <a href="/ALL/BAM">
        Convert 1 ALL to BAM...
      </a>
    </li>
    <li>
      <a href="/ALL/BBD">
        Convert 1 ALL to BBD...
      </a>
    </li>
    <li>
      <a href="/ALL/BDT">
        Convert 1 ALL to BDT...
      </a>
    </li>
    <li>
      <a href="/ALL/BGN">
        Convert 1 ALL to BGN...
      </a>
    </li>
    <li>
      <a href="/ALL/BHD">
        Convert 1 ALL to BHD...
      </a>
    </li>
    <li>
      <a href="/ALL/BIF">
        Convert 1 ALL to BIF...
      </a>
    </li>
    <li>
      <a href="/ALL/BMD">
        Convert 1 ALL to BMD...
      </a>
    </li>
    <li>
      <a href="/ALL/BND">
        Convert 1 ALL to BND...
      </a>
    </li>
    <li>
      <a href="/ALL/BOB">
        Convert 1 ALL to BOB...
      </a>
    </li>
    <li>
      <a href="/ALL/BRL">
        Convert 1 ALL to BRL...
      </a>
    </li>
    <li>
      <a href="/ALL/BSD">
        Convert 1 ALL to BSD...
      </a>
    </li>
    <li>
      <a href="/ALL/BTC">
        Convert 1 ALL to BTC...
      </a>
    </li>
    <li>
      <a href="/ALL/BTN">
        Convert 1 ALL to BTN...
      </a>
    </li>
    <li>
      <a href="/ALL/BWP">
        Convert 1 ALL to BWP...
      </a>
    </li>
    <li>
      <a href="/ALL/BYN">
        Convert 1 ALL to BYN...
      </a>
    </li>
    <li>
      <a href="/ALL/BZD">
        Convert 1 ALL to BZD...
      </a>
    </li>
    <li>
      <a href="/ALL/CAD">
        Convert 1 ALL to CAD...
      </a>
    </li>
    <li>
      <a href="/ALL/CDF">
        Convert 1 ALL to CDF...
      </a>
    </li>
    <li>
      <a href="/ALL/CHF">
        Convert 1 ALL to CHF...
      </a>
    </li>
    <li>
      <a href="/ALL/CLF">
        Convert 1 ALL to CLF...
      </a>
    </li>
    <li>
      <a href="/ALL/CLP">
        Convert 1 ALL to CLP...
      </a>
    </li>
    <li>
      <a href="/ALL/CNH">
        Convert 1 ALL to CNH...
      </a>
    </li>
    <li>
      <a href="/ALL/CNY">
        Convert 1 ALL to CNY...
      </a>
    </li>
    <li>
      <a href="/ALL/COP">
        Convert 1 ALL to COP...
      </a>
    </li>
    <li>
      <a href="/ALL/CRC">
        Convert 1 ALL to CRC...
      </a>
    </li>
    <li>
      <a href="/ALL/CUC">
        Convert 1 ALL to CUC...
      </a>
    </li>
    <li>
      <a href="/ALL/CUP">
        Convert 1 ALL to CUP...
      </a>
    </li>
    <li>
      <a href="/ALL/CVE">
        Convert 1 ALL to CVE...
      </a>
    </li>
    <li>
      <a href="/ALL/CZK">
        Convert 1 ALL to CZK...
      </a>
    </li>
    <li>
      <a href="/ALL/DJF">
        Convert 1 ALL to DJF...
      </a>
    </li>
    <li>
      <a href="/ALL/DKK">
        Convert 1 ALL to DKK...
      </a>
    </li>
    <li>
      <a href="/ALL/DOP">
        Convert 1 ALL to DOP...
      </a>
    </li>
    <li>
      <a href="/ALL/DZD">
        Convert 1 ALL to DZD...
      </a>
    </li>
    <li>
      <a href="/ALL/EGP">
        Convert 1 ALL to EGP...
      </a>
    </li>
    <li>
      <a href="/ALL/ERN">
        Convert 1 ALL to ERN...
      </a>
    </li>
    <li>
      <a href="/ALL/ETB">
        Convert 1 ALL to ETB...
      </a>
    </li>
    <li>
      <a href="/ALL/EUR">
        Convert 1 ALL to EUR...
      </a>
    </li>
    <li>
      <a href="/ALL/FJD">
        Convert 1 ALL to FJD...
      </a>
    </li>
    <li>
      <a href="/ALL/FKP">
        Convert 1 ALL to FKP...
      </a>
    </li>
    <li>
      <a href="/ALL/GBP">
        Convert 1 ALL to GBP...
      </a>
    </li>
    <li>
      <a href="/ALL/GEL">
        Convert 1 ALL to GEL...
      </a>
    </li>
    <li>
      <a href="/ALL/GGP">
        Convert 1 ALL to GGP...
      </a>
    </li>
    <li>
      <a href="/ALL/GHS">
        Convert 1 ALL to GHS...
      </a>
    </li>
    <li>
      <a href="/ALL/GIP">
        Convert 1 ALL to GIP...
      </a>
    </li>
    <li>
      <a href="/ALL/GMD">
        Convert 1 ALL to GMD...
      </a>
    </li>
    <li>
      <a href="/ALL/GNF">
        Convert 1 ALL to GNF...
      </a>
    </li>
    <li>
      <a href="/ALL/GTQ">
        Convert 1 ALL to GTQ...
      </a>
    </li>
    <li>
      <a href="/ALL/GYD">
        Convert 1 ALL to GYD...
      </a>
    </li>
    <li>
      <a href="/ALL/HKD">
        Convert 1 ALL to HKD...
      </a>
    </li>
    <li>
      <a href="/ALL/HNL">
        Convert 1 ALL to HNL...
      </a>
    </li>
    <li>
      <a href="/ALL/HRK">
        Convert 1 ALL to HRK...
      </a>
    </li>
    <li>
      <a href="/ALL/HTG">
        Convert 1 ALL to HTG...
      </a>
    </li>
    <li>
      <a href="/ALL/HUF">
        Convert 1 ALL to HUF...
      </a>
    </li>
    <li>
      <a href="/ALL/IDR">
        Convert 1 ALL to IDR...
      </a>
    </li>
    <li>
      <a href="/ALL/ILS">
        Convert 1 ALL to ILS...
      </a>
    </li>
    <li>
      <a href="/ALL/IMP">
        Convert 1 ALL to IMP...
      </a>
    </li>
    <li>
      <a href="/ALL/INR">
        Convert 1 ALL to INR...
      </a>
    </li>
    <li>
      <a href="/ALL/IQD">
        Convert 1 ALL to IQD...
      </a>
    </li>
    <li>
      <a href="/ALL/IRR">
        Convert 1 ALL to IRR...
      </a>
    </li>
    <li>
      <a href="/ALL/ISK">
        Convert 1 ALL to ISK...
      </a>
    </li>
    <li>
      <a href="/ALL/JEP">
        Convert 1 ALL to JEP...
      </a>
    </li>
    <li>
      <a href="/ALL/JMD">
        Convert 1 ALL to JMD...
      </a>
    </li>
    <li>
      <a href="/ALL/JOD">
        Convert 1 ALL to JOD...
      </a>
    </li>
    <li>
      <a href="/ALL/JPY">
        Convert 1 ALL to JPY...
      </a>
    </li>
    <li>
      <a href="/ALL/KES">
        Convert 1 ALL to KES...
      </a>
    </li>
    <li>
      <a href="/ALL/KGS">
        Convert 1 ALL to KGS...
      </a>
    </li>
    <li>
      <a href="/ALL/KHR">
        Convert 1 ALL to KHR...
      </a>
    </li>
    <li>
      <a href="/ALL/KMF">
        Convert 1 ALL to KMF...
      </a>
    </li>
    <li>
      <a href="/ALL/KPW">
        Convert 1 ALL to KPW...
      </a>
    </li>
    <li>
      <a href="/ALL/KRW">
        Convert 1 ALL to KRW...
      </a>
    </li>
    <li>
      <a href="/ALL/KWD">
        Convert 1 ALL to KWD...
      </a>
    </li>
    <li>
      <a href="/ALL/KYD">
        Convert 1 ALL to KYD...
      </a>
    </li>
    <li>
      <a href="/ALL/KZT">
        Convert 1 ALL to KZT...
      </a>
    </li>
    <li>
      <a href="/ALL/LAK">
        Convert 1 ALL to LAK...
      </a>
    </li>
    <li>
      <a href="/ALL/LBP">
        Convert 1 ALL to LBP...
      </a>
    </li>
    <li>
      <a href="/ALL/LKR">
        Convert 1 ALL to LKR...
      </a>
    </li>
    <li>
      <a href="/ALL/LRD">
        Convert 1 ALL to LRD...
      </a>
    </li>
    <li>
      <a href="/ALL/LSL">
        Convert 1 ALL to LSL...
      </a>
    </li>
    <li>
      <a href="/ALL/LYD">
        Convert 1 ALL to LYD...
      </a>
    </li>
    <li>
      <a href="/ALL/MAD">
        Convert 1 ALL to MAD...
      </a>
    </li>
    <li>
      <a href="/ALL/MDL">
        Convert 1 ALL to MDL...
      </a>
    </li>
    <li>
      <a href="/ALL/MGA">
        Convert 1 ALL to MGA...
      </a>
    </li>
    <li>
      <a href="/ALL/MKD">
        Convert 1 ALL to MKD...
      </a>
    </li>
    <li>
      <a href="/ALL/MMK">
        Convert 1 ALL to MMK...
      </a>
    </li>
    <li>
      <a href="/ALL/MNT">
        Convert 1 ALL to MNT...
      </a>
    </li>
    <li>
      <a href="/ALL/MOP">
        Convert 1 ALL to MOP...
      </a>
    </li>
    <li>
      <a href="/ALL/MRO">
        Convert 1 ALL to MRO...
      </a>
    </li>
    <li>
      <a href="/ALL/MRU">
        Convert 1 ALL to MRU...
      </a>
    </li>
    <li>
      <a href="/ALL/MUR">
        Convert 1 ALL to MUR...
      </a>
    </li>
    <li>
      <a href="/ALL/MVR">
        Convert 1 ALL to MVR...
      </a>
    </li>
    <li>
      <a href="/ALL/MWK">
        Convert 1 ALL to MWK...
      </a>
    </li>
    <li>
      <a href="/ALL/MXN">
        Convert 1 ALL to MXN...
      </a>
    </li>
    <li>
      <a href="/ALL/MYR">
        Convert 1 ALL to MYR...
      </a>
    </li>
    <li>
      <a href="/ALL/MZN">
        Convert 1 ALL to MZN...
      </a>
    </li>
    <li>
      <a href="/ALL/NAD">
        Convert 1 ALL to NAD...
      </a>
    </li>
    <li>
      <a href="/ALL/NGN">
        Convert 1 ALL to NGN...
      </a>
    </li>
    <li>
      <a href="/ALL/NIO">
        Convert 1 ALL to NIO...
      </a>
    </li>
    <li>
      <a href="/ALL/NOK">
        Convert 1 ALL to NOK...
      </a>
    </li>
    <li>
      <a href="/ALL/NPR">
        Convert 1 ALL to NPR...
      </a>
    </li>
    <li>
      <a href="/ALL/NZD">
        Convert 1 ALL to NZD...
      </a>
    </li>
    <li>
      <a href="/ALL/OMR">
        Convert 1 ALL to OMR...
      </a>
    </li>
    <li>
      <a href="/ALL/PAB">
        Convert 1 ALL to PAB...
      </a>
    </li>
    <li>
      <a href="/ALL/PEN">
        Convert 1 ALL to PEN...
      </a>
    </li>
    <li>
      <a href="/ALL/PGK">
        Convert 1 ALL to PGK...
      </a>
    </li>
    <li>
      <a href="/ALL/PHP">
        Convert 1 ALL to PHP...
      </a>
    </li>
    <li>
      <a href="/ALL/PKR">
        Convert 1 ALL to PKR...
      </a>
    </li>
    <li>
      <a href="/ALL/PLN">
        Convert 1 ALL to PLN...
      </a>
    </li>
    <li>
      <a href="/ALL/PYG">
        Convert 1 ALL to PYG...
      </a>
    </li>
    <li>
      <a href="/ALL/QAR">
        Convert 1 ALL to QAR...
      </a>
    </li>
    <li>
      <a href="/ALL/RON">
        Convert 1 ALL to RON...
      </a>
    </li>
    <li>
      <a href="/ALL/RSD">
        Convert 1 ALL to RSD...
      </a>
    </li>
    <li>
      <a href="/ALL/RUB">
        Convert 1 ALL to RUB...
      </a>
    </li>
    <li>
      <a href="/ALL/RWF">
        Convert 1 ALL to RWF...
      </a>
    </li>
    <li>
      <a href="/ALL/SAR">
        Convert 1 ALL to SAR...
      </a>
    </li>
    <li>
      <a href="/ALL/SBD">
        Convert 1 ALL to SBD...
      </a>
    </li>
    <li>
      <a href="/ALL/SCR">
        Convert 1 ALL to SCR...
      </a>
    </li>
    <li>
      <a href="/ALL/SDG">
        Convert 1 ALL to SDG...
      </a>
    </li>
    <li>
      <a href="/ALL/SEK">
        Convert 1 ALL to SEK...
      </a>
    </li>
    <li>
      <a href="/ALL/SGD">
        Convert 1 ALL to SGD...
      </a>
    </li>
    <li>
      <a href="/ALL/SHP">
        Convert 1 ALL to SHP...
      </a>
    </li>
    <li>
      <a href="/ALL/SLL">
        Convert 1 ALL to SLL...
      </a>
    </li>
    <li>
      <a href="/ALL/SOS">
        Convert 1 ALL to SOS...
      </a>
    </li>
    <li>
      <a href="/ALL/SRD">
        Convert 1 ALL to SRD...
      </a>
    </li>
    <li>
      <a href="/ALL/SSP">
        Convert 1 ALL to SSP...
      </a>
    </li>
    <li>
      <a href="/ALL/STD">
        Convert 1 ALL to STD...
      </a>
    </li>
    <li>
      <a href="/ALL/STN">
        Convert 1 ALL to STN...
      </a>
    </li>
    <li>
      <a href="/ALL/SVC">
        Convert 1 ALL to SVC...
      </a>
    </li>
    <li>
      <a href="/ALL/SYP">
        Convert 1 ALL to SYP...
      </a>
    </li>
    <li>
      <a href="/ALL/SZL">
        Convert 1 ALL to SZL...
      </a>
    </li>
    <li>
      <a href="/ALL/THB">
        Convert 1 ALL to THB...
      </a>
    </li>
    <li>
      <a href="/ALL/TJS">
        Convert 1 ALL to TJS...
      </a>
    </li>
    <li>
      <a href="/ALL/TMT">
        Convert 1 ALL to TMT...
      </a>
    </li>
    <li>
      <a href="/ALL/TND">
        Convert 1 ALL to TND...
      </a>
    </li>
    <li>
      <a href="/ALL/TOP">
        Convert 1 ALL to TOP...
      </a>
    </li>
    <li>
      <a href="/ALL/TRY">
        Convert 1 ALL to TRY...
      </a>
    </li>
    <li>
      <a href="/ALL/TTD">
        Convert 1 ALL to TTD...
      </a>
    </li>
    <li>
      <a href="/ALL/TWD">
        Convert 1 ALL to TWD...
      </a>
    </li>
    <li>
      <a href="/ALL/TZS">
        Convert 1 ALL to TZS...
      </a>
    </li>
    <li>
      <a href="/ALL/UAH">
        Convert 1 ALL to UAH...
      </a>
    </li>
    <li>
      <a href="/ALL/UGX">
        Convert 1 ALL to UGX...
      </a>
    </li>
    <li>
      <a href="/ALL/USD">
        Convert 1 ALL to USD...
      </a>
    </li>
    <li>
      <a href="/ALL/UYU">
        Convert 1 ALL to UYU...
      </a>
    </li>
    <li>
      <a href="/ALL/UZS">
        Convert 1 ALL to UZS...
      </a>
    </li>
    <li>
      <a href="/ALL/VEF">
        Convert 1 ALL to VEF...
      </a>
    </li>
    <li>
      <a href="/ALL/VES">
        Convert 1 ALL to VES...
      </a>
    </li>
    <li>
      <a href="/ALL/VND">
        Convert 1 ALL to VND...
      </a>
    </li>
    <li>
      <a href="/ALL/VUV">
        Convert 1 ALL to VUV...
      </a>
    </li>
    <li>
      <a href="/ALL/WST">
        Convert 1 ALL to WST...
      </a>
    </li>
    <li>
      <a href="/ALL/XAF">
        Convert 1 ALL to XAF...
      </a>
    </li>
    <li>
      <a href="/ALL/XAG">
        Convert 1 ALL to XAG...
      </a>
    </li>
    <li>
      <a href="/ALL/XAU">
        Convert 1 ALL to XAU...
      </a>
    </li>
    <li>
      <a href="/ALL/XCD">
        Convert 1 ALL to XCD...
      </a>
    </li>
    <li>
      <a href="/ALL/XDR">
        Convert 1 ALL to XDR...
      </a>
    </li>
    <li>
      <a href="/ALL/XOF">
        Convert 1 ALL to XOF...
      </a>
    </li>
    <li>
      <a href="/ALL/XPD">
        Convert 1 ALL to XPD...
      </a>
    </li>
    <li>
      <a href="/ALL/XPF">
        Convert 1 ALL to XPF...
      </a>
    </li>
    <li>
      <a href="/ALL/XPT">
        Convert 1 ALL to XPT...
      </a>
    </li>
    <li>
      <a href="/ALL/YER">
        Convert 1 ALL to YER...
      </a>
    </li>
    <li>
      <a href="/ALL/ZAR">
        Convert 1 ALL to ZAR...
      </a>
    </li>
    <li>
      <a href="/ALL/ZMW">
        Convert 1 ALL to ZMW...
      </a>
    </li>
    <li>
      <a href="/ALL/ZWL">
        Convert 1 ALL to ZWL...
      </a>
    </li>
</ul>
</body>
