<body>
    <h1>Convert ANG</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/ANG/AED">
        Convert 1 ANG to AED...
      </a>
    </li>
    <li>
      <a href="/ANG/AFN">
        Convert 1 ANG to AFN...
      </a>
    </li>
    <li>
      <a href="/ANG/ALL">
        Convert 1 ANG to ALL...
      </a>
    </li>
    <li>
      <a href="/ANG/AMD">
        Convert 1 ANG to AMD...
      </a>
    </li>
    <li>
      <a href="/ANG/ANG">
        Convert 1 ANG to ANG...
      </a>
    </li>
    <li>
      <a href="/ANG/AOA">
        Convert 1 ANG to AOA...
      </a>
    </li>
    <li>
      <a href="/ANG/ARS">
        Convert 1 ANG to ARS...
      </a>
    </li>
    <li>
      <a href="/ANG/AUD">
        Convert 1 ANG to AUD...
      </a>
    </li>
    <li>
      <a href="/ANG/AWG">
        Convert 1 ANG to AWG...
      </a>
    </li>
    <li>
      <a href="/ANG/AZN">
        Convert 1 ANG to AZN...
      </a>
    </li>
    <li>
      <a href="/ANG/BAM">
        Convert 1 ANG to BAM...
      </a>
    </li>
    <li>
      <a href="/ANG/BBD">
        Convert 1 ANG to BBD...
      </a>
    </li>
    <li>
      <a href="/ANG/BDT">
        Convert 1 ANG to BDT...
      </a>
    </li>
    <li>
      <a href="/ANG/BGN">
        Convert 1 ANG to BGN...
      </a>
    </li>
    <li>
      <a href="/ANG/BHD">
        Convert 1 ANG to BHD...
      </a>
    </li>
    <li>
      <a href="/ANG/BIF">
        Convert 1 ANG to BIF...
      </a>
    </li>
    <li>
      <a href="/ANG/BMD">
        Convert 1 ANG to BMD...
      </a>
    </li>
    <li>
      <a href="/ANG/BND">
        Convert 1 ANG to BND...
      </a>
    </li>
    <li>
      <a href="/ANG/BOB">
        Convert 1 ANG to BOB...
      </a>
    </li>
    <li>
      <a href="/ANG/BRL">
        Convert 1 ANG to BRL...
      </a>
    </li>
    <li>
      <a href="/ANG/BSD">
        Convert 1 ANG to BSD...
      </a>
    </li>
    <li>
      <a href="/ANG/BTC">
        Convert 1 ANG to BTC...
      </a>
    </li>
    <li>
      <a href="/ANG/BTN">
        Convert 1 ANG to BTN...
      </a>
    </li>
    <li>
      <a href="/ANG/BWP">
        Convert 1 ANG to BWP...
      </a>
    </li>
    <li>
      <a href="/ANG/BYN">
        Convert 1 ANG to BYN...
      </a>
    </li>
    <li>
      <a href="/ANG/BZD">
        Convert 1 ANG to BZD...
      </a>
    </li>
    <li>
      <a href="/ANG/CAD">
        Convert 1 ANG to CAD...
      </a>
    </li>
    <li>
      <a href="/ANG/CDF">
        Convert 1 ANG to CDF...
      </a>
    </li>
    <li>
      <a href="/ANG/CHF">
        Convert 1 ANG to CHF...
      </a>
    </li>
    <li>
      <a href="/ANG/CLF">
        Convert 1 ANG to CLF...
      </a>
    </li>
    <li>
      <a href="/ANG/CLP">
        Convert 1 ANG to CLP...
      </a>
    </li>
    <li>
      <a href="/ANG/CNH">
        Convert 1 ANG to CNH...
      </a>
    </li>
    <li>
      <a href="/ANG/CNY">
        Convert 1 ANG to CNY...
      </a>
    </li>
    <li>
      <a href="/ANG/COP">
        Convert 1 ANG to COP...
      </a>
    </li>
    <li>
      <a href="/ANG/CRC">
        Convert 1 ANG to CRC...
      </a>
    </li>
    <li>
      <a href="/ANG/CUC">
        Convert 1 ANG to CUC...
      </a>
    </li>
    <li>
      <a href="/ANG/CUP">
        Convert 1 ANG to CUP...
      </a>
    </li>
    <li>
      <a href="/ANG/CVE">
        Convert 1 ANG to CVE...
      </a>
    </li>
    <li>
      <a href="/ANG/CZK">
        Convert 1 ANG to CZK...
      </a>
    </li>
    <li>
      <a href="/ANG/DJF">
        Convert 1 ANG to DJF...
      </a>
    </li>
    <li>
      <a href="/ANG/DKK">
        Convert 1 ANG to DKK...
      </a>
    </li>
    <li>
      <a href="/ANG/DOP">
        Convert 1 ANG to DOP...
      </a>
    </li>
    <li>
      <a href="/ANG/DZD">
        Convert 1 ANG to DZD...
      </a>
    </li>
    <li>
      <a href="/ANG/EGP">
        Convert 1 ANG to EGP...
      </a>
    </li>
    <li>
      <a href="/ANG/ERN">
        Convert 1 ANG to ERN...
      </a>
    </li>
    <li>
      <a href="/ANG/ETB">
        Convert 1 ANG to ETB...
      </a>
    </li>
    <li>
      <a href="/ANG/EUR">
        Convert 1 ANG to EUR...
      </a>
    </li>
    <li>
      <a href="/ANG/FJD">
        Convert 1 ANG to FJD...
      </a>
    </li>
    <li>
      <a href="/ANG/FKP">
        Convert 1 ANG to FKP...
      </a>
    </li>
    <li>
      <a href="/ANG/GBP">
        Convert 1 ANG to GBP...
      </a>
    </li>
    <li>
      <a href="/ANG/GEL">
        Convert 1 ANG to GEL...
      </a>
    </li>
    <li>
      <a href="/ANG/GGP">
        Convert 1 ANG to GGP...
      </a>
    </li>
    <li>
      <a href="/ANG/GHS">
        Convert 1 ANG to GHS...
      </a>
    </li>
    <li>
      <a href="/ANG/GIP">
        Convert 1 ANG to GIP...
      </a>
    </li>
    <li>
      <a href="/ANG/GMD">
        Convert 1 ANG to GMD...
      </a>
    </li>
    <li>
      <a href="/ANG/GNF">
        Convert 1 ANG to GNF...
      </a>
    </li>
    <li>
      <a href="/ANG/GTQ">
        Convert 1 ANG to GTQ...
      </a>
    </li>
    <li>
      <a href="/ANG/GYD">
        Convert 1 ANG to GYD...
      </a>
    </li>
    <li>
      <a href="/ANG/HKD">
        Convert 1 ANG to HKD...
      </a>
    </li>
    <li>
      <a href="/ANG/HNL">
        Convert 1 ANG to HNL...
      </a>
    </li>
    <li>
      <a href="/ANG/HRK">
        Convert 1 ANG to HRK...
      </a>
    </li>
    <li>
      <a href="/ANG/HTG">
        Convert 1 ANG to HTG...
      </a>
    </li>
    <li>
      <a href="/ANG/HUF">
        Convert 1 ANG to HUF...
      </a>
    </li>
    <li>
      <a href="/ANG/IDR">
        Convert 1 ANG to IDR...
      </a>
    </li>
    <li>
      <a href="/ANG/ILS">
        Convert 1 ANG to ILS...
      </a>
    </li>
    <li>
      <a href="/ANG/IMP">
        Convert 1 ANG to IMP...
      </a>
    </li>
    <li>
      <a href="/ANG/INR">
        Convert 1 ANG to INR...
      </a>
    </li>
    <li>
      <a href="/ANG/IQD">
        Convert 1 ANG to IQD...
      </a>
    </li>
    <li>
      <a href="/ANG/IRR">
        Convert 1 ANG to IRR...
      </a>
    </li>
    <li>
      <a href="/ANG/ISK">
        Convert 1 ANG to ISK...
      </a>
    </li>
    <li>
      <a href="/ANG/JEP">
        Convert 1 ANG to JEP...
      </a>
    </li>
    <li>
      <a href="/ANG/JMD">
        Convert 1 ANG to JMD...
      </a>
    </li>
    <li>
      <a href="/ANG/JOD">
        Convert 1 ANG to JOD...
      </a>
    </li>
    <li>
      <a href="/ANG/JPY">
        Convert 1 ANG to JPY...
      </a>
    </li>
    <li>
      <a href="/ANG/KES">
        Convert 1 ANG to KES...
      </a>
    </li>
    <li>
      <a href="/ANG/KGS">
        Convert 1 ANG to KGS...
      </a>
    </li>
    <li>
      <a href="/ANG/KHR">
        Convert 1 ANG to KHR...
      </a>
    </li>
    <li>
      <a href="/ANG/KMF">
        Convert 1 ANG to KMF...
      </a>
    </li>
    <li>
      <a href="/ANG/KPW">
        Convert 1 ANG to KPW...
      </a>
    </li>
    <li>
      <a href="/ANG/KRW">
        Convert 1 ANG to KRW...
      </a>
    </li>
    <li>
      <a href="/ANG/KWD">
        Convert 1 ANG to KWD...
      </a>
    </li>
    <li>
      <a href="/ANG/KYD">
        Convert 1 ANG to KYD...
      </a>
    </li>
    <li>
      <a href="/ANG/KZT">
        Convert 1 ANG to KZT...
      </a>
    </li>
    <li>
      <a href="/ANG/LAK">
        Convert 1 ANG to LAK...
      </a>
    </li>
    <li>
      <a href="/ANG/LBP">
        Convert 1 ANG to LBP...
      </a>
    </li>
    <li>
      <a href="/ANG/LKR">
        Convert 1 ANG to LKR...
      </a>
    </li>
    <li>
      <a href="/ANG/LRD">
        Convert 1 ANG to LRD...
      </a>
    </li>
    <li>
      <a href="/ANG/LSL">
        Convert 1 ANG to LSL...
      </a>
    </li>
    <li>
      <a href="/ANG/LYD">
        Convert 1 ANG to LYD...
      </a>
    </li>
    <li>
      <a href="/ANG/MAD">
        Convert 1 ANG to MAD...
      </a>
    </li>
    <li>
      <a href="/ANG/MDL">
        Convert 1 ANG to MDL...
      </a>
    </li>
    <li>
      <a href="/ANG/MGA">
        Convert 1 ANG to MGA...
      </a>
    </li>
    <li>
      <a href="/ANG/MKD">
        Convert 1 ANG to MKD...
      </a>
    </li>
    <li>
      <a href="/ANG/MMK">
        Convert 1 ANG to MMK...
      </a>
    </li>
    <li>
      <a href="/ANG/MNT">
        Convert 1 ANG to MNT...
      </a>
    </li>
    <li>
      <a href="/ANG/MOP">
        Convert 1 ANG to MOP...
      </a>
    </li>
    <li>
      <a href="/ANG/MRO">
        Convert 1 ANG to MRO...
      </a>
    </li>
    <li>
      <a href="/ANG/MRU">
        Convert 1 ANG to MRU...
      </a>
    </li>
    <li>
      <a href="/ANG/MUR">
        Convert 1 ANG to MUR...
      </a>
    </li>
    <li>
      <a href="/ANG/MVR">
        Convert 1 ANG to MVR...
      </a>
    </li>
    <li>
      <a href="/ANG/MWK">
        Convert 1 ANG to MWK...
      </a>
    </li>
    <li>
      <a href="/ANG/MXN">
        Convert 1 ANG to MXN...
      </a>
    </li>
    <li>
      <a href="/ANG/MYR">
        Convert 1 ANG to MYR...
      </a>
    </li>
    <li>
      <a href="/ANG/MZN">
        Convert 1 ANG to MZN...
      </a>
    </li>
    <li>
      <a href="/ANG/NAD">
        Convert 1 ANG to NAD...
      </a>
    </li>
    <li>
      <a href="/ANG/NGN">
        Convert 1 ANG to NGN...
      </a>
    </li>
    <li>
      <a href="/ANG/NIO">
        Convert 1 ANG to NIO...
      </a>
    </li>
    <li>
      <a href="/ANG/NOK">
        Convert 1 ANG to NOK...
      </a>
    </li>
    <li>
      <a href="/ANG/NPR">
        Convert 1 ANG to NPR...
      </a>
    </li>
    <li>
      <a href="/ANG/NZD">
        Convert 1 ANG to NZD...
      </a>
    </li>
    <li>
      <a href="/ANG/OMR">
        Convert 1 ANG to OMR...
      </a>
    </li>
    <li>
      <a href="/ANG/PAB">
        Convert 1 ANG to PAB...
      </a>
    </li>
    <li>
      <a href="/ANG/PEN">
        Convert 1 ANG to PEN...
      </a>
    </li>
    <li>
      <a href="/ANG/PGK">
        Convert 1 ANG to PGK...
      </a>
    </li>
    <li>
      <a href="/ANG/PHP">
        Convert 1 ANG to PHP...
      </a>
    </li>
    <li>
      <a href="/ANG/PKR">
        Convert 1 ANG to PKR...
      </a>
    </li>
    <li>
      <a href="/ANG/PLN">
        Convert 1 ANG to PLN...
      </a>
    </li>
    <li>
      <a href="/ANG/PYG">
        Convert 1 ANG to PYG...
      </a>
    </li>
    <li>
      <a href="/ANG/QAR">
        Convert 1 ANG to QAR...
      </a>
    </li>
    <li>
      <a href="/ANG/RON">
        Convert 1 ANG to RON...
      </a>
    </li>
    <li>
      <a href="/ANG/RSD">
        Convert 1 ANG to RSD...
      </a>
    </li>
    <li>
      <a href="/ANG/RUB">
        Convert 1 ANG to RUB...
      </a>
    </li>
    <li>
      <a href="/ANG/RWF">
        Convert 1 ANG to RWF...
      </a>
    </li>
    <li>
      <a href="/ANG/SAR">
        Convert 1 ANG to SAR...
      </a>
    </li>
    <li>
      <a href="/ANG/SBD">
        Convert 1 ANG to SBD...
      </a>
    </li>
    <li>
      <a href="/ANG/SCR">
        Convert 1 ANG to SCR...
      </a>
    </li>
    <li>
      <a href="/ANG/SDG">
        Convert 1 ANG to SDG...
      </a>
    </li>
    <li>
      <a href="/ANG/SEK">
        Convert 1 ANG to SEK...
      </a>
    </li>
    <li>
      <a href="/ANG/SGD">
        Convert 1 ANG to SGD...
      </a>
    </li>
    <li>
      <a href="/ANG/SHP">
        Convert 1 ANG to SHP...
      </a>
    </li>
    <li>
      <a href="/ANG/SLL">
        Convert 1 ANG to SLL...
      </a>
    </li>
    <li>
      <a href="/ANG/SOS">
        Convert 1 ANG to SOS...
      </a>
    </li>
    <li>
      <a href="/ANG/SRD">
        Convert 1 ANG to SRD...
      </a>
    </li>
    <li>
      <a href="/ANG/SSP">
        Convert 1 ANG to SSP...
      </a>
    </li>
    <li>
      <a href="/ANG/STD">
        Convert 1 ANG to STD...
      </a>
    </li>
    <li>
      <a href="/ANG/STN">
        Convert 1 ANG to STN...
      </a>
    </li>
    <li>
      <a href="/ANG/SVC">
        Convert 1 ANG to SVC...
      </a>
    </li>
    <li>
      <a href="/ANG/SYP">
        Convert 1 ANG to SYP...
      </a>
    </li>
    <li>
      <a href="/ANG/SZL">
        Convert 1 ANG to SZL...
      </a>
    </li>
    <li>
      <a href="/ANG/THB">
        Convert 1 ANG to THB...
      </a>
    </li>
    <li>
      <a href="/ANG/TJS">
        Convert 1 ANG to TJS...
      </a>
    </li>
    <li>
      <a href="/ANG/TMT">
        Convert 1 ANG to TMT...
      </a>
    </li>
    <li>
      <a href="/ANG/TND">
        Convert 1 ANG to TND...
      </a>
    </li>
    <li>
      <a href="/ANG/TOP">
        Convert 1 ANG to TOP...
      </a>
    </li>
    <li>
      <a href="/ANG/TRY">
        Convert 1 ANG to TRY...
      </a>
    </li>
    <li>
      <a href="/ANG/TTD">
        Convert 1 ANG to TTD...
      </a>
    </li>
    <li>
      <a href="/ANG/TWD">
        Convert 1 ANG to TWD...
      </a>
    </li>
    <li>
      <a href="/ANG/TZS">
        Convert 1 ANG to TZS...
      </a>
    </li>
    <li>
      <a href="/ANG/UAH">
        Convert 1 ANG to UAH...
      </a>
    </li>
    <li>
      <a href="/ANG/UGX">
        Convert 1 ANG to UGX...
      </a>
    </li>
    <li>
      <a href="/ANG/USD">
        Convert 1 ANG to USD...
      </a>
    </li>
    <li>
      <a href="/ANG/UYU">
        Convert 1 ANG to UYU...
      </a>
    </li>
    <li>
      <a href="/ANG/UZS">
        Convert 1 ANG to UZS...
      </a>
    </li>
    <li>
      <a href="/ANG/VEF">
        Convert 1 ANG to VEF...
      </a>
    </li>
    <li>
      <a href="/ANG/VES">
        Convert 1 ANG to VES...
      </a>
    </li>
    <li>
      <a href="/ANG/VND">
        Convert 1 ANG to VND...
      </a>
    </li>
    <li>
      <a href="/ANG/VUV">
        Convert 1 ANG to VUV...
      </a>
    </li>
    <li>
      <a href="/ANG/WST">
        Convert 1 ANG to WST...
      </a>
    </li>
    <li>
      <a href="/ANG/XAF">
        Convert 1 ANG to XAF...
      </a>
    </li>
    <li>
      <a href="/ANG/XAG">
        Convert 1 ANG to XAG...
      </a>
    </li>
    <li>
      <a href="/ANG/XAU">
        Convert 1 ANG to XAU...
      </a>
    </li>
    <li>
      <a href="/ANG/XCD">
        Convert 1 ANG to XCD...
      </a>
    </li>
    <li>
      <a href="/ANG/XDR">
        Convert 1 ANG to XDR...
      </a>
    </li>
    <li>
      <a href="/ANG/XOF">
        Convert 1 ANG to XOF...
      </a>
    </li>
    <li>
      <a href="/ANG/XPD">
        Convert 1 ANG to XPD...
      </a>
    </li>
    <li>
      <a href="/ANG/XPF">
        Convert 1 ANG to XPF...
      </a>
    </li>
    <li>
      <a href="/ANG/XPT">
        Convert 1 ANG to XPT...
      </a>
    </li>
    <li>
      <a href="/ANG/YER">
        Convert 1 ANG to YER...
      </a>
    </li>
    <li>
      <a href="/ANG/ZAR">
        Convert 1 ANG to ZAR...
      </a>
    </li>
    <li>
      <a href="/ANG/ZMW">
        Convert 1 ANG to ZMW...
      </a>
    </li>
    <li>
      <a href="/ANG/ZWL">
        Convert 1 ANG to ZWL...
      </a>
    </li>
</ul>
</body>
