<body>
    <h1>Convert AOA</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/AOA/AED">
        Convert 1 AOA to AED...
      </a>
    </li>
    <li>
      <a href="/AOA/AFN">
        Convert 1 AOA to AFN...
      </a>
    </li>
    <li>
      <a href="/AOA/ALL">
        Convert 1 AOA to ALL...
      </a>
    </li>
    <li>
      <a href="/AOA/AMD">
        Convert 1 AOA to AMD...
      </a>
    </li>
    <li>
      <a href="/AOA/ANG">
        Convert 1 AOA to ANG...
      </a>
    </li>
    <li>
      <a href="/AOA/AOA">
        Convert 1 AOA to AOA...
      </a>
    </li>
    <li>
      <a href="/AOA/ARS">
        Convert 1 AOA to ARS...
      </a>
    </li>
    <li>
      <a href="/AOA/AUD">
        Convert 1 AOA to AUD...
      </a>
    </li>
    <li>
      <a href="/AOA/AWG">
        Convert 1 AOA to AWG...
      </a>
    </li>
    <li>
      <a href="/AOA/AZN">
        Convert 1 AOA to AZN...
      </a>
    </li>
    <li>
      <a href="/AOA/BAM">
        Convert 1 AOA to BAM...
      </a>
    </li>
    <li>
      <a href="/AOA/BBD">
        Convert 1 AOA to BBD...
      </a>
    </li>
    <li>
      <a href="/AOA/BDT">
        Convert 1 AOA to BDT...
      </a>
    </li>
    <li>
      <a href="/AOA/BGN">
        Convert 1 AOA to BGN...
      </a>
    </li>
    <li>
      <a href="/AOA/BHD">
        Convert 1 AOA to BHD...
      </a>
    </li>
    <li>
      <a href="/AOA/BIF">
        Convert 1 AOA to BIF...
      </a>
    </li>
    <li>
      <a href="/AOA/BMD">
        Convert 1 AOA to BMD...
      </a>
    </li>
    <li>
      <a href="/AOA/BND">
        Convert 1 AOA to BND...
      </a>
    </li>
    <li>
      <a href="/AOA/BOB">
        Convert 1 AOA to BOB...
      </a>
    </li>
    <li>
      <a href="/AOA/BRL">
        Convert 1 AOA to BRL...
      </a>
    </li>
    <li>
      <a href="/AOA/BSD">
        Convert 1 AOA to BSD...
      </a>
    </li>
    <li>
      <a href="/AOA/BTC">
        Convert 1 AOA to BTC...
      </a>
    </li>
    <li>
      <a href="/AOA/BTN">
        Convert 1 AOA to BTN...
      </a>
    </li>
    <li>
      <a href="/AOA/BWP">
        Convert 1 AOA to BWP...
      </a>
    </li>
    <li>
      <a href="/AOA/BYN">
        Convert 1 AOA to BYN...
      </a>
    </li>
    <li>
      <a href="/AOA/BZD">
        Convert 1 AOA to BZD...
      </a>
    </li>
    <li>
      <a href="/AOA/CAD">
        Convert 1 AOA to CAD...
      </a>
    </li>
    <li>
      <a href="/AOA/CDF">
        Convert 1 AOA to CDF...
      </a>
    </li>
    <li>
      <a href="/AOA/CHF">
        Convert 1 AOA to CHF...
      </a>
    </li>
    <li>
      <a href="/AOA/CLF">
        Convert 1 AOA to CLF...
      </a>
    </li>
    <li>
      <a href="/AOA/CLP">
        Convert 1 AOA to CLP...
      </a>
    </li>
    <li>
      <a href="/AOA/CNH">
        Convert 1 AOA to CNH...
      </a>
    </li>
    <li>
      <a href="/AOA/CNY">
        Convert 1 AOA to CNY...
      </a>
    </li>
    <li>
      <a href="/AOA/COP">
        Convert 1 AOA to COP...
      </a>
    </li>
    <li>
      <a href="/AOA/CRC">
        Convert 1 AOA to CRC...
      </a>
    </li>
    <li>
      <a href="/AOA/CUC">
        Convert 1 AOA to CUC...
      </a>
    </li>
    <li>
      <a href="/AOA/CUP">
        Convert 1 AOA to CUP...
      </a>
    </li>
    <li>
      <a href="/AOA/CVE">
        Convert 1 AOA to CVE...
      </a>
    </li>
    <li>
      <a href="/AOA/CZK">
        Convert 1 AOA to CZK...
      </a>
    </li>
    <li>
      <a href="/AOA/DJF">
        Convert 1 AOA to DJF...
      </a>
    </li>
    <li>
      <a href="/AOA/DKK">
        Convert 1 AOA to DKK...
      </a>
    </li>
    <li>
      <a href="/AOA/DOP">
        Convert 1 AOA to DOP...
      </a>
    </li>
    <li>
      <a href="/AOA/DZD">
        Convert 1 AOA to DZD...
      </a>
    </li>
    <li>
      <a href="/AOA/EGP">
        Convert 1 AOA to EGP...
      </a>
    </li>
    <li>
      <a href="/AOA/ERN">
        Convert 1 AOA to ERN...
      </a>
    </li>
    <li>
      <a href="/AOA/ETB">
        Convert 1 AOA to ETB...
      </a>
    </li>
    <li>
      <a href="/AOA/EUR">
        Convert 1 AOA to EUR...
      </a>
    </li>
    <li>
      <a href="/AOA/FJD">
        Convert 1 AOA to FJD...
      </a>
    </li>
    <li>
      <a href="/AOA/FKP">
        Convert 1 AOA to FKP...
      </a>
    </li>
    <li>
      <a href="/AOA/GBP">
        Convert 1 AOA to GBP...
      </a>
    </li>
    <li>
      <a href="/AOA/GEL">
        Convert 1 AOA to GEL...
      </a>
    </li>
    <li>
      <a href="/AOA/GGP">
        Convert 1 AOA to GGP...
      </a>
    </li>
    <li>
      <a href="/AOA/GHS">
        Convert 1 AOA to GHS...
      </a>
    </li>
    <li>
      <a href="/AOA/GIP">
        Convert 1 AOA to GIP...
      </a>
    </li>
    <li>
      <a href="/AOA/GMD">
        Convert 1 AOA to GMD...
      </a>
    </li>
    <li>
      <a href="/AOA/GNF">
        Convert 1 AOA to GNF...
      </a>
    </li>
    <li>
      <a href="/AOA/GTQ">
        Convert 1 AOA to GTQ...
      </a>
    </li>
    <li>
      <a href="/AOA/GYD">
        Convert 1 AOA to GYD...
      </a>
    </li>
    <li>
      <a href="/AOA/HKD">
        Convert 1 AOA to HKD...
      </a>
    </li>
    <li>
      <a href="/AOA/HNL">
        Convert 1 AOA to HNL...
      </a>
    </li>
    <li>
      <a href="/AOA/HRK">
        Convert 1 AOA to HRK...
      </a>
    </li>
    <li>
      <a href="/AOA/HTG">
        Convert 1 AOA to HTG...
      </a>
    </li>
    <li>
      <a href="/AOA/HUF">
        Convert 1 AOA to HUF...
      </a>
    </li>
    <li>
      <a href="/AOA/IDR">
        Convert 1 AOA to IDR...
      </a>
    </li>
    <li>
      <a href="/AOA/ILS">
        Convert 1 AOA to ILS...
      </a>
    </li>
    <li>
      <a href="/AOA/IMP">
        Convert 1 AOA to IMP...
      </a>
    </li>
    <li>
      <a href="/AOA/INR">
        Convert 1 AOA to INR...
      </a>
    </li>
    <li>
      <a href="/AOA/IQD">
        Convert 1 AOA to IQD...
      </a>
    </li>
    <li>
      <a href="/AOA/IRR">
        Convert 1 AOA to IRR...
      </a>
    </li>
    <li>
      <a href="/AOA/ISK">
        Convert 1 AOA to ISK...
      </a>
    </li>
    <li>
      <a href="/AOA/JEP">
        Convert 1 AOA to JEP...
      </a>
    </li>
    <li>
      <a href="/AOA/JMD">
        Convert 1 AOA to JMD...
      </a>
    </li>
    <li>
      <a href="/AOA/JOD">
        Convert 1 AOA to JOD...
      </a>
    </li>
    <li>
      <a href="/AOA/JPY">
        Convert 1 AOA to JPY...
      </a>
    </li>
    <li>
      <a href="/AOA/KES">
        Convert 1 AOA to KES...
      </a>
    </li>
    <li>
      <a href="/AOA/KGS">
        Convert 1 AOA to KGS...
      </a>
    </li>
    <li>
      <a href="/AOA/KHR">
        Convert 1 AOA to KHR...
      </a>
    </li>
    <li>
      <a href="/AOA/KMF">
        Convert 1 AOA to KMF...
      </a>
    </li>
    <li>
      <a href="/AOA/KPW">
        Convert 1 AOA to KPW...
      </a>
    </li>
    <li>
      <a href="/AOA/KRW">
        Convert 1 AOA to KRW...
      </a>
    </li>
    <li>
      <a href="/AOA/KWD">
        Convert 1 AOA to KWD...
      </a>
    </li>
    <li>
      <a href="/AOA/KYD">
        Convert 1 AOA to KYD...
      </a>
    </li>
    <li>
      <a href="/AOA/KZT">
        Convert 1 AOA to KZT...
      </a>
    </li>
    <li>
      <a href="/AOA/LAK">
        Convert 1 AOA to LAK...
      </a>
    </li>
    <li>
      <a href="/AOA/LBP">
        Convert 1 AOA to LBP...
      </a>
    </li>
    <li>
      <a href="/AOA/LKR">
        Convert 1 AOA to LKR...
      </a>
    </li>
    <li>
      <a href="/AOA/LRD">
        Convert 1 AOA to LRD...
      </a>
    </li>
    <li>
      <a href="/AOA/LSL">
        Convert 1 AOA to LSL...
      </a>
    </li>
    <li>
      <a href="/AOA/LYD">
        Convert 1 AOA to LYD...
      </a>
    </li>
    <li>
      <a href="/AOA/MAD">
        Convert 1 AOA to MAD...
      </a>
    </li>
    <li>
      <a href="/AOA/MDL">
        Convert 1 AOA to MDL...
      </a>
    </li>
    <li>
      <a href="/AOA/MGA">
        Convert 1 AOA to MGA...
      </a>
    </li>
    <li>
      <a href="/AOA/MKD">
        Convert 1 AOA to MKD...
      </a>
    </li>
    <li>
      <a href="/AOA/MMK">
        Convert 1 AOA to MMK...
      </a>
    </li>
    <li>
      <a href="/AOA/MNT">
        Convert 1 AOA to MNT...
      </a>
    </li>
    <li>
      <a href="/AOA/MOP">
        Convert 1 AOA to MOP...
      </a>
    </li>
    <li>
      <a href="/AOA/MRO">
        Convert 1 AOA to MRO...
      </a>
    </li>
    <li>
      <a href="/AOA/MRU">
        Convert 1 AOA to MRU...
      </a>
    </li>
    <li>
      <a href="/AOA/MUR">
        Convert 1 AOA to MUR...
      </a>
    </li>
    <li>
      <a href="/AOA/MVR">
        Convert 1 AOA to MVR...
      </a>
    </li>
    <li>
      <a href="/AOA/MWK">
        Convert 1 AOA to MWK...
      </a>
    </li>
    <li>
      <a href="/AOA/MXN">
        Convert 1 AOA to MXN...
      </a>
    </li>
    <li>
      <a href="/AOA/MYR">
        Convert 1 AOA to MYR...
      </a>
    </li>
    <li>
      <a href="/AOA/MZN">
        Convert 1 AOA to MZN...
      </a>
    </li>
    <li>
      <a href="/AOA/NAD">
        Convert 1 AOA to NAD...
      </a>
    </li>
    <li>
      <a href="/AOA/NGN">
        Convert 1 AOA to NGN...
      </a>
    </li>
    <li>
      <a href="/AOA/NIO">
        Convert 1 AOA to NIO...
      </a>
    </li>
    <li>
      <a href="/AOA/NOK">
        Convert 1 AOA to NOK...
      </a>
    </li>
    <li>
      <a href="/AOA/NPR">
        Convert 1 AOA to NPR...
      </a>
    </li>
    <li>
      <a href="/AOA/NZD">
        Convert 1 AOA to NZD...
      </a>
    </li>
    <li>
      <a href="/AOA/OMR">
        Convert 1 AOA to OMR...
      </a>
    </li>
    <li>
      <a href="/AOA/PAB">
        Convert 1 AOA to PAB...
      </a>
    </li>
    <li>
      <a href="/AOA/PEN">
        Convert 1 AOA to PEN...
      </a>
    </li>
    <li>
      <a href="/AOA/PGK">
        Convert 1 AOA to PGK...
      </a>
    </li>
    <li>
      <a href="/AOA/PHP">
        Convert 1 AOA to PHP...
      </a>
    </li>
    <li>
      <a href="/AOA/PKR">
        Convert 1 AOA to PKR...
      </a>
    </li>
    <li>
      <a href="/AOA/PLN">
        Convert 1 AOA to PLN...
      </a>
    </li>
    <li>
      <a href="/AOA/PYG">
        Convert 1 AOA to PYG...
      </a>
    </li>
    <li>
      <a href="/AOA/QAR">
        Convert 1 AOA to QAR...
      </a>
    </li>
    <li>
      <a href="/AOA/RON">
        Convert 1 AOA to RON...
      </a>
    </li>
    <li>
      <a href="/AOA/RSD">
        Convert 1 AOA to RSD...
      </a>
    </li>
    <li>
      <a href="/AOA/RUB">
        Convert 1 AOA to RUB...
      </a>
    </li>
    <li>
      <a href="/AOA/RWF">
        Convert 1 AOA to RWF...
      </a>
    </li>
    <li>
      <a href="/AOA/SAR">
        Convert 1 AOA to SAR...
      </a>
    </li>
    <li>
      <a href="/AOA/SBD">
        Convert 1 AOA to SBD...
      </a>
    </li>
    <li>
      <a href="/AOA/SCR">
        Convert 1 AOA to SCR...
      </a>
    </li>
    <li>
      <a href="/AOA/SDG">
        Convert 1 AOA to SDG...
      </a>
    </li>
    <li>
      <a href="/AOA/SEK">
        Convert 1 AOA to SEK...
      </a>
    </li>
    <li>
      <a href="/AOA/SGD">
        Convert 1 AOA to SGD...
      </a>
    </li>
    <li>
      <a href="/AOA/SHP">
        Convert 1 AOA to SHP...
      </a>
    </li>
    <li>
      <a href="/AOA/SLL">
        Convert 1 AOA to SLL...
      </a>
    </li>
    <li>
      <a href="/AOA/SOS">
        Convert 1 AOA to SOS...
      </a>
    </li>
    <li>
      <a href="/AOA/SRD">
        Convert 1 AOA to SRD...
      </a>
    </li>
    <li>
      <a href="/AOA/SSP">
        Convert 1 AOA to SSP...
      </a>
    </li>
    <li>
      <a href="/AOA/STD">
        Convert 1 AOA to STD...
      </a>
    </li>
    <li>
      <a href="/AOA/STN">
        Convert 1 AOA to STN...
      </a>
    </li>
    <li>
      <a href="/AOA/SVC">
        Convert 1 AOA to SVC...
      </a>
    </li>
    <li>
      <a href="/AOA/SYP">
        Convert 1 AOA to SYP...
      </a>
    </li>
    <li>
      <a href="/AOA/SZL">
        Convert 1 AOA to SZL...
      </a>
    </li>
    <li>
      <a href="/AOA/THB">
        Convert 1 AOA to THB...
      </a>
    </li>
    <li>
      <a href="/AOA/TJS">
        Convert 1 AOA to TJS...
      </a>
    </li>
    <li>
      <a href="/AOA/TMT">
        Convert 1 AOA to TMT...
      </a>
    </li>
    <li>
      <a href="/AOA/TND">
        Convert 1 AOA to TND...
      </a>
    </li>
    <li>
      <a href="/AOA/TOP">
        Convert 1 AOA to TOP...
      </a>
    </li>
    <li>
      <a href="/AOA/TRY">
        Convert 1 AOA to TRY...
      </a>
    </li>
    <li>
      <a href="/AOA/TTD">
        Convert 1 AOA to TTD...
      </a>
    </li>
    <li>
      <a href="/AOA/TWD">
        Convert 1 AOA to TWD...
      </a>
    </li>
    <li>
      <a href="/AOA/TZS">
        Convert 1 AOA to TZS...
      </a>
    </li>
    <li>
      <a href="/AOA/UAH">
        Convert 1 AOA to UAH...
      </a>
    </li>
    <li>
      <a href="/AOA/UGX">
        Convert 1 AOA to UGX...
      </a>
    </li>
    <li>
      <a href="/AOA/USD">
        Convert 1 AOA to USD...
      </a>
    </li>
    <li>
      <a href="/AOA/UYU">
        Convert 1 AOA to UYU...
      </a>
    </li>
    <li>
      <a href="/AOA/UZS">
        Convert 1 AOA to UZS...
      </a>
    </li>
    <li>
      <a href="/AOA/VEF">
        Convert 1 AOA to VEF...
      </a>
    </li>
    <li>
      <a href="/AOA/VES">
        Convert 1 AOA to VES...
      </a>
    </li>
    <li>
      <a href="/AOA/VND">
        Convert 1 AOA to VND...
      </a>
    </li>
    <li>
      <a href="/AOA/VUV">
        Convert 1 AOA to VUV...
      </a>
    </li>
    <li>
      <a href="/AOA/WST">
        Convert 1 AOA to WST...
      </a>
    </li>
    <li>
      <a href="/AOA/XAF">
        Convert 1 AOA to XAF...
      </a>
    </li>
    <li>
      <a href="/AOA/XAG">
        Convert 1 AOA to XAG...
      </a>
    </li>
    <li>
      <a href="/AOA/XAU">
        Convert 1 AOA to XAU...
      </a>
    </li>
    <li>
      <a href="/AOA/XCD">
        Convert 1 AOA to XCD...
      </a>
    </li>
    <li>
      <a href="/AOA/XDR">
        Convert 1 AOA to XDR...
      </a>
    </li>
    <li>
      <a href="/AOA/XOF">
        Convert 1 AOA to XOF...
      </a>
    </li>
    <li>
      <a href="/AOA/XPD">
        Convert 1 AOA to XPD...
      </a>
    </li>
    <li>
      <a href="/AOA/XPF">
        Convert 1 AOA to XPF...
      </a>
    </li>
    <li>
      <a href="/AOA/XPT">
        Convert 1 AOA to XPT...
      </a>
    </li>
    <li>
      <a href="/AOA/YER">
        Convert 1 AOA to YER...
      </a>
    </li>
    <li>
      <a href="/AOA/ZAR">
        Convert 1 AOA to ZAR...
      </a>
    </li>
    <li>
      <a href="/AOA/ZMW">
        Convert 1 AOA to ZMW...
      </a>
    </li>
    <li>
      <a href="/AOA/ZWL">
        Convert 1 AOA to ZWL...
      </a>
    </li>
</ul>
</body>
