<body>
    <h1>Convert AWG</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/AWG/AED">
        Convert 1 AWG to AED...
      </a>
    </li>
    <li>
      <a href="/AWG/AFN">
        Convert 1 AWG to AFN...
      </a>
    </li>
    <li>
      <a href="/AWG/ALL">
        Convert 1 AWG to ALL...
      </a>
    </li>
    <li>
      <a href="/AWG/AMD">
        Convert 1 AWG to AMD...
      </a>
    </li>
    <li>
      <a href="/AWG/ANG">
        Convert 1 AWG to ANG...
      </a>
    </li>
    <li>
      <a href="/AWG/AOA">
        Convert 1 AWG to AOA...
      </a>
    </li>
    <li>
      <a href="/AWG/ARS">
        Convert 1 AWG to ARS...
      </a>
    </li>
    <li>
      <a href="/AWG/AUD">
        Convert 1 AWG to AUD...
      </a>
    </li>
    <li>
      <a href="/AWG/AWG">
        Convert 1 AWG to AWG...
      </a>
    </li>
    <li>
      <a href="/AWG/AZN">
        Convert 1 AWG to AZN...
      </a>
    </li>
    <li>
      <a href="/AWG/BAM">
        Convert 1 AWG to BAM...
      </a>
    </li>
    <li>
      <a href="/AWG/BBD">
        Convert 1 AWG to BBD...
      </a>
    </li>
    <li>
      <a href="/AWG/BDT">
        Convert 1 AWG to BDT...
      </a>
    </li>
    <li>
      <a href="/AWG/BGN">
        Convert 1 AWG to BGN...
      </a>
    </li>
    <li>
      <a href="/AWG/BHD">
        Convert 1 AWG to BHD...
      </a>
    </li>
    <li>
      <a href="/AWG/BIF">
        Convert 1 AWG to BIF...
      </a>
    </li>
    <li>
      <a href="/AWG/BMD">
        Convert 1 AWG to BMD...
      </a>
    </li>
    <li>
      <a href="/AWG/BND">
        Convert 1 AWG to BND...
      </a>
    </li>
    <li>
      <a href="/AWG/BOB">
        Convert 1 AWG to BOB...
      </a>
    </li>
    <li>
      <a href="/AWG/BRL">
        Convert 1 AWG to BRL...
      </a>
    </li>
    <li>
      <a href="/AWG/BSD">
        Convert 1 AWG to BSD...
      </a>
    </li>
    <li>
      <a href="/AWG/BTC">
        Convert 1 AWG to BTC...
      </a>
    </li>
    <li>
      <a href="/AWG/BTN">
        Convert 1 AWG to BTN...
      </a>
    </li>
    <li>
      <a href="/AWG/BWP">
        Convert 1 AWG to BWP...
      </a>
    </li>
    <li>
      <a href="/AWG/BYN">
        Convert 1 AWG to BYN...
      </a>
    </li>
    <li>
      <a href="/AWG/BZD">
        Convert 1 AWG to BZD...
      </a>
    </li>
    <li>
      <a href="/AWG/CAD">
        Convert 1 AWG to CAD...
      </a>
    </li>
    <li>
      <a href="/AWG/CDF">
        Convert 1 AWG to CDF...
      </a>
    </li>
    <li>
      <a href="/AWG/CHF">
        Convert 1 AWG to CHF...
      </a>
    </li>
    <li>
      <a href="/AWG/CLF">
        Convert 1 AWG to CLF...
      </a>
    </li>
    <li>
      <a href="/AWG/CLP">
        Convert 1 AWG to CLP...
      </a>
    </li>
    <li>
      <a href="/AWG/CNH">
        Convert 1 AWG to CNH...
      </a>
    </li>
    <li>
      <a href="/AWG/CNY">
        Convert 1 AWG to CNY...
      </a>
    </li>
    <li>
      <a href="/AWG/COP">
        Convert 1 AWG to COP...
      </a>
    </li>
    <li>
      <a href="/AWG/CRC">
        Convert 1 AWG to CRC...
      </a>
    </li>
    <li>
      <a href="/AWG/CUC">
        Convert 1 AWG to CUC...
      </a>
    </li>
    <li>
      <a href="/AWG/CUP">
        Convert 1 AWG to CUP...
      </a>
    </li>
    <li>
      <a href="/AWG/CVE">
        Convert 1 AWG to CVE...
      </a>
    </li>
    <li>
      <a href="/AWG/CZK">
        Convert 1 AWG to CZK...
      </a>
    </li>
    <li>
      <a href="/AWG/DJF">
        Convert 1 AWG to DJF...
      </a>
    </li>
    <li>
      <a href="/AWG/DKK">
        Convert 1 AWG to DKK...
      </a>
    </li>
    <li>
      <a href="/AWG/DOP">
        Convert 1 AWG to DOP...
      </a>
    </li>
    <li>
      <a href="/AWG/DZD">
        Convert 1 AWG to DZD...
      </a>
    </li>
    <li>
      <a href="/AWG/EGP">
        Convert 1 AWG to EGP...
      </a>
    </li>
    <li>
      <a href="/AWG/ERN">
        Convert 1 AWG to ERN...
      </a>
    </li>
    <li>
      <a href="/AWG/ETB">
        Convert 1 AWG to ETB...
      </a>
    </li>
    <li>
      <a href="/AWG/EUR">
        Convert 1 AWG to EUR...
      </a>
    </li>
    <li>
      <a href="/AWG/FJD">
        Convert 1 AWG to FJD...
      </a>
    </li>
    <li>
      <a href="/AWG/FKP">
        Convert 1 AWG to FKP...
      </a>
    </li>
    <li>
      <a href="/AWG/GBP">
        Convert 1 AWG to GBP...
      </a>
    </li>
    <li>
      <a href="/AWG/GEL">
        Convert 1 AWG to GEL...
      </a>
    </li>
    <li>
      <a href="/AWG/GGP">
        Convert 1 AWG to GGP...
      </a>
    </li>
    <li>
      <a href="/AWG/GHS">
        Convert 1 AWG to GHS...
      </a>
    </li>
    <li>
      <a href="/AWG/GIP">
        Convert 1 AWG to GIP...
      </a>
    </li>
    <li>
      <a href="/AWG/GMD">
        Convert 1 AWG to GMD...
      </a>
    </li>
    <li>
      <a href="/AWG/GNF">
        Convert 1 AWG to GNF...
      </a>
    </li>
    <li>
      <a href="/AWG/GTQ">
        Convert 1 AWG to GTQ...
      </a>
    </li>
    <li>
      <a href="/AWG/GYD">
        Convert 1 AWG to GYD...
      </a>
    </li>
    <li>
      <a href="/AWG/HKD">
        Convert 1 AWG to HKD...
      </a>
    </li>
    <li>
      <a href="/AWG/HNL">
        Convert 1 AWG to HNL...
      </a>
    </li>
    <li>
      <a href="/AWG/HRK">
        Convert 1 AWG to HRK...
      </a>
    </li>
    <li>
      <a href="/AWG/HTG">
        Convert 1 AWG to HTG...
      </a>
    </li>
    <li>
      <a href="/AWG/HUF">
        Convert 1 AWG to HUF...
      </a>
    </li>
    <li>
      <a href="/AWG/IDR">
        Convert 1 AWG to IDR...
      </a>
    </li>
    <li>
      <a href="/AWG/ILS">
        Convert 1 AWG to ILS...
      </a>
    </li>
    <li>
      <a href="/AWG/IMP">
        Convert 1 AWG to IMP...
      </a>
    </li>
    <li>
      <a href="/AWG/INR">
        Convert 1 AWG to INR...
      </a>
    </li>
    <li>
      <a href="/AWG/IQD">
        Convert 1 AWG to IQD...
      </a>
    </li>
    <li>
      <a href="/AWG/IRR">
        Convert 1 AWG to IRR...
      </a>
    </li>
    <li>
      <a href="/AWG/ISK">
        Convert 1 AWG to ISK...
      </a>
    </li>
    <li>
      <a href="/AWG/JEP">
        Convert 1 AWG to JEP...
      </a>
    </li>
    <li>
      <a href="/AWG/JMD">
        Convert 1 AWG to JMD...
      </a>
    </li>
    <li>
      <a href="/AWG/JOD">
        Convert 1 AWG to JOD...
      </a>
    </li>
    <li>
      <a href="/AWG/JPY">
        Convert 1 AWG to JPY...
      </a>
    </li>
    <li>
      <a href="/AWG/KES">
        Convert 1 AWG to KES...
      </a>
    </li>
    <li>
      <a href="/AWG/KGS">
        Convert 1 AWG to KGS...
      </a>
    </li>
    <li>
      <a href="/AWG/KHR">
        Convert 1 AWG to KHR...
      </a>
    </li>
    <li>
      <a href="/AWG/KMF">
        Convert 1 AWG to KMF...
      </a>
    </li>
    <li>
      <a href="/AWG/KPW">
        Convert 1 AWG to KPW...
      </a>
    </li>
    <li>
      <a href="/AWG/KRW">
        Convert 1 AWG to KRW...
      </a>
    </li>
    <li>
      <a href="/AWG/KWD">
        Convert 1 AWG to KWD...
      </a>
    </li>
    <li>
      <a href="/AWG/KYD">
        Convert 1 AWG to KYD...
      </a>
    </li>
    <li>
      <a href="/AWG/KZT">
        Convert 1 AWG to KZT...
      </a>
    </li>
    <li>
      <a href="/AWG/LAK">
        Convert 1 AWG to LAK...
      </a>
    </li>
    <li>
      <a href="/AWG/LBP">
        Convert 1 AWG to LBP...
      </a>
    </li>
    <li>
      <a href="/AWG/LKR">
        Convert 1 AWG to LKR...
      </a>
    </li>
    <li>
      <a href="/AWG/LRD">
        Convert 1 AWG to LRD...
      </a>
    </li>
    <li>
      <a href="/AWG/LSL">
        Convert 1 AWG to LSL...
      </a>
    </li>
    <li>
      <a href="/AWG/LYD">
        Convert 1 AWG to LYD...
      </a>
    </li>
    <li>
      <a href="/AWG/MAD">
        Convert 1 AWG to MAD...
      </a>
    </li>
    <li>
      <a href="/AWG/MDL">
        Convert 1 AWG to MDL...
      </a>
    </li>
    <li>
      <a href="/AWG/MGA">
        Convert 1 AWG to MGA...
      </a>
    </li>
    <li>
      <a href="/AWG/MKD">
        Convert 1 AWG to MKD...
      </a>
    </li>
    <li>
      <a href="/AWG/MMK">
        Convert 1 AWG to MMK...
      </a>
    </li>
    <li>
      <a href="/AWG/MNT">
        Convert 1 AWG to MNT...
      </a>
    </li>
    <li>
      <a href="/AWG/MOP">
        Convert 1 AWG to MOP...
      </a>
    </li>
    <li>
      <a href="/AWG/MRO">
        Convert 1 AWG to MRO...
      </a>
    </li>
    <li>
      <a href="/AWG/MRU">
        Convert 1 AWG to MRU...
      </a>
    </li>
    <li>
      <a href="/AWG/MUR">
        Convert 1 AWG to MUR...
      </a>
    </li>
    <li>
      <a href="/AWG/MVR">
        Convert 1 AWG to MVR...
      </a>
    </li>
    <li>
      <a href="/AWG/MWK">
        Convert 1 AWG to MWK...
      </a>
    </li>
    <li>
      <a href="/AWG/MXN">
        Convert 1 AWG to MXN...
      </a>
    </li>
    <li>
      <a href="/AWG/MYR">
        Convert 1 AWG to MYR...
      </a>
    </li>
    <li>
      <a href="/AWG/MZN">
        Convert 1 AWG to MZN...
      </a>
    </li>
    <li>
      <a href="/AWG/NAD">
        Convert 1 AWG to NAD...
      </a>
    </li>
    <li>
      <a href="/AWG/NGN">
        Convert 1 AWG to NGN...
      </a>
    </li>
    <li>
      <a href="/AWG/NIO">
        Convert 1 AWG to NIO...
      </a>
    </li>
    <li>
      <a href="/AWG/NOK">
        Convert 1 AWG to NOK...
      </a>
    </li>
    <li>
      <a href="/AWG/NPR">
        Convert 1 AWG to NPR...
      </a>
    </li>
    <li>
      <a href="/AWG/NZD">
        Convert 1 AWG to NZD...
      </a>
    </li>
    <li>
      <a href="/AWG/OMR">
        Convert 1 AWG to OMR...
      </a>
    </li>
    <li>
      <a href="/AWG/PAB">
        Convert 1 AWG to PAB...
      </a>
    </li>
    <li>
      <a href="/AWG/PEN">
        Convert 1 AWG to PEN...
      </a>
    </li>
    <li>
      <a href="/AWG/PGK">
        Convert 1 AWG to PGK...
      </a>
    </li>
    <li>
      <a href="/AWG/PHP">
        Convert 1 AWG to PHP...
      </a>
    </li>
    <li>
      <a href="/AWG/PKR">
        Convert 1 AWG to PKR...
      </a>
    </li>
    <li>
      <a href="/AWG/PLN">
        Convert 1 AWG to PLN...
      </a>
    </li>
    <li>
      <a href="/AWG/PYG">
        Convert 1 AWG to PYG...
      </a>
    </li>
    <li>
      <a href="/AWG/QAR">
        Convert 1 AWG to QAR...
      </a>
    </li>
    <li>
      <a href="/AWG/RON">
        Convert 1 AWG to RON...
      </a>
    </li>
    <li>
      <a href="/AWG/RSD">
        Convert 1 AWG to RSD...
      </a>
    </li>
    <li>
      <a href="/AWG/RUB">
        Convert 1 AWG to RUB...
      </a>
    </li>
    <li>
      <a href="/AWG/RWF">
        Convert 1 AWG to RWF...
      </a>
    </li>
    <li>
      <a href="/AWG/SAR">
        Convert 1 AWG to SAR...
      </a>
    </li>
    <li>
      <a href="/AWG/SBD">
        Convert 1 AWG to SBD...
      </a>
    </li>
    <li>
      <a href="/AWG/SCR">
        Convert 1 AWG to SCR...
      </a>
    </li>
    <li>
      <a href="/AWG/SDG">
        Convert 1 AWG to SDG...
      </a>
    </li>
    <li>
      <a href="/AWG/SEK">
        Convert 1 AWG to SEK...
      </a>
    </li>
    <li>
      <a href="/AWG/SGD">
        Convert 1 AWG to SGD...
      </a>
    </li>
    <li>
      <a href="/AWG/SHP">
        Convert 1 AWG to SHP...
      </a>
    </li>
    <li>
      <a href="/AWG/SLL">
        Convert 1 AWG to SLL...
      </a>
    </li>
    <li>
      <a href="/AWG/SOS">
        Convert 1 AWG to SOS...
      </a>
    </li>
    <li>
      <a href="/AWG/SRD">
        Convert 1 AWG to SRD...
      </a>
    </li>
    <li>
      <a href="/AWG/SSP">
        Convert 1 AWG to SSP...
      </a>
    </li>
    <li>
      <a href="/AWG/STD">
        Convert 1 AWG to STD...
      </a>
    </li>
    <li>
      <a href="/AWG/STN">
        Convert 1 AWG to STN...
      </a>
    </li>
    <li>
      <a href="/AWG/SVC">
        Convert 1 AWG to SVC...
      </a>
    </li>
    <li>
      <a href="/AWG/SYP">
        Convert 1 AWG to SYP...
      </a>
    </li>
    <li>
      <a href="/AWG/SZL">
        Convert 1 AWG to SZL...
      </a>
    </li>
    <li>
      <a href="/AWG/THB">
        Convert 1 AWG to THB...
      </a>
    </li>
    <li>
      <a href="/AWG/TJS">
        Convert 1 AWG to TJS...
      </a>
    </li>
    <li>
      <a href="/AWG/TMT">
        Convert 1 AWG to TMT...
      </a>
    </li>
    <li>
      <a href="/AWG/TND">
        Convert 1 AWG to TND...
      </a>
    </li>
    <li>
      <a href="/AWG/TOP">
        Convert 1 AWG to TOP...
      </a>
    </li>
    <li>
      <a href="/AWG/TRY">
        Convert 1 AWG to TRY...
      </a>
    </li>
    <li>
      <a href="/AWG/TTD">
        Convert 1 AWG to TTD...
      </a>
    </li>
    <li>
      <a href="/AWG/TWD">
        Convert 1 AWG to TWD...
      </a>
    </li>
    <li>
      <a href="/AWG/TZS">
        Convert 1 AWG to TZS...
      </a>
    </li>
    <li>
      <a href="/AWG/UAH">
        Convert 1 AWG to UAH...
      </a>
    </li>
    <li>
      <a href="/AWG/UGX">
        Convert 1 AWG to UGX...
      </a>
    </li>
    <li>
      <a href="/AWG/USD">
        Convert 1 AWG to USD...
      </a>
    </li>
    <li>
      <a href="/AWG/UYU">
        Convert 1 AWG to UYU...
      </a>
    </li>
    <li>
      <a href="/AWG/UZS">
        Convert 1 AWG to UZS...
      </a>
    </li>
    <li>
      <a href="/AWG/VEF">
        Convert 1 AWG to VEF...
      </a>
    </li>
    <li>
      <a href="/AWG/VES">
        Convert 1 AWG to VES...
      </a>
    </li>
    <li>
      <a href="/AWG/VND">
        Convert 1 AWG to VND...
      </a>
    </li>
    <li>
      <a href="/AWG/VUV">
        Convert 1 AWG to VUV...
      </a>
    </li>
    <li>
      <a href="/AWG/WST">
        Convert 1 AWG to WST...
      </a>
    </li>
    <li>
      <a href="/AWG/XAF">
        Convert 1 AWG to XAF...
      </a>
    </li>
    <li>
      <a href="/AWG/XAG">
        Convert 1 AWG to XAG...
      </a>
    </li>
    <li>
      <a href="/AWG/XAU">
        Convert 1 AWG to XAU...
      </a>
    </li>
    <li>
      <a href="/AWG/XCD">
        Convert 1 AWG to XCD...
      </a>
    </li>
    <li>
      <a href="/AWG/XDR">
        Convert 1 AWG to XDR...
      </a>
    </li>
    <li>
      <a href="/AWG/XOF">
        Convert 1 AWG to XOF...
      </a>
    </li>
    <li>
      <a href="/AWG/XPD">
        Convert 1 AWG to XPD...
      </a>
    </li>
    <li>
      <a href="/AWG/XPF">
        Convert 1 AWG to XPF...
      </a>
    </li>
    <li>
      <a href="/AWG/XPT">
        Convert 1 AWG to XPT...
      </a>
    </li>
    <li>
      <a href="/AWG/YER">
        Convert 1 AWG to YER...
      </a>
    </li>
    <li>
      <a href="/AWG/ZAR">
        Convert 1 AWG to ZAR...
      </a>
    </li>
    <li>
      <a href="/AWG/ZMW">
        Convert 1 AWG to ZMW...
      </a>
    </li>
    <li>
      <a href="/AWG/ZWL">
        Convert 1 AWG to ZWL...
      </a>
    </li>
</ul>
</body>
