<body>
    <h1>Convert BGN</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/BGN/AED">
        Convert 1 BGN to AED...
      </a>
    </li>
    <li>
      <a href="/BGN/AFN">
        Convert 1 BGN to AFN...
      </a>
    </li>
    <li>
      <a href="/BGN/ALL">
        Convert 1 BGN to ALL...
      </a>
    </li>
    <li>
      <a href="/BGN/AMD">
        Convert 1 BGN to AMD...
      </a>
    </li>
    <li>
      <a href="/BGN/ANG">
        Convert 1 BGN to ANG...
      </a>
    </li>
    <li>
      <a href="/BGN/AOA">
        Convert 1 BGN to AOA...
      </a>
    </li>
    <li>
      <a href="/BGN/ARS">
        Convert 1 BGN to ARS...
      </a>
    </li>
    <li>
      <a href="/BGN/AUD">
        Convert 1 BGN to AUD...
      </a>
    </li>
    <li>
      <a href="/BGN/AWG">
        Convert 1 BGN to AWG...
      </a>
    </li>
    <li>
      <a href="/BGN/AZN">
        Convert 1 BGN to AZN...
      </a>
    </li>
    <li>
      <a href="/BGN/BAM">
        Convert 1 BGN to BAM...
      </a>
    </li>
    <li>
      <a href="/BGN/BBD">
        Convert 1 BGN to BBD...
      </a>
    </li>
    <li>
      <a href="/BGN/BDT">
        Convert 1 BGN to BDT...
      </a>
    </li>
    <li>
      <a href="/BGN/BGN">
        Convert 1 BGN to BGN...
      </a>
    </li>
    <li>
      <a href="/BGN/BHD">
        Convert 1 BGN to BHD...
      </a>
    </li>
    <li>
      <a href="/BGN/BIF">
        Convert 1 BGN to BIF...
      </a>
    </li>
    <li>
      <a href="/BGN/BMD">
        Convert 1 BGN to BMD...
      </a>
    </li>
    <li>
      <a href="/BGN/BND">
        Convert 1 BGN to BND...
      </a>
    </li>
    <li>
      <a href="/BGN/BOB">
        Convert 1 BGN to BOB...
      </a>
    </li>
    <li>
      <a href="/BGN/BRL">
        Convert 1 BGN to BRL...
      </a>
    </li>
    <li>
      <a href="/BGN/BSD">
        Convert 1 BGN to BSD...
      </a>
    </li>
    <li>
      <a href="/BGN/BTC">
        Convert 1 BGN to BTC...
      </a>
    </li>
    <li>
      <a href="/BGN/BTN">
        Convert 1 BGN to BTN...
      </a>
    </li>
    <li>
      <a href="/BGN/BWP">
        Convert 1 BGN to BWP...
      </a>
    </li>
    <li>
      <a href="/BGN/BYN">
        Convert 1 BGN to BYN...
      </a>
    </li>
    <li>
      <a href="/BGN/BZD">
        Convert 1 BGN to BZD...
      </a>
    </li>
    <li>
      <a href="/BGN/CAD">
        Convert 1 BGN to CAD...
      </a>
    </li>
    <li>
      <a href="/BGN/CDF">
        Convert 1 BGN to CDF...
      </a>
    </li>
    <li>
      <a href="/BGN/CHF">
        Convert 1 BGN to CHF...
      </a>
    </li>
    <li>
      <a href="/BGN/CLF">
        Convert 1 BGN to CLF...
      </a>
    </li>
    <li>
      <a href="/BGN/CLP">
        Convert 1 BGN to CLP...
      </a>
    </li>
    <li>
      <a href="/BGN/CNH">
        Convert 1 BGN to CNH...
      </a>
    </li>
    <li>
      <a href="/BGN/CNY">
        Convert 1 BGN to CNY...
      </a>
    </li>
    <li>
      <a href="/BGN/COP">
        Convert 1 BGN to COP...
      </a>
    </li>
    <li>
      <a href="/BGN/CRC">
        Convert 1 BGN to CRC...
      </a>
    </li>
    <li>
      <a href="/BGN/CUC">
        Convert 1 BGN to CUC...
      </a>
    </li>
    <li>
      <a href="/BGN/CUP">
        Convert 1 BGN to CUP...
      </a>
    </li>
    <li>
      <a href="/BGN/CVE">
        Convert 1 BGN to CVE...
      </a>
    </li>
    <li>
      <a href="/BGN/CZK">
        Convert 1 BGN to CZK...
      </a>
    </li>
    <li>
      <a href="/BGN/DJF">
        Convert 1 BGN to DJF...
      </a>
    </li>
    <li>
      <a href="/BGN/DKK">
        Convert 1 BGN to DKK...
      </a>
    </li>
    <li>
      <a href="/BGN/DOP">
        Convert 1 BGN to DOP...
      </a>
    </li>
    <li>
      <a href="/BGN/DZD">
        Convert 1 BGN to DZD...
      </a>
    </li>
    <li>
      <a href="/BGN/EGP">
        Convert 1 BGN to EGP...
      </a>
    </li>
    <li>
      <a href="/BGN/ERN">
        Convert 1 BGN to ERN...
      </a>
    </li>
    <li>
      <a href="/BGN/ETB">
        Convert 1 BGN to ETB...
      </a>
    </li>
    <li>
      <a href="/BGN/EUR">
        Convert 1 BGN to EUR...
      </a>
    </li>
    <li>
      <a href="/BGN/FJD">
        Convert 1 BGN to FJD...
      </a>
    </li>
    <li>
      <a href="/BGN/FKP">
        Convert 1 BGN to FKP...
      </a>
    </li>
    <li>
      <a href="/BGN/GBP">
        Convert 1 BGN to GBP...
      </a>
    </li>
    <li>
      <a href="/BGN/GEL">
        Convert 1 BGN to GEL...
      </a>
    </li>
    <li>
      <a href="/BGN/GGP">
        Convert 1 BGN to GGP...
      </a>
    </li>
    <li>
      <a href="/BGN/GHS">
        Convert 1 BGN to GHS...
      </a>
    </li>
    <li>
      <a href="/BGN/GIP">
        Convert 1 BGN to GIP...
      </a>
    </li>
    <li>
      <a href="/BGN/GMD">
        Convert 1 BGN to GMD...
      </a>
    </li>
    <li>
      <a href="/BGN/GNF">
        Convert 1 BGN to GNF...
      </a>
    </li>
    <li>
      <a href="/BGN/GTQ">
        Convert 1 BGN to GTQ...
      </a>
    </li>
    <li>
      <a href="/BGN/GYD">
        Convert 1 BGN to GYD...
      </a>
    </li>
    <li>
      <a href="/BGN/HKD">
        Convert 1 BGN to HKD...
      </a>
    </li>
    <li>
      <a href="/BGN/HNL">
        Convert 1 BGN to HNL...
      </a>
    </li>
    <li>
      <a href="/BGN/HRK">
        Convert 1 BGN to HRK...
      </a>
    </li>
    <li>
      <a href="/BGN/HTG">
        Convert 1 BGN to HTG...
      </a>
    </li>
    <li>
      <a href="/BGN/HUF">
        Convert 1 BGN to HUF...
      </a>
    </li>
    <li>
      <a href="/BGN/IDR">
        Convert 1 BGN to IDR...
      </a>
    </li>
    <li>
      <a href="/BGN/ILS">
        Convert 1 BGN to ILS...
      </a>
    </li>
    <li>
      <a href="/BGN/IMP">
        Convert 1 BGN to IMP...
      </a>
    </li>
    <li>
      <a href="/BGN/INR">
        Convert 1 BGN to INR...
      </a>
    </li>
    <li>
      <a href="/BGN/IQD">
        Convert 1 BGN to IQD...
      </a>
    </li>
    <li>
      <a href="/BGN/IRR">
        Convert 1 BGN to IRR...
      </a>
    </li>
    <li>
      <a href="/BGN/ISK">
        Convert 1 BGN to ISK...
      </a>
    </li>
    <li>
      <a href="/BGN/JEP">
        Convert 1 BGN to JEP...
      </a>
    </li>
    <li>
      <a href="/BGN/JMD">
        Convert 1 BGN to JMD...
      </a>
    </li>
    <li>
      <a href="/BGN/JOD">
        Convert 1 BGN to JOD...
      </a>
    </li>
    <li>
      <a href="/BGN/JPY">
        Convert 1 BGN to JPY...
      </a>
    </li>
    <li>
      <a href="/BGN/KES">
        Convert 1 BGN to KES...
      </a>
    </li>
    <li>
      <a href="/BGN/KGS">
        Convert 1 BGN to KGS...
      </a>
    </li>
    <li>
      <a href="/BGN/KHR">
        Convert 1 BGN to KHR...
      </a>
    </li>
    <li>
      <a href="/BGN/KMF">
        Convert 1 BGN to KMF...
      </a>
    </li>
    <li>
      <a href="/BGN/KPW">
        Convert 1 BGN to KPW...
      </a>
    </li>
    <li>
      <a href="/BGN/KRW">
        Convert 1 BGN to KRW...
      </a>
    </li>
    <li>
      <a href="/BGN/KWD">
        Convert 1 BGN to KWD...
      </a>
    </li>
    <li>
      <a href="/BGN/KYD">
        Convert 1 BGN to KYD...
      </a>
    </li>
    <li>
      <a href="/BGN/KZT">
        Convert 1 BGN to KZT...
      </a>
    </li>
    <li>
      <a href="/BGN/LAK">
        Convert 1 BGN to LAK...
      </a>
    </li>
    <li>
      <a href="/BGN/LBP">
        Convert 1 BGN to LBP...
      </a>
    </li>
    <li>
      <a href="/BGN/LKR">
        Convert 1 BGN to LKR...
      </a>
    </li>
    <li>
      <a href="/BGN/LRD">
        Convert 1 BGN to LRD...
      </a>
    </li>
    <li>
      <a href="/BGN/LSL">
        Convert 1 BGN to LSL...
      </a>
    </li>
    <li>
      <a href="/BGN/LYD">
        Convert 1 BGN to LYD...
      </a>
    </li>
    <li>
      <a href="/BGN/MAD">
        Convert 1 BGN to MAD...
      </a>
    </li>
    <li>
      <a href="/BGN/MDL">
        Convert 1 BGN to MDL...
      </a>
    </li>
    <li>
      <a href="/BGN/MGA">
        Convert 1 BGN to MGA...
      </a>
    </li>
    <li>
      <a href="/BGN/MKD">
        Convert 1 BGN to MKD...
      </a>
    </li>
    <li>
      <a href="/BGN/MMK">
        Convert 1 BGN to MMK...
      </a>
    </li>
    <li>
      <a href="/BGN/MNT">
        Convert 1 BGN to MNT...
      </a>
    </li>
    <li>
      <a href="/BGN/MOP">
        Convert 1 BGN to MOP...
      </a>
    </li>
    <li>
      <a href="/BGN/MRO">
        Convert 1 BGN to MRO...
      </a>
    </li>
    <li>
      <a href="/BGN/MRU">
        Convert 1 BGN to MRU...
      </a>
    </li>
    <li>
      <a href="/BGN/MUR">
        Convert 1 BGN to MUR...
      </a>
    </li>
    <li>
      <a href="/BGN/MVR">
        Convert 1 BGN to MVR...
      </a>
    </li>
    <li>
      <a href="/BGN/MWK">
        Convert 1 BGN to MWK...
      </a>
    </li>
    <li>
      <a href="/BGN/MXN">
        Convert 1 BGN to MXN...
      </a>
    </li>
    <li>
      <a href="/BGN/MYR">
        Convert 1 BGN to MYR...
      </a>
    </li>
    <li>
      <a href="/BGN/MZN">
        Convert 1 BGN to MZN...
      </a>
    </li>
    <li>
      <a href="/BGN/NAD">
        Convert 1 BGN to NAD...
      </a>
    </li>
    <li>
      <a href="/BGN/NGN">
        Convert 1 BGN to NGN...
      </a>
    </li>
    <li>
      <a href="/BGN/NIO">
        Convert 1 BGN to NIO...
      </a>
    </li>
    <li>
      <a href="/BGN/NOK">
        Convert 1 BGN to NOK...
      </a>
    </li>
    <li>
      <a href="/BGN/NPR">
        Convert 1 BGN to NPR...
      </a>
    </li>
    <li>
      <a href="/BGN/NZD">
        Convert 1 BGN to NZD...
      </a>
    </li>
    <li>
      <a href="/BGN/OMR">
        Convert 1 BGN to OMR...
      </a>
    </li>
    <li>
      <a href="/BGN/PAB">
        Convert 1 BGN to PAB...
      </a>
    </li>
    <li>
      <a href="/BGN/PEN">
        Convert 1 BGN to PEN...
      </a>
    </li>
    <li>
      <a href="/BGN/PGK">
        Convert 1 BGN to PGK...
      </a>
    </li>
    <li>
      <a href="/BGN/PHP">
        Convert 1 BGN to PHP...
      </a>
    </li>
    <li>
      <a href="/BGN/PKR">
        Convert 1 BGN to PKR...
      </a>
    </li>
    <li>
      <a href="/BGN/PLN">
        Convert 1 BGN to PLN...
      </a>
    </li>
    <li>
      <a href="/BGN/PYG">
        Convert 1 BGN to PYG...
      </a>
    </li>
    <li>
      <a href="/BGN/QAR">
        Convert 1 BGN to QAR...
      </a>
    </li>
    <li>
      <a href="/BGN/RON">
        Convert 1 BGN to RON...
      </a>
    </li>
    <li>
      <a href="/BGN/RSD">
        Convert 1 BGN to RSD...
      </a>
    </li>
    <li>
      <a href="/BGN/RUB">
        Convert 1 BGN to RUB...
      </a>
    </li>
    <li>
      <a href="/BGN/RWF">
        Convert 1 BGN to RWF...
      </a>
    </li>
    <li>
      <a href="/BGN/SAR">
        Convert 1 BGN to SAR...
      </a>
    </li>
    <li>
      <a href="/BGN/SBD">
        Convert 1 BGN to SBD...
      </a>
    </li>
    <li>
      <a href="/BGN/SCR">
        Convert 1 BGN to SCR...
      </a>
    </li>
    <li>
      <a href="/BGN/SDG">
        Convert 1 BGN to SDG...
      </a>
    </li>
    <li>
      <a href="/BGN/SEK">
        Convert 1 BGN to SEK...
      </a>
    </li>
    <li>
      <a href="/BGN/SGD">
        Convert 1 BGN to SGD...
      </a>
    </li>
    <li>
      <a href="/BGN/SHP">
        Convert 1 BGN to SHP...
      </a>
    </li>
    <li>
      <a href="/BGN/SLL">
        Convert 1 BGN to SLL...
      </a>
    </li>
    <li>
      <a href="/BGN/SOS">
        Convert 1 BGN to SOS...
      </a>
    </li>
    <li>
      <a href="/BGN/SRD">
        Convert 1 BGN to SRD...
      </a>
    </li>
    <li>
      <a href="/BGN/SSP">
        Convert 1 BGN to SSP...
      </a>
    </li>
    <li>
      <a href="/BGN/STD">
        Convert 1 BGN to STD...
      </a>
    </li>
    <li>
      <a href="/BGN/STN">
        Convert 1 BGN to STN...
      </a>
    </li>
    <li>
      <a href="/BGN/SVC">
        Convert 1 BGN to SVC...
      </a>
    </li>
    <li>
      <a href="/BGN/SYP">
        Convert 1 BGN to SYP...
      </a>
    </li>
    <li>
      <a href="/BGN/SZL">
        Convert 1 BGN to SZL...
      </a>
    </li>
    <li>
      <a href="/BGN/THB">
        Convert 1 BGN to THB...
      </a>
    </li>
    <li>
      <a href="/BGN/TJS">
        Convert 1 BGN to TJS...
      </a>
    </li>
    <li>
      <a href="/BGN/TMT">
        Convert 1 BGN to TMT...
      </a>
    </li>
    <li>
      <a href="/BGN/TND">
        Convert 1 BGN to TND...
      </a>
    </li>
    <li>
      <a href="/BGN/TOP">
        Convert 1 BGN to TOP...
      </a>
    </li>
    <li>
      <a href="/BGN/TRY">
        Convert 1 BGN to TRY...
      </a>
    </li>
    <li>
      <a href="/BGN/TTD">
        Convert 1 BGN to TTD...
      </a>
    </li>
    <li>
      <a href="/BGN/TWD">
        Convert 1 BGN to TWD...
      </a>
    </li>
    <li>
      <a href="/BGN/TZS">
        Convert 1 BGN to TZS...
      </a>
    </li>
    <li>
      <a href="/BGN/UAH">
        Convert 1 BGN to UAH...
      </a>
    </li>
    <li>
      <a href="/BGN/UGX">
        Convert 1 BGN to UGX...
      </a>
    </li>
    <li>
      <a href="/BGN/USD">
        Convert 1 BGN to USD...
      </a>
    </li>
    <li>
      <a href="/BGN/UYU">
        Convert 1 BGN to UYU...
      </a>
    </li>
    <li>
      <a href="/BGN/UZS">
        Convert 1 BGN to UZS...
      </a>
    </li>
    <li>
      <a href="/BGN/VEF">
        Convert 1 BGN to VEF...
      </a>
    </li>
    <li>
      <a href="/BGN/VES">
        Convert 1 BGN to VES...
      </a>
    </li>
    <li>
      <a href="/BGN/VND">
        Convert 1 BGN to VND...
      </a>
    </li>
    <li>
      <a href="/BGN/VUV">
        Convert 1 BGN to VUV...
      </a>
    </li>
    <li>
      <a href="/BGN/WST">
        Convert 1 BGN to WST...
      </a>
    </li>
    <li>
      <a href="/BGN/XAF">
        Convert 1 BGN to XAF...
      </a>
    </li>
    <li>
      <a href="/BGN/XAG">
        Convert 1 BGN to XAG...
      </a>
    </li>
    <li>
      <a href="/BGN/XAU">
        Convert 1 BGN to XAU...
      </a>
    </li>
    <li>
      <a href="/BGN/XCD">
        Convert 1 BGN to XCD...
      </a>
    </li>
    <li>
      <a href="/BGN/XDR">
        Convert 1 BGN to XDR...
      </a>
    </li>
    <li>
      <a href="/BGN/XOF">
        Convert 1 BGN to XOF...
      </a>
    </li>
    <li>
      <a href="/BGN/XPD">
        Convert 1 BGN to XPD...
      </a>
    </li>
    <li>
      <a href="/BGN/XPF">
        Convert 1 BGN to XPF...
      </a>
    </li>
    <li>
      <a href="/BGN/XPT">
        Convert 1 BGN to XPT...
      </a>
    </li>
    <li>
      <a href="/BGN/YER">
        Convert 1 BGN to YER...
      </a>
    </li>
    <li>
      <a href="/BGN/ZAR">
        Convert 1 BGN to ZAR...
      </a>
    </li>
    <li>
      <a href="/BGN/ZMW">
        Convert 1 BGN to ZMW...
      </a>
    </li>
    <li>
      <a href="/BGN/ZWL">
        Convert 1 BGN to ZWL...
      </a>
    </li>
</ul>
</body>
