<body>
    <h1>Convert BIF</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/BIF/AED">
        Convert 1 BIF to AED...
      </a>
    </li>
    <li>
      <a href="/BIF/AFN">
        Convert 1 BIF to AFN...
      </a>
    </li>
    <li>
      <a href="/BIF/ALL">
        Convert 1 BIF to ALL...
      </a>
    </li>
    <li>
      <a href="/BIF/AMD">
        Convert 1 BIF to AMD...
      </a>
    </li>
    <li>
      <a href="/BIF/ANG">
        Convert 1 BIF to ANG...
      </a>
    </li>
    <li>
      <a href="/BIF/AOA">
        Convert 1 BIF to AOA...
      </a>
    </li>
    <li>
      <a href="/BIF/ARS">
        Convert 1 BIF to ARS...
      </a>
    </li>
    <li>
      <a href="/BIF/AUD">
        Convert 1 BIF to AUD...
      </a>
    </li>
    <li>
      <a href="/BIF/AWG">
        Convert 1 BIF to AWG...
      </a>
    </li>
    <li>
      <a href="/BIF/AZN">
        Convert 1 BIF to AZN...
      </a>
    </li>
    <li>
      <a href="/BIF/BAM">
        Convert 1 BIF to BAM...
      </a>
    </li>
    <li>
      <a href="/BIF/BBD">
        Convert 1 BIF to BBD...
      </a>
    </li>
    <li>
      <a href="/BIF/BDT">
        Convert 1 BIF to BDT...
      </a>
    </li>
    <li>
      <a href="/BIF/BGN">
        Convert 1 BIF to BGN...
      </a>
    </li>
    <li>
      <a href="/BIF/BHD">
        Convert 1 BIF to BHD...
      </a>
    </li>
    <li>
      <a href="/BIF/BIF">
        Convert 1 BIF to BIF...
      </a>
    </li>
    <li>
      <a href="/BIF/BMD">
        Convert 1 BIF to BMD...
      </a>
    </li>
    <li>
      <a href="/BIF/BND">
        Convert 1 BIF to BND...
      </a>
    </li>
    <li>
      <a href="/BIF/BOB">
        Convert 1 BIF to BOB...
      </a>
    </li>
    <li>
      <a href="/BIF/BRL">
        Convert 1 BIF to BRL...
      </a>
    </li>
    <li>
      <a href="/BIF/BSD">
        Convert 1 BIF to BSD...
      </a>
    </li>
    <li>
      <a href="/BIF/BTC">
        Convert 1 BIF to BTC...
      </a>
    </li>
    <li>
      <a href="/BIF/BTN">
        Convert 1 BIF to BTN...
      </a>
    </li>
    <li>
      <a href="/BIF/BWP">
        Convert 1 BIF to BWP...
      </a>
    </li>
    <li>
      <a href="/BIF/BYN">
        Convert 1 BIF to BYN...
      </a>
    </li>
    <li>
      <a href="/BIF/BZD">
        Convert 1 BIF to BZD...
      </a>
    </li>
    <li>
      <a href="/BIF/CAD">
        Convert 1 BIF to CAD...
      </a>
    </li>
    <li>
      <a href="/BIF/CDF">
        Convert 1 BIF to CDF...
      </a>
    </li>
    <li>
      <a href="/BIF/CHF">
        Convert 1 BIF to CHF...
      </a>
    </li>
    <li>
      <a href="/BIF/CLF">
        Convert 1 BIF to CLF...
      </a>
    </li>
    <li>
      <a href="/BIF/CLP">
        Convert 1 BIF to CLP...
      </a>
    </li>
    <li>
      <a href="/BIF/CNH">
        Convert 1 BIF to CNH...
      </a>
    </li>
    <li>
      <a href="/BIF/CNY">
        Convert 1 BIF to CNY...
      </a>
    </li>
    <li>
      <a href="/BIF/COP">
        Convert 1 BIF to COP...
      </a>
    </li>
    <li>
      <a href="/BIF/CRC">
        Convert 1 BIF to CRC...
      </a>
    </li>
    <li>
      <a href="/BIF/CUC">
        Convert 1 BIF to CUC...
      </a>
    </li>
    <li>
      <a href="/BIF/CUP">
        Convert 1 BIF to CUP...
      </a>
    </li>
    <li>
      <a href="/BIF/CVE">
        Convert 1 BIF to CVE...
      </a>
    </li>
    <li>
      <a href="/BIF/CZK">
        Convert 1 BIF to CZK...
      </a>
    </li>
    <li>
      <a href="/BIF/DJF">
        Convert 1 BIF to DJF...
      </a>
    </li>
    <li>
      <a href="/BIF/DKK">
        Convert 1 BIF to DKK...
      </a>
    </li>
    <li>
      <a href="/BIF/DOP">
        Convert 1 BIF to DOP...
      </a>
    </li>
    <li>
      <a href="/BIF/DZD">
        Convert 1 BIF to DZD...
      </a>
    </li>
    <li>
      <a href="/BIF/EGP">
        Convert 1 BIF to EGP...
      </a>
    </li>
    <li>
      <a href="/BIF/ERN">
        Convert 1 BIF to ERN...
      </a>
    </li>
    <li>
      <a href="/BIF/ETB">
        Convert 1 BIF to ETB...
      </a>
    </li>
    <li>
      <a href="/BIF/EUR">
        Convert 1 BIF to EUR...
      </a>
    </li>
    <li>
      <a href="/BIF/FJD">
        Convert 1 BIF to FJD...
      </a>
    </li>
    <li>
      <a href="/BIF/FKP">
        Convert 1 BIF to FKP...
      </a>
    </li>
    <li>
      <a href="/BIF/GBP">
        Convert 1 BIF to GBP...
      </a>
    </li>
    <li>
      <a href="/BIF/GEL">
        Convert 1 BIF to GEL...
      </a>
    </li>
    <li>
      <a href="/BIF/GGP">
        Convert 1 BIF to GGP...
      </a>
    </li>
    <li>
      <a href="/BIF/GHS">
        Convert 1 BIF to GHS...
      </a>
    </li>
    <li>
      <a href="/BIF/GIP">
        Convert 1 BIF to GIP...
      </a>
    </li>
    <li>
      <a href="/BIF/GMD">
        Convert 1 BIF to GMD...
      </a>
    </li>
    <li>
      <a href="/BIF/GNF">
        Convert 1 BIF to GNF...
      </a>
    </li>
    <li>
      <a href="/BIF/GTQ">
        Convert 1 BIF to GTQ...
      </a>
    </li>
    <li>
      <a href="/BIF/GYD">
        Convert 1 BIF to GYD...
      </a>
    </li>
    <li>
      <a href="/BIF/HKD">
        Convert 1 BIF to HKD...
      </a>
    </li>
    <li>
      <a href="/BIF/HNL">
        Convert 1 BIF to HNL...
      </a>
    </li>
    <li>
      <a href="/BIF/HRK">
        Convert 1 BIF to HRK...
      </a>
    </li>
    <li>
      <a href="/BIF/HTG">
        Convert 1 BIF to HTG...
      </a>
    </li>
    <li>
      <a href="/BIF/HUF">
        Convert 1 BIF to HUF...
      </a>
    </li>
    <li>
      <a href="/BIF/IDR">
        Convert 1 BIF to IDR...
      </a>
    </li>
    <li>
      <a href="/BIF/ILS">
        Convert 1 BIF to ILS...
      </a>
    </li>
    <li>
      <a href="/BIF/IMP">
        Convert 1 BIF to IMP...
      </a>
    </li>
    <li>
      <a href="/BIF/INR">
        Convert 1 BIF to INR...
      </a>
    </li>
    <li>
      <a href="/BIF/IQD">
        Convert 1 BIF to IQD...
      </a>
    </li>
    <li>
      <a href="/BIF/IRR">
        Convert 1 BIF to IRR...
      </a>
    </li>
    <li>
      <a href="/BIF/ISK">
        Convert 1 BIF to ISK...
      </a>
    </li>
    <li>
      <a href="/BIF/JEP">
        Convert 1 BIF to JEP...
      </a>
    </li>
    <li>
      <a href="/BIF/JMD">
        Convert 1 BIF to JMD...
      </a>
    </li>
    <li>
      <a href="/BIF/JOD">
        Convert 1 BIF to JOD...
      </a>
    </li>
    <li>
      <a href="/BIF/JPY">
        Convert 1 BIF to JPY...
      </a>
    </li>
    <li>
      <a href="/BIF/KES">
        Convert 1 BIF to KES...
      </a>
    </li>
    <li>
      <a href="/BIF/KGS">
        Convert 1 BIF to KGS...
      </a>
    </li>
    <li>
      <a href="/BIF/KHR">
        Convert 1 BIF to KHR...
      </a>
    </li>
    <li>
      <a href="/BIF/KMF">
        Convert 1 BIF to KMF...
      </a>
    </li>
    <li>
      <a href="/BIF/KPW">
        Convert 1 BIF to KPW...
      </a>
    </li>
    <li>
      <a href="/BIF/KRW">
        Convert 1 BIF to KRW...
      </a>
    </li>
    <li>
      <a href="/BIF/KWD">
        Convert 1 BIF to KWD...
      </a>
    </li>
    <li>
      <a href="/BIF/KYD">
        Convert 1 BIF to KYD...
      </a>
    </li>
    <li>
      <a href="/BIF/KZT">
        Convert 1 BIF to KZT...
      </a>
    </li>
    <li>
      <a href="/BIF/LAK">
        Convert 1 BIF to LAK...
      </a>
    </li>
    <li>
      <a href="/BIF/LBP">
        Convert 1 BIF to LBP...
      </a>
    </li>
    <li>
      <a href="/BIF/LKR">
        Convert 1 BIF to LKR...
      </a>
    </li>
    <li>
      <a href="/BIF/LRD">
        Convert 1 BIF to LRD...
      </a>
    </li>
    <li>
      <a href="/BIF/LSL">
        Convert 1 BIF to LSL...
      </a>
    </li>
    <li>
      <a href="/BIF/LYD">
        Convert 1 BIF to LYD...
      </a>
    </li>
    <li>
      <a href="/BIF/MAD">
        Convert 1 BIF to MAD...
      </a>
    </li>
    <li>
      <a href="/BIF/MDL">
        Convert 1 BIF to MDL...
      </a>
    </li>
    <li>
      <a href="/BIF/MGA">
        Convert 1 BIF to MGA...
      </a>
    </li>
    <li>
      <a href="/BIF/MKD">
        Convert 1 BIF to MKD...
      </a>
    </li>
    <li>
      <a href="/BIF/MMK">
        Convert 1 BIF to MMK...
      </a>
    </li>
    <li>
      <a href="/BIF/MNT">
        Convert 1 BIF to MNT...
      </a>
    </li>
    <li>
      <a href="/BIF/MOP">
        Convert 1 BIF to MOP...
      </a>
    </li>
    <li>
      <a href="/BIF/MRO">
        Convert 1 BIF to MRO...
      </a>
    </li>
    <li>
      <a href="/BIF/MRU">
        Convert 1 BIF to MRU...
      </a>
    </li>
    <li>
      <a href="/BIF/MUR">
        Convert 1 BIF to MUR...
      </a>
    </li>
    <li>
      <a href="/BIF/MVR">
        Convert 1 BIF to MVR...
      </a>
    </li>
    <li>
      <a href="/BIF/MWK">
        Convert 1 BIF to MWK...
      </a>
    </li>
    <li>
      <a href="/BIF/MXN">
        Convert 1 BIF to MXN...
      </a>
    </li>
    <li>
      <a href="/BIF/MYR">
        Convert 1 BIF to MYR...
      </a>
    </li>
    <li>
      <a href="/BIF/MZN">
        Convert 1 BIF to MZN...
      </a>
    </li>
    <li>
      <a href="/BIF/NAD">
        Convert 1 BIF to NAD...
      </a>
    </li>
    <li>
      <a href="/BIF/NGN">
        Convert 1 BIF to NGN...
      </a>
    </li>
    <li>
      <a href="/BIF/NIO">
        Convert 1 BIF to NIO...
      </a>
    </li>
    <li>
      <a href="/BIF/NOK">
        Convert 1 BIF to NOK...
      </a>
    </li>
    <li>
      <a href="/BIF/NPR">
        Convert 1 BIF to NPR...
      </a>
    </li>
    <li>
      <a href="/BIF/NZD">
        Convert 1 BIF to NZD...
      </a>
    </li>
    <li>
      <a href="/BIF/OMR">
        Convert 1 BIF to OMR...
      </a>
    </li>
    <li>
      <a href="/BIF/PAB">
        Convert 1 BIF to PAB...
      </a>
    </li>
    <li>
      <a href="/BIF/PEN">
        Convert 1 BIF to PEN...
      </a>
    </li>
    <li>
      <a href="/BIF/PGK">
        Convert 1 BIF to PGK...
      </a>
    </li>
    <li>
      <a href="/BIF/PHP">
        Convert 1 BIF to PHP...
      </a>
    </li>
    <li>
      <a href="/BIF/PKR">
        Convert 1 BIF to PKR...
      </a>
    </li>
    <li>
      <a href="/BIF/PLN">
        Convert 1 BIF to PLN...
      </a>
    </li>
    <li>
      <a href="/BIF/PYG">
        Convert 1 BIF to PYG...
      </a>
    </li>
    <li>
      <a href="/BIF/QAR">
        Convert 1 BIF to QAR...
      </a>
    </li>
    <li>
      <a href="/BIF/RON">
        Convert 1 BIF to RON...
      </a>
    </li>
    <li>
      <a href="/BIF/RSD">
        Convert 1 BIF to RSD...
      </a>
    </li>
    <li>
      <a href="/BIF/RUB">
        Convert 1 BIF to RUB...
      </a>
    </li>
    <li>
      <a href="/BIF/RWF">
        Convert 1 BIF to RWF...
      </a>
    </li>
    <li>
      <a href="/BIF/SAR">
        Convert 1 BIF to SAR...
      </a>
    </li>
    <li>
      <a href="/BIF/SBD">
        Convert 1 BIF to SBD...
      </a>
    </li>
    <li>
      <a href="/BIF/SCR">
        Convert 1 BIF to SCR...
      </a>
    </li>
    <li>
      <a href="/BIF/SDG">
        Convert 1 BIF to SDG...
      </a>
    </li>
    <li>
      <a href="/BIF/SEK">
        Convert 1 BIF to SEK...
      </a>
    </li>
    <li>
      <a href="/BIF/SGD">
        Convert 1 BIF to SGD...
      </a>
    </li>
    <li>
      <a href="/BIF/SHP">
        Convert 1 BIF to SHP...
      </a>
    </li>
    <li>
      <a href="/BIF/SLL">
        Convert 1 BIF to SLL...
      </a>
    </li>
    <li>
      <a href="/BIF/SOS">
        Convert 1 BIF to SOS...
      </a>
    </li>
    <li>
      <a href="/BIF/SRD">
        Convert 1 BIF to SRD...
      </a>
    </li>
    <li>
      <a href="/BIF/SSP">
        Convert 1 BIF to SSP...
      </a>
    </li>
    <li>
      <a href="/BIF/STD">
        Convert 1 BIF to STD...
      </a>
    </li>
    <li>
      <a href="/BIF/STN">
        Convert 1 BIF to STN...
      </a>
    </li>
    <li>
      <a href="/BIF/SVC">
        Convert 1 BIF to SVC...
      </a>
    </li>
    <li>
      <a href="/BIF/SYP">
        Convert 1 BIF to SYP...
      </a>
    </li>
    <li>
      <a href="/BIF/SZL">
        Convert 1 BIF to SZL...
      </a>
    </li>
    <li>
      <a href="/BIF/THB">
        Convert 1 BIF to THB...
      </a>
    </li>
    <li>
      <a href="/BIF/TJS">
        Convert 1 BIF to TJS...
      </a>
    </li>
    <li>
      <a href="/BIF/TMT">
        Convert 1 BIF to TMT...
      </a>
    </li>
    <li>
      <a href="/BIF/TND">
        Convert 1 BIF to TND...
      </a>
    </li>
    <li>
      <a href="/BIF/TOP">
        Convert 1 BIF to TOP...
      </a>
    </li>
    <li>
      <a href="/BIF/TRY">
        Convert 1 BIF to TRY...
      </a>
    </li>
    <li>
      <a href="/BIF/TTD">
        Convert 1 BIF to TTD...
      </a>
    </li>
    <li>
      <a href="/BIF/TWD">
        Convert 1 BIF to TWD...
      </a>
    </li>
    <li>
      <a href="/BIF/TZS">
        Convert 1 BIF to TZS...
      </a>
    </li>
    <li>
      <a href="/BIF/UAH">
        Convert 1 BIF to UAH...
      </a>
    </li>
    <li>
      <a href="/BIF/UGX">
        Convert 1 BIF to UGX...
      </a>
    </li>
    <li>
      <a href="/BIF/USD">
        Convert 1 BIF to USD...
      </a>
    </li>
    <li>
      <a href="/BIF/UYU">
        Convert 1 BIF to UYU...
      </a>
    </li>
    <li>
      <a href="/BIF/UZS">
        Convert 1 BIF to UZS...
      </a>
    </li>
    <li>
      <a href="/BIF/VEF">
        Convert 1 BIF to VEF...
      </a>
    </li>
    <li>
      <a href="/BIF/VES">
        Convert 1 BIF to VES...
      </a>
    </li>
    <li>
      <a href="/BIF/VND">
        Convert 1 BIF to VND...
      </a>
    </li>
    <li>
      <a href="/BIF/VUV">
        Convert 1 BIF to VUV...
      </a>
    </li>
    <li>
      <a href="/BIF/WST">
        Convert 1 BIF to WST...
      </a>
    </li>
    <li>
      <a href="/BIF/XAF">
        Convert 1 BIF to XAF...
      </a>
    </li>
    <li>
      <a href="/BIF/XAG">
        Convert 1 BIF to XAG...
      </a>
    </li>
    <li>
      <a href="/BIF/XAU">
        Convert 1 BIF to XAU...
      </a>
    </li>
    <li>
      <a href="/BIF/XCD">
        Convert 1 BIF to XCD...
      </a>
    </li>
    <li>
      <a href="/BIF/XDR">
        Convert 1 BIF to XDR...
      </a>
    </li>
    <li>
      <a href="/BIF/XOF">
        Convert 1 BIF to XOF...
      </a>
    </li>
    <li>
      <a href="/BIF/XPD">
        Convert 1 BIF to XPD...
      </a>
    </li>
    <li>
      <a href="/BIF/XPF">
        Convert 1 BIF to XPF...
      </a>
    </li>
    <li>
      <a href="/BIF/XPT">
        Convert 1 BIF to XPT...
      </a>
    </li>
    <li>
      <a href="/BIF/YER">
        Convert 1 BIF to YER...
      </a>
    </li>
    <li>
      <a href="/BIF/ZAR">
        Convert 1 BIF to ZAR...
      </a>
    </li>
    <li>
      <a href="/BIF/ZMW">
        Convert 1 BIF to ZMW...
      </a>
    </li>
    <li>
      <a href="/BIF/ZWL">
        Convert 1 BIF to ZWL...
      </a>
    </li>
</ul>
</body>
