<body>
    <h1>Convert BYN</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/BYN/AED">
        Convert 1 BYN to AED...
      </a>
    </li>
    <li>
      <a href="/BYN/AFN">
        Convert 1 BYN to AFN...
      </a>
    </li>
    <li>
      <a href="/BYN/ALL">
        Convert 1 BYN to ALL...
      </a>
    </li>
    <li>
      <a href="/BYN/AMD">
        Convert 1 BYN to AMD...
      </a>
    </li>
    <li>
      <a href="/BYN/ANG">
        Convert 1 BYN to ANG...
      </a>
    </li>
    <li>
      <a href="/BYN/AOA">
        Convert 1 BYN to AOA...
      </a>
    </li>
    <li>
      <a href="/BYN/ARS">
        Convert 1 BYN to ARS...
      </a>
    </li>
    <li>
      <a href="/BYN/AUD">
        Convert 1 BYN to AUD...
      </a>
    </li>
    <li>
      <a href="/BYN/AWG">
        Convert 1 BYN to AWG...
      </a>
    </li>
    <li>
      <a href="/BYN/AZN">
        Convert 1 BYN to AZN...
      </a>
    </li>
    <li>
      <a href="/BYN/BAM">
        Convert 1 BYN to BAM...
      </a>
    </li>
    <li>
      <a href="/BYN/BBD">
        Convert 1 BYN to BBD...
      </a>
    </li>
    <li>
      <a href="/BYN/BDT">
        Convert 1 BYN to BDT...
      </a>
    </li>
    <li>
      <a href="/BYN/BGN">
        Convert 1 BYN to BGN...
      </a>
    </li>
    <li>
      <a href="/BYN/BHD">
        Convert 1 BYN to BHD...
      </a>
    </li>
    <li>
      <a href="/BYN/BIF">
        Convert 1 BYN to BIF...
      </a>
    </li>
    <li>
      <a href="/BYN/BMD">
        Convert 1 BYN to BMD...
      </a>
    </li>
    <li>
      <a href="/BYN/BND">
        Convert 1 BYN to BND...
      </a>
    </li>
    <li>
      <a href="/BYN/BOB">
        Convert 1 BYN to BOB...
      </a>
    </li>
    <li>
      <a href="/BYN/BRL">
        Convert 1 BYN to BRL...
      </a>
    </li>
    <li>
      <a href="/BYN/BSD">
        Convert 1 BYN to BSD...
      </a>
    </li>
    <li>
      <a href="/BYN/BTC">
        Convert 1 BYN to BTC...
      </a>
    </li>
    <li>
      <a href="/BYN/BTN">
        Convert 1 BYN to BTN...
      </a>
    </li>
    <li>
      <a href="/BYN/BWP">
        Convert 1 BYN to BWP...
      </a>
    </li>
    <li>
      <a href="/BYN/BYN">
        Convert 1 BYN to BYN...
      </a>
    </li>
    <li>
      <a href="/BYN/BZD">
        Convert 1 BYN to BZD...
      </a>
    </li>
    <li>
      <a href="/BYN/CAD">
        Convert 1 BYN to CAD...
      </a>
    </li>
    <li>
      <a href="/BYN/CDF">
        Convert 1 BYN to CDF...
      </a>
    </li>
    <li>
      <a href="/BYN/CHF">
        Convert 1 BYN to CHF...
      </a>
    </li>
    <li>
      <a href="/BYN/CLF">
        Convert 1 BYN to CLF...
      </a>
    </li>
    <li>
      <a href="/BYN/CLP">
        Convert 1 BYN to CLP...
      </a>
    </li>
    <li>
      <a href="/BYN/CNH">
        Convert 1 BYN to CNH...
      </a>
    </li>
    <li>
      <a href="/BYN/CNY">
        Convert 1 BYN to CNY...
      </a>
    </li>
    <li>
      <a href="/BYN/COP">
        Convert 1 BYN to COP...
      </a>
    </li>
    <li>
      <a href="/BYN/CRC">
        Convert 1 BYN to CRC...
      </a>
    </li>
    <li>
      <a href="/BYN/CUC">
        Convert 1 BYN to CUC...
      </a>
    </li>
    <li>
      <a href="/BYN/CUP">
        Convert 1 BYN to CUP...
      </a>
    </li>
    <li>
      <a href="/BYN/CVE">
        Convert 1 BYN to CVE...
      </a>
    </li>
    <li>
      <a href="/BYN/CZK">
        Convert 1 BYN to CZK...
      </a>
    </li>
    <li>
      <a href="/BYN/DJF">
        Convert 1 BYN to DJF...
      </a>
    </li>
    <li>
      <a href="/BYN/DKK">
        Convert 1 BYN to DKK...
      </a>
    </li>
    <li>
      <a href="/BYN/DOP">
        Convert 1 BYN to DOP...
      </a>
    </li>
    <li>
      <a href="/BYN/DZD">
        Convert 1 BYN to DZD...
      </a>
    </li>
    <li>
      <a href="/BYN/EGP">
        Convert 1 BYN to EGP...
      </a>
    </li>
    <li>
      <a href="/BYN/ERN">
        Convert 1 BYN to ERN...
      </a>
    </li>
    <li>
      <a href="/BYN/ETB">
        Convert 1 BYN to ETB...
      </a>
    </li>
    <li>
      <a href="/BYN/EUR">
        Convert 1 BYN to EUR...
      </a>
    </li>
    <li>
      <a href="/BYN/FJD">
        Convert 1 BYN to FJD...
      </a>
    </li>
    <li>
      <a href="/BYN/FKP">
        Convert 1 BYN to FKP...
      </a>
    </li>
    <li>
      <a href="/BYN/GBP">
        Convert 1 BYN to GBP...
      </a>
    </li>
    <li>
      <a href="/BYN/GEL">
        Convert 1 BYN to GEL...
      </a>
    </li>
    <li>
      <a href="/BYN/GGP">
        Convert 1 BYN to GGP...
      </a>
    </li>
    <li>
      <a href="/BYN/GHS">
        Convert 1 BYN to GHS...
      </a>
    </li>
    <li>
      <a href="/BYN/GIP">
        Convert 1 BYN to GIP...
      </a>
    </li>
    <li>
      <a href="/BYN/GMD">
        Convert 1 BYN to GMD...
      </a>
    </li>
    <li>
      <a href="/BYN/GNF">
        Convert 1 BYN to GNF...
      </a>
    </li>
    <li>
      <a href="/BYN/GTQ">
        Convert 1 BYN to GTQ...
      </a>
    </li>
    <li>
      <a href="/BYN/GYD">
        Convert 1 BYN to GYD...
      </a>
    </li>
    <li>
      <a href="/BYN/HKD">
        Convert 1 BYN to HKD...
      </a>
    </li>
    <li>
      <a href="/BYN/HNL">
        Convert 1 BYN to HNL...
      </a>
    </li>
    <li>
      <a href="/BYN/HRK">
        Convert 1 BYN to HRK...
      </a>
    </li>
    <li>
      <a href="/BYN/HTG">
        Convert 1 BYN to HTG...
      </a>
    </li>
    <li>
      <a href="/BYN/HUF">
        Convert 1 BYN to HUF...
      </a>
    </li>
    <li>
      <a href="/BYN/IDR">
        Convert 1 BYN to IDR...
      </a>
    </li>
    <li>
      <a href="/BYN/ILS">
        Convert 1 BYN to ILS...
      </a>
    </li>
    <li>
      <a href="/BYN/IMP">
        Convert 1 BYN to IMP...
      </a>
    </li>
    <li>
      <a href="/BYN/INR">
        Convert 1 BYN to INR...
      </a>
    </li>
    <li>
      <a href="/BYN/IQD">
        Convert 1 BYN to IQD...
      </a>
    </li>
    <li>
      <a href="/BYN/IRR">
        Convert 1 BYN to IRR...
      </a>
    </li>
    <li>
      <a href="/BYN/ISK">
        Convert 1 BYN to ISK...
      </a>
    </li>
    <li>
      <a href="/BYN/JEP">
        Convert 1 BYN to JEP...
      </a>
    </li>
    <li>
      <a href="/BYN/JMD">
        Convert 1 BYN to JMD...
      </a>
    </li>
    <li>
      <a href="/BYN/JOD">
        Convert 1 BYN to JOD...
      </a>
    </li>
    <li>
      <a href="/BYN/JPY">
        Convert 1 BYN to JPY...
      </a>
    </li>
    <li>
      <a href="/BYN/KES">
        Convert 1 BYN to KES...
      </a>
    </li>
    <li>
      <a href="/BYN/KGS">
        Convert 1 BYN to KGS...
      </a>
    </li>
    <li>
      <a href="/BYN/KHR">
        Convert 1 BYN to KHR...
      </a>
    </li>
    <li>
      <a href="/BYN/KMF">
        Convert 1 BYN to KMF...
      </a>
    </li>
    <li>
      <a href="/BYN/KPW">
        Convert 1 BYN to KPW...
      </a>
    </li>
    <li>
      <a href="/BYN/KRW">
        Convert 1 BYN to KRW...
      </a>
    </li>
    <li>
      <a href="/BYN/KWD">
        Convert 1 BYN to KWD...
      </a>
    </li>
    <li>
      <a href="/BYN/KYD">
        Convert 1 BYN to KYD...
      </a>
    </li>
    <li>
      <a href="/BYN/KZT">
        Convert 1 BYN to KZT...
      </a>
    </li>
    <li>
      <a href="/BYN/LAK">
        Convert 1 BYN to LAK...
      </a>
    </li>
    <li>
      <a href="/BYN/LBP">
        Convert 1 BYN to LBP...
      </a>
    </li>
    <li>
      <a href="/BYN/LKR">
        Convert 1 BYN to LKR...
      </a>
    </li>
    <li>
      <a href="/BYN/LRD">
        Convert 1 BYN to LRD...
      </a>
    </li>
    <li>
      <a href="/BYN/LSL">
        Convert 1 BYN to LSL...
      </a>
    </li>
    <li>
      <a href="/BYN/LYD">
        Convert 1 BYN to LYD...
      </a>
    </li>
    <li>
      <a href="/BYN/MAD">
        Convert 1 BYN to MAD...
      </a>
    </li>
    <li>
      <a href="/BYN/MDL">
        Convert 1 BYN to MDL...
      </a>
    </li>
    <li>
      <a href="/BYN/MGA">
        Convert 1 BYN to MGA...
      </a>
    </li>
    <li>
      <a href="/BYN/MKD">
        Convert 1 BYN to MKD...
      </a>
    </li>
    <li>
      <a href="/BYN/MMK">
        Convert 1 BYN to MMK...
      </a>
    </li>
    <li>
      <a href="/BYN/MNT">
        Convert 1 BYN to MNT...
      </a>
    </li>
    <li>
      <a href="/BYN/MOP">
        Convert 1 BYN to MOP...
      </a>
    </li>
    <li>
      <a href="/BYN/MRO">
        Convert 1 BYN to MRO...
      </a>
    </li>
    <li>
      <a href="/BYN/MRU">
        Convert 1 BYN to MRU...
      </a>
    </li>
    <li>
      <a href="/BYN/MUR">
        Convert 1 BYN to MUR...
      </a>
    </li>
    <li>
      <a href="/BYN/MVR">
        Convert 1 BYN to MVR...
      </a>
    </li>
    <li>
      <a href="/BYN/MWK">
        Convert 1 BYN to MWK...
      </a>
    </li>
    <li>
      <a href="/BYN/MXN">
        Convert 1 BYN to MXN...
      </a>
    </li>
    <li>
      <a href="/BYN/MYR">
        Convert 1 BYN to MYR...
      </a>
    </li>
    <li>
      <a href="/BYN/MZN">
        Convert 1 BYN to MZN...
      </a>
    </li>
    <li>
      <a href="/BYN/NAD">
        Convert 1 BYN to NAD...
      </a>
    </li>
    <li>
      <a href="/BYN/NGN">
        Convert 1 BYN to NGN...
      </a>
    </li>
    <li>
      <a href="/BYN/NIO">
        Convert 1 BYN to NIO...
      </a>
    </li>
    <li>
      <a href="/BYN/NOK">
        Convert 1 BYN to NOK...
      </a>
    </li>
    <li>
      <a href="/BYN/NPR">
        Convert 1 BYN to NPR...
      </a>
    </li>
    <li>
      <a href="/BYN/NZD">
        Convert 1 BYN to NZD...
      </a>
    </li>
    <li>
      <a href="/BYN/OMR">
        Convert 1 BYN to OMR...
      </a>
    </li>
    <li>
      <a href="/BYN/PAB">
        Convert 1 BYN to PAB...
      </a>
    </li>
    <li>
      <a href="/BYN/PEN">
        Convert 1 BYN to PEN...
      </a>
    </li>
    <li>
      <a href="/BYN/PGK">
        Convert 1 BYN to PGK...
      </a>
    </li>
    <li>
      <a href="/BYN/PHP">
        Convert 1 BYN to PHP...
      </a>
    </li>
    <li>
      <a href="/BYN/PKR">
        Convert 1 BYN to PKR...
      </a>
    </li>
    <li>
      <a href="/BYN/PLN">
        Convert 1 BYN to PLN...
      </a>
    </li>
    <li>
      <a href="/BYN/PYG">
        Convert 1 BYN to PYG...
      </a>
    </li>
    <li>
      <a href="/BYN/QAR">
        Convert 1 BYN to QAR...
      </a>
    </li>
    <li>
      <a href="/BYN/RON">
        Convert 1 BYN to RON...
      </a>
    </li>
    <li>
      <a href="/BYN/RSD">
        Convert 1 BYN to RSD...
      </a>
    </li>
    <li>
      <a href="/BYN/RUB">
        Convert 1 BYN to RUB...
      </a>
    </li>
    <li>
      <a href="/BYN/RWF">
        Convert 1 BYN to RWF...
      </a>
    </li>
    <li>
      <a href="/BYN/SAR">
        Convert 1 BYN to SAR...
      </a>
    </li>
    <li>
      <a href="/BYN/SBD">
        Convert 1 BYN to SBD...
      </a>
    </li>
    <li>
      <a href="/BYN/SCR">
        Convert 1 BYN to SCR...
      </a>
    </li>
    <li>
      <a href="/BYN/SDG">
        Convert 1 BYN to SDG...
      </a>
    </li>
    <li>
      <a href="/BYN/SEK">
        Convert 1 BYN to SEK...
      </a>
    </li>
    <li>
      <a href="/BYN/SGD">
        Convert 1 BYN to SGD...
      </a>
    </li>
    <li>
      <a href="/BYN/SHP">
        Convert 1 BYN to SHP...
      </a>
    </li>
    <li>
      <a href="/BYN/SLL">
        Convert 1 BYN to SLL...
      </a>
    </li>
    <li>
      <a href="/BYN/SOS">
        Convert 1 BYN to SOS...
      </a>
    </li>
    <li>
      <a href="/BYN/SRD">
        Convert 1 BYN to SRD...
      </a>
    </li>
    <li>
      <a href="/BYN/SSP">
        Convert 1 BYN to SSP...
      </a>
    </li>
    <li>
      <a href="/BYN/STD">
        Convert 1 BYN to STD...
      </a>
    </li>
    <li>
      <a href="/BYN/STN">
        Convert 1 BYN to STN...
      </a>
    </li>
    <li>
      <a href="/BYN/SVC">
        Convert 1 BYN to SVC...
      </a>
    </li>
    <li>
      <a href="/BYN/SYP">
        Convert 1 BYN to SYP...
      </a>
    </li>
    <li>
      <a href="/BYN/SZL">
        Convert 1 BYN to SZL...
      </a>
    </li>
    <li>
      <a href="/BYN/THB">
        Convert 1 BYN to THB...
      </a>
    </li>
    <li>
      <a href="/BYN/TJS">
        Convert 1 BYN to TJS...
      </a>
    </li>
    <li>
      <a href="/BYN/TMT">
        Convert 1 BYN to TMT...
      </a>
    </li>
    <li>
      <a href="/BYN/TND">
        Convert 1 BYN to TND...
      </a>
    </li>
    <li>
      <a href="/BYN/TOP">
        Convert 1 BYN to TOP...
      </a>
    </li>
    <li>
      <a href="/BYN/TRY">
        Convert 1 BYN to TRY...
      </a>
    </li>
    <li>
      <a href="/BYN/TTD">
        Convert 1 BYN to TTD...
      </a>
    </li>
    <li>
      <a href="/BYN/TWD">
        Convert 1 BYN to TWD...
      </a>
    </li>
    <li>
      <a href="/BYN/TZS">
        Convert 1 BYN to TZS...
      </a>
    </li>
    <li>
      <a href="/BYN/UAH">
        Convert 1 BYN to UAH...
      </a>
    </li>
    <li>
      <a href="/BYN/UGX">
        Convert 1 BYN to UGX...
      </a>
    </li>
    <li>
      <a href="/BYN/USD">
        Convert 1 BYN to USD...
      </a>
    </li>
    <li>
      <a href="/BYN/UYU">
        Convert 1 BYN to UYU...
      </a>
    </li>
    <li>
      <a href="/BYN/UZS">
        Convert 1 BYN to UZS...
      </a>
    </li>
    <li>
      <a href="/BYN/VEF">
        Convert 1 BYN to VEF...
      </a>
    </li>
    <li>
      <a href="/BYN/VES">
        Convert 1 BYN to VES...
      </a>
    </li>
    <li>
      <a href="/BYN/VND">
        Convert 1 BYN to VND...
      </a>
    </li>
    <li>
      <a href="/BYN/VUV">
        Convert 1 BYN to VUV...
      </a>
    </li>
    <li>
      <a href="/BYN/WST">
        Convert 1 BYN to WST...
      </a>
    </li>
    <li>
      <a href="/BYN/XAF">
        Convert 1 BYN to XAF...
      </a>
    </li>
    <li>
      <a href="/BYN/XAG">
        Convert 1 BYN to XAG...
      </a>
    </li>
    <li>
      <a href="/BYN/XAU">
        Convert 1 BYN to XAU...
      </a>
    </li>
    <li>
      <a href="/BYN/XCD">
        Convert 1 BYN to XCD...
      </a>
    </li>
    <li>
      <a href="/BYN/XDR">
        Convert 1 BYN to XDR...
      </a>
    </li>
    <li>
      <a href="/BYN/XOF">
        Convert 1 BYN to XOF...
      </a>
    </li>
    <li>
      <a href="/BYN/XPD">
        Convert 1 BYN to XPD...
      </a>
    </li>
    <li>
      <a href="/BYN/XPF">
        Convert 1 BYN to XPF...
      </a>
    </li>
    <li>
      <a href="/BYN/XPT">
        Convert 1 BYN to XPT...
      </a>
    </li>
    <li>
      <a href="/BYN/YER">
        Convert 1 BYN to YER...
      </a>
    </li>
    <li>
      <a href="/BYN/ZAR">
        Convert 1 BYN to ZAR...
      </a>
    </li>
    <li>
      <a href="/BYN/ZMW">
        Convert 1 BYN to ZMW...
      </a>
    </li>
    <li>
      <a href="/BYN/ZWL">
        Convert 1 BYN to ZWL...
      </a>
    </li>
</ul>
</body>
