<body>
    <h1>Convert CUP</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/CUP/AED">
        Convert 1 CUP to AED...
      </a>
    </li>
    <li>
      <a href="/CUP/AFN">
        Convert 1 CUP to AFN...
      </a>
    </li>
    <li>
      <a href="/CUP/ALL">
        Convert 1 CUP to ALL...
      </a>
    </li>
    <li>
      <a href="/CUP/AMD">
        Convert 1 CUP to AMD...
      </a>
    </li>
    <li>
      <a href="/CUP/ANG">
        Convert 1 CUP to ANG...
      </a>
    </li>
    <li>
      <a href="/CUP/AOA">
        Convert 1 CUP to AOA...
      </a>
    </li>
    <li>
      <a href="/CUP/ARS">
        Convert 1 CUP to ARS...
      </a>
    </li>
    <li>
      <a href="/CUP/AUD">
        Convert 1 CUP to AUD...
      </a>
    </li>
    <li>
      <a href="/CUP/AWG">
        Convert 1 CUP to AWG...
      </a>
    </li>
    <li>
      <a href="/CUP/AZN">
        Convert 1 CUP to AZN...
      </a>
    </li>
    <li>
      <a href="/CUP/BAM">
        Convert 1 CUP to BAM...
      </a>
    </li>
    <li>
      <a href="/CUP/BBD">
        Convert 1 CUP to BBD...
      </a>
    </li>
    <li>
      <a href="/CUP/BDT">
        Convert 1 CUP to BDT...
      </a>
    </li>
    <li>
      <a href="/CUP/BGN">
        Convert 1 CUP to BGN...
      </a>
    </li>
    <li>
      <a href="/CUP/BHD">
        Convert 1 CUP to BHD...
      </a>
    </li>
    <li>
      <a href="/CUP/BIF">
        Convert 1 CUP to BIF...
      </a>
    </li>
    <li>
      <a href="/CUP/BMD">
        Convert 1 CUP to BMD...
      </a>
    </li>
    <li>
      <a href="/CUP/BND">
        Convert 1 CUP to BND...
      </a>
    </li>
    <li>
      <a href="/CUP/BOB">
        Convert 1 CUP to BOB...
      </a>
    </li>
    <li>
      <a href="/CUP/BRL">
        Convert 1 CUP to BRL...
      </a>
    </li>
    <li>
      <a href="/CUP/BSD">
        Convert 1 CUP to BSD...
      </a>
    </li>
    <li>
      <a href="/CUP/BTC">
        Convert 1 CUP to BTC...
      </a>
    </li>
    <li>
      <a href="/CUP/BTN">
        Convert 1 CUP to BTN...
      </a>
    </li>
    <li>
      <a href="/CUP/BWP">
        Convert 1 CUP to BWP...
      </a>
    </li>
    <li>
      <a href="/CUP/BYN">
        Convert 1 CUP to BYN...
      </a>
    </li>
    <li>
      <a href="/CUP/BZD">
        Convert 1 CUP to BZD...
      </a>
    </li>
    <li>
      <a href="/CUP/CAD">
        Convert 1 CUP to CAD...
      </a>
    </li>
    <li>
      <a href="/CUP/CDF">
        Convert 1 CUP to CDF...
      </a>
    </li>
    <li>
      <a href="/CUP/CHF">
        Convert 1 CUP to CHF...
      </a>
    </li>
    <li>
      <a href="/CUP/CLF">
        Convert 1 CUP to CLF...
      </a>
    </li>
    <li>
      <a href="/CUP/CLP">
        Convert 1 CUP to CLP...
      </a>
    </li>
    <li>
      <a href="/CUP/CNH">
        Convert 1 CUP to CNH...
      </a>
    </li>
    <li>
      <a href="/CUP/CNY">
        Convert 1 CUP to CNY...
      </a>
    </li>
    <li>
      <a href="/CUP/COP">
        Convert 1 CUP to COP...
      </a>
    </li>
    <li>
      <a href="/CUP/CRC">
        Convert 1 CUP to CRC...
      </a>
    </li>
    <li>
      <a href="/CUP/CUC">
        Convert 1 CUP to CUC...
      </a>
    </li>
    <li>
      <a href="/CUP/CUP">
        Convert 1 CUP to CUP...
      </a>
    </li>
    <li>
      <a href="/CUP/CVE">
        Convert 1 CUP to CVE...
      </a>
    </li>
    <li>
      <a href="/CUP/CZK">
        Convert 1 CUP to CZK...
      </a>
    </li>
    <li>
      <a href="/CUP/DJF">
        Convert 1 CUP to DJF...
      </a>
    </li>
    <li>
      <a href="/CUP/DKK">
        Convert 1 CUP to DKK...
      </a>
    </li>
    <li>
      <a href="/CUP/DOP">
        Convert 1 CUP to DOP...
      </a>
    </li>
    <li>
      <a href="/CUP/DZD">
        Convert 1 CUP to DZD...
      </a>
    </li>
    <li>
      <a href="/CUP/EGP">
        Convert 1 CUP to EGP...
      </a>
    </li>
    <li>
      <a href="/CUP/ERN">
        Convert 1 CUP to ERN...
      </a>
    </li>
    <li>
      <a href="/CUP/ETB">
        Convert 1 CUP to ETB...
      </a>
    </li>
    <li>
      <a href="/CUP/EUR">
        Convert 1 CUP to EUR...
      </a>
    </li>
    <li>
      <a href="/CUP/FJD">
        Convert 1 CUP to FJD...
      </a>
    </li>
    <li>
      <a href="/CUP/FKP">
        Convert 1 CUP to FKP...
      </a>
    </li>
    <li>
      <a href="/CUP/GBP">
        Convert 1 CUP to GBP...
      </a>
    </li>
    <li>
      <a href="/CUP/GEL">
        Convert 1 CUP to GEL...
      </a>
    </li>
    <li>
      <a href="/CUP/GGP">
        Convert 1 CUP to GGP...
      </a>
    </li>
    <li>
      <a href="/CUP/GHS">
        Convert 1 CUP to GHS...
      </a>
    </li>
    <li>
      <a href="/CUP/GIP">
        Convert 1 CUP to GIP...
      </a>
    </li>
    <li>
      <a href="/CUP/GMD">
        Convert 1 CUP to GMD...
      </a>
    </li>
    <li>
      <a href="/CUP/GNF">
        Convert 1 CUP to GNF...
      </a>
    </li>
    <li>
      <a href="/CUP/GTQ">
        Convert 1 CUP to GTQ...
      </a>
    </li>
    <li>
      <a href="/CUP/GYD">
        Convert 1 CUP to GYD...
      </a>
    </li>
    <li>
      <a href="/CUP/HKD">
        Convert 1 CUP to HKD...
      </a>
    </li>
    <li>
      <a href="/CUP/HNL">
        Convert 1 CUP to HNL...
      </a>
    </li>
    <li>
      <a href="/CUP/HRK">
        Convert 1 CUP to HRK...
      </a>
    </li>
    <li>
      <a href="/CUP/HTG">
        Convert 1 CUP to HTG...
      </a>
    </li>
    <li>
      <a href="/CUP/HUF">
        Convert 1 CUP to HUF...
      </a>
    </li>
    <li>
      <a href="/CUP/IDR">
        Convert 1 CUP to IDR...
      </a>
    </li>
    <li>
      <a href="/CUP/ILS">
        Convert 1 CUP to ILS...
      </a>
    </li>
    <li>
      <a href="/CUP/IMP">
        Convert 1 CUP to IMP...
      </a>
    </li>
    <li>
      <a href="/CUP/INR">
        Convert 1 CUP to INR...
      </a>
    </li>
    <li>
      <a href="/CUP/IQD">
        Convert 1 CUP to IQD...
      </a>
    </li>
    <li>
      <a href="/CUP/IRR">
        Convert 1 CUP to IRR...
      </a>
    </li>
    <li>
      <a href="/CUP/ISK">
        Convert 1 CUP to ISK...
      </a>
    </li>
    <li>
      <a href="/CUP/JEP">
        Convert 1 CUP to JEP...
      </a>
    </li>
    <li>
      <a href="/CUP/JMD">
        Convert 1 CUP to JMD...
      </a>
    </li>
    <li>
      <a href="/CUP/JOD">
        Convert 1 CUP to JOD...
      </a>
    </li>
    <li>
      <a href="/CUP/JPY">
        Convert 1 CUP to JPY...
      </a>
    </li>
    <li>
      <a href="/CUP/KES">
        Convert 1 CUP to KES...
      </a>
    </li>
    <li>
      <a href="/CUP/KGS">
        Convert 1 CUP to KGS...
      </a>
    </li>
    <li>
      <a href="/CUP/KHR">
        Convert 1 CUP to KHR...
      </a>
    </li>
    <li>
      <a href="/CUP/KMF">
        Convert 1 CUP to KMF...
      </a>
    </li>
    <li>
      <a href="/CUP/KPW">
        Convert 1 CUP to KPW...
      </a>
    </li>
    <li>
      <a href="/CUP/KRW">
        Convert 1 CUP to KRW...
      </a>
    </li>
    <li>
      <a href="/CUP/KWD">
        Convert 1 CUP to KWD...
      </a>
    </li>
    <li>
      <a href="/CUP/KYD">
        Convert 1 CUP to KYD...
      </a>
    </li>
    <li>
      <a href="/CUP/KZT">
        Convert 1 CUP to KZT...
      </a>
    </li>
    <li>
      <a href="/CUP/LAK">
        Convert 1 CUP to LAK...
      </a>
    </li>
    <li>
      <a href="/CUP/LBP">
        Convert 1 CUP to LBP...
      </a>
    </li>
    <li>
      <a href="/CUP/LKR">
        Convert 1 CUP to LKR...
      </a>
    </li>
    <li>
      <a href="/CUP/LRD">
        Convert 1 CUP to LRD...
      </a>
    </li>
    <li>
      <a href="/CUP/LSL">
        Convert 1 CUP to LSL...
      </a>
    </li>
    <li>
      <a href="/CUP/LYD">
        Convert 1 CUP to LYD...
      </a>
    </li>
    <li>
      <a href="/CUP/MAD">
        Convert 1 CUP to MAD...
      </a>
    </li>
    <li>
      <a href="/CUP/MDL">
        Convert 1 CUP to MDL...
      </a>
    </li>
    <li>
      <a href="/CUP/MGA">
        Convert 1 CUP to MGA...
      </a>
    </li>
    <li>
      <a href="/CUP/MKD">
        Convert 1 CUP to MKD...
      </a>
    </li>
    <li>
      <a href="/CUP/MMK">
        Convert 1 CUP to MMK...
      </a>
    </li>
    <li>
      <a href="/CUP/MNT">
        Convert 1 CUP to MNT...
      </a>
    </li>
    <li>
      <a href="/CUP/MOP">
        Convert 1 CUP to MOP...
      </a>
    </li>
    <li>
      <a href="/CUP/MRO">
        Convert 1 CUP to MRO...
      </a>
    </li>
    <li>
      <a href="/CUP/MRU">
        Convert 1 CUP to MRU...
      </a>
    </li>
    <li>
      <a href="/CUP/MUR">
        Convert 1 CUP to MUR...
      </a>
    </li>
    <li>
      <a href="/CUP/MVR">
        Convert 1 CUP to MVR...
      </a>
    </li>
    <li>
      <a href="/CUP/MWK">
        Convert 1 CUP to MWK...
      </a>
    </li>
    <li>
      <a href="/CUP/MXN">
        Convert 1 CUP to MXN...
      </a>
    </li>
    <li>
      <a href="/CUP/MYR">
        Convert 1 CUP to MYR...
      </a>
    </li>
    <li>
      <a href="/CUP/MZN">
        Convert 1 CUP to MZN...
      </a>
    </li>
    <li>
      <a href="/CUP/NAD">
        Convert 1 CUP to NAD...
      </a>
    </li>
    <li>
      <a href="/CUP/NGN">
        Convert 1 CUP to NGN...
      </a>
    </li>
    <li>
      <a href="/CUP/NIO">
        Convert 1 CUP to NIO...
      </a>
    </li>
    <li>
      <a href="/CUP/NOK">
        Convert 1 CUP to NOK...
      </a>
    </li>
    <li>
      <a href="/CUP/NPR">
        Convert 1 CUP to NPR...
      </a>
    </li>
    <li>
      <a href="/CUP/NZD">
        Convert 1 CUP to NZD...
      </a>
    </li>
    <li>
      <a href="/CUP/OMR">
        Convert 1 CUP to OMR...
      </a>
    </li>
    <li>
      <a href="/CUP/PAB">
        Convert 1 CUP to PAB...
      </a>
    </li>
    <li>
      <a href="/CUP/PEN">
        Convert 1 CUP to PEN...
      </a>
    </li>
    <li>
      <a href="/CUP/PGK">
        Convert 1 CUP to PGK...
      </a>
    </li>
    <li>
      <a href="/CUP/PHP">
        Convert 1 CUP to PHP...
      </a>
    </li>
    <li>
      <a href="/CUP/PKR">
        Convert 1 CUP to PKR...
      </a>
    </li>
    <li>
      <a href="/CUP/PLN">
        Convert 1 CUP to PLN...
      </a>
    </li>
    <li>
      <a href="/CUP/PYG">
        Convert 1 CUP to PYG...
      </a>
    </li>
    <li>
      <a href="/CUP/QAR">
        Convert 1 CUP to QAR...
      </a>
    </li>
    <li>
      <a href="/CUP/RON">
        Convert 1 CUP to RON...
      </a>
    </li>
    <li>
      <a href="/CUP/RSD">
        Convert 1 CUP to RSD...
      </a>
    </li>
    <li>
      <a href="/CUP/RUB">
        Convert 1 CUP to RUB...
      </a>
    </li>
    <li>
      <a href="/CUP/RWF">
        Convert 1 CUP to RWF...
      </a>
    </li>
    <li>
      <a href="/CUP/SAR">
        Convert 1 CUP to SAR...
      </a>
    </li>
    <li>
      <a href="/CUP/SBD">
        Convert 1 CUP to SBD...
      </a>
    </li>
    <li>
      <a href="/CUP/SCR">
        Convert 1 CUP to SCR...
      </a>
    </li>
    <li>
      <a href="/CUP/SDG">
        Convert 1 CUP to SDG...
      </a>
    </li>
    <li>
      <a href="/CUP/SEK">
        Convert 1 CUP to SEK...
      </a>
    </li>
    <li>
      <a href="/CUP/SGD">
        Convert 1 CUP to SGD...
      </a>
    </li>
    <li>
      <a href="/CUP/SHP">
        Convert 1 CUP to SHP...
      </a>
    </li>
    <li>
      <a href="/CUP/SLL">
        Convert 1 CUP to SLL...
      </a>
    </li>
    <li>
      <a href="/CUP/SOS">
        Convert 1 CUP to SOS...
      </a>
    </li>
    <li>
      <a href="/CUP/SRD">
        Convert 1 CUP to SRD...
      </a>
    </li>
    <li>
      <a href="/CUP/SSP">
        Convert 1 CUP to SSP...
      </a>
    </li>
    <li>
      <a href="/CUP/STD">
        Convert 1 CUP to STD...
      </a>
    </li>
    <li>
      <a href="/CUP/STN">
        Convert 1 CUP to STN...
      </a>
    </li>
    <li>
      <a href="/CUP/SVC">
        Convert 1 CUP to SVC...
      </a>
    </li>
    <li>
      <a href="/CUP/SYP">
        Convert 1 CUP to SYP...
      </a>
    </li>
    <li>
      <a href="/CUP/SZL">
        Convert 1 CUP to SZL...
      </a>
    </li>
    <li>
      <a href="/CUP/THB">
        Convert 1 CUP to THB...
      </a>
    </li>
    <li>
      <a href="/CUP/TJS">
        Convert 1 CUP to TJS...
      </a>
    </li>
    <li>
      <a href="/CUP/TMT">
        Convert 1 CUP to TMT...
      </a>
    </li>
    <li>
      <a href="/CUP/TND">
        Convert 1 CUP to TND...
      </a>
    </li>
    <li>
      <a href="/CUP/TOP">
        Convert 1 CUP to TOP...
      </a>
    </li>
    <li>
      <a href="/CUP/TRY">
        Convert 1 CUP to TRY...
      </a>
    </li>
    <li>
      <a href="/CUP/TTD">
        Convert 1 CUP to TTD...
      </a>
    </li>
    <li>
      <a href="/CUP/TWD">
        Convert 1 CUP to TWD...
      </a>
    </li>
    <li>
      <a href="/CUP/TZS">
        Convert 1 CUP to TZS...
      </a>
    </li>
    <li>
      <a href="/CUP/UAH">
        Convert 1 CUP to UAH...
      </a>
    </li>
    <li>
      <a href="/CUP/UGX">
        Convert 1 CUP to UGX...
      </a>
    </li>
    <li>
      <a href="/CUP/USD">
        Convert 1 CUP to USD...
      </a>
    </li>
    <li>
      <a href="/CUP/UYU">
        Convert 1 CUP to UYU...
      </a>
    </li>
    <li>
      <a href="/CUP/UZS">
        Convert 1 CUP to UZS...
      </a>
    </li>
    <li>
      <a href="/CUP/VEF">
        Convert 1 CUP to VEF...
      </a>
    </li>
    <li>
      <a href="/CUP/VES">
        Convert 1 CUP to VES...
      </a>
    </li>
    <li>
      <a href="/CUP/VND">
        Convert 1 CUP to VND...
      </a>
    </li>
    <li>
      <a href="/CUP/VUV">
        Convert 1 CUP to VUV...
      </a>
    </li>
    <li>
      <a href="/CUP/WST">
        Convert 1 CUP to WST...
      </a>
    </li>
    <li>
      <a href="/CUP/XAF">
        Convert 1 CUP to XAF...
      </a>
    </li>
    <li>
      <a href="/CUP/XAG">
        Convert 1 CUP to XAG...
      </a>
    </li>
    <li>
      <a href="/CUP/XAU">
        Convert 1 CUP to XAU...
      </a>
    </li>
    <li>
      <a href="/CUP/XCD">
        Convert 1 CUP to XCD...
      </a>
    </li>
    <li>
      <a href="/CUP/XDR">
        Convert 1 CUP to XDR...
      </a>
    </li>
    <li>
      <a href="/CUP/XOF">
        Convert 1 CUP to XOF...
      </a>
    </li>
    <li>
      <a href="/CUP/XPD">
        Convert 1 CUP to XPD...
      </a>
    </li>
    <li>
      <a href="/CUP/XPF">
        Convert 1 CUP to XPF...
      </a>
    </li>
    <li>
      <a href="/CUP/XPT">
        Convert 1 CUP to XPT...
      </a>
    </li>
    <li>
      <a href="/CUP/YER">
        Convert 1 CUP to YER...
      </a>
    </li>
    <li>
      <a href="/CUP/ZAR">
        Convert 1 CUP to ZAR...
      </a>
    </li>
    <li>
      <a href="/CUP/ZMW">
        Convert 1 CUP to ZMW...
      </a>
    </li>
    <li>
      <a href="/CUP/ZWL">
        Convert 1 CUP to ZWL...
      </a>
    </li>
</ul>
</body>
