<body>
    <h1>Convert EUR</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/EUR/AED">
        Convert 1 EUR to AED...
      </a>
    </li>
    <li>
      <a href="/EUR/AFN">
        Convert 1 EUR to AFN...
      </a>
    </li>
    <li>
      <a href="/EUR/ALL">
        Convert 1 EUR to ALL...
      </a>
    </li>
    <li>
      <a href="/EUR/AMD">
        Convert 1 EUR to AMD...
      </a>
    </li>
    <li>
      <a href="/EUR/ANG">
        Convert 1 EUR to ANG...
      </a>
    </li>
    <li>
      <a href="/EUR/AOA">
        Convert 1 EUR to AOA...
      </a>
    </li>
    <li>
      <a href="/EUR/ARS">
        Convert 1 EUR to ARS...
      </a>
    </li>
    <li>
      <a href="/EUR/AUD">
        Convert 1 EUR to AUD...
      </a>
    </li>
    <li>
      <a href="/EUR/AWG">
        Convert 1 EUR to AWG...
      </a>
    </li>
    <li>
      <a href="/EUR/AZN">
        Convert 1 EUR to AZN...
      </a>
    </li>
    <li>
      <a href="/EUR/BAM">
        Convert 1 EUR to BAM...
      </a>
    </li>
    <li>
      <a href="/EUR/BBD">
        Convert 1 EUR to BBD...
      </a>
    </li>
    <li>
      <a href="/EUR/BDT">
        Convert 1 EUR to BDT...
      </a>
    </li>
    <li>
      <a href="/EUR/BGN">
        Convert 1 EUR to BGN...
      </a>
    </li>
    <li>
      <a href="/EUR/BHD">
        Convert 1 EUR to BHD...
      </a>
    </li>
    <li>
      <a href="/EUR/BIF">
        Convert 1 EUR to BIF...
      </a>
    </li>
    <li>
      <a href="/EUR/BMD">
        Convert 1 EUR to BMD...
      </a>
    </li>
    <li>
      <a href="/EUR/BND">
        Convert 1 EUR to BND...
      </a>
    </li>
    <li>
      <a href="/EUR/BOB">
        Convert 1 EUR to BOB...
      </a>
    </li>
    <li>
      <a href="/EUR/BRL">
        Convert 1 EUR to BRL...
      </a>
    </li>
    <li>
      <a href="/EUR/BSD">
        Convert 1 EUR to BSD...
      </a>
    </li>
    <li>
      <a href="/EUR/BTC">
        Convert 1 EUR to BTC...
      </a>
    </li>
    <li>
      <a href="/EUR/BTN">
        Convert 1 EUR to BTN...
      </a>
    </li>
    <li>
      <a href="/EUR/BWP">
        Convert 1 EUR to BWP...
      </a>
    </li>
    <li>
      <a href="/EUR/BYN">
        Convert 1 EUR to BYN...
      </a>
    </li>
    <li>
      <a href="/EUR/BZD">
        Convert 1 EUR to BZD...
      </a>
    </li>
    <li>
      <a href="/EUR/CAD">
        Convert 1 EUR to CAD...
      </a>
    </li>
    <li>
      <a href="/EUR/CDF">
        Convert 1 EUR to CDF...
      </a>
    </li>
    <li>
      <a href="/EUR/CHF">
        Convert 1 EUR to CHF...
      </a>
    </li>
    <li>
      <a href="/EUR/CLF">
        Convert 1 EUR to CLF...
      </a>
    </li>
    <li>
      <a href="/EUR/CLP">
        Convert 1 EUR to CLP...
      </a>
    </li>
    <li>
      <a href="/EUR/CNH">
        Convert 1 EUR to CNH...
      </a>
    </li>
    <li>
      <a href="/EUR/CNY">
        Convert 1 EUR to CNY...
      </a>
    </li>
    <li>
      <a href="/EUR/COP">
        Convert 1 EUR to COP...
      </a>
    </li>
    <li>
      <a href="/EUR/CRC">
        Convert 1 EUR to CRC...
      </a>
    </li>
    <li>
      <a href="/EUR/CUC">
        Convert 1 EUR to CUC...
      </a>
    </li>
    <li>
      <a href="/EUR/CUP">
        Convert 1 EUR to CUP...
      </a>
    </li>
    <li>
      <a href="/EUR/CVE">
        Convert 1 EUR to CVE...
      </a>
    </li>
    <li>
      <a href="/EUR/CZK">
        Convert 1 EUR to CZK...
      </a>
    </li>
    <li>
      <a href="/EUR/DJF">
        Convert 1 EUR to DJF...
      </a>
    </li>
    <li>
      <a href="/EUR/DKK">
        Convert 1 EUR to DKK...
      </a>
    </li>
    <li>
      <a href="/EUR/DOP">
        Convert 1 EUR to DOP...
      </a>
    </li>
    <li>
      <a href="/EUR/DZD">
        Convert 1 EUR to DZD...
      </a>
    </li>
    <li>
      <a href="/EUR/EGP">
        Convert 1 EUR to EGP...
      </a>
    </li>
    <li>
      <a href="/EUR/ERN">
        Convert 1 EUR to ERN...
      </a>
    </li>
    <li>
      <a href="/EUR/ETB">
        Convert 1 EUR to ETB...
      </a>
    </li>
    <li>
      <a href="/EUR/EUR">
        Convert 1 EUR to EUR...
      </a>
    </li>
    <li>
      <a href="/EUR/FJD">
        Convert 1 EUR to FJD...
      </a>
    </li>
    <li>
      <a href="/EUR/FKP">
        Convert 1 EUR to FKP...
      </a>
    </li>
    <li>
      <a href="/EUR/GBP">
        Convert 1 EUR to GBP...
      </a>
    </li>
    <li>
      <a href="/EUR/GEL">
        Convert 1 EUR to GEL...
      </a>
    </li>
    <li>
      <a href="/EUR/GGP">
        Convert 1 EUR to GGP...
      </a>
    </li>
    <li>
      <a href="/EUR/GHS">
        Convert 1 EUR to GHS...
      </a>
    </li>
    <li>
      <a href="/EUR/GIP">
        Convert 1 EUR to GIP...
      </a>
    </li>
    <li>
      <a href="/EUR/GMD">
        Convert 1 EUR to GMD...
      </a>
    </li>
    <li>
      <a href="/EUR/GNF">
        Convert 1 EUR to GNF...
      </a>
    </li>
    <li>
      <a href="/EUR/GTQ">
        Convert 1 EUR to GTQ...
      </a>
    </li>
    <li>
      <a href="/EUR/GYD">
        Convert 1 EUR to GYD...
      </a>
    </li>
    <li>
      <a href="/EUR/HKD">
        Convert 1 EUR to HKD...
      </a>
    </li>
    <li>
      <a href="/EUR/HNL">
        Convert 1 EUR to HNL...
      </a>
    </li>
    <li>
      <a href="/EUR/HRK">
        Convert 1 EUR to HRK...
      </a>
    </li>
    <li>
      <a href="/EUR/HTG">
        Convert 1 EUR to HTG...
      </a>
    </li>
    <li>
      <a href="/EUR/HUF">
        Convert 1 EUR to HUF...
      </a>
    </li>
    <li>
      <a href="/EUR/IDR">
        Convert 1 EUR to IDR...
      </a>
    </li>
    <li>
      <a href="/EUR/ILS">
        Convert 1 EUR to ILS...
      </a>
    </li>
    <li>
      <a href="/EUR/IMP">
        Convert 1 EUR to IMP...
      </a>
    </li>
    <li>
      <a href="/EUR/INR">
        Convert 1 EUR to INR...
      </a>
    </li>
    <li>
      <a href="/EUR/IQD">
        Convert 1 EUR to IQD...
      </a>
    </li>
    <li>
      <a href="/EUR/IRR">
        Convert 1 EUR to IRR...
      </a>
    </li>
    <li>
      <a href="/EUR/ISK">
        Convert 1 EUR to ISK...
      </a>
    </li>
    <li>
      <a href="/EUR/JEP">
        Convert 1 EUR to JEP...
      </a>
    </li>
    <li>
      <a href="/EUR/JMD">
        Convert 1 EUR to JMD...
      </a>
    </li>
    <li>
      <a href="/EUR/JOD">
        Convert 1 EUR to JOD...
      </a>
    </li>
    <li>
      <a href="/EUR/JPY">
        Convert 1 EUR to JPY...
      </a>
    </li>
    <li>
      <a href="/EUR/KES">
        Convert 1 EUR to KES...
      </a>
    </li>
    <li>
      <a href="/EUR/KGS">
        Convert 1 EUR to KGS...
      </a>
    </li>
    <li>
      <a href="/EUR/KHR">
        Convert 1 EUR to KHR...
      </a>
    </li>
    <li>
      <a href="/EUR/KMF">
        Convert 1 EUR to KMF...
      </a>
    </li>
    <li>
      <a href="/EUR/KPW">
        Convert 1 EUR to KPW...
      </a>
    </li>
    <li>
      <a href="/EUR/KRW">
        Convert 1 EUR to KRW...
      </a>
    </li>
    <li>
      <a href="/EUR/KWD">
        Convert 1 EUR to KWD...
      </a>
    </li>
    <li>
      <a href="/EUR/KYD">
        Convert 1 EUR to KYD...
      </a>
    </li>
    <li>
      <a href="/EUR/KZT">
        Convert 1 EUR to KZT...
      </a>
    </li>
    <li>
      <a href="/EUR/LAK">
        Convert 1 EUR to LAK...
      </a>
    </li>
    <li>
      <a href="/EUR/LBP">
        Convert 1 EUR to LBP...
      </a>
    </li>
    <li>
      <a href="/EUR/LKR">
        Convert 1 EUR to LKR...
      </a>
    </li>
    <li>
      <a href="/EUR/LRD">
        Convert 1 EUR to LRD...
      </a>
    </li>
    <li>
      <a href="/EUR/LSL">
        Convert 1 EUR to LSL...
      </a>
    </li>
    <li>
      <a href="/EUR/LYD">
        Convert 1 EUR to LYD...
      </a>
    </li>
    <li>
      <a href="/EUR/MAD">
        Convert 1 EUR to MAD...
      </a>
    </li>
    <li>
      <a href="/EUR/MDL">
        Convert 1 EUR to MDL...
      </a>
    </li>
    <li>
      <a href="/EUR/MGA">
        Convert 1 EUR to MGA...
      </a>
    </li>
    <li>
      <a href="/EUR/MKD">
        Convert 1 EUR to MKD...
      </a>
    </li>
    <li>
      <a href="/EUR/MMK">
        Convert 1 EUR to MMK...
      </a>
    </li>
    <li>
      <a href="/EUR/MNT">
        Convert 1 EUR to MNT...
      </a>
    </li>
    <li>
      <a href="/EUR/MOP">
        Convert 1 EUR to MOP...
      </a>
    </li>
    <li>
      <a href="/EUR/MRO">
        Convert 1 EUR to MRO...
      </a>
    </li>
    <li>
      <a href="/EUR/MRU">
        Convert 1 EUR to MRU...
      </a>
    </li>
    <li>
      <a href="/EUR/MUR">
        Convert 1 EUR to MUR...
      </a>
    </li>
    <li>
      <a href="/EUR/MVR">
        Convert 1 EUR to MVR...
      </a>
    </li>
    <li>
      <a href="/EUR/MWK">
        Convert 1 EUR to MWK...
      </a>
    </li>
    <li>
      <a href="/EUR/MXN">
        Convert 1 EUR to MXN...
      </a>
    </li>
    <li>
      <a href="/EUR/MYR">
        Convert 1 EUR to MYR...
      </a>
    </li>
    <li>
      <a href="/EUR/MZN">
        Convert 1 EUR to MZN...
      </a>
    </li>
    <li>
      <a href="/EUR/NAD">
        Convert 1 EUR to NAD...
      </a>
    </li>
    <li>
      <a href="/EUR/NGN">
        Convert 1 EUR to NGN...
      </a>
    </li>
    <li>
      <a href="/EUR/NIO">
        Convert 1 EUR to NIO...
      </a>
    </li>
    <li>
      <a href="/EUR/NOK">
        Convert 1 EUR to NOK...
      </a>
    </li>
    <li>
      <a href="/EUR/NPR">
        Convert 1 EUR to NPR...
      </a>
    </li>
    <li>
      <a href="/EUR/NZD">
        Convert 1 EUR to NZD...
      </a>
    </li>
    <li>
      <a href="/EUR/OMR">
        Convert 1 EUR to OMR...
      </a>
    </li>
    <li>
      <a href="/EUR/PAB">
        Convert 1 EUR to PAB...
      </a>
    </li>
    <li>
      <a href="/EUR/PEN">
        Convert 1 EUR to PEN...
      </a>
    </li>
    <li>
      <a href="/EUR/PGK">
        Convert 1 EUR to PGK...
      </a>
    </li>
    <li>
      <a href="/EUR/PHP">
        Convert 1 EUR to PHP...
      </a>
    </li>
    <li>
      <a href="/EUR/PKR">
        Convert 1 EUR to PKR...
      </a>
    </li>
    <li>
      <a href="/EUR/PLN">
        Convert 1 EUR to PLN...
      </a>
    </li>
    <li>
      <a href="/EUR/PYG">
        Convert 1 EUR to PYG...
      </a>
    </li>
    <li>
      <a href="/EUR/QAR">
        Convert 1 EUR to QAR...
      </a>
    </li>
    <li>
      <a href="/EUR/RON">
        Convert 1 EUR to RON...
      </a>
    </li>
    <li>
      <a href="/EUR/RSD">
        Convert 1 EUR to RSD...
      </a>
    </li>
    <li>
      <a href="/EUR/RUB">
        Convert 1 EUR to RUB...
      </a>
    </li>
    <li>
      <a href="/EUR/RWF">
        Convert 1 EUR to RWF...
      </a>
    </li>
    <li>
      <a href="/EUR/SAR">
        Convert 1 EUR to SAR...
      </a>
    </li>
    <li>
      <a href="/EUR/SBD">
        Convert 1 EUR to SBD...
      </a>
    </li>
    <li>
      <a href="/EUR/SCR">
        Convert 1 EUR to SCR...
      </a>
    </li>
    <li>
      <a href="/EUR/SDG">
        Convert 1 EUR to SDG...
      </a>
    </li>
    <li>
      <a href="/EUR/SEK">
        Convert 1 EUR to SEK...
      </a>
    </li>
    <li>
      <a href="/EUR/SGD">
        Convert 1 EUR to SGD...
      </a>
    </li>
    <li>
      <a href="/EUR/SHP">
        Convert 1 EUR to SHP...
      </a>
    </li>
    <li>
      <a href="/EUR/SLL">
        Convert 1 EUR to SLL...
      </a>
    </li>
    <li>
      <a href="/EUR/SOS">
        Convert 1 EUR to SOS...
      </a>
    </li>
    <li>
      <a href="/EUR/SRD">
        Convert 1 EUR to SRD...
      </a>
    </li>
    <li>
      <a href="/EUR/SSP">
        Convert 1 EUR to SSP...
      </a>
    </li>
    <li>
      <a href="/EUR/STD">
        Convert 1 EUR to STD...
      </a>
    </li>
    <li>
      <a href="/EUR/STN">
        Convert 1 EUR to STN...
      </a>
    </li>
    <li>
      <a href="/EUR/SVC">
        Convert 1 EUR to SVC...
      </a>
    </li>
    <li>
      <a href="/EUR/SYP">
        Convert 1 EUR to SYP...
      </a>
    </li>
    <li>
      <a href="/EUR/SZL">
        Convert 1 EUR to SZL...
      </a>
    </li>
    <li>
      <a href="/EUR/THB">
        Convert 1 EUR to THB...
      </a>
    </li>
    <li>
      <a href="/EUR/TJS">
        Convert 1 EUR to TJS...
      </a>
    </li>
    <li>
      <a href="/EUR/TMT">
        Convert 1 EUR to TMT...
      </a>
    </li>
    <li>
      <a href="/EUR/TND">
        Convert 1 EUR to TND...
      </a>
    </li>
    <li>
      <a href="/EUR/TOP">
        Convert 1 EUR to TOP...
      </a>
    </li>
    <li>
      <a href="/EUR/TRY">
        Convert 1 EUR to TRY...
      </a>
    </li>
    <li>
      <a href="/EUR/TTD">
        Convert 1 EUR to TTD...
      </a>
    </li>
    <li>
      <a href="/EUR/TWD">
        Convert 1 EUR to TWD...
      </a>
    </li>
    <li>
      <a href="/EUR/TZS">
        Convert 1 EUR to TZS...
      </a>
    </li>
    <li>
      <a href="/EUR/UAH">
        Convert 1 EUR to UAH...
      </a>
    </li>
    <li>
      <a href="/EUR/UGX">
        Convert 1 EUR to UGX...
      </a>
    </li>
    <li>
      <a href="/EUR/USD">
        Convert 1 EUR to USD...
      </a>
    </li>
    <li>
      <a href="/EUR/UYU">
        Convert 1 EUR to UYU...
      </a>
    </li>
    <li>
      <a href="/EUR/UZS">
        Convert 1 EUR to UZS...
      </a>
    </li>
    <li>
      <a href="/EUR/VEF">
        Convert 1 EUR to VEF...
      </a>
    </li>
    <li>
      <a href="/EUR/VES">
        Convert 1 EUR to VES...
      </a>
    </li>
    <li>
      <a href="/EUR/VND">
        Convert 1 EUR to VND...
      </a>
    </li>
    <li>
      <a href="/EUR/VUV">
        Convert 1 EUR to VUV...
      </a>
    </li>
    <li>
      <a href="/EUR/WST">
        Convert 1 EUR to WST...
      </a>
    </li>
    <li>
      <a href="/EUR/XAF">
        Convert 1 EUR to XAF...
      </a>
    </li>
    <li>
      <a href="/EUR/XAG">
        Convert 1 EUR to XAG...
      </a>
    </li>
    <li>
      <a href="/EUR/XAU">
        Convert 1 EUR to XAU...
      </a>
    </li>
    <li>
      <a href="/EUR/XCD">
        Convert 1 EUR to XCD...
      </a>
    </li>
    <li>
      <a href="/EUR/XDR">
        Convert 1 EUR to XDR...
      </a>
    </li>
    <li>
      <a href="/EUR/XOF">
        Convert 1 EUR to XOF...
      </a>
    </li>
    <li>
      <a href="/EUR/XPD">
        Convert 1 EUR to XPD...
      </a>
    </li>
    <li>
      <a href="/EUR/XPF">
        Convert 1 EUR to XPF...
      </a>
    </li>
    <li>
      <a href="/EUR/XPT">
        Convert 1 EUR to XPT...
      </a>
    </li>
    <li>
      <a href="/EUR/YER">
        Convert 1 EUR to YER...
      </a>
    </li>
    <li>
      <a href="/EUR/ZAR">
        Convert 1 EUR to ZAR...
      </a>
    </li>
    <li>
      <a href="/EUR/ZMW">
        Convert 1 EUR to ZMW...
      </a>
    </li>
    <li>
      <a href="/EUR/ZWL">
        Convert 1 EUR to ZWL...
      </a>
    </li>
</ul>
</body>
