<body>
    <h1>Convert GBP</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/GBP/AED">
        Convert 1 GBP to AED...
      </a>
    </li>
    <li>
      <a href="/GBP/AFN">
        Convert 1 GBP to AFN...
      </a>
    </li>
    <li>
      <a href="/GBP/ALL">
        Convert 1 GBP to ALL...
      </a>
    </li>
    <li>
      <a href="/GBP/AMD">
        Convert 1 GBP to AMD...
      </a>
    </li>
    <li>
      <a href="/GBP/ANG">
        Convert 1 GBP to ANG...
      </a>
    </li>
    <li>
      <a href="/GBP/AOA">
        Convert 1 GBP to AOA...
      </a>
    </li>
    <li>
      <a href="/GBP/ARS">
        Convert 1 GBP to ARS...
      </a>
    </li>
    <li>
      <a href="/GBP/AUD">
        Convert 1 GBP to AUD...
      </a>
    </li>
    <li>
      <a href="/GBP/AWG">
        Convert 1 GBP to AWG...
      </a>
    </li>
    <li>
      <a href="/GBP/AZN">
        Convert 1 GBP to AZN...
      </a>
    </li>
    <li>
      <a href="/GBP/BAM">
        Convert 1 GBP to BAM...
      </a>
    </li>
    <li>
      <a href="/GBP/BBD">
        Convert 1 GBP to BBD...
      </a>
    </li>
    <li>
      <a href="/GBP/BDT">
        Convert 1 GBP to BDT...
      </a>
    </li>
    <li>
      <a href="/GBP/BGN">
        Convert 1 GBP to BGN...
      </a>
    </li>
    <li>
      <a href="/GBP/BHD">
        Convert 1 GBP to BHD...
      </a>
    </li>
    <li>
      <a href="/GBP/BIF">
        Convert 1 GBP to BIF...
      </a>
    </li>
    <li>
      <a href="/GBP/BMD">
        Convert 1 GBP to BMD...
      </a>
    </li>
    <li>
      <a href="/GBP/BND">
        Convert 1 GBP to BND...
      </a>
    </li>
    <li>
      <a href="/GBP/BOB">
        Convert 1 GBP to BOB...
      </a>
    </li>
    <li>
      <a href="/GBP/BRL">
        Convert 1 GBP to BRL...
      </a>
    </li>
    <li>
      <a href="/GBP/BSD">
        Convert 1 GBP to BSD...
      </a>
    </li>
    <li>
      <a href="/GBP/BTC">
        Convert 1 GBP to BTC...
      </a>
    </li>
    <li>
      <a href="/GBP/BTN">
        Convert 1 GBP to BTN...
      </a>
    </li>
    <li>
      <a href="/GBP/BWP">
        Convert 1 GBP to BWP...
      </a>
    </li>
    <li>
      <a href="/GBP/BYN">
        Convert 1 GBP to BYN...
      </a>
    </li>
    <li>
      <a href="/GBP/BZD">
        Convert 1 GBP to BZD...
      </a>
    </li>
    <li>
      <a href="/GBP/CAD">
        Convert 1 GBP to CAD...
      </a>
    </li>
    <li>
      <a href="/GBP/CDF">
        Convert 1 GBP to CDF...
      </a>
    </li>
    <li>
      <a href="/GBP/CHF">
        Convert 1 GBP to CHF...
      </a>
    </li>
    <li>
      <a href="/GBP/CLF">
        Convert 1 GBP to CLF...
      </a>
    </li>
    <li>
      <a href="/GBP/CLP">
        Convert 1 GBP to CLP...
      </a>
    </li>
    <li>
      <a href="/GBP/CNH">
        Convert 1 GBP to CNH...
      </a>
    </li>
    <li>
      <a href="/GBP/CNY">
        Convert 1 GBP to CNY...
      </a>
    </li>
    <li>
      <a href="/GBP/COP">
        Convert 1 GBP to COP...
      </a>
    </li>
    <li>
      <a href="/GBP/CRC">
        Convert 1 GBP to CRC...
      </a>
    </li>
    <li>
      <a href="/GBP/CUC">
        Convert 1 GBP to CUC...
      </a>
    </li>
    <li>
      <a href="/GBP/CUP">
        Convert 1 GBP to CUP...
      </a>
    </li>
    <li>
      <a href="/GBP/CVE">
        Convert 1 GBP to CVE...
      </a>
    </li>
    <li>
      <a href="/GBP/CZK">
        Convert 1 GBP to CZK...
      </a>
    </li>
    <li>
      <a href="/GBP/DJF">
        Convert 1 GBP to DJF...
      </a>
    </li>
    <li>
      <a href="/GBP/DKK">
        Convert 1 GBP to DKK...
      </a>
    </li>
    <li>
      <a href="/GBP/DOP">
        Convert 1 GBP to DOP...
      </a>
    </li>
    <li>
      <a href="/GBP/DZD">
        Convert 1 GBP to DZD...
      </a>
    </li>
    <li>
      <a href="/GBP/EGP">
        Convert 1 GBP to EGP...
      </a>
    </li>
    <li>
      <a href="/GBP/ERN">
        Convert 1 GBP to ERN...
      </a>
    </li>
    <li>
      <a href="/GBP/ETB">
        Convert 1 GBP to ETB...
      </a>
    </li>
    <li>
      <a href="/GBP/EUR">
        Convert 1 GBP to EUR...
      </a>
    </li>
    <li>
      <a href="/GBP/FJD">
        Convert 1 GBP to FJD...
      </a>
    </li>
    <li>
      <a href="/GBP/FKP">
        Convert 1 GBP to FKP...
      </a>
    </li>
    <li>
      <a href="/GBP/GBP">
        Convert 1 GBP to GBP...
      </a>
    </li>
    <li>
      <a href="/GBP/GEL">
        Convert 1 GBP to GEL...
      </a>
    </li>
    <li>
      <a href="/GBP/GGP">
        Convert 1 GBP to GGP...
      </a>
    </li>
    <li>
      <a href="/GBP/GHS">
        Convert 1 GBP to GHS...
      </a>
    </li>
    <li>
      <a href="/GBP/GIP">
        Convert 1 GBP to GIP...
      </a>
    </li>
    <li>
      <a href="/GBP/GMD">
        Convert 1 GBP to GMD...
      </a>
    </li>
    <li>
      <a href="/GBP/GNF">
        Convert 1 GBP to GNF...
      </a>
    </li>
    <li>
      <a href="/GBP/GTQ">
        Convert 1 GBP to GTQ...
      </a>
    </li>
    <li>
      <a href="/GBP/GYD">
        Convert 1 GBP to GYD...
      </a>
    </li>
    <li>
      <a href="/GBP/HKD">
        Convert 1 GBP to HKD...
      </a>
    </li>
    <li>
      <a href="/GBP/HNL">
        Convert 1 GBP to HNL...
      </a>
    </li>
    <li>
      <a href="/GBP/HRK">
        Convert 1 GBP to HRK...
      </a>
    </li>
    <li>
      <a href="/GBP/HTG">
        Convert 1 GBP to HTG...
      </a>
    </li>
    <li>
      <a href="/GBP/HUF">
        Convert 1 GBP to HUF...
      </a>
    </li>
    <li>
      <a href="/GBP/IDR">
        Convert 1 GBP to IDR...
      </a>
    </li>
    <li>
      <a href="/GBP/ILS">
        Convert 1 GBP to ILS...
      </a>
    </li>
    <li>
      <a href="/GBP/IMP">
        Convert 1 GBP to IMP...
      </a>
    </li>
    <li>
      <a href="/GBP/INR">
        Convert 1 GBP to INR...
      </a>
    </li>
    <li>
      <a href="/GBP/IQD">
        Convert 1 GBP to IQD...
      </a>
    </li>
    <li>
      <a href="/GBP/IRR">
        Convert 1 GBP to IRR...
      </a>
    </li>
    <li>
      <a href="/GBP/ISK">
        Convert 1 GBP to ISK...
      </a>
    </li>
    <li>
      <a href="/GBP/JEP">
        Convert 1 GBP to JEP...
      </a>
    </li>
    <li>
      <a href="/GBP/JMD">
        Convert 1 GBP to JMD...
      </a>
    </li>
    <li>
      <a href="/GBP/JOD">
        Convert 1 GBP to JOD...
      </a>
    </li>
    <li>
      <a href="/GBP/JPY">
        Convert 1 GBP to JPY...
      </a>
    </li>
    <li>
      <a href="/GBP/KES">
        Convert 1 GBP to KES...
      </a>
    </li>
    <li>
      <a href="/GBP/KGS">
        Convert 1 GBP to KGS...
      </a>
    </li>
    <li>
      <a href="/GBP/KHR">
        Convert 1 GBP to KHR...
      </a>
    </li>
    <li>
      <a href="/GBP/KMF">
        Convert 1 GBP to KMF...
      </a>
    </li>
    <li>
      <a href="/GBP/KPW">
        Convert 1 GBP to KPW...
      </a>
    </li>
    <li>
      <a href="/GBP/KRW">
        Convert 1 GBP to KRW...
      </a>
    </li>
    <li>
      <a href="/GBP/KWD">
        Convert 1 GBP to KWD...
      </a>
    </li>
    <li>
      <a href="/GBP/KYD">
        Convert 1 GBP to KYD...
      </a>
    </li>
    <li>
      <a href="/GBP/KZT">
        Convert 1 GBP to KZT...
      </a>
    </li>
    <li>
      <a href="/GBP/LAK">
        Convert 1 GBP to LAK...
      </a>
    </li>
    <li>
      <a href="/GBP/LBP">
        Convert 1 GBP to LBP...
      </a>
    </li>
    <li>
      <a href="/GBP/LKR">
        Convert 1 GBP to LKR...
      </a>
    </li>
    <li>
      <a href="/GBP/LRD">
        Convert 1 GBP to LRD...
      </a>
    </li>
    <li>
      <a href="/GBP/LSL">
        Convert 1 GBP to LSL...
      </a>
    </li>
    <li>
      <a href="/GBP/LYD">
        Convert 1 GBP to LYD...
      </a>
    </li>
    <li>
      <a href="/GBP/MAD">
        Convert 1 GBP to MAD...
      </a>
    </li>
    <li>
      <a href="/GBP/MDL">
        Convert 1 GBP to MDL...
      </a>
    </li>
    <li>
      <a href="/GBP/MGA">
        Convert 1 GBP to MGA...
      </a>
    </li>
    <li>
      <a href="/GBP/MKD">
        Convert 1 GBP to MKD...
      </a>
    </li>
    <li>
      <a href="/GBP/MMK">
        Convert 1 GBP to MMK...
      </a>
    </li>
    <li>
      <a href="/GBP/MNT">
        Convert 1 GBP to MNT...
      </a>
    </li>
    <li>
      <a href="/GBP/MOP">
        Convert 1 GBP to MOP...
      </a>
    </li>
    <li>
      <a href="/GBP/MRO">
        Convert 1 GBP to MRO...
      </a>
    </li>
    <li>
      <a href="/GBP/MRU">
        Convert 1 GBP to MRU...
      </a>
    </li>
    <li>
      <a href="/GBP/MUR">
        Convert 1 GBP to MUR...
      </a>
    </li>
    <li>
      <a href="/GBP/MVR">
        Convert 1 GBP to MVR...
      </a>
    </li>
    <li>
      <a href="/GBP/MWK">
        Convert 1 GBP to MWK...
      </a>
    </li>
    <li>
      <a href="/GBP/MXN">
        Convert 1 GBP to MXN...
      </a>
    </li>
    <li>
      <a href="/GBP/MYR">
        Convert 1 GBP to MYR...
      </a>
    </li>
    <li>
      <a href="/GBP/MZN">
        Convert 1 GBP to MZN...
      </a>
    </li>
    <li>
      <a href="/GBP/NAD">
        Convert 1 GBP to NAD...
      </a>
    </li>
    <li>
      <a href="/GBP/NGN">
        Convert 1 GBP to NGN...
      </a>
    </li>
    <li>
      <a href="/GBP/NIO">
        Convert 1 GBP to NIO...
      </a>
    </li>
    <li>
      <a href="/GBP/NOK">
        Convert 1 GBP to NOK...
      </a>
    </li>
    <li>
      <a href="/GBP/NPR">
        Convert 1 GBP to NPR...
      </a>
    </li>
    <li>
      <a href="/GBP/NZD">
        Convert 1 GBP to NZD...
      </a>
    </li>
    <li>
      <a href="/GBP/OMR">
        Convert 1 GBP to OMR...
      </a>
    </li>
    <li>
      <a href="/GBP/PAB">
        Convert 1 GBP to PAB...
      </a>
    </li>
    <li>
      <a href="/GBP/PEN">
        Convert 1 GBP to PEN...
      </a>
    </li>
    <li>
      <a href="/GBP/PGK">
        Convert 1 GBP to PGK...
      </a>
    </li>
    <li>
      <a href="/GBP/PHP">
        Convert 1 GBP to PHP...
      </a>
    </li>
    <li>
      <a href="/GBP/PKR">
        Convert 1 GBP to PKR...
      </a>
    </li>
    <li>
      <a href="/GBP/PLN">
        Convert 1 GBP to PLN...
      </a>
    </li>
    <li>
      <a href="/GBP/PYG">
        Convert 1 GBP to PYG...
      </a>
    </li>
    <li>
      <a href="/GBP/QAR">
        Convert 1 GBP to QAR...
      </a>
    </li>
    <li>
      <a href="/GBP/RON">
        Convert 1 GBP to RON...
      </a>
    </li>
    <li>
      <a href="/GBP/RSD">
        Convert 1 GBP to RSD...
      </a>
    </li>
    <li>
      <a href="/GBP/RUB">
        Convert 1 GBP to RUB...
      </a>
    </li>
    <li>
      <a href="/GBP/RWF">
        Convert 1 GBP to RWF...
      </a>
    </li>
    <li>
      <a href="/GBP/SAR">
        Convert 1 GBP to SAR...
      </a>
    </li>
    <li>
      <a href="/GBP/SBD">
        Convert 1 GBP to SBD...
      </a>
    </li>
    <li>
      <a href="/GBP/SCR">
        Convert 1 GBP to SCR...
      </a>
    </li>
    <li>
      <a href="/GBP/SDG">
        Convert 1 GBP to SDG...
      </a>
    </li>
    <li>
      <a href="/GBP/SEK">
        Convert 1 GBP to SEK...
      </a>
    </li>
    <li>
      <a href="/GBP/SGD">
        Convert 1 GBP to SGD...
      </a>
    </li>
    <li>
      <a href="/GBP/SHP">
        Convert 1 GBP to SHP...
      </a>
    </li>
    <li>
      <a href="/GBP/SLL">
        Convert 1 GBP to SLL...
      </a>
    </li>
    <li>
      <a href="/GBP/SOS">
        Convert 1 GBP to SOS...
      </a>
    </li>
    <li>
      <a href="/GBP/SRD">
        Convert 1 GBP to SRD...
      </a>
    </li>
    <li>
      <a href="/GBP/SSP">
        Convert 1 GBP to SSP...
      </a>
    </li>
    <li>
      <a href="/GBP/STD">
        Convert 1 GBP to STD...
      </a>
    </li>
    <li>
      <a href="/GBP/STN">
        Convert 1 GBP to STN...
      </a>
    </li>
    <li>
      <a href="/GBP/SVC">
        Convert 1 GBP to SVC...
      </a>
    </li>
    <li>
      <a href="/GBP/SYP">
        Convert 1 GBP to SYP...
      </a>
    </li>
    <li>
      <a href="/GBP/SZL">
        Convert 1 GBP to SZL...
      </a>
    </li>
    <li>
      <a href="/GBP/THB">
        Convert 1 GBP to THB...
      </a>
    </li>
    <li>
      <a href="/GBP/TJS">
        Convert 1 GBP to TJS...
      </a>
    </li>
    <li>
      <a href="/GBP/TMT">
        Convert 1 GBP to TMT...
      </a>
    </li>
    <li>
      <a href="/GBP/TND">
        Convert 1 GBP to TND...
      </a>
    </li>
    <li>
      <a href="/GBP/TOP">
        Convert 1 GBP to TOP...
      </a>
    </li>
    <li>
      <a href="/GBP/TRY">
        Convert 1 GBP to TRY...
      </a>
    </li>
    <li>
      <a href="/GBP/TTD">
        Convert 1 GBP to TTD...
      </a>
    </li>
    <li>
      <a href="/GBP/TWD">
        Convert 1 GBP to TWD...
      </a>
    </li>
    <li>
      <a href="/GBP/TZS">
        Convert 1 GBP to TZS...
      </a>
    </li>
    <li>
      <a href="/GBP/UAH">
        Convert 1 GBP to UAH...
      </a>
    </li>
    <li>
      <a href="/GBP/UGX">
        Convert 1 GBP to UGX...
      </a>
    </li>
    <li>
      <a href="/GBP/USD">
        Convert 1 GBP to USD...
      </a>
    </li>
    <li>
      <a href="/GBP/UYU">
        Convert 1 GBP to UYU...
      </a>
    </li>
    <li>
      <a href="/GBP/UZS">
        Convert 1 GBP to UZS...
      </a>
    </li>
    <li>
      <a href="/GBP/VEF">
        Convert 1 GBP to VEF...
      </a>
    </li>
    <li>
      <a href="/GBP/VES">
        Convert 1 GBP to VES...
      </a>
    </li>
    <li>
      <a href="/GBP/VND">
        Convert 1 GBP to VND...
      </a>
    </li>
    <li>
      <a href="/GBP/VUV">
        Convert 1 GBP to VUV...
      </a>
    </li>
    <li>
      <a href="/GBP/WST">
        Convert 1 GBP to WST...
      </a>
    </li>
    <li>
      <a href="/GBP/XAF">
        Convert 1 GBP to XAF...
      </a>
    </li>
    <li>
      <a href="/GBP/XAG">
        Convert 1 GBP to XAG...
      </a>
    </li>
    <li>
      <a href="/GBP/XAU">
        Convert 1 GBP to XAU...
      </a>
    </li>
    <li>
      <a href="/GBP/XCD">
        Convert 1 GBP to XCD...
      </a>
    </li>
    <li>
      <a href="/GBP/XDR">
        Convert 1 GBP to XDR...
      </a>
    </li>
    <li>
      <a href="/GBP/XOF">
        Convert 1 GBP to XOF...
      </a>
    </li>
    <li>
      <a href="/GBP/XPD">
        Convert 1 GBP to XPD...
      </a>
    </li>
    <li>
      <a href="/GBP/XPF">
        Convert 1 GBP to XPF...
      </a>
    </li>
    <li>
      <a href="/GBP/XPT">
        Convert 1 GBP to XPT...
      </a>
    </li>
    <li>
      <a href="/GBP/YER">
        Convert 1 GBP to YER...
      </a>
    </li>
    <li>
      <a href="/GBP/ZAR">
        Convert 1 GBP to ZAR...
      </a>
    </li>
    <li>
      <a href="/GBP/ZMW">
        Convert 1 GBP to ZMW...
      </a>
    </li>
    <li>
      <a href="/GBP/ZWL">
        Convert 1 GBP to ZWL...
      </a>
    </li>
</ul>
</body>
