<body>
    <h1>Convert GNF</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/GNF/AED">
        Convert 1 GNF to AED...
      </a>
    </li>
    <li>
      <a href="/GNF/AFN">
        Convert 1 GNF to AFN...
      </a>
    </li>
    <li>
      <a href="/GNF/ALL">
        Convert 1 GNF to ALL...
      </a>
    </li>
    <li>
      <a href="/GNF/AMD">
        Convert 1 GNF to AMD...
      </a>
    </li>
    <li>
      <a href="/GNF/ANG">
        Convert 1 GNF to ANG...
      </a>
    </li>
    <li>
      <a href="/GNF/AOA">
        Convert 1 GNF to AOA...
      </a>
    </li>
    <li>
      <a href="/GNF/ARS">
        Convert 1 GNF to ARS...
      </a>
    </li>
    <li>
      <a href="/GNF/AUD">
        Convert 1 GNF to AUD...
      </a>
    </li>
    <li>
      <a href="/GNF/AWG">
        Convert 1 GNF to AWG...
      </a>
    </li>
    <li>
      <a href="/GNF/AZN">
        Convert 1 GNF to AZN...
      </a>
    </li>
    <li>
      <a href="/GNF/BAM">
        Convert 1 GNF to BAM...
      </a>
    </li>
    <li>
      <a href="/GNF/BBD">
        Convert 1 GNF to BBD...
      </a>
    </li>
    <li>
      <a href="/GNF/BDT">
        Convert 1 GNF to BDT...
      </a>
    </li>
    <li>
      <a href="/GNF/BGN">
        Convert 1 GNF to BGN...
      </a>
    </li>
    <li>
      <a href="/GNF/BHD">
        Convert 1 GNF to BHD...
      </a>
    </li>
    <li>
      <a href="/GNF/BIF">
        Convert 1 GNF to BIF...
      </a>
    </li>
    <li>
      <a href="/GNF/BMD">
        Convert 1 GNF to BMD...
      </a>
    </li>
    <li>
      <a href="/GNF/BND">
        Convert 1 GNF to BND...
      </a>
    </li>
    <li>
      <a href="/GNF/BOB">
        Convert 1 GNF to BOB...
      </a>
    </li>
    <li>
      <a href="/GNF/BRL">
        Convert 1 GNF to BRL...
      </a>
    </li>
    <li>
      <a href="/GNF/BSD">
        Convert 1 GNF to BSD...
      </a>
    </li>
    <li>
      <a href="/GNF/BTC">
        Convert 1 GNF to BTC...
      </a>
    </li>
    <li>
      <a href="/GNF/BTN">
        Convert 1 GNF to BTN...
      </a>
    </li>
    <li>
      <a href="/GNF/BWP">
        Convert 1 GNF to BWP...
      </a>
    </li>
    <li>
      <a href="/GNF/BYN">
        Convert 1 GNF to BYN...
      </a>
    </li>
    <li>
      <a href="/GNF/BZD">
        Convert 1 GNF to BZD...
      </a>
    </li>
    <li>
      <a href="/GNF/CAD">
        Convert 1 GNF to CAD...
      </a>
    </li>
    <li>
      <a href="/GNF/CDF">
        Convert 1 GNF to CDF...
      </a>
    </li>
    <li>
      <a href="/GNF/CHF">
        Convert 1 GNF to CHF...
      </a>
    </li>
    <li>
      <a href="/GNF/CLF">
        Convert 1 GNF to CLF...
      </a>
    </li>
    <li>
      <a href="/GNF/CLP">
        Convert 1 GNF to CLP...
      </a>
    </li>
    <li>
      <a href="/GNF/CNH">
        Convert 1 GNF to CNH...
      </a>
    </li>
    <li>
      <a href="/GNF/CNY">
        Convert 1 GNF to CNY...
      </a>
    </li>
    <li>
      <a href="/GNF/COP">
        Convert 1 GNF to COP...
      </a>
    </li>
    <li>
      <a href="/GNF/CRC">
        Convert 1 GNF to CRC...
      </a>
    </li>
    <li>
      <a href="/GNF/CUC">
        Convert 1 GNF to CUC...
      </a>
    </li>
    <li>
      <a href="/GNF/CUP">
        Convert 1 GNF to CUP...
      </a>
    </li>
    <li>
      <a href="/GNF/CVE">
        Convert 1 GNF to CVE...
      </a>
    </li>
    <li>
      <a href="/GNF/CZK">
        Convert 1 GNF to CZK...
      </a>
    </li>
    <li>
      <a href="/GNF/DJF">
        Convert 1 GNF to DJF...
      </a>
    </li>
    <li>
      <a href="/GNF/DKK">
        Convert 1 GNF to DKK...
      </a>
    </li>
    <li>
      <a href="/GNF/DOP">
        Convert 1 GNF to DOP...
      </a>
    </li>
    <li>
      <a href="/GNF/DZD">
        Convert 1 GNF to DZD...
      </a>
    </li>
    <li>
      <a href="/GNF/EGP">
        Convert 1 GNF to EGP...
      </a>
    </li>
    <li>
      <a href="/GNF/ERN">
        Convert 1 GNF to ERN...
      </a>
    </li>
    <li>
      <a href="/GNF/ETB">
        Convert 1 GNF to ETB...
      </a>
    </li>
    <li>
      <a href="/GNF/EUR">
        Convert 1 GNF to EUR...
      </a>
    </li>
    <li>
      <a href="/GNF/FJD">
        Convert 1 GNF to FJD...
      </a>
    </li>
    <li>
      <a href="/GNF/FKP">
        Convert 1 GNF to FKP...
      </a>
    </li>
    <li>
      <a href="/GNF/GBP">
        Convert 1 GNF to GBP...
      </a>
    </li>
    <li>
      <a href="/GNF/GEL">
        Convert 1 GNF to GEL...
      </a>
    </li>
    <li>
      <a href="/GNF/GGP">
        Convert 1 GNF to GGP...
      </a>
    </li>
    <li>
      <a href="/GNF/GHS">
        Convert 1 GNF to GHS...
      </a>
    </li>
    <li>
      <a href="/GNF/GIP">
        Convert 1 GNF to GIP...
      </a>
    </li>
    <li>
      <a href="/GNF/GMD">
        Convert 1 GNF to GMD...
      </a>
    </li>
    <li>
      <a href="/GNF/GNF">
        Convert 1 GNF to GNF...
      </a>
    </li>
    <li>
      <a href="/GNF/GTQ">
        Convert 1 GNF to GTQ...
      </a>
    </li>
    <li>
      <a href="/GNF/GYD">
        Convert 1 GNF to GYD...
      </a>
    </li>
    <li>
      <a href="/GNF/HKD">
        Convert 1 GNF to HKD...
      </a>
    </li>
    <li>
      <a href="/GNF/HNL">
        Convert 1 GNF to HNL...
      </a>
    </li>
    <li>
      <a href="/GNF/HRK">
        Convert 1 GNF to HRK...
      </a>
    </li>
    <li>
      <a href="/GNF/HTG">
        Convert 1 GNF to HTG...
      </a>
    </li>
    <li>
      <a href="/GNF/HUF">
        Convert 1 GNF to HUF...
      </a>
    </li>
    <li>
      <a href="/GNF/IDR">
        Convert 1 GNF to IDR...
      </a>
    </li>
    <li>
      <a href="/GNF/ILS">
        Convert 1 GNF to ILS...
      </a>
    </li>
    <li>
      <a href="/GNF/IMP">
        Convert 1 GNF to IMP...
      </a>
    </li>
    <li>
      <a href="/GNF/INR">
        Convert 1 GNF to INR...
      </a>
    </li>
    <li>
      <a href="/GNF/IQD">
        Convert 1 GNF to IQD...
      </a>
    </li>
    <li>
      <a href="/GNF/IRR">
        Convert 1 GNF to IRR...
      </a>
    </li>
    <li>
      <a href="/GNF/ISK">
        Convert 1 GNF to ISK...
      </a>
    </li>
    <li>
      <a href="/GNF/JEP">
        Convert 1 GNF to JEP...
      </a>
    </li>
    <li>
      <a href="/GNF/JMD">
        Convert 1 GNF to JMD...
      </a>
    </li>
    <li>
      <a href="/GNF/JOD">
        Convert 1 GNF to JOD...
      </a>
    </li>
    <li>
      <a href="/GNF/JPY">
        Convert 1 GNF to JPY...
      </a>
    </li>
    <li>
      <a href="/GNF/KES">
        Convert 1 GNF to KES...
      </a>
    </li>
    <li>
      <a href="/GNF/KGS">
        Convert 1 GNF to KGS...
      </a>
    </li>
    <li>
      <a href="/GNF/KHR">
        Convert 1 GNF to KHR...
      </a>
    </li>
    <li>
      <a href="/GNF/KMF">
        Convert 1 GNF to KMF...
      </a>
    </li>
    <li>
      <a href="/GNF/KPW">
        Convert 1 GNF to KPW...
      </a>
    </li>
    <li>
      <a href="/GNF/KRW">
        Convert 1 GNF to KRW...
      </a>
    </li>
    <li>
      <a href="/GNF/KWD">
        Convert 1 GNF to KWD...
      </a>
    </li>
    <li>
      <a href="/GNF/KYD">
        Convert 1 GNF to KYD...
      </a>
    </li>
    <li>
      <a href="/GNF/KZT">
        Convert 1 GNF to KZT...
      </a>
    </li>
    <li>
      <a href="/GNF/LAK">
        Convert 1 GNF to LAK...
      </a>
    </li>
    <li>
      <a href="/GNF/LBP">
        Convert 1 GNF to LBP...
      </a>
    </li>
    <li>
      <a href="/GNF/LKR">
        Convert 1 GNF to LKR...
      </a>
    </li>
    <li>
      <a href="/GNF/LRD">
        Convert 1 GNF to LRD...
      </a>
    </li>
    <li>
      <a href="/GNF/LSL">
        Convert 1 GNF to LSL...
      </a>
    </li>
    <li>
      <a href="/GNF/LYD">
        Convert 1 GNF to LYD...
      </a>
    </li>
    <li>
      <a href="/GNF/MAD">
        Convert 1 GNF to MAD...
      </a>
    </li>
    <li>
      <a href="/GNF/MDL">
        Convert 1 GNF to MDL...
      </a>
    </li>
    <li>
      <a href="/GNF/MGA">
        Convert 1 GNF to MGA...
      </a>
    </li>
    <li>
      <a href="/GNF/MKD">
        Convert 1 GNF to MKD...
      </a>
    </li>
    <li>
      <a href="/GNF/MMK">
        Convert 1 GNF to MMK...
      </a>
    </li>
    <li>
      <a href="/GNF/MNT">
        Convert 1 GNF to MNT...
      </a>
    </li>
    <li>
      <a href="/GNF/MOP">
        Convert 1 GNF to MOP...
      </a>
    </li>
    <li>
      <a href="/GNF/MRO">
        Convert 1 GNF to MRO...
      </a>
    </li>
    <li>
      <a href="/GNF/MRU">
        Convert 1 GNF to MRU...
      </a>
    </li>
    <li>
      <a href="/GNF/MUR">
        Convert 1 GNF to MUR...
      </a>
    </li>
    <li>
      <a href="/GNF/MVR">
        Convert 1 GNF to MVR...
      </a>
    </li>
    <li>
      <a href="/GNF/MWK">
        Convert 1 GNF to MWK...
      </a>
    </li>
    <li>
      <a href="/GNF/MXN">
        Convert 1 GNF to MXN...
      </a>
    </li>
    <li>
      <a href="/GNF/MYR">
        Convert 1 GNF to MYR...
      </a>
    </li>
    <li>
      <a href="/GNF/MZN">
        Convert 1 GNF to MZN...
      </a>
    </li>
    <li>
      <a href="/GNF/NAD">
        Convert 1 GNF to NAD...
      </a>
    </li>
    <li>
      <a href="/GNF/NGN">
        Convert 1 GNF to NGN...
      </a>
    </li>
    <li>
      <a href="/GNF/NIO">
        Convert 1 GNF to NIO...
      </a>
    </li>
    <li>
      <a href="/GNF/NOK">
        Convert 1 GNF to NOK...
      </a>
    </li>
    <li>
      <a href="/GNF/NPR">
        Convert 1 GNF to NPR...
      </a>
    </li>
    <li>
      <a href="/GNF/NZD">
        Convert 1 GNF to NZD...
      </a>
    </li>
    <li>
      <a href="/GNF/OMR">
        Convert 1 GNF to OMR...
      </a>
    </li>
    <li>
      <a href="/GNF/PAB">
        Convert 1 GNF to PAB...
      </a>
    </li>
    <li>
      <a href="/GNF/PEN">
        Convert 1 GNF to PEN...
      </a>
    </li>
    <li>
      <a href="/GNF/PGK">
        Convert 1 GNF to PGK...
      </a>
    </li>
    <li>
      <a href="/GNF/PHP">
        Convert 1 GNF to PHP...
      </a>
    </li>
    <li>
      <a href="/GNF/PKR">
        Convert 1 GNF to PKR...
      </a>
    </li>
    <li>
      <a href="/GNF/PLN">
        Convert 1 GNF to PLN...
      </a>
    </li>
    <li>
      <a href="/GNF/PYG">
        Convert 1 GNF to PYG...
      </a>
    </li>
    <li>
      <a href="/GNF/QAR">
        Convert 1 GNF to QAR...
      </a>
    </li>
    <li>
      <a href="/GNF/RON">
        Convert 1 GNF to RON...
      </a>
    </li>
    <li>
      <a href="/GNF/RSD">
        Convert 1 GNF to RSD...
      </a>
    </li>
    <li>
      <a href="/GNF/RUB">
        Convert 1 GNF to RUB...
      </a>
    </li>
    <li>
      <a href="/GNF/RWF">
        Convert 1 GNF to RWF...
      </a>
    </li>
    <li>
      <a href="/GNF/SAR">
        Convert 1 GNF to SAR...
      </a>
    </li>
    <li>
      <a href="/GNF/SBD">
        Convert 1 GNF to SBD...
      </a>
    </li>
    <li>
      <a href="/GNF/SCR">
        Convert 1 GNF to SCR...
      </a>
    </li>
    <li>
      <a href="/GNF/SDG">
        Convert 1 GNF to SDG...
      </a>
    </li>
    <li>
      <a href="/GNF/SEK">
        Convert 1 GNF to SEK...
      </a>
    </li>
    <li>
      <a href="/GNF/SGD">
        Convert 1 GNF to SGD...
      </a>
    </li>
    <li>
      <a href="/GNF/SHP">
        Convert 1 GNF to SHP...
      </a>
    </li>
    <li>
      <a href="/GNF/SLL">
        Convert 1 GNF to SLL...
      </a>
    </li>
    <li>
      <a href="/GNF/SOS">
        Convert 1 GNF to SOS...
      </a>
    </li>
    <li>
      <a href="/GNF/SRD">
        Convert 1 GNF to SRD...
      </a>
    </li>
    <li>
      <a href="/GNF/SSP">
        Convert 1 GNF to SSP...
      </a>
    </li>
    <li>
      <a href="/GNF/STD">
        Convert 1 GNF to STD...
      </a>
    </li>
    <li>
      <a href="/GNF/STN">
        Convert 1 GNF to STN...
      </a>
    </li>
    <li>
      <a href="/GNF/SVC">
        Convert 1 GNF to SVC...
      </a>
    </li>
    <li>
      <a href="/GNF/SYP">
        Convert 1 GNF to SYP...
      </a>
    </li>
    <li>
      <a href="/GNF/SZL">
        Convert 1 GNF to SZL...
      </a>
    </li>
    <li>
      <a href="/GNF/THB">
        Convert 1 GNF to THB...
      </a>
    </li>
    <li>
      <a href="/GNF/TJS">
        Convert 1 GNF to TJS...
      </a>
    </li>
    <li>
      <a href="/GNF/TMT">
        Convert 1 GNF to TMT...
      </a>
    </li>
    <li>
      <a href="/GNF/TND">
        Convert 1 GNF to TND...
      </a>
    </li>
    <li>
      <a href="/GNF/TOP">
        Convert 1 GNF to TOP...
      </a>
    </li>
    <li>
      <a href="/GNF/TRY">
        Convert 1 GNF to TRY...
      </a>
    </li>
    <li>
      <a href="/GNF/TTD">
        Convert 1 GNF to TTD...
      </a>
    </li>
    <li>
      <a href="/GNF/TWD">
        Convert 1 GNF to TWD...
      </a>
    </li>
    <li>
      <a href="/GNF/TZS">
        Convert 1 GNF to TZS...
      </a>
    </li>
    <li>
      <a href="/GNF/UAH">
        Convert 1 GNF to UAH...
      </a>
    </li>
    <li>
      <a href="/GNF/UGX">
        Convert 1 GNF to UGX...
      </a>
    </li>
    <li>
      <a href="/GNF/USD">
        Convert 1 GNF to USD...
      </a>
    </li>
    <li>
      <a href="/GNF/UYU">
        Convert 1 GNF to UYU...
      </a>
    </li>
    <li>
      <a href="/GNF/UZS">
        Convert 1 GNF to UZS...
      </a>
    </li>
    <li>
      <a href="/GNF/VEF">
        Convert 1 GNF to VEF...
      </a>
    </li>
    <li>
      <a href="/GNF/VES">
        Convert 1 GNF to VES...
      </a>
    </li>
    <li>
      <a href="/GNF/VND">
        Convert 1 GNF to VND...
      </a>
    </li>
    <li>
      <a href="/GNF/VUV">
        Convert 1 GNF to VUV...
      </a>
    </li>
    <li>
      <a href="/GNF/WST">
        Convert 1 GNF to WST...
      </a>
    </li>
    <li>
      <a href="/GNF/XAF">
        Convert 1 GNF to XAF...
      </a>
    </li>
    <li>
      <a href="/GNF/XAG">
        Convert 1 GNF to XAG...
      </a>
    </li>
    <li>
      <a href="/GNF/XAU">
        Convert 1 GNF to XAU...
      </a>
    </li>
    <li>
      <a href="/GNF/XCD">
        Convert 1 GNF to XCD...
      </a>
    </li>
    <li>
      <a href="/GNF/XDR">
        Convert 1 GNF to XDR...
      </a>
    </li>
    <li>
      <a href="/GNF/XOF">
        Convert 1 GNF to XOF...
      </a>
    </li>
    <li>
      <a href="/GNF/XPD">
        Convert 1 GNF to XPD...
      </a>
    </li>
    <li>
      <a href="/GNF/XPF">
        Convert 1 GNF to XPF...
      </a>
    </li>
    <li>
      <a href="/GNF/XPT">
        Convert 1 GNF to XPT...
      </a>
    </li>
    <li>
      <a href="/GNF/YER">
        Convert 1 GNF to YER...
      </a>
    </li>
    <li>
      <a href="/GNF/ZAR">
        Convert 1 GNF to ZAR...
      </a>
    </li>
    <li>
      <a href="/GNF/ZMW">
        Convert 1 GNF to ZMW...
      </a>
    </li>
    <li>
      <a href="/GNF/ZWL">
        Convert 1 GNF to ZWL...
      </a>
    </li>
</ul>
</body>
