<body>
    <h1>Convert HUF</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/HUF/AED">
        Convert 1 HUF to AED...
      </a>
    </li>
    <li>
      <a href="/HUF/AFN">
        Convert 1 HUF to AFN...
      </a>
    </li>
    <li>
      <a href="/HUF/ALL">
        Convert 1 HUF to ALL...
      </a>
    </li>
    <li>
      <a href="/HUF/AMD">
        Convert 1 HUF to AMD...
      </a>
    </li>
    <li>
      <a href="/HUF/ANG">
        Convert 1 HUF to ANG...
      </a>
    </li>
    <li>
      <a href="/HUF/AOA">
        Convert 1 HUF to AOA...
      </a>
    </li>
    <li>
      <a href="/HUF/ARS">
        Convert 1 HUF to ARS...
      </a>
    </li>
    <li>
      <a href="/HUF/AUD">
        Convert 1 HUF to AUD...
      </a>
    </li>
    <li>
      <a href="/HUF/AWG">
        Convert 1 HUF to AWG...
      </a>
    </li>
    <li>
      <a href="/HUF/AZN">
        Convert 1 HUF to AZN...
      </a>
    </li>
    <li>
      <a href="/HUF/BAM">
        Convert 1 HUF to BAM...
      </a>
    </li>
    <li>
      <a href="/HUF/BBD">
        Convert 1 HUF to BBD...
      </a>
    </li>
    <li>
      <a href="/HUF/BDT">
        Convert 1 HUF to BDT...
      </a>
    </li>
    <li>
      <a href="/HUF/BGN">
        Convert 1 HUF to BGN...
      </a>
    </li>
    <li>
      <a href="/HUF/BHD">
        Convert 1 HUF to BHD...
      </a>
    </li>
    <li>
      <a href="/HUF/BIF">
        Convert 1 HUF to BIF...
      </a>
    </li>
    <li>
      <a href="/HUF/BMD">
        Convert 1 HUF to BMD...
      </a>
    </li>
    <li>
      <a href="/HUF/BND">
        Convert 1 HUF to BND...
      </a>
    </li>
    <li>
      <a href="/HUF/BOB">
        Convert 1 HUF to BOB...
      </a>
    </li>
    <li>
      <a href="/HUF/BRL">
        Convert 1 HUF to BRL...
      </a>
    </li>
    <li>
      <a href="/HUF/BSD">
        Convert 1 HUF to BSD...
      </a>
    </li>
    <li>
      <a href="/HUF/BTC">
        Convert 1 HUF to BTC...
      </a>
    </li>
    <li>
      <a href="/HUF/BTN">
        Convert 1 HUF to BTN...
      </a>
    </li>
    <li>
      <a href="/HUF/BWP">
        Convert 1 HUF to BWP...
      </a>
    </li>
    <li>
      <a href="/HUF/BYN">
        Convert 1 HUF to BYN...
      </a>
    </li>
    <li>
      <a href="/HUF/BZD">
        Convert 1 HUF to BZD...
      </a>
    </li>
    <li>
      <a href="/HUF/CAD">
        Convert 1 HUF to CAD...
      </a>
    </li>
    <li>
      <a href="/HUF/CDF">
        Convert 1 HUF to CDF...
      </a>
    </li>
    <li>
      <a href="/HUF/CHF">
        Convert 1 HUF to CHF...
      </a>
    </li>
    <li>
      <a href="/HUF/CLF">
        Convert 1 HUF to CLF...
      </a>
    </li>
    <li>
      <a href="/HUF/CLP">
        Convert 1 HUF to CLP...
      </a>
    </li>
    <li>
      <a href="/HUF/CNH">
        Convert 1 HUF to CNH...
      </a>
    </li>
    <li>
      <a href="/HUF/CNY">
        Convert 1 HUF to CNY...
      </a>
    </li>
    <li>
      <a href="/HUF/COP">
        Convert 1 HUF to COP...
      </a>
    </li>
    <li>
      <a href="/HUF/CRC">
        Convert 1 HUF to CRC...
      </a>
    </li>
    <li>
      <a href="/HUF/CUC">
        Convert 1 HUF to CUC...
      </a>
    </li>
    <li>
      <a href="/HUF/CUP">
        Convert 1 HUF to CUP...
      </a>
    </li>
    <li>
      <a href="/HUF/CVE">
        Convert 1 HUF to CVE...
      </a>
    </li>
    <li>
      <a href="/HUF/CZK">
        Convert 1 HUF to CZK...
      </a>
    </li>
    <li>
      <a href="/HUF/DJF">
        Convert 1 HUF to DJF...
      </a>
    </li>
    <li>
      <a href="/HUF/DKK">
        Convert 1 HUF to DKK...
      </a>
    </li>
    <li>
      <a href="/HUF/DOP">
        Convert 1 HUF to DOP...
      </a>
    </li>
    <li>
      <a href="/HUF/DZD">
        Convert 1 HUF to DZD...
      </a>
    </li>
    <li>
      <a href="/HUF/EGP">
        Convert 1 HUF to EGP...
      </a>
    </li>
    <li>
      <a href="/HUF/ERN">
        Convert 1 HUF to ERN...
      </a>
    </li>
    <li>
      <a href="/HUF/ETB">
        Convert 1 HUF to ETB...
      </a>
    </li>
    <li>
      <a href="/HUF/EUR">
        Convert 1 HUF to EUR...
      </a>
    </li>
    <li>
      <a href="/HUF/FJD">
        Convert 1 HUF to FJD...
      </a>
    </li>
    <li>
      <a href="/HUF/FKP">
        Convert 1 HUF to FKP...
      </a>
    </li>
    <li>
      <a href="/HUF/GBP">
        Convert 1 HUF to GBP...
      </a>
    </li>
    <li>
      <a href="/HUF/GEL">
        Convert 1 HUF to GEL...
      </a>
    </li>
    <li>
      <a href="/HUF/GGP">
        Convert 1 HUF to GGP...
      </a>
    </li>
    <li>
      <a href="/HUF/GHS">
        Convert 1 HUF to GHS...
      </a>
    </li>
    <li>
      <a href="/HUF/GIP">
        Convert 1 HUF to GIP...
      </a>
    </li>
    <li>
      <a href="/HUF/GMD">
        Convert 1 HUF to GMD...
      </a>
    </li>
    <li>
      <a href="/HUF/GNF">
        Convert 1 HUF to GNF...
      </a>
    </li>
    <li>
      <a href="/HUF/GTQ">
        Convert 1 HUF to GTQ...
      </a>
    </li>
    <li>
      <a href="/HUF/GYD">
        Convert 1 HUF to GYD...
      </a>
    </li>
    <li>
      <a href="/HUF/HKD">
        Convert 1 HUF to HKD...
      </a>
    </li>
    <li>
      <a href="/HUF/HNL">
        Convert 1 HUF to HNL...
      </a>
    </li>
    <li>
      <a href="/HUF/HRK">
        Convert 1 HUF to HRK...
      </a>
    </li>
    <li>
      <a href="/HUF/HTG">
        Convert 1 HUF to HTG...
      </a>
    </li>
    <li>
      <a href="/HUF/HUF">
        Convert 1 HUF to HUF...
      </a>
    </li>
    <li>
      <a href="/HUF/IDR">
        Convert 1 HUF to IDR...
      </a>
    </li>
    <li>
      <a href="/HUF/ILS">
        Convert 1 HUF to ILS...
      </a>
    </li>
    <li>
      <a href="/HUF/IMP">
        Convert 1 HUF to IMP...
      </a>
    </li>
    <li>
      <a href="/HUF/INR">
        Convert 1 HUF to INR...
      </a>
    </li>
    <li>
      <a href="/HUF/IQD">
        Convert 1 HUF to IQD...
      </a>
    </li>
    <li>
      <a href="/HUF/IRR">
        Convert 1 HUF to IRR...
      </a>
    </li>
    <li>
      <a href="/HUF/ISK">
        Convert 1 HUF to ISK...
      </a>
    </li>
    <li>
      <a href="/HUF/JEP">
        Convert 1 HUF to JEP...
      </a>
    </li>
    <li>
      <a href="/HUF/JMD">
        Convert 1 HUF to JMD...
      </a>
    </li>
    <li>
      <a href="/HUF/JOD">
        Convert 1 HUF to JOD...
      </a>
    </li>
    <li>
      <a href="/HUF/JPY">
        Convert 1 HUF to JPY...
      </a>
    </li>
    <li>
      <a href="/HUF/KES">
        Convert 1 HUF to KES...
      </a>
    </li>
    <li>
      <a href="/HUF/KGS">
        Convert 1 HUF to KGS...
      </a>
    </li>
    <li>
      <a href="/HUF/KHR">
        Convert 1 HUF to KHR...
      </a>
    </li>
    <li>
      <a href="/HUF/KMF">
        Convert 1 HUF to KMF...
      </a>
    </li>
    <li>
      <a href="/HUF/KPW">
        Convert 1 HUF to KPW...
      </a>
    </li>
    <li>
      <a href="/HUF/KRW">
        Convert 1 HUF to KRW...
      </a>
    </li>
    <li>
      <a href="/HUF/KWD">
        Convert 1 HUF to KWD...
      </a>
    </li>
    <li>
      <a href="/HUF/KYD">
        Convert 1 HUF to KYD...
      </a>
    </li>
    <li>
      <a href="/HUF/KZT">
        Convert 1 HUF to KZT...
      </a>
    </li>
    <li>
      <a href="/HUF/LAK">
        Convert 1 HUF to LAK...
      </a>
    </li>
    <li>
      <a href="/HUF/LBP">
        Convert 1 HUF to LBP...
      </a>
    </li>
    <li>
      <a href="/HUF/LKR">
        Convert 1 HUF to LKR...
      </a>
    </li>
    <li>
      <a href="/HUF/LRD">
        Convert 1 HUF to LRD...
      </a>
    </li>
    <li>
      <a href="/HUF/LSL">
        Convert 1 HUF to LSL...
      </a>
    </li>
    <li>
      <a href="/HUF/LYD">
        Convert 1 HUF to LYD...
      </a>
    </li>
    <li>
      <a href="/HUF/MAD">
        Convert 1 HUF to MAD...
      </a>
    </li>
    <li>
      <a href="/HUF/MDL">
        Convert 1 HUF to MDL...
      </a>
    </li>
    <li>
      <a href="/HUF/MGA">
        Convert 1 HUF to MGA...
      </a>
    </li>
    <li>
      <a href="/HUF/MKD">
        Convert 1 HUF to MKD...
      </a>
    </li>
    <li>
      <a href="/HUF/MMK">
        Convert 1 HUF to MMK...
      </a>
    </li>
    <li>
      <a href="/HUF/MNT">
        Convert 1 HUF to MNT...
      </a>
    </li>
    <li>
      <a href="/HUF/MOP">
        Convert 1 HUF to MOP...
      </a>
    </li>
    <li>
      <a href="/HUF/MRO">
        Convert 1 HUF to MRO...
      </a>
    </li>
    <li>
      <a href="/HUF/MRU">
        Convert 1 HUF to MRU...
      </a>
    </li>
    <li>
      <a href="/HUF/MUR">
        Convert 1 HUF to MUR...
      </a>
    </li>
    <li>
      <a href="/HUF/MVR">
        Convert 1 HUF to MVR...
      </a>
    </li>
    <li>
      <a href="/HUF/MWK">
        Convert 1 HUF to MWK...
      </a>
    </li>
    <li>
      <a href="/HUF/MXN">
        Convert 1 HUF to MXN...
      </a>
    </li>
    <li>
      <a href="/HUF/MYR">
        Convert 1 HUF to MYR...
      </a>
    </li>
    <li>
      <a href="/HUF/MZN">
        Convert 1 HUF to MZN...
      </a>
    </li>
    <li>
      <a href="/HUF/NAD">
        Convert 1 HUF to NAD...
      </a>
    </li>
    <li>
      <a href="/HUF/NGN">
        Convert 1 HUF to NGN...
      </a>
    </li>
    <li>
      <a href="/HUF/NIO">
        Convert 1 HUF to NIO...
      </a>
    </li>
    <li>
      <a href="/HUF/NOK">
        Convert 1 HUF to NOK...
      </a>
    </li>
    <li>
      <a href="/HUF/NPR">
        Convert 1 HUF to NPR...
      </a>
    </li>
    <li>
      <a href="/HUF/NZD">
        Convert 1 HUF to NZD...
      </a>
    </li>
    <li>
      <a href="/HUF/OMR">
        Convert 1 HUF to OMR...
      </a>
    </li>
    <li>
      <a href="/HUF/PAB">
        Convert 1 HUF to PAB...
      </a>
    </li>
    <li>
      <a href="/HUF/PEN">
        Convert 1 HUF to PEN...
      </a>
    </li>
    <li>
      <a href="/HUF/PGK">
        Convert 1 HUF to PGK...
      </a>
    </li>
    <li>
      <a href="/HUF/PHP">
        Convert 1 HUF to PHP...
      </a>
    </li>
    <li>
      <a href="/HUF/PKR">
        Convert 1 HUF to PKR...
      </a>
    </li>
    <li>
      <a href="/HUF/PLN">
        Convert 1 HUF to PLN...
      </a>
    </li>
    <li>
      <a href="/HUF/PYG">
        Convert 1 HUF to PYG...
      </a>
    </li>
    <li>
      <a href="/HUF/QAR">
        Convert 1 HUF to QAR...
      </a>
    </li>
    <li>
      <a href="/HUF/RON">
        Convert 1 HUF to RON...
      </a>
    </li>
    <li>
      <a href="/HUF/RSD">
        Convert 1 HUF to RSD...
      </a>
    </li>
    <li>
      <a href="/HUF/RUB">
        Convert 1 HUF to RUB...
      </a>
    </li>
    <li>
      <a href="/HUF/RWF">
        Convert 1 HUF to RWF...
      </a>
    </li>
    <li>
      <a href="/HUF/SAR">
        Convert 1 HUF to SAR...
      </a>
    </li>
    <li>
      <a href="/HUF/SBD">
        Convert 1 HUF to SBD...
      </a>
    </li>
    <li>
      <a href="/HUF/SCR">
        Convert 1 HUF to SCR...
      </a>
    </li>
    <li>
      <a href="/HUF/SDG">
        Convert 1 HUF to SDG...
      </a>
    </li>
    <li>
      <a href="/HUF/SEK">
        Convert 1 HUF to SEK...
      </a>
    </li>
    <li>
      <a href="/HUF/SGD">
        Convert 1 HUF to SGD...
      </a>
    </li>
    <li>
      <a href="/HUF/SHP">
        Convert 1 HUF to SHP...
      </a>
    </li>
    <li>
      <a href="/HUF/SLL">
        Convert 1 HUF to SLL...
      </a>
    </li>
    <li>
      <a href="/HUF/SOS">
        Convert 1 HUF to SOS...
      </a>
    </li>
    <li>
      <a href="/HUF/SRD">
        Convert 1 HUF to SRD...
      </a>
    </li>
    <li>
      <a href="/HUF/SSP">
        Convert 1 HUF to SSP...
      </a>
    </li>
    <li>
      <a href="/HUF/STD">
        Convert 1 HUF to STD...
      </a>
    </li>
    <li>
      <a href="/HUF/STN">
        Convert 1 HUF to STN...
      </a>
    </li>
    <li>
      <a href="/HUF/SVC">
        Convert 1 HUF to SVC...
      </a>
    </li>
    <li>
      <a href="/HUF/SYP">
        Convert 1 HUF to SYP...
      </a>
    </li>
    <li>
      <a href="/HUF/SZL">
        Convert 1 HUF to SZL...
      </a>
    </li>
    <li>
      <a href="/HUF/THB">
        Convert 1 HUF to THB...
      </a>
    </li>
    <li>
      <a href="/HUF/TJS">
        Convert 1 HUF to TJS...
      </a>
    </li>
    <li>
      <a href="/HUF/TMT">
        Convert 1 HUF to TMT...
      </a>
    </li>
    <li>
      <a href="/HUF/TND">
        Convert 1 HUF to TND...
      </a>
    </li>
    <li>
      <a href="/HUF/TOP">
        Convert 1 HUF to TOP...
      </a>
    </li>
    <li>
      <a href="/HUF/TRY">
        Convert 1 HUF to TRY...
      </a>
    </li>
    <li>
      <a href="/HUF/TTD">
        Convert 1 HUF to TTD...
      </a>
    </li>
    <li>
      <a href="/HUF/TWD">
        Convert 1 HUF to TWD...
      </a>
    </li>
    <li>
      <a href="/HUF/TZS">
        Convert 1 HUF to TZS...
      </a>
    </li>
    <li>
      <a href="/HUF/UAH">
        Convert 1 HUF to UAH...
      </a>
    </li>
    <li>
      <a href="/HUF/UGX">
        Convert 1 HUF to UGX...
      </a>
    </li>
    <li>
      <a href="/HUF/USD">
        Convert 1 HUF to USD...
      </a>
    </li>
    <li>
      <a href="/HUF/UYU">
        Convert 1 HUF to UYU...
      </a>
    </li>
    <li>
      <a href="/HUF/UZS">
        Convert 1 HUF to UZS...
      </a>
    </li>
    <li>
      <a href="/HUF/VEF">
        Convert 1 HUF to VEF...
      </a>
    </li>
    <li>
      <a href="/HUF/VES">
        Convert 1 HUF to VES...
      </a>
    </li>
    <li>
      <a href="/HUF/VND">
        Convert 1 HUF to VND...
      </a>
    </li>
    <li>
      <a href="/HUF/VUV">
        Convert 1 HUF to VUV...
      </a>
    </li>
    <li>
      <a href="/HUF/WST">
        Convert 1 HUF to WST...
      </a>
    </li>
    <li>
      <a href="/HUF/XAF">
        Convert 1 HUF to XAF...
      </a>
    </li>
    <li>
      <a href="/HUF/XAG">
        Convert 1 HUF to XAG...
      </a>
    </li>
    <li>
      <a href="/HUF/XAU">
        Convert 1 HUF to XAU...
      </a>
    </li>
    <li>
      <a href="/HUF/XCD">
        Convert 1 HUF to XCD...
      </a>
    </li>
    <li>
      <a href="/HUF/XDR">
        Convert 1 HUF to XDR...
      </a>
    </li>
    <li>
      <a href="/HUF/XOF">
        Convert 1 HUF to XOF...
      </a>
    </li>
    <li>
      <a href="/HUF/XPD">
        Convert 1 HUF to XPD...
      </a>
    </li>
    <li>
      <a href="/HUF/XPF">
        Convert 1 HUF to XPF...
      </a>
    </li>
    <li>
      <a href="/HUF/XPT">
        Convert 1 HUF to XPT...
      </a>
    </li>
    <li>
      <a href="/HUF/YER">
        Convert 1 HUF to YER...
      </a>
    </li>
    <li>
      <a href="/HUF/ZAR">
        Convert 1 HUF to ZAR...
      </a>
    </li>
    <li>
      <a href="/HUF/ZMW">
        Convert 1 HUF to ZMW...
      </a>
    </li>
    <li>
      <a href="/HUF/ZWL">
        Convert 1 HUF to ZWL...
      </a>
    </li>
</ul>
</body>
