<body>
    <h1>Convert ILS</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/ILS/AED">
        Convert 1 ILS to AED...
      </a>
    </li>
    <li>
      <a href="/ILS/AFN">
        Convert 1 ILS to AFN...
      </a>
    </li>
    <li>
      <a href="/ILS/ALL">
        Convert 1 ILS to ALL...
      </a>
    </li>
    <li>
      <a href="/ILS/AMD">
        Convert 1 ILS to AMD...
      </a>
    </li>
    <li>
      <a href="/ILS/ANG">
        Convert 1 ILS to ANG...
      </a>
    </li>
    <li>
      <a href="/ILS/AOA">
        Convert 1 ILS to AOA...
      </a>
    </li>
    <li>
      <a href="/ILS/ARS">
        Convert 1 ILS to ARS...
      </a>
    </li>
    <li>
      <a href="/ILS/AUD">
        Convert 1 ILS to AUD...
      </a>
    </li>
    <li>
      <a href="/ILS/AWG">
        Convert 1 ILS to AWG...
      </a>
    </li>
    <li>
      <a href="/ILS/AZN">
        Convert 1 ILS to AZN...
      </a>
    </li>
    <li>
      <a href="/ILS/BAM">
        Convert 1 ILS to BAM...
      </a>
    </li>
    <li>
      <a href="/ILS/BBD">
        Convert 1 ILS to BBD...
      </a>
    </li>
    <li>
      <a href="/ILS/BDT">
        Convert 1 ILS to BDT...
      </a>
    </li>
    <li>
      <a href="/ILS/BGN">
        Convert 1 ILS to BGN...
      </a>
    </li>
    <li>
      <a href="/ILS/BHD">
        Convert 1 ILS to BHD...
      </a>
    </li>
    <li>
      <a href="/ILS/BIF">
        Convert 1 ILS to BIF...
      </a>
    </li>
    <li>
      <a href="/ILS/BMD">
        Convert 1 ILS to BMD...
      </a>
    </li>
    <li>
      <a href="/ILS/BND">
        Convert 1 ILS to BND...
      </a>
    </li>
    <li>
      <a href="/ILS/BOB">
        Convert 1 ILS to BOB...
      </a>
    </li>
    <li>
      <a href="/ILS/BRL">
        Convert 1 ILS to BRL...
      </a>
    </li>
    <li>
      <a href="/ILS/BSD">
        Convert 1 ILS to BSD...
      </a>
    </li>
    <li>
      <a href="/ILS/BTC">
        Convert 1 ILS to BTC...
      </a>
    </li>
    <li>
      <a href="/ILS/BTN">
        Convert 1 ILS to BTN...
      </a>
    </li>
    <li>
      <a href="/ILS/BWP">
        Convert 1 ILS to BWP...
      </a>
    </li>
    <li>
      <a href="/ILS/BYN">
        Convert 1 ILS to BYN...
      </a>
    </li>
    <li>
      <a href="/ILS/BZD">
        Convert 1 ILS to BZD...
      </a>
    </li>
    <li>
      <a href="/ILS/CAD">
        Convert 1 ILS to CAD...
      </a>
    </li>
    <li>
      <a href="/ILS/CDF">
        Convert 1 ILS to CDF...
      </a>
    </li>
    <li>
      <a href="/ILS/CHF">
        Convert 1 ILS to CHF...
      </a>
    </li>
    <li>
      <a href="/ILS/CLF">
        Convert 1 ILS to CLF...
      </a>
    </li>
    <li>
      <a href="/ILS/CLP">
        Convert 1 ILS to CLP...
      </a>
    </li>
    <li>
      <a href="/ILS/CNH">
        Convert 1 ILS to CNH...
      </a>
    </li>
    <li>
      <a href="/ILS/CNY">
        Convert 1 ILS to CNY...
      </a>
    </li>
    <li>
      <a href="/ILS/COP">
        Convert 1 ILS to COP...
      </a>
    </li>
    <li>
      <a href="/ILS/CRC">
        Convert 1 ILS to CRC...
      </a>
    </li>
    <li>
      <a href="/ILS/CUC">
        Convert 1 ILS to CUC...
      </a>
    </li>
    <li>
      <a href="/ILS/CUP">
        Convert 1 ILS to CUP...
      </a>
    </li>
    <li>
      <a href="/ILS/CVE">
        Convert 1 ILS to CVE...
      </a>
    </li>
    <li>
      <a href="/ILS/CZK">
        Convert 1 ILS to CZK...
      </a>
    </li>
    <li>
      <a href="/ILS/DJF">
        Convert 1 ILS to DJF...
      </a>
    </li>
    <li>
      <a href="/ILS/DKK">
        Convert 1 ILS to DKK...
      </a>
    </li>
    <li>
      <a href="/ILS/DOP">
        Convert 1 ILS to DOP...
      </a>
    </li>
    <li>
      <a href="/ILS/DZD">
        Convert 1 ILS to DZD...
      </a>
    </li>
    <li>
      <a href="/ILS/EGP">
        Convert 1 ILS to EGP...
      </a>
    </li>
    <li>
      <a href="/ILS/ERN">
        Convert 1 ILS to ERN...
      </a>
    </li>
    <li>
      <a href="/ILS/ETB">
        Convert 1 ILS to ETB...
      </a>
    </li>
    <li>
      <a href="/ILS/EUR">
        Convert 1 ILS to EUR...
      </a>
    </li>
    <li>
      <a href="/ILS/FJD">
        Convert 1 ILS to FJD...
      </a>
    </li>
    <li>
      <a href="/ILS/FKP">
        Convert 1 ILS to FKP...
      </a>
    </li>
    <li>
      <a href="/ILS/GBP">
        Convert 1 ILS to GBP...
      </a>
    </li>
    <li>
      <a href="/ILS/GEL">
        Convert 1 ILS to GEL...
      </a>
    </li>
    <li>
      <a href="/ILS/GGP">
        Convert 1 ILS to GGP...
      </a>
    </li>
    <li>
      <a href="/ILS/GHS">
        Convert 1 ILS to GHS...
      </a>
    </li>
    <li>
      <a href="/ILS/GIP">
        Convert 1 ILS to GIP...
      </a>
    </li>
    <li>
      <a href="/ILS/GMD">
        Convert 1 ILS to GMD...
      </a>
    </li>
    <li>
      <a href="/ILS/GNF">
        Convert 1 ILS to GNF...
      </a>
    </li>
    <li>
      <a href="/ILS/GTQ">
        Convert 1 ILS to GTQ...
      </a>
    </li>
    <li>
      <a href="/ILS/GYD">
        Convert 1 ILS to GYD...
      </a>
    </li>
    <li>
      <a href="/ILS/HKD">
        Convert 1 ILS to HKD...
      </a>
    </li>
    <li>
      <a href="/ILS/HNL">
        Convert 1 ILS to HNL...
      </a>
    </li>
    <li>
      <a href="/ILS/HRK">
        Convert 1 ILS to HRK...
      </a>
    </li>
    <li>
      <a href="/ILS/HTG">
        Convert 1 ILS to HTG...
      </a>
    </li>
    <li>
      <a href="/ILS/HUF">
        Convert 1 ILS to HUF...
      </a>
    </li>
    <li>
      <a href="/ILS/IDR">
        Convert 1 ILS to IDR...
      </a>
    </li>
    <li>
      <a href="/ILS/ILS">
        Convert 1 ILS to ILS...
      </a>
    </li>
    <li>
      <a href="/ILS/IMP">
        Convert 1 ILS to IMP...
      </a>
    </li>
    <li>
      <a href="/ILS/INR">
        Convert 1 ILS to INR...
      </a>
    </li>
    <li>
      <a href="/ILS/IQD">
        Convert 1 ILS to IQD...
      </a>
    </li>
    <li>
      <a href="/ILS/IRR">
        Convert 1 ILS to IRR...
      </a>
    </li>
    <li>
      <a href="/ILS/ISK">
        Convert 1 ILS to ISK...
      </a>
    </li>
    <li>
      <a href="/ILS/JEP">
        Convert 1 ILS to JEP...
      </a>
    </li>
    <li>
      <a href="/ILS/JMD">
        Convert 1 ILS to JMD...
      </a>
    </li>
    <li>
      <a href="/ILS/JOD">
        Convert 1 ILS to JOD...
      </a>
    </li>
    <li>
      <a href="/ILS/JPY">
        Convert 1 ILS to JPY...
      </a>
    </li>
    <li>
      <a href="/ILS/KES">
        Convert 1 ILS to KES...
      </a>
    </li>
    <li>
      <a href="/ILS/KGS">
        Convert 1 ILS to KGS...
      </a>
    </li>
    <li>
      <a href="/ILS/KHR">
        Convert 1 ILS to KHR...
      </a>
    </li>
    <li>
      <a href="/ILS/KMF">
        Convert 1 ILS to KMF...
      </a>
    </li>
    <li>
      <a href="/ILS/KPW">
        Convert 1 ILS to KPW...
      </a>
    </li>
    <li>
      <a href="/ILS/KRW">
        Convert 1 ILS to KRW...
      </a>
    </li>
    <li>
      <a href="/ILS/KWD">
        Convert 1 ILS to KWD...
      </a>
    </li>
    <li>
      <a href="/ILS/KYD">
        Convert 1 ILS to KYD...
      </a>
    </li>
    <li>
      <a href="/ILS/KZT">
        Convert 1 ILS to KZT...
      </a>
    </li>
    <li>
      <a href="/ILS/LAK">
        Convert 1 ILS to LAK...
      </a>
    </li>
    <li>
      <a href="/ILS/LBP">
        Convert 1 ILS to LBP...
      </a>
    </li>
    <li>
      <a href="/ILS/LKR">
        Convert 1 ILS to LKR...
      </a>
    </li>
    <li>
      <a href="/ILS/LRD">
        Convert 1 ILS to LRD...
      </a>
    </li>
    <li>
      <a href="/ILS/LSL">
        Convert 1 ILS to LSL...
      </a>
    </li>
    <li>
      <a href="/ILS/LYD">
        Convert 1 ILS to LYD...
      </a>
    </li>
    <li>
      <a href="/ILS/MAD">
        Convert 1 ILS to MAD...
      </a>
    </li>
    <li>
      <a href="/ILS/MDL">
        Convert 1 ILS to MDL...
      </a>
    </li>
    <li>
      <a href="/ILS/MGA">
        Convert 1 ILS to MGA...
      </a>
    </li>
    <li>
      <a href="/ILS/MKD">
        Convert 1 ILS to MKD...
      </a>
    </li>
    <li>
      <a href="/ILS/MMK">
        Convert 1 ILS to MMK...
      </a>
    </li>
    <li>
      <a href="/ILS/MNT">
        Convert 1 ILS to MNT...
      </a>
    </li>
    <li>
      <a href="/ILS/MOP">
        Convert 1 ILS to MOP...
      </a>
    </li>
    <li>
      <a href="/ILS/MRO">
        Convert 1 ILS to MRO...
      </a>
    </li>
    <li>
      <a href="/ILS/MRU">
        Convert 1 ILS to MRU...
      </a>
    </li>
    <li>
      <a href="/ILS/MUR">
        Convert 1 ILS to MUR...
      </a>
    </li>
    <li>
      <a href="/ILS/MVR">
        Convert 1 ILS to MVR...
      </a>
    </li>
    <li>
      <a href="/ILS/MWK">
        Convert 1 ILS to MWK...
      </a>
    </li>
    <li>
      <a href="/ILS/MXN">
        Convert 1 ILS to MXN...
      </a>
    </li>
    <li>
      <a href="/ILS/MYR">
        Convert 1 ILS to MYR...
      </a>
    </li>
    <li>
      <a href="/ILS/MZN">
        Convert 1 ILS to MZN...
      </a>
    </li>
    <li>
      <a href="/ILS/NAD">
        Convert 1 ILS to NAD...
      </a>
    </li>
    <li>
      <a href="/ILS/NGN">
        Convert 1 ILS to NGN...
      </a>
    </li>
    <li>
      <a href="/ILS/NIO">
        Convert 1 ILS to NIO...
      </a>
    </li>
    <li>
      <a href="/ILS/NOK">
        Convert 1 ILS to NOK...
      </a>
    </li>
    <li>
      <a href="/ILS/NPR">
        Convert 1 ILS to NPR...
      </a>
    </li>
    <li>
      <a href="/ILS/NZD">
        Convert 1 ILS to NZD...
      </a>
    </li>
    <li>
      <a href="/ILS/OMR">
        Convert 1 ILS to OMR...
      </a>
    </li>
    <li>
      <a href="/ILS/PAB">
        Convert 1 ILS to PAB...
      </a>
    </li>
    <li>
      <a href="/ILS/PEN">
        Convert 1 ILS to PEN...
      </a>
    </li>
    <li>
      <a href="/ILS/PGK">
        Convert 1 ILS to PGK...
      </a>
    </li>
    <li>
      <a href="/ILS/PHP">
        Convert 1 ILS to PHP...
      </a>
    </li>
    <li>
      <a href="/ILS/PKR">
        Convert 1 ILS to PKR...
      </a>
    </li>
    <li>
      <a href="/ILS/PLN">
        Convert 1 ILS to PLN...
      </a>
    </li>
    <li>
      <a href="/ILS/PYG">
        Convert 1 ILS to PYG...
      </a>
    </li>
    <li>
      <a href="/ILS/QAR">
        Convert 1 ILS to QAR...
      </a>
    </li>
    <li>
      <a href="/ILS/RON">
        Convert 1 ILS to RON...
      </a>
    </li>
    <li>
      <a href="/ILS/RSD">
        Convert 1 ILS to RSD...
      </a>
    </li>
    <li>
      <a href="/ILS/RUB">
        Convert 1 ILS to RUB...
      </a>
    </li>
    <li>
      <a href="/ILS/RWF">
        Convert 1 ILS to RWF...
      </a>
    </li>
    <li>
      <a href="/ILS/SAR">
        Convert 1 ILS to SAR...
      </a>
    </li>
    <li>
      <a href="/ILS/SBD">
        Convert 1 ILS to SBD...
      </a>
    </li>
    <li>
      <a href="/ILS/SCR">
        Convert 1 ILS to SCR...
      </a>
    </li>
    <li>
      <a href="/ILS/SDG">
        Convert 1 ILS to SDG...
      </a>
    </li>
    <li>
      <a href="/ILS/SEK">
        Convert 1 ILS to SEK...
      </a>
    </li>
    <li>
      <a href="/ILS/SGD">
        Convert 1 ILS to SGD...
      </a>
    </li>
    <li>
      <a href="/ILS/SHP">
        Convert 1 ILS to SHP...
      </a>
    </li>
    <li>
      <a href="/ILS/SLL">
        Convert 1 ILS to SLL...
      </a>
    </li>
    <li>
      <a href="/ILS/SOS">
        Convert 1 ILS to SOS...
      </a>
    </li>
    <li>
      <a href="/ILS/SRD">
        Convert 1 ILS to SRD...
      </a>
    </li>
    <li>
      <a href="/ILS/SSP">
        Convert 1 ILS to SSP...
      </a>
    </li>
    <li>
      <a href="/ILS/STD">
        Convert 1 ILS to STD...
      </a>
    </li>
    <li>
      <a href="/ILS/STN">
        Convert 1 ILS to STN...
      </a>
    </li>
    <li>
      <a href="/ILS/SVC">
        Convert 1 ILS to SVC...
      </a>
    </li>
    <li>
      <a href="/ILS/SYP">
        Convert 1 ILS to SYP...
      </a>
    </li>
    <li>
      <a href="/ILS/SZL">
        Convert 1 ILS to SZL...
      </a>
    </li>
    <li>
      <a href="/ILS/THB">
        Convert 1 ILS to THB...
      </a>
    </li>
    <li>
      <a href="/ILS/TJS">
        Convert 1 ILS to TJS...
      </a>
    </li>
    <li>
      <a href="/ILS/TMT">
        Convert 1 ILS to TMT...
      </a>
    </li>
    <li>
      <a href="/ILS/TND">
        Convert 1 ILS to TND...
      </a>
    </li>
    <li>
      <a href="/ILS/TOP">
        Convert 1 ILS to TOP...
      </a>
    </li>
    <li>
      <a href="/ILS/TRY">
        Convert 1 ILS to TRY...
      </a>
    </li>
    <li>
      <a href="/ILS/TTD">
        Convert 1 ILS to TTD...
      </a>
    </li>
    <li>
      <a href="/ILS/TWD">
        Convert 1 ILS to TWD...
      </a>
    </li>
    <li>
      <a href="/ILS/TZS">
        Convert 1 ILS to TZS...
      </a>
    </li>
    <li>
      <a href="/ILS/UAH">
        Convert 1 ILS to UAH...
      </a>
    </li>
    <li>
      <a href="/ILS/UGX">
        Convert 1 ILS to UGX...
      </a>
    </li>
    <li>
      <a href="/ILS/USD">
        Convert 1 ILS to USD...
      </a>
    </li>
    <li>
      <a href="/ILS/UYU">
        Convert 1 ILS to UYU...
      </a>
    </li>
    <li>
      <a href="/ILS/UZS">
        Convert 1 ILS to UZS...
      </a>
    </li>
    <li>
      <a href="/ILS/VEF">
        Convert 1 ILS to VEF...
      </a>
    </li>
    <li>
      <a href="/ILS/VES">
        Convert 1 ILS to VES...
      </a>
    </li>
    <li>
      <a href="/ILS/VND">
        Convert 1 ILS to VND...
      </a>
    </li>
    <li>
      <a href="/ILS/VUV">
        Convert 1 ILS to VUV...
      </a>
    </li>
    <li>
      <a href="/ILS/WST">
        Convert 1 ILS to WST...
      </a>
    </li>
    <li>
      <a href="/ILS/XAF">
        Convert 1 ILS to XAF...
      </a>
    </li>
    <li>
      <a href="/ILS/XAG">
        Convert 1 ILS to XAG...
      </a>
    </li>
    <li>
      <a href="/ILS/XAU">
        Convert 1 ILS to XAU...
      </a>
    </li>
    <li>
      <a href="/ILS/XCD">
        Convert 1 ILS to XCD...
      </a>
    </li>
    <li>
      <a href="/ILS/XDR">
        Convert 1 ILS to XDR...
      </a>
    </li>
    <li>
      <a href="/ILS/XOF">
        Convert 1 ILS to XOF...
      </a>
    </li>
    <li>
      <a href="/ILS/XPD">
        Convert 1 ILS to XPD...
      </a>
    </li>
    <li>
      <a href="/ILS/XPF">
        Convert 1 ILS to XPF...
      </a>
    </li>
    <li>
      <a href="/ILS/XPT">
        Convert 1 ILS to XPT...
      </a>
    </li>
    <li>
      <a href="/ILS/YER">
        Convert 1 ILS to YER...
      </a>
    </li>
    <li>
      <a href="/ILS/ZAR">
        Convert 1 ILS to ZAR...
      </a>
    </li>
    <li>
      <a href="/ILS/ZMW">
        Convert 1 ILS to ZMW...
      </a>
    </li>
    <li>
      <a href="/ILS/ZWL">
        Convert 1 ILS to ZWL...
      </a>
    </li>
</ul>
</body>
