<body>
    <h1>Convert INR</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/INR/AED">
        Convert 1 INR to AED...
      </a>
    </li>
    <li>
      <a href="/INR/AFN">
        Convert 1 INR to AFN...
      </a>
    </li>
    <li>
      <a href="/INR/ALL">
        Convert 1 INR to ALL...
      </a>
    </li>
    <li>
      <a href="/INR/AMD">
        Convert 1 INR to AMD...
      </a>
    </li>
    <li>
      <a href="/INR/ANG">
        Convert 1 INR to ANG...
      </a>
    </li>
    <li>
      <a href="/INR/AOA">
        Convert 1 INR to AOA...
      </a>
    </li>
    <li>
      <a href="/INR/ARS">
        Convert 1 INR to ARS...
      </a>
    </li>
    <li>
      <a href="/INR/AUD">
        Convert 1 INR to AUD...
      </a>
    </li>
    <li>
      <a href="/INR/AWG">
        Convert 1 INR to AWG...
      </a>
    </li>
    <li>
      <a href="/INR/AZN">
        Convert 1 INR to AZN...
      </a>
    </li>
    <li>
      <a href="/INR/BAM">
        Convert 1 INR to BAM...
      </a>
    </li>
    <li>
      <a href="/INR/BBD">
        Convert 1 INR to BBD...
      </a>
    </li>
    <li>
      <a href="/INR/BDT">
        Convert 1 INR to BDT...
      </a>
    </li>
    <li>
      <a href="/INR/BGN">
        Convert 1 INR to BGN...
      </a>
    </li>
    <li>
      <a href="/INR/BHD">
        Convert 1 INR to BHD...
      </a>
    </li>
    <li>
      <a href="/INR/BIF">
        Convert 1 INR to BIF...
      </a>
    </li>
    <li>
      <a href="/INR/BMD">
        Convert 1 INR to BMD...
      </a>
    </li>
    <li>
      <a href="/INR/BND">
        Convert 1 INR to BND...
      </a>
    </li>
    <li>
      <a href="/INR/BOB">
        Convert 1 INR to BOB...
      </a>
    </li>
    <li>
      <a href="/INR/BRL">
        Convert 1 INR to BRL...
      </a>
    </li>
    <li>
      <a href="/INR/BSD">
        Convert 1 INR to BSD...
      </a>
    </li>
    <li>
      <a href="/INR/BTC">
        Convert 1 INR to BTC...
      </a>
    </li>
    <li>
      <a href="/INR/BTN">
        Convert 1 INR to BTN...
      </a>
    </li>
    <li>
      <a href="/INR/BWP">
        Convert 1 INR to BWP...
      </a>
    </li>
    <li>
      <a href="/INR/BYN">
        Convert 1 INR to BYN...
      </a>
    </li>
    <li>
      <a href="/INR/BZD">
        Convert 1 INR to BZD...
      </a>
    </li>
    <li>
      <a href="/INR/CAD">
        Convert 1 INR to CAD...
      </a>
    </li>
    <li>
      <a href="/INR/CDF">
        Convert 1 INR to CDF...
      </a>
    </li>
    <li>
      <a href="/INR/CHF">
        Convert 1 INR to CHF...
      </a>
    </li>
    <li>
      <a href="/INR/CLF">
        Convert 1 INR to CLF...
      </a>
    </li>
    <li>
      <a href="/INR/CLP">
        Convert 1 INR to CLP...
      </a>
    </li>
    <li>
      <a href="/INR/CNH">
        Convert 1 INR to CNH...
      </a>
    </li>
    <li>
      <a href="/INR/CNY">
        Convert 1 INR to CNY...
      </a>
    </li>
    <li>
      <a href="/INR/COP">
        Convert 1 INR to COP...
      </a>
    </li>
    <li>
      <a href="/INR/CRC">
        Convert 1 INR to CRC...
      </a>
    </li>
    <li>
      <a href="/INR/CUC">
        Convert 1 INR to CUC...
      </a>
    </li>
    <li>
      <a href="/INR/CUP">
        Convert 1 INR to CUP...
      </a>
    </li>
    <li>
      <a href="/INR/CVE">
        Convert 1 INR to CVE...
      </a>
    </li>
    <li>
      <a href="/INR/CZK">
        Convert 1 INR to CZK...
      </a>
    </li>
    <li>
      <a href="/INR/DJF">
        Convert 1 INR to DJF...
      </a>
    </li>
    <li>
      <a href="/INR/DKK">
        Convert 1 INR to DKK...
      </a>
    </li>
    <li>
      <a href="/INR/DOP">
        Convert 1 INR to DOP...
      </a>
    </li>
    <li>
      <a href="/INR/DZD">
        Convert 1 INR to DZD...
      </a>
    </li>
    <li>
      <a href="/INR/EGP">
        Convert 1 INR to EGP...
      </a>
    </li>
    <li>
      <a href="/INR/ERN">
        Convert 1 INR to ERN...
      </a>
    </li>
    <li>
      <a href="/INR/ETB">
        Convert 1 INR to ETB...
      </a>
    </li>
    <li>
      <a href="/INR/EUR">
        Convert 1 INR to EUR...
      </a>
    </li>
    <li>
      <a href="/INR/FJD">
        Convert 1 INR to FJD...
      </a>
    </li>
    <li>
      <a href="/INR/FKP">
        Convert 1 INR to FKP...
      </a>
    </li>
    <li>
      <a href="/INR/GBP">
        Convert 1 INR to GBP...
      </a>
    </li>
    <li>
      <a href="/INR/GEL">
        Convert 1 INR to GEL...
      </a>
    </li>
    <li>
      <a href="/INR/GGP">
        Convert 1 INR to GGP...
      </a>
    </li>
    <li>
      <a href="/INR/GHS">
        Convert 1 INR to GHS...
      </a>
    </li>
    <li>
      <a href="/INR/GIP">
        Convert 1 INR to GIP...
      </a>
    </li>
    <li>
      <a href="/INR/GMD">
        Convert 1 INR to GMD...
      </a>
    </li>
    <li>
      <a href="/INR/GNF">
        Convert 1 INR to GNF...
      </a>
    </li>
    <li>
      <a href="/INR/GTQ">
        Convert 1 INR to GTQ...
      </a>
    </li>
    <li>
      <a href="/INR/GYD">
        Convert 1 INR to GYD...
      </a>
    </li>
    <li>
      <a href="/INR/HKD">
        Convert 1 INR to HKD...
      </a>
    </li>
    <li>
      <a href="/INR/HNL">
        Convert 1 INR to HNL...
      </a>
    </li>
    <li>
      <a href="/INR/HRK">
        Convert 1 INR to HRK...
      </a>
    </li>
    <li>
      <a href="/INR/HTG">
        Convert 1 INR to HTG...
      </a>
    </li>
    <li>
      <a href="/INR/HUF">
        Convert 1 INR to HUF...
      </a>
    </li>
    <li>
      <a href="/INR/IDR">
        Convert 1 INR to IDR...
      </a>
    </li>
    <li>
      <a href="/INR/ILS">
        Convert 1 INR to ILS...
      </a>
    </li>
    <li>
      <a href="/INR/IMP">
        Convert 1 INR to IMP...
      </a>
    </li>
    <li>
      <a href="/INR/INR">
        Convert 1 INR to INR...
      </a>
    </li>
    <li>
      <a href="/INR/IQD">
        Convert 1 INR to IQD...
      </a>
    </li>
    <li>
      <a href="/INR/IRR">
        Convert 1 INR to IRR...
      </a>
    </li>
    <li>
      <a href="/INR/ISK">
        Convert 1 INR to ISK...
      </a>
    </li>
    <li>
      <a href="/INR/JEP">
        Convert 1 INR to JEP...
      </a>
    </li>
    <li>
      <a href="/INR/JMD">
        Convert 1 INR to JMD...
      </a>
    </li>
    <li>
      <a href="/INR/JOD">
        Convert 1 INR to JOD...
      </a>
    </li>
    <li>
      <a href="/INR/JPY">
        Convert 1 INR to JPY...
      </a>
    </li>
    <li>
      <a href="/INR/KES">
        Convert 1 INR to KES...
      </a>
    </li>
    <li>
      <a href="/INR/KGS">
        Convert 1 INR to KGS...
      </a>
    </li>
    <li>
      <a href="/INR/KHR">
        Convert 1 INR to KHR...
      </a>
    </li>
    <li>
      <a href="/INR/KMF">
        Convert 1 INR to KMF...
      </a>
    </li>
    <li>
      <a href="/INR/KPW">
        Convert 1 INR to KPW...
      </a>
    </li>
    <li>
      <a href="/INR/KRW">
        Convert 1 INR to KRW...
      </a>
    </li>
    <li>
      <a href="/INR/KWD">
        Convert 1 INR to KWD...
      </a>
    </li>
    <li>
      <a href="/INR/KYD">
        Convert 1 INR to KYD...
      </a>
    </li>
    <li>
      <a href="/INR/KZT">
        Convert 1 INR to KZT...
      </a>
    </li>
    <li>
      <a href="/INR/LAK">
        Convert 1 INR to LAK...
      </a>
    </li>
    <li>
      <a href="/INR/LBP">
        Convert 1 INR to LBP...
      </a>
    </li>
    <li>
      <a href="/INR/LKR">
        Convert 1 INR to LKR...
      </a>
    </li>
    <li>
      <a href="/INR/LRD">
        Convert 1 INR to LRD...
      </a>
    </li>
    <li>
      <a href="/INR/LSL">
        Convert 1 INR to LSL...
      </a>
    </li>
    <li>
      <a href="/INR/LYD">
        Convert 1 INR to LYD...
      </a>
    </li>
    <li>
      <a href="/INR/MAD">
        Convert 1 INR to MAD...
      </a>
    </li>
    <li>
      <a href="/INR/MDL">
        Convert 1 INR to MDL...
      </a>
    </li>
    <li>
      <a href="/INR/MGA">
        Convert 1 INR to MGA...
      </a>
    </li>
    <li>
      <a href="/INR/MKD">
        Convert 1 INR to MKD...
      </a>
    </li>
    <li>
      <a href="/INR/MMK">
        Convert 1 INR to MMK...
      </a>
    </li>
    <li>
      <a href="/INR/MNT">
        Convert 1 INR to MNT...
      </a>
    </li>
    <li>
      <a href="/INR/MOP">
        Convert 1 INR to MOP...
      </a>
    </li>
    <li>
      <a href="/INR/MRO">
        Convert 1 INR to MRO...
      </a>
    </li>
    <li>
      <a href="/INR/MRU">
        Convert 1 INR to MRU...
      </a>
    </li>
    <li>
      <a href="/INR/MUR">
        Convert 1 INR to MUR...
      </a>
    </li>
    <li>
      <a href="/INR/MVR">
        Convert 1 INR to MVR...
      </a>
    </li>
    <li>
      <a href="/INR/MWK">
        Convert 1 INR to MWK...
      </a>
    </li>
    <li>
      <a href="/INR/MXN">
        Convert 1 INR to MXN...
      </a>
    </li>
    <li>
      <a href="/INR/MYR">
        Convert 1 INR to MYR...
      </a>
    </li>
    <li>
      <a href="/INR/MZN">
        Convert 1 INR to MZN...
      </a>
    </li>
    <li>
      <a href="/INR/NAD">
        Convert 1 INR to NAD...
      </a>
    </li>
    <li>
      <a href="/INR/NGN">
        Convert 1 INR to NGN...
      </a>
    </li>
    <li>
      <a href="/INR/NIO">
        Convert 1 INR to NIO...
      </a>
    </li>
    <li>
      <a href="/INR/NOK">
        Convert 1 INR to NOK...
      </a>
    </li>
    <li>
      <a href="/INR/NPR">
        Convert 1 INR to NPR...
      </a>
    </li>
    <li>
      <a href="/INR/NZD">
        Convert 1 INR to NZD...
      </a>
    </li>
    <li>
      <a href="/INR/OMR">
        Convert 1 INR to OMR...
      </a>
    </li>
    <li>
      <a href="/INR/PAB">
        Convert 1 INR to PAB...
      </a>
    </li>
    <li>
      <a href="/INR/PEN">
        Convert 1 INR to PEN...
      </a>
    </li>
    <li>
      <a href="/INR/PGK">
        Convert 1 INR to PGK...
      </a>
    </li>
    <li>
      <a href="/INR/PHP">
        Convert 1 INR to PHP...
      </a>
    </li>
    <li>
      <a href="/INR/PKR">
        Convert 1 INR to PKR...
      </a>
    </li>
    <li>
      <a href="/INR/PLN">
        Convert 1 INR to PLN...
      </a>
    </li>
    <li>
      <a href="/INR/PYG">
        Convert 1 INR to PYG...
      </a>
    </li>
    <li>
      <a href="/INR/QAR">
        Convert 1 INR to QAR...
      </a>
    </li>
    <li>
      <a href="/INR/RON">
        Convert 1 INR to RON...
      </a>
    </li>
    <li>
      <a href="/INR/RSD">
        Convert 1 INR to RSD...
      </a>
    </li>
    <li>
      <a href="/INR/RUB">
        Convert 1 INR to RUB...
      </a>
    </li>
    <li>
      <a href="/INR/RWF">
        Convert 1 INR to RWF...
      </a>
    </li>
    <li>
      <a href="/INR/SAR">
        Convert 1 INR to SAR...
      </a>
    </li>
    <li>
      <a href="/INR/SBD">
        Convert 1 INR to SBD...
      </a>
    </li>
    <li>
      <a href="/INR/SCR">
        Convert 1 INR to SCR...
      </a>
    </li>
    <li>
      <a href="/INR/SDG">
        Convert 1 INR to SDG...
      </a>
    </li>
    <li>
      <a href="/INR/SEK">
        Convert 1 INR to SEK...
      </a>
    </li>
    <li>
      <a href="/INR/SGD">
        Convert 1 INR to SGD...
      </a>
    </li>
    <li>
      <a href="/INR/SHP">
        Convert 1 INR to SHP...
      </a>
    </li>
    <li>
      <a href="/INR/SLL">
        Convert 1 INR to SLL...
      </a>
    </li>
    <li>
      <a href="/INR/SOS">
        Convert 1 INR to SOS...
      </a>
    </li>
    <li>
      <a href="/INR/SRD">
        Convert 1 INR to SRD...
      </a>
    </li>
    <li>
      <a href="/INR/SSP">
        Convert 1 INR to SSP...
      </a>
    </li>
    <li>
      <a href="/INR/STD">
        Convert 1 INR to STD...
      </a>
    </li>
    <li>
      <a href="/INR/STN">
        Convert 1 INR to STN...
      </a>
    </li>
    <li>
      <a href="/INR/SVC">
        Convert 1 INR to SVC...
      </a>
    </li>
    <li>
      <a href="/INR/SYP">
        Convert 1 INR to SYP...
      </a>
    </li>
    <li>
      <a href="/INR/SZL">
        Convert 1 INR to SZL...
      </a>
    </li>
    <li>
      <a href="/INR/THB">
        Convert 1 INR to THB...
      </a>
    </li>
    <li>
      <a href="/INR/TJS">
        Convert 1 INR to TJS...
      </a>
    </li>
    <li>
      <a href="/INR/TMT">
        Convert 1 INR to TMT...
      </a>
    </li>
    <li>
      <a href="/INR/TND">
        Convert 1 INR to TND...
      </a>
    </li>
    <li>
      <a href="/INR/TOP">
        Convert 1 INR to TOP...
      </a>
    </li>
    <li>
      <a href="/INR/TRY">
        Convert 1 INR to TRY...
      </a>
    </li>
    <li>
      <a href="/INR/TTD">
        Convert 1 INR to TTD...
      </a>
    </li>
    <li>
      <a href="/INR/TWD">
        Convert 1 INR to TWD...
      </a>
    </li>
    <li>
      <a href="/INR/TZS">
        Convert 1 INR to TZS...
      </a>
    </li>
    <li>
      <a href="/INR/UAH">
        Convert 1 INR to UAH...
      </a>
    </li>
    <li>
      <a href="/INR/UGX">
        Convert 1 INR to UGX...
      </a>
    </li>
    <li>
      <a href="/INR/USD">
        Convert 1 INR to USD...
      </a>
    </li>
    <li>
      <a href="/INR/UYU">
        Convert 1 INR to UYU...
      </a>
    </li>
    <li>
      <a href="/INR/UZS">
        Convert 1 INR to UZS...
      </a>
    </li>
    <li>
      <a href="/INR/VEF">
        Convert 1 INR to VEF...
      </a>
    </li>
    <li>
      <a href="/INR/VES">
        Convert 1 INR to VES...
      </a>
    </li>
    <li>
      <a href="/INR/VND">
        Convert 1 INR to VND...
      </a>
    </li>
    <li>
      <a href="/INR/VUV">
        Convert 1 INR to VUV...
      </a>
    </li>
    <li>
      <a href="/INR/WST">
        Convert 1 INR to WST...
      </a>
    </li>
    <li>
      <a href="/INR/XAF">
        Convert 1 INR to XAF...
      </a>
    </li>
    <li>
      <a href="/INR/XAG">
        Convert 1 INR to XAG...
      </a>
    </li>
    <li>
      <a href="/INR/XAU">
        Convert 1 INR to XAU...
      </a>
    </li>
    <li>
      <a href="/INR/XCD">
        Convert 1 INR to XCD...
      </a>
    </li>
    <li>
      <a href="/INR/XDR">
        Convert 1 INR to XDR...
      </a>
    </li>
    <li>
      <a href="/INR/XOF">
        Convert 1 INR to XOF...
      </a>
    </li>
    <li>
      <a href="/INR/XPD">
        Convert 1 INR to XPD...
      </a>
    </li>
    <li>
      <a href="/INR/XPF">
        Convert 1 INR to XPF...
      </a>
    </li>
    <li>
      <a href="/INR/XPT">
        Convert 1 INR to XPT...
      </a>
    </li>
    <li>
      <a href="/INR/YER">
        Convert 1 INR to YER...
      </a>
    </li>
    <li>
      <a href="/INR/ZAR">
        Convert 1 INR to ZAR...
      </a>
    </li>
    <li>
      <a href="/INR/ZMW">
        Convert 1 INR to ZMW...
      </a>
    </li>
    <li>
      <a href="/INR/ZWL">
        Convert 1 INR to ZWL...
      </a>
    </li>
</ul>
</body>
