<body>
    <h1>Convert ISK</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/ISK/AED">
        Convert 1 ISK to AED...
      </a>
    </li>
    <li>
      <a href="/ISK/AFN">
        Convert 1 ISK to AFN...
      </a>
    </li>
    <li>
      <a href="/ISK/ALL">
        Convert 1 ISK to ALL...
      </a>
    </li>
    <li>
      <a href="/ISK/AMD">
        Convert 1 ISK to AMD...
      </a>
    </li>
    <li>
      <a href="/ISK/ANG">
        Convert 1 ISK to ANG...
      </a>
    </li>
    <li>
      <a href="/ISK/AOA">
        Convert 1 ISK to AOA...
      </a>
    </li>
    <li>
      <a href="/ISK/ARS">
        Convert 1 ISK to ARS...
      </a>
    </li>
    <li>
      <a href="/ISK/AUD">
        Convert 1 ISK to AUD...
      </a>
    </li>
    <li>
      <a href="/ISK/AWG">
        Convert 1 ISK to AWG...
      </a>
    </li>
    <li>
      <a href="/ISK/AZN">
        Convert 1 ISK to AZN...
      </a>
    </li>
    <li>
      <a href="/ISK/BAM">
        Convert 1 ISK to BAM...
      </a>
    </li>
    <li>
      <a href="/ISK/BBD">
        Convert 1 ISK to BBD...
      </a>
    </li>
    <li>
      <a href="/ISK/BDT">
        Convert 1 ISK to BDT...
      </a>
    </li>
    <li>
      <a href="/ISK/BGN">
        Convert 1 ISK to BGN...
      </a>
    </li>
    <li>
      <a href="/ISK/BHD">
        Convert 1 ISK to BHD...
      </a>
    </li>
    <li>
      <a href="/ISK/BIF">
        Convert 1 ISK to BIF...
      </a>
    </li>
    <li>
      <a href="/ISK/BMD">
        Convert 1 ISK to BMD...
      </a>
    </li>
    <li>
      <a href="/ISK/BND">
        Convert 1 ISK to BND...
      </a>
    </li>
    <li>
      <a href="/ISK/BOB">
        Convert 1 ISK to BOB...
      </a>
    </li>
    <li>
      <a href="/ISK/BRL">
        Convert 1 ISK to BRL...
      </a>
    </li>
    <li>
      <a href="/ISK/BSD">
        Convert 1 ISK to BSD...
      </a>
    </li>
    <li>
      <a href="/ISK/BTC">
        Convert 1 ISK to BTC...
      </a>
    </li>
    <li>
      <a href="/ISK/BTN">
        Convert 1 ISK to BTN...
      </a>
    </li>
    <li>
      <a href="/ISK/BWP">
        Convert 1 ISK to BWP...
      </a>
    </li>
    <li>
      <a href="/ISK/BYN">
        Convert 1 ISK to BYN...
      </a>
    </li>
    <li>
      <a href="/ISK/BZD">
        Convert 1 ISK to BZD...
      </a>
    </li>
    <li>
      <a href="/ISK/CAD">
        Convert 1 ISK to CAD...
      </a>
    </li>
    <li>
      <a href="/ISK/CDF">
        Convert 1 ISK to CDF...
      </a>
    </li>
    <li>
      <a href="/ISK/CHF">
        Convert 1 ISK to CHF...
      </a>
    </li>
    <li>
      <a href="/ISK/CLF">
        Convert 1 ISK to CLF...
      </a>
    </li>
    <li>
      <a href="/ISK/CLP">
        Convert 1 ISK to CLP...
      </a>
    </li>
    <li>
      <a href="/ISK/CNH">
        Convert 1 ISK to CNH...
      </a>
    </li>
    <li>
      <a href="/ISK/CNY">
        Convert 1 ISK to CNY...
      </a>
    </li>
    <li>
      <a href="/ISK/COP">
        Convert 1 ISK to COP...
      </a>
    </li>
    <li>
      <a href="/ISK/CRC">
        Convert 1 ISK to CRC...
      </a>
    </li>
    <li>
      <a href="/ISK/CUC">
        Convert 1 ISK to CUC...
      </a>
    </li>
    <li>
      <a href="/ISK/CUP">
        Convert 1 ISK to CUP...
      </a>
    </li>
    <li>
      <a href="/ISK/CVE">
        Convert 1 ISK to CVE...
      </a>
    </li>
    <li>
      <a href="/ISK/CZK">
        Convert 1 ISK to CZK...
      </a>
    </li>
    <li>
      <a href="/ISK/DJF">
        Convert 1 ISK to DJF...
      </a>
    </li>
    <li>
      <a href="/ISK/DKK">
        Convert 1 ISK to DKK...
      </a>
    </li>
    <li>
      <a href="/ISK/DOP">
        Convert 1 ISK to DOP...
      </a>
    </li>
    <li>
      <a href="/ISK/DZD">
        Convert 1 ISK to DZD...
      </a>
    </li>
    <li>
      <a href="/ISK/EGP">
        Convert 1 ISK to EGP...
      </a>
    </li>
    <li>
      <a href="/ISK/ERN">
        Convert 1 ISK to ERN...
      </a>
    </li>
    <li>
      <a href="/ISK/ETB">
        Convert 1 ISK to ETB...
      </a>
    </li>
    <li>
      <a href="/ISK/EUR">
        Convert 1 ISK to EUR...
      </a>
    </li>
    <li>
      <a href="/ISK/FJD">
        Convert 1 ISK to FJD...
      </a>
    </li>
    <li>
      <a href="/ISK/FKP">
        Convert 1 ISK to FKP...
      </a>
    </li>
    <li>
      <a href="/ISK/GBP">
        Convert 1 ISK to GBP...
      </a>
    </li>
    <li>
      <a href="/ISK/GEL">
        Convert 1 ISK to GEL...
      </a>
    </li>
    <li>
      <a href="/ISK/GGP">
        Convert 1 ISK to GGP...
      </a>
    </li>
    <li>
      <a href="/ISK/GHS">
        Convert 1 ISK to GHS...
      </a>
    </li>
    <li>
      <a href="/ISK/GIP">
        Convert 1 ISK to GIP...
      </a>
    </li>
    <li>
      <a href="/ISK/GMD">
        Convert 1 ISK to GMD...
      </a>
    </li>
    <li>
      <a href="/ISK/GNF">
        Convert 1 ISK to GNF...
      </a>
    </li>
    <li>
      <a href="/ISK/GTQ">
        Convert 1 ISK to GTQ...
      </a>
    </li>
    <li>
      <a href="/ISK/GYD">
        Convert 1 ISK to GYD...
      </a>
    </li>
    <li>
      <a href="/ISK/HKD">
        Convert 1 ISK to HKD...
      </a>
    </li>
    <li>
      <a href="/ISK/HNL">
        Convert 1 ISK to HNL...
      </a>
    </li>
    <li>
      <a href="/ISK/HRK">
        Convert 1 ISK to HRK...
      </a>
    </li>
    <li>
      <a href="/ISK/HTG">
        Convert 1 ISK to HTG...
      </a>
    </li>
    <li>
      <a href="/ISK/HUF">
        Convert 1 ISK to HUF...
      </a>
    </li>
    <li>
      <a href="/ISK/IDR">
        Convert 1 ISK to IDR...
      </a>
    </li>
    <li>
      <a href="/ISK/ILS">
        Convert 1 ISK to ILS...
      </a>
    </li>
    <li>
      <a href="/ISK/IMP">
        Convert 1 ISK to IMP...
      </a>
    </li>
    <li>
      <a href="/ISK/INR">
        Convert 1 ISK to INR...
      </a>
    </li>
    <li>
      <a href="/ISK/IQD">
        Convert 1 ISK to IQD...
      </a>
    </li>
    <li>
      <a href="/ISK/IRR">
        Convert 1 ISK to IRR...
      </a>
    </li>
    <li>
      <a href="/ISK/ISK">
        Convert 1 ISK to ISK...
      </a>
    </li>
    <li>
      <a href="/ISK/JEP">
        Convert 1 ISK to JEP...
      </a>
    </li>
    <li>
      <a href="/ISK/JMD">
        Convert 1 ISK to JMD...
      </a>
    </li>
    <li>
      <a href="/ISK/JOD">
        Convert 1 ISK to JOD...
      </a>
    </li>
    <li>
      <a href="/ISK/JPY">
        Convert 1 ISK to JPY...
      </a>
    </li>
    <li>
      <a href="/ISK/KES">
        Convert 1 ISK to KES...
      </a>
    </li>
    <li>
      <a href="/ISK/KGS">
        Convert 1 ISK to KGS...
      </a>
    </li>
    <li>
      <a href="/ISK/KHR">
        Convert 1 ISK to KHR...
      </a>
    </li>
    <li>
      <a href="/ISK/KMF">
        Convert 1 ISK to KMF...
      </a>
    </li>
    <li>
      <a href="/ISK/KPW">
        Convert 1 ISK to KPW...
      </a>
    </li>
    <li>
      <a href="/ISK/KRW">
        Convert 1 ISK to KRW...
      </a>
    </li>
    <li>
      <a href="/ISK/KWD">
        Convert 1 ISK to KWD...
      </a>
    </li>
    <li>
      <a href="/ISK/KYD">
        Convert 1 ISK to KYD...
      </a>
    </li>
    <li>
      <a href="/ISK/KZT">
        Convert 1 ISK to KZT...
      </a>
    </li>
    <li>
      <a href="/ISK/LAK">
        Convert 1 ISK to LAK...
      </a>
    </li>
    <li>
      <a href="/ISK/LBP">
        Convert 1 ISK to LBP...
      </a>
    </li>
    <li>
      <a href="/ISK/LKR">
        Convert 1 ISK to LKR...
      </a>
    </li>
    <li>
      <a href="/ISK/LRD">
        Convert 1 ISK to LRD...
      </a>
    </li>
    <li>
      <a href="/ISK/LSL">
        Convert 1 ISK to LSL...
      </a>
    </li>
    <li>
      <a href="/ISK/LYD">
        Convert 1 ISK to LYD...
      </a>
    </li>
    <li>
      <a href="/ISK/MAD">
        Convert 1 ISK to MAD...
      </a>
    </li>
    <li>
      <a href="/ISK/MDL">
        Convert 1 ISK to MDL...
      </a>
    </li>
    <li>
      <a href="/ISK/MGA">
        Convert 1 ISK to MGA...
      </a>
    </li>
    <li>
      <a href="/ISK/MKD">
        Convert 1 ISK to MKD...
      </a>
    </li>
    <li>
      <a href="/ISK/MMK">
        Convert 1 ISK to MMK...
      </a>
    </li>
    <li>
      <a href="/ISK/MNT">
        Convert 1 ISK to MNT...
      </a>
    </li>
    <li>
      <a href="/ISK/MOP">
        Convert 1 ISK to MOP...
      </a>
    </li>
    <li>
      <a href="/ISK/MRO">
        Convert 1 ISK to MRO...
      </a>
    </li>
    <li>
      <a href="/ISK/MRU">
        Convert 1 ISK to MRU...
      </a>
    </li>
    <li>
      <a href="/ISK/MUR">
        Convert 1 ISK to MUR...
      </a>
    </li>
    <li>
      <a href="/ISK/MVR">
        Convert 1 ISK to MVR...
      </a>
    </li>
    <li>
      <a href="/ISK/MWK">
        Convert 1 ISK to MWK...
      </a>
    </li>
    <li>
      <a href="/ISK/MXN">
        Convert 1 ISK to MXN...
      </a>
    </li>
    <li>
      <a href="/ISK/MYR">
        Convert 1 ISK to MYR...
      </a>
    </li>
    <li>
      <a href="/ISK/MZN">
        Convert 1 ISK to MZN...
      </a>
    </li>
    <li>
      <a href="/ISK/NAD">
        Convert 1 ISK to NAD...
      </a>
    </li>
    <li>
      <a href="/ISK/NGN">
        Convert 1 ISK to NGN...
      </a>
    </li>
    <li>
      <a href="/ISK/NIO">
        Convert 1 ISK to NIO...
      </a>
    </li>
    <li>
      <a href="/ISK/NOK">
        Convert 1 ISK to NOK...
      </a>
    </li>
    <li>
      <a href="/ISK/NPR">
        Convert 1 ISK to NPR...
      </a>
    </li>
    <li>
      <a href="/ISK/NZD">
        Convert 1 ISK to NZD...
      </a>
    </li>
    <li>
      <a href="/ISK/OMR">
        Convert 1 ISK to OMR...
      </a>
    </li>
    <li>
      <a href="/ISK/PAB">
        Convert 1 ISK to PAB...
      </a>
    </li>
    <li>
      <a href="/ISK/PEN">
        Convert 1 ISK to PEN...
      </a>
    </li>
    <li>
      <a href="/ISK/PGK">
        Convert 1 ISK to PGK...
      </a>
    </li>
    <li>
      <a href="/ISK/PHP">
        Convert 1 ISK to PHP...
      </a>
    </li>
    <li>
      <a href="/ISK/PKR">
        Convert 1 ISK to PKR...
      </a>
    </li>
    <li>
      <a href="/ISK/PLN">
        Convert 1 ISK to PLN...
      </a>
    </li>
    <li>
      <a href="/ISK/PYG">
        Convert 1 ISK to PYG...
      </a>
    </li>
    <li>
      <a href="/ISK/QAR">
        Convert 1 ISK to QAR...
      </a>
    </li>
    <li>
      <a href="/ISK/RON">
        Convert 1 ISK to RON...
      </a>
    </li>
    <li>
      <a href="/ISK/RSD">
        Convert 1 ISK to RSD...
      </a>
    </li>
    <li>
      <a href="/ISK/RUB">
        Convert 1 ISK to RUB...
      </a>
    </li>
    <li>
      <a href="/ISK/RWF">
        Convert 1 ISK to RWF...
      </a>
    </li>
    <li>
      <a href="/ISK/SAR">
        Convert 1 ISK to SAR...
      </a>
    </li>
    <li>
      <a href="/ISK/SBD">
        Convert 1 ISK to SBD...
      </a>
    </li>
    <li>
      <a href="/ISK/SCR">
        Convert 1 ISK to SCR...
      </a>
    </li>
    <li>
      <a href="/ISK/SDG">
        Convert 1 ISK to SDG...
      </a>
    </li>
    <li>
      <a href="/ISK/SEK">
        Convert 1 ISK to SEK...
      </a>
    </li>
    <li>
      <a href="/ISK/SGD">
        Convert 1 ISK to SGD...
      </a>
    </li>
    <li>
      <a href="/ISK/SHP">
        Convert 1 ISK to SHP...
      </a>
    </li>
    <li>
      <a href="/ISK/SLL">
        Convert 1 ISK to SLL...
      </a>
    </li>
    <li>
      <a href="/ISK/SOS">
        Convert 1 ISK to SOS...
      </a>
    </li>
    <li>
      <a href="/ISK/SRD">
        Convert 1 ISK to SRD...
      </a>
    </li>
    <li>
      <a href="/ISK/SSP">
        Convert 1 ISK to SSP...
      </a>
    </li>
    <li>
      <a href="/ISK/STD">
        Convert 1 ISK to STD...
      </a>
    </li>
    <li>
      <a href="/ISK/STN">
        Convert 1 ISK to STN...
      </a>
    </li>
    <li>
      <a href="/ISK/SVC">
        Convert 1 ISK to SVC...
      </a>
    </li>
    <li>
      <a href="/ISK/SYP">
        Convert 1 ISK to SYP...
      </a>
    </li>
    <li>
      <a href="/ISK/SZL">
        Convert 1 ISK to SZL...
      </a>
    </li>
    <li>
      <a href="/ISK/THB">
        Convert 1 ISK to THB...
      </a>
    </li>
    <li>
      <a href="/ISK/TJS">
        Convert 1 ISK to TJS...
      </a>
    </li>
    <li>
      <a href="/ISK/TMT">
        Convert 1 ISK to TMT...
      </a>
    </li>
    <li>
      <a href="/ISK/TND">
        Convert 1 ISK to TND...
      </a>
    </li>
    <li>
      <a href="/ISK/TOP">
        Convert 1 ISK to TOP...
      </a>
    </li>
    <li>
      <a href="/ISK/TRY">
        Convert 1 ISK to TRY...
      </a>
    </li>
    <li>
      <a href="/ISK/TTD">
        Convert 1 ISK to TTD...
      </a>
    </li>
    <li>
      <a href="/ISK/TWD">
        Convert 1 ISK to TWD...
      </a>
    </li>
    <li>
      <a href="/ISK/TZS">
        Convert 1 ISK to TZS...
      </a>
    </li>
    <li>
      <a href="/ISK/UAH">
        Convert 1 ISK to UAH...
      </a>
    </li>
    <li>
      <a href="/ISK/UGX">
        Convert 1 ISK to UGX...
      </a>
    </li>
    <li>
      <a href="/ISK/USD">
        Convert 1 ISK to USD...
      </a>
    </li>
    <li>
      <a href="/ISK/UYU">
        Convert 1 ISK to UYU...
      </a>
    </li>
    <li>
      <a href="/ISK/UZS">
        Convert 1 ISK to UZS...
      </a>
    </li>
    <li>
      <a href="/ISK/VEF">
        Convert 1 ISK to VEF...
      </a>
    </li>
    <li>
      <a href="/ISK/VES">
        Convert 1 ISK to VES...
      </a>
    </li>
    <li>
      <a href="/ISK/VND">
        Convert 1 ISK to VND...
      </a>
    </li>
    <li>
      <a href="/ISK/VUV">
        Convert 1 ISK to VUV...
      </a>
    </li>
    <li>
      <a href="/ISK/WST">
        Convert 1 ISK to WST...
      </a>
    </li>
    <li>
      <a href="/ISK/XAF">
        Convert 1 ISK to XAF...
      </a>
    </li>
    <li>
      <a href="/ISK/XAG">
        Convert 1 ISK to XAG...
      </a>
    </li>
    <li>
      <a href="/ISK/XAU">
        Convert 1 ISK to XAU...
      </a>
    </li>
    <li>
      <a href="/ISK/XCD">
        Convert 1 ISK to XCD...
      </a>
    </li>
    <li>
      <a href="/ISK/XDR">
        Convert 1 ISK to XDR...
      </a>
    </li>
    <li>
      <a href="/ISK/XOF">
        Convert 1 ISK to XOF...
      </a>
    </li>
    <li>
      <a href="/ISK/XPD">
        Convert 1 ISK to XPD...
      </a>
    </li>
    <li>
      <a href="/ISK/XPF">
        Convert 1 ISK to XPF...
      </a>
    </li>
    <li>
      <a href="/ISK/XPT">
        Convert 1 ISK to XPT...
      </a>
    </li>
    <li>
      <a href="/ISK/YER">
        Convert 1 ISK to YER...
      </a>
    </li>
    <li>
      <a href="/ISK/ZAR">
        Convert 1 ISK to ZAR...
      </a>
    </li>
    <li>
      <a href="/ISK/ZMW">
        Convert 1 ISK to ZMW...
      </a>
    </li>
    <li>
      <a href="/ISK/ZWL">
        Convert 1 ISK to ZWL...
      </a>
    </li>
</ul>
</body>
