<body>
    <h1>Convert JEP</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/JEP/AED">
        Convert 1 JEP to AED...
      </a>
    </li>
    <li>
      <a href="/JEP/AFN">
        Convert 1 JEP to AFN...
      </a>
    </li>
    <li>
      <a href="/JEP/ALL">
        Convert 1 JEP to ALL...
      </a>
    </li>
    <li>
      <a href="/JEP/AMD">
        Convert 1 JEP to AMD...
      </a>
    </li>
    <li>
      <a href="/JEP/ANG">
        Convert 1 JEP to ANG...
      </a>
    </li>
    <li>
      <a href="/JEP/AOA">
        Convert 1 JEP to AOA...
      </a>
    </li>
    <li>
      <a href="/JEP/ARS">
        Convert 1 JEP to ARS...
      </a>
    </li>
    <li>
      <a href="/JEP/AUD">
        Convert 1 JEP to AUD...
      </a>
    </li>
    <li>
      <a href="/JEP/AWG">
        Convert 1 JEP to AWG...
      </a>
    </li>
    <li>
      <a href="/JEP/AZN">
        Convert 1 JEP to AZN...
      </a>
    </li>
    <li>
      <a href="/JEP/BAM">
        Convert 1 JEP to BAM...
      </a>
    </li>
    <li>
      <a href="/JEP/BBD">
        Convert 1 JEP to BBD...
      </a>
    </li>
    <li>
      <a href="/JEP/BDT">
        Convert 1 JEP to BDT...
      </a>
    </li>
    <li>
      <a href="/JEP/BGN">
        Convert 1 JEP to BGN...
      </a>
    </li>
    <li>
      <a href="/JEP/BHD">
        Convert 1 JEP to BHD...
      </a>
    </li>
    <li>
      <a href="/JEP/BIF">
        Convert 1 JEP to BIF...
      </a>
    </li>
    <li>
      <a href="/JEP/BMD">
        Convert 1 JEP to BMD...
      </a>
    </li>
    <li>
      <a href="/JEP/BND">
        Convert 1 JEP to BND...
      </a>
    </li>
    <li>
      <a href="/JEP/BOB">
        Convert 1 JEP to BOB...
      </a>
    </li>
    <li>
      <a href="/JEP/BRL">
        Convert 1 JEP to BRL...
      </a>
    </li>
    <li>
      <a href="/JEP/BSD">
        Convert 1 JEP to BSD...
      </a>
    </li>
    <li>
      <a href="/JEP/BTC">
        Convert 1 JEP to BTC...
      </a>
    </li>
    <li>
      <a href="/JEP/BTN">
        Convert 1 JEP to BTN...
      </a>
    </li>
    <li>
      <a href="/JEP/BWP">
        Convert 1 JEP to BWP...
      </a>
    </li>
    <li>
      <a href="/JEP/BYN">
        Convert 1 JEP to BYN...
      </a>
    </li>
    <li>
      <a href="/JEP/BZD">
        Convert 1 JEP to BZD...
      </a>
    </li>
    <li>
      <a href="/JEP/CAD">
        Convert 1 JEP to CAD...
      </a>
    </li>
    <li>
      <a href="/JEP/CDF">
        Convert 1 JEP to CDF...
      </a>
    </li>
    <li>
      <a href="/JEP/CHF">
        Convert 1 JEP to CHF...
      </a>
    </li>
    <li>
      <a href="/JEP/CLF">
        Convert 1 JEP to CLF...
      </a>
    </li>
    <li>
      <a href="/JEP/CLP">
        Convert 1 JEP to CLP...
      </a>
    </li>
    <li>
      <a href="/JEP/CNH">
        Convert 1 JEP to CNH...
      </a>
    </li>
    <li>
      <a href="/JEP/CNY">
        Convert 1 JEP to CNY...
      </a>
    </li>
    <li>
      <a href="/JEP/COP">
        Convert 1 JEP to COP...
      </a>
    </li>
    <li>
      <a href="/JEP/CRC">
        Convert 1 JEP to CRC...
      </a>
    </li>
    <li>
      <a href="/JEP/CUC">
        Convert 1 JEP to CUC...
      </a>
    </li>
    <li>
      <a href="/JEP/CUP">
        Convert 1 JEP to CUP...
      </a>
    </li>
    <li>
      <a href="/JEP/CVE">
        Convert 1 JEP to CVE...
      </a>
    </li>
    <li>
      <a href="/JEP/CZK">
        Convert 1 JEP to CZK...
      </a>
    </li>
    <li>
      <a href="/JEP/DJF">
        Convert 1 JEP to DJF...
      </a>
    </li>
    <li>
      <a href="/JEP/DKK">
        Convert 1 JEP to DKK...
      </a>
    </li>
    <li>
      <a href="/JEP/DOP">
        Convert 1 JEP to DOP...
      </a>
    </li>
    <li>
      <a href="/JEP/DZD">
        Convert 1 JEP to DZD...
      </a>
    </li>
    <li>
      <a href="/JEP/EGP">
        Convert 1 JEP to EGP...
      </a>
    </li>
    <li>
      <a href="/JEP/ERN">
        Convert 1 JEP to ERN...
      </a>
    </li>
    <li>
      <a href="/JEP/ETB">
        Convert 1 JEP to ETB...
      </a>
    </li>
    <li>
      <a href="/JEP/EUR">
        Convert 1 JEP to EUR...
      </a>
    </li>
    <li>
      <a href="/JEP/FJD">
        Convert 1 JEP to FJD...
      </a>
    </li>
    <li>
      <a href="/JEP/FKP">
        Convert 1 JEP to FKP...
      </a>
    </li>
    <li>
      <a href="/JEP/GBP">
        Convert 1 JEP to GBP...
      </a>
    </li>
    <li>
      <a href="/JEP/GEL">
        Convert 1 JEP to GEL...
      </a>
    </li>
    <li>
      <a href="/JEP/GGP">
        Convert 1 JEP to GGP...
      </a>
    </li>
    <li>
      <a href="/JEP/GHS">
        Convert 1 JEP to GHS...
      </a>
    </li>
    <li>
      <a href="/JEP/GIP">
        Convert 1 JEP to GIP...
      </a>
    </li>
    <li>
      <a href="/JEP/GMD">
        Convert 1 JEP to GMD...
      </a>
    </li>
    <li>
      <a href="/JEP/GNF">
        Convert 1 JEP to GNF...
      </a>
    </li>
    <li>
      <a href="/JEP/GTQ">
        Convert 1 JEP to GTQ...
      </a>
    </li>
    <li>
      <a href="/JEP/GYD">
        Convert 1 JEP to GYD...
      </a>
    </li>
    <li>
      <a href="/JEP/HKD">
        Convert 1 JEP to HKD...
      </a>
    </li>
    <li>
      <a href="/JEP/HNL">
        Convert 1 JEP to HNL...
      </a>
    </li>
    <li>
      <a href="/JEP/HRK">
        Convert 1 JEP to HRK...
      </a>
    </li>
    <li>
      <a href="/JEP/HTG">
        Convert 1 JEP to HTG...
      </a>
    </li>
    <li>
      <a href="/JEP/HUF">
        Convert 1 JEP to HUF...
      </a>
    </li>
    <li>
      <a href="/JEP/IDR">
        Convert 1 JEP to IDR...
      </a>
    </li>
    <li>
      <a href="/JEP/ILS">
        Convert 1 JEP to ILS...
      </a>
    </li>
    <li>
      <a href="/JEP/IMP">
        Convert 1 JEP to IMP...
      </a>
    </li>
    <li>
      <a href="/JEP/INR">
        Convert 1 JEP to INR...
      </a>
    </li>
    <li>
      <a href="/JEP/IQD">
        Convert 1 JEP to IQD...
      </a>
    </li>
    <li>
      <a href="/JEP/IRR">
        Convert 1 JEP to IRR...
      </a>
    </li>
    <li>
      <a href="/JEP/ISK">
        Convert 1 JEP to ISK...
      </a>
    </li>
    <li>
      <a href="/JEP/JEP">
        Convert 1 JEP to JEP...
      </a>
    </li>
    <li>
      <a href="/JEP/JMD">
        Convert 1 JEP to JMD...
      </a>
    </li>
    <li>
      <a href="/JEP/JOD">
        Convert 1 JEP to JOD...
      </a>
    </li>
    <li>
      <a href="/JEP/JPY">
        Convert 1 JEP to JPY...
      </a>
    </li>
    <li>
      <a href="/JEP/KES">
        Convert 1 JEP to KES...
      </a>
    </li>
    <li>
      <a href="/JEP/KGS">
        Convert 1 JEP to KGS...
      </a>
    </li>
    <li>
      <a href="/JEP/KHR">
        Convert 1 JEP to KHR...
      </a>
    </li>
    <li>
      <a href="/JEP/KMF">
        Convert 1 JEP to KMF...
      </a>
    </li>
    <li>
      <a href="/JEP/KPW">
        Convert 1 JEP to KPW...
      </a>
    </li>
    <li>
      <a href="/JEP/KRW">
        Convert 1 JEP to KRW...
      </a>
    </li>
    <li>
      <a href="/JEP/KWD">
        Convert 1 JEP to KWD...
      </a>
    </li>
    <li>
      <a href="/JEP/KYD">
        Convert 1 JEP to KYD...
      </a>
    </li>
    <li>
      <a href="/JEP/KZT">
        Convert 1 JEP to KZT...
      </a>
    </li>
    <li>
      <a href="/JEP/LAK">
        Convert 1 JEP to LAK...
      </a>
    </li>
    <li>
      <a href="/JEP/LBP">
        Convert 1 JEP to LBP...
      </a>
    </li>
    <li>
      <a href="/JEP/LKR">
        Convert 1 JEP to LKR...
      </a>
    </li>
    <li>
      <a href="/JEP/LRD">
        Convert 1 JEP to LRD...
      </a>
    </li>
    <li>
      <a href="/JEP/LSL">
        Convert 1 JEP to LSL...
      </a>
    </li>
    <li>
      <a href="/JEP/LYD">
        Convert 1 JEP to LYD...
      </a>
    </li>
    <li>
      <a href="/JEP/MAD">
        Convert 1 JEP to MAD...
      </a>
    </li>
    <li>
      <a href="/JEP/MDL">
        Convert 1 JEP to MDL...
      </a>
    </li>
    <li>
      <a href="/JEP/MGA">
        Convert 1 JEP to MGA...
      </a>
    </li>
    <li>
      <a href="/JEP/MKD">
        Convert 1 JEP to MKD...
      </a>
    </li>
    <li>
      <a href="/JEP/MMK">
        Convert 1 JEP to MMK...
      </a>
    </li>
    <li>
      <a href="/JEP/MNT">
        Convert 1 JEP to MNT...
      </a>
    </li>
    <li>
      <a href="/JEP/MOP">
        Convert 1 JEP to MOP...
      </a>
    </li>
    <li>
      <a href="/JEP/MRO">
        Convert 1 JEP to MRO...
      </a>
    </li>
    <li>
      <a href="/JEP/MRU">
        Convert 1 JEP to MRU...
      </a>
    </li>
    <li>
      <a href="/JEP/MUR">
        Convert 1 JEP to MUR...
      </a>
    </li>
    <li>
      <a href="/JEP/MVR">
        Convert 1 JEP to MVR...
      </a>
    </li>
    <li>
      <a href="/JEP/MWK">
        Convert 1 JEP to MWK...
      </a>
    </li>
    <li>
      <a href="/JEP/MXN">
        Convert 1 JEP to MXN...
      </a>
    </li>
    <li>
      <a href="/JEP/MYR">
        Convert 1 JEP to MYR...
      </a>
    </li>
    <li>
      <a href="/JEP/MZN">
        Convert 1 JEP to MZN...
      </a>
    </li>
    <li>
      <a href="/JEP/NAD">
        Convert 1 JEP to NAD...
      </a>
    </li>
    <li>
      <a href="/JEP/NGN">
        Convert 1 JEP to NGN...
      </a>
    </li>
    <li>
      <a href="/JEP/NIO">
        Convert 1 JEP to NIO...
      </a>
    </li>
    <li>
      <a href="/JEP/NOK">
        Convert 1 JEP to NOK...
      </a>
    </li>
    <li>
      <a href="/JEP/NPR">
        Convert 1 JEP to NPR...
      </a>
    </li>
    <li>
      <a href="/JEP/NZD">
        Convert 1 JEP to NZD...
      </a>
    </li>
    <li>
      <a href="/JEP/OMR">
        Convert 1 JEP to OMR...
      </a>
    </li>
    <li>
      <a href="/JEP/PAB">
        Convert 1 JEP to PAB...
      </a>
    </li>
    <li>
      <a href="/JEP/PEN">
        Convert 1 JEP to PEN...
      </a>
    </li>
    <li>
      <a href="/JEP/PGK">
        Convert 1 JEP to PGK...
      </a>
    </li>
    <li>
      <a href="/JEP/PHP">
        Convert 1 JEP to PHP...
      </a>
    </li>
    <li>
      <a href="/JEP/PKR">
        Convert 1 JEP to PKR...
      </a>
    </li>
    <li>
      <a href="/JEP/PLN">
        Convert 1 JEP to PLN...
      </a>
    </li>
    <li>
      <a href="/JEP/PYG">
        Convert 1 JEP to PYG...
      </a>
    </li>
    <li>
      <a href="/JEP/QAR">
        Convert 1 JEP to QAR...
      </a>
    </li>
    <li>
      <a href="/JEP/RON">
        Convert 1 JEP to RON...
      </a>
    </li>
    <li>
      <a href="/JEP/RSD">
        Convert 1 JEP to RSD...
      </a>
    </li>
    <li>
      <a href="/JEP/RUB">
        Convert 1 JEP to RUB...
      </a>
    </li>
    <li>
      <a href="/JEP/RWF">
        Convert 1 JEP to RWF...
      </a>
    </li>
    <li>
      <a href="/JEP/SAR">
        Convert 1 JEP to SAR...
      </a>
    </li>
    <li>
      <a href="/JEP/SBD">
        Convert 1 JEP to SBD...
      </a>
    </li>
    <li>
      <a href="/JEP/SCR">
        Convert 1 JEP to SCR...
      </a>
    </li>
    <li>
      <a href="/JEP/SDG">
        Convert 1 JEP to SDG...
      </a>
    </li>
    <li>
      <a href="/JEP/SEK">
        Convert 1 JEP to SEK...
      </a>
    </li>
    <li>
      <a href="/JEP/SGD">
        Convert 1 JEP to SGD...
      </a>
    </li>
    <li>
      <a href="/JEP/SHP">
        Convert 1 JEP to SHP...
      </a>
    </li>
    <li>
      <a href="/JEP/SLL">
        Convert 1 JEP to SLL...
      </a>
    </li>
    <li>
      <a href="/JEP/SOS">
        Convert 1 JEP to SOS...
      </a>
    </li>
    <li>
      <a href="/JEP/SRD">
        Convert 1 JEP to SRD...
      </a>
    </li>
    <li>
      <a href="/JEP/SSP">
        Convert 1 JEP to SSP...
      </a>
    </li>
    <li>
      <a href="/JEP/STD">
        Convert 1 JEP to STD...
      </a>
    </li>
    <li>
      <a href="/JEP/STN">
        Convert 1 JEP to STN...
      </a>
    </li>
    <li>
      <a href="/JEP/SVC">
        Convert 1 JEP to SVC...
      </a>
    </li>
    <li>
      <a href="/JEP/SYP">
        Convert 1 JEP to SYP...
      </a>
    </li>
    <li>
      <a href="/JEP/SZL">
        Convert 1 JEP to SZL...
      </a>
    </li>
    <li>
      <a href="/JEP/THB">
        Convert 1 JEP to THB...
      </a>
    </li>
    <li>
      <a href="/JEP/TJS">
        Convert 1 JEP to TJS...
      </a>
    </li>
    <li>
      <a href="/JEP/TMT">
        Convert 1 JEP to TMT...
      </a>
    </li>
    <li>
      <a href="/JEP/TND">
        Convert 1 JEP to TND...
      </a>
    </li>
    <li>
      <a href="/JEP/TOP">
        Convert 1 JEP to TOP...
      </a>
    </li>
    <li>
      <a href="/JEP/TRY">
        Convert 1 JEP to TRY...
      </a>
    </li>
    <li>
      <a href="/JEP/TTD">
        Convert 1 JEP to TTD...
      </a>
    </li>
    <li>
      <a href="/JEP/TWD">
        Convert 1 JEP to TWD...
      </a>
    </li>
    <li>
      <a href="/JEP/TZS">
        Convert 1 JEP to TZS...
      </a>
    </li>
    <li>
      <a href="/JEP/UAH">
        Convert 1 JEP to UAH...
      </a>
    </li>
    <li>
      <a href="/JEP/UGX">
        Convert 1 JEP to UGX...
      </a>
    </li>
    <li>
      <a href="/JEP/USD">
        Convert 1 JEP to USD...
      </a>
    </li>
    <li>
      <a href="/JEP/UYU">
        Convert 1 JEP to UYU...
      </a>
    </li>
    <li>
      <a href="/JEP/UZS">
        Convert 1 JEP to UZS...
      </a>
    </li>
    <li>
      <a href="/JEP/VEF">
        Convert 1 JEP to VEF...
      </a>
    </li>
    <li>
      <a href="/JEP/VES">
        Convert 1 JEP to VES...
      </a>
    </li>
    <li>
      <a href="/JEP/VND">
        Convert 1 JEP to VND...
      </a>
    </li>
    <li>
      <a href="/JEP/VUV">
        Convert 1 JEP to VUV...
      </a>
    </li>
    <li>
      <a href="/JEP/WST">
        Convert 1 JEP to WST...
      </a>
    </li>
    <li>
      <a href="/JEP/XAF">
        Convert 1 JEP to XAF...
      </a>
    </li>
    <li>
      <a href="/JEP/XAG">
        Convert 1 JEP to XAG...
      </a>
    </li>
    <li>
      <a href="/JEP/XAU">
        Convert 1 JEP to XAU...
      </a>
    </li>
    <li>
      <a href="/JEP/XCD">
        Convert 1 JEP to XCD...
      </a>
    </li>
    <li>
      <a href="/JEP/XDR">
        Convert 1 JEP to XDR...
      </a>
    </li>
    <li>
      <a href="/JEP/XOF">
        Convert 1 JEP to XOF...
      </a>
    </li>
    <li>
      <a href="/JEP/XPD">
        Convert 1 JEP to XPD...
      </a>
    </li>
    <li>
      <a href="/JEP/XPF">
        Convert 1 JEP to XPF...
      </a>
    </li>
    <li>
      <a href="/JEP/XPT">
        Convert 1 JEP to XPT...
      </a>
    </li>
    <li>
      <a href="/JEP/YER">
        Convert 1 JEP to YER...
      </a>
    </li>
    <li>
      <a href="/JEP/ZAR">
        Convert 1 JEP to ZAR...
      </a>
    </li>
    <li>
      <a href="/JEP/ZMW">
        Convert 1 JEP to ZMW...
      </a>
    </li>
    <li>
      <a href="/JEP/ZWL">
        Convert 1 JEP to ZWL...
      </a>
    </li>
</ul>
</body>
