<body>
    <h1>Convert JPY</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/JPY/AED">
        Convert 1 JPY to AED...
      </a>
    </li>
    <li>
      <a href="/JPY/AFN">
        Convert 1 JPY to AFN...
      </a>
    </li>
    <li>
      <a href="/JPY/ALL">
        Convert 1 JPY to ALL...
      </a>
    </li>
    <li>
      <a href="/JPY/AMD">
        Convert 1 JPY to AMD...
      </a>
    </li>
    <li>
      <a href="/JPY/ANG">
        Convert 1 JPY to ANG...
      </a>
    </li>
    <li>
      <a href="/JPY/AOA">
        Convert 1 JPY to AOA...
      </a>
    </li>
    <li>
      <a href="/JPY/ARS">
        Convert 1 JPY to ARS...
      </a>
    </li>
    <li>
      <a href="/JPY/AUD">
        Convert 1 JPY to AUD...
      </a>
    </li>
    <li>
      <a href="/JPY/AWG">
        Convert 1 JPY to AWG...
      </a>
    </li>
    <li>
      <a href="/JPY/AZN">
        Convert 1 JPY to AZN...
      </a>
    </li>
    <li>
      <a href="/JPY/BAM">
        Convert 1 JPY to BAM...
      </a>
    </li>
    <li>
      <a href="/JPY/BBD">
        Convert 1 JPY to BBD...
      </a>
    </li>
    <li>
      <a href="/JPY/BDT">
        Convert 1 JPY to BDT...
      </a>
    </li>
    <li>
      <a href="/JPY/BGN">
        Convert 1 JPY to BGN...
      </a>
    </li>
    <li>
      <a href="/JPY/BHD">
        Convert 1 JPY to BHD...
      </a>
    </li>
    <li>
      <a href="/JPY/BIF">
        Convert 1 JPY to BIF...
      </a>
    </li>
    <li>
      <a href="/JPY/BMD">
        Convert 1 JPY to BMD...
      </a>
    </li>
    <li>
      <a href="/JPY/BND">
        Convert 1 JPY to BND...
      </a>
    </li>
    <li>
      <a href="/JPY/BOB">
        Convert 1 JPY to BOB...
      </a>
    </li>
    <li>
      <a href="/JPY/BRL">
        Convert 1 JPY to BRL...
      </a>
    </li>
    <li>
      <a href="/JPY/BSD">
        Convert 1 JPY to BSD...
      </a>
    </li>
    <li>
      <a href="/JPY/BTC">
        Convert 1 JPY to BTC...
      </a>
    </li>
    <li>
      <a href="/JPY/BTN">
        Convert 1 JPY to BTN...
      </a>
    </li>
    <li>
      <a href="/JPY/BWP">
        Convert 1 JPY to BWP...
      </a>
    </li>
    <li>
      <a href="/JPY/BYN">
        Convert 1 JPY to BYN...
      </a>
    </li>
    <li>
      <a href="/JPY/BZD">
        Convert 1 JPY to BZD...
      </a>
    </li>
    <li>
      <a href="/JPY/CAD">
        Convert 1 JPY to CAD...
      </a>
    </li>
    <li>
      <a href="/JPY/CDF">
        Convert 1 JPY to CDF...
      </a>
    </li>
    <li>
      <a href="/JPY/CHF">
        Convert 1 JPY to CHF...
      </a>
    </li>
    <li>
      <a href="/JPY/CLF">
        Convert 1 JPY to CLF...
      </a>
    </li>
    <li>
      <a href="/JPY/CLP">
        Convert 1 JPY to CLP...
      </a>
    </li>
    <li>
      <a href="/JPY/CNH">
        Convert 1 JPY to CNH...
      </a>
    </li>
    <li>
      <a href="/JPY/CNY">
        Convert 1 JPY to CNY...
      </a>
    </li>
    <li>
      <a href="/JPY/COP">
        Convert 1 JPY to COP...
      </a>
    </li>
    <li>
      <a href="/JPY/CRC">
        Convert 1 JPY to CRC...
      </a>
    </li>
    <li>
      <a href="/JPY/CUC">
        Convert 1 JPY to CUC...
      </a>
    </li>
    <li>
      <a href="/JPY/CUP">
        Convert 1 JPY to CUP...
      </a>
    </li>
    <li>
      <a href="/JPY/CVE">
        Convert 1 JPY to CVE...
      </a>
    </li>
    <li>
      <a href="/JPY/CZK">
        Convert 1 JPY to CZK...
      </a>
    </li>
    <li>
      <a href="/JPY/DJF">
        Convert 1 JPY to DJF...
      </a>
    </li>
    <li>
      <a href="/JPY/DKK">
        Convert 1 JPY to DKK...
      </a>
    </li>
    <li>
      <a href="/JPY/DOP">
        Convert 1 JPY to DOP...
      </a>
    </li>
    <li>
      <a href="/JPY/DZD">
        Convert 1 JPY to DZD...
      </a>
    </li>
    <li>
      <a href="/JPY/EGP">
        Convert 1 JPY to EGP...
      </a>
    </li>
    <li>
      <a href="/JPY/ERN">
        Convert 1 JPY to ERN...
      </a>
    </li>
    <li>
      <a href="/JPY/ETB">
        Convert 1 JPY to ETB...
      </a>
    </li>
    <li>
      <a href="/JPY/EUR">
        Convert 1 JPY to EUR...
      </a>
    </li>
    <li>
      <a href="/JPY/FJD">
        Convert 1 JPY to FJD...
      </a>
    </li>
    <li>
      <a href="/JPY/FKP">
        Convert 1 JPY to FKP...
      </a>
    </li>
    <li>
      <a href="/JPY/GBP">
        Convert 1 JPY to GBP...
      </a>
    </li>
    <li>
      <a href="/JPY/GEL">
        Convert 1 JPY to GEL...
      </a>
    </li>
    <li>
      <a href="/JPY/GGP">
        Convert 1 JPY to GGP...
      </a>
    </li>
    <li>
      <a href="/JPY/GHS">
        Convert 1 JPY to GHS...
      </a>
    </li>
    <li>
      <a href="/JPY/GIP">
        Convert 1 JPY to GIP...
      </a>
    </li>
    <li>
      <a href="/JPY/GMD">
        Convert 1 JPY to GMD...
      </a>
    </li>
    <li>
      <a href="/JPY/GNF">
        Convert 1 JPY to GNF...
      </a>
    </li>
    <li>
      <a href="/JPY/GTQ">
        Convert 1 JPY to GTQ...
      </a>
    </li>
    <li>
      <a href="/JPY/GYD">
        Convert 1 JPY to GYD...
      </a>
    </li>
    <li>
      <a href="/JPY/HKD">
        Convert 1 JPY to HKD...
      </a>
    </li>
    <li>
      <a href="/JPY/HNL">
        Convert 1 JPY to HNL...
      </a>
    </li>
    <li>
      <a href="/JPY/HRK">
        Convert 1 JPY to HRK...
      </a>
    </li>
    <li>
      <a href="/JPY/HTG">
        Convert 1 JPY to HTG...
      </a>
    </li>
    <li>
      <a href="/JPY/HUF">
        Convert 1 JPY to HUF...
      </a>
    </li>
    <li>
      <a href="/JPY/IDR">
        Convert 1 JPY to IDR...
      </a>
    </li>
    <li>
      <a href="/JPY/ILS">
        Convert 1 JPY to ILS...
      </a>
    </li>
    <li>
      <a href="/JPY/IMP">
        Convert 1 JPY to IMP...
      </a>
    </li>
    <li>
      <a href="/JPY/INR">
        Convert 1 JPY to INR...
      </a>
    </li>
    <li>
      <a href="/JPY/IQD">
        Convert 1 JPY to IQD...
      </a>
    </li>
    <li>
      <a href="/JPY/IRR">
        Convert 1 JPY to IRR...
      </a>
    </li>
    <li>
      <a href="/JPY/ISK">
        Convert 1 JPY to ISK...
      </a>
    </li>
    <li>
      <a href="/JPY/JEP">
        Convert 1 JPY to JEP...
      </a>
    </li>
    <li>
      <a href="/JPY/JMD">
        Convert 1 JPY to JMD...
      </a>
    </li>
    <li>
      <a href="/JPY/JOD">
        Convert 1 JPY to JOD...
      </a>
    </li>
    <li>
      <a href="/JPY/JPY">
        Convert 1 JPY to JPY...
      </a>
    </li>
    <li>
      <a href="/JPY/KES">
        Convert 1 JPY to KES...
      </a>
    </li>
    <li>
      <a href="/JPY/KGS">
        Convert 1 JPY to KGS...
      </a>
    </li>
    <li>
      <a href="/JPY/KHR">
        Convert 1 JPY to KHR...
      </a>
    </li>
    <li>
      <a href="/JPY/KMF">
        Convert 1 JPY to KMF...
      </a>
    </li>
    <li>
      <a href="/JPY/KPW">
        Convert 1 JPY to KPW...
      </a>
    </li>
    <li>
      <a href="/JPY/KRW">
        Convert 1 JPY to KRW...
      </a>
    </li>
    <li>
      <a href="/JPY/KWD">
        Convert 1 JPY to KWD...
      </a>
    </li>
    <li>
      <a href="/JPY/KYD">
        Convert 1 JPY to KYD...
      </a>
    </li>
    <li>
      <a href="/JPY/KZT">
        Convert 1 JPY to KZT...
      </a>
    </li>
    <li>
      <a href="/JPY/LAK">
        Convert 1 JPY to LAK...
      </a>
    </li>
    <li>
      <a href="/JPY/LBP">
        Convert 1 JPY to LBP...
      </a>
    </li>
    <li>
      <a href="/JPY/LKR">
        Convert 1 JPY to LKR...
      </a>
    </li>
    <li>
      <a href="/JPY/LRD">
        Convert 1 JPY to LRD...
      </a>
    </li>
    <li>
      <a href="/JPY/LSL">
        Convert 1 JPY to LSL...
      </a>
    </li>
    <li>
      <a href="/JPY/LYD">
        Convert 1 JPY to LYD...
      </a>
    </li>
    <li>
      <a href="/JPY/MAD">
        Convert 1 JPY to MAD...
      </a>
    </li>
    <li>
      <a href="/JPY/MDL">
        Convert 1 JPY to MDL...
      </a>
    </li>
    <li>
      <a href="/JPY/MGA">
        Convert 1 JPY to MGA...
      </a>
    </li>
    <li>
      <a href="/JPY/MKD">
        Convert 1 JPY to MKD...
      </a>
    </li>
    <li>
      <a href="/JPY/MMK">
        Convert 1 JPY to MMK...
      </a>
    </li>
    <li>
      <a href="/JPY/MNT">
        Convert 1 JPY to MNT...
      </a>
    </li>
    <li>
      <a href="/JPY/MOP">
        Convert 1 JPY to MOP...
      </a>
    </li>
    <li>
      <a href="/JPY/MRO">
        Convert 1 JPY to MRO...
      </a>
    </li>
    <li>
      <a href="/JPY/MRU">
        Convert 1 JPY to MRU...
      </a>
    </li>
    <li>
      <a href="/JPY/MUR">
        Convert 1 JPY to MUR...
      </a>
    </li>
    <li>
      <a href="/JPY/MVR">
        Convert 1 JPY to MVR...
      </a>
    </li>
    <li>
      <a href="/JPY/MWK">
        Convert 1 JPY to MWK...
      </a>
    </li>
    <li>
      <a href="/JPY/MXN">
        Convert 1 JPY to MXN...
      </a>
    </li>
    <li>
      <a href="/JPY/MYR">
        Convert 1 JPY to MYR...
      </a>
    </li>
    <li>
      <a href="/JPY/MZN">
        Convert 1 JPY to MZN...
      </a>
    </li>
    <li>
      <a href="/JPY/NAD">
        Convert 1 JPY to NAD...
      </a>
    </li>
    <li>
      <a href="/JPY/NGN">
        Convert 1 JPY to NGN...
      </a>
    </li>
    <li>
      <a href="/JPY/NIO">
        Convert 1 JPY to NIO...
      </a>
    </li>
    <li>
      <a href="/JPY/NOK">
        Convert 1 JPY to NOK...
      </a>
    </li>
    <li>
      <a href="/JPY/NPR">
        Convert 1 JPY to NPR...
      </a>
    </li>
    <li>
      <a href="/JPY/NZD">
        Convert 1 JPY to NZD...
      </a>
    </li>
    <li>
      <a href="/JPY/OMR">
        Convert 1 JPY to OMR...
      </a>
    </li>
    <li>
      <a href="/JPY/PAB">
        Convert 1 JPY to PAB...
      </a>
    </li>
    <li>
      <a href="/JPY/PEN">
        Convert 1 JPY to PEN...
      </a>
    </li>
    <li>
      <a href="/JPY/PGK">
        Convert 1 JPY to PGK...
      </a>
    </li>
    <li>
      <a href="/JPY/PHP">
        Convert 1 JPY to PHP...
      </a>
    </li>
    <li>
      <a href="/JPY/PKR">
        Convert 1 JPY to PKR...
      </a>
    </li>
    <li>
      <a href="/JPY/PLN">
        Convert 1 JPY to PLN...
      </a>
    </li>
    <li>
      <a href="/JPY/PYG">
        Convert 1 JPY to PYG...
      </a>
    </li>
    <li>
      <a href="/JPY/QAR">
        Convert 1 JPY to QAR...
      </a>
    </li>
    <li>
      <a href="/JPY/RON">
        Convert 1 JPY to RON...
      </a>
    </li>
    <li>
      <a href="/JPY/RSD">
        Convert 1 JPY to RSD...
      </a>
    </li>
    <li>
      <a href="/JPY/RUB">
        Convert 1 JPY to RUB...
      </a>
    </li>
    <li>
      <a href="/JPY/RWF">
        Convert 1 JPY to RWF...
      </a>
    </li>
    <li>
      <a href="/JPY/SAR">
        Convert 1 JPY to SAR...
      </a>
    </li>
    <li>
      <a href="/JPY/SBD">
        Convert 1 JPY to SBD...
      </a>
    </li>
    <li>
      <a href="/JPY/SCR">
        Convert 1 JPY to SCR...
      </a>
    </li>
    <li>
      <a href="/JPY/SDG">
        Convert 1 JPY to SDG...
      </a>
    </li>
    <li>
      <a href="/JPY/SEK">
        Convert 1 JPY to SEK...
      </a>
    </li>
    <li>
      <a href="/JPY/SGD">
        Convert 1 JPY to SGD...
      </a>
    </li>
    <li>
      <a href="/JPY/SHP">
        Convert 1 JPY to SHP...
      </a>
    </li>
    <li>
      <a href="/JPY/SLL">
        Convert 1 JPY to SLL...
      </a>
    </li>
    <li>
      <a href="/JPY/SOS">
        Convert 1 JPY to SOS...
      </a>
    </li>
    <li>
      <a href="/JPY/SRD">
        Convert 1 JPY to SRD...
      </a>
    </li>
    <li>
      <a href="/JPY/SSP">
        Convert 1 JPY to SSP...
      </a>
    </li>
    <li>
      <a href="/JPY/STD">
        Convert 1 JPY to STD...
      </a>
    </li>
    <li>
      <a href="/JPY/STN">
        Convert 1 JPY to STN...
      </a>
    </li>
    <li>
      <a href="/JPY/SVC">
        Convert 1 JPY to SVC...
      </a>
    </li>
    <li>
      <a href="/JPY/SYP">
        Convert 1 JPY to SYP...
      </a>
    </li>
    <li>
      <a href="/JPY/SZL">
        Convert 1 JPY to SZL...
      </a>
    </li>
    <li>
      <a href="/JPY/THB">
        Convert 1 JPY to THB...
      </a>
    </li>
    <li>
      <a href="/JPY/TJS">
        Convert 1 JPY to TJS...
      </a>
    </li>
    <li>
      <a href="/JPY/TMT">
        Convert 1 JPY to TMT...
      </a>
    </li>
    <li>
      <a href="/JPY/TND">
        Convert 1 JPY to TND...
      </a>
    </li>
    <li>
      <a href="/JPY/TOP">
        Convert 1 JPY to TOP...
      </a>
    </li>
    <li>
      <a href="/JPY/TRY">
        Convert 1 JPY to TRY...
      </a>
    </li>
    <li>
      <a href="/JPY/TTD">
        Convert 1 JPY to TTD...
      </a>
    </li>
    <li>
      <a href="/JPY/TWD">
        Convert 1 JPY to TWD...
      </a>
    </li>
    <li>
      <a href="/JPY/TZS">
        Convert 1 JPY to TZS...
      </a>
    </li>
    <li>
      <a href="/JPY/UAH">
        Convert 1 JPY to UAH...
      </a>
    </li>
    <li>
      <a href="/JPY/UGX">
        Convert 1 JPY to UGX...
      </a>
    </li>
    <li>
      <a href="/JPY/USD">
        Convert 1 JPY to USD...
      </a>
    </li>
    <li>
      <a href="/JPY/UYU">
        Convert 1 JPY to UYU...
      </a>
    </li>
    <li>
      <a href="/JPY/UZS">
        Convert 1 JPY to UZS...
      </a>
    </li>
    <li>
      <a href="/JPY/VEF">
        Convert 1 JPY to VEF...
      </a>
    </li>
    <li>
      <a href="/JPY/VES">
        Convert 1 JPY to VES...
      </a>
    </li>
    <li>
      <a href="/JPY/VND">
        Convert 1 JPY to VND...
      </a>
    </li>
    <li>
      <a href="/JPY/VUV">
        Convert 1 JPY to VUV...
      </a>
    </li>
    <li>
      <a href="/JPY/WST">
        Convert 1 JPY to WST...
      </a>
    </li>
    <li>
      <a href="/JPY/XAF">
        Convert 1 JPY to XAF...
      </a>
    </li>
    <li>
      <a href="/JPY/XAG">
        Convert 1 JPY to XAG...
      </a>
    </li>
    <li>
      <a href="/JPY/XAU">
        Convert 1 JPY to XAU...
      </a>
    </li>
    <li>
      <a href="/JPY/XCD">
        Convert 1 JPY to XCD...
      </a>
    </li>
    <li>
      <a href="/JPY/XDR">
        Convert 1 JPY to XDR...
      </a>
    </li>
    <li>
      <a href="/JPY/XOF">
        Convert 1 JPY to XOF...
      </a>
    </li>
    <li>
      <a href="/JPY/XPD">
        Convert 1 JPY to XPD...
      </a>
    </li>
    <li>
      <a href="/JPY/XPF">
        Convert 1 JPY to XPF...
      </a>
    </li>
    <li>
      <a href="/JPY/XPT">
        Convert 1 JPY to XPT...
      </a>
    </li>
    <li>
      <a href="/JPY/YER">
        Convert 1 JPY to YER...
      </a>
    </li>
    <li>
      <a href="/JPY/ZAR">
        Convert 1 JPY to ZAR...
      </a>
    </li>
    <li>
      <a href="/JPY/ZMW">
        Convert 1 JPY to ZMW...
      </a>
    </li>
    <li>
      <a href="/JPY/ZWL">
        Convert 1 JPY to ZWL...
      </a>
    </li>
</ul>
</body>
