<body>
    <h1>Convert KES</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/KES/AED">
        Convert 1 KES to AED...
      </a>
    </li>
    <li>
      <a href="/KES/AFN">
        Convert 1 KES to AFN...
      </a>
    </li>
    <li>
      <a href="/KES/ALL">
        Convert 1 KES to ALL...
      </a>
    </li>
    <li>
      <a href="/KES/AMD">
        Convert 1 KES to AMD...
      </a>
    </li>
    <li>
      <a href="/KES/ANG">
        Convert 1 KES to ANG...
      </a>
    </li>
    <li>
      <a href="/KES/AOA">
        Convert 1 KES to AOA...
      </a>
    </li>
    <li>
      <a href="/KES/ARS">
        Convert 1 KES to ARS...
      </a>
    </li>
    <li>
      <a href="/KES/AUD">
        Convert 1 KES to AUD...
      </a>
    </li>
    <li>
      <a href="/KES/AWG">
        Convert 1 KES to AWG...
      </a>
    </li>
    <li>
      <a href="/KES/AZN">
        Convert 1 KES to AZN...
      </a>
    </li>
    <li>
      <a href="/KES/BAM">
        Convert 1 KES to BAM...
      </a>
    </li>
    <li>
      <a href="/KES/BBD">
        Convert 1 KES to BBD...
      </a>
    </li>
    <li>
      <a href="/KES/BDT">
        Convert 1 KES to BDT...
      </a>
    </li>
    <li>
      <a href="/KES/BGN">
        Convert 1 KES to BGN...
      </a>
    </li>
    <li>
      <a href="/KES/BHD">
        Convert 1 KES to BHD...
      </a>
    </li>
    <li>
      <a href="/KES/BIF">
        Convert 1 KES to BIF...
      </a>
    </li>
    <li>
      <a href="/KES/BMD">
        Convert 1 KES to BMD...
      </a>
    </li>
    <li>
      <a href="/KES/BND">
        Convert 1 KES to BND...
      </a>
    </li>
    <li>
      <a href="/KES/BOB">
        Convert 1 KES to BOB...
      </a>
    </li>
    <li>
      <a href="/KES/BRL">
        Convert 1 KES to BRL...
      </a>
    </li>
    <li>
      <a href="/KES/BSD">
        Convert 1 KES to BSD...
      </a>
    </li>
    <li>
      <a href="/KES/BTC">
        Convert 1 KES to BTC...
      </a>
    </li>
    <li>
      <a href="/KES/BTN">
        Convert 1 KES to BTN...
      </a>
    </li>
    <li>
      <a href="/KES/BWP">
        Convert 1 KES to BWP...
      </a>
    </li>
    <li>
      <a href="/KES/BYN">
        Convert 1 KES to BYN...
      </a>
    </li>
    <li>
      <a href="/KES/BZD">
        Convert 1 KES to BZD...
      </a>
    </li>
    <li>
      <a href="/KES/CAD">
        Convert 1 KES to CAD...
      </a>
    </li>
    <li>
      <a href="/KES/CDF">
        Convert 1 KES to CDF...
      </a>
    </li>
    <li>
      <a href="/KES/CHF">
        Convert 1 KES to CHF...
      </a>
    </li>
    <li>
      <a href="/KES/CLF">
        Convert 1 KES to CLF...
      </a>
    </li>
    <li>
      <a href="/KES/CLP">
        Convert 1 KES to CLP...
      </a>
    </li>
    <li>
      <a href="/KES/CNH">
        Convert 1 KES to CNH...
      </a>
    </li>
    <li>
      <a href="/KES/CNY">
        Convert 1 KES to CNY...
      </a>
    </li>
    <li>
      <a href="/KES/COP">
        Convert 1 KES to COP...
      </a>
    </li>
    <li>
      <a href="/KES/CRC">
        Convert 1 KES to CRC...
      </a>
    </li>
    <li>
      <a href="/KES/CUC">
        Convert 1 KES to CUC...
      </a>
    </li>
    <li>
      <a href="/KES/CUP">
        Convert 1 KES to CUP...
      </a>
    </li>
    <li>
      <a href="/KES/CVE">
        Convert 1 KES to CVE...
      </a>
    </li>
    <li>
      <a href="/KES/CZK">
        Convert 1 KES to CZK...
      </a>
    </li>
    <li>
      <a href="/KES/DJF">
        Convert 1 KES to DJF...
      </a>
    </li>
    <li>
      <a href="/KES/DKK">
        Convert 1 KES to DKK...
      </a>
    </li>
    <li>
      <a href="/KES/DOP">
        Convert 1 KES to DOP...
      </a>
    </li>
    <li>
      <a href="/KES/DZD">
        Convert 1 KES to DZD...
      </a>
    </li>
    <li>
      <a href="/KES/EGP">
        Convert 1 KES to EGP...
      </a>
    </li>
    <li>
      <a href="/KES/ERN">
        Convert 1 KES to ERN...
      </a>
    </li>
    <li>
      <a href="/KES/ETB">
        Convert 1 KES to ETB...
      </a>
    </li>
    <li>
      <a href="/KES/EUR">
        Convert 1 KES to EUR...
      </a>
    </li>
    <li>
      <a href="/KES/FJD">
        Convert 1 KES to FJD...
      </a>
    </li>
    <li>
      <a href="/KES/FKP">
        Convert 1 KES to FKP...
      </a>
    </li>
    <li>
      <a href="/KES/GBP">
        Convert 1 KES to GBP...
      </a>
    </li>
    <li>
      <a href="/KES/GEL">
        Convert 1 KES to GEL...
      </a>
    </li>
    <li>
      <a href="/KES/GGP">
        Convert 1 KES to GGP...
      </a>
    </li>
    <li>
      <a href="/KES/GHS">
        Convert 1 KES to GHS...
      </a>
    </li>
    <li>
      <a href="/KES/GIP">
        Convert 1 KES to GIP...
      </a>
    </li>
    <li>
      <a href="/KES/GMD">
        Convert 1 KES to GMD...
      </a>
    </li>
    <li>
      <a href="/KES/GNF">
        Convert 1 KES to GNF...
      </a>
    </li>
    <li>
      <a href="/KES/GTQ">
        Convert 1 KES to GTQ...
      </a>
    </li>
    <li>
      <a href="/KES/GYD">
        Convert 1 KES to GYD...
      </a>
    </li>
    <li>
      <a href="/KES/HKD">
        Convert 1 KES to HKD...
      </a>
    </li>
    <li>
      <a href="/KES/HNL">
        Convert 1 KES to HNL...
      </a>
    </li>
    <li>
      <a href="/KES/HRK">
        Convert 1 KES to HRK...
      </a>
    </li>
    <li>
      <a href="/KES/HTG">
        Convert 1 KES to HTG...
      </a>
    </li>
    <li>
      <a href="/KES/HUF">
        Convert 1 KES to HUF...
      </a>
    </li>
    <li>
      <a href="/KES/IDR">
        Convert 1 KES to IDR...
      </a>
    </li>
    <li>
      <a href="/KES/ILS">
        Convert 1 KES to ILS...
      </a>
    </li>
    <li>
      <a href="/KES/IMP">
        Convert 1 KES to IMP...
      </a>
    </li>
    <li>
      <a href="/KES/INR">
        Convert 1 KES to INR...
      </a>
    </li>
    <li>
      <a href="/KES/IQD">
        Convert 1 KES to IQD...
      </a>
    </li>
    <li>
      <a href="/KES/IRR">
        Convert 1 KES to IRR...
      </a>
    </li>
    <li>
      <a href="/KES/ISK">
        Convert 1 KES to ISK...
      </a>
    </li>
    <li>
      <a href="/KES/JEP">
        Convert 1 KES to JEP...
      </a>
    </li>
    <li>
      <a href="/KES/JMD">
        Convert 1 KES to JMD...
      </a>
    </li>
    <li>
      <a href="/KES/JOD">
        Convert 1 KES to JOD...
      </a>
    </li>
    <li>
      <a href="/KES/JPY">
        Convert 1 KES to JPY...
      </a>
    </li>
    <li>
      <a href="/KES/KES">
        Convert 1 KES to KES...
      </a>
    </li>
    <li>
      <a href="/KES/KGS">
        Convert 1 KES to KGS...
      </a>
    </li>
    <li>
      <a href="/KES/KHR">
        Convert 1 KES to KHR...
      </a>
    </li>
    <li>
      <a href="/KES/KMF">
        Convert 1 KES to KMF...
      </a>
    </li>
    <li>
      <a href="/KES/KPW">
        Convert 1 KES to KPW...
      </a>
    </li>
    <li>
      <a href="/KES/KRW">
        Convert 1 KES to KRW...
      </a>
    </li>
    <li>
      <a href="/KES/KWD">
        Convert 1 KES to KWD...
      </a>
    </li>
    <li>
      <a href="/KES/KYD">
        Convert 1 KES to KYD...
      </a>
    </li>
    <li>
      <a href="/KES/KZT">
        Convert 1 KES to KZT...
      </a>
    </li>
    <li>
      <a href="/KES/LAK">
        Convert 1 KES to LAK...
      </a>
    </li>
    <li>
      <a href="/KES/LBP">
        Convert 1 KES to LBP...
      </a>
    </li>
    <li>
      <a href="/KES/LKR">
        Convert 1 KES to LKR...
      </a>
    </li>
    <li>
      <a href="/KES/LRD">
        Convert 1 KES to LRD...
      </a>
    </li>
    <li>
      <a href="/KES/LSL">
        Convert 1 KES to LSL...
      </a>
    </li>
    <li>
      <a href="/KES/LYD">
        Convert 1 KES to LYD...
      </a>
    </li>
    <li>
      <a href="/KES/MAD">
        Convert 1 KES to MAD...
      </a>
    </li>
    <li>
      <a href="/KES/MDL">
        Convert 1 KES to MDL...
      </a>
    </li>
    <li>
      <a href="/KES/MGA">
        Convert 1 KES to MGA...
      </a>
    </li>
    <li>
      <a href="/KES/MKD">
        Convert 1 KES to MKD...
      </a>
    </li>
    <li>
      <a href="/KES/MMK">
        Convert 1 KES to MMK...
      </a>
    </li>
    <li>
      <a href="/KES/MNT">
        Convert 1 KES to MNT...
      </a>
    </li>
    <li>
      <a href="/KES/MOP">
        Convert 1 KES to MOP...
      </a>
    </li>
    <li>
      <a href="/KES/MRO">
        Convert 1 KES to MRO...
      </a>
    </li>
    <li>
      <a href="/KES/MRU">
        Convert 1 KES to MRU...
      </a>
    </li>
    <li>
      <a href="/KES/MUR">
        Convert 1 KES to MUR...
      </a>
    </li>
    <li>
      <a href="/KES/MVR">
        Convert 1 KES to MVR...
      </a>
    </li>
    <li>
      <a href="/KES/MWK">
        Convert 1 KES to MWK...
      </a>
    </li>
    <li>
      <a href="/KES/MXN">
        Convert 1 KES to MXN...
      </a>
    </li>
    <li>
      <a href="/KES/MYR">
        Convert 1 KES to MYR...
      </a>
    </li>
    <li>
      <a href="/KES/MZN">
        Convert 1 KES to MZN...
      </a>
    </li>
    <li>
      <a href="/KES/NAD">
        Convert 1 KES to NAD...
      </a>
    </li>
    <li>
      <a href="/KES/NGN">
        Convert 1 KES to NGN...
      </a>
    </li>
    <li>
      <a href="/KES/NIO">
        Convert 1 KES to NIO...
      </a>
    </li>
    <li>
      <a href="/KES/NOK">
        Convert 1 KES to NOK...
      </a>
    </li>
    <li>
      <a href="/KES/NPR">
        Convert 1 KES to NPR...
      </a>
    </li>
    <li>
      <a href="/KES/NZD">
        Convert 1 KES to NZD...
      </a>
    </li>
    <li>
      <a href="/KES/OMR">
        Convert 1 KES to OMR...
      </a>
    </li>
    <li>
      <a href="/KES/PAB">
        Convert 1 KES to PAB...
      </a>
    </li>
    <li>
      <a href="/KES/PEN">
        Convert 1 KES to PEN...
      </a>
    </li>
    <li>
      <a href="/KES/PGK">
        Convert 1 KES to PGK...
      </a>
    </li>
    <li>
      <a href="/KES/PHP">
        Convert 1 KES to PHP...
      </a>
    </li>
    <li>
      <a href="/KES/PKR">
        Convert 1 KES to PKR...
      </a>
    </li>
    <li>
      <a href="/KES/PLN">
        Convert 1 KES to PLN...
      </a>
    </li>
    <li>
      <a href="/KES/PYG">
        Convert 1 KES to PYG...
      </a>
    </li>
    <li>
      <a href="/KES/QAR">
        Convert 1 KES to QAR...
      </a>
    </li>
    <li>
      <a href="/KES/RON">
        Convert 1 KES to RON...
      </a>
    </li>
    <li>
      <a href="/KES/RSD">
        Convert 1 KES to RSD...
      </a>
    </li>
    <li>
      <a href="/KES/RUB">
        Convert 1 KES to RUB...
      </a>
    </li>
    <li>
      <a href="/KES/RWF">
        Convert 1 KES to RWF...
      </a>
    </li>
    <li>
      <a href="/KES/SAR">
        Convert 1 KES to SAR...
      </a>
    </li>
    <li>
      <a href="/KES/SBD">
        Convert 1 KES to SBD...
      </a>
    </li>
    <li>
      <a href="/KES/SCR">
        Convert 1 KES to SCR...
      </a>
    </li>
    <li>
      <a href="/KES/SDG">
        Convert 1 KES to SDG...
      </a>
    </li>
    <li>
      <a href="/KES/SEK">
        Convert 1 KES to SEK...
      </a>
    </li>
    <li>
      <a href="/KES/SGD">
        Convert 1 KES to SGD...
      </a>
    </li>
    <li>
      <a href="/KES/SHP">
        Convert 1 KES to SHP...
      </a>
    </li>
    <li>
      <a href="/KES/SLL">
        Convert 1 KES to SLL...
      </a>
    </li>
    <li>
      <a href="/KES/SOS">
        Convert 1 KES to SOS...
      </a>
    </li>
    <li>
      <a href="/KES/SRD">
        Convert 1 KES to SRD...
      </a>
    </li>
    <li>
      <a href="/KES/SSP">
        Convert 1 KES to SSP...
      </a>
    </li>
    <li>
      <a href="/KES/STD">
        Convert 1 KES to STD...
      </a>
    </li>
    <li>
      <a href="/KES/STN">
        Convert 1 KES to STN...
      </a>
    </li>
    <li>
      <a href="/KES/SVC">
        Convert 1 KES to SVC...
      </a>
    </li>
    <li>
      <a href="/KES/SYP">
        Convert 1 KES to SYP...
      </a>
    </li>
    <li>
      <a href="/KES/SZL">
        Convert 1 KES to SZL...
      </a>
    </li>
    <li>
      <a href="/KES/THB">
        Convert 1 KES to THB...
      </a>
    </li>
    <li>
      <a href="/KES/TJS">
        Convert 1 KES to TJS...
      </a>
    </li>
    <li>
      <a href="/KES/TMT">
        Convert 1 KES to TMT...
      </a>
    </li>
    <li>
      <a href="/KES/TND">
        Convert 1 KES to TND...
      </a>
    </li>
    <li>
      <a href="/KES/TOP">
        Convert 1 KES to TOP...
      </a>
    </li>
    <li>
      <a href="/KES/TRY">
        Convert 1 KES to TRY...
      </a>
    </li>
    <li>
      <a href="/KES/TTD">
        Convert 1 KES to TTD...
      </a>
    </li>
    <li>
      <a href="/KES/TWD">
        Convert 1 KES to TWD...
      </a>
    </li>
    <li>
      <a href="/KES/TZS">
        Convert 1 KES to TZS...
      </a>
    </li>
    <li>
      <a href="/KES/UAH">
        Convert 1 KES to UAH...
      </a>
    </li>
    <li>
      <a href="/KES/UGX">
        Convert 1 KES to UGX...
      </a>
    </li>
    <li>
      <a href="/KES/USD">
        Convert 1 KES to USD...
      </a>
    </li>
    <li>
      <a href="/KES/UYU">
        Convert 1 KES to UYU...
      </a>
    </li>
    <li>
      <a href="/KES/UZS">
        Convert 1 KES to UZS...
      </a>
    </li>
    <li>
      <a href="/KES/VEF">
        Convert 1 KES to VEF...
      </a>
    </li>
    <li>
      <a href="/KES/VES">
        Convert 1 KES to VES...
      </a>
    </li>
    <li>
      <a href="/KES/VND">
        Convert 1 KES to VND...
      </a>
    </li>
    <li>
      <a href="/KES/VUV">
        Convert 1 KES to VUV...
      </a>
    </li>
    <li>
      <a href="/KES/WST">
        Convert 1 KES to WST...
      </a>
    </li>
    <li>
      <a href="/KES/XAF">
        Convert 1 KES to XAF...
      </a>
    </li>
    <li>
      <a href="/KES/XAG">
        Convert 1 KES to XAG...
      </a>
    </li>
    <li>
      <a href="/KES/XAU">
        Convert 1 KES to XAU...
      </a>
    </li>
    <li>
      <a href="/KES/XCD">
        Convert 1 KES to XCD...
      </a>
    </li>
    <li>
      <a href="/KES/XDR">
        Convert 1 KES to XDR...
      </a>
    </li>
    <li>
      <a href="/KES/XOF">
        Convert 1 KES to XOF...
      </a>
    </li>
    <li>
      <a href="/KES/XPD">
        Convert 1 KES to XPD...
      </a>
    </li>
    <li>
      <a href="/KES/XPF">
        Convert 1 KES to XPF...
      </a>
    </li>
    <li>
      <a href="/KES/XPT">
        Convert 1 KES to XPT...
      </a>
    </li>
    <li>
      <a href="/KES/YER">
        Convert 1 KES to YER...
      </a>
    </li>
    <li>
      <a href="/KES/ZAR">
        Convert 1 KES to ZAR...
      </a>
    </li>
    <li>
      <a href="/KES/ZMW">
        Convert 1 KES to ZMW...
      </a>
    </li>
    <li>
      <a href="/KES/ZWL">
        Convert 1 KES to ZWL...
      </a>
    </li>
</ul>
</body>
