<body>
    <h1>Convert KHR</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/KHR/AED">
        Convert 1 KHR to AED...
      </a>
    </li>
    <li>
      <a href="/KHR/AFN">
        Convert 1 KHR to AFN...
      </a>
    </li>
    <li>
      <a href="/KHR/ALL">
        Convert 1 KHR to ALL...
      </a>
    </li>
    <li>
      <a href="/KHR/AMD">
        Convert 1 KHR to AMD...
      </a>
    </li>
    <li>
      <a href="/KHR/ANG">
        Convert 1 KHR to ANG...
      </a>
    </li>
    <li>
      <a href="/KHR/AOA">
        Convert 1 KHR to AOA...
      </a>
    </li>
    <li>
      <a href="/KHR/ARS">
        Convert 1 KHR to ARS...
      </a>
    </li>
    <li>
      <a href="/KHR/AUD">
        Convert 1 KHR to AUD...
      </a>
    </li>
    <li>
      <a href="/KHR/AWG">
        Convert 1 KHR to AWG...
      </a>
    </li>
    <li>
      <a href="/KHR/AZN">
        Convert 1 KHR to AZN...
      </a>
    </li>
    <li>
      <a href="/KHR/BAM">
        Convert 1 KHR to BAM...
      </a>
    </li>
    <li>
      <a href="/KHR/BBD">
        Convert 1 KHR to BBD...
      </a>
    </li>
    <li>
      <a href="/KHR/BDT">
        Convert 1 KHR to BDT...
      </a>
    </li>
    <li>
      <a href="/KHR/BGN">
        Convert 1 KHR to BGN...
      </a>
    </li>
    <li>
      <a href="/KHR/BHD">
        Convert 1 KHR to BHD...
      </a>
    </li>
    <li>
      <a href="/KHR/BIF">
        Convert 1 KHR to BIF...
      </a>
    </li>
    <li>
      <a href="/KHR/BMD">
        Convert 1 KHR to BMD...
      </a>
    </li>
    <li>
      <a href="/KHR/BND">
        Convert 1 KHR to BND...
      </a>
    </li>
    <li>
      <a href="/KHR/BOB">
        Convert 1 KHR to BOB...
      </a>
    </li>
    <li>
      <a href="/KHR/BRL">
        Convert 1 KHR to BRL...
      </a>
    </li>
    <li>
      <a href="/KHR/BSD">
        Convert 1 KHR to BSD...
      </a>
    </li>
    <li>
      <a href="/KHR/BTC">
        Convert 1 KHR to BTC...
      </a>
    </li>
    <li>
      <a href="/KHR/BTN">
        Convert 1 KHR to BTN...
      </a>
    </li>
    <li>
      <a href="/KHR/BWP">
        Convert 1 KHR to BWP...
      </a>
    </li>
    <li>
      <a href="/KHR/BYN">
        Convert 1 KHR to BYN...
      </a>
    </li>
    <li>
      <a href="/KHR/BZD">
        Convert 1 KHR to BZD...
      </a>
    </li>
    <li>
      <a href="/KHR/CAD">
        Convert 1 KHR to CAD...
      </a>
    </li>
    <li>
      <a href="/KHR/CDF">
        Convert 1 KHR to CDF...
      </a>
    </li>
    <li>
      <a href="/KHR/CHF">
        Convert 1 KHR to CHF...
      </a>
    </li>
    <li>
      <a href="/KHR/CLF">
        Convert 1 KHR to CLF...
      </a>
    </li>
    <li>
      <a href="/KHR/CLP">
        Convert 1 KHR to CLP...
      </a>
    </li>
    <li>
      <a href="/KHR/CNH">
        Convert 1 KHR to CNH...
      </a>
    </li>
    <li>
      <a href="/KHR/CNY">
        Convert 1 KHR to CNY...
      </a>
    </li>
    <li>
      <a href="/KHR/COP">
        Convert 1 KHR to COP...
      </a>
    </li>
    <li>
      <a href="/KHR/CRC">
        Convert 1 KHR to CRC...
      </a>
    </li>
    <li>
      <a href="/KHR/CUC">
        Convert 1 KHR to CUC...
      </a>
    </li>
    <li>
      <a href="/KHR/CUP">
        Convert 1 KHR to CUP...
      </a>
    </li>
    <li>
      <a href="/KHR/CVE">
        Convert 1 KHR to CVE...
      </a>
    </li>
    <li>
      <a href="/KHR/CZK">
        Convert 1 KHR to CZK...
      </a>
    </li>
    <li>
      <a href="/KHR/DJF">
        Convert 1 KHR to DJF...
      </a>
    </li>
    <li>
      <a href="/KHR/DKK">
        Convert 1 KHR to DKK...
      </a>
    </li>
    <li>
      <a href="/KHR/DOP">
        Convert 1 KHR to DOP...
      </a>
    </li>
    <li>
      <a href="/KHR/DZD">
        Convert 1 KHR to DZD...
      </a>
    </li>
    <li>
      <a href="/KHR/EGP">
        Convert 1 KHR to EGP...
      </a>
    </li>
    <li>
      <a href="/KHR/ERN">
        Convert 1 KHR to ERN...
      </a>
    </li>
    <li>
      <a href="/KHR/ETB">
        Convert 1 KHR to ETB...
      </a>
    </li>
    <li>
      <a href="/KHR/EUR">
        Convert 1 KHR to EUR...
      </a>
    </li>
    <li>
      <a href="/KHR/FJD">
        Convert 1 KHR to FJD...
      </a>
    </li>
    <li>
      <a href="/KHR/FKP">
        Convert 1 KHR to FKP...
      </a>
    </li>
    <li>
      <a href="/KHR/GBP">
        Convert 1 KHR to GBP...
      </a>
    </li>
    <li>
      <a href="/KHR/GEL">
        Convert 1 KHR to GEL...
      </a>
    </li>
    <li>
      <a href="/KHR/GGP">
        Convert 1 KHR to GGP...
      </a>
    </li>
    <li>
      <a href="/KHR/GHS">
        Convert 1 KHR to GHS...
      </a>
    </li>
    <li>
      <a href="/KHR/GIP">
        Convert 1 KHR to GIP...
      </a>
    </li>
    <li>
      <a href="/KHR/GMD">
        Convert 1 KHR to GMD...
      </a>
    </li>
    <li>
      <a href="/KHR/GNF">
        Convert 1 KHR to GNF...
      </a>
    </li>
    <li>
      <a href="/KHR/GTQ">
        Convert 1 KHR to GTQ...
      </a>
    </li>
    <li>
      <a href="/KHR/GYD">
        Convert 1 KHR to GYD...
      </a>
    </li>
    <li>
      <a href="/KHR/HKD">
        Convert 1 KHR to HKD...
      </a>
    </li>
    <li>
      <a href="/KHR/HNL">
        Convert 1 KHR to HNL...
      </a>
    </li>
    <li>
      <a href="/KHR/HRK">
        Convert 1 KHR to HRK...
      </a>
    </li>
    <li>
      <a href="/KHR/HTG">
        Convert 1 KHR to HTG...
      </a>
    </li>
    <li>
      <a href="/KHR/HUF">
        Convert 1 KHR to HUF...
      </a>
    </li>
    <li>
      <a href="/KHR/IDR">
        Convert 1 KHR to IDR...
      </a>
    </li>
    <li>
      <a href="/KHR/ILS">
        Convert 1 KHR to ILS...
      </a>
    </li>
    <li>
      <a href="/KHR/IMP">
        Convert 1 KHR to IMP...
      </a>
    </li>
    <li>
      <a href="/KHR/INR">
        Convert 1 KHR to INR...
      </a>
    </li>
    <li>
      <a href="/KHR/IQD">
        Convert 1 KHR to IQD...
      </a>
    </li>
    <li>
      <a href="/KHR/IRR">
        Convert 1 KHR to IRR...
      </a>
    </li>
    <li>
      <a href="/KHR/ISK">
        Convert 1 KHR to ISK...
      </a>
    </li>
    <li>
      <a href="/KHR/JEP">
        Convert 1 KHR to JEP...
      </a>
    </li>
    <li>
      <a href="/KHR/JMD">
        Convert 1 KHR to JMD...
      </a>
    </li>
    <li>
      <a href="/KHR/JOD">
        Convert 1 KHR to JOD...
      </a>
    </li>
    <li>
      <a href="/KHR/JPY">
        Convert 1 KHR to JPY...
      </a>
    </li>
    <li>
      <a href="/KHR/KES">
        Convert 1 KHR to KES...
      </a>
    </li>
    <li>
      <a href="/KHR/KGS">
        Convert 1 KHR to KGS...
      </a>
    </li>
    <li>
      <a href="/KHR/KHR">
        Convert 1 KHR to KHR...
      </a>
    </li>
    <li>
      <a href="/KHR/KMF">
        Convert 1 KHR to KMF...
      </a>
    </li>
    <li>
      <a href="/KHR/KPW">
        Convert 1 KHR to KPW...
      </a>
    </li>
    <li>
      <a href="/KHR/KRW">
        Convert 1 KHR to KRW...
      </a>
    </li>
    <li>
      <a href="/KHR/KWD">
        Convert 1 KHR to KWD...
      </a>
    </li>
    <li>
      <a href="/KHR/KYD">
        Convert 1 KHR to KYD...
      </a>
    </li>
    <li>
      <a href="/KHR/KZT">
        Convert 1 KHR to KZT...
      </a>
    </li>
    <li>
      <a href="/KHR/LAK">
        Convert 1 KHR to LAK...
      </a>
    </li>
    <li>
      <a href="/KHR/LBP">
        Convert 1 KHR to LBP...
      </a>
    </li>
    <li>
      <a href="/KHR/LKR">
        Convert 1 KHR to LKR...
      </a>
    </li>
    <li>
      <a href="/KHR/LRD">
        Convert 1 KHR to LRD...
      </a>
    </li>
    <li>
      <a href="/KHR/LSL">
        Convert 1 KHR to LSL...
      </a>
    </li>
    <li>
      <a href="/KHR/LYD">
        Convert 1 KHR to LYD...
      </a>
    </li>
    <li>
      <a href="/KHR/MAD">
        Convert 1 KHR to MAD...
      </a>
    </li>
    <li>
      <a href="/KHR/MDL">
        Convert 1 KHR to MDL...
      </a>
    </li>
    <li>
      <a href="/KHR/MGA">
        Convert 1 KHR to MGA...
      </a>
    </li>
    <li>
      <a href="/KHR/MKD">
        Convert 1 KHR to MKD...
      </a>
    </li>
    <li>
      <a href="/KHR/MMK">
        Convert 1 KHR to MMK...
      </a>
    </li>
    <li>
      <a href="/KHR/MNT">
        Convert 1 KHR to MNT...
      </a>
    </li>
    <li>
      <a href="/KHR/MOP">
        Convert 1 KHR to MOP...
      </a>
    </li>
    <li>
      <a href="/KHR/MRO">
        Convert 1 KHR to MRO...
      </a>
    </li>
    <li>
      <a href="/KHR/MRU">
        Convert 1 KHR to MRU...
      </a>
    </li>
    <li>
      <a href="/KHR/MUR">
        Convert 1 KHR to MUR...
      </a>
    </li>
    <li>
      <a href="/KHR/MVR">
        Convert 1 KHR to MVR...
      </a>
    </li>
    <li>
      <a href="/KHR/MWK">
        Convert 1 KHR to MWK...
      </a>
    </li>
    <li>
      <a href="/KHR/MXN">
        Convert 1 KHR to MXN...
      </a>
    </li>
    <li>
      <a href="/KHR/MYR">
        Convert 1 KHR to MYR...
      </a>
    </li>
    <li>
      <a href="/KHR/MZN">
        Convert 1 KHR to MZN...
      </a>
    </li>
    <li>
      <a href="/KHR/NAD">
        Convert 1 KHR to NAD...
      </a>
    </li>
    <li>
      <a href="/KHR/NGN">
        Convert 1 KHR to NGN...
      </a>
    </li>
    <li>
      <a href="/KHR/NIO">
        Convert 1 KHR to NIO...
      </a>
    </li>
    <li>
      <a href="/KHR/NOK">
        Convert 1 KHR to NOK...
      </a>
    </li>
    <li>
      <a href="/KHR/NPR">
        Convert 1 KHR to NPR...
      </a>
    </li>
    <li>
      <a href="/KHR/NZD">
        Convert 1 KHR to NZD...
      </a>
    </li>
    <li>
      <a href="/KHR/OMR">
        Convert 1 KHR to OMR...
      </a>
    </li>
    <li>
      <a href="/KHR/PAB">
        Convert 1 KHR to PAB...
      </a>
    </li>
    <li>
      <a href="/KHR/PEN">
        Convert 1 KHR to PEN...
      </a>
    </li>
    <li>
      <a href="/KHR/PGK">
        Convert 1 KHR to PGK...
      </a>
    </li>
    <li>
      <a href="/KHR/PHP">
        Convert 1 KHR to PHP...
      </a>
    </li>
    <li>
      <a href="/KHR/PKR">
        Convert 1 KHR to PKR...
      </a>
    </li>
    <li>
      <a href="/KHR/PLN">
        Convert 1 KHR to PLN...
      </a>
    </li>
    <li>
      <a href="/KHR/PYG">
        Convert 1 KHR to PYG...
      </a>
    </li>
    <li>
      <a href="/KHR/QAR">
        Convert 1 KHR to QAR...
      </a>
    </li>
    <li>
      <a href="/KHR/RON">
        Convert 1 KHR to RON...
      </a>
    </li>
    <li>
      <a href="/KHR/RSD">
        Convert 1 KHR to RSD...
      </a>
    </li>
    <li>
      <a href="/KHR/RUB">
        Convert 1 KHR to RUB...
      </a>
    </li>
    <li>
      <a href="/KHR/RWF">
        Convert 1 KHR to RWF...
      </a>
    </li>
    <li>
      <a href="/KHR/SAR">
        Convert 1 KHR to SAR...
      </a>
    </li>
    <li>
      <a href="/KHR/SBD">
        Convert 1 KHR to SBD...
      </a>
    </li>
    <li>
      <a href="/KHR/SCR">
        Convert 1 KHR to SCR...
      </a>
    </li>
    <li>
      <a href="/KHR/SDG">
        Convert 1 KHR to SDG...
      </a>
    </li>
    <li>
      <a href="/KHR/SEK">
        Convert 1 KHR to SEK...
      </a>
    </li>
    <li>
      <a href="/KHR/SGD">
        Convert 1 KHR to SGD...
      </a>
    </li>
    <li>
      <a href="/KHR/SHP">
        Convert 1 KHR to SHP...
      </a>
    </li>
    <li>
      <a href="/KHR/SLL">
        Convert 1 KHR to SLL...
      </a>
    </li>
    <li>
      <a href="/KHR/SOS">
        Convert 1 KHR to SOS...
      </a>
    </li>
    <li>
      <a href="/KHR/SRD">
        Convert 1 KHR to SRD...
      </a>
    </li>
    <li>
      <a href="/KHR/SSP">
        Convert 1 KHR to SSP...
      </a>
    </li>
    <li>
      <a href="/KHR/STD">
        Convert 1 KHR to STD...
      </a>
    </li>
    <li>
      <a href="/KHR/STN">
        Convert 1 KHR to STN...
      </a>
    </li>
    <li>
      <a href="/KHR/SVC">
        Convert 1 KHR to SVC...
      </a>
    </li>
    <li>
      <a href="/KHR/SYP">
        Convert 1 KHR to SYP...
      </a>
    </li>
    <li>
      <a href="/KHR/SZL">
        Convert 1 KHR to SZL...
      </a>
    </li>
    <li>
      <a href="/KHR/THB">
        Convert 1 KHR to THB...
      </a>
    </li>
    <li>
      <a href="/KHR/TJS">
        Convert 1 KHR to TJS...
      </a>
    </li>
    <li>
      <a href="/KHR/TMT">
        Convert 1 KHR to TMT...
      </a>
    </li>
    <li>
      <a href="/KHR/TND">
        Convert 1 KHR to TND...
      </a>
    </li>
    <li>
      <a href="/KHR/TOP">
        Convert 1 KHR to TOP...
      </a>
    </li>
    <li>
      <a href="/KHR/TRY">
        Convert 1 KHR to TRY...
      </a>
    </li>
    <li>
      <a href="/KHR/TTD">
        Convert 1 KHR to TTD...
      </a>
    </li>
    <li>
      <a href="/KHR/TWD">
        Convert 1 KHR to TWD...
      </a>
    </li>
    <li>
      <a href="/KHR/TZS">
        Convert 1 KHR to TZS...
      </a>
    </li>
    <li>
      <a href="/KHR/UAH">
        Convert 1 KHR to UAH...
      </a>
    </li>
    <li>
      <a href="/KHR/UGX">
        Convert 1 KHR to UGX...
      </a>
    </li>
    <li>
      <a href="/KHR/USD">
        Convert 1 KHR to USD...
      </a>
    </li>
    <li>
      <a href="/KHR/UYU">
        Convert 1 KHR to UYU...
      </a>
    </li>
    <li>
      <a href="/KHR/UZS">
        Convert 1 KHR to UZS...
      </a>
    </li>
    <li>
      <a href="/KHR/VEF">
        Convert 1 KHR to VEF...
      </a>
    </li>
    <li>
      <a href="/KHR/VES">
        Convert 1 KHR to VES...
      </a>
    </li>
    <li>
      <a href="/KHR/VND">
        Convert 1 KHR to VND...
      </a>
    </li>
    <li>
      <a href="/KHR/VUV">
        Convert 1 KHR to VUV...
      </a>
    </li>
    <li>
      <a href="/KHR/WST">
        Convert 1 KHR to WST...
      </a>
    </li>
    <li>
      <a href="/KHR/XAF">
        Convert 1 KHR to XAF...
      </a>
    </li>
    <li>
      <a href="/KHR/XAG">
        Convert 1 KHR to XAG...
      </a>
    </li>
    <li>
      <a href="/KHR/XAU">
        Convert 1 KHR to XAU...
      </a>
    </li>
    <li>
      <a href="/KHR/XCD">
        Convert 1 KHR to XCD...
      </a>
    </li>
    <li>
      <a href="/KHR/XDR">
        Convert 1 KHR to XDR...
      </a>
    </li>
    <li>
      <a href="/KHR/XOF">
        Convert 1 KHR to XOF...
      </a>
    </li>
    <li>
      <a href="/KHR/XPD">
        Convert 1 KHR to XPD...
      </a>
    </li>
    <li>
      <a href="/KHR/XPF">
        Convert 1 KHR to XPF...
      </a>
    </li>
    <li>
      <a href="/KHR/XPT">
        Convert 1 KHR to XPT...
      </a>
    </li>
    <li>
      <a href="/KHR/YER">
        Convert 1 KHR to YER...
      </a>
    </li>
    <li>
      <a href="/KHR/ZAR">
        Convert 1 KHR to ZAR...
      </a>
    </li>
    <li>
      <a href="/KHR/ZMW">
        Convert 1 KHR to ZMW...
      </a>
    </li>
    <li>
      <a href="/KHR/ZWL">
        Convert 1 KHR to ZWL...
      </a>
    </li>
</ul>
</body>
