<body>
    <h1>Convert KWD</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/KWD/AED">
        Convert 1 KWD to AED...
      </a>
    </li>
    <li>
      <a href="/KWD/AFN">
        Convert 1 KWD to AFN...
      </a>
    </li>
    <li>
      <a href="/KWD/ALL">
        Convert 1 KWD to ALL...
      </a>
    </li>
    <li>
      <a href="/KWD/AMD">
        Convert 1 KWD to AMD...
      </a>
    </li>
    <li>
      <a href="/KWD/ANG">
        Convert 1 KWD to ANG...
      </a>
    </li>
    <li>
      <a href="/KWD/AOA">
        Convert 1 KWD to AOA...
      </a>
    </li>
    <li>
      <a href="/KWD/ARS">
        Convert 1 KWD to ARS...
      </a>
    </li>
    <li>
      <a href="/KWD/AUD">
        Convert 1 KWD to AUD...
      </a>
    </li>
    <li>
      <a href="/KWD/AWG">
        Convert 1 KWD to AWG...
      </a>
    </li>
    <li>
      <a href="/KWD/AZN">
        Convert 1 KWD to AZN...
      </a>
    </li>
    <li>
      <a href="/KWD/BAM">
        Convert 1 KWD to BAM...
      </a>
    </li>
    <li>
      <a href="/KWD/BBD">
        Convert 1 KWD to BBD...
      </a>
    </li>
    <li>
      <a href="/KWD/BDT">
        Convert 1 KWD to BDT...
      </a>
    </li>
    <li>
      <a href="/KWD/BGN">
        Convert 1 KWD to BGN...
      </a>
    </li>
    <li>
      <a href="/KWD/BHD">
        Convert 1 KWD to BHD...
      </a>
    </li>
    <li>
      <a href="/KWD/BIF">
        Convert 1 KWD to BIF...
      </a>
    </li>
    <li>
      <a href="/KWD/BMD">
        Convert 1 KWD to BMD...
      </a>
    </li>
    <li>
      <a href="/KWD/BND">
        Convert 1 KWD to BND...
      </a>
    </li>
    <li>
      <a href="/KWD/BOB">
        Convert 1 KWD to BOB...
      </a>
    </li>
    <li>
      <a href="/KWD/BRL">
        Convert 1 KWD to BRL...
      </a>
    </li>
    <li>
      <a href="/KWD/BSD">
        Convert 1 KWD to BSD...
      </a>
    </li>
    <li>
      <a href="/KWD/BTC">
        Convert 1 KWD to BTC...
      </a>
    </li>
    <li>
      <a href="/KWD/BTN">
        Convert 1 KWD to BTN...
      </a>
    </li>
    <li>
      <a href="/KWD/BWP">
        Convert 1 KWD to BWP...
      </a>
    </li>
    <li>
      <a href="/KWD/BYN">
        Convert 1 KWD to BYN...
      </a>
    </li>
    <li>
      <a href="/KWD/BZD">
        Convert 1 KWD to BZD...
      </a>
    </li>
    <li>
      <a href="/KWD/CAD">
        Convert 1 KWD to CAD...
      </a>
    </li>
    <li>
      <a href="/KWD/CDF">
        Convert 1 KWD to CDF...
      </a>
    </li>
    <li>
      <a href="/KWD/CHF">
        Convert 1 KWD to CHF...
      </a>
    </li>
    <li>
      <a href="/KWD/CLF">
        Convert 1 KWD to CLF...
      </a>
    </li>
    <li>
      <a href="/KWD/CLP">
        Convert 1 KWD to CLP...
      </a>
    </li>
    <li>
      <a href="/KWD/CNH">
        Convert 1 KWD to CNH...
      </a>
    </li>
    <li>
      <a href="/KWD/CNY">
        Convert 1 KWD to CNY...
      </a>
    </li>
    <li>
      <a href="/KWD/COP">
        Convert 1 KWD to COP...
      </a>
    </li>
    <li>
      <a href="/KWD/CRC">
        Convert 1 KWD to CRC...
      </a>
    </li>
    <li>
      <a href="/KWD/CUC">
        Convert 1 KWD to CUC...
      </a>
    </li>
    <li>
      <a href="/KWD/CUP">
        Convert 1 KWD to CUP...
      </a>
    </li>
    <li>
      <a href="/KWD/CVE">
        Convert 1 KWD to CVE...
      </a>
    </li>
    <li>
      <a href="/KWD/CZK">
        Convert 1 KWD to CZK...
      </a>
    </li>
    <li>
      <a href="/KWD/DJF">
        Convert 1 KWD to DJF...
      </a>
    </li>
    <li>
      <a href="/KWD/DKK">
        Convert 1 KWD to DKK...
      </a>
    </li>
    <li>
      <a href="/KWD/DOP">
        Convert 1 KWD to DOP...
      </a>
    </li>
    <li>
      <a href="/KWD/DZD">
        Convert 1 KWD to DZD...
      </a>
    </li>
    <li>
      <a href="/KWD/EGP">
        Convert 1 KWD to EGP...
      </a>
    </li>
    <li>
      <a href="/KWD/ERN">
        Convert 1 KWD to ERN...
      </a>
    </li>
    <li>
      <a href="/KWD/ETB">
        Convert 1 KWD to ETB...
      </a>
    </li>
    <li>
      <a href="/KWD/EUR">
        Convert 1 KWD to EUR...
      </a>
    </li>
    <li>
      <a href="/KWD/FJD">
        Convert 1 KWD to FJD...
      </a>
    </li>
    <li>
      <a href="/KWD/FKP">
        Convert 1 KWD to FKP...
      </a>
    </li>
    <li>
      <a href="/KWD/GBP">
        Convert 1 KWD to GBP...
      </a>
    </li>
    <li>
      <a href="/KWD/GEL">
        Convert 1 KWD to GEL...
      </a>
    </li>
    <li>
      <a href="/KWD/GGP">
        Convert 1 KWD to GGP...
      </a>
    </li>
    <li>
      <a href="/KWD/GHS">
        Convert 1 KWD to GHS...
      </a>
    </li>
    <li>
      <a href="/KWD/GIP">
        Convert 1 KWD to GIP...
      </a>
    </li>
    <li>
      <a href="/KWD/GMD">
        Convert 1 KWD to GMD...
      </a>
    </li>
    <li>
      <a href="/KWD/GNF">
        Convert 1 KWD to GNF...
      </a>
    </li>
    <li>
      <a href="/KWD/GTQ">
        Convert 1 KWD to GTQ...
      </a>
    </li>
    <li>
      <a href="/KWD/GYD">
        Convert 1 KWD to GYD...
      </a>
    </li>
    <li>
      <a href="/KWD/HKD">
        Convert 1 KWD to HKD...
      </a>
    </li>
    <li>
      <a href="/KWD/HNL">
        Convert 1 KWD to HNL...
      </a>
    </li>
    <li>
      <a href="/KWD/HRK">
        Convert 1 KWD to HRK...
      </a>
    </li>
    <li>
      <a href="/KWD/HTG">
        Convert 1 KWD to HTG...
      </a>
    </li>
    <li>
      <a href="/KWD/HUF">
        Convert 1 KWD to HUF...
      </a>
    </li>
    <li>
      <a href="/KWD/IDR">
        Convert 1 KWD to IDR...
      </a>
    </li>
    <li>
      <a href="/KWD/ILS">
        Convert 1 KWD to ILS...
      </a>
    </li>
    <li>
      <a href="/KWD/IMP">
        Convert 1 KWD to IMP...
      </a>
    </li>
    <li>
      <a href="/KWD/INR">
        Convert 1 KWD to INR...
      </a>
    </li>
    <li>
      <a href="/KWD/IQD">
        Convert 1 KWD to IQD...
      </a>
    </li>
    <li>
      <a href="/KWD/IRR">
        Convert 1 KWD to IRR...
      </a>
    </li>
    <li>
      <a href="/KWD/ISK">
        Convert 1 KWD to ISK...
      </a>
    </li>
    <li>
      <a href="/KWD/JEP">
        Convert 1 KWD to JEP...
      </a>
    </li>
    <li>
      <a href="/KWD/JMD">
        Convert 1 KWD to JMD...
      </a>
    </li>
    <li>
      <a href="/KWD/JOD">
        Convert 1 KWD to JOD...
      </a>
    </li>
    <li>
      <a href="/KWD/JPY">
        Convert 1 KWD to JPY...
      </a>
    </li>
    <li>
      <a href="/KWD/KES">
        Convert 1 KWD to KES...
      </a>
    </li>
    <li>
      <a href="/KWD/KGS">
        Convert 1 KWD to KGS...
      </a>
    </li>
    <li>
      <a href="/KWD/KHR">
        Convert 1 KWD to KHR...
      </a>
    </li>
    <li>
      <a href="/KWD/KMF">
        Convert 1 KWD to KMF...
      </a>
    </li>
    <li>
      <a href="/KWD/KPW">
        Convert 1 KWD to KPW...
      </a>
    </li>
    <li>
      <a href="/KWD/KRW">
        Convert 1 KWD to KRW...
      </a>
    </li>
    <li>
      <a href="/KWD/KWD">
        Convert 1 KWD to KWD...
      </a>
    </li>
    <li>
      <a href="/KWD/KYD">
        Convert 1 KWD to KYD...
      </a>
    </li>
    <li>
      <a href="/KWD/KZT">
        Convert 1 KWD to KZT...
      </a>
    </li>
    <li>
      <a href="/KWD/LAK">
        Convert 1 KWD to LAK...
      </a>
    </li>
    <li>
      <a href="/KWD/LBP">
        Convert 1 KWD to LBP...
      </a>
    </li>
    <li>
      <a href="/KWD/LKR">
        Convert 1 KWD to LKR...
      </a>
    </li>
    <li>
      <a href="/KWD/LRD">
        Convert 1 KWD to LRD...
      </a>
    </li>
    <li>
      <a href="/KWD/LSL">
        Convert 1 KWD to LSL...
      </a>
    </li>
    <li>
      <a href="/KWD/LYD">
        Convert 1 KWD to LYD...
      </a>
    </li>
    <li>
      <a href="/KWD/MAD">
        Convert 1 KWD to MAD...
      </a>
    </li>
    <li>
      <a href="/KWD/MDL">
        Convert 1 KWD to MDL...
      </a>
    </li>
    <li>
      <a href="/KWD/MGA">
        Convert 1 KWD to MGA...
      </a>
    </li>
    <li>
      <a href="/KWD/MKD">
        Convert 1 KWD to MKD...
      </a>
    </li>
    <li>
      <a href="/KWD/MMK">
        Convert 1 KWD to MMK...
      </a>
    </li>
    <li>
      <a href="/KWD/MNT">
        Convert 1 KWD to MNT...
      </a>
    </li>
    <li>
      <a href="/KWD/MOP">
        Convert 1 KWD to MOP...
      </a>
    </li>
    <li>
      <a href="/KWD/MRO">
        Convert 1 KWD to MRO...
      </a>
    </li>
    <li>
      <a href="/KWD/MRU">
        Convert 1 KWD to MRU...
      </a>
    </li>
    <li>
      <a href="/KWD/MUR">
        Convert 1 KWD to MUR...
      </a>
    </li>
    <li>
      <a href="/KWD/MVR">
        Convert 1 KWD to MVR...
      </a>
    </li>
    <li>
      <a href="/KWD/MWK">
        Convert 1 KWD to MWK...
      </a>
    </li>
    <li>
      <a href="/KWD/MXN">
        Convert 1 KWD to MXN...
      </a>
    </li>
    <li>
      <a href="/KWD/MYR">
        Convert 1 KWD to MYR...
      </a>
    </li>
    <li>
      <a href="/KWD/MZN">
        Convert 1 KWD to MZN...
      </a>
    </li>
    <li>
      <a href="/KWD/NAD">
        Convert 1 KWD to NAD...
      </a>
    </li>
    <li>
      <a href="/KWD/NGN">
        Convert 1 KWD to NGN...
      </a>
    </li>
    <li>
      <a href="/KWD/NIO">
        Convert 1 KWD to NIO...
      </a>
    </li>
    <li>
      <a href="/KWD/NOK">
        Convert 1 KWD to NOK...
      </a>
    </li>
    <li>
      <a href="/KWD/NPR">
        Convert 1 KWD to NPR...
      </a>
    </li>
    <li>
      <a href="/KWD/NZD">
        Convert 1 KWD to NZD...
      </a>
    </li>
    <li>
      <a href="/KWD/OMR">
        Convert 1 KWD to OMR...
      </a>
    </li>
    <li>
      <a href="/KWD/PAB">
        Convert 1 KWD to PAB...
      </a>
    </li>
    <li>
      <a href="/KWD/PEN">
        Convert 1 KWD to PEN...
      </a>
    </li>
    <li>
      <a href="/KWD/PGK">
        Convert 1 KWD to PGK...
      </a>
    </li>
    <li>
      <a href="/KWD/PHP">
        Convert 1 KWD to PHP...
      </a>
    </li>
    <li>
      <a href="/KWD/PKR">
        Convert 1 KWD to PKR...
      </a>
    </li>
    <li>
      <a href="/KWD/PLN">
        Convert 1 KWD to PLN...
      </a>
    </li>
    <li>
      <a href="/KWD/PYG">
        Convert 1 KWD to PYG...
      </a>
    </li>
    <li>
      <a href="/KWD/QAR">
        Convert 1 KWD to QAR...
      </a>
    </li>
    <li>
      <a href="/KWD/RON">
        Convert 1 KWD to RON...
      </a>
    </li>
    <li>
      <a href="/KWD/RSD">
        Convert 1 KWD to RSD...
      </a>
    </li>
    <li>
      <a href="/KWD/RUB">
        Convert 1 KWD to RUB...
      </a>
    </li>
    <li>
      <a href="/KWD/RWF">
        Convert 1 KWD to RWF...
      </a>
    </li>
    <li>
      <a href="/KWD/SAR">
        Convert 1 KWD to SAR...
      </a>
    </li>
    <li>
      <a href="/KWD/SBD">
        Convert 1 KWD to SBD...
      </a>
    </li>
    <li>
      <a href="/KWD/SCR">
        Convert 1 KWD to SCR...
      </a>
    </li>
    <li>
      <a href="/KWD/SDG">
        Convert 1 KWD to SDG...
      </a>
    </li>
    <li>
      <a href="/KWD/SEK">
        Convert 1 KWD to SEK...
      </a>
    </li>
    <li>
      <a href="/KWD/SGD">
        Convert 1 KWD to SGD...
      </a>
    </li>
    <li>
      <a href="/KWD/SHP">
        Convert 1 KWD to SHP...
      </a>
    </li>
    <li>
      <a href="/KWD/SLL">
        Convert 1 KWD to SLL...
      </a>
    </li>
    <li>
      <a href="/KWD/SOS">
        Convert 1 KWD to SOS...
      </a>
    </li>
    <li>
      <a href="/KWD/SRD">
        Convert 1 KWD to SRD...
      </a>
    </li>
    <li>
      <a href="/KWD/SSP">
        Convert 1 KWD to SSP...
      </a>
    </li>
    <li>
      <a href="/KWD/STD">
        Convert 1 KWD to STD...
      </a>
    </li>
    <li>
      <a href="/KWD/STN">
        Convert 1 KWD to STN...
      </a>
    </li>
    <li>
      <a href="/KWD/SVC">
        Convert 1 KWD to SVC...
      </a>
    </li>
    <li>
      <a href="/KWD/SYP">
        Convert 1 KWD to SYP...
      </a>
    </li>
    <li>
      <a href="/KWD/SZL">
        Convert 1 KWD to SZL...
      </a>
    </li>
    <li>
      <a href="/KWD/THB">
        Convert 1 KWD to THB...
      </a>
    </li>
    <li>
      <a href="/KWD/TJS">
        Convert 1 KWD to TJS...
      </a>
    </li>
    <li>
      <a href="/KWD/TMT">
        Convert 1 KWD to TMT...
      </a>
    </li>
    <li>
      <a href="/KWD/TND">
        Convert 1 KWD to TND...
      </a>
    </li>
    <li>
      <a href="/KWD/TOP">
        Convert 1 KWD to TOP...
      </a>
    </li>
    <li>
      <a href="/KWD/TRY">
        Convert 1 KWD to TRY...
      </a>
    </li>
    <li>
      <a href="/KWD/TTD">
        Convert 1 KWD to TTD...
      </a>
    </li>
    <li>
      <a href="/KWD/TWD">
        Convert 1 KWD to TWD...
      </a>
    </li>
    <li>
      <a href="/KWD/TZS">
        Convert 1 KWD to TZS...
      </a>
    </li>
    <li>
      <a href="/KWD/UAH">
        Convert 1 KWD to UAH...
      </a>
    </li>
    <li>
      <a href="/KWD/UGX">
        Convert 1 KWD to UGX...
      </a>
    </li>
    <li>
      <a href="/KWD/USD">
        Convert 1 KWD to USD...
      </a>
    </li>
    <li>
      <a href="/KWD/UYU">
        Convert 1 KWD to UYU...
      </a>
    </li>
    <li>
      <a href="/KWD/UZS">
        Convert 1 KWD to UZS...
      </a>
    </li>
    <li>
      <a href="/KWD/VEF">
        Convert 1 KWD to VEF...
      </a>
    </li>
    <li>
      <a href="/KWD/VES">
        Convert 1 KWD to VES...
      </a>
    </li>
    <li>
      <a href="/KWD/VND">
        Convert 1 KWD to VND...
      </a>
    </li>
    <li>
      <a href="/KWD/VUV">
        Convert 1 KWD to VUV...
      </a>
    </li>
    <li>
      <a href="/KWD/WST">
        Convert 1 KWD to WST...
      </a>
    </li>
    <li>
      <a href="/KWD/XAF">
        Convert 1 KWD to XAF...
      </a>
    </li>
    <li>
      <a href="/KWD/XAG">
        Convert 1 KWD to XAG...
      </a>
    </li>
    <li>
      <a href="/KWD/XAU">
        Convert 1 KWD to XAU...
      </a>
    </li>
    <li>
      <a href="/KWD/XCD">
        Convert 1 KWD to XCD...
      </a>
    </li>
    <li>
      <a href="/KWD/XDR">
        Convert 1 KWD to XDR...
      </a>
    </li>
    <li>
      <a href="/KWD/XOF">
        Convert 1 KWD to XOF...
      </a>
    </li>
    <li>
      <a href="/KWD/XPD">
        Convert 1 KWD to XPD...
      </a>
    </li>
    <li>
      <a href="/KWD/XPF">
        Convert 1 KWD to XPF...
      </a>
    </li>
    <li>
      <a href="/KWD/XPT">
        Convert 1 KWD to XPT...
      </a>
    </li>
    <li>
      <a href="/KWD/YER">
        Convert 1 KWD to YER...
      </a>
    </li>
    <li>
      <a href="/KWD/ZAR">
        Convert 1 KWD to ZAR...
      </a>
    </li>
    <li>
      <a href="/KWD/ZMW">
        Convert 1 KWD to ZMW...
      </a>
    </li>
    <li>
      <a href="/KWD/ZWL">
        Convert 1 KWD to ZWL...
      </a>
    </li>
</ul>
</body>
