<body>
    <h1>Convert LKR</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/LKR/AED">
        Convert 1 LKR to AED...
      </a>
    </li>
    <li>
      <a href="/LKR/AFN">
        Convert 1 LKR to AFN...
      </a>
    </li>
    <li>
      <a href="/LKR/ALL">
        Convert 1 LKR to ALL...
      </a>
    </li>
    <li>
      <a href="/LKR/AMD">
        Convert 1 LKR to AMD...
      </a>
    </li>
    <li>
      <a href="/LKR/ANG">
        Convert 1 LKR to ANG...
      </a>
    </li>
    <li>
      <a href="/LKR/AOA">
        Convert 1 LKR to AOA...
      </a>
    </li>
    <li>
      <a href="/LKR/ARS">
        Convert 1 LKR to ARS...
      </a>
    </li>
    <li>
      <a href="/LKR/AUD">
        Convert 1 LKR to AUD...
      </a>
    </li>
    <li>
      <a href="/LKR/AWG">
        Convert 1 LKR to AWG...
      </a>
    </li>
    <li>
      <a href="/LKR/AZN">
        Convert 1 LKR to AZN...
      </a>
    </li>
    <li>
      <a href="/LKR/BAM">
        Convert 1 LKR to BAM...
      </a>
    </li>
    <li>
      <a href="/LKR/BBD">
        Convert 1 LKR to BBD...
      </a>
    </li>
    <li>
      <a href="/LKR/BDT">
        Convert 1 LKR to BDT...
      </a>
    </li>
    <li>
      <a href="/LKR/BGN">
        Convert 1 LKR to BGN...
      </a>
    </li>
    <li>
      <a href="/LKR/BHD">
        Convert 1 LKR to BHD...
      </a>
    </li>
    <li>
      <a href="/LKR/BIF">
        Convert 1 LKR to BIF...
      </a>
    </li>
    <li>
      <a href="/LKR/BMD">
        Convert 1 LKR to BMD...
      </a>
    </li>
    <li>
      <a href="/LKR/BND">
        Convert 1 LKR to BND...
      </a>
    </li>
    <li>
      <a href="/LKR/BOB">
        Convert 1 LKR to BOB...
      </a>
    </li>
    <li>
      <a href="/LKR/BRL">
        Convert 1 LKR to BRL...
      </a>
    </li>
    <li>
      <a href="/LKR/BSD">
        Convert 1 LKR to BSD...
      </a>
    </li>
    <li>
      <a href="/LKR/BTC">
        Convert 1 LKR to BTC...
      </a>
    </li>
    <li>
      <a href="/LKR/BTN">
        Convert 1 LKR to BTN...
      </a>
    </li>
    <li>
      <a href="/LKR/BWP">
        Convert 1 LKR to BWP...
      </a>
    </li>
    <li>
      <a href="/LKR/BYN">
        Convert 1 LKR to BYN...
      </a>
    </li>
    <li>
      <a href="/LKR/BZD">
        Convert 1 LKR to BZD...
      </a>
    </li>
    <li>
      <a href="/LKR/CAD">
        Convert 1 LKR to CAD...
      </a>
    </li>
    <li>
      <a href="/LKR/CDF">
        Convert 1 LKR to CDF...
      </a>
    </li>
    <li>
      <a href="/LKR/CHF">
        Convert 1 LKR to CHF...
      </a>
    </li>
    <li>
      <a href="/LKR/CLF">
        Convert 1 LKR to CLF...
      </a>
    </li>
    <li>
      <a href="/LKR/CLP">
        Convert 1 LKR to CLP...
      </a>
    </li>
    <li>
      <a href="/LKR/CNH">
        Convert 1 LKR to CNH...
      </a>
    </li>
    <li>
      <a href="/LKR/CNY">
        Convert 1 LKR to CNY...
      </a>
    </li>
    <li>
      <a href="/LKR/COP">
        Convert 1 LKR to COP...
      </a>
    </li>
    <li>
      <a href="/LKR/CRC">
        Convert 1 LKR to CRC...
      </a>
    </li>
    <li>
      <a href="/LKR/CUC">
        Convert 1 LKR to CUC...
      </a>
    </li>
    <li>
      <a href="/LKR/CUP">
        Convert 1 LKR to CUP...
      </a>
    </li>
    <li>
      <a href="/LKR/CVE">
        Convert 1 LKR to CVE...
      </a>
    </li>
    <li>
      <a href="/LKR/CZK">
        Convert 1 LKR to CZK...
      </a>
    </li>
    <li>
      <a href="/LKR/DJF">
        Convert 1 LKR to DJF...
      </a>
    </li>
    <li>
      <a href="/LKR/DKK">
        Convert 1 LKR to DKK...
      </a>
    </li>
    <li>
      <a href="/LKR/DOP">
        Convert 1 LKR to DOP...
      </a>
    </li>
    <li>
      <a href="/LKR/DZD">
        Convert 1 LKR to DZD...
      </a>
    </li>
    <li>
      <a href="/LKR/EGP">
        Convert 1 LKR to EGP...
      </a>
    </li>
    <li>
      <a href="/LKR/ERN">
        Convert 1 LKR to ERN...
      </a>
    </li>
    <li>
      <a href="/LKR/ETB">
        Convert 1 LKR to ETB...
      </a>
    </li>
    <li>
      <a href="/LKR/EUR">
        Convert 1 LKR to EUR...
      </a>
    </li>
    <li>
      <a href="/LKR/FJD">
        Convert 1 LKR to FJD...
      </a>
    </li>
    <li>
      <a href="/LKR/FKP">
        Convert 1 LKR to FKP...
      </a>
    </li>
    <li>
      <a href="/LKR/GBP">
        Convert 1 LKR to GBP...
      </a>
    </li>
    <li>
      <a href="/LKR/GEL">
        Convert 1 LKR to GEL...
      </a>
    </li>
    <li>
      <a href="/LKR/GGP">
        Convert 1 LKR to GGP...
      </a>
    </li>
    <li>
      <a href="/LKR/GHS">
        Convert 1 LKR to GHS...
      </a>
    </li>
    <li>
      <a href="/LKR/GIP">
        Convert 1 LKR to GIP...
      </a>
    </li>
    <li>
      <a href="/LKR/GMD">
        Convert 1 LKR to GMD...
      </a>
    </li>
    <li>
      <a href="/LKR/GNF">
        Convert 1 LKR to GNF...
      </a>
    </li>
    <li>
      <a href="/LKR/GTQ">
        Convert 1 LKR to GTQ...
      </a>
    </li>
    <li>
      <a href="/LKR/GYD">
        Convert 1 LKR to GYD...
      </a>
    </li>
    <li>
      <a href="/LKR/HKD">
        Convert 1 LKR to HKD...
      </a>
    </li>
    <li>
      <a href="/LKR/HNL">
        Convert 1 LKR to HNL...
      </a>
    </li>
    <li>
      <a href="/LKR/HRK">
        Convert 1 LKR to HRK...
      </a>
    </li>
    <li>
      <a href="/LKR/HTG">
        Convert 1 LKR to HTG...
      </a>
    </li>
    <li>
      <a href="/LKR/HUF">
        Convert 1 LKR to HUF...
      </a>
    </li>
    <li>
      <a href="/LKR/IDR">
        Convert 1 LKR to IDR...
      </a>
    </li>
    <li>
      <a href="/LKR/ILS">
        Convert 1 LKR to ILS...
      </a>
    </li>
    <li>
      <a href="/LKR/IMP">
        Convert 1 LKR to IMP...
      </a>
    </li>
    <li>
      <a href="/LKR/INR">
        Convert 1 LKR to INR...
      </a>
    </li>
    <li>
      <a href="/LKR/IQD">
        Convert 1 LKR to IQD...
      </a>
    </li>
    <li>
      <a href="/LKR/IRR">
        Convert 1 LKR to IRR...
      </a>
    </li>
    <li>
      <a href="/LKR/ISK">
        Convert 1 LKR to ISK...
      </a>
    </li>
    <li>
      <a href="/LKR/JEP">
        Convert 1 LKR to JEP...
      </a>
    </li>
    <li>
      <a href="/LKR/JMD">
        Convert 1 LKR to JMD...
      </a>
    </li>
    <li>
      <a href="/LKR/JOD">
        Convert 1 LKR to JOD...
      </a>
    </li>
    <li>
      <a href="/LKR/JPY">
        Convert 1 LKR to JPY...
      </a>
    </li>
    <li>
      <a href="/LKR/KES">
        Convert 1 LKR to KES...
      </a>
    </li>
    <li>
      <a href="/LKR/KGS">
        Convert 1 LKR to KGS...
      </a>
    </li>
    <li>
      <a href="/LKR/KHR">
        Convert 1 LKR to KHR...
      </a>
    </li>
    <li>
      <a href="/LKR/KMF">
        Convert 1 LKR to KMF...
      </a>
    </li>
    <li>
      <a href="/LKR/KPW">
        Convert 1 LKR to KPW...
      </a>
    </li>
    <li>
      <a href="/LKR/KRW">
        Convert 1 LKR to KRW...
      </a>
    </li>
    <li>
      <a href="/LKR/KWD">
        Convert 1 LKR to KWD...
      </a>
    </li>
    <li>
      <a href="/LKR/KYD">
        Convert 1 LKR to KYD...
      </a>
    </li>
    <li>
      <a href="/LKR/KZT">
        Convert 1 LKR to KZT...
      </a>
    </li>
    <li>
      <a href="/LKR/LAK">
        Convert 1 LKR to LAK...
      </a>
    </li>
    <li>
      <a href="/LKR/LBP">
        Convert 1 LKR to LBP...
      </a>
    </li>
    <li>
      <a href="/LKR/LKR">
        Convert 1 LKR to LKR...
      </a>
    </li>
    <li>
      <a href="/LKR/LRD">
        Convert 1 LKR to LRD...
      </a>
    </li>
    <li>
      <a href="/LKR/LSL">
        Convert 1 LKR to LSL...
      </a>
    </li>
    <li>
      <a href="/LKR/LYD">
        Convert 1 LKR to LYD...
      </a>
    </li>
    <li>
      <a href="/LKR/MAD">
        Convert 1 LKR to MAD...
      </a>
    </li>
    <li>
      <a href="/LKR/MDL">
        Convert 1 LKR to MDL...
      </a>
    </li>
    <li>
      <a href="/LKR/MGA">
        Convert 1 LKR to MGA...
      </a>
    </li>
    <li>
      <a href="/LKR/MKD">
        Convert 1 LKR to MKD...
      </a>
    </li>
    <li>
      <a href="/LKR/MMK">
        Convert 1 LKR to MMK...
      </a>
    </li>
    <li>
      <a href="/LKR/MNT">
        Convert 1 LKR to MNT...
      </a>
    </li>
    <li>
      <a href="/LKR/MOP">
        Convert 1 LKR to MOP...
      </a>
    </li>
    <li>
      <a href="/LKR/MRO">
        Convert 1 LKR to MRO...
      </a>
    </li>
    <li>
      <a href="/LKR/MRU">
        Convert 1 LKR to MRU...
      </a>
    </li>
    <li>
      <a href="/LKR/MUR">
        Convert 1 LKR to MUR...
      </a>
    </li>
    <li>
      <a href="/LKR/MVR">
        Convert 1 LKR to MVR...
      </a>
    </li>
    <li>
      <a href="/LKR/MWK">
        Convert 1 LKR to MWK...
      </a>
    </li>
    <li>
      <a href="/LKR/MXN">
        Convert 1 LKR to MXN...
      </a>
    </li>
    <li>
      <a href="/LKR/MYR">
        Convert 1 LKR to MYR...
      </a>
    </li>
    <li>
      <a href="/LKR/MZN">
        Convert 1 LKR to MZN...
      </a>
    </li>
    <li>
      <a href="/LKR/NAD">
        Convert 1 LKR to NAD...
      </a>
    </li>
    <li>
      <a href="/LKR/NGN">
        Convert 1 LKR to NGN...
      </a>
    </li>
    <li>
      <a href="/LKR/NIO">
        Convert 1 LKR to NIO...
      </a>
    </li>
    <li>
      <a href="/LKR/NOK">
        Convert 1 LKR to NOK...
      </a>
    </li>
    <li>
      <a href="/LKR/NPR">
        Convert 1 LKR to NPR...
      </a>
    </li>
    <li>
      <a href="/LKR/NZD">
        Convert 1 LKR to NZD...
      </a>
    </li>
    <li>
      <a href="/LKR/OMR">
        Convert 1 LKR to OMR...
      </a>
    </li>
    <li>
      <a href="/LKR/PAB">
        Convert 1 LKR to PAB...
      </a>
    </li>
    <li>
      <a href="/LKR/PEN">
        Convert 1 LKR to PEN...
      </a>
    </li>
    <li>
      <a href="/LKR/PGK">
        Convert 1 LKR to PGK...
      </a>
    </li>
    <li>
      <a href="/LKR/PHP">
        Convert 1 LKR to PHP...
      </a>
    </li>
    <li>
      <a href="/LKR/PKR">
        Convert 1 LKR to PKR...
      </a>
    </li>
    <li>
      <a href="/LKR/PLN">
        Convert 1 LKR to PLN...
      </a>
    </li>
    <li>
      <a href="/LKR/PYG">
        Convert 1 LKR to PYG...
      </a>
    </li>
    <li>
      <a href="/LKR/QAR">
        Convert 1 LKR to QAR...
      </a>
    </li>
    <li>
      <a href="/LKR/RON">
        Convert 1 LKR to RON...
      </a>
    </li>
    <li>
      <a href="/LKR/RSD">
        Convert 1 LKR to RSD...
      </a>
    </li>
    <li>
      <a href="/LKR/RUB">
        Convert 1 LKR to RUB...
      </a>
    </li>
    <li>
      <a href="/LKR/RWF">
        Convert 1 LKR to RWF...
      </a>
    </li>
    <li>
      <a href="/LKR/SAR">
        Convert 1 LKR to SAR...
      </a>
    </li>
    <li>
      <a href="/LKR/SBD">
        Convert 1 LKR to SBD...
      </a>
    </li>
    <li>
      <a href="/LKR/SCR">
        Convert 1 LKR to SCR...
      </a>
    </li>
    <li>
      <a href="/LKR/SDG">
        Convert 1 LKR to SDG...
      </a>
    </li>
    <li>
      <a href="/LKR/SEK">
        Convert 1 LKR to SEK...
      </a>
    </li>
    <li>
      <a href="/LKR/SGD">
        Convert 1 LKR to SGD...
      </a>
    </li>
    <li>
      <a href="/LKR/SHP">
        Convert 1 LKR to SHP...
      </a>
    </li>
    <li>
      <a href="/LKR/SLL">
        Convert 1 LKR to SLL...
      </a>
    </li>
    <li>
      <a href="/LKR/SOS">
        Convert 1 LKR to SOS...
      </a>
    </li>
    <li>
      <a href="/LKR/SRD">
        Convert 1 LKR to SRD...
      </a>
    </li>
    <li>
      <a href="/LKR/SSP">
        Convert 1 LKR to SSP...
      </a>
    </li>
    <li>
      <a href="/LKR/STD">
        Convert 1 LKR to STD...
      </a>
    </li>
    <li>
      <a href="/LKR/STN">
        Convert 1 LKR to STN...
      </a>
    </li>
    <li>
      <a href="/LKR/SVC">
        Convert 1 LKR to SVC...
      </a>
    </li>
    <li>
      <a href="/LKR/SYP">
        Convert 1 LKR to SYP...
      </a>
    </li>
    <li>
      <a href="/LKR/SZL">
        Convert 1 LKR to SZL...
      </a>
    </li>
    <li>
      <a href="/LKR/THB">
        Convert 1 LKR to THB...
      </a>
    </li>
    <li>
      <a href="/LKR/TJS">
        Convert 1 LKR to TJS...
      </a>
    </li>
    <li>
      <a href="/LKR/TMT">
        Convert 1 LKR to TMT...
      </a>
    </li>
    <li>
      <a href="/LKR/TND">
        Convert 1 LKR to TND...
      </a>
    </li>
    <li>
      <a href="/LKR/TOP">
        Convert 1 LKR to TOP...
      </a>
    </li>
    <li>
      <a href="/LKR/TRY">
        Convert 1 LKR to TRY...
      </a>
    </li>
    <li>
      <a href="/LKR/TTD">
        Convert 1 LKR to TTD...
      </a>
    </li>
    <li>
      <a href="/LKR/TWD">
        Convert 1 LKR to TWD...
      </a>
    </li>
    <li>
      <a href="/LKR/TZS">
        Convert 1 LKR to TZS...
      </a>
    </li>
    <li>
      <a href="/LKR/UAH">
        Convert 1 LKR to UAH...
      </a>
    </li>
    <li>
      <a href="/LKR/UGX">
        Convert 1 LKR to UGX...
      </a>
    </li>
    <li>
      <a href="/LKR/USD">
        Convert 1 LKR to USD...
      </a>
    </li>
    <li>
      <a href="/LKR/UYU">
        Convert 1 LKR to UYU...
      </a>
    </li>
    <li>
      <a href="/LKR/UZS">
        Convert 1 LKR to UZS...
      </a>
    </li>
    <li>
      <a href="/LKR/VEF">
        Convert 1 LKR to VEF...
      </a>
    </li>
    <li>
      <a href="/LKR/VES">
        Convert 1 LKR to VES...
      </a>
    </li>
    <li>
      <a href="/LKR/VND">
        Convert 1 LKR to VND...
      </a>
    </li>
    <li>
      <a href="/LKR/VUV">
        Convert 1 LKR to VUV...
      </a>
    </li>
    <li>
      <a href="/LKR/WST">
        Convert 1 LKR to WST...
      </a>
    </li>
    <li>
      <a href="/LKR/XAF">
        Convert 1 LKR to XAF...
      </a>
    </li>
    <li>
      <a href="/LKR/XAG">
        Convert 1 LKR to XAG...
      </a>
    </li>
    <li>
      <a href="/LKR/XAU">
        Convert 1 LKR to XAU...
      </a>
    </li>
    <li>
      <a href="/LKR/XCD">
        Convert 1 LKR to XCD...
      </a>
    </li>
    <li>
      <a href="/LKR/XDR">
        Convert 1 LKR to XDR...
      </a>
    </li>
    <li>
      <a href="/LKR/XOF">
        Convert 1 LKR to XOF...
      </a>
    </li>
    <li>
      <a href="/LKR/XPD">
        Convert 1 LKR to XPD...
      </a>
    </li>
    <li>
      <a href="/LKR/XPF">
        Convert 1 LKR to XPF...
      </a>
    </li>
    <li>
      <a href="/LKR/XPT">
        Convert 1 LKR to XPT...
      </a>
    </li>
    <li>
      <a href="/LKR/YER">
        Convert 1 LKR to YER...
      </a>
    </li>
    <li>
      <a href="/LKR/ZAR">
        Convert 1 LKR to ZAR...
      </a>
    </li>
    <li>
      <a href="/LKR/ZMW">
        Convert 1 LKR to ZMW...
      </a>
    </li>
    <li>
      <a href="/LKR/ZWL">
        Convert 1 LKR to ZWL...
      </a>
    </li>
</ul>
</body>
