<body>
    <h1>Convert MGA</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/MGA/AED">
        Convert 1 MGA to AED...
      </a>
    </li>
    <li>
      <a href="/MGA/AFN">
        Convert 1 MGA to AFN...
      </a>
    </li>
    <li>
      <a href="/MGA/ALL">
        Convert 1 MGA to ALL...
      </a>
    </li>
    <li>
      <a href="/MGA/AMD">
        Convert 1 MGA to AMD...
      </a>
    </li>
    <li>
      <a href="/MGA/ANG">
        Convert 1 MGA to ANG...
      </a>
    </li>
    <li>
      <a href="/MGA/AOA">
        Convert 1 MGA to AOA...
      </a>
    </li>
    <li>
      <a href="/MGA/ARS">
        Convert 1 MGA to ARS...
      </a>
    </li>
    <li>
      <a href="/MGA/AUD">
        Convert 1 MGA to AUD...
      </a>
    </li>
    <li>
      <a href="/MGA/AWG">
        Convert 1 MGA to AWG...
      </a>
    </li>
    <li>
      <a href="/MGA/AZN">
        Convert 1 MGA to AZN...
      </a>
    </li>
    <li>
      <a href="/MGA/BAM">
        Convert 1 MGA to BAM...
      </a>
    </li>
    <li>
      <a href="/MGA/BBD">
        Convert 1 MGA to BBD...
      </a>
    </li>
    <li>
      <a href="/MGA/BDT">
        Convert 1 MGA to BDT...
      </a>
    </li>
    <li>
      <a href="/MGA/BGN">
        Convert 1 MGA to BGN...
      </a>
    </li>
    <li>
      <a href="/MGA/BHD">
        Convert 1 MGA to BHD...
      </a>
    </li>
    <li>
      <a href="/MGA/BIF">
        Convert 1 MGA to BIF...
      </a>
    </li>
    <li>
      <a href="/MGA/BMD">
        Convert 1 MGA to BMD...
      </a>
    </li>
    <li>
      <a href="/MGA/BND">
        Convert 1 MGA to BND...
      </a>
    </li>
    <li>
      <a href="/MGA/BOB">
        Convert 1 MGA to BOB...
      </a>
    </li>
    <li>
      <a href="/MGA/BRL">
        Convert 1 MGA to BRL...
      </a>
    </li>
    <li>
      <a href="/MGA/BSD">
        Convert 1 MGA to BSD...
      </a>
    </li>
    <li>
      <a href="/MGA/BTC">
        Convert 1 MGA to BTC...
      </a>
    </li>
    <li>
      <a href="/MGA/BTN">
        Convert 1 MGA to BTN...
      </a>
    </li>
    <li>
      <a href="/MGA/BWP">
        Convert 1 MGA to BWP...
      </a>
    </li>
    <li>
      <a href="/MGA/BYN">
        Convert 1 MGA to BYN...
      </a>
    </li>
    <li>
      <a href="/MGA/BZD">
        Convert 1 MGA to BZD...
      </a>
    </li>
    <li>
      <a href="/MGA/CAD">
        Convert 1 MGA to CAD...
      </a>
    </li>
    <li>
      <a href="/MGA/CDF">
        Convert 1 MGA to CDF...
      </a>
    </li>
    <li>
      <a href="/MGA/CHF">
        Convert 1 MGA to CHF...
      </a>
    </li>
    <li>
      <a href="/MGA/CLF">
        Convert 1 MGA to CLF...
      </a>
    </li>
    <li>
      <a href="/MGA/CLP">
        Convert 1 MGA to CLP...
      </a>
    </li>
    <li>
      <a href="/MGA/CNH">
        Convert 1 MGA to CNH...
      </a>
    </li>
    <li>
      <a href="/MGA/CNY">
        Convert 1 MGA to CNY...
      </a>
    </li>
    <li>
      <a href="/MGA/COP">
        Convert 1 MGA to COP...
      </a>
    </li>
    <li>
      <a href="/MGA/CRC">
        Convert 1 MGA to CRC...
      </a>
    </li>
    <li>
      <a href="/MGA/CUC">
        Convert 1 MGA to CUC...
      </a>
    </li>
    <li>
      <a href="/MGA/CUP">
        Convert 1 MGA to CUP...
      </a>
    </li>
    <li>
      <a href="/MGA/CVE">
        Convert 1 MGA to CVE...
      </a>
    </li>
    <li>
      <a href="/MGA/CZK">
        Convert 1 MGA to CZK...
      </a>
    </li>
    <li>
      <a href="/MGA/DJF">
        Convert 1 MGA to DJF...
      </a>
    </li>
    <li>
      <a href="/MGA/DKK">
        Convert 1 MGA to DKK...
      </a>
    </li>
    <li>
      <a href="/MGA/DOP">
        Convert 1 MGA to DOP...
      </a>
    </li>
    <li>
      <a href="/MGA/DZD">
        Convert 1 MGA to DZD...
      </a>
    </li>
    <li>
      <a href="/MGA/EGP">
        Convert 1 MGA to EGP...
      </a>
    </li>
    <li>
      <a href="/MGA/ERN">
        Convert 1 MGA to ERN...
      </a>
    </li>
    <li>
      <a href="/MGA/ETB">
        Convert 1 MGA to ETB...
      </a>
    </li>
    <li>
      <a href="/MGA/EUR">
        Convert 1 MGA to EUR...
      </a>
    </li>
    <li>
      <a href="/MGA/FJD">
        Convert 1 MGA to FJD...
      </a>
    </li>
    <li>
      <a href="/MGA/FKP">
        Convert 1 MGA to FKP...
      </a>
    </li>
    <li>
      <a href="/MGA/GBP">
        Convert 1 MGA to GBP...
      </a>
    </li>
    <li>
      <a href="/MGA/GEL">
        Convert 1 MGA to GEL...
      </a>
    </li>
    <li>
      <a href="/MGA/GGP">
        Convert 1 MGA to GGP...
      </a>
    </li>
    <li>
      <a href="/MGA/GHS">
        Convert 1 MGA to GHS...
      </a>
    </li>
    <li>
      <a href="/MGA/GIP">
        Convert 1 MGA to GIP...
      </a>
    </li>
    <li>
      <a href="/MGA/GMD">
        Convert 1 MGA to GMD...
      </a>
    </li>
    <li>
      <a href="/MGA/GNF">
        Convert 1 MGA to GNF...
      </a>
    </li>
    <li>
      <a href="/MGA/GTQ">
        Convert 1 MGA to GTQ...
      </a>
    </li>
    <li>
      <a href="/MGA/GYD">
        Convert 1 MGA to GYD...
      </a>
    </li>
    <li>
      <a href="/MGA/HKD">
        Convert 1 MGA to HKD...
      </a>
    </li>
    <li>
      <a href="/MGA/HNL">
        Convert 1 MGA to HNL...
      </a>
    </li>
    <li>
      <a href="/MGA/HRK">
        Convert 1 MGA to HRK...
      </a>
    </li>
    <li>
      <a href="/MGA/HTG">
        Convert 1 MGA to HTG...
      </a>
    </li>
    <li>
      <a href="/MGA/HUF">
        Convert 1 MGA to HUF...
      </a>
    </li>
    <li>
      <a href="/MGA/IDR">
        Convert 1 MGA to IDR...
      </a>
    </li>
    <li>
      <a href="/MGA/ILS">
        Convert 1 MGA to ILS...
      </a>
    </li>
    <li>
      <a href="/MGA/IMP">
        Convert 1 MGA to IMP...
      </a>
    </li>
    <li>
      <a href="/MGA/INR">
        Convert 1 MGA to INR...
      </a>
    </li>
    <li>
      <a href="/MGA/IQD">
        Convert 1 MGA to IQD...
      </a>
    </li>
    <li>
      <a href="/MGA/IRR">
        Convert 1 MGA to IRR...
      </a>
    </li>
    <li>
      <a href="/MGA/ISK">
        Convert 1 MGA to ISK...
      </a>
    </li>
    <li>
      <a href="/MGA/JEP">
        Convert 1 MGA to JEP...
      </a>
    </li>
    <li>
      <a href="/MGA/JMD">
        Convert 1 MGA to JMD...
      </a>
    </li>
    <li>
      <a href="/MGA/JOD">
        Convert 1 MGA to JOD...
      </a>
    </li>
    <li>
      <a href="/MGA/JPY">
        Convert 1 MGA to JPY...
      </a>
    </li>
    <li>
      <a href="/MGA/KES">
        Convert 1 MGA to KES...
      </a>
    </li>
    <li>
      <a href="/MGA/KGS">
        Convert 1 MGA to KGS...
      </a>
    </li>
    <li>
      <a href="/MGA/KHR">
        Convert 1 MGA to KHR...
      </a>
    </li>
    <li>
      <a href="/MGA/KMF">
        Convert 1 MGA to KMF...
      </a>
    </li>
    <li>
      <a href="/MGA/KPW">
        Convert 1 MGA to KPW...
      </a>
    </li>
    <li>
      <a href="/MGA/KRW">
        Convert 1 MGA to KRW...
      </a>
    </li>
    <li>
      <a href="/MGA/KWD">
        Convert 1 MGA to KWD...
      </a>
    </li>
    <li>
      <a href="/MGA/KYD">
        Convert 1 MGA to KYD...
      </a>
    </li>
    <li>
      <a href="/MGA/KZT">
        Convert 1 MGA to KZT...
      </a>
    </li>
    <li>
      <a href="/MGA/LAK">
        Convert 1 MGA to LAK...
      </a>
    </li>
    <li>
      <a href="/MGA/LBP">
        Convert 1 MGA to LBP...
      </a>
    </li>
    <li>
      <a href="/MGA/LKR">
        Convert 1 MGA to LKR...
      </a>
    </li>
    <li>
      <a href="/MGA/LRD">
        Convert 1 MGA to LRD...
      </a>
    </li>
    <li>
      <a href="/MGA/LSL">
        Convert 1 MGA to LSL...
      </a>
    </li>
    <li>
      <a href="/MGA/LYD">
        Convert 1 MGA to LYD...
      </a>
    </li>
    <li>
      <a href="/MGA/MAD">
        Convert 1 MGA to MAD...
      </a>
    </li>
    <li>
      <a href="/MGA/MDL">
        Convert 1 MGA to MDL...
      </a>
    </li>
    <li>
      <a href="/MGA/MGA">
        Convert 1 MGA to MGA...
      </a>
    </li>
    <li>
      <a href="/MGA/MKD">
        Convert 1 MGA to MKD...
      </a>
    </li>
    <li>
      <a href="/MGA/MMK">
        Convert 1 MGA to MMK...
      </a>
    </li>
    <li>
      <a href="/MGA/MNT">
        Convert 1 MGA to MNT...
      </a>
    </li>
    <li>
      <a href="/MGA/MOP">
        Convert 1 MGA to MOP...
      </a>
    </li>
    <li>
      <a href="/MGA/MRO">
        Convert 1 MGA to MRO...
      </a>
    </li>
    <li>
      <a href="/MGA/MRU">
        Convert 1 MGA to MRU...
      </a>
    </li>
    <li>
      <a href="/MGA/MUR">
        Convert 1 MGA to MUR...
      </a>
    </li>
    <li>
      <a href="/MGA/MVR">
        Convert 1 MGA to MVR...
      </a>
    </li>
    <li>
      <a href="/MGA/MWK">
        Convert 1 MGA to MWK...
      </a>
    </li>
    <li>
      <a href="/MGA/MXN">
        Convert 1 MGA to MXN...
      </a>
    </li>
    <li>
      <a href="/MGA/MYR">
        Convert 1 MGA to MYR...
      </a>
    </li>
    <li>
      <a href="/MGA/MZN">
        Convert 1 MGA to MZN...
      </a>
    </li>
    <li>
      <a href="/MGA/NAD">
        Convert 1 MGA to NAD...
      </a>
    </li>
    <li>
      <a href="/MGA/NGN">
        Convert 1 MGA to NGN...
      </a>
    </li>
    <li>
      <a href="/MGA/NIO">
        Convert 1 MGA to NIO...
      </a>
    </li>
    <li>
      <a href="/MGA/NOK">
        Convert 1 MGA to NOK...
      </a>
    </li>
    <li>
      <a href="/MGA/NPR">
        Convert 1 MGA to NPR...
      </a>
    </li>
    <li>
      <a href="/MGA/NZD">
        Convert 1 MGA to NZD...
      </a>
    </li>
    <li>
      <a href="/MGA/OMR">
        Convert 1 MGA to OMR...
      </a>
    </li>
    <li>
      <a href="/MGA/PAB">
        Convert 1 MGA to PAB...
      </a>
    </li>
    <li>
      <a href="/MGA/PEN">
        Convert 1 MGA to PEN...
      </a>
    </li>
    <li>
      <a href="/MGA/PGK">
        Convert 1 MGA to PGK...
      </a>
    </li>
    <li>
      <a href="/MGA/PHP">
        Convert 1 MGA to PHP...
      </a>
    </li>
    <li>
      <a href="/MGA/PKR">
        Convert 1 MGA to PKR...
      </a>
    </li>
    <li>
      <a href="/MGA/PLN">
        Convert 1 MGA to PLN...
      </a>
    </li>
    <li>
      <a href="/MGA/PYG">
        Convert 1 MGA to PYG...
      </a>
    </li>
    <li>
      <a href="/MGA/QAR">
        Convert 1 MGA to QAR...
      </a>
    </li>
    <li>
      <a href="/MGA/RON">
        Convert 1 MGA to RON...
      </a>
    </li>
    <li>
      <a href="/MGA/RSD">
        Convert 1 MGA to RSD...
      </a>
    </li>
    <li>
      <a href="/MGA/RUB">
        Convert 1 MGA to RUB...
      </a>
    </li>
    <li>
      <a href="/MGA/RWF">
        Convert 1 MGA to RWF...
      </a>
    </li>
    <li>
      <a href="/MGA/SAR">
        Convert 1 MGA to SAR...
      </a>
    </li>
    <li>
      <a href="/MGA/SBD">
        Convert 1 MGA to SBD...
      </a>
    </li>
    <li>
      <a href="/MGA/SCR">
        Convert 1 MGA to SCR...
      </a>
    </li>
    <li>
      <a href="/MGA/SDG">
        Convert 1 MGA to SDG...
      </a>
    </li>
    <li>
      <a href="/MGA/SEK">
        Convert 1 MGA to SEK...
      </a>
    </li>
    <li>
      <a href="/MGA/SGD">
        Convert 1 MGA to SGD...
      </a>
    </li>
    <li>
      <a href="/MGA/SHP">
        Convert 1 MGA to SHP...
      </a>
    </li>
    <li>
      <a href="/MGA/SLL">
        Convert 1 MGA to SLL...
      </a>
    </li>
    <li>
      <a href="/MGA/SOS">
        Convert 1 MGA to SOS...
      </a>
    </li>
    <li>
      <a href="/MGA/SRD">
        Convert 1 MGA to SRD...
      </a>
    </li>
    <li>
      <a href="/MGA/SSP">
        Convert 1 MGA to SSP...
      </a>
    </li>
    <li>
      <a href="/MGA/STD">
        Convert 1 MGA to STD...
      </a>
    </li>
    <li>
      <a href="/MGA/STN">
        Convert 1 MGA to STN...
      </a>
    </li>
    <li>
      <a href="/MGA/SVC">
        Convert 1 MGA to SVC...
      </a>
    </li>
    <li>
      <a href="/MGA/SYP">
        Convert 1 MGA to SYP...
      </a>
    </li>
    <li>
      <a href="/MGA/SZL">
        Convert 1 MGA to SZL...
      </a>
    </li>
    <li>
      <a href="/MGA/THB">
        Convert 1 MGA to THB...
      </a>
    </li>
    <li>
      <a href="/MGA/TJS">
        Convert 1 MGA to TJS...
      </a>
    </li>
    <li>
      <a href="/MGA/TMT">
        Convert 1 MGA to TMT...
      </a>
    </li>
    <li>
      <a href="/MGA/TND">
        Convert 1 MGA to TND...
      </a>
    </li>
    <li>
      <a href="/MGA/TOP">
        Convert 1 MGA to TOP...
      </a>
    </li>
    <li>
      <a href="/MGA/TRY">
        Convert 1 MGA to TRY...
      </a>
    </li>
    <li>
      <a href="/MGA/TTD">
        Convert 1 MGA to TTD...
      </a>
    </li>
    <li>
      <a href="/MGA/TWD">
        Convert 1 MGA to TWD...
      </a>
    </li>
    <li>
      <a href="/MGA/TZS">
        Convert 1 MGA to TZS...
      </a>
    </li>
    <li>
      <a href="/MGA/UAH">
        Convert 1 MGA to UAH...
      </a>
    </li>
    <li>
      <a href="/MGA/UGX">
        Convert 1 MGA to UGX...
      </a>
    </li>
    <li>
      <a href="/MGA/USD">
        Convert 1 MGA to USD...
      </a>
    </li>
    <li>
      <a href="/MGA/UYU">
        Convert 1 MGA to UYU...
      </a>
    </li>
    <li>
      <a href="/MGA/UZS">
        Convert 1 MGA to UZS...
      </a>
    </li>
    <li>
      <a href="/MGA/VEF">
        Convert 1 MGA to VEF...
      </a>
    </li>
    <li>
      <a href="/MGA/VES">
        Convert 1 MGA to VES...
      </a>
    </li>
    <li>
      <a href="/MGA/VND">
        Convert 1 MGA to VND...
      </a>
    </li>
    <li>
      <a href="/MGA/VUV">
        Convert 1 MGA to VUV...
      </a>
    </li>
    <li>
      <a href="/MGA/WST">
        Convert 1 MGA to WST...
      </a>
    </li>
    <li>
      <a href="/MGA/XAF">
        Convert 1 MGA to XAF...
      </a>
    </li>
    <li>
      <a href="/MGA/XAG">
        Convert 1 MGA to XAG...
      </a>
    </li>
    <li>
      <a href="/MGA/XAU">
        Convert 1 MGA to XAU...
      </a>
    </li>
    <li>
      <a href="/MGA/XCD">
        Convert 1 MGA to XCD...
      </a>
    </li>
    <li>
      <a href="/MGA/XDR">
        Convert 1 MGA to XDR...
      </a>
    </li>
    <li>
      <a href="/MGA/XOF">
        Convert 1 MGA to XOF...
      </a>
    </li>
    <li>
      <a href="/MGA/XPD">
        Convert 1 MGA to XPD...
      </a>
    </li>
    <li>
      <a href="/MGA/XPF">
        Convert 1 MGA to XPF...
      </a>
    </li>
    <li>
      <a href="/MGA/XPT">
        Convert 1 MGA to XPT...
      </a>
    </li>
    <li>
      <a href="/MGA/YER">
        Convert 1 MGA to YER...
      </a>
    </li>
    <li>
      <a href="/MGA/ZAR">
        Convert 1 MGA to ZAR...
      </a>
    </li>
    <li>
      <a href="/MGA/ZMW">
        Convert 1 MGA to ZMW...
      </a>
    </li>
    <li>
      <a href="/MGA/ZWL">
        Convert 1 MGA to ZWL...
      </a>
    </li>
</ul>
</body>
