<body>
    <h1>Convert MOP</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/MOP/AED">
        Convert 1 MOP to AED...
      </a>
    </li>
    <li>
      <a href="/MOP/AFN">
        Convert 1 MOP to AFN...
      </a>
    </li>
    <li>
      <a href="/MOP/ALL">
        Convert 1 MOP to ALL...
      </a>
    </li>
    <li>
      <a href="/MOP/AMD">
        Convert 1 MOP to AMD...
      </a>
    </li>
    <li>
      <a href="/MOP/ANG">
        Convert 1 MOP to ANG...
      </a>
    </li>
    <li>
      <a href="/MOP/AOA">
        Convert 1 MOP to AOA...
      </a>
    </li>
    <li>
      <a href="/MOP/ARS">
        Convert 1 MOP to ARS...
      </a>
    </li>
    <li>
      <a href="/MOP/AUD">
        Convert 1 MOP to AUD...
      </a>
    </li>
    <li>
      <a href="/MOP/AWG">
        Convert 1 MOP to AWG...
      </a>
    </li>
    <li>
      <a href="/MOP/AZN">
        Convert 1 MOP to AZN...
      </a>
    </li>
    <li>
      <a href="/MOP/BAM">
        Convert 1 MOP to BAM...
      </a>
    </li>
    <li>
      <a href="/MOP/BBD">
        Convert 1 MOP to BBD...
      </a>
    </li>
    <li>
      <a href="/MOP/BDT">
        Convert 1 MOP to BDT...
      </a>
    </li>
    <li>
      <a href="/MOP/BGN">
        Convert 1 MOP to BGN...
      </a>
    </li>
    <li>
      <a href="/MOP/BHD">
        Convert 1 MOP to BHD...
      </a>
    </li>
    <li>
      <a href="/MOP/BIF">
        Convert 1 MOP to BIF...
      </a>
    </li>
    <li>
      <a href="/MOP/BMD">
        Convert 1 MOP to BMD...
      </a>
    </li>
    <li>
      <a href="/MOP/BND">
        Convert 1 MOP to BND...
      </a>
    </li>
    <li>
      <a href="/MOP/BOB">
        Convert 1 MOP to BOB...
      </a>
    </li>
    <li>
      <a href="/MOP/BRL">
        Convert 1 MOP to BRL...
      </a>
    </li>
    <li>
      <a href="/MOP/BSD">
        Convert 1 MOP to BSD...
      </a>
    </li>
    <li>
      <a href="/MOP/BTC">
        Convert 1 MOP to BTC...
      </a>
    </li>
    <li>
      <a href="/MOP/BTN">
        Convert 1 MOP to BTN...
      </a>
    </li>
    <li>
      <a href="/MOP/BWP">
        Convert 1 MOP to BWP...
      </a>
    </li>
    <li>
      <a href="/MOP/BYN">
        Convert 1 MOP to BYN...
      </a>
    </li>
    <li>
      <a href="/MOP/BZD">
        Convert 1 MOP to BZD...
      </a>
    </li>
    <li>
      <a href="/MOP/CAD">
        Convert 1 MOP to CAD...
      </a>
    </li>
    <li>
      <a href="/MOP/CDF">
        Convert 1 MOP to CDF...
      </a>
    </li>
    <li>
      <a href="/MOP/CHF">
        Convert 1 MOP to CHF...
      </a>
    </li>
    <li>
      <a href="/MOP/CLF">
        Convert 1 MOP to CLF...
      </a>
    </li>
    <li>
      <a href="/MOP/CLP">
        Convert 1 MOP to CLP...
      </a>
    </li>
    <li>
      <a href="/MOP/CNH">
        Convert 1 MOP to CNH...
      </a>
    </li>
    <li>
      <a href="/MOP/CNY">
        Convert 1 MOP to CNY...
      </a>
    </li>
    <li>
      <a href="/MOP/COP">
        Convert 1 MOP to COP...
      </a>
    </li>
    <li>
      <a href="/MOP/CRC">
        Convert 1 MOP to CRC...
      </a>
    </li>
    <li>
      <a href="/MOP/CUC">
        Convert 1 MOP to CUC...
      </a>
    </li>
    <li>
      <a href="/MOP/CUP">
        Convert 1 MOP to CUP...
      </a>
    </li>
    <li>
      <a href="/MOP/CVE">
        Convert 1 MOP to CVE...
      </a>
    </li>
    <li>
      <a href="/MOP/CZK">
        Convert 1 MOP to CZK...
      </a>
    </li>
    <li>
      <a href="/MOP/DJF">
        Convert 1 MOP to DJF...
      </a>
    </li>
    <li>
      <a href="/MOP/DKK">
        Convert 1 MOP to DKK...
      </a>
    </li>
    <li>
      <a href="/MOP/DOP">
        Convert 1 MOP to DOP...
      </a>
    </li>
    <li>
      <a href="/MOP/DZD">
        Convert 1 MOP to DZD...
      </a>
    </li>
    <li>
      <a href="/MOP/EGP">
        Convert 1 MOP to EGP...
      </a>
    </li>
    <li>
      <a href="/MOP/ERN">
        Convert 1 MOP to ERN...
      </a>
    </li>
    <li>
      <a href="/MOP/ETB">
        Convert 1 MOP to ETB...
      </a>
    </li>
    <li>
      <a href="/MOP/EUR">
        Convert 1 MOP to EUR...
      </a>
    </li>
    <li>
      <a href="/MOP/FJD">
        Convert 1 MOP to FJD...
      </a>
    </li>
    <li>
      <a href="/MOP/FKP">
        Convert 1 MOP to FKP...
      </a>
    </li>
    <li>
      <a href="/MOP/GBP">
        Convert 1 MOP to GBP...
      </a>
    </li>
    <li>
      <a href="/MOP/GEL">
        Convert 1 MOP to GEL...
      </a>
    </li>
    <li>
      <a href="/MOP/GGP">
        Convert 1 MOP to GGP...
      </a>
    </li>
    <li>
      <a href="/MOP/GHS">
        Convert 1 MOP to GHS...
      </a>
    </li>
    <li>
      <a href="/MOP/GIP">
        Convert 1 MOP to GIP...
      </a>
    </li>
    <li>
      <a href="/MOP/GMD">
        Convert 1 MOP to GMD...
      </a>
    </li>
    <li>
      <a href="/MOP/GNF">
        Convert 1 MOP to GNF...
      </a>
    </li>
    <li>
      <a href="/MOP/GTQ">
        Convert 1 MOP to GTQ...
      </a>
    </li>
    <li>
      <a href="/MOP/GYD">
        Convert 1 MOP to GYD...
      </a>
    </li>
    <li>
      <a href="/MOP/HKD">
        Convert 1 MOP to HKD...
      </a>
    </li>
    <li>
      <a href="/MOP/HNL">
        Convert 1 MOP to HNL...
      </a>
    </li>
    <li>
      <a href="/MOP/HRK">
        Convert 1 MOP to HRK...
      </a>
    </li>
    <li>
      <a href="/MOP/HTG">
        Convert 1 MOP to HTG...
      </a>
    </li>
    <li>
      <a href="/MOP/HUF">
        Convert 1 MOP to HUF...
      </a>
    </li>
    <li>
      <a href="/MOP/IDR">
        Convert 1 MOP to IDR...
      </a>
    </li>
    <li>
      <a href="/MOP/ILS">
        Convert 1 MOP to ILS...
      </a>
    </li>
    <li>
      <a href="/MOP/IMP">
        Convert 1 MOP to IMP...
      </a>
    </li>
    <li>
      <a href="/MOP/INR">
        Convert 1 MOP to INR...
      </a>
    </li>
    <li>
      <a href="/MOP/IQD">
        Convert 1 MOP to IQD...
      </a>
    </li>
    <li>
      <a href="/MOP/IRR">
        Convert 1 MOP to IRR...
      </a>
    </li>
    <li>
      <a href="/MOP/ISK">
        Convert 1 MOP to ISK...
      </a>
    </li>
    <li>
      <a href="/MOP/JEP">
        Convert 1 MOP to JEP...
      </a>
    </li>
    <li>
      <a href="/MOP/JMD">
        Convert 1 MOP to JMD...
      </a>
    </li>
    <li>
      <a href="/MOP/JOD">
        Convert 1 MOP to JOD...
      </a>
    </li>
    <li>
      <a href="/MOP/JPY">
        Convert 1 MOP to JPY...
      </a>
    </li>
    <li>
      <a href="/MOP/KES">
        Convert 1 MOP to KES...
      </a>
    </li>
    <li>
      <a href="/MOP/KGS">
        Convert 1 MOP to KGS...
      </a>
    </li>
    <li>
      <a href="/MOP/KHR">
        Convert 1 MOP to KHR...
      </a>
    </li>
    <li>
      <a href="/MOP/KMF">
        Convert 1 MOP to KMF...
      </a>
    </li>
    <li>
      <a href="/MOP/KPW">
        Convert 1 MOP to KPW...
      </a>
    </li>
    <li>
      <a href="/MOP/KRW">
        Convert 1 MOP to KRW...
      </a>
    </li>
    <li>
      <a href="/MOP/KWD">
        Convert 1 MOP to KWD...
      </a>
    </li>
    <li>
      <a href="/MOP/KYD">
        Convert 1 MOP to KYD...
      </a>
    </li>
    <li>
      <a href="/MOP/KZT">
        Convert 1 MOP to KZT...
      </a>
    </li>
    <li>
      <a href="/MOP/LAK">
        Convert 1 MOP to LAK...
      </a>
    </li>
    <li>
      <a href="/MOP/LBP">
        Convert 1 MOP to LBP...
      </a>
    </li>
    <li>
      <a href="/MOP/LKR">
        Convert 1 MOP to LKR...
      </a>
    </li>
    <li>
      <a href="/MOP/LRD">
        Convert 1 MOP to LRD...
      </a>
    </li>
    <li>
      <a href="/MOP/LSL">
        Convert 1 MOP to LSL...
      </a>
    </li>
    <li>
      <a href="/MOP/LYD">
        Convert 1 MOP to LYD...
      </a>
    </li>
    <li>
      <a href="/MOP/MAD">
        Convert 1 MOP to MAD...
      </a>
    </li>
    <li>
      <a href="/MOP/MDL">
        Convert 1 MOP to MDL...
      </a>
    </li>
    <li>
      <a href="/MOP/MGA">
        Convert 1 MOP to MGA...
      </a>
    </li>
    <li>
      <a href="/MOP/MKD">
        Convert 1 MOP to MKD...
      </a>
    </li>
    <li>
      <a href="/MOP/MMK">
        Convert 1 MOP to MMK...
      </a>
    </li>
    <li>
      <a href="/MOP/MNT">
        Convert 1 MOP to MNT...
      </a>
    </li>
    <li>
      <a href="/MOP/MOP">
        Convert 1 MOP to MOP...
      </a>
    </li>
    <li>
      <a href="/MOP/MRO">
        Convert 1 MOP to MRO...
      </a>
    </li>
    <li>
      <a href="/MOP/MRU">
        Convert 1 MOP to MRU...
      </a>
    </li>
    <li>
      <a href="/MOP/MUR">
        Convert 1 MOP to MUR...
      </a>
    </li>
    <li>
      <a href="/MOP/MVR">
        Convert 1 MOP to MVR...
      </a>
    </li>
    <li>
      <a href="/MOP/MWK">
        Convert 1 MOP to MWK...
      </a>
    </li>
    <li>
      <a href="/MOP/MXN">
        Convert 1 MOP to MXN...
      </a>
    </li>
    <li>
      <a href="/MOP/MYR">
        Convert 1 MOP to MYR...
      </a>
    </li>
    <li>
      <a href="/MOP/MZN">
        Convert 1 MOP to MZN...
      </a>
    </li>
    <li>
      <a href="/MOP/NAD">
        Convert 1 MOP to NAD...
      </a>
    </li>
    <li>
      <a href="/MOP/NGN">
        Convert 1 MOP to NGN...
      </a>
    </li>
    <li>
      <a href="/MOP/NIO">
        Convert 1 MOP to NIO...
      </a>
    </li>
    <li>
      <a href="/MOP/NOK">
        Convert 1 MOP to NOK...
      </a>
    </li>
    <li>
      <a href="/MOP/NPR">
        Convert 1 MOP to NPR...
      </a>
    </li>
    <li>
      <a href="/MOP/NZD">
        Convert 1 MOP to NZD...
      </a>
    </li>
    <li>
      <a href="/MOP/OMR">
        Convert 1 MOP to OMR...
      </a>
    </li>
    <li>
      <a href="/MOP/PAB">
        Convert 1 MOP to PAB...
      </a>
    </li>
    <li>
      <a href="/MOP/PEN">
        Convert 1 MOP to PEN...
      </a>
    </li>
    <li>
      <a href="/MOP/PGK">
        Convert 1 MOP to PGK...
      </a>
    </li>
    <li>
      <a href="/MOP/PHP">
        Convert 1 MOP to PHP...
      </a>
    </li>
    <li>
      <a href="/MOP/PKR">
        Convert 1 MOP to PKR...
      </a>
    </li>
    <li>
      <a href="/MOP/PLN">
        Convert 1 MOP to PLN...
      </a>
    </li>
    <li>
      <a href="/MOP/PYG">
        Convert 1 MOP to PYG...
      </a>
    </li>
    <li>
      <a href="/MOP/QAR">
        Convert 1 MOP to QAR...
      </a>
    </li>
    <li>
      <a href="/MOP/RON">
        Convert 1 MOP to RON...
      </a>
    </li>
    <li>
      <a href="/MOP/RSD">
        Convert 1 MOP to RSD...
      </a>
    </li>
    <li>
      <a href="/MOP/RUB">
        Convert 1 MOP to RUB...
      </a>
    </li>
    <li>
      <a href="/MOP/RWF">
        Convert 1 MOP to RWF...
      </a>
    </li>
    <li>
      <a href="/MOP/SAR">
        Convert 1 MOP to SAR...
      </a>
    </li>
    <li>
      <a href="/MOP/SBD">
        Convert 1 MOP to SBD...
      </a>
    </li>
    <li>
      <a href="/MOP/SCR">
        Convert 1 MOP to SCR...
      </a>
    </li>
    <li>
      <a href="/MOP/SDG">
        Convert 1 MOP to SDG...
      </a>
    </li>
    <li>
      <a href="/MOP/SEK">
        Convert 1 MOP to SEK...
      </a>
    </li>
    <li>
      <a href="/MOP/SGD">
        Convert 1 MOP to SGD...
      </a>
    </li>
    <li>
      <a href="/MOP/SHP">
        Convert 1 MOP to SHP...
      </a>
    </li>
    <li>
      <a href="/MOP/SLL">
        Convert 1 MOP to SLL...
      </a>
    </li>
    <li>
      <a href="/MOP/SOS">
        Convert 1 MOP to SOS...
      </a>
    </li>
    <li>
      <a href="/MOP/SRD">
        Convert 1 MOP to SRD...
      </a>
    </li>
    <li>
      <a href="/MOP/SSP">
        Convert 1 MOP to SSP...
      </a>
    </li>
    <li>
      <a href="/MOP/STD">
        Convert 1 MOP to STD...
      </a>
    </li>
    <li>
      <a href="/MOP/STN">
        Convert 1 MOP to STN...
      </a>
    </li>
    <li>
      <a href="/MOP/SVC">
        Convert 1 MOP to SVC...
      </a>
    </li>
    <li>
      <a href="/MOP/SYP">
        Convert 1 MOP to SYP...
      </a>
    </li>
    <li>
      <a href="/MOP/SZL">
        Convert 1 MOP to SZL...
      </a>
    </li>
    <li>
      <a href="/MOP/THB">
        Convert 1 MOP to THB...
      </a>
    </li>
    <li>
      <a href="/MOP/TJS">
        Convert 1 MOP to TJS...
      </a>
    </li>
    <li>
      <a href="/MOP/TMT">
        Convert 1 MOP to TMT...
      </a>
    </li>
    <li>
      <a href="/MOP/TND">
        Convert 1 MOP to TND...
      </a>
    </li>
    <li>
      <a href="/MOP/TOP">
        Convert 1 MOP to TOP...
      </a>
    </li>
    <li>
      <a href="/MOP/TRY">
        Convert 1 MOP to TRY...
      </a>
    </li>
    <li>
      <a href="/MOP/TTD">
        Convert 1 MOP to TTD...
      </a>
    </li>
    <li>
      <a href="/MOP/TWD">
        Convert 1 MOP to TWD...
      </a>
    </li>
    <li>
      <a href="/MOP/TZS">
        Convert 1 MOP to TZS...
      </a>
    </li>
    <li>
      <a href="/MOP/UAH">
        Convert 1 MOP to UAH...
      </a>
    </li>
    <li>
      <a href="/MOP/UGX">
        Convert 1 MOP to UGX...
      </a>
    </li>
    <li>
      <a href="/MOP/USD">
        Convert 1 MOP to USD...
      </a>
    </li>
    <li>
      <a href="/MOP/UYU">
        Convert 1 MOP to UYU...
      </a>
    </li>
    <li>
      <a href="/MOP/UZS">
        Convert 1 MOP to UZS...
      </a>
    </li>
    <li>
      <a href="/MOP/VEF">
        Convert 1 MOP to VEF...
      </a>
    </li>
    <li>
      <a href="/MOP/VES">
        Convert 1 MOP to VES...
      </a>
    </li>
    <li>
      <a href="/MOP/VND">
        Convert 1 MOP to VND...
      </a>
    </li>
    <li>
      <a href="/MOP/VUV">
        Convert 1 MOP to VUV...
      </a>
    </li>
    <li>
      <a href="/MOP/WST">
        Convert 1 MOP to WST...
      </a>
    </li>
    <li>
      <a href="/MOP/XAF">
        Convert 1 MOP to XAF...
      </a>
    </li>
    <li>
      <a href="/MOP/XAG">
        Convert 1 MOP to XAG...
      </a>
    </li>
    <li>
      <a href="/MOP/XAU">
        Convert 1 MOP to XAU...
      </a>
    </li>
    <li>
      <a href="/MOP/XCD">
        Convert 1 MOP to XCD...
      </a>
    </li>
    <li>
      <a href="/MOP/XDR">
        Convert 1 MOP to XDR...
      </a>
    </li>
    <li>
      <a href="/MOP/XOF">
        Convert 1 MOP to XOF...
      </a>
    </li>
    <li>
      <a href="/MOP/XPD">
        Convert 1 MOP to XPD...
      </a>
    </li>
    <li>
      <a href="/MOP/XPF">
        Convert 1 MOP to XPF...
      </a>
    </li>
    <li>
      <a href="/MOP/XPT">
        Convert 1 MOP to XPT...
      </a>
    </li>
    <li>
      <a href="/MOP/YER">
        Convert 1 MOP to YER...
      </a>
    </li>
    <li>
      <a href="/MOP/ZAR">
        Convert 1 MOP to ZAR...
      </a>
    </li>
    <li>
      <a href="/MOP/ZMW">
        Convert 1 MOP to ZMW...
      </a>
    </li>
    <li>
      <a href="/MOP/ZWL">
        Convert 1 MOP to ZWL...
      </a>
    </li>
</ul>
</body>
