<body>
    <h1>Convert MRO</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/MRO/AED">
        Convert 1 MRO to AED...
      </a>
    </li>
    <li>
      <a href="/MRO/AFN">
        Convert 1 MRO to AFN...
      </a>
    </li>
    <li>
      <a href="/MRO/ALL">
        Convert 1 MRO to ALL...
      </a>
    </li>
    <li>
      <a href="/MRO/AMD">
        Convert 1 MRO to AMD...
      </a>
    </li>
    <li>
      <a href="/MRO/ANG">
        Convert 1 MRO to ANG...
      </a>
    </li>
    <li>
      <a href="/MRO/AOA">
        Convert 1 MRO to AOA...
      </a>
    </li>
    <li>
      <a href="/MRO/ARS">
        Convert 1 MRO to ARS...
      </a>
    </li>
    <li>
      <a href="/MRO/AUD">
        Convert 1 MRO to AUD...
      </a>
    </li>
    <li>
      <a href="/MRO/AWG">
        Convert 1 MRO to AWG...
      </a>
    </li>
    <li>
      <a href="/MRO/AZN">
        Convert 1 MRO to AZN...
      </a>
    </li>
    <li>
      <a href="/MRO/BAM">
        Convert 1 MRO to BAM...
      </a>
    </li>
    <li>
      <a href="/MRO/BBD">
        Convert 1 MRO to BBD...
      </a>
    </li>
    <li>
      <a href="/MRO/BDT">
        Convert 1 MRO to BDT...
      </a>
    </li>
    <li>
      <a href="/MRO/BGN">
        Convert 1 MRO to BGN...
      </a>
    </li>
    <li>
      <a href="/MRO/BHD">
        Convert 1 MRO to BHD...
      </a>
    </li>
    <li>
      <a href="/MRO/BIF">
        Convert 1 MRO to BIF...
      </a>
    </li>
    <li>
      <a href="/MRO/BMD">
        Convert 1 MRO to BMD...
      </a>
    </li>
    <li>
      <a href="/MRO/BND">
        Convert 1 MRO to BND...
      </a>
    </li>
    <li>
      <a href="/MRO/BOB">
        Convert 1 MRO to BOB...
      </a>
    </li>
    <li>
      <a href="/MRO/BRL">
        Convert 1 MRO to BRL...
      </a>
    </li>
    <li>
      <a href="/MRO/BSD">
        Convert 1 MRO to BSD...
      </a>
    </li>
    <li>
      <a href="/MRO/BTC">
        Convert 1 MRO to BTC...
      </a>
    </li>
    <li>
      <a href="/MRO/BTN">
        Convert 1 MRO to BTN...
      </a>
    </li>
    <li>
      <a href="/MRO/BWP">
        Convert 1 MRO to BWP...
      </a>
    </li>
    <li>
      <a href="/MRO/BYN">
        Convert 1 MRO to BYN...
      </a>
    </li>
    <li>
      <a href="/MRO/BZD">
        Convert 1 MRO to BZD...
      </a>
    </li>
    <li>
      <a href="/MRO/CAD">
        Convert 1 MRO to CAD...
      </a>
    </li>
    <li>
      <a href="/MRO/CDF">
        Convert 1 MRO to CDF...
      </a>
    </li>
    <li>
      <a href="/MRO/CHF">
        Convert 1 MRO to CHF...
      </a>
    </li>
    <li>
      <a href="/MRO/CLF">
        Convert 1 MRO to CLF...
      </a>
    </li>
    <li>
      <a href="/MRO/CLP">
        Convert 1 MRO to CLP...
      </a>
    </li>
    <li>
      <a href="/MRO/CNH">
        Convert 1 MRO to CNH...
      </a>
    </li>
    <li>
      <a href="/MRO/CNY">
        Convert 1 MRO to CNY...
      </a>
    </li>
    <li>
      <a href="/MRO/COP">
        Convert 1 MRO to COP...
      </a>
    </li>
    <li>
      <a href="/MRO/CRC">
        Convert 1 MRO to CRC...
      </a>
    </li>
    <li>
      <a href="/MRO/CUC">
        Convert 1 MRO to CUC...
      </a>
    </li>
    <li>
      <a href="/MRO/CUP">
        Convert 1 MRO to CUP...
      </a>
    </li>
    <li>
      <a href="/MRO/CVE">
        Convert 1 MRO to CVE...
      </a>
    </li>
    <li>
      <a href="/MRO/CZK">
        Convert 1 MRO to CZK...
      </a>
    </li>
    <li>
      <a href="/MRO/DJF">
        Convert 1 MRO to DJF...
      </a>
    </li>
    <li>
      <a href="/MRO/DKK">
        Convert 1 MRO to DKK...
      </a>
    </li>
    <li>
      <a href="/MRO/DOP">
        Convert 1 MRO to DOP...
      </a>
    </li>
    <li>
      <a href="/MRO/DZD">
        Convert 1 MRO to DZD...
      </a>
    </li>
    <li>
      <a href="/MRO/EGP">
        Convert 1 MRO to EGP...
      </a>
    </li>
    <li>
      <a href="/MRO/ERN">
        Convert 1 MRO to ERN...
      </a>
    </li>
    <li>
      <a href="/MRO/ETB">
        Convert 1 MRO to ETB...
      </a>
    </li>
    <li>
      <a href="/MRO/EUR">
        Convert 1 MRO to EUR...
      </a>
    </li>
    <li>
      <a href="/MRO/FJD">
        Convert 1 MRO to FJD...
      </a>
    </li>
    <li>
      <a href="/MRO/FKP">
        Convert 1 MRO to FKP...
      </a>
    </li>
    <li>
      <a href="/MRO/GBP">
        Convert 1 MRO to GBP...
      </a>
    </li>
    <li>
      <a href="/MRO/GEL">
        Convert 1 MRO to GEL...
      </a>
    </li>
    <li>
      <a href="/MRO/GGP">
        Convert 1 MRO to GGP...
      </a>
    </li>
    <li>
      <a href="/MRO/GHS">
        Convert 1 MRO to GHS...
      </a>
    </li>
    <li>
      <a href="/MRO/GIP">
        Convert 1 MRO to GIP...
      </a>
    </li>
    <li>
      <a href="/MRO/GMD">
        Convert 1 MRO to GMD...
      </a>
    </li>
    <li>
      <a href="/MRO/GNF">
        Convert 1 MRO to GNF...
      </a>
    </li>
    <li>
      <a href="/MRO/GTQ">
        Convert 1 MRO to GTQ...
      </a>
    </li>
    <li>
      <a href="/MRO/GYD">
        Convert 1 MRO to GYD...
      </a>
    </li>
    <li>
      <a href="/MRO/HKD">
        Convert 1 MRO to HKD...
      </a>
    </li>
    <li>
      <a href="/MRO/HNL">
        Convert 1 MRO to HNL...
      </a>
    </li>
    <li>
      <a href="/MRO/HRK">
        Convert 1 MRO to HRK...
      </a>
    </li>
    <li>
      <a href="/MRO/HTG">
        Convert 1 MRO to HTG...
      </a>
    </li>
    <li>
      <a href="/MRO/HUF">
        Convert 1 MRO to HUF...
      </a>
    </li>
    <li>
      <a href="/MRO/IDR">
        Convert 1 MRO to IDR...
      </a>
    </li>
    <li>
      <a href="/MRO/ILS">
        Convert 1 MRO to ILS...
      </a>
    </li>
    <li>
      <a href="/MRO/IMP">
        Convert 1 MRO to IMP...
      </a>
    </li>
    <li>
      <a href="/MRO/INR">
        Convert 1 MRO to INR...
      </a>
    </li>
    <li>
      <a href="/MRO/IQD">
        Convert 1 MRO to IQD...
      </a>
    </li>
    <li>
      <a href="/MRO/IRR">
        Convert 1 MRO to IRR...
      </a>
    </li>
    <li>
      <a href="/MRO/ISK">
        Convert 1 MRO to ISK...
      </a>
    </li>
    <li>
      <a href="/MRO/JEP">
        Convert 1 MRO to JEP...
      </a>
    </li>
    <li>
      <a href="/MRO/JMD">
        Convert 1 MRO to JMD...
      </a>
    </li>
    <li>
      <a href="/MRO/JOD">
        Convert 1 MRO to JOD...
      </a>
    </li>
    <li>
      <a href="/MRO/JPY">
        Convert 1 MRO to JPY...
      </a>
    </li>
    <li>
      <a href="/MRO/KES">
        Convert 1 MRO to KES...
      </a>
    </li>
    <li>
      <a href="/MRO/KGS">
        Convert 1 MRO to KGS...
      </a>
    </li>
    <li>
      <a href="/MRO/KHR">
        Convert 1 MRO to KHR...
      </a>
    </li>
    <li>
      <a href="/MRO/KMF">
        Convert 1 MRO to KMF...
      </a>
    </li>
    <li>
      <a href="/MRO/KPW">
        Convert 1 MRO to KPW...
      </a>
    </li>
    <li>
      <a href="/MRO/KRW">
        Convert 1 MRO to KRW...
      </a>
    </li>
    <li>
      <a href="/MRO/KWD">
        Convert 1 MRO to KWD...
      </a>
    </li>
    <li>
      <a href="/MRO/KYD">
        Convert 1 MRO to KYD...
      </a>
    </li>
    <li>
      <a href="/MRO/KZT">
        Convert 1 MRO to KZT...
      </a>
    </li>
    <li>
      <a href="/MRO/LAK">
        Convert 1 MRO to LAK...
      </a>
    </li>
    <li>
      <a href="/MRO/LBP">
        Convert 1 MRO to LBP...
      </a>
    </li>
    <li>
      <a href="/MRO/LKR">
        Convert 1 MRO to LKR...
      </a>
    </li>
    <li>
      <a href="/MRO/LRD">
        Convert 1 MRO to LRD...
      </a>
    </li>
    <li>
      <a href="/MRO/LSL">
        Convert 1 MRO to LSL...
      </a>
    </li>
    <li>
      <a href="/MRO/LYD">
        Convert 1 MRO to LYD...
      </a>
    </li>
    <li>
      <a href="/MRO/MAD">
        Convert 1 MRO to MAD...
      </a>
    </li>
    <li>
      <a href="/MRO/MDL">
        Convert 1 MRO to MDL...
      </a>
    </li>
    <li>
      <a href="/MRO/MGA">
        Convert 1 MRO to MGA...
      </a>
    </li>
    <li>
      <a href="/MRO/MKD">
        Convert 1 MRO to MKD...
      </a>
    </li>
    <li>
      <a href="/MRO/MMK">
        Convert 1 MRO to MMK...
      </a>
    </li>
    <li>
      <a href="/MRO/MNT">
        Convert 1 MRO to MNT...
      </a>
    </li>
    <li>
      <a href="/MRO/MOP">
        Convert 1 MRO to MOP...
      </a>
    </li>
    <li>
      <a href="/MRO/MRO">
        Convert 1 MRO to MRO...
      </a>
    </li>
    <li>
      <a href="/MRO/MRU">
        Convert 1 MRO to MRU...
      </a>
    </li>
    <li>
      <a href="/MRO/MUR">
        Convert 1 MRO to MUR...
      </a>
    </li>
    <li>
      <a href="/MRO/MVR">
        Convert 1 MRO to MVR...
      </a>
    </li>
    <li>
      <a href="/MRO/MWK">
        Convert 1 MRO to MWK...
      </a>
    </li>
    <li>
      <a href="/MRO/MXN">
        Convert 1 MRO to MXN...
      </a>
    </li>
    <li>
      <a href="/MRO/MYR">
        Convert 1 MRO to MYR...
      </a>
    </li>
    <li>
      <a href="/MRO/MZN">
        Convert 1 MRO to MZN...
      </a>
    </li>
    <li>
      <a href="/MRO/NAD">
        Convert 1 MRO to NAD...
      </a>
    </li>
    <li>
      <a href="/MRO/NGN">
        Convert 1 MRO to NGN...
      </a>
    </li>
    <li>
      <a href="/MRO/NIO">
        Convert 1 MRO to NIO...
      </a>
    </li>
    <li>
      <a href="/MRO/NOK">
        Convert 1 MRO to NOK...
      </a>
    </li>
    <li>
      <a href="/MRO/NPR">
        Convert 1 MRO to NPR...
      </a>
    </li>
    <li>
      <a href="/MRO/NZD">
        Convert 1 MRO to NZD...
      </a>
    </li>
    <li>
      <a href="/MRO/OMR">
        Convert 1 MRO to OMR...
      </a>
    </li>
    <li>
      <a href="/MRO/PAB">
        Convert 1 MRO to PAB...
      </a>
    </li>
    <li>
      <a href="/MRO/PEN">
        Convert 1 MRO to PEN...
      </a>
    </li>
    <li>
      <a href="/MRO/PGK">
        Convert 1 MRO to PGK...
      </a>
    </li>
    <li>
      <a href="/MRO/PHP">
        Convert 1 MRO to PHP...
      </a>
    </li>
    <li>
      <a href="/MRO/PKR">
        Convert 1 MRO to PKR...
      </a>
    </li>
    <li>
      <a href="/MRO/PLN">
        Convert 1 MRO to PLN...
      </a>
    </li>
    <li>
      <a href="/MRO/PYG">
        Convert 1 MRO to PYG...
      </a>
    </li>
    <li>
      <a href="/MRO/QAR">
        Convert 1 MRO to QAR...
      </a>
    </li>
    <li>
      <a href="/MRO/RON">
        Convert 1 MRO to RON...
      </a>
    </li>
    <li>
      <a href="/MRO/RSD">
        Convert 1 MRO to RSD...
      </a>
    </li>
    <li>
      <a href="/MRO/RUB">
        Convert 1 MRO to RUB...
      </a>
    </li>
    <li>
      <a href="/MRO/RWF">
        Convert 1 MRO to RWF...
      </a>
    </li>
    <li>
      <a href="/MRO/SAR">
        Convert 1 MRO to SAR...
      </a>
    </li>
    <li>
      <a href="/MRO/SBD">
        Convert 1 MRO to SBD...
      </a>
    </li>
    <li>
      <a href="/MRO/SCR">
        Convert 1 MRO to SCR...
      </a>
    </li>
    <li>
      <a href="/MRO/SDG">
        Convert 1 MRO to SDG...
      </a>
    </li>
    <li>
      <a href="/MRO/SEK">
        Convert 1 MRO to SEK...
      </a>
    </li>
    <li>
      <a href="/MRO/SGD">
        Convert 1 MRO to SGD...
      </a>
    </li>
    <li>
      <a href="/MRO/SHP">
        Convert 1 MRO to SHP...
      </a>
    </li>
    <li>
      <a href="/MRO/SLL">
        Convert 1 MRO to SLL...
      </a>
    </li>
    <li>
      <a href="/MRO/SOS">
        Convert 1 MRO to SOS...
      </a>
    </li>
    <li>
      <a href="/MRO/SRD">
        Convert 1 MRO to SRD...
      </a>
    </li>
    <li>
      <a href="/MRO/SSP">
        Convert 1 MRO to SSP...
      </a>
    </li>
    <li>
      <a href="/MRO/STD">
        Convert 1 MRO to STD...
      </a>
    </li>
    <li>
      <a href="/MRO/STN">
        Convert 1 MRO to STN...
      </a>
    </li>
    <li>
      <a href="/MRO/SVC">
        Convert 1 MRO to SVC...
      </a>
    </li>
    <li>
      <a href="/MRO/SYP">
        Convert 1 MRO to SYP...
      </a>
    </li>
    <li>
      <a href="/MRO/SZL">
        Convert 1 MRO to SZL...
      </a>
    </li>
    <li>
      <a href="/MRO/THB">
        Convert 1 MRO to THB...
      </a>
    </li>
    <li>
      <a href="/MRO/TJS">
        Convert 1 MRO to TJS...
      </a>
    </li>
    <li>
      <a href="/MRO/TMT">
        Convert 1 MRO to TMT...
      </a>
    </li>
    <li>
      <a href="/MRO/TND">
        Convert 1 MRO to TND...
      </a>
    </li>
    <li>
      <a href="/MRO/TOP">
        Convert 1 MRO to TOP...
      </a>
    </li>
    <li>
      <a href="/MRO/TRY">
        Convert 1 MRO to TRY...
      </a>
    </li>
    <li>
      <a href="/MRO/TTD">
        Convert 1 MRO to TTD...
      </a>
    </li>
    <li>
      <a href="/MRO/TWD">
        Convert 1 MRO to TWD...
      </a>
    </li>
    <li>
      <a href="/MRO/TZS">
        Convert 1 MRO to TZS...
      </a>
    </li>
    <li>
      <a href="/MRO/UAH">
        Convert 1 MRO to UAH...
      </a>
    </li>
    <li>
      <a href="/MRO/UGX">
        Convert 1 MRO to UGX...
      </a>
    </li>
    <li>
      <a href="/MRO/USD">
        Convert 1 MRO to USD...
      </a>
    </li>
    <li>
      <a href="/MRO/UYU">
        Convert 1 MRO to UYU...
      </a>
    </li>
    <li>
      <a href="/MRO/UZS">
        Convert 1 MRO to UZS...
      </a>
    </li>
    <li>
      <a href="/MRO/VEF">
        Convert 1 MRO to VEF...
      </a>
    </li>
    <li>
      <a href="/MRO/VES">
        Convert 1 MRO to VES...
      </a>
    </li>
    <li>
      <a href="/MRO/VND">
        Convert 1 MRO to VND...
      </a>
    </li>
    <li>
      <a href="/MRO/VUV">
        Convert 1 MRO to VUV...
      </a>
    </li>
    <li>
      <a href="/MRO/WST">
        Convert 1 MRO to WST...
      </a>
    </li>
    <li>
      <a href="/MRO/XAF">
        Convert 1 MRO to XAF...
      </a>
    </li>
    <li>
      <a href="/MRO/XAG">
        Convert 1 MRO to XAG...
      </a>
    </li>
    <li>
      <a href="/MRO/XAU">
        Convert 1 MRO to XAU...
      </a>
    </li>
    <li>
      <a href="/MRO/XCD">
        Convert 1 MRO to XCD...
      </a>
    </li>
    <li>
      <a href="/MRO/XDR">
        Convert 1 MRO to XDR...
      </a>
    </li>
    <li>
      <a href="/MRO/XOF">
        Convert 1 MRO to XOF...
      </a>
    </li>
    <li>
      <a href="/MRO/XPD">
        Convert 1 MRO to XPD...
      </a>
    </li>
    <li>
      <a href="/MRO/XPF">
        Convert 1 MRO to XPF...
      </a>
    </li>
    <li>
      <a href="/MRO/XPT">
        Convert 1 MRO to XPT...
      </a>
    </li>
    <li>
      <a href="/MRO/YER">
        Convert 1 MRO to YER...
      </a>
    </li>
    <li>
      <a href="/MRO/ZAR">
        Convert 1 MRO to ZAR...
      </a>
    </li>
    <li>
      <a href="/MRO/ZMW">
        Convert 1 MRO to ZMW...
      </a>
    </li>
    <li>
      <a href="/MRO/ZWL">
        Convert 1 MRO to ZWL...
      </a>
    </li>
</ul>
</body>
