<body>
    <h1>Convert MRU</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/MRU/AED">
        Convert 1 MRU to AED...
      </a>
    </li>
    <li>
      <a href="/MRU/AFN">
        Convert 1 MRU to AFN...
      </a>
    </li>
    <li>
      <a href="/MRU/ALL">
        Convert 1 MRU to ALL...
      </a>
    </li>
    <li>
      <a href="/MRU/AMD">
        Convert 1 MRU to AMD...
      </a>
    </li>
    <li>
      <a href="/MRU/ANG">
        Convert 1 MRU to ANG...
      </a>
    </li>
    <li>
      <a href="/MRU/AOA">
        Convert 1 MRU to AOA...
      </a>
    </li>
    <li>
      <a href="/MRU/ARS">
        Convert 1 MRU to ARS...
      </a>
    </li>
    <li>
      <a href="/MRU/AUD">
        Convert 1 MRU to AUD...
      </a>
    </li>
    <li>
      <a href="/MRU/AWG">
        Convert 1 MRU to AWG...
      </a>
    </li>
    <li>
      <a href="/MRU/AZN">
        Convert 1 MRU to AZN...
      </a>
    </li>
    <li>
      <a href="/MRU/BAM">
        Convert 1 MRU to BAM...
      </a>
    </li>
    <li>
      <a href="/MRU/BBD">
        Convert 1 MRU to BBD...
      </a>
    </li>
    <li>
      <a href="/MRU/BDT">
        Convert 1 MRU to BDT...
      </a>
    </li>
    <li>
      <a href="/MRU/BGN">
        Convert 1 MRU to BGN...
      </a>
    </li>
    <li>
      <a href="/MRU/BHD">
        Convert 1 MRU to BHD...
      </a>
    </li>
    <li>
      <a href="/MRU/BIF">
        Convert 1 MRU to BIF...
      </a>
    </li>
    <li>
      <a href="/MRU/BMD">
        Convert 1 MRU to BMD...
      </a>
    </li>
    <li>
      <a href="/MRU/BND">
        Convert 1 MRU to BND...
      </a>
    </li>
    <li>
      <a href="/MRU/BOB">
        Convert 1 MRU to BOB...
      </a>
    </li>
    <li>
      <a href="/MRU/BRL">
        Convert 1 MRU to BRL...
      </a>
    </li>
    <li>
      <a href="/MRU/BSD">
        Convert 1 MRU to BSD...
      </a>
    </li>
    <li>
      <a href="/MRU/BTC">
        Convert 1 MRU to BTC...
      </a>
    </li>
    <li>
      <a href="/MRU/BTN">
        Convert 1 MRU to BTN...
      </a>
    </li>
    <li>
      <a href="/MRU/BWP">
        Convert 1 MRU to BWP...
      </a>
    </li>
    <li>
      <a href="/MRU/BYN">
        Convert 1 MRU to BYN...
      </a>
    </li>
    <li>
      <a href="/MRU/BZD">
        Convert 1 MRU to BZD...
      </a>
    </li>
    <li>
      <a href="/MRU/CAD">
        Convert 1 MRU to CAD...
      </a>
    </li>
    <li>
      <a href="/MRU/CDF">
        Convert 1 MRU to CDF...
      </a>
    </li>
    <li>
      <a href="/MRU/CHF">
        Convert 1 MRU to CHF...
      </a>
    </li>
    <li>
      <a href="/MRU/CLF">
        Convert 1 MRU to CLF...
      </a>
    </li>
    <li>
      <a href="/MRU/CLP">
        Convert 1 MRU to CLP...
      </a>
    </li>
    <li>
      <a href="/MRU/CNH">
        Convert 1 MRU to CNH...
      </a>
    </li>
    <li>
      <a href="/MRU/CNY">
        Convert 1 MRU to CNY...
      </a>
    </li>
    <li>
      <a href="/MRU/COP">
        Convert 1 MRU to COP...
      </a>
    </li>
    <li>
      <a href="/MRU/CRC">
        Convert 1 MRU to CRC...
      </a>
    </li>
    <li>
      <a href="/MRU/CUC">
        Convert 1 MRU to CUC...
      </a>
    </li>
    <li>
      <a href="/MRU/CUP">
        Convert 1 MRU to CUP...
      </a>
    </li>
    <li>
      <a href="/MRU/CVE">
        Convert 1 MRU to CVE...
      </a>
    </li>
    <li>
      <a href="/MRU/CZK">
        Convert 1 MRU to CZK...
      </a>
    </li>
    <li>
      <a href="/MRU/DJF">
        Convert 1 MRU to DJF...
      </a>
    </li>
    <li>
      <a href="/MRU/DKK">
        Convert 1 MRU to DKK...
      </a>
    </li>
    <li>
      <a href="/MRU/DOP">
        Convert 1 MRU to DOP...
      </a>
    </li>
    <li>
      <a href="/MRU/DZD">
        Convert 1 MRU to DZD...
      </a>
    </li>
    <li>
      <a href="/MRU/EGP">
        Convert 1 MRU to EGP...
      </a>
    </li>
    <li>
      <a href="/MRU/ERN">
        Convert 1 MRU to ERN...
      </a>
    </li>
    <li>
      <a href="/MRU/ETB">
        Convert 1 MRU to ETB...
      </a>
    </li>
    <li>
      <a href="/MRU/EUR">
        Convert 1 MRU to EUR...
      </a>
    </li>
    <li>
      <a href="/MRU/FJD">
        Convert 1 MRU to FJD...
      </a>
    </li>
    <li>
      <a href="/MRU/FKP">
        Convert 1 MRU to FKP...
      </a>
    </li>
    <li>
      <a href="/MRU/GBP">
        Convert 1 MRU to GBP...
      </a>
    </li>
    <li>
      <a href="/MRU/GEL">
        Convert 1 MRU to GEL...
      </a>
    </li>
    <li>
      <a href="/MRU/GGP">
        Convert 1 MRU to GGP...
      </a>
    </li>
    <li>
      <a href="/MRU/GHS">
        Convert 1 MRU to GHS...
      </a>
    </li>
    <li>
      <a href="/MRU/GIP">
        Convert 1 MRU to GIP...
      </a>
    </li>
    <li>
      <a href="/MRU/GMD">
        Convert 1 MRU to GMD...
      </a>
    </li>
    <li>
      <a href="/MRU/GNF">
        Convert 1 MRU to GNF...
      </a>
    </li>
    <li>
      <a href="/MRU/GTQ">
        Convert 1 MRU to GTQ...
      </a>
    </li>
    <li>
      <a href="/MRU/GYD">
        Convert 1 MRU to GYD...
      </a>
    </li>
    <li>
      <a href="/MRU/HKD">
        Convert 1 MRU to HKD...
      </a>
    </li>
    <li>
      <a href="/MRU/HNL">
        Convert 1 MRU to HNL...
      </a>
    </li>
    <li>
      <a href="/MRU/HRK">
        Convert 1 MRU to HRK...
      </a>
    </li>
    <li>
      <a href="/MRU/HTG">
        Convert 1 MRU to HTG...
      </a>
    </li>
    <li>
      <a href="/MRU/HUF">
        Convert 1 MRU to HUF...
      </a>
    </li>
    <li>
      <a href="/MRU/IDR">
        Convert 1 MRU to IDR...
      </a>
    </li>
    <li>
      <a href="/MRU/ILS">
        Convert 1 MRU to ILS...
      </a>
    </li>
    <li>
      <a href="/MRU/IMP">
        Convert 1 MRU to IMP...
      </a>
    </li>
    <li>
      <a href="/MRU/INR">
        Convert 1 MRU to INR...
      </a>
    </li>
    <li>
      <a href="/MRU/IQD">
        Convert 1 MRU to IQD...
      </a>
    </li>
    <li>
      <a href="/MRU/IRR">
        Convert 1 MRU to IRR...
      </a>
    </li>
    <li>
      <a href="/MRU/ISK">
        Convert 1 MRU to ISK...
      </a>
    </li>
    <li>
      <a href="/MRU/JEP">
        Convert 1 MRU to JEP...
      </a>
    </li>
    <li>
      <a href="/MRU/JMD">
        Convert 1 MRU to JMD...
      </a>
    </li>
    <li>
      <a href="/MRU/JOD">
        Convert 1 MRU to JOD...
      </a>
    </li>
    <li>
      <a href="/MRU/JPY">
        Convert 1 MRU to JPY...
      </a>
    </li>
    <li>
      <a href="/MRU/KES">
        Convert 1 MRU to KES...
      </a>
    </li>
    <li>
      <a href="/MRU/KGS">
        Convert 1 MRU to KGS...
      </a>
    </li>
    <li>
      <a href="/MRU/KHR">
        Convert 1 MRU to KHR...
      </a>
    </li>
    <li>
      <a href="/MRU/KMF">
        Convert 1 MRU to KMF...
      </a>
    </li>
    <li>
      <a href="/MRU/KPW">
        Convert 1 MRU to KPW...
      </a>
    </li>
    <li>
      <a href="/MRU/KRW">
        Convert 1 MRU to KRW...
      </a>
    </li>
    <li>
      <a href="/MRU/KWD">
        Convert 1 MRU to KWD...
      </a>
    </li>
    <li>
      <a href="/MRU/KYD">
        Convert 1 MRU to KYD...
      </a>
    </li>
    <li>
      <a href="/MRU/KZT">
        Convert 1 MRU to KZT...
      </a>
    </li>
    <li>
      <a href="/MRU/LAK">
        Convert 1 MRU to LAK...
      </a>
    </li>
    <li>
      <a href="/MRU/LBP">
        Convert 1 MRU to LBP...
      </a>
    </li>
    <li>
      <a href="/MRU/LKR">
        Convert 1 MRU to LKR...
      </a>
    </li>
    <li>
      <a href="/MRU/LRD">
        Convert 1 MRU to LRD...
      </a>
    </li>
    <li>
      <a href="/MRU/LSL">
        Convert 1 MRU to LSL...
      </a>
    </li>
    <li>
      <a href="/MRU/LYD">
        Convert 1 MRU to LYD...
      </a>
    </li>
    <li>
      <a href="/MRU/MAD">
        Convert 1 MRU to MAD...
      </a>
    </li>
    <li>
      <a href="/MRU/MDL">
        Convert 1 MRU to MDL...
      </a>
    </li>
    <li>
      <a href="/MRU/MGA">
        Convert 1 MRU to MGA...
      </a>
    </li>
    <li>
      <a href="/MRU/MKD">
        Convert 1 MRU to MKD...
      </a>
    </li>
    <li>
      <a href="/MRU/MMK">
        Convert 1 MRU to MMK...
      </a>
    </li>
    <li>
      <a href="/MRU/MNT">
        Convert 1 MRU to MNT...
      </a>
    </li>
    <li>
      <a href="/MRU/MOP">
        Convert 1 MRU to MOP...
      </a>
    </li>
    <li>
      <a href="/MRU/MRO">
        Convert 1 MRU to MRO...
      </a>
    </li>
    <li>
      <a href="/MRU/MRU">
        Convert 1 MRU to MRU...
      </a>
    </li>
    <li>
      <a href="/MRU/MUR">
        Convert 1 MRU to MUR...
      </a>
    </li>
    <li>
      <a href="/MRU/MVR">
        Convert 1 MRU to MVR...
      </a>
    </li>
    <li>
      <a href="/MRU/MWK">
        Convert 1 MRU to MWK...
      </a>
    </li>
    <li>
      <a href="/MRU/MXN">
        Convert 1 MRU to MXN...
      </a>
    </li>
    <li>
      <a href="/MRU/MYR">
        Convert 1 MRU to MYR...
      </a>
    </li>
    <li>
      <a href="/MRU/MZN">
        Convert 1 MRU to MZN...
      </a>
    </li>
    <li>
      <a href="/MRU/NAD">
        Convert 1 MRU to NAD...
      </a>
    </li>
    <li>
      <a href="/MRU/NGN">
        Convert 1 MRU to NGN...
      </a>
    </li>
    <li>
      <a href="/MRU/NIO">
        Convert 1 MRU to NIO...
      </a>
    </li>
    <li>
      <a href="/MRU/NOK">
        Convert 1 MRU to NOK...
      </a>
    </li>
    <li>
      <a href="/MRU/NPR">
        Convert 1 MRU to NPR...
      </a>
    </li>
    <li>
      <a href="/MRU/NZD">
        Convert 1 MRU to NZD...
      </a>
    </li>
    <li>
      <a href="/MRU/OMR">
        Convert 1 MRU to OMR...
      </a>
    </li>
    <li>
      <a href="/MRU/PAB">
        Convert 1 MRU to PAB...
      </a>
    </li>
    <li>
      <a href="/MRU/PEN">
        Convert 1 MRU to PEN...
      </a>
    </li>
    <li>
      <a href="/MRU/PGK">
        Convert 1 MRU to PGK...
      </a>
    </li>
    <li>
      <a href="/MRU/PHP">
        Convert 1 MRU to PHP...
      </a>
    </li>
    <li>
      <a href="/MRU/PKR">
        Convert 1 MRU to PKR...
      </a>
    </li>
    <li>
      <a href="/MRU/PLN">
        Convert 1 MRU to PLN...
      </a>
    </li>
    <li>
      <a href="/MRU/PYG">
        Convert 1 MRU to PYG...
      </a>
    </li>
    <li>
      <a href="/MRU/QAR">
        Convert 1 MRU to QAR...
      </a>
    </li>
    <li>
      <a href="/MRU/RON">
        Convert 1 MRU to RON...
      </a>
    </li>
    <li>
      <a href="/MRU/RSD">
        Convert 1 MRU to RSD...
      </a>
    </li>
    <li>
      <a href="/MRU/RUB">
        Convert 1 MRU to RUB...
      </a>
    </li>
    <li>
      <a href="/MRU/RWF">
        Convert 1 MRU to RWF...
      </a>
    </li>
    <li>
      <a href="/MRU/SAR">
        Convert 1 MRU to SAR...
      </a>
    </li>
    <li>
      <a href="/MRU/SBD">
        Convert 1 MRU to SBD...
      </a>
    </li>
    <li>
      <a href="/MRU/SCR">
        Convert 1 MRU to SCR...
      </a>
    </li>
    <li>
      <a href="/MRU/SDG">
        Convert 1 MRU to SDG...
      </a>
    </li>
    <li>
      <a href="/MRU/SEK">
        Convert 1 MRU to SEK...
      </a>
    </li>
    <li>
      <a href="/MRU/SGD">
        Convert 1 MRU to SGD...
      </a>
    </li>
    <li>
      <a href="/MRU/SHP">
        Convert 1 MRU to SHP...
      </a>
    </li>
    <li>
      <a href="/MRU/SLL">
        Convert 1 MRU to SLL...
      </a>
    </li>
    <li>
      <a href="/MRU/SOS">
        Convert 1 MRU to SOS...
      </a>
    </li>
    <li>
      <a href="/MRU/SRD">
        Convert 1 MRU to SRD...
      </a>
    </li>
    <li>
      <a href="/MRU/SSP">
        Convert 1 MRU to SSP...
      </a>
    </li>
    <li>
      <a href="/MRU/STD">
        Convert 1 MRU to STD...
      </a>
    </li>
    <li>
      <a href="/MRU/STN">
        Convert 1 MRU to STN...
      </a>
    </li>
    <li>
      <a href="/MRU/SVC">
        Convert 1 MRU to SVC...
      </a>
    </li>
    <li>
      <a href="/MRU/SYP">
        Convert 1 MRU to SYP...
      </a>
    </li>
    <li>
      <a href="/MRU/SZL">
        Convert 1 MRU to SZL...
      </a>
    </li>
    <li>
      <a href="/MRU/THB">
        Convert 1 MRU to THB...
      </a>
    </li>
    <li>
      <a href="/MRU/TJS">
        Convert 1 MRU to TJS...
      </a>
    </li>
    <li>
      <a href="/MRU/TMT">
        Convert 1 MRU to TMT...
      </a>
    </li>
    <li>
      <a href="/MRU/TND">
        Convert 1 MRU to TND...
      </a>
    </li>
    <li>
      <a href="/MRU/TOP">
        Convert 1 MRU to TOP...
      </a>
    </li>
    <li>
      <a href="/MRU/TRY">
        Convert 1 MRU to TRY...
      </a>
    </li>
    <li>
      <a href="/MRU/TTD">
        Convert 1 MRU to TTD...
      </a>
    </li>
    <li>
      <a href="/MRU/TWD">
        Convert 1 MRU to TWD...
      </a>
    </li>
    <li>
      <a href="/MRU/TZS">
        Convert 1 MRU to TZS...
      </a>
    </li>
    <li>
      <a href="/MRU/UAH">
        Convert 1 MRU to UAH...
      </a>
    </li>
    <li>
      <a href="/MRU/UGX">
        Convert 1 MRU to UGX...
      </a>
    </li>
    <li>
      <a href="/MRU/USD">
        Convert 1 MRU to USD...
      </a>
    </li>
    <li>
      <a href="/MRU/UYU">
        Convert 1 MRU to UYU...
      </a>
    </li>
    <li>
      <a href="/MRU/UZS">
        Convert 1 MRU to UZS...
      </a>
    </li>
    <li>
      <a href="/MRU/VEF">
        Convert 1 MRU to VEF...
      </a>
    </li>
    <li>
      <a href="/MRU/VES">
        Convert 1 MRU to VES...
      </a>
    </li>
    <li>
      <a href="/MRU/VND">
        Convert 1 MRU to VND...
      </a>
    </li>
    <li>
      <a href="/MRU/VUV">
        Convert 1 MRU to VUV...
      </a>
    </li>
    <li>
      <a href="/MRU/WST">
        Convert 1 MRU to WST...
      </a>
    </li>
    <li>
      <a href="/MRU/XAF">
        Convert 1 MRU to XAF...
      </a>
    </li>
    <li>
      <a href="/MRU/XAG">
        Convert 1 MRU to XAG...
      </a>
    </li>
    <li>
      <a href="/MRU/XAU">
        Convert 1 MRU to XAU...
      </a>
    </li>
    <li>
      <a href="/MRU/XCD">
        Convert 1 MRU to XCD...
      </a>
    </li>
    <li>
      <a href="/MRU/XDR">
        Convert 1 MRU to XDR...
      </a>
    </li>
    <li>
      <a href="/MRU/XOF">
        Convert 1 MRU to XOF...
      </a>
    </li>
    <li>
      <a href="/MRU/XPD">
        Convert 1 MRU to XPD...
      </a>
    </li>
    <li>
      <a href="/MRU/XPF">
        Convert 1 MRU to XPF...
      </a>
    </li>
    <li>
      <a href="/MRU/XPT">
        Convert 1 MRU to XPT...
      </a>
    </li>
    <li>
      <a href="/MRU/YER">
        Convert 1 MRU to YER...
      </a>
    </li>
    <li>
      <a href="/MRU/ZAR">
        Convert 1 MRU to ZAR...
      </a>
    </li>
    <li>
      <a href="/MRU/ZMW">
        Convert 1 MRU to ZMW...
      </a>
    </li>
    <li>
      <a href="/MRU/ZWL">
        Convert 1 MRU to ZWL...
      </a>
    </li>
</ul>
</body>
