<body>
    <h1>Convert MUR</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/MUR/AED">
        Convert 1 MUR to AED...
      </a>
    </li>
    <li>
      <a href="/MUR/AFN">
        Convert 1 MUR to AFN...
      </a>
    </li>
    <li>
      <a href="/MUR/ALL">
        Convert 1 MUR to ALL...
      </a>
    </li>
    <li>
      <a href="/MUR/AMD">
        Convert 1 MUR to AMD...
      </a>
    </li>
    <li>
      <a href="/MUR/ANG">
        Convert 1 MUR to ANG...
      </a>
    </li>
    <li>
      <a href="/MUR/AOA">
        Convert 1 MUR to AOA...
      </a>
    </li>
    <li>
      <a href="/MUR/ARS">
        Convert 1 MUR to ARS...
      </a>
    </li>
    <li>
      <a href="/MUR/AUD">
        Convert 1 MUR to AUD...
      </a>
    </li>
    <li>
      <a href="/MUR/AWG">
        Convert 1 MUR to AWG...
      </a>
    </li>
    <li>
      <a href="/MUR/AZN">
        Convert 1 MUR to AZN...
      </a>
    </li>
    <li>
      <a href="/MUR/BAM">
        Convert 1 MUR to BAM...
      </a>
    </li>
    <li>
      <a href="/MUR/BBD">
        Convert 1 MUR to BBD...
      </a>
    </li>
    <li>
      <a href="/MUR/BDT">
        Convert 1 MUR to BDT...
      </a>
    </li>
    <li>
      <a href="/MUR/BGN">
        Convert 1 MUR to BGN...
      </a>
    </li>
    <li>
      <a href="/MUR/BHD">
        Convert 1 MUR to BHD...
      </a>
    </li>
    <li>
      <a href="/MUR/BIF">
        Convert 1 MUR to BIF...
      </a>
    </li>
    <li>
      <a href="/MUR/BMD">
        Convert 1 MUR to BMD...
      </a>
    </li>
    <li>
      <a href="/MUR/BND">
        Convert 1 MUR to BND...
      </a>
    </li>
    <li>
      <a href="/MUR/BOB">
        Convert 1 MUR to BOB...
      </a>
    </li>
    <li>
      <a href="/MUR/BRL">
        Convert 1 MUR to BRL...
      </a>
    </li>
    <li>
      <a href="/MUR/BSD">
        Convert 1 MUR to BSD...
      </a>
    </li>
    <li>
      <a href="/MUR/BTC">
        Convert 1 MUR to BTC...
      </a>
    </li>
    <li>
      <a href="/MUR/BTN">
        Convert 1 MUR to BTN...
      </a>
    </li>
    <li>
      <a href="/MUR/BWP">
        Convert 1 MUR to BWP...
      </a>
    </li>
    <li>
      <a href="/MUR/BYN">
        Convert 1 MUR to BYN...
      </a>
    </li>
    <li>
      <a href="/MUR/BZD">
        Convert 1 MUR to BZD...
      </a>
    </li>
    <li>
      <a href="/MUR/CAD">
        Convert 1 MUR to CAD...
      </a>
    </li>
    <li>
      <a href="/MUR/CDF">
        Convert 1 MUR to CDF...
      </a>
    </li>
    <li>
      <a href="/MUR/CHF">
        Convert 1 MUR to CHF...
      </a>
    </li>
    <li>
      <a href="/MUR/CLF">
        Convert 1 MUR to CLF...
      </a>
    </li>
    <li>
      <a href="/MUR/CLP">
        Convert 1 MUR to CLP...
      </a>
    </li>
    <li>
      <a href="/MUR/CNH">
        Convert 1 MUR to CNH...
      </a>
    </li>
    <li>
      <a href="/MUR/CNY">
        Convert 1 MUR to CNY...
      </a>
    </li>
    <li>
      <a href="/MUR/COP">
        Convert 1 MUR to COP...
      </a>
    </li>
    <li>
      <a href="/MUR/CRC">
        Convert 1 MUR to CRC...
      </a>
    </li>
    <li>
      <a href="/MUR/CUC">
        Convert 1 MUR to CUC...
      </a>
    </li>
    <li>
      <a href="/MUR/CUP">
        Convert 1 MUR to CUP...
      </a>
    </li>
    <li>
      <a href="/MUR/CVE">
        Convert 1 MUR to CVE...
      </a>
    </li>
    <li>
      <a href="/MUR/CZK">
        Convert 1 MUR to CZK...
      </a>
    </li>
    <li>
      <a href="/MUR/DJF">
        Convert 1 MUR to DJF...
      </a>
    </li>
    <li>
      <a href="/MUR/DKK">
        Convert 1 MUR to DKK...
      </a>
    </li>
    <li>
      <a href="/MUR/DOP">
        Convert 1 MUR to DOP...
      </a>
    </li>
    <li>
      <a href="/MUR/DZD">
        Convert 1 MUR to DZD...
      </a>
    </li>
    <li>
      <a href="/MUR/EGP">
        Convert 1 MUR to EGP...
      </a>
    </li>
    <li>
      <a href="/MUR/ERN">
        Convert 1 MUR to ERN...
      </a>
    </li>
    <li>
      <a href="/MUR/ETB">
        Convert 1 MUR to ETB...
      </a>
    </li>
    <li>
      <a href="/MUR/EUR">
        Convert 1 MUR to EUR...
      </a>
    </li>
    <li>
      <a href="/MUR/FJD">
        Convert 1 MUR to FJD...
      </a>
    </li>
    <li>
      <a href="/MUR/FKP">
        Convert 1 MUR to FKP...
      </a>
    </li>
    <li>
      <a href="/MUR/GBP">
        Convert 1 MUR to GBP...
      </a>
    </li>
    <li>
      <a href="/MUR/GEL">
        Convert 1 MUR to GEL...
      </a>
    </li>
    <li>
      <a href="/MUR/GGP">
        Convert 1 MUR to GGP...
      </a>
    </li>
    <li>
      <a href="/MUR/GHS">
        Convert 1 MUR to GHS...
      </a>
    </li>
    <li>
      <a href="/MUR/GIP">
        Convert 1 MUR to GIP...
      </a>
    </li>
    <li>
      <a href="/MUR/GMD">
        Convert 1 MUR to GMD...
      </a>
    </li>
    <li>
      <a href="/MUR/GNF">
        Convert 1 MUR to GNF...
      </a>
    </li>
    <li>
      <a href="/MUR/GTQ">
        Convert 1 MUR to GTQ...
      </a>
    </li>
    <li>
      <a href="/MUR/GYD">
        Convert 1 MUR to GYD...
      </a>
    </li>
    <li>
      <a href="/MUR/HKD">
        Convert 1 MUR to HKD...
      </a>
    </li>
    <li>
      <a href="/MUR/HNL">
        Convert 1 MUR to HNL...
      </a>
    </li>
    <li>
      <a href="/MUR/HRK">
        Convert 1 MUR to HRK...
      </a>
    </li>
    <li>
      <a href="/MUR/HTG">
        Convert 1 MUR to HTG...
      </a>
    </li>
    <li>
      <a href="/MUR/HUF">
        Convert 1 MUR to HUF...
      </a>
    </li>
    <li>
      <a href="/MUR/IDR">
        Convert 1 MUR to IDR...
      </a>
    </li>
    <li>
      <a href="/MUR/ILS">
        Convert 1 MUR to ILS...
      </a>
    </li>
    <li>
      <a href="/MUR/IMP">
        Convert 1 MUR to IMP...
      </a>
    </li>
    <li>
      <a href="/MUR/INR">
        Convert 1 MUR to INR...
      </a>
    </li>
    <li>
      <a href="/MUR/IQD">
        Convert 1 MUR to IQD...
      </a>
    </li>
    <li>
      <a href="/MUR/IRR">
        Convert 1 MUR to IRR...
      </a>
    </li>
    <li>
      <a href="/MUR/ISK">
        Convert 1 MUR to ISK...
      </a>
    </li>
    <li>
      <a href="/MUR/JEP">
        Convert 1 MUR to JEP...
      </a>
    </li>
    <li>
      <a href="/MUR/JMD">
        Convert 1 MUR to JMD...
      </a>
    </li>
    <li>
      <a href="/MUR/JOD">
        Convert 1 MUR to JOD...
      </a>
    </li>
    <li>
      <a href="/MUR/JPY">
        Convert 1 MUR to JPY...
      </a>
    </li>
    <li>
      <a href="/MUR/KES">
        Convert 1 MUR to KES...
      </a>
    </li>
    <li>
      <a href="/MUR/KGS">
        Convert 1 MUR to KGS...
      </a>
    </li>
    <li>
      <a href="/MUR/KHR">
        Convert 1 MUR to KHR...
      </a>
    </li>
    <li>
      <a href="/MUR/KMF">
        Convert 1 MUR to KMF...
      </a>
    </li>
    <li>
      <a href="/MUR/KPW">
        Convert 1 MUR to KPW...
      </a>
    </li>
    <li>
      <a href="/MUR/KRW">
        Convert 1 MUR to KRW...
      </a>
    </li>
    <li>
      <a href="/MUR/KWD">
        Convert 1 MUR to KWD...
      </a>
    </li>
    <li>
      <a href="/MUR/KYD">
        Convert 1 MUR to KYD...
      </a>
    </li>
    <li>
      <a href="/MUR/KZT">
        Convert 1 MUR to KZT...
      </a>
    </li>
    <li>
      <a href="/MUR/LAK">
        Convert 1 MUR to LAK...
      </a>
    </li>
    <li>
      <a href="/MUR/LBP">
        Convert 1 MUR to LBP...
      </a>
    </li>
    <li>
      <a href="/MUR/LKR">
        Convert 1 MUR to LKR...
      </a>
    </li>
    <li>
      <a href="/MUR/LRD">
        Convert 1 MUR to LRD...
      </a>
    </li>
    <li>
      <a href="/MUR/LSL">
        Convert 1 MUR to LSL...
      </a>
    </li>
    <li>
      <a href="/MUR/LYD">
        Convert 1 MUR to LYD...
      </a>
    </li>
    <li>
      <a href="/MUR/MAD">
        Convert 1 MUR to MAD...
      </a>
    </li>
    <li>
      <a href="/MUR/MDL">
        Convert 1 MUR to MDL...
      </a>
    </li>
    <li>
      <a href="/MUR/MGA">
        Convert 1 MUR to MGA...
      </a>
    </li>
    <li>
      <a href="/MUR/MKD">
        Convert 1 MUR to MKD...
      </a>
    </li>
    <li>
      <a href="/MUR/MMK">
        Convert 1 MUR to MMK...
      </a>
    </li>
    <li>
      <a href="/MUR/MNT">
        Convert 1 MUR to MNT...
      </a>
    </li>
    <li>
      <a href="/MUR/MOP">
        Convert 1 MUR to MOP...
      </a>
    </li>
    <li>
      <a href="/MUR/MRO">
        Convert 1 MUR to MRO...
      </a>
    </li>
    <li>
      <a href="/MUR/MRU">
        Convert 1 MUR to MRU...
      </a>
    </li>
    <li>
      <a href="/MUR/MUR">
        Convert 1 MUR to MUR...
      </a>
    </li>
    <li>
      <a href="/MUR/MVR">
        Convert 1 MUR to MVR...
      </a>
    </li>
    <li>
      <a href="/MUR/MWK">
        Convert 1 MUR to MWK...
      </a>
    </li>
    <li>
      <a href="/MUR/MXN">
        Convert 1 MUR to MXN...
      </a>
    </li>
    <li>
      <a href="/MUR/MYR">
        Convert 1 MUR to MYR...
      </a>
    </li>
    <li>
      <a href="/MUR/MZN">
        Convert 1 MUR to MZN...
      </a>
    </li>
    <li>
      <a href="/MUR/NAD">
        Convert 1 MUR to NAD...
      </a>
    </li>
    <li>
      <a href="/MUR/NGN">
        Convert 1 MUR to NGN...
      </a>
    </li>
    <li>
      <a href="/MUR/NIO">
        Convert 1 MUR to NIO...
      </a>
    </li>
    <li>
      <a href="/MUR/NOK">
        Convert 1 MUR to NOK...
      </a>
    </li>
    <li>
      <a href="/MUR/NPR">
        Convert 1 MUR to NPR...
      </a>
    </li>
    <li>
      <a href="/MUR/NZD">
        Convert 1 MUR to NZD...
      </a>
    </li>
    <li>
      <a href="/MUR/OMR">
        Convert 1 MUR to OMR...
      </a>
    </li>
    <li>
      <a href="/MUR/PAB">
        Convert 1 MUR to PAB...
      </a>
    </li>
    <li>
      <a href="/MUR/PEN">
        Convert 1 MUR to PEN...
      </a>
    </li>
    <li>
      <a href="/MUR/PGK">
        Convert 1 MUR to PGK...
      </a>
    </li>
    <li>
      <a href="/MUR/PHP">
        Convert 1 MUR to PHP...
      </a>
    </li>
    <li>
      <a href="/MUR/PKR">
        Convert 1 MUR to PKR...
      </a>
    </li>
    <li>
      <a href="/MUR/PLN">
        Convert 1 MUR to PLN...
      </a>
    </li>
    <li>
      <a href="/MUR/PYG">
        Convert 1 MUR to PYG...
      </a>
    </li>
    <li>
      <a href="/MUR/QAR">
        Convert 1 MUR to QAR...
      </a>
    </li>
    <li>
      <a href="/MUR/RON">
        Convert 1 MUR to RON...
      </a>
    </li>
    <li>
      <a href="/MUR/RSD">
        Convert 1 MUR to RSD...
      </a>
    </li>
    <li>
      <a href="/MUR/RUB">
        Convert 1 MUR to RUB...
      </a>
    </li>
    <li>
      <a href="/MUR/RWF">
        Convert 1 MUR to RWF...
      </a>
    </li>
    <li>
      <a href="/MUR/SAR">
        Convert 1 MUR to SAR...
      </a>
    </li>
    <li>
      <a href="/MUR/SBD">
        Convert 1 MUR to SBD...
      </a>
    </li>
    <li>
      <a href="/MUR/SCR">
        Convert 1 MUR to SCR...
      </a>
    </li>
    <li>
      <a href="/MUR/SDG">
        Convert 1 MUR to SDG...
      </a>
    </li>
    <li>
      <a href="/MUR/SEK">
        Convert 1 MUR to SEK...
      </a>
    </li>
    <li>
      <a href="/MUR/SGD">
        Convert 1 MUR to SGD...
      </a>
    </li>
    <li>
      <a href="/MUR/SHP">
        Convert 1 MUR to SHP...
      </a>
    </li>
    <li>
      <a href="/MUR/SLL">
        Convert 1 MUR to SLL...
      </a>
    </li>
    <li>
      <a href="/MUR/SOS">
        Convert 1 MUR to SOS...
      </a>
    </li>
    <li>
      <a href="/MUR/SRD">
        Convert 1 MUR to SRD...
      </a>
    </li>
    <li>
      <a href="/MUR/SSP">
        Convert 1 MUR to SSP...
      </a>
    </li>
    <li>
      <a href="/MUR/STD">
        Convert 1 MUR to STD...
      </a>
    </li>
    <li>
      <a href="/MUR/STN">
        Convert 1 MUR to STN...
      </a>
    </li>
    <li>
      <a href="/MUR/SVC">
        Convert 1 MUR to SVC...
      </a>
    </li>
    <li>
      <a href="/MUR/SYP">
        Convert 1 MUR to SYP...
      </a>
    </li>
    <li>
      <a href="/MUR/SZL">
        Convert 1 MUR to SZL...
      </a>
    </li>
    <li>
      <a href="/MUR/THB">
        Convert 1 MUR to THB...
      </a>
    </li>
    <li>
      <a href="/MUR/TJS">
        Convert 1 MUR to TJS...
      </a>
    </li>
    <li>
      <a href="/MUR/TMT">
        Convert 1 MUR to TMT...
      </a>
    </li>
    <li>
      <a href="/MUR/TND">
        Convert 1 MUR to TND...
      </a>
    </li>
    <li>
      <a href="/MUR/TOP">
        Convert 1 MUR to TOP...
      </a>
    </li>
    <li>
      <a href="/MUR/TRY">
        Convert 1 MUR to TRY...
      </a>
    </li>
    <li>
      <a href="/MUR/TTD">
        Convert 1 MUR to TTD...
      </a>
    </li>
    <li>
      <a href="/MUR/TWD">
        Convert 1 MUR to TWD...
      </a>
    </li>
    <li>
      <a href="/MUR/TZS">
        Convert 1 MUR to TZS...
      </a>
    </li>
    <li>
      <a href="/MUR/UAH">
        Convert 1 MUR to UAH...
      </a>
    </li>
    <li>
      <a href="/MUR/UGX">
        Convert 1 MUR to UGX...
      </a>
    </li>
    <li>
      <a href="/MUR/USD">
        Convert 1 MUR to USD...
      </a>
    </li>
    <li>
      <a href="/MUR/UYU">
        Convert 1 MUR to UYU...
      </a>
    </li>
    <li>
      <a href="/MUR/UZS">
        Convert 1 MUR to UZS...
      </a>
    </li>
    <li>
      <a href="/MUR/VEF">
        Convert 1 MUR to VEF...
      </a>
    </li>
    <li>
      <a href="/MUR/VES">
        Convert 1 MUR to VES...
      </a>
    </li>
    <li>
      <a href="/MUR/VND">
        Convert 1 MUR to VND...
      </a>
    </li>
    <li>
      <a href="/MUR/VUV">
        Convert 1 MUR to VUV...
      </a>
    </li>
    <li>
      <a href="/MUR/WST">
        Convert 1 MUR to WST...
      </a>
    </li>
    <li>
      <a href="/MUR/XAF">
        Convert 1 MUR to XAF...
      </a>
    </li>
    <li>
      <a href="/MUR/XAG">
        Convert 1 MUR to XAG...
      </a>
    </li>
    <li>
      <a href="/MUR/XAU">
        Convert 1 MUR to XAU...
      </a>
    </li>
    <li>
      <a href="/MUR/XCD">
        Convert 1 MUR to XCD...
      </a>
    </li>
    <li>
      <a href="/MUR/XDR">
        Convert 1 MUR to XDR...
      </a>
    </li>
    <li>
      <a href="/MUR/XOF">
        Convert 1 MUR to XOF...
      </a>
    </li>
    <li>
      <a href="/MUR/XPD">
        Convert 1 MUR to XPD...
      </a>
    </li>
    <li>
      <a href="/MUR/XPF">
        Convert 1 MUR to XPF...
      </a>
    </li>
    <li>
      <a href="/MUR/XPT">
        Convert 1 MUR to XPT...
      </a>
    </li>
    <li>
      <a href="/MUR/YER">
        Convert 1 MUR to YER...
      </a>
    </li>
    <li>
      <a href="/MUR/ZAR">
        Convert 1 MUR to ZAR...
      </a>
    </li>
    <li>
      <a href="/MUR/ZMW">
        Convert 1 MUR to ZMW...
      </a>
    </li>
    <li>
      <a href="/MUR/ZWL">
        Convert 1 MUR to ZWL...
      </a>
    </li>
</ul>
</body>
