<body>
    <h1>Convert NGN</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/NGN/AED">
        Convert 1 NGN to AED...
      </a>
    </li>
    <li>
      <a href="/NGN/AFN">
        Convert 1 NGN to AFN...
      </a>
    </li>
    <li>
      <a href="/NGN/ALL">
        Convert 1 NGN to ALL...
      </a>
    </li>
    <li>
      <a href="/NGN/AMD">
        Convert 1 NGN to AMD...
      </a>
    </li>
    <li>
      <a href="/NGN/ANG">
        Convert 1 NGN to ANG...
      </a>
    </li>
    <li>
      <a href="/NGN/AOA">
        Convert 1 NGN to AOA...
      </a>
    </li>
    <li>
      <a href="/NGN/ARS">
        Convert 1 NGN to ARS...
      </a>
    </li>
    <li>
      <a href="/NGN/AUD">
        Convert 1 NGN to AUD...
      </a>
    </li>
    <li>
      <a href="/NGN/AWG">
        Convert 1 NGN to AWG...
      </a>
    </li>
    <li>
      <a href="/NGN/AZN">
        Convert 1 NGN to AZN...
      </a>
    </li>
    <li>
      <a href="/NGN/BAM">
        Convert 1 NGN to BAM...
      </a>
    </li>
    <li>
      <a href="/NGN/BBD">
        Convert 1 NGN to BBD...
      </a>
    </li>
    <li>
      <a href="/NGN/BDT">
        Convert 1 NGN to BDT...
      </a>
    </li>
    <li>
      <a href="/NGN/BGN">
        Convert 1 NGN to BGN...
      </a>
    </li>
    <li>
      <a href="/NGN/BHD">
        Convert 1 NGN to BHD...
      </a>
    </li>
    <li>
      <a href="/NGN/BIF">
        Convert 1 NGN to BIF...
      </a>
    </li>
    <li>
      <a href="/NGN/BMD">
        Convert 1 NGN to BMD...
      </a>
    </li>
    <li>
      <a href="/NGN/BND">
        Convert 1 NGN to BND...
      </a>
    </li>
    <li>
      <a href="/NGN/BOB">
        Convert 1 NGN to BOB...
      </a>
    </li>
    <li>
      <a href="/NGN/BRL">
        Convert 1 NGN to BRL...
      </a>
    </li>
    <li>
      <a href="/NGN/BSD">
        Convert 1 NGN to BSD...
      </a>
    </li>
    <li>
      <a href="/NGN/BTC">
        Convert 1 NGN to BTC...
      </a>
    </li>
    <li>
      <a href="/NGN/BTN">
        Convert 1 NGN to BTN...
      </a>
    </li>
    <li>
      <a href="/NGN/BWP">
        Convert 1 NGN to BWP...
      </a>
    </li>
    <li>
      <a href="/NGN/BYN">
        Convert 1 NGN to BYN...
      </a>
    </li>
    <li>
      <a href="/NGN/BZD">
        Convert 1 NGN to BZD...
      </a>
    </li>
    <li>
      <a href="/NGN/CAD">
        Convert 1 NGN to CAD...
      </a>
    </li>
    <li>
      <a href="/NGN/CDF">
        Convert 1 NGN to CDF...
      </a>
    </li>
    <li>
      <a href="/NGN/CHF">
        Convert 1 NGN to CHF...
      </a>
    </li>
    <li>
      <a href="/NGN/CLF">
        Convert 1 NGN to CLF...
      </a>
    </li>
    <li>
      <a href="/NGN/CLP">
        Convert 1 NGN to CLP...
      </a>
    </li>
    <li>
      <a href="/NGN/CNH">
        Convert 1 NGN to CNH...
      </a>
    </li>
    <li>
      <a href="/NGN/CNY">
        Convert 1 NGN to CNY...
      </a>
    </li>
    <li>
      <a href="/NGN/COP">
        Convert 1 NGN to COP...
      </a>
    </li>
    <li>
      <a href="/NGN/CRC">
        Convert 1 NGN to CRC...
      </a>
    </li>
    <li>
      <a href="/NGN/CUC">
        Convert 1 NGN to CUC...
      </a>
    </li>
    <li>
      <a href="/NGN/CUP">
        Convert 1 NGN to CUP...
      </a>
    </li>
    <li>
      <a href="/NGN/CVE">
        Convert 1 NGN to CVE...
      </a>
    </li>
    <li>
      <a href="/NGN/CZK">
        Convert 1 NGN to CZK...
      </a>
    </li>
    <li>
      <a href="/NGN/DJF">
        Convert 1 NGN to DJF...
      </a>
    </li>
    <li>
      <a href="/NGN/DKK">
        Convert 1 NGN to DKK...
      </a>
    </li>
    <li>
      <a href="/NGN/DOP">
        Convert 1 NGN to DOP...
      </a>
    </li>
    <li>
      <a href="/NGN/DZD">
        Convert 1 NGN to DZD...
      </a>
    </li>
    <li>
      <a href="/NGN/EGP">
        Convert 1 NGN to EGP...
      </a>
    </li>
    <li>
      <a href="/NGN/ERN">
        Convert 1 NGN to ERN...
      </a>
    </li>
    <li>
      <a href="/NGN/ETB">
        Convert 1 NGN to ETB...
      </a>
    </li>
    <li>
      <a href="/NGN/EUR">
        Convert 1 NGN to EUR...
      </a>
    </li>
    <li>
      <a href="/NGN/FJD">
        Convert 1 NGN to FJD...
      </a>
    </li>
    <li>
      <a href="/NGN/FKP">
        Convert 1 NGN to FKP...
      </a>
    </li>
    <li>
      <a href="/NGN/GBP">
        Convert 1 NGN to GBP...
      </a>
    </li>
    <li>
      <a href="/NGN/GEL">
        Convert 1 NGN to GEL...
      </a>
    </li>
    <li>
      <a href="/NGN/GGP">
        Convert 1 NGN to GGP...
      </a>
    </li>
    <li>
      <a href="/NGN/GHS">
        Convert 1 NGN to GHS...
      </a>
    </li>
    <li>
      <a href="/NGN/GIP">
        Convert 1 NGN to GIP...
      </a>
    </li>
    <li>
      <a href="/NGN/GMD">
        Convert 1 NGN to GMD...
      </a>
    </li>
    <li>
      <a href="/NGN/GNF">
        Convert 1 NGN to GNF...
      </a>
    </li>
    <li>
      <a href="/NGN/GTQ">
        Convert 1 NGN to GTQ...
      </a>
    </li>
    <li>
      <a href="/NGN/GYD">
        Convert 1 NGN to GYD...
      </a>
    </li>
    <li>
      <a href="/NGN/HKD">
        Convert 1 NGN to HKD...
      </a>
    </li>
    <li>
      <a href="/NGN/HNL">
        Convert 1 NGN to HNL...
      </a>
    </li>
    <li>
      <a href="/NGN/HRK">
        Convert 1 NGN to HRK...
      </a>
    </li>
    <li>
      <a href="/NGN/HTG">
        Convert 1 NGN to HTG...
      </a>
    </li>
    <li>
      <a href="/NGN/HUF">
        Convert 1 NGN to HUF...
      </a>
    </li>
    <li>
      <a href="/NGN/IDR">
        Convert 1 NGN to IDR...
      </a>
    </li>
    <li>
      <a href="/NGN/ILS">
        Convert 1 NGN to ILS...
      </a>
    </li>
    <li>
      <a href="/NGN/IMP">
        Convert 1 NGN to IMP...
      </a>
    </li>
    <li>
      <a href="/NGN/INR">
        Convert 1 NGN to INR...
      </a>
    </li>
    <li>
      <a href="/NGN/IQD">
        Convert 1 NGN to IQD...
      </a>
    </li>
    <li>
      <a href="/NGN/IRR">
        Convert 1 NGN to IRR...
      </a>
    </li>
    <li>
      <a href="/NGN/ISK">
        Convert 1 NGN to ISK...
      </a>
    </li>
    <li>
      <a href="/NGN/JEP">
        Convert 1 NGN to JEP...
      </a>
    </li>
    <li>
      <a href="/NGN/JMD">
        Convert 1 NGN to JMD...
      </a>
    </li>
    <li>
      <a href="/NGN/JOD">
        Convert 1 NGN to JOD...
      </a>
    </li>
    <li>
      <a href="/NGN/JPY">
        Convert 1 NGN to JPY...
      </a>
    </li>
    <li>
      <a href="/NGN/KES">
        Convert 1 NGN to KES...
      </a>
    </li>
    <li>
      <a href="/NGN/KGS">
        Convert 1 NGN to KGS...
      </a>
    </li>
    <li>
      <a href="/NGN/KHR">
        Convert 1 NGN to KHR...
      </a>
    </li>
    <li>
      <a href="/NGN/KMF">
        Convert 1 NGN to KMF...
      </a>
    </li>
    <li>
      <a href="/NGN/KPW">
        Convert 1 NGN to KPW...
      </a>
    </li>
    <li>
      <a href="/NGN/KRW">
        Convert 1 NGN to KRW...
      </a>
    </li>
    <li>
      <a href="/NGN/KWD">
        Convert 1 NGN to KWD...
      </a>
    </li>
    <li>
      <a href="/NGN/KYD">
        Convert 1 NGN to KYD...
      </a>
    </li>
    <li>
      <a href="/NGN/KZT">
        Convert 1 NGN to KZT...
      </a>
    </li>
    <li>
      <a href="/NGN/LAK">
        Convert 1 NGN to LAK...
      </a>
    </li>
    <li>
      <a href="/NGN/LBP">
        Convert 1 NGN to LBP...
      </a>
    </li>
    <li>
      <a href="/NGN/LKR">
        Convert 1 NGN to LKR...
      </a>
    </li>
    <li>
      <a href="/NGN/LRD">
        Convert 1 NGN to LRD...
      </a>
    </li>
    <li>
      <a href="/NGN/LSL">
        Convert 1 NGN to LSL...
      </a>
    </li>
    <li>
      <a href="/NGN/LYD">
        Convert 1 NGN to LYD...
      </a>
    </li>
    <li>
      <a href="/NGN/MAD">
        Convert 1 NGN to MAD...
      </a>
    </li>
    <li>
      <a href="/NGN/MDL">
        Convert 1 NGN to MDL...
      </a>
    </li>
    <li>
      <a href="/NGN/MGA">
        Convert 1 NGN to MGA...
      </a>
    </li>
    <li>
      <a href="/NGN/MKD">
        Convert 1 NGN to MKD...
      </a>
    </li>
    <li>
      <a href="/NGN/MMK">
        Convert 1 NGN to MMK...
      </a>
    </li>
    <li>
      <a href="/NGN/MNT">
        Convert 1 NGN to MNT...
      </a>
    </li>
    <li>
      <a href="/NGN/MOP">
        Convert 1 NGN to MOP...
      </a>
    </li>
    <li>
      <a href="/NGN/MRO">
        Convert 1 NGN to MRO...
      </a>
    </li>
    <li>
      <a href="/NGN/MRU">
        Convert 1 NGN to MRU...
      </a>
    </li>
    <li>
      <a href="/NGN/MUR">
        Convert 1 NGN to MUR...
      </a>
    </li>
    <li>
      <a href="/NGN/MVR">
        Convert 1 NGN to MVR...
      </a>
    </li>
    <li>
      <a href="/NGN/MWK">
        Convert 1 NGN to MWK...
      </a>
    </li>
    <li>
      <a href="/NGN/MXN">
        Convert 1 NGN to MXN...
      </a>
    </li>
    <li>
      <a href="/NGN/MYR">
        Convert 1 NGN to MYR...
      </a>
    </li>
    <li>
      <a href="/NGN/MZN">
        Convert 1 NGN to MZN...
      </a>
    </li>
    <li>
      <a href="/NGN/NAD">
        Convert 1 NGN to NAD...
      </a>
    </li>
    <li>
      <a href="/NGN/NGN">
        Convert 1 NGN to NGN...
      </a>
    </li>
    <li>
      <a href="/NGN/NIO">
        Convert 1 NGN to NIO...
      </a>
    </li>
    <li>
      <a href="/NGN/NOK">
        Convert 1 NGN to NOK...
      </a>
    </li>
    <li>
      <a href="/NGN/NPR">
        Convert 1 NGN to NPR...
      </a>
    </li>
    <li>
      <a href="/NGN/NZD">
        Convert 1 NGN to NZD...
      </a>
    </li>
    <li>
      <a href="/NGN/OMR">
        Convert 1 NGN to OMR...
      </a>
    </li>
    <li>
      <a href="/NGN/PAB">
        Convert 1 NGN to PAB...
      </a>
    </li>
    <li>
      <a href="/NGN/PEN">
        Convert 1 NGN to PEN...
      </a>
    </li>
    <li>
      <a href="/NGN/PGK">
        Convert 1 NGN to PGK...
      </a>
    </li>
    <li>
      <a href="/NGN/PHP">
        Convert 1 NGN to PHP...
      </a>
    </li>
    <li>
      <a href="/NGN/PKR">
        Convert 1 NGN to PKR...
      </a>
    </li>
    <li>
      <a href="/NGN/PLN">
        Convert 1 NGN to PLN...
      </a>
    </li>
    <li>
      <a href="/NGN/PYG">
        Convert 1 NGN to PYG...
      </a>
    </li>
    <li>
      <a href="/NGN/QAR">
        Convert 1 NGN to QAR...
      </a>
    </li>
    <li>
      <a href="/NGN/RON">
        Convert 1 NGN to RON...
      </a>
    </li>
    <li>
      <a href="/NGN/RSD">
        Convert 1 NGN to RSD...
      </a>
    </li>
    <li>
      <a href="/NGN/RUB">
        Convert 1 NGN to RUB...
      </a>
    </li>
    <li>
      <a href="/NGN/RWF">
        Convert 1 NGN to RWF...
      </a>
    </li>
    <li>
      <a href="/NGN/SAR">
        Convert 1 NGN to SAR...
      </a>
    </li>
    <li>
      <a href="/NGN/SBD">
        Convert 1 NGN to SBD...
      </a>
    </li>
    <li>
      <a href="/NGN/SCR">
        Convert 1 NGN to SCR...
      </a>
    </li>
    <li>
      <a href="/NGN/SDG">
        Convert 1 NGN to SDG...
      </a>
    </li>
    <li>
      <a href="/NGN/SEK">
        Convert 1 NGN to SEK...
      </a>
    </li>
    <li>
      <a href="/NGN/SGD">
        Convert 1 NGN to SGD...
      </a>
    </li>
    <li>
      <a href="/NGN/SHP">
        Convert 1 NGN to SHP...
      </a>
    </li>
    <li>
      <a href="/NGN/SLL">
        Convert 1 NGN to SLL...
      </a>
    </li>
    <li>
      <a href="/NGN/SOS">
        Convert 1 NGN to SOS...
      </a>
    </li>
    <li>
      <a href="/NGN/SRD">
        Convert 1 NGN to SRD...
      </a>
    </li>
    <li>
      <a href="/NGN/SSP">
        Convert 1 NGN to SSP...
      </a>
    </li>
    <li>
      <a href="/NGN/STD">
        Convert 1 NGN to STD...
      </a>
    </li>
    <li>
      <a href="/NGN/STN">
        Convert 1 NGN to STN...
      </a>
    </li>
    <li>
      <a href="/NGN/SVC">
        Convert 1 NGN to SVC...
      </a>
    </li>
    <li>
      <a href="/NGN/SYP">
        Convert 1 NGN to SYP...
      </a>
    </li>
    <li>
      <a href="/NGN/SZL">
        Convert 1 NGN to SZL...
      </a>
    </li>
    <li>
      <a href="/NGN/THB">
        Convert 1 NGN to THB...
      </a>
    </li>
    <li>
      <a href="/NGN/TJS">
        Convert 1 NGN to TJS...
      </a>
    </li>
    <li>
      <a href="/NGN/TMT">
        Convert 1 NGN to TMT...
      </a>
    </li>
    <li>
      <a href="/NGN/TND">
        Convert 1 NGN to TND...
      </a>
    </li>
    <li>
      <a href="/NGN/TOP">
        Convert 1 NGN to TOP...
      </a>
    </li>
    <li>
      <a href="/NGN/TRY">
        Convert 1 NGN to TRY...
      </a>
    </li>
    <li>
      <a href="/NGN/TTD">
        Convert 1 NGN to TTD...
      </a>
    </li>
    <li>
      <a href="/NGN/TWD">
        Convert 1 NGN to TWD...
      </a>
    </li>
    <li>
      <a href="/NGN/TZS">
        Convert 1 NGN to TZS...
      </a>
    </li>
    <li>
      <a href="/NGN/UAH">
        Convert 1 NGN to UAH...
      </a>
    </li>
    <li>
      <a href="/NGN/UGX">
        Convert 1 NGN to UGX...
      </a>
    </li>
    <li>
      <a href="/NGN/USD">
        Convert 1 NGN to USD...
      </a>
    </li>
    <li>
      <a href="/NGN/UYU">
        Convert 1 NGN to UYU...
      </a>
    </li>
    <li>
      <a href="/NGN/UZS">
        Convert 1 NGN to UZS...
      </a>
    </li>
    <li>
      <a href="/NGN/VEF">
        Convert 1 NGN to VEF...
      </a>
    </li>
    <li>
      <a href="/NGN/VES">
        Convert 1 NGN to VES...
      </a>
    </li>
    <li>
      <a href="/NGN/VND">
        Convert 1 NGN to VND...
      </a>
    </li>
    <li>
      <a href="/NGN/VUV">
        Convert 1 NGN to VUV...
      </a>
    </li>
    <li>
      <a href="/NGN/WST">
        Convert 1 NGN to WST...
      </a>
    </li>
    <li>
      <a href="/NGN/XAF">
        Convert 1 NGN to XAF...
      </a>
    </li>
    <li>
      <a href="/NGN/XAG">
        Convert 1 NGN to XAG...
      </a>
    </li>
    <li>
      <a href="/NGN/XAU">
        Convert 1 NGN to XAU...
      </a>
    </li>
    <li>
      <a href="/NGN/XCD">
        Convert 1 NGN to XCD...
      </a>
    </li>
    <li>
      <a href="/NGN/XDR">
        Convert 1 NGN to XDR...
      </a>
    </li>
    <li>
      <a href="/NGN/XOF">
        Convert 1 NGN to XOF...
      </a>
    </li>
    <li>
      <a href="/NGN/XPD">
        Convert 1 NGN to XPD...
      </a>
    </li>
    <li>
      <a href="/NGN/XPF">
        Convert 1 NGN to XPF...
      </a>
    </li>
    <li>
      <a href="/NGN/XPT">
        Convert 1 NGN to XPT...
      </a>
    </li>
    <li>
      <a href="/NGN/YER">
        Convert 1 NGN to YER...
      </a>
    </li>
    <li>
      <a href="/NGN/ZAR">
        Convert 1 NGN to ZAR...
      </a>
    </li>
    <li>
      <a href="/NGN/ZMW">
        Convert 1 NGN to ZMW...
      </a>
    </li>
    <li>
      <a href="/NGN/ZWL">
        Convert 1 NGN to ZWL...
      </a>
    </li>
</ul>
</body>
