<body>
    <h1>Convert NOK</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/NOK/AED">
        Convert 1 NOK to AED...
      </a>
    </li>
    <li>
      <a href="/NOK/AFN">
        Convert 1 NOK to AFN...
      </a>
    </li>
    <li>
      <a href="/NOK/ALL">
        Convert 1 NOK to ALL...
      </a>
    </li>
    <li>
      <a href="/NOK/AMD">
        Convert 1 NOK to AMD...
      </a>
    </li>
    <li>
      <a href="/NOK/ANG">
        Convert 1 NOK to ANG...
      </a>
    </li>
    <li>
      <a href="/NOK/AOA">
        Convert 1 NOK to AOA...
      </a>
    </li>
    <li>
      <a href="/NOK/ARS">
        Convert 1 NOK to ARS...
      </a>
    </li>
    <li>
      <a href="/NOK/AUD">
        Convert 1 NOK to AUD...
      </a>
    </li>
    <li>
      <a href="/NOK/AWG">
        Convert 1 NOK to AWG...
      </a>
    </li>
    <li>
      <a href="/NOK/AZN">
        Convert 1 NOK to AZN...
      </a>
    </li>
    <li>
      <a href="/NOK/BAM">
        Convert 1 NOK to BAM...
      </a>
    </li>
    <li>
      <a href="/NOK/BBD">
        Convert 1 NOK to BBD...
      </a>
    </li>
    <li>
      <a href="/NOK/BDT">
        Convert 1 NOK to BDT...
      </a>
    </li>
    <li>
      <a href="/NOK/BGN">
        Convert 1 NOK to BGN...
      </a>
    </li>
    <li>
      <a href="/NOK/BHD">
        Convert 1 NOK to BHD...
      </a>
    </li>
    <li>
      <a href="/NOK/BIF">
        Convert 1 NOK to BIF...
      </a>
    </li>
    <li>
      <a href="/NOK/BMD">
        Convert 1 NOK to BMD...
      </a>
    </li>
    <li>
      <a href="/NOK/BND">
        Convert 1 NOK to BND...
      </a>
    </li>
    <li>
      <a href="/NOK/BOB">
        Convert 1 NOK to BOB...
      </a>
    </li>
    <li>
      <a href="/NOK/BRL">
        Convert 1 NOK to BRL...
      </a>
    </li>
    <li>
      <a href="/NOK/BSD">
        Convert 1 NOK to BSD...
      </a>
    </li>
    <li>
      <a href="/NOK/BTC">
        Convert 1 NOK to BTC...
      </a>
    </li>
    <li>
      <a href="/NOK/BTN">
        Convert 1 NOK to BTN...
      </a>
    </li>
    <li>
      <a href="/NOK/BWP">
        Convert 1 NOK to BWP...
      </a>
    </li>
    <li>
      <a href="/NOK/BYN">
        Convert 1 NOK to BYN...
      </a>
    </li>
    <li>
      <a href="/NOK/BZD">
        Convert 1 NOK to BZD...
      </a>
    </li>
    <li>
      <a href="/NOK/CAD">
        Convert 1 NOK to CAD...
      </a>
    </li>
    <li>
      <a href="/NOK/CDF">
        Convert 1 NOK to CDF...
      </a>
    </li>
    <li>
      <a href="/NOK/CHF">
        Convert 1 NOK to CHF...
      </a>
    </li>
    <li>
      <a href="/NOK/CLF">
        Convert 1 NOK to CLF...
      </a>
    </li>
    <li>
      <a href="/NOK/CLP">
        Convert 1 NOK to CLP...
      </a>
    </li>
    <li>
      <a href="/NOK/CNH">
        Convert 1 NOK to CNH...
      </a>
    </li>
    <li>
      <a href="/NOK/CNY">
        Convert 1 NOK to CNY...
      </a>
    </li>
    <li>
      <a href="/NOK/COP">
        Convert 1 NOK to COP...
      </a>
    </li>
    <li>
      <a href="/NOK/CRC">
        Convert 1 NOK to CRC...
      </a>
    </li>
    <li>
      <a href="/NOK/CUC">
        Convert 1 NOK to CUC...
      </a>
    </li>
    <li>
      <a href="/NOK/CUP">
        Convert 1 NOK to CUP...
      </a>
    </li>
    <li>
      <a href="/NOK/CVE">
        Convert 1 NOK to CVE...
      </a>
    </li>
    <li>
      <a href="/NOK/CZK">
        Convert 1 NOK to CZK...
      </a>
    </li>
    <li>
      <a href="/NOK/DJF">
        Convert 1 NOK to DJF...
      </a>
    </li>
    <li>
      <a href="/NOK/DKK">
        Convert 1 NOK to DKK...
      </a>
    </li>
    <li>
      <a href="/NOK/DOP">
        Convert 1 NOK to DOP...
      </a>
    </li>
    <li>
      <a href="/NOK/DZD">
        Convert 1 NOK to DZD...
      </a>
    </li>
    <li>
      <a href="/NOK/EGP">
        Convert 1 NOK to EGP...
      </a>
    </li>
    <li>
      <a href="/NOK/ERN">
        Convert 1 NOK to ERN...
      </a>
    </li>
    <li>
      <a href="/NOK/ETB">
        Convert 1 NOK to ETB...
      </a>
    </li>
    <li>
      <a href="/NOK/EUR">
        Convert 1 NOK to EUR...
      </a>
    </li>
    <li>
      <a href="/NOK/FJD">
        Convert 1 NOK to FJD...
      </a>
    </li>
    <li>
      <a href="/NOK/FKP">
        Convert 1 NOK to FKP...
      </a>
    </li>
    <li>
      <a href="/NOK/GBP">
        Convert 1 NOK to GBP...
      </a>
    </li>
    <li>
      <a href="/NOK/GEL">
        Convert 1 NOK to GEL...
      </a>
    </li>
    <li>
      <a href="/NOK/GGP">
        Convert 1 NOK to GGP...
      </a>
    </li>
    <li>
      <a href="/NOK/GHS">
        Convert 1 NOK to GHS...
      </a>
    </li>
    <li>
      <a href="/NOK/GIP">
        Convert 1 NOK to GIP...
      </a>
    </li>
    <li>
      <a href="/NOK/GMD">
        Convert 1 NOK to GMD...
      </a>
    </li>
    <li>
      <a href="/NOK/GNF">
        Convert 1 NOK to GNF...
      </a>
    </li>
    <li>
      <a href="/NOK/GTQ">
        Convert 1 NOK to GTQ...
      </a>
    </li>
    <li>
      <a href="/NOK/GYD">
        Convert 1 NOK to GYD...
      </a>
    </li>
    <li>
      <a href="/NOK/HKD">
        Convert 1 NOK to HKD...
      </a>
    </li>
    <li>
      <a href="/NOK/HNL">
        Convert 1 NOK to HNL...
      </a>
    </li>
    <li>
      <a href="/NOK/HRK">
        Convert 1 NOK to HRK...
      </a>
    </li>
    <li>
      <a href="/NOK/HTG">
        Convert 1 NOK to HTG...
      </a>
    </li>
    <li>
      <a href="/NOK/HUF">
        Convert 1 NOK to HUF...
      </a>
    </li>
    <li>
      <a href="/NOK/IDR">
        Convert 1 NOK to IDR...
      </a>
    </li>
    <li>
      <a href="/NOK/ILS">
        Convert 1 NOK to ILS...
      </a>
    </li>
    <li>
      <a href="/NOK/IMP">
        Convert 1 NOK to IMP...
      </a>
    </li>
    <li>
      <a href="/NOK/INR">
        Convert 1 NOK to INR...
      </a>
    </li>
    <li>
      <a href="/NOK/IQD">
        Convert 1 NOK to IQD...
      </a>
    </li>
    <li>
      <a href="/NOK/IRR">
        Convert 1 NOK to IRR...
      </a>
    </li>
    <li>
      <a href="/NOK/ISK">
        Convert 1 NOK to ISK...
      </a>
    </li>
    <li>
      <a href="/NOK/JEP">
        Convert 1 NOK to JEP...
      </a>
    </li>
    <li>
      <a href="/NOK/JMD">
        Convert 1 NOK to JMD...
      </a>
    </li>
    <li>
      <a href="/NOK/JOD">
        Convert 1 NOK to JOD...
      </a>
    </li>
    <li>
      <a href="/NOK/JPY">
        Convert 1 NOK to JPY...
      </a>
    </li>
    <li>
      <a href="/NOK/KES">
        Convert 1 NOK to KES...
      </a>
    </li>
    <li>
      <a href="/NOK/KGS">
        Convert 1 NOK to KGS...
      </a>
    </li>
    <li>
      <a href="/NOK/KHR">
        Convert 1 NOK to KHR...
      </a>
    </li>
    <li>
      <a href="/NOK/KMF">
        Convert 1 NOK to KMF...
      </a>
    </li>
    <li>
      <a href="/NOK/KPW">
        Convert 1 NOK to KPW...
      </a>
    </li>
    <li>
      <a href="/NOK/KRW">
        Convert 1 NOK to KRW...
      </a>
    </li>
    <li>
      <a href="/NOK/KWD">
        Convert 1 NOK to KWD...
      </a>
    </li>
    <li>
      <a href="/NOK/KYD">
        Convert 1 NOK to KYD...
      </a>
    </li>
    <li>
      <a href="/NOK/KZT">
        Convert 1 NOK to KZT...
      </a>
    </li>
    <li>
      <a href="/NOK/LAK">
        Convert 1 NOK to LAK...
      </a>
    </li>
    <li>
      <a href="/NOK/LBP">
        Convert 1 NOK to LBP...
      </a>
    </li>
    <li>
      <a href="/NOK/LKR">
        Convert 1 NOK to LKR...
      </a>
    </li>
    <li>
      <a href="/NOK/LRD">
        Convert 1 NOK to LRD...
      </a>
    </li>
    <li>
      <a href="/NOK/LSL">
        Convert 1 NOK to LSL...
      </a>
    </li>
    <li>
      <a href="/NOK/LYD">
        Convert 1 NOK to LYD...
      </a>
    </li>
    <li>
      <a href="/NOK/MAD">
        Convert 1 NOK to MAD...
      </a>
    </li>
    <li>
      <a href="/NOK/MDL">
        Convert 1 NOK to MDL...
      </a>
    </li>
    <li>
      <a href="/NOK/MGA">
        Convert 1 NOK to MGA...
      </a>
    </li>
    <li>
      <a href="/NOK/MKD">
        Convert 1 NOK to MKD...
      </a>
    </li>
    <li>
      <a href="/NOK/MMK">
        Convert 1 NOK to MMK...
      </a>
    </li>
    <li>
      <a href="/NOK/MNT">
        Convert 1 NOK to MNT...
      </a>
    </li>
    <li>
      <a href="/NOK/MOP">
        Convert 1 NOK to MOP...
      </a>
    </li>
    <li>
      <a href="/NOK/MRO">
        Convert 1 NOK to MRO...
      </a>
    </li>
    <li>
      <a href="/NOK/MRU">
        Convert 1 NOK to MRU...
      </a>
    </li>
    <li>
      <a href="/NOK/MUR">
        Convert 1 NOK to MUR...
      </a>
    </li>
    <li>
      <a href="/NOK/MVR">
        Convert 1 NOK to MVR...
      </a>
    </li>
    <li>
      <a href="/NOK/MWK">
        Convert 1 NOK to MWK...
      </a>
    </li>
    <li>
      <a href="/NOK/MXN">
        Convert 1 NOK to MXN...
      </a>
    </li>
    <li>
      <a href="/NOK/MYR">
        Convert 1 NOK to MYR...
      </a>
    </li>
    <li>
      <a href="/NOK/MZN">
        Convert 1 NOK to MZN...
      </a>
    </li>
    <li>
      <a href="/NOK/NAD">
        Convert 1 NOK to NAD...
      </a>
    </li>
    <li>
      <a href="/NOK/NGN">
        Convert 1 NOK to NGN...
      </a>
    </li>
    <li>
      <a href="/NOK/NIO">
        Convert 1 NOK to NIO...
      </a>
    </li>
    <li>
      <a href="/NOK/NOK">
        Convert 1 NOK to NOK...
      </a>
    </li>
    <li>
      <a href="/NOK/NPR">
        Convert 1 NOK to NPR...
      </a>
    </li>
    <li>
      <a href="/NOK/NZD">
        Convert 1 NOK to NZD...
      </a>
    </li>
    <li>
      <a href="/NOK/OMR">
        Convert 1 NOK to OMR...
      </a>
    </li>
    <li>
      <a href="/NOK/PAB">
        Convert 1 NOK to PAB...
      </a>
    </li>
    <li>
      <a href="/NOK/PEN">
        Convert 1 NOK to PEN...
      </a>
    </li>
    <li>
      <a href="/NOK/PGK">
        Convert 1 NOK to PGK...
      </a>
    </li>
    <li>
      <a href="/NOK/PHP">
        Convert 1 NOK to PHP...
      </a>
    </li>
    <li>
      <a href="/NOK/PKR">
        Convert 1 NOK to PKR...
      </a>
    </li>
    <li>
      <a href="/NOK/PLN">
        Convert 1 NOK to PLN...
      </a>
    </li>
    <li>
      <a href="/NOK/PYG">
        Convert 1 NOK to PYG...
      </a>
    </li>
    <li>
      <a href="/NOK/QAR">
        Convert 1 NOK to QAR...
      </a>
    </li>
    <li>
      <a href="/NOK/RON">
        Convert 1 NOK to RON...
      </a>
    </li>
    <li>
      <a href="/NOK/RSD">
        Convert 1 NOK to RSD...
      </a>
    </li>
    <li>
      <a href="/NOK/RUB">
        Convert 1 NOK to RUB...
      </a>
    </li>
    <li>
      <a href="/NOK/RWF">
        Convert 1 NOK to RWF...
      </a>
    </li>
    <li>
      <a href="/NOK/SAR">
        Convert 1 NOK to SAR...
      </a>
    </li>
    <li>
      <a href="/NOK/SBD">
        Convert 1 NOK to SBD...
      </a>
    </li>
    <li>
      <a href="/NOK/SCR">
        Convert 1 NOK to SCR...
      </a>
    </li>
    <li>
      <a href="/NOK/SDG">
        Convert 1 NOK to SDG...
      </a>
    </li>
    <li>
      <a href="/NOK/SEK">
        Convert 1 NOK to SEK...
      </a>
    </li>
    <li>
      <a href="/NOK/SGD">
        Convert 1 NOK to SGD...
      </a>
    </li>
    <li>
      <a href="/NOK/SHP">
        Convert 1 NOK to SHP...
      </a>
    </li>
    <li>
      <a href="/NOK/SLL">
        Convert 1 NOK to SLL...
      </a>
    </li>
    <li>
      <a href="/NOK/SOS">
        Convert 1 NOK to SOS...
      </a>
    </li>
    <li>
      <a href="/NOK/SRD">
        Convert 1 NOK to SRD...
      </a>
    </li>
    <li>
      <a href="/NOK/SSP">
        Convert 1 NOK to SSP...
      </a>
    </li>
    <li>
      <a href="/NOK/STD">
        Convert 1 NOK to STD...
      </a>
    </li>
    <li>
      <a href="/NOK/STN">
        Convert 1 NOK to STN...
      </a>
    </li>
    <li>
      <a href="/NOK/SVC">
        Convert 1 NOK to SVC...
      </a>
    </li>
    <li>
      <a href="/NOK/SYP">
        Convert 1 NOK to SYP...
      </a>
    </li>
    <li>
      <a href="/NOK/SZL">
        Convert 1 NOK to SZL...
      </a>
    </li>
    <li>
      <a href="/NOK/THB">
        Convert 1 NOK to THB...
      </a>
    </li>
    <li>
      <a href="/NOK/TJS">
        Convert 1 NOK to TJS...
      </a>
    </li>
    <li>
      <a href="/NOK/TMT">
        Convert 1 NOK to TMT...
      </a>
    </li>
    <li>
      <a href="/NOK/TND">
        Convert 1 NOK to TND...
      </a>
    </li>
    <li>
      <a href="/NOK/TOP">
        Convert 1 NOK to TOP...
      </a>
    </li>
    <li>
      <a href="/NOK/TRY">
        Convert 1 NOK to TRY...
      </a>
    </li>
    <li>
      <a href="/NOK/TTD">
        Convert 1 NOK to TTD...
      </a>
    </li>
    <li>
      <a href="/NOK/TWD">
        Convert 1 NOK to TWD...
      </a>
    </li>
    <li>
      <a href="/NOK/TZS">
        Convert 1 NOK to TZS...
      </a>
    </li>
    <li>
      <a href="/NOK/UAH">
        Convert 1 NOK to UAH...
      </a>
    </li>
    <li>
      <a href="/NOK/UGX">
        Convert 1 NOK to UGX...
      </a>
    </li>
    <li>
      <a href="/NOK/USD">
        Convert 1 NOK to USD...
      </a>
    </li>
    <li>
      <a href="/NOK/UYU">
        Convert 1 NOK to UYU...
      </a>
    </li>
    <li>
      <a href="/NOK/UZS">
        Convert 1 NOK to UZS...
      </a>
    </li>
    <li>
      <a href="/NOK/VEF">
        Convert 1 NOK to VEF...
      </a>
    </li>
    <li>
      <a href="/NOK/VES">
        Convert 1 NOK to VES...
      </a>
    </li>
    <li>
      <a href="/NOK/VND">
        Convert 1 NOK to VND...
      </a>
    </li>
    <li>
      <a href="/NOK/VUV">
        Convert 1 NOK to VUV...
      </a>
    </li>
    <li>
      <a href="/NOK/WST">
        Convert 1 NOK to WST...
      </a>
    </li>
    <li>
      <a href="/NOK/XAF">
        Convert 1 NOK to XAF...
      </a>
    </li>
    <li>
      <a href="/NOK/XAG">
        Convert 1 NOK to XAG...
      </a>
    </li>
    <li>
      <a href="/NOK/XAU">
        Convert 1 NOK to XAU...
      </a>
    </li>
    <li>
      <a href="/NOK/XCD">
        Convert 1 NOK to XCD...
      </a>
    </li>
    <li>
      <a href="/NOK/XDR">
        Convert 1 NOK to XDR...
      </a>
    </li>
    <li>
      <a href="/NOK/XOF">
        Convert 1 NOK to XOF...
      </a>
    </li>
    <li>
      <a href="/NOK/XPD">
        Convert 1 NOK to XPD...
      </a>
    </li>
    <li>
      <a href="/NOK/XPF">
        Convert 1 NOK to XPF...
      </a>
    </li>
    <li>
      <a href="/NOK/XPT">
        Convert 1 NOK to XPT...
      </a>
    </li>
    <li>
      <a href="/NOK/YER">
        Convert 1 NOK to YER...
      </a>
    </li>
    <li>
      <a href="/NOK/ZAR">
        Convert 1 NOK to ZAR...
      </a>
    </li>
    <li>
      <a href="/NOK/ZMW">
        Convert 1 NOK to ZMW...
      </a>
    </li>
    <li>
      <a href="/NOK/ZWL">
        Convert 1 NOK to ZWL...
      </a>
    </li>
</ul>
</body>
