<body>
    <h1>Convert NPR</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/NPR/AED">
        Convert 1 NPR to AED...
      </a>
    </li>
    <li>
      <a href="/NPR/AFN">
        Convert 1 NPR to AFN...
      </a>
    </li>
    <li>
      <a href="/NPR/ALL">
        Convert 1 NPR to ALL...
      </a>
    </li>
    <li>
      <a href="/NPR/AMD">
        Convert 1 NPR to AMD...
      </a>
    </li>
    <li>
      <a href="/NPR/ANG">
        Convert 1 NPR to ANG...
      </a>
    </li>
    <li>
      <a href="/NPR/AOA">
        Convert 1 NPR to AOA...
      </a>
    </li>
    <li>
      <a href="/NPR/ARS">
        Convert 1 NPR to ARS...
      </a>
    </li>
    <li>
      <a href="/NPR/AUD">
        Convert 1 NPR to AUD...
      </a>
    </li>
    <li>
      <a href="/NPR/AWG">
        Convert 1 NPR to AWG...
      </a>
    </li>
    <li>
      <a href="/NPR/AZN">
        Convert 1 NPR to AZN...
      </a>
    </li>
    <li>
      <a href="/NPR/BAM">
        Convert 1 NPR to BAM...
      </a>
    </li>
    <li>
      <a href="/NPR/BBD">
        Convert 1 NPR to BBD...
      </a>
    </li>
    <li>
      <a href="/NPR/BDT">
        Convert 1 NPR to BDT...
      </a>
    </li>
    <li>
      <a href="/NPR/BGN">
        Convert 1 NPR to BGN...
      </a>
    </li>
    <li>
      <a href="/NPR/BHD">
        Convert 1 NPR to BHD...
      </a>
    </li>
    <li>
      <a href="/NPR/BIF">
        Convert 1 NPR to BIF...
      </a>
    </li>
    <li>
      <a href="/NPR/BMD">
        Convert 1 NPR to BMD...
      </a>
    </li>
    <li>
      <a href="/NPR/BND">
        Convert 1 NPR to BND...
      </a>
    </li>
    <li>
      <a href="/NPR/BOB">
        Convert 1 NPR to BOB...
      </a>
    </li>
    <li>
      <a href="/NPR/BRL">
        Convert 1 NPR to BRL...
      </a>
    </li>
    <li>
      <a href="/NPR/BSD">
        Convert 1 NPR to BSD...
      </a>
    </li>
    <li>
      <a href="/NPR/BTC">
        Convert 1 NPR to BTC...
      </a>
    </li>
    <li>
      <a href="/NPR/BTN">
        Convert 1 NPR to BTN...
      </a>
    </li>
    <li>
      <a href="/NPR/BWP">
        Convert 1 NPR to BWP...
      </a>
    </li>
    <li>
      <a href="/NPR/BYN">
        Convert 1 NPR to BYN...
      </a>
    </li>
    <li>
      <a href="/NPR/BZD">
        Convert 1 NPR to BZD...
      </a>
    </li>
    <li>
      <a href="/NPR/CAD">
        Convert 1 NPR to CAD...
      </a>
    </li>
    <li>
      <a href="/NPR/CDF">
        Convert 1 NPR to CDF...
      </a>
    </li>
    <li>
      <a href="/NPR/CHF">
        Convert 1 NPR to CHF...
      </a>
    </li>
    <li>
      <a href="/NPR/CLF">
        Convert 1 NPR to CLF...
      </a>
    </li>
    <li>
      <a href="/NPR/CLP">
        Convert 1 NPR to CLP...
      </a>
    </li>
    <li>
      <a href="/NPR/CNH">
        Convert 1 NPR to CNH...
      </a>
    </li>
    <li>
      <a href="/NPR/CNY">
        Convert 1 NPR to CNY...
      </a>
    </li>
    <li>
      <a href="/NPR/COP">
        Convert 1 NPR to COP...
      </a>
    </li>
    <li>
      <a href="/NPR/CRC">
        Convert 1 NPR to CRC...
      </a>
    </li>
    <li>
      <a href="/NPR/CUC">
        Convert 1 NPR to CUC...
      </a>
    </li>
    <li>
      <a href="/NPR/CUP">
        Convert 1 NPR to CUP...
      </a>
    </li>
    <li>
      <a href="/NPR/CVE">
        Convert 1 NPR to CVE...
      </a>
    </li>
    <li>
      <a href="/NPR/CZK">
        Convert 1 NPR to CZK...
      </a>
    </li>
    <li>
      <a href="/NPR/DJF">
        Convert 1 NPR to DJF...
      </a>
    </li>
    <li>
      <a href="/NPR/DKK">
        Convert 1 NPR to DKK...
      </a>
    </li>
    <li>
      <a href="/NPR/DOP">
        Convert 1 NPR to DOP...
      </a>
    </li>
    <li>
      <a href="/NPR/DZD">
        Convert 1 NPR to DZD...
      </a>
    </li>
    <li>
      <a href="/NPR/EGP">
        Convert 1 NPR to EGP...
      </a>
    </li>
    <li>
      <a href="/NPR/ERN">
        Convert 1 NPR to ERN...
      </a>
    </li>
    <li>
      <a href="/NPR/ETB">
        Convert 1 NPR to ETB...
      </a>
    </li>
    <li>
      <a href="/NPR/EUR">
        Convert 1 NPR to EUR...
      </a>
    </li>
    <li>
      <a href="/NPR/FJD">
        Convert 1 NPR to FJD...
      </a>
    </li>
    <li>
      <a href="/NPR/FKP">
        Convert 1 NPR to FKP...
      </a>
    </li>
    <li>
      <a href="/NPR/GBP">
        Convert 1 NPR to GBP...
      </a>
    </li>
    <li>
      <a href="/NPR/GEL">
        Convert 1 NPR to GEL...
      </a>
    </li>
    <li>
      <a href="/NPR/GGP">
        Convert 1 NPR to GGP...
      </a>
    </li>
    <li>
      <a href="/NPR/GHS">
        Convert 1 NPR to GHS...
      </a>
    </li>
    <li>
      <a href="/NPR/GIP">
        Convert 1 NPR to GIP...
      </a>
    </li>
    <li>
      <a href="/NPR/GMD">
        Convert 1 NPR to GMD...
      </a>
    </li>
    <li>
      <a href="/NPR/GNF">
        Convert 1 NPR to GNF...
      </a>
    </li>
    <li>
      <a href="/NPR/GTQ">
        Convert 1 NPR to GTQ...
      </a>
    </li>
    <li>
      <a href="/NPR/GYD">
        Convert 1 NPR to GYD...
      </a>
    </li>
    <li>
      <a href="/NPR/HKD">
        Convert 1 NPR to HKD...
      </a>
    </li>
    <li>
      <a href="/NPR/HNL">
        Convert 1 NPR to HNL...
      </a>
    </li>
    <li>
      <a href="/NPR/HRK">
        Convert 1 NPR to HRK...
      </a>
    </li>
    <li>
      <a href="/NPR/HTG">
        Convert 1 NPR to HTG...
      </a>
    </li>
    <li>
      <a href="/NPR/HUF">
        Convert 1 NPR to HUF...
      </a>
    </li>
    <li>
      <a href="/NPR/IDR">
        Convert 1 NPR to IDR...
      </a>
    </li>
    <li>
      <a href="/NPR/ILS">
        Convert 1 NPR to ILS...
      </a>
    </li>
    <li>
      <a href="/NPR/IMP">
        Convert 1 NPR to IMP...
      </a>
    </li>
    <li>
      <a href="/NPR/INR">
        Convert 1 NPR to INR...
      </a>
    </li>
    <li>
      <a href="/NPR/IQD">
        Convert 1 NPR to IQD...
      </a>
    </li>
    <li>
      <a href="/NPR/IRR">
        Convert 1 NPR to IRR...
      </a>
    </li>
    <li>
      <a href="/NPR/ISK">
        Convert 1 NPR to ISK...
      </a>
    </li>
    <li>
      <a href="/NPR/JEP">
        Convert 1 NPR to JEP...
      </a>
    </li>
    <li>
      <a href="/NPR/JMD">
        Convert 1 NPR to JMD...
      </a>
    </li>
    <li>
      <a href="/NPR/JOD">
        Convert 1 NPR to JOD...
      </a>
    </li>
    <li>
      <a href="/NPR/JPY">
        Convert 1 NPR to JPY...
      </a>
    </li>
    <li>
      <a href="/NPR/KES">
        Convert 1 NPR to KES...
      </a>
    </li>
    <li>
      <a href="/NPR/KGS">
        Convert 1 NPR to KGS...
      </a>
    </li>
    <li>
      <a href="/NPR/KHR">
        Convert 1 NPR to KHR...
      </a>
    </li>
    <li>
      <a href="/NPR/KMF">
        Convert 1 NPR to KMF...
      </a>
    </li>
    <li>
      <a href="/NPR/KPW">
        Convert 1 NPR to KPW...
      </a>
    </li>
    <li>
      <a href="/NPR/KRW">
        Convert 1 NPR to KRW...
      </a>
    </li>
    <li>
      <a href="/NPR/KWD">
        Convert 1 NPR to KWD...
      </a>
    </li>
    <li>
      <a href="/NPR/KYD">
        Convert 1 NPR to KYD...
      </a>
    </li>
    <li>
      <a href="/NPR/KZT">
        Convert 1 NPR to KZT...
      </a>
    </li>
    <li>
      <a href="/NPR/LAK">
        Convert 1 NPR to LAK...
      </a>
    </li>
    <li>
      <a href="/NPR/LBP">
        Convert 1 NPR to LBP...
      </a>
    </li>
    <li>
      <a href="/NPR/LKR">
        Convert 1 NPR to LKR...
      </a>
    </li>
    <li>
      <a href="/NPR/LRD">
        Convert 1 NPR to LRD...
      </a>
    </li>
    <li>
      <a href="/NPR/LSL">
        Convert 1 NPR to LSL...
      </a>
    </li>
    <li>
      <a href="/NPR/LYD">
        Convert 1 NPR to LYD...
      </a>
    </li>
    <li>
      <a href="/NPR/MAD">
        Convert 1 NPR to MAD...
      </a>
    </li>
    <li>
      <a href="/NPR/MDL">
        Convert 1 NPR to MDL...
      </a>
    </li>
    <li>
      <a href="/NPR/MGA">
        Convert 1 NPR to MGA...
      </a>
    </li>
    <li>
      <a href="/NPR/MKD">
        Convert 1 NPR to MKD...
      </a>
    </li>
    <li>
      <a href="/NPR/MMK">
        Convert 1 NPR to MMK...
      </a>
    </li>
    <li>
      <a href="/NPR/MNT">
        Convert 1 NPR to MNT...
      </a>
    </li>
    <li>
      <a href="/NPR/MOP">
        Convert 1 NPR to MOP...
      </a>
    </li>
    <li>
      <a href="/NPR/MRO">
        Convert 1 NPR to MRO...
      </a>
    </li>
    <li>
      <a href="/NPR/MRU">
        Convert 1 NPR to MRU...
      </a>
    </li>
    <li>
      <a href="/NPR/MUR">
        Convert 1 NPR to MUR...
      </a>
    </li>
    <li>
      <a href="/NPR/MVR">
        Convert 1 NPR to MVR...
      </a>
    </li>
    <li>
      <a href="/NPR/MWK">
        Convert 1 NPR to MWK...
      </a>
    </li>
    <li>
      <a href="/NPR/MXN">
        Convert 1 NPR to MXN...
      </a>
    </li>
    <li>
      <a href="/NPR/MYR">
        Convert 1 NPR to MYR...
      </a>
    </li>
    <li>
      <a href="/NPR/MZN">
        Convert 1 NPR to MZN...
      </a>
    </li>
    <li>
      <a href="/NPR/NAD">
        Convert 1 NPR to NAD...
      </a>
    </li>
    <li>
      <a href="/NPR/NGN">
        Convert 1 NPR to NGN...
      </a>
    </li>
    <li>
      <a href="/NPR/NIO">
        Convert 1 NPR to NIO...
      </a>
    </li>
    <li>
      <a href="/NPR/NOK">
        Convert 1 NPR to NOK...
      </a>
    </li>
    <li>
      <a href="/NPR/NPR">
        Convert 1 NPR to NPR...
      </a>
    </li>
    <li>
      <a href="/NPR/NZD">
        Convert 1 NPR to NZD...
      </a>
    </li>
    <li>
      <a href="/NPR/OMR">
        Convert 1 NPR to OMR...
      </a>
    </li>
    <li>
      <a href="/NPR/PAB">
        Convert 1 NPR to PAB...
      </a>
    </li>
    <li>
      <a href="/NPR/PEN">
        Convert 1 NPR to PEN...
      </a>
    </li>
    <li>
      <a href="/NPR/PGK">
        Convert 1 NPR to PGK...
      </a>
    </li>
    <li>
      <a href="/NPR/PHP">
        Convert 1 NPR to PHP...
      </a>
    </li>
    <li>
      <a href="/NPR/PKR">
        Convert 1 NPR to PKR...
      </a>
    </li>
    <li>
      <a href="/NPR/PLN">
        Convert 1 NPR to PLN...
      </a>
    </li>
    <li>
      <a href="/NPR/PYG">
        Convert 1 NPR to PYG...
      </a>
    </li>
    <li>
      <a href="/NPR/QAR">
        Convert 1 NPR to QAR...
      </a>
    </li>
    <li>
      <a href="/NPR/RON">
        Convert 1 NPR to RON...
      </a>
    </li>
    <li>
      <a href="/NPR/RSD">
        Convert 1 NPR to RSD...
      </a>
    </li>
    <li>
      <a href="/NPR/RUB">
        Convert 1 NPR to RUB...
      </a>
    </li>
    <li>
      <a href="/NPR/RWF">
        Convert 1 NPR to RWF...
      </a>
    </li>
    <li>
      <a href="/NPR/SAR">
        Convert 1 NPR to SAR...
      </a>
    </li>
    <li>
      <a href="/NPR/SBD">
        Convert 1 NPR to SBD...
      </a>
    </li>
    <li>
      <a href="/NPR/SCR">
        Convert 1 NPR to SCR...
      </a>
    </li>
    <li>
      <a href="/NPR/SDG">
        Convert 1 NPR to SDG...
      </a>
    </li>
    <li>
      <a href="/NPR/SEK">
        Convert 1 NPR to SEK...
      </a>
    </li>
    <li>
      <a href="/NPR/SGD">
        Convert 1 NPR to SGD...
      </a>
    </li>
    <li>
      <a href="/NPR/SHP">
        Convert 1 NPR to SHP...
      </a>
    </li>
    <li>
      <a href="/NPR/SLL">
        Convert 1 NPR to SLL...
      </a>
    </li>
    <li>
      <a href="/NPR/SOS">
        Convert 1 NPR to SOS...
      </a>
    </li>
    <li>
      <a href="/NPR/SRD">
        Convert 1 NPR to SRD...
      </a>
    </li>
    <li>
      <a href="/NPR/SSP">
        Convert 1 NPR to SSP...
      </a>
    </li>
    <li>
      <a href="/NPR/STD">
        Convert 1 NPR to STD...
      </a>
    </li>
    <li>
      <a href="/NPR/STN">
        Convert 1 NPR to STN...
      </a>
    </li>
    <li>
      <a href="/NPR/SVC">
        Convert 1 NPR to SVC...
      </a>
    </li>
    <li>
      <a href="/NPR/SYP">
        Convert 1 NPR to SYP...
      </a>
    </li>
    <li>
      <a href="/NPR/SZL">
        Convert 1 NPR to SZL...
      </a>
    </li>
    <li>
      <a href="/NPR/THB">
        Convert 1 NPR to THB...
      </a>
    </li>
    <li>
      <a href="/NPR/TJS">
        Convert 1 NPR to TJS...
      </a>
    </li>
    <li>
      <a href="/NPR/TMT">
        Convert 1 NPR to TMT...
      </a>
    </li>
    <li>
      <a href="/NPR/TND">
        Convert 1 NPR to TND...
      </a>
    </li>
    <li>
      <a href="/NPR/TOP">
        Convert 1 NPR to TOP...
      </a>
    </li>
    <li>
      <a href="/NPR/TRY">
        Convert 1 NPR to TRY...
      </a>
    </li>
    <li>
      <a href="/NPR/TTD">
        Convert 1 NPR to TTD...
      </a>
    </li>
    <li>
      <a href="/NPR/TWD">
        Convert 1 NPR to TWD...
      </a>
    </li>
    <li>
      <a href="/NPR/TZS">
        Convert 1 NPR to TZS...
      </a>
    </li>
    <li>
      <a href="/NPR/UAH">
        Convert 1 NPR to UAH...
      </a>
    </li>
    <li>
      <a href="/NPR/UGX">
        Convert 1 NPR to UGX...
      </a>
    </li>
    <li>
      <a href="/NPR/USD">
        Convert 1 NPR to USD...
      </a>
    </li>
    <li>
      <a href="/NPR/UYU">
        Convert 1 NPR to UYU...
      </a>
    </li>
    <li>
      <a href="/NPR/UZS">
        Convert 1 NPR to UZS...
      </a>
    </li>
    <li>
      <a href="/NPR/VEF">
        Convert 1 NPR to VEF...
      </a>
    </li>
    <li>
      <a href="/NPR/VES">
        Convert 1 NPR to VES...
      </a>
    </li>
    <li>
      <a href="/NPR/VND">
        Convert 1 NPR to VND...
      </a>
    </li>
    <li>
      <a href="/NPR/VUV">
        Convert 1 NPR to VUV...
      </a>
    </li>
    <li>
      <a href="/NPR/WST">
        Convert 1 NPR to WST...
      </a>
    </li>
    <li>
      <a href="/NPR/XAF">
        Convert 1 NPR to XAF...
      </a>
    </li>
    <li>
      <a href="/NPR/XAG">
        Convert 1 NPR to XAG...
      </a>
    </li>
    <li>
      <a href="/NPR/XAU">
        Convert 1 NPR to XAU...
      </a>
    </li>
    <li>
      <a href="/NPR/XCD">
        Convert 1 NPR to XCD...
      </a>
    </li>
    <li>
      <a href="/NPR/XDR">
        Convert 1 NPR to XDR...
      </a>
    </li>
    <li>
      <a href="/NPR/XOF">
        Convert 1 NPR to XOF...
      </a>
    </li>
    <li>
      <a href="/NPR/XPD">
        Convert 1 NPR to XPD...
      </a>
    </li>
    <li>
      <a href="/NPR/XPF">
        Convert 1 NPR to XPF...
      </a>
    </li>
    <li>
      <a href="/NPR/XPT">
        Convert 1 NPR to XPT...
      </a>
    </li>
    <li>
      <a href="/NPR/YER">
        Convert 1 NPR to YER...
      </a>
    </li>
    <li>
      <a href="/NPR/ZAR">
        Convert 1 NPR to ZAR...
      </a>
    </li>
    <li>
      <a href="/NPR/ZMW">
        Convert 1 NPR to ZMW...
      </a>
    </li>
    <li>
      <a href="/NPR/ZWL">
        Convert 1 NPR to ZWL...
      </a>
    </li>
</ul>
</body>
