<body>
    <h1>Convert OMR</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/OMR/AED">
        Convert 1 OMR to AED...
      </a>
    </li>
    <li>
      <a href="/OMR/AFN">
        Convert 1 OMR to AFN...
      </a>
    </li>
    <li>
      <a href="/OMR/ALL">
        Convert 1 OMR to ALL...
      </a>
    </li>
    <li>
      <a href="/OMR/AMD">
        Convert 1 OMR to AMD...
      </a>
    </li>
    <li>
      <a href="/OMR/ANG">
        Convert 1 OMR to ANG...
      </a>
    </li>
    <li>
      <a href="/OMR/AOA">
        Convert 1 OMR to AOA...
      </a>
    </li>
    <li>
      <a href="/OMR/ARS">
        Convert 1 OMR to ARS...
      </a>
    </li>
    <li>
      <a href="/OMR/AUD">
        Convert 1 OMR to AUD...
      </a>
    </li>
    <li>
      <a href="/OMR/AWG">
        Convert 1 OMR to AWG...
      </a>
    </li>
    <li>
      <a href="/OMR/AZN">
        Convert 1 OMR to AZN...
      </a>
    </li>
    <li>
      <a href="/OMR/BAM">
        Convert 1 OMR to BAM...
      </a>
    </li>
    <li>
      <a href="/OMR/BBD">
        Convert 1 OMR to BBD...
      </a>
    </li>
    <li>
      <a href="/OMR/BDT">
        Convert 1 OMR to BDT...
      </a>
    </li>
    <li>
      <a href="/OMR/BGN">
        Convert 1 OMR to BGN...
      </a>
    </li>
    <li>
      <a href="/OMR/BHD">
        Convert 1 OMR to BHD...
      </a>
    </li>
    <li>
      <a href="/OMR/BIF">
        Convert 1 OMR to BIF...
      </a>
    </li>
    <li>
      <a href="/OMR/BMD">
        Convert 1 OMR to BMD...
      </a>
    </li>
    <li>
      <a href="/OMR/BND">
        Convert 1 OMR to BND...
      </a>
    </li>
    <li>
      <a href="/OMR/BOB">
        Convert 1 OMR to BOB...
      </a>
    </li>
    <li>
      <a href="/OMR/BRL">
        Convert 1 OMR to BRL...
      </a>
    </li>
    <li>
      <a href="/OMR/BSD">
        Convert 1 OMR to BSD...
      </a>
    </li>
    <li>
      <a href="/OMR/BTC">
        Convert 1 OMR to BTC...
      </a>
    </li>
    <li>
      <a href="/OMR/BTN">
        Convert 1 OMR to BTN...
      </a>
    </li>
    <li>
      <a href="/OMR/BWP">
        Convert 1 OMR to BWP...
      </a>
    </li>
    <li>
      <a href="/OMR/BYN">
        Convert 1 OMR to BYN...
      </a>
    </li>
    <li>
      <a href="/OMR/BZD">
        Convert 1 OMR to BZD...
      </a>
    </li>
    <li>
      <a href="/OMR/CAD">
        Convert 1 OMR to CAD...
      </a>
    </li>
    <li>
      <a href="/OMR/CDF">
        Convert 1 OMR to CDF...
      </a>
    </li>
    <li>
      <a href="/OMR/CHF">
        Convert 1 OMR to CHF...
      </a>
    </li>
    <li>
      <a href="/OMR/CLF">
        Convert 1 OMR to CLF...
      </a>
    </li>
    <li>
      <a href="/OMR/CLP">
        Convert 1 OMR to CLP...
      </a>
    </li>
    <li>
      <a href="/OMR/CNH">
        Convert 1 OMR to CNH...
      </a>
    </li>
    <li>
      <a href="/OMR/CNY">
        Convert 1 OMR to CNY...
      </a>
    </li>
    <li>
      <a href="/OMR/COP">
        Convert 1 OMR to COP...
      </a>
    </li>
    <li>
      <a href="/OMR/CRC">
        Convert 1 OMR to CRC...
      </a>
    </li>
    <li>
      <a href="/OMR/CUC">
        Convert 1 OMR to CUC...
      </a>
    </li>
    <li>
      <a href="/OMR/CUP">
        Convert 1 OMR to CUP...
      </a>
    </li>
    <li>
      <a href="/OMR/CVE">
        Convert 1 OMR to CVE...
      </a>
    </li>
    <li>
      <a href="/OMR/CZK">
        Convert 1 OMR to CZK...
      </a>
    </li>
    <li>
      <a href="/OMR/DJF">
        Convert 1 OMR to DJF...
      </a>
    </li>
    <li>
      <a href="/OMR/DKK">
        Convert 1 OMR to DKK...
      </a>
    </li>
    <li>
      <a href="/OMR/DOP">
        Convert 1 OMR to DOP...
      </a>
    </li>
    <li>
      <a href="/OMR/DZD">
        Convert 1 OMR to DZD...
      </a>
    </li>
    <li>
      <a href="/OMR/EGP">
        Convert 1 OMR to EGP...
      </a>
    </li>
    <li>
      <a href="/OMR/ERN">
        Convert 1 OMR to ERN...
      </a>
    </li>
    <li>
      <a href="/OMR/ETB">
        Convert 1 OMR to ETB...
      </a>
    </li>
    <li>
      <a href="/OMR/EUR">
        Convert 1 OMR to EUR...
      </a>
    </li>
    <li>
      <a href="/OMR/FJD">
        Convert 1 OMR to FJD...
      </a>
    </li>
    <li>
      <a href="/OMR/FKP">
        Convert 1 OMR to FKP...
      </a>
    </li>
    <li>
      <a href="/OMR/GBP">
        Convert 1 OMR to GBP...
      </a>
    </li>
    <li>
      <a href="/OMR/GEL">
        Convert 1 OMR to GEL...
      </a>
    </li>
    <li>
      <a href="/OMR/GGP">
        Convert 1 OMR to GGP...
      </a>
    </li>
    <li>
      <a href="/OMR/GHS">
        Convert 1 OMR to GHS...
      </a>
    </li>
    <li>
      <a href="/OMR/GIP">
        Convert 1 OMR to GIP...
      </a>
    </li>
    <li>
      <a href="/OMR/GMD">
        Convert 1 OMR to GMD...
      </a>
    </li>
    <li>
      <a href="/OMR/GNF">
        Convert 1 OMR to GNF...
      </a>
    </li>
    <li>
      <a href="/OMR/GTQ">
        Convert 1 OMR to GTQ...
      </a>
    </li>
    <li>
      <a href="/OMR/GYD">
        Convert 1 OMR to GYD...
      </a>
    </li>
    <li>
      <a href="/OMR/HKD">
        Convert 1 OMR to HKD...
      </a>
    </li>
    <li>
      <a href="/OMR/HNL">
        Convert 1 OMR to HNL...
      </a>
    </li>
    <li>
      <a href="/OMR/HRK">
        Convert 1 OMR to HRK...
      </a>
    </li>
    <li>
      <a href="/OMR/HTG">
        Convert 1 OMR to HTG...
      </a>
    </li>
    <li>
      <a href="/OMR/HUF">
        Convert 1 OMR to HUF...
      </a>
    </li>
    <li>
      <a href="/OMR/IDR">
        Convert 1 OMR to IDR...
      </a>
    </li>
    <li>
      <a href="/OMR/ILS">
        Convert 1 OMR to ILS...
      </a>
    </li>
    <li>
      <a href="/OMR/IMP">
        Convert 1 OMR to IMP...
      </a>
    </li>
    <li>
      <a href="/OMR/INR">
        Convert 1 OMR to INR...
      </a>
    </li>
    <li>
      <a href="/OMR/IQD">
        Convert 1 OMR to IQD...
      </a>
    </li>
    <li>
      <a href="/OMR/IRR">
        Convert 1 OMR to IRR...
      </a>
    </li>
    <li>
      <a href="/OMR/ISK">
        Convert 1 OMR to ISK...
      </a>
    </li>
    <li>
      <a href="/OMR/JEP">
        Convert 1 OMR to JEP...
      </a>
    </li>
    <li>
      <a href="/OMR/JMD">
        Convert 1 OMR to JMD...
      </a>
    </li>
    <li>
      <a href="/OMR/JOD">
        Convert 1 OMR to JOD...
      </a>
    </li>
    <li>
      <a href="/OMR/JPY">
        Convert 1 OMR to JPY...
      </a>
    </li>
    <li>
      <a href="/OMR/KES">
        Convert 1 OMR to KES...
      </a>
    </li>
    <li>
      <a href="/OMR/KGS">
        Convert 1 OMR to KGS...
      </a>
    </li>
    <li>
      <a href="/OMR/KHR">
        Convert 1 OMR to KHR...
      </a>
    </li>
    <li>
      <a href="/OMR/KMF">
        Convert 1 OMR to KMF...
      </a>
    </li>
    <li>
      <a href="/OMR/KPW">
        Convert 1 OMR to KPW...
      </a>
    </li>
    <li>
      <a href="/OMR/KRW">
        Convert 1 OMR to KRW...
      </a>
    </li>
    <li>
      <a href="/OMR/KWD">
        Convert 1 OMR to KWD...
      </a>
    </li>
    <li>
      <a href="/OMR/KYD">
        Convert 1 OMR to KYD...
      </a>
    </li>
    <li>
      <a href="/OMR/KZT">
        Convert 1 OMR to KZT...
      </a>
    </li>
    <li>
      <a href="/OMR/LAK">
        Convert 1 OMR to LAK...
      </a>
    </li>
    <li>
      <a href="/OMR/LBP">
        Convert 1 OMR to LBP...
      </a>
    </li>
    <li>
      <a href="/OMR/LKR">
        Convert 1 OMR to LKR...
      </a>
    </li>
    <li>
      <a href="/OMR/LRD">
        Convert 1 OMR to LRD...
      </a>
    </li>
    <li>
      <a href="/OMR/LSL">
        Convert 1 OMR to LSL...
      </a>
    </li>
    <li>
      <a href="/OMR/LYD">
        Convert 1 OMR to LYD...
      </a>
    </li>
    <li>
      <a href="/OMR/MAD">
        Convert 1 OMR to MAD...
      </a>
    </li>
    <li>
      <a href="/OMR/MDL">
        Convert 1 OMR to MDL...
      </a>
    </li>
    <li>
      <a href="/OMR/MGA">
        Convert 1 OMR to MGA...
      </a>
    </li>
    <li>
      <a href="/OMR/MKD">
        Convert 1 OMR to MKD...
      </a>
    </li>
    <li>
      <a href="/OMR/MMK">
        Convert 1 OMR to MMK...
      </a>
    </li>
    <li>
      <a href="/OMR/MNT">
        Convert 1 OMR to MNT...
      </a>
    </li>
    <li>
      <a href="/OMR/MOP">
        Convert 1 OMR to MOP...
      </a>
    </li>
    <li>
      <a href="/OMR/MRO">
        Convert 1 OMR to MRO...
      </a>
    </li>
    <li>
      <a href="/OMR/MRU">
        Convert 1 OMR to MRU...
      </a>
    </li>
    <li>
      <a href="/OMR/MUR">
        Convert 1 OMR to MUR...
      </a>
    </li>
    <li>
      <a href="/OMR/MVR">
        Convert 1 OMR to MVR...
      </a>
    </li>
    <li>
      <a href="/OMR/MWK">
        Convert 1 OMR to MWK...
      </a>
    </li>
    <li>
      <a href="/OMR/MXN">
        Convert 1 OMR to MXN...
      </a>
    </li>
    <li>
      <a href="/OMR/MYR">
        Convert 1 OMR to MYR...
      </a>
    </li>
    <li>
      <a href="/OMR/MZN">
        Convert 1 OMR to MZN...
      </a>
    </li>
    <li>
      <a href="/OMR/NAD">
        Convert 1 OMR to NAD...
      </a>
    </li>
    <li>
      <a href="/OMR/NGN">
        Convert 1 OMR to NGN...
      </a>
    </li>
    <li>
      <a href="/OMR/NIO">
        Convert 1 OMR to NIO...
      </a>
    </li>
    <li>
      <a href="/OMR/NOK">
        Convert 1 OMR to NOK...
      </a>
    </li>
    <li>
      <a href="/OMR/NPR">
        Convert 1 OMR to NPR...
      </a>
    </li>
    <li>
      <a href="/OMR/NZD">
        Convert 1 OMR to NZD...
      </a>
    </li>
    <li>
      <a href="/OMR/OMR">
        Convert 1 OMR to OMR...
      </a>
    </li>
    <li>
      <a href="/OMR/PAB">
        Convert 1 OMR to PAB...
      </a>
    </li>
    <li>
      <a href="/OMR/PEN">
        Convert 1 OMR to PEN...
      </a>
    </li>
    <li>
      <a href="/OMR/PGK">
        Convert 1 OMR to PGK...
      </a>
    </li>
    <li>
      <a href="/OMR/PHP">
        Convert 1 OMR to PHP...
      </a>
    </li>
    <li>
      <a href="/OMR/PKR">
        Convert 1 OMR to PKR...
      </a>
    </li>
    <li>
      <a href="/OMR/PLN">
        Convert 1 OMR to PLN...
      </a>
    </li>
    <li>
      <a href="/OMR/PYG">
        Convert 1 OMR to PYG...
      </a>
    </li>
    <li>
      <a href="/OMR/QAR">
        Convert 1 OMR to QAR...
      </a>
    </li>
    <li>
      <a href="/OMR/RON">
        Convert 1 OMR to RON...
      </a>
    </li>
    <li>
      <a href="/OMR/RSD">
        Convert 1 OMR to RSD...
      </a>
    </li>
    <li>
      <a href="/OMR/RUB">
        Convert 1 OMR to RUB...
      </a>
    </li>
    <li>
      <a href="/OMR/RWF">
        Convert 1 OMR to RWF...
      </a>
    </li>
    <li>
      <a href="/OMR/SAR">
        Convert 1 OMR to SAR...
      </a>
    </li>
    <li>
      <a href="/OMR/SBD">
        Convert 1 OMR to SBD...
      </a>
    </li>
    <li>
      <a href="/OMR/SCR">
        Convert 1 OMR to SCR...
      </a>
    </li>
    <li>
      <a href="/OMR/SDG">
        Convert 1 OMR to SDG...
      </a>
    </li>
    <li>
      <a href="/OMR/SEK">
        Convert 1 OMR to SEK...
      </a>
    </li>
    <li>
      <a href="/OMR/SGD">
        Convert 1 OMR to SGD...
      </a>
    </li>
    <li>
      <a href="/OMR/SHP">
        Convert 1 OMR to SHP...
      </a>
    </li>
    <li>
      <a href="/OMR/SLL">
        Convert 1 OMR to SLL...
      </a>
    </li>
    <li>
      <a href="/OMR/SOS">
        Convert 1 OMR to SOS...
      </a>
    </li>
    <li>
      <a href="/OMR/SRD">
        Convert 1 OMR to SRD...
      </a>
    </li>
    <li>
      <a href="/OMR/SSP">
        Convert 1 OMR to SSP...
      </a>
    </li>
    <li>
      <a href="/OMR/STD">
        Convert 1 OMR to STD...
      </a>
    </li>
    <li>
      <a href="/OMR/STN">
        Convert 1 OMR to STN...
      </a>
    </li>
    <li>
      <a href="/OMR/SVC">
        Convert 1 OMR to SVC...
      </a>
    </li>
    <li>
      <a href="/OMR/SYP">
        Convert 1 OMR to SYP...
      </a>
    </li>
    <li>
      <a href="/OMR/SZL">
        Convert 1 OMR to SZL...
      </a>
    </li>
    <li>
      <a href="/OMR/THB">
        Convert 1 OMR to THB...
      </a>
    </li>
    <li>
      <a href="/OMR/TJS">
        Convert 1 OMR to TJS...
      </a>
    </li>
    <li>
      <a href="/OMR/TMT">
        Convert 1 OMR to TMT...
      </a>
    </li>
    <li>
      <a href="/OMR/TND">
        Convert 1 OMR to TND...
      </a>
    </li>
    <li>
      <a href="/OMR/TOP">
        Convert 1 OMR to TOP...
      </a>
    </li>
    <li>
      <a href="/OMR/TRY">
        Convert 1 OMR to TRY...
      </a>
    </li>
    <li>
      <a href="/OMR/TTD">
        Convert 1 OMR to TTD...
      </a>
    </li>
    <li>
      <a href="/OMR/TWD">
        Convert 1 OMR to TWD...
      </a>
    </li>
    <li>
      <a href="/OMR/TZS">
        Convert 1 OMR to TZS...
      </a>
    </li>
    <li>
      <a href="/OMR/UAH">
        Convert 1 OMR to UAH...
      </a>
    </li>
    <li>
      <a href="/OMR/UGX">
        Convert 1 OMR to UGX...
      </a>
    </li>
    <li>
      <a href="/OMR/USD">
        Convert 1 OMR to USD...
      </a>
    </li>
    <li>
      <a href="/OMR/UYU">
        Convert 1 OMR to UYU...
      </a>
    </li>
    <li>
      <a href="/OMR/UZS">
        Convert 1 OMR to UZS...
      </a>
    </li>
    <li>
      <a href="/OMR/VEF">
        Convert 1 OMR to VEF...
      </a>
    </li>
    <li>
      <a href="/OMR/VES">
        Convert 1 OMR to VES...
      </a>
    </li>
    <li>
      <a href="/OMR/VND">
        Convert 1 OMR to VND...
      </a>
    </li>
    <li>
      <a href="/OMR/VUV">
        Convert 1 OMR to VUV...
      </a>
    </li>
    <li>
      <a href="/OMR/WST">
        Convert 1 OMR to WST...
      </a>
    </li>
    <li>
      <a href="/OMR/XAF">
        Convert 1 OMR to XAF...
      </a>
    </li>
    <li>
      <a href="/OMR/XAG">
        Convert 1 OMR to XAG...
      </a>
    </li>
    <li>
      <a href="/OMR/XAU">
        Convert 1 OMR to XAU...
      </a>
    </li>
    <li>
      <a href="/OMR/XCD">
        Convert 1 OMR to XCD...
      </a>
    </li>
    <li>
      <a href="/OMR/XDR">
        Convert 1 OMR to XDR...
      </a>
    </li>
    <li>
      <a href="/OMR/XOF">
        Convert 1 OMR to XOF...
      </a>
    </li>
    <li>
      <a href="/OMR/XPD">
        Convert 1 OMR to XPD...
      </a>
    </li>
    <li>
      <a href="/OMR/XPF">
        Convert 1 OMR to XPF...
      </a>
    </li>
    <li>
      <a href="/OMR/XPT">
        Convert 1 OMR to XPT...
      </a>
    </li>
    <li>
      <a href="/OMR/YER">
        Convert 1 OMR to YER...
      </a>
    </li>
    <li>
      <a href="/OMR/ZAR">
        Convert 1 OMR to ZAR...
      </a>
    </li>
    <li>
      <a href="/OMR/ZMW">
        Convert 1 OMR to ZMW...
      </a>
    </li>
    <li>
      <a href="/OMR/ZWL">
        Convert 1 OMR to ZWL...
      </a>
    </li>
</ul>
</body>
