<body>
    <h1>Convert PKR</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/PKR/AED">
        Convert 1 PKR to AED...
      </a>
    </li>
    <li>
      <a href="/PKR/AFN">
        Convert 1 PKR to AFN...
      </a>
    </li>
    <li>
      <a href="/PKR/ALL">
        Convert 1 PKR to ALL...
      </a>
    </li>
    <li>
      <a href="/PKR/AMD">
        Convert 1 PKR to AMD...
      </a>
    </li>
    <li>
      <a href="/PKR/ANG">
        Convert 1 PKR to ANG...
      </a>
    </li>
    <li>
      <a href="/PKR/AOA">
        Convert 1 PKR to AOA...
      </a>
    </li>
    <li>
      <a href="/PKR/ARS">
        Convert 1 PKR to ARS...
      </a>
    </li>
    <li>
      <a href="/PKR/AUD">
        Convert 1 PKR to AUD...
      </a>
    </li>
    <li>
      <a href="/PKR/AWG">
        Convert 1 PKR to AWG...
      </a>
    </li>
    <li>
      <a href="/PKR/AZN">
        Convert 1 PKR to AZN...
      </a>
    </li>
    <li>
      <a href="/PKR/BAM">
        Convert 1 PKR to BAM...
      </a>
    </li>
    <li>
      <a href="/PKR/BBD">
        Convert 1 PKR to BBD...
      </a>
    </li>
    <li>
      <a href="/PKR/BDT">
        Convert 1 PKR to BDT...
      </a>
    </li>
    <li>
      <a href="/PKR/BGN">
        Convert 1 PKR to BGN...
      </a>
    </li>
    <li>
      <a href="/PKR/BHD">
        Convert 1 PKR to BHD...
      </a>
    </li>
    <li>
      <a href="/PKR/BIF">
        Convert 1 PKR to BIF...
      </a>
    </li>
    <li>
      <a href="/PKR/BMD">
        Convert 1 PKR to BMD...
      </a>
    </li>
    <li>
      <a href="/PKR/BND">
        Convert 1 PKR to BND...
      </a>
    </li>
    <li>
      <a href="/PKR/BOB">
        Convert 1 PKR to BOB...
      </a>
    </li>
    <li>
      <a href="/PKR/BRL">
        Convert 1 PKR to BRL...
      </a>
    </li>
    <li>
      <a href="/PKR/BSD">
        Convert 1 PKR to BSD...
      </a>
    </li>
    <li>
      <a href="/PKR/BTC">
        Convert 1 PKR to BTC...
      </a>
    </li>
    <li>
      <a href="/PKR/BTN">
        Convert 1 PKR to BTN...
      </a>
    </li>
    <li>
      <a href="/PKR/BWP">
        Convert 1 PKR to BWP...
      </a>
    </li>
    <li>
      <a href="/PKR/BYN">
        Convert 1 PKR to BYN...
      </a>
    </li>
    <li>
      <a href="/PKR/BZD">
        Convert 1 PKR to BZD...
      </a>
    </li>
    <li>
      <a href="/PKR/CAD">
        Convert 1 PKR to CAD...
      </a>
    </li>
    <li>
      <a href="/PKR/CDF">
        Convert 1 PKR to CDF...
      </a>
    </li>
    <li>
      <a href="/PKR/CHF">
        Convert 1 PKR to CHF...
      </a>
    </li>
    <li>
      <a href="/PKR/CLF">
        Convert 1 PKR to CLF...
      </a>
    </li>
    <li>
      <a href="/PKR/CLP">
        Convert 1 PKR to CLP...
      </a>
    </li>
    <li>
      <a href="/PKR/CNH">
        Convert 1 PKR to CNH...
      </a>
    </li>
    <li>
      <a href="/PKR/CNY">
        Convert 1 PKR to CNY...
      </a>
    </li>
    <li>
      <a href="/PKR/COP">
        Convert 1 PKR to COP...
      </a>
    </li>
    <li>
      <a href="/PKR/CRC">
        Convert 1 PKR to CRC...
      </a>
    </li>
    <li>
      <a href="/PKR/CUC">
        Convert 1 PKR to CUC...
      </a>
    </li>
    <li>
      <a href="/PKR/CUP">
        Convert 1 PKR to CUP...
      </a>
    </li>
    <li>
      <a href="/PKR/CVE">
        Convert 1 PKR to CVE...
      </a>
    </li>
    <li>
      <a href="/PKR/CZK">
        Convert 1 PKR to CZK...
      </a>
    </li>
    <li>
      <a href="/PKR/DJF">
        Convert 1 PKR to DJF...
      </a>
    </li>
    <li>
      <a href="/PKR/DKK">
        Convert 1 PKR to DKK...
      </a>
    </li>
    <li>
      <a href="/PKR/DOP">
        Convert 1 PKR to DOP...
      </a>
    </li>
    <li>
      <a href="/PKR/DZD">
        Convert 1 PKR to DZD...
      </a>
    </li>
    <li>
      <a href="/PKR/EGP">
        Convert 1 PKR to EGP...
      </a>
    </li>
    <li>
      <a href="/PKR/ERN">
        Convert 1 PKR to ERN...
      </a>
    </li>
    <li>
      <a href="/PKR/ETB">
        Convert 1 PKR to ETB...
      </a>
    </li>
    <li>
      <a href="/PKR/EUR">
        Convert 1 PKR to EUR...
      </a>
    </li>
    <li>
      <a href="/PKR/FJD">
        Convert 1 PKR to FJD...
      </a>
    </li>
    <li>
      <a href="/PKR/FKP">
        Convert 1 PKR to FKP...
      </a>
    </li>
    <li>
      <a href="/PKR/GBP">
        Convert 1 PKR to GBP...
      </a>
    </li>
    <li>
      <a href="/PKR/GEL">
        Convert 1 PKR to GEL...
      </a>
    </li>
    <li>
      <a href="/PKR/GGP">
        Convert 1 PKR to GGP...
      </a>
    </li>
    <li>
      <a href="/PKR/GHS">
        Convert 1 PKR to GHS...
      </a>
    </li>
    <li>
      <a href="/PKR/GIP">
        Convert 1 PKR to GIP...
      </a>
    </li>
    <li>
      <a href="/PKR/GMD">
        Convert 1 PKR to GMD...
      </a>
    </li>
    <li>
      <a href="/PKR/GNF">
        Convert 1 PKR to GNF...
      </a>
    </li>
    <li>
      <a href="/PKR/GTQ">
        Convert 1 PKR to GTQ...
      </a>
    </li>
    <li>
      <a href="/PKR/GYD">
        Convert 1 PKR to GYD...
      </a>
    </li>
    <li>
      <a href="/PKR/HKD">
        Convert 1 PKR to HKD...
      </a>
    </li>
    <li>
      <a href="/PKR/HNL">
        Convert 1 PKR to HNL...
      </a>
    </li>
    <li>
      <a href="/PKR/HRK">
        Convert 1 PKR to HRK...
      </a>
    </li>
    <li>
      <a href="/PKR/HTG">
        Convert 1 PKR to HTG...
      </a>
    </li>
    <li>
      <a href="/PKR/HUF">
        Convert 1 PKR to HUF...
      </a>
    </li>
    <li>
      <a href="/PKR/IDR">
        Convert 1 PKR to IDR...
      </a>
    </li>
    <li>
      <a href="/PKR/ILS">
        Convert 1 PKR to ILS...
      </a>
    </li>
    <li>
      <a href="/PKR/IMP">
        Convert 1 PKR to IMP...
      </a>
    </li>
    <li>
      <a href="/PKR/INR">
        Convert 1 PKR to INR...
      </a>
    </li>
    <li>
      <a href="/PKR/IQD">
        Convert 1 PKR to IQD...
      </a>
    </li>
    <li>
      <a href="/PKR/IRR">
        Convert 1 PKR to IRR...
      </a>
    </li>
    <li>
      <a href="/PKR/ISK">
        Convert 1 PKR to ISK...
      </a>
    </li>
    <li>
      <a href="/PKR/JEP">
        Convert 1 PKR to JEP...
      </a>
    </li>
    <li>
      <a href="/PKR/JMD">
        Convert 1 PKR to JMD...
      </a>
    </li>
    <li>
      <a href="/PKR/JOD">
        Convert 1 PKR to JOD...
      </a>
    </li>
    <li>
      <a href="/PKR/JPY">
        Convert 1 PKR to JPY...
      </a>
    </li>
    <li>
      <a href="/PKR/KES">
        Convert 1 PKR to KES...
      </a>
    </li>
    <li>
      <a href="/PKR/KGS">
        Convert 1 PKR to KGS...
      </a>
    </li>
    <li>
      <a href="/PKR/KHR">
        Convert 1 PKR to KHR...
      </a>
    </li>
    <li>
      <a href="/PKR/KMF">
        Convert 1 PKR to KMF...
      </a>
    </li>
    <li>
      <a href="/PKR/KPW">
        Convert 1 PKR to KPW...
      </a>
    </li>
    <li>
      <a href="/PKR/KRW">
        Convert 1 PKR to KRW...
      </a>
    </li>
    <li>
      <a href="/PKR/KWD">
        Convert 1 PKR to KWD...
      </a>
    </li>
    <li>
      <a href="/PKR/KYD">
        Convert 1 PKR to KYD...
      </a>
    </li>
    <li>
      <a href="/PKR/KZT">
        Convert 1 PKR to KZT...
      </a>
    </li>
    <li>
      <a href="/PKR/LAK">
        Convert 1 PKR to LAK...
      </a>
    </li>
    <li>
      <a href="/PKR/LBP">
        Convert 1 PKR to LBP...
      </a>
    </li>
    <li>
      <a href="/PKR/LKR">
        Convert 1 PKR to LKR...
      </a>
    </li>
    <li>
      <a href="/PKR/LRD">
        Convert 1 PKR to LRD...
      </a>
    </li>
    <li>
      <a href="/PKR/LSL">
        Convert 1 PKR to LSL...
      </a>
    </li>
    <li>
      <a href="/PKR/LYD">
        Convert 1 PKR to LYD...
      </a>
    </li>
    <li>
      <a href="/PKR/MAD">
        Convert 1 PKR to MAD...
      </a>
    </li>
    <li>
      <a href="/PKR/MDL">
        Convert 1 PKR to MDL...
      </a>
    </li>
    <li>
      <a href="/PKR/MGA">
        Convert 1 PKR to MGA...
      </a>
    </li>
    <li>
      <a href="/PKR/MKD">
        Convert 1 PKR to MKD...
      </a>
    </li>
    <li>
      <a href="/PKR/MMK">
        Convert 1 PKR to MMK...
      </a>
    </li>
    <li>
      <a href="/PKR/MNT">
        Convert 1 PKR to MNT...
      </a>
    </li>
    <li>
      <a href="/PKR/MOP">
        Convert 1 PKR to MOP...
      </a>
    </li>
    <li>
      <a href="/PKR/MRO">
        Convert 1 PKR to MRO...
      </a>
    </li>
    <li>
      <a href="/PKR/MRU">
        Convert 1 PKR to MRU...
      </a>
    </li>
    <li>
      <a href="/PKR/MUR">
        Convert 1 PKR to MUR...
      </a>
    </li>
    <li>
      <a href="/PKR/MVR">
        Convert 1 PKR to MVR...
      </a>
    </li>
    <li>
      <a href="/PKR/MWK">
        Convert 1 PKR to MWK...
      </a>
    </li>
    <li>
      <a href="/PKR/MXN">
        Convert 1 PKR to MXN...
      </a>
    </li>
    <li>
      <a href="/PKR/MYR">
        Convert 1 PKR to MYR...
      </a>
    </li>
    <li>
      <a href="/PKR/MZN">
        Convert 1 PKR to MZN...
      </a>
    </li>
    <li>
      <a href="/PKR/NAD">
        Convert 1 PKR to NAD...
      </a>
    </li>
    <li>
      <a href="/PKR/NGN">
        Convert 1 PKR to NGN...
      </a>
    </li>
    <li>
      <a href="/PKR/NIO">
        Convert 1 PKR to NIO...
      </a>
    </li>
    <li>
      <a href="/PKR/NOK">
        Convert 1 PKR to NOK...
      </a>
    </li>
    <li>
      <a href="/PKR/NPR">
        Convert 1 PKR to NPR...
      </a>
    </li>
    <li>
      <a href="/PKR/NZD">
        Convert 1 PKR to NZD...
      </a>
    </li>
    <li>
      <a href="/PKR/OMR">
        Convert 1 PKR to OMR...
      </a>
    </li>
    <li>
      <a href="/PKR/PAB">
        Convert 1 PKR to PAB...
      </a>
    </li>
    <li>
      <a href="/PKR/PEN">
        Convert 1 PKR to PEN...
      </a>
    </li>
    <li>
      <a href="/PKR/PGK">
        Convert 1 PKR to PGK...
      </a>
    </li>
    <li>
      <a href="/PKR/PHP">
        Convert 1 PKR to PHP...
      </a>
    </li>
    <li>
      <a href="/PKR/PKR">
        Convert 1 PKR to PKR...
      </a>
    </li>
    <li>
      <a href="/PKR/PLN">
        Convert 1 PKR to PLN...
      </a>
    </li>
    <li>
      <a href="/PKR/PYG">
        Convert 1 PKR to PYG...
      </a>
    </li>
    <li>
      <a href="/PKR/QAR">
        Convert 1 PKR to QAR...
      </a>
    </li>
    <li>
      <a href="/PKR/RON">
        Convert 1 PKR to RON...
      </a>
    </li>
    <li>
      <a href="/PKR/RSD">
        Convert 1 PKR to RSD...
      </a>
    </li>
    <li>
      <a href="/PKR/RUB">
        Convert 1 PKR to RUB...
      </a>
    </li>
    <li>
      <a href="/PKR/RWF">
        Convert 1 PKR to RWF...
      </a>
    </li>
    <li>
      <a href="/PKR/SAR">
        Convert 1 PKR to SAR...
      </a>
    </li>
    <li>
      <a href="/PKR/SBD">
        Convert 1 PKR to SBD...
      </a>
    </li>
    <li>
      <a href="/PKR/SCR">
        Convert 1 PKR to SCR...
      </a>
    </li>
    <li>
      <a href="/PKR/SDG">
        Convert 1 PKR to SDG...
      </a>
    </li>
    <li>
      <a href="/PKR/SEK">
        Convert 1 PKR to SEK...
      </a>
    </li>
    <li>
      <a href="/PKR/SGD">
        Convert 1 PKR to SGD...
      </a>
    </li>
    <li>
      <a href="/PKR/SHP">
        Convert 1 PKR to SHP...
      </a>
    </li>
    <li>
      <a href="/PKR/SLL">
        Convert 1 PKR to SLL...
      </a>
    </li>
    <li>
      <a href="/PKR/SOS">
        Convert 1 PKR to SOS...
      </a>
    </li>
    <li>
      <a href="/PKR/SRD">
        Convert 1 PKR to SRD...
      </a>
    </li>
    <li>
      <a href="/PKR/SSP">
        Convert 1 PKR to SSP...
      </a>
    </li>
    <li>
      <a href="/PKR/STD">
        Convert 1 PKR to STD...
      </a>
    </li>
    <li>
      <a href="/PKR/STN">
        Convert 1 PKR to STN...
      </a>
    </li>
    <li>
      <a href="/PKR/SVC">
        Convert 1 PKR to SVC...
      </a>
    </li>
    <li>
      <a href="/PKR/SYP">
        Convert 1 PKR to SYP...
      </a>
    </li>
    <li>
      <a href="/PKR/SZL">
        Convert 1 PKR to SZL...
      </a>
    </li>
    <li>
      <a href="/PKR/THB">
        Convert 1 PKR to THB...
      </a>
    </li>
    <li>
      <a href="/PKR/TJS">
        Convert 1 PKR to TJS...
      </a>
    </li>
    <li>
      <a href="/PKR/TMT">
        Convert 1 PKR to TMT...
      </a>
    </li>
    <li>
      <a href="/PKR/TND">
        Convert 1 PKR to TND...
      </a>
    </li>
    <li>
      <a href="/PKR/TOP">
        Convert 1 PKR to TOP...
      </a>
    </li>
    <li>
      <a href="/PKR/TRY">
        Convert 1 PKR to TRY...
      </a>
    </li>
    <li>
      <a href="/PKR/TTD">
        Convert 1 PKR to TTD...
      </a>
    </li>
    <li>
      <a href="/PKR/TWD">
        Convert 1 PKR to TWD...
      </a>
    </li>
    <li>
      <a href="/PKR/TZS">
        Convert 1 PKR to TZS...
      </a>
    </li>
    <li>
      <a href="/PKR/UAH">
        Convert 1 PKR to UAH...
      </a>
    </li>
    <li>
      <a href="/PKR/UGX">
        Convert 1 PKR to UGX...
      </a>
    </li>
    <li>
      <a href="/PKR/USD">
        Convert 1 PKR to USD...
      </a>
    </li>
    <li>
      <a href="/PKR/UYU">
        Convert 1 PKR to UYU...
      </a>
    </li>
    <li>
      <a href="/PKR/UZS">
        Convert 1 PKR to UZS...
      </a>
    </li>
    <li>
      <a href="/PKR/VEF">
        Convert 1 PKR to VEF...
      </a>
    </li>
    <li>
      <a href="/PKR/VES">
        Convert 1 PKR to VES...
      </a>
    </li>
    <li>
      <a href="/PKR/VND">
        Convert 1 PKR to VND...
      </a>
    </li>
    <li>
      <a href="/PKR/VUV">
        Convert 1 PKR to VUV...
      </a>
    </li>
    <li>
      <a href="/PKR/WST">
        Convert 1 PKR to WST...
      </a>
    </li>
    <li>
      <a href="/PKR/XAF">
        Convert 1 PKR to XAF...
      </a>
    </li>
    <li>
      <a href="/PKR/XAG">
        Convert 1 PKR to XAG...
      </a>
    </li>
    <li>
      <a href="/PKR/XAU">
        Convert 1 PKR to XAU...
      </a>
    </li>
    <li>
      <a href="/PKR/XCD">
        Convert 1 PKR to XCD...
      </a>
    </li>
    <li>
      <a href="/PKR/XDR">
        Convert 1 PKR to XDR...
      </a>
    </li>
    <li>
      <a href="/PKR/XOF">
        Convert 1 PKR to XOF...
      </a>
    </li>
    <li>
      <a href="/PKR/XPD">
        Convert 1 PKR to XPD...
      </a>
    </li>
    <li>
      <a href="/PKR/XPF">
        Convert 1 PKR to XPF...
      </a>
    </li>
    <li>
      <a href="/PKR/XPT">
        Convert 1 PKR to XPT...
      </a>
    </li>
    <li>
      <a href="/PKR/YER">
        Convert 1 PKR to YER...
      </a>
    </li>
    <li>
      <a href="/PKR/ZAR">
        Convert 1 PKR to ZAR...
      </a>
    </li>
    <li>
      <a href="/PKR/ZMW">
        Convert 1 PKR to ZMW...
      </a>
    </li>
    <li>
      <a href="/PKR/ZWL">
        Convert 1 PKR to ZWL...
      </a>
    </li>
</ul>
</body>
