<body>
    <h1>Convert SCR</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/SCR/AED">
        Convert 1 SCR to AED...
      </a>
    </li>
    <li>
      <a href="/SCR/AFN">
        Convert 1 SCR to AFN...
      </a>
    </li>
    <li>
      <a href="/SCR/ALL">
        Convert 1 SCR to ALL...
      </a>
    </li>
    <li>
      <a href="/SCR/AMD">
        Convert 1 SCR to AMD...
      </a>
    </li>
    <li>
      <a href="/SCR/ANG">
        Convert 1 SCR to ANG...
      </a>
    </li>
    <li>
      <a href="/SCR/AOA">
        Convert 1 SCR to AOA...
      </a>
    </li>
    <li>
      <a href="/SCR/ARS">
        Convert 1 SCR to ARS...
      </a>
    </li>
    <li>
      <a href="/SCR/AUD">
        Convert 1 SCR to AUD...
      </a>
    </li>
    <li>
      <a href="/SCR/AWG">
        Convert 1 SCR to AWG...
      </a>
    </li>
    <li>
      <a href="/SCR/AZN">
        Convert 1 SCR to AZN...
      </a>
    </li>
    <li>
      <a href="/SCR/BAM">
        Convert 1 SCR to BAM...
      </a>
    </li>
    <li>
      <a href="/SCR/BBD">
        Convert 1 SCR to BBD...
      </a>
    </li>
    <li>
      <a href="/SCR/BDT">
        Convert 1 SCR to BDT...
      </a>
    </li>
    <li>
      <a href="/SCR/BGN">
        Convert 1 SCR to BGN...
      </a>
    </li>
    <li>
      <a href="/SCR/BHD">
        Convert 1 SCR to BHD...
      </a>
    </li>
    <li>
      <a href="/SCR/BIF">
        Convert 1 SCR to BIF...
      </a>
    </li>
    <li>
      <a href="/SCR/BMD">
        Convert 1 SCR to BMD...
      </a>
    </li>
    <li>
      <a href="/SCR/BND">
        Convert 1 SCR to BND...
      </a>
    </li>
    <li>
      <a href="/SCR/BOB">
        Convert 1 SCR to BOB...
      </a>
    </li>
    <li>
      <a href="/SCR/BRL">
        Convert 1 SCR to BRL...
      </a>
    </li>
    <li>
      <a href="/SCR/BSD">
        Convert 1 SCR to BSD...
      </a>
    </li>
    <li>
      <a href="/SCR/BTC">
        Convert 1 SCR to BTC...
      </a>
    </li>
    <li>
      <a href="/SCR/BTN">
        Convert 1 SCR to BTN...
      </a>
    </li>
    <li>
      <a href="/SCR/BWP">
        Convert 1 SCR to BWP...
      </a>
    </li>
    <li>
      <a href="/SCR/BYN">
        Convert 1 SCR to BYN...
      </a>
    </li>
    <li>
      <a href="/SCR/BZD">
        Convert 1 SCR to BZD...
      </a>
    </li>
    <li>
      <a href="/SCR/CAD">
        Convert 1 SCR to CAD...
      </a>
    </li>
    <li>
      <a href="/SCR/CDF">
        Convert 1 SCR to CDF...
      </a>
    </li>
    <li>
      <a href="/SCR/CHF">
        Convert 1 SCR to CHF...
      </a>
    </li>
    <li>
      <a href="/SCR/CLF">
        Convert 1 SCR to CLF...
      </a>
    </li>
    <li>
      <a href="/SCR/CLP">
        Convert 1 SCR to CLP...
      </a>
    </li>
    <li>
      <a href="/SCR/CNH">
        Convert 1 SCR to CNH...
      </a>
    </li>
    <li>
      <a href="/SCR/CNY">
        Convert 1 SCR to CNY...
      </a>
    </li>
    <li>
      <a href="/SCR/COP">
        Convert 1 SCR to COP...
      </a>
    </li>
    <li>
      <a href="/SCR/CRC">
        Convert 1 SCR to CRC...
      </a>
    </li>
    <li>
      <a href="/SCR/CUC">
        Convert 1 SCR to CUC...
      </a>
    </li>
    <li>
      <a href="/SCR/CUP">
        Convert 1 SCR to CUP...
      </a>
    </li>
    <li>
      <a href="/SCR/CVE">
        Convert 1 SCR to CVE...
      </a>
    </li>
    <li>
      <a href="/SCR/CZK">
        Convert 1 SCR to CZK...
      </a>
    </li>
    <li>
      <a href="/SCR/DJF">
        Convert 1 SCR to DJF...
      </a>
    </li>
    <li>
      <a href="/SCR/DKK">
        Convert 1 SCR to DKK...
      </a>
    </li>
    <li>
      <a href="/SCR/DOP">
        Convert 1 SCR to DOP...
      </a>
    </li>
    <li>
      <a href="/SCR/DZD">
        Convert 1 SCR to DZD...
      </a>
    </li>
    <li>
      <a href="/SCR/EGP">
        Convert 1 SCR to EGP...
      </a>
    </li>
    <li>
      <a href="/SCR/ERN">
        Convert 1 SCR to ERN...
      </a>
    </li>
    <li>
      <a href="/SCR/ETB">
        Convert 1 SCR to ETB...
      </a>
    </li>
    <li>
      <a href="/SCR/EUR">
        Convert 1 SCR to EUR...
      </a>
    </li>
    <li>
      <a href="/SCR/FJD">
        Convert 1 SCR to FJD...
      </a>
    </li>
    <li>
      <a href="/SCR/FKP">
        Convert 1 SCR to FKP...
      </a>
    </li>
    <li>
      <a href="/SCR/GBP">
        Convert 1 SCR to GBP...
      </a>
    </li>
    <li>
      <a href="/SCR/GEL">
        Convert 1 SCR to GEL...
      </a>
    </li>
    <li>
      <a href="/SCR/GGP">
        Convert 1 SCR to GGP...
      </a>
    </li>
    <li>
      <a href="/SCR/GHS">
        Convert 1 SCR to GHS...
      </a>
    </li>
    <li>
      <a href="/SCR/GIP">
        Convert 1 SCR to GIP...
      </a>
    </li>
    <li>
      <a href="/SCR/GMD">
        Convert 1 SCR to GMD...
      </a>
    </li>
    <li>
      <a href="/SCR/GNF">
        Convert 1 SCR to GNF...
      </a>
    </li>
    <li>
      <a href="/SCR/GTQ">
        Convert 1 SCR to GTQ...
      </a>
    </li>
    <li>
      <a href="/SCR/GYD">
        Convert 1 SCR to GYD...
      </a>
    </li>
    <li>
      <a href="/SCR/HKD">
        Convert 1 SCR to HKD...
      </a>
    </li>
    <li>
      <a href="/SCR/HNL">
        Convert 1 SCR to HNL...
      </a>
    </li>
    <li>
      <a href="/SCR/HRK">
        Convert 1 SCR to HRK...
      </a>
    </li>
    <li>
      <a href="/SCR/HTG">
        Convert 1 SCR to HTG...
      </a>
    </li>
    <li>
      <a href="/SCR/HUF">
        Convert 1 SCR to HUF...
      </a>
    </li>
    <li>
      <a href="/SCR/IDR">
        Convert 1 SCR to IDR...
      </a>
    </li>
    <li>
      <a href="/SCR/ILS">
        Convert 1 SCR to ILS...
      </a>
    </li>
    <li>
      <a href="/SCR/IMP">
        Convert 1 SCR to IMP...
      </a>
    </li>
    <li>
      <a href="/SCR/INR">
        Convert 1 SCR to INR...
      </a>
    </li>
    <li>
      <a href="/SCR/IQD">
        Convert 1 SCR to IQD...
      </a>
    </li>
    <li>
      <a href="/SCR/IRR">
        Convert 1 SCR to IRR...
      </a>
    </li>
    <li>
      <a href="/SCR/ISK">
        Convert 1 SCR to ISK...
      </a>
    </li>
    <li>
      <a href="/SCR/JEP">
        Convert 1 SCR to JEP...
      </a>
    </li>
    <li>
      <a href="/SCR/JMD">
        Convert 1 SCR to JMD...
      </a>
    </li>
    <li>
      <a href="/SCR/JOD">
        Convert 1 SCR to JOD...
      </a>
    </li>
    <li>
      <a href="/SCR/JPY">
        Convert 1 SCR to JPY...
      </a>
    </li>
    <li>
      <a href="/SCR/KES">
        Convert 1 SCR to KES...
      </a>
    </li>
    <li>
      <a href="/SCR/KGS">
        Convert 1 SCR to KGS...
      </a>
    </li>
    <li>
      <a href="/SCR/KHR">
        Convert 1 SCR to KHR...
      </a>
    </li>
    <li>
      <a href="/SCR/KMF">
        Convert 1 SCR to KMF...
      </a>
    </li>
    <li>
      <a href="/SCR/KPW">
        Convert 1 SCR to KPW...
      </a>
    </li>
    <li>
      <a href="/SCR/KRW">
        Convert 1 SCR to KRW...
      </a>
    </li>
    <li>
      <a href="/SCR/KWD">
        Convert 1 SCR to KWD...
      </a>
    </li>
    <li>
      <a href="/SCR/KYD">
        Convert 1 SCR to KYD...
      </a>
    </li>
    <li>
      <a href="/SCR/KZT">
        Convert 1 SCR to KZT...
      </a>
    </li>
    <li>
      <a href="/SCR/LAK">
        Convert 1 SCR to LAK...
      </a>
    </li>
    <li>
      <a href="/SCR/LBP">
        Convert 1 SCR to LBP...
      </a>
    </li>
    <li>
      <a href="/SCR/LKR">
        Convert 1 SCR to LKR...
      </a>
    </li>
    <li>
      <a href="/SCR/LRD">
        Convert 1 SCR to LRD...
      </a>
    </li>
    <li>
      <a href="/SCR/LSL">
        Convert 1 SCR to LSL...
      </a>
    </li>
    <li>
      <a href="/SCR/LYD">
        Convert 1 SCR to LYD...
      </a>
    </li>
    <li>
      <a href="/SCR/MAD">
        Convert 1 SCR to MAD...
      </a>
    </li>
    <li>
      <a href="/SCR/MDL">
        Convert 1 SCR to MDL...
      </a>
    </li>
    <li>
      <a href="/SCR/MGA">
        Convert 1 SCR to MGA...
      </a>
    </li>
    <li>
      <a href="/SCR/MKD">
        Convert 1 SCR to MKD...
      </a>
    </li>
    <li>
      <a href="/SCR/MMK">
        Convert 1 SCR to MMK...
      </a>
    </li>
    <li>
      <a href="/SCR/MNT">
        Convert 1 SCR to MNT...
      </a>
    </li>
    <li>
      <a href="/SCR/MOP">
        Convert 1 SCR to MOP...
      </a>
    </li>
    <li>
      <a href="/SCR/MRO">
        Convert 1 SCR to MRO...
      </a>
    </li>
    <li>
      <a href="/SCR/MRU">
        Convert 1 SCR to MRU...
      </a>
    </li>
    <li>
      <a href="/SCR/MUR">
        Convert 1 SCR to MUR...
      </a>
    </li>
    <li>
      <a href="/SCR/MVR">
        Convert 1 SCR to MVR...
      </a>
    </li>
    <li>
      <a href="/SCR/MWK">
        Convert 1 SCR to MWK...
      </a>
    </li>
    <li>
      <a href="/SCR/MXN">
        Convert 1 SCR to MXN...
      </a>
    </li>
    <li>
      <a href="/SCR/MYR">
        Convert 1 SCR to MYR...
      </a>
    </li>
    <li>
      <a href="/SCR/MZN">
        Convert 1 SCR to MZN...
      </a>
    </li>
    <li>
      <a href="/SCR/NAD">
        Convert 1 SCR to NAD...
      </a>
    </li>
    <li>
      <a href="/SCR/NGN">
        Convert 1 SCR to NGN...
      </a>
    </li>
    <li>
      <a href="/SCR/NIO">
        Convert 1 SCR to NIO...
      </a>
    </li>
    <li>
      <a href="/SCR/NOK">
        Convert 1 SCR to NOK...
      </a>
    </li>
    <li>
      <a href="/SCR/NPR">
        Convert 1 SCR to NPR...
      </a>
    </li>
    <li>
      <a href="/SCR/NZD">
        Convert 1 SCR to NZD...
      </a>
    </li>
    <li>
      <a href="/SCR/OMR">
        Convert 1 SCR to OMR...
      </a>
    </li>
    <li>
      <a href="/SCR/PAB">
        Convert 1 SCR to PAB...
      </a>
    </li>
    <li>
      <a href="/SCR/PEN">
        Convert 1 SCR to PEN...
      </a>
    </li>
    <li>
      <a href="/SCR/PGK">
        Convert 1 SCR to PGK...
      </a>
    </li>
    <li>
      <a href="/SCR/PHP">
        Convert 1 SCR to PHP...
      </a>
    </li>
    <li>
      <a href="/SCR/PKR">
        Convert 1 SCR to PKR...
      </a>
    </li>
    <li>
      <a href="/SCR/PLN">
        Convert 1 SCR to PLN...
      </a>
    </li>
    <li>
      <a href="/SCR/PYG">
        Convert 1 SCR to PYG...
      </a>
    </li>
    <li>
      <a href="/SCR/QAR">
        Convert 1 SCR to QAR...
      </a>
    </li>
    <li>
      <a href="/SCR/RON">
        Convert 1 SCR to RON...
      </a>
    </li>
    <li>
      <a href="/SCR/RSD">
        Convert 1 SCR to RSD...
      </a>
    </li>
    <li>
      <a href="/SCR/RUB">
        Convert 1 SCR to RUB...
      </a>
    </li>
    <li>
      <a href="/SCR/RWF">
        Convert 1 SCR to RWF...
      </a>
    </li>
    <li>
      <a href="/SCR/SAR">
        Convert 1 SCR to SAR...
      </a>
    </li>
    <li>
      <a href="/SCR/SBD">
        Convert 1 SCR to SBD...
      </a>
    </li>
    <li>
      <a href="/SCR/SCR">
        Convert 1 SCR to SCR...
      </a>
    </li>
    <li>
      <a href="/SCR/SDG">
        Convert 1 SCR to SDG...
      </a>
    </li>
    <li>
      <a href="/SCR/SEK">
        Convert 1 SCR to SEK...
      </a>
    </li>
    <li>
      <a href="/SCR/SGD">
        Convert 1 SCR to SGD...
      </a>
    </li>
    <li>
      <a href="/SCR/SHP">
        Convert 1 SCR to SHP...
      </a>
    </li>
    <li>
      <a href="/SCR/SLL">
        Convert 1 SCR to SLL...
      </a>
    </li>
    <li>
      <a href="/SCR/SOS">
        Convert 1 SCR to SOS...
      </a>
    </li>
    <li>
      <a href="/SCR/SRD">
        Convert 1 SCR to SRD...
      </a>
    </li>
    <li>
      <a href="/SCR/SSP">
        Convert 1 SCR to SSP...
      </a>
    </li>
    <li>
      <a href="/SCR/STD">
        Convert 1 SCR to STD...
      </a>
    </li>
    <li>
      <a href="/SCR/STN">
        Convert 1 SCR to STN...
      </a>
    </li>
    <li>
      <a href="/SCR/SVC">
        Convert 1 SCR to SVC...
      </a>
    </li>
    <li>
      <a href="/SCR/SYP">
        Convert 1 SCR to SYP...
      </a>
    </li>
    <li>
      <a href="/SCR/SZL">
        Convert 1 SCR to SZL...
      </a>
    </li>
    <li>
      <a href="/SCR/THB">
        Convert 1 SCR to THB...
      </a>
    </li>
    <li>
      <a href="/SCR/TJS">
        Convert 1 SCR to TJS...
      </a>
    </li>
    <li>
      <a href="/SCR/TMT">
        Convert 1 SCR to TMT...
      </a>
    </li>
    <li>
      <a href="/SCR/TND">
        Convert 1 SCR to TND...
      </a>
    </li>
    <li>
      <a href="/SCR/TOP">
        Convert 1 SCR to TOP...
      </a>
    </li>
    <li>
      <a href="/SCR/TRY">
        Convert 1 SCR to TRY...
      </a>
    </li>
    <li>
      <a href="/SCR/TTD">
        Convert 1 SCR to TTD...
      </a>
    </li>
    <li>
      <a href="/SCR/TWD">
        Convert 1 SCR to TWD...
      </a>
    </li>
    <li>
      <a href="/SCR/TZS">
        Convert 1 SCR to TZS...
      </a>
    </li>
    <li>
      <a href="/SCR/UAH">
        Convert 1 SCR to UAH...
      </a>
    </li>
    <li>
      <a href="/SCR/UGX">
        Convert 1 SCR to UGX...
      </a>
    </li>
    <li>
      <a href="/SCR/USD">
        Convert 1 SCR to USD...
      </a>
    </li>
    <li>
      <a href="/SCR/UYU">
        Convert 1 SCR to UYU...
      </a>
    </li>
    <li>
      <a href="/SCR/UZS">
        Convert 1 SCR to UZS...
      </a>
    </li>
    <li>
      <a href="/SCR/VEF">
        Convert 1 SCR to VEF...
      </a>
    </li>
    <li>
      <a href="/SCR/VES">
        Convert 1 SCR to VES...
      </a>
    </li>
    <li>
      <a href="/SCR/VND">
        Convert 1 SCR to VND...
      </a>
    </li>
    <li>
      <a href="/SCR/VUV">
        Convert 1 SCR to VUV...
      </a>
    </li>
    <li>
      <a href="/SCR/WST">
        Convert 1 SCR to WST...
      </a>
    </li>
    <li>
      <a href="/SCR/XAF">
        Convert 1 SCR to XAF...
      </a>
    </li>
    <li>
      <a href="/SCR/XAG">
        Convert 1 SCR to XAG...
      </a>
    </li>
    <li>
      <a href="/SCR/XAU">
        Convert 1 SCR to XAU...
      </a>
    </li>
    <li>
      <a href="/SCR/XCD">
        Convert 1 SCR to XCD...
      </a>
    </li>
    <li>
      <a href="/SCR/XDR">
        Convert 1 SCR to XDR...
      </a>
    </li>
    <li>
      <a href="/SCR/XOF">
        Convert 1 SCR to XOF...
      </a>
    </li>
    <li>
      <a href="/SCR/XPD">
        Convert 1 SCR to XPD...
      </a>
    </li>
    <li>
      <a href="/SCR/XPF">
        Convert 1 SCR to XPF...
      </a>
    </li>
    <li>
      <a href="/SCR/XPT">
        Convert 1 SCR to XPT...
      </a>
    </li>
    <li>
      <a href="/SCR/YER">
        Convert 1 SCR to YER...
      </a>
    </li>
    <li>
      <a href="/SCR/ZAR">
        Convert 1 SCR to ZAR...
      </a>
    </li>
    <li>
      <a href="/SCR/ZMW">
        Convert 1 SCR to ZMW...
      </a>
    </li>
    <li>
      <a href="/SCR/ZWL">
        Convert 1 SCR to ZWL...
      </a>
    </li>
</ul>
</body>
