<body>
    <h1>Convert SEK</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/SEK/AED">
        Convert 1 SEK to AED...
      </a>
    </li>
    <li>
      <a href="/SEK/AFN">
        Convert 1 SEK to AFN...
      </a>
    </li>
    <li>
      <a href="/SEK/ALL">
        Convert 1 SEK to ALL...
      </a>
    </li>
    <li>
      <a href="/SEK/AMD">
        Convert 1 SEK to AMD...
      </a>
    </li>
    <li>
      <a href="/SEK/ANG">
        Convert 1 SEK to ANG...
      </a>
    </li>
    <li>
      <a href="/SEK/AOA">
        Convert 1 SEK to AOA...
      </a>
    </li>
    <li>
      <a href="/SEK/ARS">
        Convert 1 SEK to ARS...
      </a>
    </li>
    <li>
      <a href="/SEK/AUD">
        Convert 1 SEK to AUD...
      </a>
    </li>
    <li>
      <a href="/SEK/AWG">
        Convert 1 SEK to AWG...
      </a>
    </li>
    <li>
      <a href="/SEK/AZN">
        Convert 1 SEK to AZN...
      </a>
    </li>
    <li>
      <a href="/SEK/BAM">
        Convert 1 SEK to BAM...
      </a>
    </li>
    <li>
      <a href="/SEK/BBD">
        Convert 1 SEK to BBD...
      </a>
    </li>
    <li>
      <a href="/SEK/BDT">
        Convert 1 SEK to BDT...
      </a>
    </li>
    <li>
      <a href="/SEK/BGN">
        Convert 1 SEK to BGN...
      </a>
    </li>
    <li>
      <a href="/SEK/BHD">
        Convert 1 SEK to BHD...
      </a>
    </li>
    <li>
      <a href="/SEK/BIF">
        Convert 1 SEK to BIF...
      </a>
    </li>
    <li>
      <a href="/SEK/BMD">
        Convert 1 SEK to BMD...
      </a>
    </li>
    <li>
      <a href="/SEK/BND">
        Convert 1 SEK to BND...
      </a>
    </li>
    <li>
      <a href="/SEK/BOB">
        Convert 1 SEK to BOB...
      </a>
    </li>
    <li>
      <a href="/SEK/BRL">
        Convert 1 SEK to BRL...
      </a>
    </li>
    <li>
      <a href="/SEK/BSD">
        Convert 1 SEK to BSD...
      </a>
    </li>
    <li>
      <a href="/SEK/BTC">
        Convert 1 SEK to BTC...
      </a>
    </li>
    <li>
      <a href="/SEK/BTN">
        Convert 1 SEK to BTN...
      </a>
    </li>
    <li>
      <a href="/SEK/BWP">
        Convert 1 SEK to BWP...
      </a>
    </li>
    <li>
      <a href="/SEK/BYN">
        Convert 1 SEK to BYN...
      </a>
    </li>
    <li>
      <a href="/SEK/BZD">
        Convert 1 SEK to BZD...
      </a>
    </li>
    <li>
      <a href="/SEK/CAD">
        Convert 1 SEK to CAD...
      </a>
    </li>
    <li>
      <a href="/SEK/CDF">
        Convert 1 SEK to CDF...
      </a>
    </li>
    <li>
      <a href="/SEK/CHF">
        Convert 1 SEK to CHF...
      </a>
    </li>
    <li>
      <a href="/SEK/CLF">
        Convert 1 SEK to CLF...
      </a>
    </li>
    <li>
      <a href="/SEK/CLP">
        Convert 1 SEK to CLP...
      </a>
    </li>
    <li>
      <a href="/SEK/CNH">
        Convert 1 SEK to CNH...
      </a>
    </li>
    <li>
      <a href="/SEK/CNY">
        Convert 1 SEK to CNY...
      </a>
    </li>
    <li>
      <a href="/SEK/COP">
        Convert 1 SEK to COP...
      </a>
    </li>
    <li>
      <a href="/SEK/CRC">
        Convert 1 SEK to CRC...
      </a>
    </li>
    <li>
      <a href="/SEK/CUC">
        Convert 1 SEK to CUC...
      </a>
    </li>
    <li>
      <a href="/SEK/CUP">
        Convert 1 SEK to CUP...
      </a>
    </li>
    <li>
      <a href="/SEK/CVE">
        Convert 1 SEK to CVE...
      </a>
    </li>
    <li>
      <a href="/SEK/CZK">
        Convert 1 SEK to CZK...
      </a>
    </li>
    <li>
      <a href="/SEK/DJF">
        Convert 1 SEK to DJF...
      </a>
    </li>
    <li>
      <a href="/SEK/DKK">
        Convert 1 SEK to DKK...
      </a>
    </li>
    <li>
      <a href="/SEK/DOP">
        Convert 1 SEK to DOP...
      </a>
    </li>
    <li>
      <a href="/SEK/DZD">
        Convert 1 SEK to DZD...
      </a>
    </li>
    <li>
      <a href="/SEK/EGP">
        Convert 1 SEK to EGP...
      </a>
    </li>
    <li>
      <a href="/SEK/ERN">
        Convert 1 SEK to ERN...
      </a>
    </li>
    <li>
      <a href="/SEK/ETB">
        Convert 1 SEK to ETB...
      </a>
    </li>
    <li>
      <a href="/SEK/EUR">
        Convert 1 SEK to EUR...
      </a>
    </li>
    <li>
      <a href="/SEK/FJD">
        Convert 1 SEK to FJD...
      </a>
    </li>
    <li>
      <a href="/SEK/FKP">
        Convert 1 SEK to FKP...
      </a>
    </li>
    <li>
      <a href="/SEK/GBP">
        Convert 1 SEK to GBP...
      </a>
    </li>
    <li>
      <a href="/SEK/GEL">
        Convert 1 SEK to GEL...
      </a>
    </li>
    <li>
      <a href="/SEK/GGP">
        Convert 1 SEK to GGP...
      </a>
    </li>
    <li>
      <a href="/SEK/GHS">
        Convert 1 SEK to GHS...
      </a>
    </li>
    <li>
      <a href="/SEK/GIP">
        Convert 1 SEK to GIP...
      </a>
    </li>
    <li>
      <a href="/SEK/GMD">
        Convert 1 SEK to GMD...
      </a>
    </li>
    <li>
      <a href="/SEK/GNF">
        Convert 1 SEK to GNF...
      </a>
    </li>
    <li>
      <a href="/SEK/GTQ">
        Convert 1 SEK to GTQ...
      </a>
    </li>
    <li>
      <a href="/SEK/GYD">
        Convert 1 SEK to GYD...
      </a>
    </li>
    <li>
      <a href="/SEK/HKD">
        Convert 1 SEK to HKD...
      </a>
    </li>
    <li>
      <a href="/SEK/HNL">
        Convert 1 SEK to HNL...
      </a>
    </li>
    <li>
      <a href="/SEK/HRK">
        Convert 1 SEK to HRK...
      </a>
    </li>
    <li>
      <a href="/SEK/HTG">
        Convert 1 SEK to HTG...
      </a>
    </li>
    <li>
      <a href="/SEK/HUF">
        Convert 1 SEK to HUF...
      </a>
    </li>
    <li>
      <a href="/SEK/IDR">
        Convert 1 SEK to IDR...
      </a>
    </li>
    <li>
      <a href="/SEK/ILS">
        Convert 1 SEK to ILS...
      </a>
    </li>
    <li>
      <a href="/SEK/IMP">
        Convert 1 SEK to IMP...
      </a>
    </li>
    <li>
      <a href="/SEK/INR">
        Convert 1 SEK to INR...
      </a>
    </li>
    <li>
      <a href="/SEK/IQD">
        Convert 1 SEK to IQD...
      </a>
    </li>
    <li>
      <a href="/SEK/IRR">
        Convert 1 SEK to IRR...
      </a>
    </li>
    <li>
      <a href="/SEK/ISK">
        Convert 1 SEK to ISK...
      </a>
    </li>
    <li>
      <a href="/SEK/JEP">
        Convert 1 SEK to JEP...
      </a>
    </li>
    <li>
      <a href="/SEK/JMD">
        Convert 1 SEK to JMD...
      </a>
    </li>
    <li>
      <a href="/SEK/JOD">
        Convert 1 SEK to JOD...
      </a>
    </li>
    <li>
      <a href="/SEK/JPY">
        Convert 1 SEK to JPY...
      </a>
    </li>
    <li>
      <a href="/SEK/KES">
        Convert 1 SEK to KES...
      </a>
    </li>
    <li>
      <a href="/SEK/KGS">
        Convert 1 SEK to KGS...
      </a>
    </li>
    <li>
      <a href="/SEK/KHR">
        Convert 1 SEK to KHR...
      </a>
    </li>
    <li>
      <a href="/SEK/KMF">
        Convert 1 SEK to KMF...
      </a>
    </li>
    <li>
      <a href="/SEK/KPW">
        Convert 1 SEK to KPW...
      </a>
    </li>
    <li>
      <a href="/SEK/KRW">
        Convert 1 SEK to KRW...
      </a>
    </li>
    <li>
      <a href="/SEK/KWD">
        Convert 1 SEK to KWD...
      </a>
    </li>
    <li>
      <a href="/SEK/KYD">
        Convert 1 SEK to KYD...
      </a>
    </li>
    <li>
      <a href="/SEK/KZT">
        Convert 1 SEK to KZT...
      </a>
    </li>
    <li>
      <a href="/SEK/LAK">
        Convert 1 SEK to LAK...
      </a>
    </li>
    <li>
      <a href="/SEK/LBP">
        Convert 1 SEK to LBP...
      </a>
    </li>
    <li>
      <a href="/SEK/LKR">
        Convert 1 SEK to LKR...
      </a>
    </li>
    <li>
      <a href="/SEK/LRD">
        Convert 1 SEK to LRD...
      </a>
    </li>
    <li>
      <a href="/SEK/LSL">
        Convert 1 SEK to LSL...
      </a>
    </li>
    <li>
      <a href="/SEK/LYD">
        Convert 1 SEK to LYD...
      </a>
    </li>
    <li>
      <a href="/SEK/MAD">
        Convert 1 SEK to MAD...
      </a>
    </li>
    <li>
      <a href="/SEK/MDL">
        Convert 1 SEK to MDL...
      </a>
    </li>
    <li>
      <a href="/SEK/MGA">
        Convert 1 SEK to MGA...
      </a>
    </li>
    <li>
      <a href="/SEK/MKD">
        Convert 1 SEK to MKD...
      </a>
    </li>
    <li>
      <a href="/SEK/MMK">
        Convert 1 SEK to MMK...
      </a>
    </li>
    <li>
      <a href="/SEK/MNT">
        Convert 1 SEK to MNT...
      </a>
    </li>
    <li>
      <a href="/SEK/MOP">
        Convert 1 SEK to MOP...
      </a>
    </li>
    <li>
      <a href="/SEK/MRO">
        Convert 1 SEK to MRO...
      </a>
    </li>
    <li>
      <a href="/SEK/MRU">
        Convert 1 SEK to MRU...
      </a>
    </li>
    <li>
      <a href="/SEK/MUR">
        Convert 1 SEK to MUR...
      </a>
    </li>
    <li>
      <a href="/SEK/MVR">
        Convert 1 SEK to MVR...
      </a>
    </li>
    <li>
      <a href="/SEK/MWK">
        Convert 1 SEK to MWK...
      </a>
    </li>
    <li>
      <a href="/SEK/MXN">
        Convert 1 SEK to MXN...
      </a>
    </li>
    <li>
      <a href="/SEK/MYR">
        Convert 1 SEK to MYR...
      </a>
    </li>
    <li>
      <a href="/SEK/MZN">
        Convert 1 SEK to MZN...
      </a>
    </li>
    <li>
      <a href="/SEK/NAD">
        Convert 1 SEK to NAD...
      </a>
    </li>
    <li>
      <a href="/SEK/NGN">
        Convert 1 SEK to NGN...
      </a>
    </li>
    <li>
      <a href="/SEK/NIO">
        Convert 1 SEK to NIO...
      </a>
    </li>
    <li>
      <a href="/SEK/NOK">
        Convert 1 SEK to NOK...
      </a>
    </li>
    <li>
      <a href="/SEK/NPR">
        Convert 1 SEK to NPR...
      </a>
    </li>
    <li>
      <a href="/SEK/NZD">
        Convert 1 SEK to NZD...
      </a>
    </li>
    <li>
      <a href="/SEK/OMR">
        Convert 1 SEK to OMR...
      </a>
    </li>
    <li>
      <a href="/SEK/PAB">
        Convert 1 SEK to PAB...
      </a>
    </li>
    <li>
      <a href="/SEK/PEN">
        Convert 1 SEK to PEN...
      </a>
    </li>
    <li>
      <a href="/SEK/PGK">
        Convert 1 SEK to PGK...
      </a>
    </li>
    <li>
      <a href="/SEK/PHP">
        Convert 1 SEK to PHP...
      </a>
    </li>
    <li>
      <a href="/SEK/PKR">
        Convert 1 SEK to PKR...
      </a>
    </li>
    <li>
      <a href="/SEK/PLN">
        Convert 1 SEK to PLN...
      </a>
    </li>
    <li>
      <a href="/SEK/PYG">
        Convert 1 SEK to PYG...
      </a>
    </li>
    <li>
      <a href="/SEK/QAR">
        Convert 1 SEK to QAR...
      </a>
    </li>
    <li>
      <a href="/SEK/RON">
        Convert 1 SEK to RON...
      </a>
    </li>
    <li>
      <a href="/SEK/RSD">
        Convert 1 SEK to RSD...
      </a>
    </li>
    <li>
      <a href="/SEK/RUB">
        Convert 1 SEK to RUB...
      </a>
    </li>
    <li>
      <a href="/SEK/RWF">
        Convert 1 SEK to RWF...
      </a>
    </li>
    <li>
      <a href="/SEK/SAR">
        Convert 1 SEK to SAR...
      </a>
    </li>
    <li>
      <a href="/SEK/SBD">
        Convert 1 SEK to SBD...
      </a>
    </li>
    <li>
      <a href="/SEK/SCR">
        Convert 1 SEK to SCR...
      </a>
    </li>
    <li>
      <a href="/SEK/SDG">
        Convert 1 SEK to SDG...
      </a>
    </li>
    <li>
      <a href="/SEK/SEK">
        Convert 1 SEK to SEK...
      </a>
    </li>
    <li>
      <a href="/SEK/SGD">
        Convert 1 SEK to SGD...
      </a>
    </li>
    <li>
      <a href="/SEK/SHP">
        Convert 1 SEK to SHP...
      </a>
    </li>
    <li>
      <a href="/SEK/SLL">
        Convert 1 SEK to SLL...
      </a>
    </li>
    <li>
      <a href="/SEK/SOS">
        Convert 1 SEK to SOS...
      </a>
    </li>
    <li>
      <a href="/SEK/SRD">
        Convert 1 SEK to SRD...
      </a>
    </li>
    <li>
      <a href="/SEK/SSP">
        Convert 1 SEK to SSP...
      </a>
    </li>
    <li>
      <a href="/SEK/STD">
        Convert 1 SEK to STD...
      </a>
    </li>
    <li>
      <a href="/SEK/STN">
        Convert 1 SEK to STN...
      </a>
    </li>
    <li>
      <a href="/SEK/SVC">
        Convert 1 SEK to SVC...
      </a>
    </li>
    <li>
      <a href="/SEK/SYP">
        Convert 1 SEK to SYP...
      </a>
    </li>
    <li>
      <a href="/SEK/SZL">
        Convert 1 SEK to SZL...
      </a>
    </li>
    <li>
      <a href="/SEK/THB">
        Convert 1 SEK to THB...
      </a>
    </li>
    <li>
      <a href="/SEK/TJS">
        Convert 1 SEK to TJS...
      </a>
    </li>
    <li>
      <a href="/SEK/TMT">
        Convert 1 SEK to TMT...
      </a>
    </li>
    <li>
      <a href="/SEK/TND">
        Convert 1 SEK to TND...
      </a>
    </li>
    <li>
      <a href="/SEK/TOP">
        Convert 1 SEK to TOP...
      </a>
    </li>
    <li>
      <a href="/SEK/TRY">
        Convert 1 SEK to TRY...
      </a>
    </li>
    <li>
      <a href="/SEK/TTD">
        Convert 1 SEK to TTD...
      </a>
    </li>
    <li>
      <a href="/SEK/TWD">
        Convert 1 SEK to TWD...
      </a>
    </li>
    <li>
      <a href="/SEK/TZS">
        Convert 1 SEK to TZS...
      </a>
    </li>
    <li>
      <a href="/SEK/UAH">
        Convert 1 SEK to UAH...
      </a>
    </li>
    <li>
      <a href="/SEK/UGX">
        Convert 1 SEK to UGX...
      </a>
    </li>
    <li>
      <a href="/SEK/USD">
        Convert 1 SEK to USD...
      </a>
    </li>
    <li>
      <a href="/SEK/UYU">
        Convert 1 SEK to UYU...
      </a>
    </li>
    <li>
      <a href="/SEK/UZS">
        Convert 1 SEK to UZS...
      </a>
    </li>
    <li>
      <a href="/SEK/VEF">
        Convert 1 SEK to VEF...
      </a>
    </li>
    <li>
      <a href="/SEK/VES">
        Convert 1 SEK to VES...
      </a>
    </li>
    <li>
      <a href="/SEK/VND">
        Convert 1 SEK to VND...
      </a>
    </li>
    <li>
      <a href="/SEK/VUV">
        Convert 1 SEK to VUV...
      </a>
    </li>
    <li>
      <a href="/SEK/WST">
        Convert 1 SEK to WST...
      </a>
    </li>
    <li>
      <a href="/SEK/XAF">
        Convert 1 SEK to XAF...
      </a>
    </li>
    <li>
      <a href="/SEK/XAG">
        Convert 1 SEK to XAG...
      </a>
    </li>
    <li>
      <a href="/SEK/XAU">
        Convert 1 SEK to XAU...
      </a>
    </li>
    <li>
      <a href="/SEK/XCD">
        Convert 1 SEK to XCD...
      </a>
    </li>
    <li>
      <a href="/SEK/XDR">
        Convert 1 SEK to XDR...
      </a>
    </li>
    <li>
      <a href="/SEK/XOF">
        Convert 1 SEK to XOF...
      </a>
    </li>
    <li>
      <a href="/SEK/XPD">
        Convert 1 SEK to XPD...
      </a>
    </li>
    <li>
      <a href="/SEK/XPF">
        Convert 1 SEK to XPF...
      </a>
    </li>
    <li>
      <a href="/SEK/XPT">
        Convert 1 SEK to XPT...
      </a>
    </li>
    <li>
      <a href="/SEK/YER">
        Convert 1 SEK to YER...
      </a>
    </li>
    <li>
      <a href="/SEK/ZAR">
        Convert 1 SEK to ZAR...
      </a>
    </li>
    <li>
      <a href="/SEK/ZMW">
        Convert 1 SEK to ZMW...
      </a>
    </li>
    <li>
      <a href="/SEK/ZWL">
        Convert 1 SEK to ZWL...
      </a>
    </li>
</ul>
</body>
