<body>
    <h1>Convert SSP</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/SSP/AED">
        Convert 1 SSP to AED...
      </a>
    </li>
    <li>
      <a href="/SSP/AFN">
        Convert 1 SSP to AFN...
      </a>
    </li>
    <li>
      <a href="/SSP/ALL">
        Convert 1 SSP to ALL...
      </a>
    </li>
    <li>
      <a href="/SSP/AMD">
        Convert 1 SSP to AMD...
      </a>
    </li>
    <li>
      <a href="/SSP/ANG">
        Convert 1 SSP to ANG...
      </a>
    </li>
    <li>
      <a href="/SSP/AOA">
        Convert 1 SSP to AOA...
      </a>
    </li>
    <li>
      <a href="/SSP/ARS">
        Convert 1 SSP to ARS...
      </a>
    </li>
    <li>
      <a href="/SSP/AUD">
        Convert 1 SSP to AUD...
      </a>
    </li>
    <li>
      <a href="/SSP/AWG">
        Convert 1 SSP to AWG...
      </a>
    </li>
    <li>
      <a href="/SSP/AZN">
        Convert 1 SSP to AZN...
      </a>
    </li>
    <li>
      <a href="/SSP/BAM">
        Convert 1 SSP to BAM...
      </a>
    </li>
    <li>
      <a href="/SSP/BBD">
        Convert 1 SSP to BBD...
      </a>
    </li>
    <li>
      <a href="/SSP/BDT">
        Convert 1 SSP to BDT...
      </a>
    </li>
    <li>
      <a href="/SSP/BGN">
        Convert 1 SSP to BGN...
      </a>
    </li>
    <li>
      <a href="/SSP/BHD">
        Convert 1 SSP to BHD...
      </a>
    </li>
    <li>
      <a href="/SSP/BIF">
        Convert 1 SSP to BIF...
      </a>
    </li>
    <li>
      <a href="/SSP/BMD">
        Convert 1 SSP to BMD...
      </a>
    </li>
    <li>
      <a href="/SSP/BND">
        Convert 1 SSP to BND...
      </a>
    </li>
    <li>
      <a href="/SSP/BOB">
        Convert 1 SSP to BOB...
      </a>
    </li>
    <li>
      <a href="/SSP/BRL">
        Convert 1 SSP to BRL...
      </a>
    </li>
    <li>
      <a href="/SSP/BSD">
        Convert 1 SSP to BSD...
      </a>
    </li>
    <li>
      <a href="/SSP/BTC">
        Convert 1 SSP to BTC...
      </a>
    </li>
    <li>
      <a href="/SSP/BTN">
        Convert 1 SSP to BTN...
      </a>
    </li>
    <li>
      <a href="/SSP/BWP">
        Convert 1 SSP to BWP...
      </a>
    </li>
    <li>
      <a href="/SSP/BYN">
        Convert 1 SSP to BYN...
      </a>
    </li>
    <li>
      <a href="/SSP/BZD">
        Convert 1 SSP to BZD...
      </a>
    </li>
    <li>
      <a href="/SSP/CAD">
        Convert 1 SSP to CAD...
      </a>
    </li>
    <li>
      <a href="/SSP/CDF">
        Convert 1 SSP to CDF...
      </a>
    </li>
    <li>
      <a href="/SSP/CHF">
        Convert 1 SSP to CHF...
      </a>
    </li>
    <li>
      <a href="/SSP/CLF">
        Convert 1 SSP to CLF...
      </a>
    </li>
    <li>
      <a href="/SSP/CLP">
        Convert 1 SSP to CLP...
      </a>
    </li>
    <li>
      <a href="/SSP/CNH">
        Convert 1 SSP to CNH...
      </a>
    </li>
    <li>
      <a href="/SSP/CNY">
        Convert 1 SSP to CNY...
      </a>
    </li>
    <li>
      <a href="/SSP/COP">
        Convert 1 SSP to COP...
      </a>
    </li>
    <li>
      <a href="/SSP/CRC">
        Convert 1 SSP to CRC...
      </a>
    </li>
    <li>
      <a href="/SSP/CUC">
        Convert 1 SSP to CUC...
      </a>
    </li>
    <li>
      <a href="/SSP/CUP">
        Convert 1 SSP to CUP...
      </a>
    </li>
    <li>
      <a href="/SSP/CVE">
        Convert 1 SSP to CVE...
      </a>
    </li>
    <li>
      <a href="/SSP/CZK">
        Convert 1 SSP to CZK...
      </a>
    </li>
    <li>
      <a href="/SSP/DJF">
        Convert 1 SSP to DJF...
      </a>
    </li>
    <li>
      <a href="/SSP/DKK">
        Convert 1 SSP to DKK...
      </a>
    </li>
    <li>
      <a href="/SSP/DOP">
        Convert 1 SSP to DOP...
      </a>
    </li>
    <li>
      <a href="/SSP/DZD">
        Convert 1 SSP to DZD...
      </a>
    </li>
    <li>
      <a href="/SSP/EGP">
        Convert 1 SSP to EGP...
      </a>
    </li>
    <li>
      <a href="/SSP/ERN">
        Convert 1 SSP to ERN...
      </a>
    </li>
    <li>
      <a href="/SSP/ETB">
        Convert 1 SSP to ETB...
      </a>
    </li>
    <li>
      <a href="/SSP/EUR">
        Convert 1 SSP to EUR...
      </a>
    </li>
    <li>
      <a href="/SSP/FJD">
        Convert 1 SSP to FJD...
      </a>
    </li>
    <li>
      <a href="/SSP/FKP">
        Convert 1 SSP to FKP...
      </a>
    </li>
    <li>
      <a href="/SSP/GBP">
        Convert 1 SSP to GBP...
      </a>
    </li>
    <li>
      <a href="/SSP/GEL">
        Convert 1 SSP to GEL...
      </a>
    </li>
    <li>
      <a href="/SSP/GGP">
        Convert 1 SSP to GGP...
      </a>
    </li>
    <li>
      <a href="/SSP/GHS">
        Convert 1 SSP to GHS...
      </a>
    </li>
    <li>
      <a href="/SSP/GIP">
        Convert 1 SSP to GIP...
      </a>
    </li>
    <li>
      <a href="/SSP/GMD">
        Convert 1 SSP to GMD...
      </a>
    </li>
    <li>
      <a href="/SSP/GNF">
        Convert 1 SSP to GNF...
      </a>
    </li>
    <li>
      <a href="/SSP/GTQ">
        Convert 1 SSP to GTQ...
      </a>
    </li>
    <li>
      <a href="/SSP/GYD">
        Convert 1 SSP to GYD...
      </a>
    </li>
    <li>
      <a href="/SSP/HKD">
        Convert 1 SSP to HKD...
      </a>
    </li>
    <li>
      <a href="/SSP/HNL">
        Convert 1 SSP to HNL...
      </a>
    </li>
    <li>
      <a href="/SSP/HRK">
        Convert 1 SSP to HRK...
      </a>
    </li>
    <li>
      <a href="/SSP/HTG">
        Convert 1 SSP to HTG...
      </a>
    </li>
    <li>
      <a href="/SSP/HUF">
        Convert 1 SSP to HUF...
      </a>
    </li>
    <li>
      <a href="/SSP/IDR">
        Convert 1 SSP to IDR...
      </a>
    </li>
    <li>
      <a href="/SSP/ILS">
        Convert 1 SSP to ILS...
      </a>
    </li>
    <li>
      <a href="/SSP/IMP">
        Convert 1 SSP to IMP...
      </a>
    </li>
    <li>
      <a href="/SSP/INR">
        Convert 1 SSP to INR...
      </a>
    </li>
    <li>
      <a href="/SSP/IQD">
        Convert 1 SSP to IQD...
      </a>
    </li>
    <li>
      <a href="/SSP/IRR">
        Convert 1 SSP to IRR...
      </a>
    </li>
    <li>
      <a href="/SSP/ISK">
        Convert 1 SSP to ISK...
      </a>
    </li>
    <li>
      <a href="/SSP/JEP">
        Convert 1 SSP to JEP...
      </a>
    </li>
    <li>
      <a href="/SSP/JMD">
        Convert 1 SSP to JMD...
      </a>
    </li>
    <li>
      <a href="/SSP/JOD">
        Convert 1 SSP to JOD...
      </a>
    </li>
    <li>
      <a href="/SSP/JPY">
        Convert 1 SSP to JPY...
      </a>
    </li>
    <li>
      <a href="/SSP/KES">
        Convert 1 SSP to KES...
      </a>
    </li>
    <li>
      <a href="/SSP/KGS">
        Convert 1 SSP to KGS...
      </a>
    </li>
    <li>
      <a href="/SSP/KHR">
        Convert 1 SSP to KHR...
      </a>
    </li>
    <li>
      <a href="/SSP/KMF">
        Convert 1 SSP to KMF...
      </a>
    </li>
    <li>
      <a href="/SSP/KPW">
        Convert 1 SSP to KPW...
      </a>
    </li>
    <li>
      <a href="/SSP/KRW">
        Convert 1 SSP to KRW...
      </a>
    </li>
    <li>
      <a href="/SSP/KWD">
        Convert 1 SSP to KWD...
      </a>
    </li>
    <li>
      <a href="/SSP/KYD">
        Convert 1 SSP to KYD...
      </a>
    </li>
    <li>
      <a href="/SSP/KZT">
        Convert 1 SSP to KZT...
      </a>
    </li>
    <li>
      <a href="/SSP/LAK">
        Convert 1 SSP to LAK...
      </a>
    </li>
    <li>
      <a href="/SSP/LBP">
        Convert 1 SSP to LBP...
      </a>
    </li>
    <li>
      <a href="/SSP/LKR">
        Convert 1 SSP to LKR...
      </a>
    </li>
    <li>
      <a href="/SSP/LRD">
        Convert 1 SSP to LRD...
      </a>
    </li>
    <li>
      <a href="/SSP/LSL">
        Convert 1 SSP to LSL...
      </a>
    </li>
    <li>
      <a href="/SSP/LYD">
        Convert 1 SSP to LYD...
      </a>
    </li>
    <li>
      <a href="/SSP/MAD">
        Convert 1 SSP to MAD...
      </a>
    </li>
    <li>
      <a href="/SSP/MDL">
        Convert 1 SSP to MDL...
      </a>
    </li>
    <li>
      <a href="/SSP/MGA">
        Convert 1 SSP to MGA...
      </a>
    </li>
    <li>
      <a href="/SSP/MKD">
        Convert 1 SSP to MKD...
      </a>
    </li>
    <li>
      <a href="/SSP/MMK">
        Convert 1 SSP to MMK...
      </a>
    </li>
    <li>
      <a href="/SSP/MNT">
        Convert 1 SSP to MNT...
      </a>
    </li>
    <li>
      <a href="/SSP/MOP">
        Convert 1 SSP to MOP...
      </a>
    </li>
    <li>
      <a href="/SSP/MRO">
        Convert 1 SSP to MRO...
      </a>
    </li>
    <li>
      <a href="/SSP/MRU">
        Convert 1 SSP to MRU...
      </a>
    </li>
    <li>
      <a href="/SSP/MUR">
        Convert 1 SSP to MUR...
      </a>
    </li>
    <li>
      <a href="/SSP/MVR">
        Convert 1 SSP to MVR...
      </a>
    </li>
    <li>
      <a href="/SSP/MWK">
        Convert 1 SSP to MWK...
      </a>
    </li>
    <li>
      <a href="/SSP/MXN">
        Convert 1 SSP to MXN...
      </a>
    </li>
    <li>
      <a href="/SSP/MYR">
        Convert 1 SSP to MYR...
      </a>
    </li>
    <li>
      <a href="/SSP/MZN">
        Convert 1 SSP to MZN...
      </a>
    </li>
    <li>
      <a href="/SSP/NAD">
        Convert 1 SSP to NAD...
      </a>
    </li>
    <li>
      <a href="/SSP/NGN">
        Convert 1 SSP to NGN...
      </a>
    </li>
    <li>
      <a href="/SSP/NIO">
        Convert 1 SSP to NIO...
      </a>
    </li>
    <li>
      <a href="/SSP/NOK">
        Convert 1 SSP to NOK...
      </a>
    </li>
    <li>
      <a href="/SSP/NPR">
        Convert 1 SSP to NPR...
      </a>
    </li>
    <li>
      <a href="/SSP/NZD">
        Convert 1 SSP to NZD...
      </a>
    </li>
    <li>
      <a href="/SSP/OMR">
        Convert 1 SSP to OMR...
      </a>
    </li>
    <li>
      <a href="/SSP/PAB">
        Convert 1 SSP to PAB...
      </a>
    </li>
    <li>
      <a href="/SSP/PEN">
        Convert 1 SSP to PEN...
      </a>
    </li>
    <li>
      <a href="/SSP/PGK">
        Convert 1 SSP to PGK...
      </a>
    </li>
    <li>
      <a href="/SSP/PHP">
        Convert 1 SSP to PHP...
      </a>
    </li>
    <li>
      <a href="/SSP/PKR">
        Convert 1 SSP to PKR...
      </a>
    </li>
    <li>
      <a href="/SSP/PLN">
        Convert 1 SSP to PLN...
      </a>
    </li>
    <li>
      <a href="/SSP/PYG">
        Convert 1 SSP to PYG...
      </a>
    </li>
    <li>
      <a href="/SSP/QAR">
        Convert 1 SSP to QAR...
      </a>
    </li>
    <li>
      <a href="/SSP/RON">
        Convert 1 SSP to RON...
      </a>
    </li>
    <li>
      <a href="/SSP/RSD">
        Convert 1 SSP to RSD...
      </a>
    </li>
    <li>
      <a href="/SSP/RUB">
        Convert 1 SSP to RUB...
      </a>
    </li>
    <li>
      <a href="/SSP/RWF">
        Convert 1 SSP to RWF...
      </a>
    </li>
    <li>
      <a href="/SSP/SAR">
        Convert 1 SSP to SAR...
      </a>
    </li>
    <li>
      <a href="/SSP/SBD">
        Convert 1 SSP to SBD...
      </a>
    </li>
    <li>
      <a href="/SSP/SCR">
        Convert 1 SSP to SCR...
      </a>
    </li>
    <li>
      <a href="/SSP/SDG">
        Convert 1 SSP to SDG...
      </a>
    </li>
    <li>
      <a href="/SSP/SEK">
        Convert 1 SSP to SEK...
      </a>
    </li>
    <li>
      <a href="/SSP/SGD">
        Convert 1 SSP to SGD...
      </a>
    </li>
    <li>
      <a href="/SSP/SHP">
        Convert 1 SSP to SHP...
      </a>
    </li>
    <li>
      <a href="/SSP/SLL">
        Convert 1 SSP to SLL...
      </a>
    </li>
    <li>
      <a href="/SSP/SOS">
        Convert 1 SSP to SOS...
      </a>
    </li>
    <li>
      <a href="/SSP/SRD">
        Convert 1 SSP to SRD...
      </a>
    </li>
    <li>
      <a href="/SSP/SSP">
        Convert 1 SSP to SSP...
      </a>
    </li>
    <li>
      <a href="/SSP/STD">
        Convert 1 SSP to STD...
      </a>
    </li>
    <li>
      <a href="/SSP/STN">
        Convert 1 SSP to STN...
      </a>
    </li>
    <li>
      <a href="/SSP/SVC">
        Convert 1 SSP to SVC...
      </a>
    </li>
    <li>
      <a href="/SSP/SYP">
        Convert 1 SSP to SYP...
      </a>
    </li>
    <li>
      <a href="/SSP/SZL">
        Convert 1 SSP to SZL...
      </a>
    </li>
    <li>
      <a href="/SSP/THB">
        Convert 1 SSP to THB...
      </a>
    </li>
    <li>
      <a href="/SSP/TJS">
        Convert 1 SSP to TJS...
      </a>
    </li>
    <li>
      <a href="/SSP/TMT">
        Convert 1 SSP to TMT...
      </a>
    </li>
    <li>
      <a href="/SSP/TND">
        Convert 1 SSP to TND...
      </a>
    </li>
    <li>
      <a href="/SSP/TOP">
        Convert 1 SSP to TOP...
      </a>
    </li>
    <li>
      <a href="/SSP/TRY">
        Convert 1 SSP to TRY...
      </a>
    </li>
    <li>
      <a href="/SSP/TTD">
        Convert 1 SSP to TTD...
      </a>
    </li>
    <li>
      <a href="/SSP/TWD">
        Convert 1 SSP to TWD...
      </a>
    </li>
    <li>
      <a href="/SSP/TZS">
        Convert 1 SSP to TZS...
      </a>
    </li>
    <li>
      <a href="/SSP/UAH">
        Convert 1 SSP to UAH...
      </a>
    </li>
    <li>
      <a href="/SSP/UGX">
        Convert 1 SSP to UGX...
      </a>
    </li>
    <li>
      <a href="/SSP/USD">
        Convert 1 SSP to USD...
      </a>
    </li>
    <li>
      <a href="/SSP/UYU">
        Convert 1 SSP to UYU...
      </a>
    </li>
    <li>
      <a href="/SSP/UZS">
        Convert 1 SSP to UZS...
      </a>
    </li>
    <li>
      <a href="/SSP/VEF">
        Convert 1 SSP to VEF...
      </a>
    </li>
    <li>
      <a href="/SSP/VES">
        Convert 1 SSP to VES...
      </a>
    </li>
    <li>
      <a href="/SSP/VND">
        Convert 1 SSP to VND...
      </a>
    </li>
    <li>
      <a href="/SSP/VUV">
        Convert 1 SSP to VUV...
      </a>
    </li>
    <li>
      <a href="/SSP/WST">
        Convert 1 SSP to WST...
      </a>
    </li>
    <li>
      <a href="/SSP/XAF">
        Convert 1 SSP to XAF...
      </a>
    </li>
    <li>
      <a href="/SSP/XAG">
        Convert 1 SSP to XAG...
      </a>
    </li>
    <li>
      <a href="/SSP/XAU">
        Convert 1 SSP to XAU...
      </a>
    </li>
    <li>
      <a href="/SSP/XCD">
        Convert 1 SSP to XCD...
      </a>
    </li>
    <li>
      <a href="/SSP/XDR">
        Convert 1 SSP to XDR...
      </a>
    </li>
    <li>
      <a href="/SSP/XOF">
        Convert 1 SSP to XOF...
      </a>
    </li>
    <li>
      <a href="/SSP/XPD">
        Convert 1 SSP to XPD...
      </a>
    </li>
    <li>
      <a href="/SSP/XPF">
        Convert 1 SSP to XPF...
      </a>
    </li>
    <li>
      <a href="/SSP/XPT">
        Convert 1 SSP to XPT...
      </a>
    </li>
    <li>
      <a href="/SSP/YER">
        Convert 1 SSP to YER...
      </a>
    </li>
    <li>
      <a href="/SSP/ZAR">
        Convert 1 SSP to ZAR...
      </a>
    </li>
    <li>
      <a href="/SSP/ZMW">
        Convert 1 SSP to ZMW...
      </a>
    </li>
    <li>
      <a href="/SSP/ZWL">
        Convert 1 SSP to ZWL...
      </a>
    </li>
</ul>
</body>
