<body>
    <h1>Convert STD</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/STD/AED">
        Convert 1 STD to AED...
      </a>
    </li>
    <li>
      <a href="/STD/AFN">
        Convert 1 STD to AFN...
      </a>
    </li>
    <li>
      <a href="/STD/ALL">
        Convert 1 STD to ALL...
      </a>
    </li>
    <li>
      <a href="/STD/AMD">
        Convert 1 STD to AMD...
      </a>
    </li>
    <li>
      <a href="/STD/ANG">
        Convert 1 STD to ANG...
      </a>
    </li>
    <li>
      <a href="/STD/AOA">
        Convert 1 STD to AOA...
      </a>
    </li>
    <li>
      <a href="/STD/ARS">
        Convert 1 STD to ARS...
      </a>
    </li>
    <li>
      <a href="/STD/AUD">
        Convert 1 STD to AUD...
      </a>
    </li>
    <li>
      <a href="/STD/AWG">
        Convert 1 STD to AWG...
      </a>
    </li>
    <li>
      <a href="/STD/AZN">
        Convert 1 STD to AZN...
      </a>
    </li>
    <li>
      <a href="/STD/BAM">
        Convert 1 STD to BAM...
      </a>
    </li>
    <li>
      <a href="/STD/BBD">
        Convert 1 STD to BBD...
      </a>
    </li>
    <li>
      <a href="/STD/BDT">
        Convert 1 STD to BDT...
      </a>
    </li>
    <li>
      <a href="/STD/BGN">
        Convert 1 STD to BGN...
      </a>
    </li>
    <li>
      <a href="/STD/BHD">
        Convert 1 STD to BHD...
      </a>
    </li>
    <li>
      <a href="/STD/BIF">
        Convert 1 STD to BIF...
      </a>
    </li>
    <li>
      <a href="/STD/BMD">
        Convert 1 STD to BMD...
      </a>
    </li>
    <li>
      <a href="/STD/BND">
        Convert 1 STD to BND...
      </a>
    </li>
    <li>
      <a href="/STD/BOB">
        Convert 1 STD to BOB...
      </a>
    </li>
    <li>
      <a href="/STD/BRL">
        Convert 1 STD to BRL...
      </a>
    </li>
    <li>
      <a href="/STD/BSD">
        Convert 1 STD to BSD...
      </a>
    </li>
    <li>
      <a href="/STD/BTC">
        Convert 1 STD to BTC...
      </a>
    </li>
    <li>
      <a href="/STD/BTN">
        Convert 1 STD to BTN...
      </a>
    </li>
    <li>
      <a href="/STD/BWP">
        Convert 1 STD to BWP...
      </a>
    </li>
    <li>
      <a href="/STD/BYN">
        Convert 1 STD to BYN...
      </a>
    </li>
    <li>
      <a href="/STD/BZD">
        Convert 1 STD to BZD...
      </a>
    </li>
    <li>
      <a href="/STD/CAD">
        Convert 1 STD to CAD...
      </a>
    </li>
    <li>
      <a href="/STD/CDF">
        Convert 1 STD to CDF...
      </a>
    </li>
    <li>
      <a href="/STD/CHF">
        Convert 1 STD to CHF...
      </a>
    </li>
    <li>
      <a href="/STD/CLF">
        Convert 1 STD to CLF...
      </a>
    </li>
    <li>
      <a href="/STD/CLP">
        Convert 1 STD to CLP...
      </a>
    </li>
    <li>
      <a href="/STD/CNH">
        Convert 1 STD to CNH...
      </a>
    </li>
    <li>
      <a href="/STD/CNY">
        Convert 1 STD to CNY...
      </a>
    </li>
    <li>
      <a href="/STD/COP">
        Convert 1 STD to COP...
      </a>
    </li>
    <li>
      <a href="/STD/CRC">
        Convert 1 STD to CRC...
      </a>
    </li>
    <li>
      <a href="/STD/CUC">
        Convert 1 STD to CUC...
      </a>
    </li>
    <li>
      <a href="/STD/CUP">
        Convert 1 STD to CUP...
      </a>
    </li>
    <li>
      <a href="/STD/CVE">
        Convert 1 STD to CVE...
      </a>
    </li>
    <li>
      <a href="/STD/CZK">
        Convert 1 STD to CZK...
      </a>
    </li>
    <li>
      <a href="/STD/DJF">
        Convert 1 STD to DJF...
      </a>
    </li>
    <li>
      <a href="/STD/DKK">
        Convert 1 STD to DKK...
      </a>
    </li>
    <li>
      <a href="/STD/DOP">
        Convert 1 STD to DOP...
      </a>
    </li>
    <li>
      <a href="/STD/DZD">
        Convert 1 STD to DZD...
      </a>
    </li>
    <li>
      <a href="/STD/EGP">
        Convert 1 STD to EGP...
      </a>
    </li>
    <li>
      <a href="/STD/ERN">
        Convert 1 STD to ERN...
      </a>
    </li>
    <li>
      <a href="/STD/ETB">
        Convert 1 STD to ETB...
      </a>
    </li>
    <li>
      <a href="/STD/EUR">
        Convert 1 STD to EUR...
      </a>
    </li>
    <li>
      <a href="/STD/FJD">
        Convert 1 STD to FJD...
      </a>
    </li>
    <li>
      <a href="/STD/FKP">
        Convert 1 STD to FKP...
      </a>
    </li>
    <li>
      <a href="/STD/GBP">
        Convert 1 STD to GBP...
      </a>
    </li>
    <li>
      <a href="/STD/GEL">
        Convert 1 STD to GEL...
      </a>
    </li>
    <li>
      <a href="/STD/GGP">
        Convert 1 STD to GGP...
      </a>
    </li>
    <li>
      <a href="/STD/GHS">
        Convert 1 STD to GHS...
      </a>
    </li>
    <li>
      <a href="/STD/GIP">
        Convert 1 STD to GIP...
      </a>
    </li>
    <li>
      <a href="/STD/GMD">
        Convert 1 STD to GMD...
      </a>
    </li>
    <li>
      <a href="/STD/GNF">
        Convert 1 STD to GNF...
      </a>
    </li>
    <li>
      <a href="/STD/GTQ">
        Convert 1 STD to GTQ...
      </a>
    </li>
    <li>
      <a href="/STD/GYD">
        Convert 1 STD to GYD...
      </a>
    </li>
    <li>
      <a href="/STD/HKD">
        Convert 1 STD to HKD...
      </a>
    </li>
    <li>
      <a href="/STD/HNL">
        Convert 1 STD to HNL...
      </a>
    </li>
    <li>
      <a href="/STD/HRK">
        Convert 1 STD to HRK...
      </a>
    </li>
    <li>
      <a href="/STD/HTG">
        Convert 1 STD to HTG...
      </a>
    </li>
    <li>
      <a href="/STD/HUF">
        Convert 1 STD to HUF...
      </a>
    </li>
    <li>
      <a href="/STD/IDR">
        Convert 1 STD to IDR...
      </a>
    </li>
    <li>
      <a href="/STD/ILS">
        Convert 1 STD to ILS...
      </a>
    </li>
    <li>
      <a href="/STD/IMP">
        Convert 1 STD to IMP...
      </a>
    </li>
    <li>
      <a href="/STD/INR">
        Convert 1 STD to INR...
      </a>
    </li>
    <li>
      <a href="/STD/IQD">
        Convert 1 STD to IQD...
      </a>
    </li>
    <li>
      <a href="/STD/IRR">
        Convert 1 STD to IRR...
      </a>
    </li>
    <li>
      <a href="/STD/ISK">
        Convert 1 STD to ISK...
      </a>
    </li>
    <li>
      <a href="/STD/JEP">
        Convert 1 STD to JEP...
      </a>
    </li>
    <li>
      <a href="/STD/JMD">
        Convert 1 STD to JMD...
      </a>
    </li>
    <li>
      <a href="/STD/JOD">
        Convert 1 STD to JOD...
      </a>
    </li>
    <li>
      <a href="/STD/JPY">
        Convert 1 STD to JPY...
      </a>
    </li>
    <li>
      <a href="/STD/KES">
        Convert 1 STD to KES...
      </a>
    </li>
    <li>
      <a href="/STD/KGS">
        Convert 1 STD to KGS...
      </a>
    </li>
    <li>
      <a href="/STD/KHR">
        Convert 1 STD to KHR...
      </a>
    </li>
    <li>
      <a href="/STD/KMF">
        Convert 1 STD to KMF...
      </a>
    </li>
    <li>
      <a href="/STD/KPW">
        Convert 1 STD to KPW...
      </a>
    </li>
    <li>
      <a href="/STD/KRW">
        Convert 1 STD to KRW...
      </a>
    </li>
    <li>
      <a href="/STD/KWD">
        Convert 1 STD to KWD...
      </a>
    </li>
    <li>
      <a href="/STD/KYD">
        Convert 1 STD to KYD...
      </a>
    </li>
    <li>
      <a href="/STD/KZT">
        Convert 1 STD to KZT...
      </a>
    </li>
    <li>
      <a href="/STD/LAK">
        Convert 1 STD to LAK...
      </a>
    </li>
    <li>
      <a href="/STD/LBP">
        Convert 1 STD to LBP...
      </a>
    </li>
    <li>
      <a href="/STD/LKR">
        Convert 1 STD to LKR...
      </a>
    </li>
    <li>
      <a href="/STD/LRD">
        Convert 1 STD to LRD...
      </a>
    </li>
    <li>
      <a href="/STD/LSL">
        Convert 1 STD to LSL...
      </a>
    </li>
    <li>
      <a href="/STD/LYD">
        Convert 1 STD to LYD...
      </a>
    </li>
    <li>
      <a href="/STD/MAD">
        Convert 1 STD to MAD...
      </a>
    </li>
    <li>
      <a href="/STD/MDL">
        Convert 1 STD to MDL...
      </a>
    </li>
    <li>
      <a href="/STD/MGA">
        Convert 1 STD to MGA...
      </a>
    </li>
    <li>
      <a href="/STD/MKD">
        Convert 1 STD to MKD...
      </a>
    </li>
    <li>
      <a href="/STD/MMK">
        Convert 1 STD to MMK...
      </a>
    </li>
    <li>
      <a href="/STD/MNT">
        Convert 1 STD to MNT...
      </a>
    </li>
    <li>
      <a href="/STD/MOP">
        Convert 1 STD to MOP...
      </a>
    </li>
    <li>
      <a href="/STD/MRO">
        Convert 1 STD to MRO...
      </a>
    </li>
    <li>
      <a href="/STD/MRU">
        Convert 1 STD to MRU...
      </a>
    </li>
    <li>
      <a href="/STD/MUR">
        Convert 1 STD to MUR...
      </a>
    </li>
    <li>
      <a href="/STD/MVR">
        Convert 1 STD to MVR...
      </a>
    </li>
    <li>
      <a href="/STD/MWK">
        Convert 1 STD to MWK...
      </a>
    </li>
    <li>
      <a href="/STD/MXN">
        Convert 1 STD to MXN...
      </a>
    </li>
    <li>
      <a href="/STD/MYR">
        Convert 1 STD to MYR...
      </a>
    </li>
    <li>
      <a href="/STD/MZN">
        Convert 1 STD to MZN...
      </a>
    </li>
    <li>
      <a href="/STD/NAD">
        Convert 1 STD to NAD...
      </a>
    </li>
    <li>
      <a href="/STD/NGN">
        Convert 1 STD to NGN...
      </a>
    </li>
    <li>
      <a href="/STD/NIO">
        Convert 1 STD to NIO...
      </a>
    </li>
    <li>
      <a href="/STD/NOK">
        Convert 1 STD to NOK...
      </a>
    </li>
    <li>
      <a href="/STD/NPR">
        Convert 1 STD to NPR...
      </a>
    </li>
    <li>
      <a href="/STD/NZD">
        Convert 1 STD to NZD...
      </a>
    </li>
    <li>
      <a href="/STD/OMR">
        Convert 1 STD to OMR...
      </a>
    </li>
    <li>
      <a href="/STD/PAB">
        Convert 1 STD to PAB...
      </a>
    </li>
    <li>
      <a href="/STD/PEN">
        Convert 1 STD to PEN...
      </a>
    </li>
    <li>
      <a href="/STD/PGK">
        Convert 1 STD to PGK...
      </a>
    </li>
    <li>
      <a href="/STD/PHP">
        Convert 1 STD to PHP...
      </a>
    </li>
    <li>
      <a href="/STD/PKR">
        Convert 1 STD to PKR...
      </a>
    </li>
    <li>
      <a href="/STD/PLN">
        Convert 1 STD to PLN...
      </a>
    </li>
    <li>
      <a href="/STD/PYG">
        Convert 1 STD to PYG...
      </a>
    </li>
    <li>
      <a href="/STD/QAR">
        Convert 1 STD to QAR...
      </a>
    </li>
    <li>
      <a href="/STD/RON">
        Convert 1 STD to RON...
      </a>
    </li>
    <li>
      <a href="/STD/RSD">
        Convert 1 STD to RSD...
      </a>
    </li>
    <li>
      <a href="/STD/RUB">
        Convert 1 STD to RUB...
      </a>
    </li>
    <li>
      <a href="/STD/RWF">
        Convert 1 STD to RWF...
      </a>
    </li>
    <li>
      <a href="/STD/SAR">
        Convert 1 STD to SAR...
      </a>
    </li>
    <li>
      <a href="/STD/SBD">
        Convert 1 STD to SBD...
      </a>
    </li>
    <li>
      <a href="/STD/SCR">
        Convert 1 STD to SCR...
      </a>
    </li>
    <li>
      <a href="/STD/SDG">
        Convert 1 STD to SDG...
      </a>
    </li>
    <li>
      <a href="/STD/SEK">
        Convert 1 STD to SEK...
      </a>
    </li>
    <li>
      <a href="/STD/SGD">
        Convert 1 STD to SGD...
      </a>
    </li>
    <li>
      <a href="/STD/SHP">
        Convert 1 STD to SHP...
      </a>
    </li>
    <li>
      <a href="/STD/SLL">
        Convert 1 STD to SLL...
      </a>
    </li>
    <li>
      <a href="/STD/SOS">
        Convert 1 STD to SOS...
      </a>
    </li>
    <li>
      <a href="/STD/SRD">
        Convert 1 STD to SRD...
      </a>
    </li>
    <li>
      <a href="/STD/SSP">
        Convert 1 STD to SSP...
      </a>
    </li>
    <li>
      <a href="/STD/STD">
        Convert 1 STD to STD...
      </a>
    </li>
    <li>
      <a href="/STD/STN">
        Convert 1 STD to STN...
      </a>
    </li>
    <li>
      <a href="/STD/SVC">
        Convert 1 STD to SVC...
      </a>
    </li>
    <li>
      <a href="/STD/SYP">
        Convert 1 STD to SYP...
      </a>
    </li>
    <li>
      <a href="/STD/SZL">
        Convert 1 STD to SZL...
      </a>
    </li>
    <li>
      <a href="/STD/THB">
        Convert 1 STD to THB...
      </a>
    </li>
    <li>
      <a href="/STD/TJS">
        Convert 1 STD to TJS...
      </a>
    </li>
    <li>
      <a href="/STD/TMT">
        Convert 1 STD to TMT...
      </a>
    </li>
    <li>
      <a href="/STD/TND">
        Convert 1 STD to TND...
      </a>
    </li>
    <li>
      <a href="/STD/TOP">
        Convert 1 STD to TOP...
      </a>
    </li>
    <li>
      <a href="/STD/TRY">
        Convert 1 STD to TRY...
      </a>
    </li>
    <li>
      <a href="/STD/TTD">
        Convert 1 STD to TTD...
      </a>
    </li>
    <li>
      <a href="/STD/TWD">
        Convert 1 STD to TWD...
      </a>
    </li>
    <li>
      <a href="/STD/TZS">
        Convert 1 STD to TZS...
      </a>
    </li>
    <li>
      <a href="/STD/UAH">
        Convert 1 STD to UAH...
      </a>
    </li>
    <li>
      <a href="/STD/UGX">
        Convert 1 STD to UGX...
      </a>
    </li>
    <li>
      <a href="/STD/USD">
        Convert 1 STD to USD...
      </a>
    </li>
    <li>
      <a href="/STD/UYU">
        Convert 1 STD to UYU...
      </a>
    </li>
    <li>
      <a href="/STD/UZS">
        Convert 1 STD to UZS...
      </a>
    </li>
    <li>
      <a href="/STD/VEF">
        Convert 1 STD to VEF...
      </a>
    </li>
    <li>
      <a href="/STD/VES">
        Convert 1 STD to VES...
      </a>
    </li>
    <li>
      <a href="/STD/VND">
        Convert 1 STD to VND...
      </a>
    </li>
    <li>
      <a href="/STD/VUV">
        Convert 1 STD to VUV...
      </a>
    </li>
    <li>
      <a href="/STD/WST">
        Convert 1 STD to WST...
      </a>
    </li>
    <li>
      <a href="/STD/XAF">
        Convert 1 STD to XAF...
      </a>
    </li>
    <li>
      <a href="/STD/XAG">
        Convert 1 STD to XAG...
      </a>
    </li>
    <li>
      <a href="/STD/XAU">
        Convert 1 STD to XAU...
      </a>
    </li>
    <li>
      <a href="/STD/XCD">
        Convert 1 STD to XCD...
      </a>
    </li>
    <li>
      <a href="/STD/XDR">
        Convert 1 STD to XDR...
      </a>
    </li>
    <li>
      <a href="/STD/XOF">
        Convert 1 STD to XOF...
      </a>
    </li>
    <li>
      <a href="/STD/XPD">
        Convert 1 STD to XPD...
      </a>
    </li>
    <li>
      <a href="/STD/XPF">
        Convert 1 STD to XPF...
      </a>
    </li>
    <li>
      <a href="/STD/XPT">
        Convert 1 STD to XPT...
      </a>
    </li>
    <li>
      <a href="/STD/YER">
        Convert 1 STD to YER...
      </a>
    </li>
    <li>
      <a href="/STD/ZAR">
        Convert 1 STD to ZAR...
      </a>
    </li>
    <li>
      <a href="/STD/ZMW">
        Convert 1 STD to ZMW...
      </a>
    </li>
    <li>
      <a href="/STD/ZWL">
        Convert 1 STD to ZWL...
      </a>
    </li>
</ul>
</body>
