<body>
    <h1>Convert STN</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/STN/AED">
        Convert 1 STN to AED...
      </a>
    </li>
    <li>
      <a href="/STN/AFN">
        Convert 1 STN to AFN...
      </a>
    </li>
    <li>
      <a href="/STN/ALL">
        Convert 1 STN to ALL...
      </a>
    </li>
    <li>
      <a href="/STN/AMD">
        Convert 1 STN to AMD...
      </a>
    </li>
    <li>
      <a href="/STN/ANG">
        Convert 1 STN to ANG...
      </a>
    </li>
    <li>
      <a href="/STN/AOA">
        Convert 1 STN to AOA...
      </a>
    </li>
    <li>
      <a href="/STN/ARS">
        Convert 1 STN to ARS...
      </a>
    </li>
    <li>
      <a href="/STN/AUD">
        Convert 1 STN to AUD...
      </a>
    </li>
    <li>
      <a href="/STN/AWG">
        Convert 1 STN to AWG...
      </a>
    </li>
    <li>
      <a href="/STN/AZN">
        Convert 1 STN to AZN...
      </a>
    </li>
    <li>
      <a href="/STN/BAM">
        Convert 1 STN to BAM...
      </a>
    </li>
    <li>
      <a href="/STN/BBD">
        Convert 1 STN to BBD...
      </a>
    </li>
    <li>
      <a href="/STN/BDT">
        Convert 1 STN to BDT...
      </a>
    </li>
    <li>
      <a href="/STN/BGN">
        Convert 1 STN to BGN...
      </a>
    </li>
    <li>
      <a href="/STN/BHD">
        Convert 1 STN to BHD...
      </a>
    </li>
    <li>
      <a href="/STN/BIF">
        Convert 1 STN to BIF...
      </a>
    </li>
    <li>
      <a href="/STN/BMD">
        Convert 1 STN to BMD...
      </a>
    </li>
    <li>
      <a href="/STN/BND">
        Convert 1 STN to BND...
      </a>
    </li>
    <li>
      <a href="/STN/BOB">
        Convert 1 STN to BOB...
      </a>
    </li>
    <li>
      <a href="/STN/BRL">
        Convert 1 STN to BRL...
      </a>
    </li>
    <li>
      <a href="/STN/BSD">
        Convert 1 STN to BSD...
      </a>
    </li>
    <li>
      <a href="/STN/BTC">
        Convert 1 STN to BTC...
      </a>
    </li>
    <li>
      <a href="/STN/BTN">
        Convert 1 STN to BTN...
      </a>
    </li>
    <li>
      <a href="/STN/BWP">
        Convert 1 STN to BWP...
      </a>
    </li>
    <li>
      <a href="/STN/BYN">
        Convert 1 STN to BYN...
      </a>
    </li>
    <li>
      <a href="/STN/BZD">
        Convert 1 STN to BZD...
      </a>
    </li>
    <li>
      <a href="/STN/CAD">
        Convert 1 STN to CAD...
      </a>
    </li>
    <li>
      <a href="/STN/CDF">
        Convert 1 STN to CDF...
      </a>
    </li>
    <li>
      <a href="/STN/CHF">
        Convert 1 STN to CHF...
      </a>
    </li>
    <li>
      <a href="/STN/CLF">
        Convert 1 STN to CLF...
      </a>
    </li>
    <li>
      <a href="/STN/CLP">
        Convert 1 STN to CLP...
      </a>
    </li>
    <li>
      <a href="/STN/CNH">
        Convert 1 STN to CNH...
      </a>
    </li>
    <li>
      <a href="/STN/CNY">
        Convert 1 STN to CNY...
      </a>
    </li>
    <li>
      <a href="/STN/COP">
        Convert 1 STN to COP...
      </a>
    </li>
    <li>
      <a href="/STN/CRC">
        Convert 1 STN to CRC...
      </a>
    </li>
    <li>
      <a href="/STN/CUC">
        Convert 1 STN to CUC...
      </a>
    </li>
    <li>
      <a href="/STN/CUP">
        Convert 1 STN to CUP...
      </a>
    </li>
    <li>
      <a href="/STN/CVE">
        Convert 1 STN to CVE...
      </a>
    </li>
    <li>
      <a href="/STN/CZK">
        Convert 1 STN to CZK...
      </a>
    </li>
    <li>
      <a href="/STN/DJF">
        Convert 1 STN to DJF...
      </a>
    </li>
    <li>
      <a href="/STN/DKK">
        Convert 1 STN to DKK...
      </a>
    </li>
    <li>
      <a href="/STN/DOP">
        Convert 1 STN to DOP...
      </a>
    </li>
    <li>
      <a href="/STN/DZD">
        Convert 1 STN to DZD...
      </a>
    </li>
    <li>
      <a href="/STN/EGP">
        Convert 1 STN to EGP...
      </a>
    </li>
    <li>
      <a href="/STN/ERN">
        Convert 1 STN to ERN...
      </a>
    </li>
    <li>
      <a href="/STN/ETB">
        Convert 1 STN to ETB...
      </a>
    </li>
    <li>
      <a href="/STN/EUR">
        Convert 1 STN to EUR...
      </a>
    </li>
    <li>
      <a href="/STN/FJD">
        Convert 1 STN to FJD...
      </a>
    </li>
    <li>
      <a href="/STN/FKP">
        Convert 1 STN to FKP...
      </a>
    </li>
    <li>
      <a href="/STN/GBP">
        Convert 1 STN to GBP...
      </a>
    </li>
    <li>
      <a href="/STN/GEL">
        Convert 1 STN to GEL...
      </a>
    </li>
    <li>
      <a href="/STN/GGP">
        Convert 1 STN to GGP...
      </a>
    </li>
    <li>
      <a href="/STN/GHS">
        Convert 1 STN to GHS...
      </a>
    </li>
    <li>
      <a href="/STN/GIP">
        Convert 1 STN to GIP...
      </a>
    </li>
    <li>
      <a href="/STN/GMD">
        Convert 1 STN to GMD...
      </a>
    </li>
    <li>
      <a href="/STN/GNF">
        Convert 1 STN to GNF...
      </a>
    </li>
    <li>
      <a href="/STN/GTQ">
        Convert 1 STN to GTQ...
      </a>
    </li>
    <li>
      <a href="/STN/GYD">
        Convert 1 STN to GYD...
      </a>
    </li>
    <li>
      <a href="/STN/HKD">
        Convert 1 STN to HKD...
      </a>
    </li>
    <li>
      <a href="/STN/HNL">
        Convert 1 STN to HNL...
      </a>
    </li>
    <li>
      <a href="/STN/HRK">
        Convert 1 STN to HRK...
      </a>
    </li>
    <li>
      <a href="/STN/HTG">
        Convert 1 STN to HTG...
      </a>
    </li>
    <li>
      <a href="/STN/HUF">
        Convert 1 STN to HUF...
      </a>
    </li>
    <li>
      <a href="/STN/IDR">
        Convert 1 STN to IDR...
      </a>
    </li>
    <li>
      <a href="/STN/ILS">
        Convert 1 STN to ILS...
      </a>
    </li>
    <li>
      <a href="/STN/IMP">
        Convert 1 STN to IMP...
      </a>
    </li>
    <li>
      <a href="/STN/INR">
        Convert 1 STN to INR...
      </a>
    </li>
    <li>
      <a href="/STN/IQD">
        Convert 1 STN to IQD...
      </a>
    </li>
    <li>
      <a href="/STN/IRR">
        Convert 1 STN to IRR...
      </a>
    </li>
    <li>
      <a href="/STN/ISK">
        Convert 1 STN to ISK...
      </a>
    </li>
    <li>
      <a href="/STN/JEP">
        Convert 1 STN to JEP...
      </a>
    </li>
    <li>
      <a href="/STN/JMD">
        Convert 1 STN to JMD...
      </a>
    </li>
    <li>
      <a href="/STN/JOD">
        Convert 1 STN to JOD...
      </a>
    </li>
    <li>
      <a href="/STN/JPY">
        Convert 1 STN to JPY...
      </a>
    </li>
    <li>
      <a href="/STN/KES">
        Convert 1 STN to KES...
      </a>
    </li>
    <li>
      <a href="/STN/KGS">
        Convert 1 STN to KGS...
      </a>
    </li>
    <li>
      <a href="/STN/KHR">
        Convert 1 STN to KHR...
      </a>
    </li>
    <li>
      <a href="/STN/KMF">
        Convert 1 STN to KMF...
      </a>
    </li>
    <li>
      <a href="/STN/KPW">
        Convert 1 STN to KPW...
      </a>
    </li>
    <li>
      <a href="/STN/KRW">
        Convert 1 STN to KRW...
      </a>
    </li>
    <li>
      <a href="/STN/KWD">
        Convert 1 STN to KWD...
      </a>
    </li>
    <li>
      <a href="/STN/KYD">
        Convert 1 STN to KYD...
      </a>
    </li>
    <li>
      <a href="/STN/KZT">
        Convert 1 STN to KZT...
      </a>
    </li>
    <li>
      <a href="/STN/LAK">
        Convert 1 STN to LAK...
      </a>
    </li>
    <li>
      <a href="/STN/LBP">
        Convert 1 STN to LBP...
      </a>
    </li>
    <li>
      <a href="/STN/LKR">
        Convert 1 STN to LKR...
      </a>
    </li>
    <li>
      <a href="/STN/LRD">
        Convert 1 STN to LRD...
      </a>
    </li>
    <li>
      <a href="/STN/LSL">
        Convert 1 STN to LSL...
      </a>
    </li>
    <li>
      <a href="/STN/LYD">
        Convert 1 STN to LYD...
      </a>
    </li>
    <li>
      <a href="/STN/MAD">
        Convert 1 STN to MAD...
      </a>
    </li>
    <li>
      <a href="/STN/MDL">
        Convert 1 STN to MDL...
      </a>
    </li>
    <li>
      <a href="/STN/MGA">
        Convert 1 STN to MGA...
      </a>
    </li>
    <li>
      <a href="/STN/MKD">
        Convert 1 STN to MKD...
      </a>
    </li>
    <li>
      <a href="/STN/MMK">
        Convert 1 STN to MMK...
      </a>
    </li>
    <li>
      <a href="/STN/MNT">
        Convert 1 STN to MNT...
      </a>
    </li>
    <li>
      <a href="/STN/MOP">
        Convert 1 STN to MOP...
      </a>
    </li>
    <li>
      <a href="/STN/MRO">
        Convert 1 STN to MRO...
      </a>
    </li>
    <li>
      <a href="/STN/MRU">
        Convert 1 STN to MRU...
      </a>
    </li>
    <li>
      <a href="/STN/MUR">
        Convert 1 STN to MUR...
      </a>
    </li>
    <li>
      <a href="/STN/MVR">
        Convert 1 STN to MVR...
      </a>
    </li>
    <li>
      <a href="/STN/MWK">
        Convert 1 STN to MWK...
      </a>
    </li>
    <li>
      <a href="/STN/MXN">
        Convert 1 STN to MXN...
      </a>
    </li>
    <li>
      <a href="/STN/MYR">
        Convert 1 STN to MYR...
      </a>
    </li>
    <li>
      <a href="/STN/MZN">
        Convert 1 STN to MZN...
      </a>
    </li>
    <li>
      <a href="/STN/NAD">
        Convert 1 STN to NAD...
      </a>
    </li>
    <li>
      <a href="/STN/NGN">
        Convert 1 STN to NGN...
      </a>
    </li>
    <li>
      <a href="/STN/NIO">
        Convert 1 STN to NIO...
      </a>
    </li>
    <li>
      <a href="/STN/NOK">
        Convert 1 STN to NOK...
      </a>
    </li>
    <li>
      <a href="/STN/NPR">
        Convert 1 STN to NPR...
      </a>
    </li>
    <li>
      <a href="/STN/NZD">
        Convert 1 STN to NZD...
      </a>
    </li>
    <li>
      <a href="/STN/OMR">
        Convert 1 STN to OMR...
      </a>
    </li>
    <li>
      <a href="/STN/PAB">
        Convert 1 STN to PAB...
      </a>
    </li>
    <li>
      <a href="/STN/PEN">
        Convert 1 STN to PEN...
      </a>
    </li>
    <li>
      <a href="/STN/PGK">
        Convert 1 STN to PGK...
      </a>
    </li>
    <li>
      <a href="/STN/PHP">
        Convert 1 STN to PHP...
      </a>
    </li>
    <li>
      <a href="/STN/PKR">
        Convert 1 STN to PKR...
      </a>
    </li>
    <li>
      <a href="/STN/PLN">
        Convert 1 STN to PLN...
      </a>
    </li>
    <li>
      <a href="/STN/PYG">
        Convert 1 STN to PYG...
      </a>
    </li>
    <li>
      <a href="/STN/QAR">
        Convert 1 STN to QAR...
      </a>
    </li>
    <li>
      <a href="/STN/RON">
        Convert 1 STN to RON...
      </a>
    </li>
    <li>
      <a href="/STN/RSD">
        Convert 1 STN to RSD...
      </a>
    </li>
    <li>
      <a href="/STN/RUB">
        Convert 1 STN to RUB...
      </a>
    </li>
    <li>
      <a href="/STN/RWF">
        Convert 1 STN to RWF...
      </a>
    </li>
    <li>
      <a href="/STN/SAR">
        Convert 1 STN to SAR...
      </a>
    </li>
    <li>
      <a href="/STN/SBD">
        Convert 1 STN to SBD...
      </a>
    </li>
    <li>
      <a href="/STN/SCR">
        Convert 1 STN to SCR...
      </a>
    </li>
    <li>
      <a href="/STN/SDG">
        Convert 1 STN to SDG...
      </a>
    </li>
    <li>
      <a href="/STN/SEK">
        Convert 1 STN to SEK...
      </a>
    </li>
    <li>
      <a href="/STN/SGD">
        Convert 1 STN to SGD...
      </a>
    </li>
    <li>
      <a href="/STN/SHP">
        Convert 1 STN to SHP...
      </a>
    </li>
    <li>
      <a href="/STN/SLL">
        Convert 1 STN to SLL...
      </a>
    </li>
    <li>
      <a href="/STN/SOS">
        Convert 1 STN to SOS...
      </a>
    </li>
    <li>
      <a href="/STN/SRD">
        Convert 1 STN to SRD...
      </a>
    </li>
    <li>
      <a href="/STN/SSP">
        Convert 1 STN to SSP...
      </a>
    </li>
    <li>
      <a href="/STN/STD">
        Convert 1 STN to STD...
      </a>
    </li>
    <li>
      <a href="/STN/STN">
        Convert 1 STN to STN...
      </a>
    </li>
    <li>
      <a href="/STN/SVC">
        Convert 1 STN to SVC...
      </a>
    </li>
    <li>
      <a href="/STN/SYP">
        Convert 1 STN to SYP...
      </a>
    </li>
    <li>
      <a href="/STN/SZL">
        Convert 1 STN to SZL...
      </a>
    </li>
    <li>
      <a href="/STN/THB">
        Convert 1 STN to THB...
      </a>
    </li>
    <li>
      <a href="/STN/TJS">
        Convert 1 STN to TJS...
      </a>
    </li>
    <li>
      <a href="/STN/TMT">
        Convert 1 STN to TMT...
      </a>
    </li>
    <li>
      <a href="/STN/TND">
        Convert 1 STN to TND...
      </a>
    </li>
    <li>
      <a href="/STN/TOP">
        Convert 1 STN to TOP...
      </a>
    </li>
    <li>
      <a href="/STN/TRY">
        Convert 1 STN to TRY...
      </a>
    </li>
    <li>
      <a href="/STN/TTD">
        Convert 1 STN to TTD...
      </a>
    </li>
    <li>
      <a href="/STN/TWD">
        Convert 1 STN to TWD...
      </a>
    </li>
    <li>
      <a href="/STN/TZS">
        Convert 1 STN to TZS...
      </a>
    </li>
    <li>
      <a href="/STN/UAH">
        Convert 1 STN to UAH...
      </a>
    </li>
    <li>
      <a href="/STN/UGX">
        Convert 1 STN to UGX...
      </a>
    </li>
    <li>
      <a href="/STN/USD">
        Convert 1 STN to USD...
      </a>
    </li>
    <li>
      <a href="/STN/UYU">
        Convert 1 STN to UYU...
      </a>
    </li>
    <li>
      <a href="/STN/UZS">
        Convert 1 STN to UZS...
      </a>
    </li>
    <li>
      <a href="/STN/VEF">
        Convert 1 STN to VEF...
      </a>
    </li>
    <li>
      <a href="/STN/VES">
        Convert 1 STN to VES...
      </a>
    </li>
    <li>
      <a href="/STN/VND">
        Convert 1 STN to VND...
      </a>
    </li>
    <li>
      <a href="/STN/VUV">
        Convert 1 STN to VUV...
      </a>
    </li>
    <li>
      <a href="/STN/WST">
        Convert 1 STN to WST...
      </a>
    </li>
    <li>
      <a href="/STN/XAF">
        Convert 1 STN to XAF...
      </a>
    </li>
    <li>
      <a href="/STN/XAG">
        Convert 1 STN to XAG...
      </a>
    </li>
    <li>
      <a href="/STN/XAU">
        Convert 1 STN to XAU...
      </a>
    </li>
    <li>
      <a href="/STN/XCD">
        Convert 1 STN to XCD...
      </a>
    </li>
    <li>
      <a href="/STN/XDR">
        Convert 1 STN to XDR...
      </a>
    </li>
    <li>
      <a href="/STN/XOF">
        Convert 1 STN to XOF...
      </a>
    </li>
    <li>
      <a href="/STN/XPD">
        Convert 1 STN to XPD...
      </a>
    </li>
    <li>
      <a href="/STN/XPF">
        Convert 1 STN to XPF...
      </a>
    </li>
    <li>
      <a href="/STN/XPT">
        Convert 1 STN to XPT...
      </a>
    </li>
    <li>
      <a href="/STN/YER">
        Convert 1 STN to YER...
      </a>
    </li>
    <li>
      <a href="/STN/ZAR">
        Convert 1 STN to ZAR...
      </a>
    </li>
    <li>
      <a href="/STN/ZMW">
        Convert 1 STN to ZMW...
      </a>
    </li>
    <li>
      <a href="/STN/ZWL">
        Convert 1 STN to ZWL...
      </a>
    </li>
</ul>
</body>
