<body>
    <h1>Convert SYP</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/SYP/AED">
        Convert 1 SYP to AED...
      </a>
    </li>
    <li>
      <a href="/SYP/AFN">
        Convert 1 SYP to AFN...
      </a>
    </li>
    <li>
      <a href="/SYP/ALL">
        Convert 1 SYP to ALL...
      </a>
    </li>
    <li>
      <a href="/SYP/AMD">
        Convert 1 SYP to AMD...
      </a>
    </li>
    <li>
      <a href="/SYP/ANG">
        Convert 1 SYP to ANG...
      </a>
    </li>
    <li>
      <a href="/SYP/AOA">
        Convert 1 SYP to AOA...
      </a>
    </li>
    <li>
      <a href="/SYP/ARS">
        Convert 1 SYP to ARS...
      </a>
    </li>
    <li>
      <a href="/SYP/AUD">
        Convert 1 SYP to AUD...
      </a>
    </li>
    <li>
      <a href="/SYP/AWG">
        Convert 1 SYP to AWG...
      </a>
    </li>
    <li>
      <a href="/SYP/AZN">
        Convert 1 SYP to AZN...
      </a>
    </li>
    <li>
      <a href="/SYP/BAM">
        Convert 1 SYP to BAM...
      </a>
    </li>
    <li>
      <a href="/SYP/BBD">
        Convert 1 SYP to BBD...
      </a>
    </li>
    <li>
      <a href="/SYP/BDT">
        Convert 1 SYP to BDT...
      </a>
    </li>
    <li>
      <a href="/SYP/BGN">
        Convert 1 SYP to BGN...
      </a>
    </li>
    <li>
      <a href="/SYP/BHD">
        Convert 1 SYP to BHD...
      </a>
    </li>
    <li>
      <a href="/SYP/BIF">
        Convert 1 SYP to BIF...
      </a>
    </li>
    <li>
      <a href="/SYP/BMD">
        Convert 1 SYP to BMD...
      </a>
    </li>
    <li>
      <a href="/SYP/BND">
        Convert 1 SYP to BND...
      </a>
    </li>
    <li>
      <a href="/SYP/BOB">
        Convert 1 SYP to BOB...
      </a>
    </li>
    <li>
      <a href="/SYP/BRL">
        Convert 1 SYP to BRL...
      </a>
    </li>
    <li>
      <a href="/SYP/BSD">
        Convert 1 SYP to BSD...
      </a>
    </li>
    <li>
      <a href="/SYP/BTC">
        Convert 1 SYP to BTC...
      </a>
    </li>
    <li>
      <a href="/SYP/BTN">
        Convert 1 SYP to BTN...
      </a>
    </li>
    <li>
      <a href="/SYP/BWP">
        Convert 1 SYP to BWP...
      </a>
    </li>
    <li>
      <a href="/SYP/BYN">
        Convert 1 SYP to BYN...
      </a>
    </li>
    <li>
      <a href="/SYP/BZD">
        Convert 1 SYP to BZD...
      </a>
    </li>
    <li>
      <a href="/SYP/CAD">
        Convert 1 SYP to CAD...
      </a>
    </li>
    <li>
      <a href="/SYP/CDF">
        Convert 1 SYP to CDF...
      </a>
    </li>
    <li>
      <a href="/SYP/CHF">
        Convert 1 SYP to CHF...
      </a>
    </li>
    <li>
      <a href="/SYP/CLF">
        Convert 1 SYP to CLF...
      </a>
    </li>
    <li>
      <a href="/SYP/CLP">
        Convert 1 SYP to CLP...
      </a>
    </li>
    <li>
      <a href="/SYP/CNH">
        Convert 1 SYP to CNH...
      </a>
    </li>
    <li>
      <a href="/SYP/CNY">
        Convert 1 SYP to CNY...
      </a>
    </li>
    <li>
      <a href="/SYP/COP">
        Convert 1 SYP to COP...
      </a>
    </li>
    <li>
      <a href="/SYP/CRC">
        Convert 1 SYP to CRC...
      </a>
    </li>
    <li>
      <a href="/SYP/CUC">
        Convert 1 SYP to CUC...
      </a>
    </li>
    <li>
      <a href="/SYP/CUP">
        Convert 1 SYP to CUP...
      </a>
    </li>
    <li>
      <a href="/SYP/CVE">
        Convert 1 SYP to CVE...
      </a>
    </li>
    <li>
      <a href="/SYP/CZK">
        Convert 1 SYP to CZK...
      </a>
    </li>
    <li>
      <a href="/SYP/DJF">
        Convert 1 SYP to DJF...
      </a>
    </li>
    <li>
      <a href="/SYP/DKK">
        Convert 1 SYP to DKK...
      </a>
    </li>
    <li>
      <a href="/SYP/DOP">
        Convert 1 SYP to DOP...
      </a>
    </li>
    <li>
      <a href="/SYP/DZD">
        Convert 1 SYP to DZD...
      </a>
    </li>
    <li>
      <a href="/SYP/EGP">
        Convert 1 SYP to EGP...
      </a>
    </li>
    <li>
      <a href="/SYP/ERN">
        Convert 1 SYP to ERN...
      </a>
    </li>
    <li>
      <a href="/SYP/ETB">
        Convert 1 SYP to ETB...
      </a>
    </li>
    <li>
      <a href="/SYP/EUR">
        Convert 1 SYP to EUR...
      </a>
    </li>
    <li>
      <a href="/SYP/FJD">
        Convert 1 SYP to FJD...
      </a>
    </li>
    <li>
      <a href="/SYP/FKP">
        Convert 1 SYP to FKP...
      </a>
    </li>
    <li>
      <a href="/SYP/GBP">
        Convert 1 SYP to GBP...
      </a>
    </li>
    <li>
      <a href="/SYP/GEL">
        Convert 1 SYP to GEL...
      </a>
    </li>
    <li>
      <a href="/SYP/GGP">
        Convert 1 SYP to GGP...
      </a>
    </li>
    <li>
      <a href="/SYP/GHS">
        Convert 1 SYP to GHS...
      </a>
    </li>
    <li>
      <a href="/SYP/GIP">
        Convert 1 SYP to GIP...
      </a>
    </li>
    <li>
      <a href="/SYP/GMD">
        Convert 1 SYP to GMD...
      </a>
    </li>
    <li>
      <a href="/SYP/GNF">
        Convert 1 SYP to GNF...
      </a>
    </li>
    <li>
      <a href="/SYP/GTQ">
        Convert 1 SYP to GTQ...
      </a>
    </li>
    <li>
      <a href="/SYP/GYD">
        Convert 1 SYP to GYD...
      </a>
    </li>
    <li>
      <a href="/SYP/HKD">
        Convert 1 SYP to HKD...
      </a>
    </li>
    <li>
      <a href="/SYP/HNL">
        Convert 1 SYP to HNL...
      </a>
    </li>
    <li>
      <a href="/SYP/HRK">
        Convert 1 SYP to HRK...
      </a>
    </li>
    <li>
      <a href="/SYP/HTG">
        Convert 1 SYP to HTG...
      </a>
    </li>
    <li>
      <a href="/SYP/HUF">
        Convert 1 SYP to HUF...
      </a>
    </li>
    <li>
      <a href="/SYP/IDR">
        Convert 1 SYP to IDR...
      </a>
    </li>
    <li>
      <a href="/SYP/ILS">
        Convert 1 SYP to ILS...
      </a>
    </li>
    <li>
      <a href="/SYP/IMP">
        Convert 1 SYP to IMP...
      </a>
    </li>
    <li>
      <a href="/SYP/INR">
        Convert 1 SYP to INR...
      </a>
    </li>
    <li>
      <a href="/SYP/IQD">
        Convert 1 SYP to IQD...
      </a>
    </li>
    <li>
      <a href="/SYP/IRR">
        Convert 1 SYP to IRR...
      </a>
    </li>
    <li>
      <a href="/SYP/ISK">
        Convert 1 SYP to ISK...
      </a>
    </li>
    <li>
      <a href="/SYP/JEP">
        Convert 1 SYP to JEP...
      </a>
    </li>
    <li>
      <a href="/SYP/JMD">
        Convert 1 SYP to JMD...
      </a>
    </li>
    <li>
      <a href="/SYP/JOD">
        Convert 1 SYP to JOD...
      </a>
    </li>
    <li>
      <a href="/SYP/JPY">
        Convert 1 SYP to JPY...
      </a>
    </li>
    <li>
      <a href="/SYP/KES">
        Convert 1 SYP to KES...
      </a>
    </li>
    <li>
      <a href="/SYP/KGS">
        Convert 1 SYP to KGS...
      </a>
    </li>
    <li>
      <a href="/SYP/KHR">
        Convert 1 SYP to KHR...
      </a>
    </li>
    <li>
      <a href="/SYP/KMF">
        Convert 1 SYP to KMF...
      </a>
    </li>
    <li>
      <a href="/SYP/KPW">
        Convert 1 SYP to KPW...
      </a>
    </li>
    <li>
      <a href="/SYP/KRW">
        Convert 1 SYP to KRW...
      </a>
    </li>
    <li>
      <a href="/SYP/KWD">
        Convert 1 SYP to KWD...
      </a>
    </li>
    <li>
      <a href="/SYP/KYD">
        Convert 1 SYP to KYD...
      </a>
    </li>
    <li>
      <a href="/SYP/KZT">
        Convert 1 SYP to KZT...
      </a>
    </li>
    <li>
      <a href="/SYP/LAK">
        Convert 1 SYP to LAK...
      </a>
    </li>
    <li>
      <a href="/SYP/LBP">
        Convert 1 SYP to LBP...
      </a>
    </li>
    <li>
      <a href="/SYP/LKR">
        Convert 1 SYP to LKR...
      </a>
    </li>
    <li>
      <a href="/SYP/LRD">
        Convert 1 SYP to LRD...
      </a>
    </li>
    <li>
      <a href="/SYP/LSL">
        Convert 1 SYP to LSL...
      </a>
    </li>
    <li>
      <a href="/SYP/LYD">
        Convert 1 SYP to LYD...
      </a>
    </li>
    <li>
      <a href="/SYP/MAD">
        Convert 1 SYP to MAD...
      </a>
    </li>
    <li>
      <a href="/SYP/MDL">
        Convert 1 SYP to MDL...
      </a>
    </li>
    <li>
      <a href="/SYP/MGA">
        Convert 1 SYP to MGA...
      </a>
    </li>
    <li>
      <a href="/SYP/MKD">
        Convert 1 SYP to MKD...
      </a>
    </li>
    <li>
      <a href="/SYP/MMK">
        Convert 1 SYP to MMK...
      </a>
    </li>
    <li>
      <a href="/SYP/MNT">
        Convert 1 SYP to MNT...
      </a>
    </li>
    <li>
      <a href="/SYP/MOP">
        Convert 1 SYP to MOP...
      </a>
    </li>
    <li>
      <a href="/SYP/MRO">
        Convert 1 SYP to MRO...
      </a>
    </li>
    <li>
      <a href="/SYP/MRU">
        Convert 1 SYP to MRU...
      </a>
    </li>
    <li>
      <a href="/SYP/MUR">
        Convert 1 SYP to MUR...
      </a>
    </li>
    <li>
      <a href="/SYP/MVR">
        Convert 1 SYP to MVR...
      </a>
    </li>
    <li>
      <a href="/SYP/MWK">
        Convert 1 SYP to MWK...
      </a>
    </li>
    <li>
      <a href="/SYP/MXN">
        Convert 1 SYP to MXN...
      </a>
    </li>
    <li>
      <a href="/SYP/MYR">
        Convert 1 SYP to MYR...
      </a>
    </li>
    <li>
      <a href="/SYP/MZN">
        Convert 1 SYP to MZN...
      </a>
    </li>
    <li>
      <a href="/SYP/NAD">
        Convert 1 SYP to NAD...
      </a>
    </li>
    <li>
      <a href="/SYP/NGN">
        Convert 1 SYP to NGN...
      </a>
    </li>
    <li>
      <a href="/SYP/NIO">
        Convert 1 SYP to NIO...
      </a>
    </li>
    <li>
      <a href="/SYP/NOK">
        Convert 1 SYP to NOK...
      </a>
    </li>
    <li>
      <a href="/SYP/NPR">
        Convert 1 SYP to NPR...
      </a>
    </li>
    <li>
      <a href="/SYP/NZD">
        Convert 1 SYP to NZD...
      </a>
    </li>
    <li>
      <a href="/SYP/OMR">
        Convert 1 SYP to OMR...
      </a>
    </li>
    <li>
      <a href="/SYP/PAB">
        Convert 1 SYP to PAB...
      </a>
    </li>
    <li>
      <a href="/SYP/PEN">
        Convert 1 SYP to PEN...
      </a>
    </li>
    <li>
      <a href="/SYP/PGK">
        Convert 1 SYP to PGK...
      </a>
    </li>
    <li>
      <a href="/SYP/PHP">
        Convert 1 SYP to PHP...
      </a>
    </li>
    <li>
      <a href="/SYP/PKR">
        Convert 1 SYP to PKR...
      </a>
    </li>
    <li>
      <a href="/SYP/PLN">
        Convert 1 SYP to PLN...
      </a>
    </li>
    <li>
      <a href="/SYP/PYG">
        Convert 1 SYP to PYG...
      </a>
    </li>
    <li>
      <a href="/SYP/QAR">
        Convert 1 SYP to QAR...
      </a>
    </li>
    <li>
      <a href="/SYP/RON">
        Convert 1 SYP to RON...
      </a>
    </li>
    <li>
      <a href="/SYP/RSD">
        Convert 1 SYP to RSD...
      </a>
    </li>
    <li>
      <a href="/SYP/RUB">
        Convert 1 SYP to RUB...
      </a>
    </li>
    <li>
      <a href="/SYP/RWF">
        Convert 1 SYP to RWF...
      </a>
    </li>
    <li>
      <a href="/SYP/SAR">
        Convert 1 SYP to SAR...
      </a>
    </li>
    <li>
      <a href="/SYP/SBD">
        Convert 1 SYP to SBD...
      </a>
    </li>
    <li>
      <a href="/SYP/SCR">
        Convert 1 SYP to SCR...
      </a>
    </li>
    <li>
      <a href="/SYP/SDG">
        Convert 1 SYP to SDG...
      </a>
    </li>
    <li>
      <a href="/SYP/SEK">
        Convert 1 SYP to SEK...
      </a>
    </li>
    <li>
      <a href="/SYP/SGD">
        Convert 1 SYP to SGD...
      </a>
    </li>
    <li>
      <a href="/SYP/SHP">
        Convert 1 SYP to SHP...
      </a>
    </li>
    <li>
      <a href="/SYP/SLL">
        Convert 1 SYP to SLL...
      </a>
    </li>
    <li>
      <a href="/SYP/SOS">
        Convert 1 SYP to SOS...
      </a>
    </li>
    <li>
      <a href="/SYP/SRD">
        Convert 1 SYP to SRD...
      </a>
    </li>
    <li>
      <a href="/SYP/SSP">
        Convert 1 SYP to SSP...
      </a>
    </li>
    <li>
      <a href="/SYP/STD">
        Convert 1 SYP to STD...
      </a>
    </li>
    <li>
      <a href="/SYP/STN">
        Convert 1 SYP to STN...
      </a>
    </li>
    <li>
      <a href="/SYP/SVC">
        Convert 1 SYP to SVC...
      </a>
    </li>
    <li>
      <a href="/SYP/SYP">
        Convert 1 SYP to SYP...
      </a>
    </li>
    <li>
      <a href="/SYP/SZL">
        Convert 1 SYP to SZL...
      </a>
    </li>
    <li>
      <a href="/SYP/THB">
        Convert 1 SYP to THB...
      </a>
    </li>
    <li>
      <a href="/SYP/TJS">
        Convert 1 SYP to TJS...
      </a>
    </li>
    <li>
      <a href="/SYP/TMT">
        Convert 1 SYP to TMT...
      </a>
    </li>
    <li>
      <a href="/SYP/TND">
        Convert 1 SYP to TND...
      </a>
    </li>
    <li>
      <a href="/SYP/TOP">
        Convert 1 SYP to TOP...
      </a>
    </li>
    <li>
      <a href="/SYP/TRY">
        Convert 1 SYP to TRY...
      </a>
    </li>
    <li>
      <a href="/SYP/TTD">
        Convert 1 SYP to TTD...
      </a>
    </li>
    <li>
      <a href="/SYP/TWD">
        Convert 1 SYP to TWD...
      </a>
    </li>
    <li>
      <a href="/SYP/TZS">
        Convert 1 SYP to TZS...
      </a>
    </li>
    <li>
      <a href="/SYP/UAH">
        Convert 1 SYP to UAH...
      </a>
    </li>
    <li>
      <a href="/SYP/UGX">
        Convert 1 SYP to UGX...
      </a>
    </li>
    <li>
      <a href="/SYP/USD">
        Convert 1 SYP to USD...
      </a>
    </li>
    <li>
      <a href="/SYP/UYU">
        Convert 1 SYP to UYU...
      </a>
    </li>
    <li>
      <a href="/SYP/UZS">
        Convert 1 SYP to UZS...
      </a>
    </li>
    <li>
      <a href="/SYP/VEF">
        Convert 1 SYP to VEF...
      </a>
    </li>
    <li>
      <a href="/SYP/VES">
        Convert 1 SYP to VES...
      </a>
    </li>
    <li>
      <a href="/SYP/VND">
        Convert 1 SYP to VND...
      </a>
    </li>
    <li>
      <a href="/SYP/VUV">
        Convert 1 SYP to VUV...
      </a>
    </li>
    <li>
      <a href="/SYP/WST">
        Convert 1 SYP to WST...
      </a>
    </li>
    <li>
      <a href="/SYP/XAF">
        Convert 1 SYP to XAF...
      </a>
    </li>
    <li>
      <a href="/SYP/XAG">
        Convert 1 SYP to XAG...
      </a>
    </li>
    <li>
      <a href="/SYP/XAU">
        Convert 1 SYP to XAU...
      </a>
    </li>
    <li>
      <a href="/SYP/XCD">
        Convert 1 SYP to XCD...
      </a>
    </li>
    <li>
      <a href="/SYP/XDR">
        Convert 1 SYP to XDR...
      </a>
    </li>
    <li>
      <a href="/SYP/XOF">
        Convert 1 SYP to XOF...
      </a>
    </li>
    <li>
      <a href="/SYP/XPD">
        Convert 1 SYP to XPD...
      </a>
    </li>
    <li>
      <a href="/SYP/XPF">
        Convert 1 SYP to XPF...
      </a>
    </li>
    <li>
      <a href="/SYP/XPT">
        Convert 1 SYP to XPT...
      </a>
    </li>
    <li>
      <a href="/SYP/YER">
        Convert 1 SYP to YER...
      </a>
    </li>
    <li>
      <a href="/SYP/ZAR">
        Convert 1 SYP to ZAR...
      </a>
    </li>
    <li>
      <a href="/SYP/ZMW">
        Convert 1 SYP to ZMW...
      </a>
    </li>
    <li>
      <a href="/SYP/ZWL">
        Convert 1 SYP to ZWL...
      </a>
    </li>
</ul>
</body>
