<body>
    <h1>Convert UGX</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/UGX/AED">
        Convert 1 UGX to AED...
      </a>
    </li>
    <li>
      <a href="/UGX/AFN">
        Convert 1 UGX to AFN...
      </a>
    </li>
    <li>
      <a href="/UGX/ALL">
        Convert 1 UGX to ALL...
      </a>
    </li>
    <li>
      <a href="/UGX/AMD">
        Convert 1 UGX to AMD...
      </a>
    </li>
    <li>
      <a href="/UGX/ANG">
        Convert 1 UGX to ANG...
      </a>
    </li>
    <li>
      <a href="/UGX/AOA">
        Convert 1 UGX to AOA...
      </a>
    </li>
    <li>
      <a href="/UGX/ARS">
        Convert 1 UGX to ARS...
      </a>
    </li>
    <li>
      <a href="/UGX/AUD">
        Convert 1 UGX to AUD...
      </a>
    </li>
    <li>
      <a href="/UGX/AWG">
        Convert 1 UGX to AWG...
      </a>
    </li>
    <li>
      <a href="/UGX/AZN">
        Convert 1 UGX to AZN...
      </a>
    </li>
    <li>
      <a href="/UGX/BAM">
        Convert 1 UGX to BAM...
      </a>
    </li>
    <li>
      <a href="/UGX/BBD">
        Convert 1 UGX to BBD...
      </a>
    </li>
    <li>
      <a href="/UGX/BDT">
        Convert 1 UGX to BDT...
      </a>
    </li>
    <li>
      <a href="/UGX/BGN">
        Convert 1 UGX to BGN...
      </a>
    </li>
    <li>
      <a href="/UGX/BHD">
        Convert 1 UGX to BHD...
      </a>
    </li>
    <li>
      <a href="/UGX/BIF">
        Convert 1 UGX to BIF...
      </a>
    </li>
    <li>
      <a href="/UGX/BMD">
        Convert 1 UGX to BMD...
      </a>
    </li>
    <li>
      <a href="/UGX/BND">
        Convert 1 UGX to BND...
      </a>
    </li>
    <li>
      <a href="/UGX/BOB">
        Convert 1 UGX to BOB...
      </a>
    </li>
    <li>
      <a href="/UGX/BRL">
        Convert 1 UGX to BRL...
      </a>
    </li>
    <li>
      <a href="/UGX/BSD">
        Convert 1 UGX to BSD...
      </a>
    </li>
    <li>
      <a href="/UGX/BTC">
        Convert 1 UGX to BTC...
      </a>
    </li>
    <li>
      <a href="/UGX/BTN">
        Convert 1 UGX to BTN...
      </a>
    </li>
    <li>
      <a href="/UGX/BWP">
        Convert 1 UGX to BWP...
      </a>
    </li>
    <li>
      <a href="/UGX/BYN">
        Convert 1 UGX to BYN...
      </a>
    </li>
    <li>
      <a href="/UGX/BZD">
        Convert 1 UGX to BZD...
      </a>
    </li>
    <li>
      <a href="/UGX/CAD">
        Convert 1 UGX to CAD...
      </a>
    </li>
    <li>
      <a href="/UGX/CDF">
        Convert 1 UGX to CDF...
      </a>
    </li>
    <li>
      <a href="/UGX/CHF">
        Convert 1 UGX to CHF...
      </a>
    </li>
    <li>
      <a href="/UGX/CLF">
        Convert 1 UGX to CLF...
      </a>
    </li>
    <li>
      <a href="/UGX/CLP">
        Convert 1 UGX to CLP...
      </a>
    </li>
    <li>
      <a href="/UGX/CNH">
        Convert 1 UGX to CNH...
      </a>
    </li>
    <li>
      <a href="/UGX/CNY">
        Convert 1 UGX to CNY...
      </a>
    </li>
    <li>
      <a href="/UGX/COP">
        Convert 1 UGX to COP...
      </a>
    </li>
    <li>
      <a href="/UGX/CRC">
        Convert 1 UGX to CRC...
      </a>
    </li>
    <li>
      <a href="/UGX/CUC">
        Convert 1 UGX to CUC...
      </a>
    </li>
    <li>
      <a href="/UGX/CUP">
        Convert 1 UGX to CUP...
      </a>
    </li>
    <li>
      <a href="/UGX/CVE">
        Convert 1 UGX to CVE...
      </a>
    </li>
    <li>
      <a href="/UGX/CZK">
        Convert 1 UGX to CZK...
      </a>
    </li>
    <li>
      <a href="/UGX/DJF">
        Convert 1 UGX to DJF...
      </a>
    </li>
    <li>
      <a href="/UGX/DKK">
        Convert 1 UGX to DKK...
      </a>
    </li>
    <li>
      <a href="/UGX/DOP">
        Convert 1 UGX to DOP...
      </a>
    </li>
    <li>
      <a href="/UGX/DZD">
        Convert 1 UGX to DZD...
      </a>
    </li>
    <li>
      <a href="/UGX/EGP">
        Convert 1 UGX to EGP...
      </a>
    </li>
    <li>
      <a href="/UGX/ERN">
        Convert 1 UGX to ERN...
      </a>
    </li>
    <li>
      <a href="/UGX/ETB">
        Convert 1 UGX to ETB...
      </a>
    </li>
    <li>
      <a href="/UGX/EUR">
        Convert 1 UGX to EUR...
      </a>
    </li>
    <li>
      <a href="/UGX/FJD">
        Convert 1 UGX to FJD...
      </a>
    </li>
    <li>
      <a href="/UGX/FKP">
        Convert 1 UGX to FKP...
      </a>
    </li>
    <li>
      <a href="/UGX/GBP">
        Convert 1 UGX to GBP...
      </a>
    </li>
    <li>
      <a href="/UGX/GEL">
        Convert 1 UGX to GEL...
      </a>
    </li>
    <li>
      <a href="/UGX/GGP">
        Convert 1 UGX to GGP...
      </a>
    </li>
    <li>
      <a href="/UGX/GHS">
        Convert 1 UGX to GHS...
      </a>
    </li>
    <li>
      <a href="/UGX/GIP">
        Convert 1 UGX to GIP...
      </a>
    </li>
    <li>
      <a href="/UGX/GMD">
        Convert 1 UGX to GMD...
      </a>
    </li>
    <li>
      <a href="/UGX/GNF">
        Convert 1 UGX to GNF...
      </a>
    </li>
    <li>
      <a href="/UGX/GTQ">
        Convert 1 UGX to GTQ...
      </a>
    </li>
    <li>
      <a href="/UGX/GYD">
        Convert 1 UGX to GYD...
      </a>
    </li>
    <li>
      <a href="/UGX/HKD">
        Convert 1 UGX to HKD...
      </a>
    </li>
    <li>
      <a href="/UGX/HNL">
        Convert 1 UGX to HNL...
      </a>
    </li>
    <li>
      <a href="/UGX/HRK">
        Convert 1 UGX to HRK...
      </a>
    </li>
    <li>
      <a href="/UGX/HTG">
        Convert 1 UGX to HTG...
      </a>
    </li>
    <li>
      <a href="/UGX/HUF">
        Convert 1 UGX to HUF...
      </a>
    </li>
    <li>
      <a href="/UGX/IDR">
        Convert 1 UGX to IDR...
      </a>
    </li>
    <li>
      <a href="/UGX/ILS">
        Convert 1 UGX to ILS...
      </a>
    </li>
    <li>
      <a href="/UGX/IMP">
        Convert 1 UGX to IMP...
      </a>
    </li>
    <li>
      <a href="/UGX/INR">
        Convert 1 UGX to INR...
      </a>
    </li>
    <li>
      <a href="/UGX/IQD">
        Convert 1 UGX to IQD...
      </a>
    </li>
    <li>
      <a href="/UGX/IRR">
        Convert 1 UGX to IRR...
      </a>
    </li>
    <li>
      <a href="/UGX/ISK">
        Convert 1 UGX to ISK...
      </a>
    </li>
    <li>
      <a href="/UGX/JEP">
        Convert 1 UGX to JEP...
      </a>
    </li>
    <li>
      <a href="/UGX/JMD">
        Convert 1 UGX to JMD...
      </a>
    </li>
    <li>
      <a href="/UGX/JOD">
        Convert 1 UGX to JOD...
      </a>
    </li>
    <li>
      <a href="/UGX/JPY">
        Convert 1 UGX to JPY...
      </a>
    </li>
    <li>
      <a href="/UGX/KES">
        Convert 1 UGX to KES...
      </a>
    </li>
    <li>
      <a href="/UGX/KGS">
        Convert 1 UGX to KGS...
      </a>
    </li>
    <li>
      <a href="/UGX/KHR">
        Convert 1 UGX to KHR...
      </a>
    </li>
    <li>
      <a href="/UGX/KMF">
        Convert 1 UGX to KMF...
      </a>
    </li>
    <li>
      <a href="/UGX/KPW">
        Convert 1 UGX to KPW...
      </a>
    </li>
    <li>
      <a href="/UGX/KRW">
        Convert 1 UGX to KRW...
      </a>
    </li>
    <li>
      <a href="/UGX/KWD">
        Convert 1 UGX to KWD...
      </a>
    </li>
    <li>
      <a href="/UGX/KYD">
        Convert 1 UGX to KYD...
      </a>
    </li>
    <li>
      <a href="/UGX/KZT">
        Convert 1 UGX to KZT...
      </a>
    </li>
    <li>
      <a href="/UGX/LAK">
        Convert 1 UGX to LAK...
      </a>
    </li>
    <li>
      <a href="/UGX/LBP">
        Convert 1 UGX to LBP...
      </a>
    </li>
    <li>
      <a href="/UGX/LKR">
        Convert 1 UGX to LKR...
      </a>
    </li>
    <li>
      <a href="/UGX/LRD">
        Convert 1 UGX to LRD...
      </a>
    </li>
    <li>
      <a href="/UGX/LSL">
        Convert 1 UGX to LSL...
      </a>
    </li>
    <li>
      <a href="/UGX/LYD">
        Convert 1 UGX to LYD...
      </a>
    </li>
    <li>
      <a href="/UGX/MAD">
        Convert 1 UGX to MAD...
      </a>
    </li>
    <li>
      <a href="/UGX/MDL">
        Convert 1 UGX to MDL...
      </a>
    </li>
    <li>
      <a href="/UGX/MGA">
        Convert 1 UGX to MGA...
      </a>
    </li>
    <li>
      <a href="/UGX/MKD">
        Convert 1 UGX to MKD...
      </a>
    </li>
    <li>
      <a href="/UGX/MMK">
        Convert 1 UGX to MMK...
      </a>
    </li>
    <li>
      <a href="/UGX/MNT">
        Convert 1 UGX to MNT...
      </a>
    </li>
    <li>
      <a href="/UGX/MOP">
        Convert 1 UGX to MOP...
      </a>
    </li>
    <li>
      <a href="/UGX/MRO">
        Convert 1 UGX to MRO...
      </a>
    </li>
    <li>
      <a href="/UGX/MRU">
        Convert 1 UGX to MRU...
      </a>
    </li>
    <li>
      <a href="/UGX/MUR">
        Convert 1 UGX to MUR...
      </a>
    </li>
    <li>
      <a href="/UGX/MVR">
        Convert 1 UGX to MVR...
      </a>
    </li>
    <li>
      <a href="/UGX/MWK">
        Convert 1 UGX to MWK...
      </a>
    </li>
    <li>
      <a href="/UGX/MXN">
        Convert 1 UGX to MXN...
      </a>
    </li>
    <li>
      <a href="/UGX/MYR">
        Convert 1 UGX to MYR...
      </a>
    </li>
    <li>
      <a href="/UGX/MZN">
        Convert 1 UGX to MZN...
      </a>
    </li>
    <li>
      <a href="/UGX/NAD">
        Convert 1 UGX to NAD...
      </a>
    </li>
    <li>
      <a href="/UGX/NGN">
        Convert 1 UGX to NGN...
      </a>
    </li>
    <li>
      <a href="/UGX/NIO">
        Convert 1 UGX to NIO...
      </a>
    </li>
    <li>
      <a href="/UGX/NOK">
        Convert 1 UGX to NOK...
      </a>
    </li>
    <li>
      <a href="/UGX/NPR">
        Convert 1 UGX to NPR...
      </a>
    </li>
    <li>
      <a href="/UGX/NZD">
        Convert 1 UGX to NZD...
      </a>
    </li>
    <li>
      <a href="/UGX/OMR">
        Convert 1 UGX to OMR...
      </a>
    </li>
    <li>
      <a href="/UGX/PAB">
        Convert 1 UGX to PAB...
      </a>
    </li>
    <li>
      <a href="/UGX/PEN">
        Convert 1 UGX to PEN...
      </a>
    </li>
    <li>
      <a href="/UGX/PGK">
        Convert 1 UGX to PGK...
      </a>
    </li>
    <li>
      <a href="/UGX/PHP">
        Convert 1 UGX to PHP...
      </a>
    </li>
    <li>
      <a href="/UGX/PKR">
        Convert 1 UGX to PKR...
      </a>
    </li>
    <li>
      <a href="/UGX/PLN">
        Convert 1 UGX to PLN...
      </a>
    </li>
    <li>
      <a href="/UGX/PYG">
        Convert 1 UGX to PYG...
      </a>
    </li>
    <li>
      <a href="/UGX/QAR">
        Convert 1 UGX to QAR...
      </a>
    </li>
    <li>
      <a href="/UGX/RON">
        Convert 1 UGX to RON...
      </a>
    </li>
    <li>
      <a href="/UGX/RSD">
        Convert 1 UGX to RSD...
      </a>
    </li>
    <li>
      <a href="/UGX/RUB">
        Convert 1 UGX to RUB...
      </a>
    </li>
    <li>
      <a href="/UGX/RWF">
        Convert 1 UGX to RWF...
      </a>
    </li>
    <li>
      <a href="/UGX/SAR">
        Convert 1 UGX to SAR...
      </a>
    </li>
    <li>
      <a href="/UGX/SBD">
        Convert 1 UGX to SBD...
      </a>
    </li>
    <li>
      <a href="/UGX/SCR">
        Convert 1 UGX to SCR...
      </a>
    </li>
    <li>
      <a href="/UGX/SDG">
        Convert 1 UGX to SDG...
      </a>
    </li>
    <li>
      <a href="/UGX/SEK">
        Convert 1 UGX to SEK...
      </a>
    </li>
    <li>
      <a href="/UGX/SGD">
        Convert 1 UGX to SGD...
      </a>
    </li>
    <li>
      <a href="/UGX/SHP">
        Convert 1 UGX to SHP...
      </a>
    </li>
    <li>
      <a href="/UGX/SLL">
        Convert 1 UGX to SLL...
      </a>
    </li>
    <li>
      <a href="/UGX/SOS">
        Convert 1 UGX to SOS...
      </a>
    </li>
    <li>
      <a href="/UGX/SRD">
        Convert 1 UGX to SRD...
      </a>
    </li>
    <li>
      <a href="/UGX/SSP">
        Convert 1 UGX to SSP...
      </a>
    </li>
    <li>
      <a href="/UGX/STD">
        Convert 1 UGX to STD...
      </a>
    </li>
    <li>
      <a href="/UGX/STN">
        Convert 1 UGX to STN...
      </a>
    </li>
    <li>
      <a href="/UGX/SVC">
        Convert 1 UGX to SVC...
      </a>
    </li>
    <li>
      <a href="/UGX/SYP">
        Convert 1 UGX to SYP...
      </a>
    </li>
    <li>
      <a href="/UGX/SZL">
        Convert 1 UGX to SZL...
      </a>
    </li>
    <li>
      <a href="/UGX/THB">
        Convert 1 UGX to THB...
      </a>
    </li>
    <li>
      <a href="/UGX/TJS">
        Convert 1 UGX to TJS...
      </a>
    </li>
    <li>
      <a href="/UGX/TMT">
        Convert 1 UGX to TMT...
      </a>
    </li>
    <li>
      <a href="/UGX/TND">
        Convert 1 UGX to TND...
      </a>
    </li>
    <li>
      <a href="/UGX/TOP">
        Convert 1 UGX to TOP...
      </a>
    </li>
    <li>
      <a href="/UGX/TRY">
        Convert 1 UGX to TRY...
      </a>
    </li>
    <li>
      <a href="/UGX/TTD">
        Convert 1 UGX to TTD...
      </a>
    </li>
    <li>
      <a href="/UGX/TWD">
        Convert 1 UGX to TWD...
      </a>
    </li>
    <li>
      <a href="/UGX/TZS">
        Convert 1 UGX to TZS...
      </a>
    </li>
    <li>
      <a href="/UGX/UAH">
        Convert 1 UGX to UAH...
      </a>
    </li>
    <li>
      <a href="/UGX/UGX">
        Convert 1 UGX to UGX...
      </a>
    </li>
    <li>
      <a href="/UGX/USD">
        Convert 1 UGX to USD...
      </a>
    </li>
    <li>
      <a href="/UGX/UYU">
        Convert 1 UGX to UYU...
      </a>
    </li>
    <li>
      <a href="/UGX/UZS">
        Convert 1 UGX to UZS...
      </a>
    </li>
    <li>
      <a href="/UGX/VEF">
        Convert 1 UGX to VEF...
      </a>
    </li>
    <li>
      <a href="/UGX/VES">
        Convert 1 UGX to VES...
      </a>
    </li>
    <li>
      <a href="/UGX/VND">
        Convert 1 UGX to VND...
      </a>
    </li>
    <li>
      <a href="/UGX/VUV">
        Convert 1 UGX to VUV...
      </a>
    </li>
    <li>
      <a href="/UGX/WST">
        Convert 1 UGX to WST...
      </a>
    </li>
    <li>
      <a href="/UGX/XAF">
        Convert 1 UGX to XAF...
      </a>
    </li>
    <li>
      <a href="/UGX/XAG">
        Convert 1 UGX to XAG...
      </a>
    </li>
    <li>
      <a href="/UGX/XAU">
        Convert 1 UGX to XAU...
      </a>
    </li>
    <li>
      <a href="/UGX/XCD">
        Convert 1 UGX to XCD...
      </a>
    </li>
    <li>
      <a href="/UGX/XDR">
        Convert 1 UGX to XDR...
      </a>
    </li>
    <li>
      <a href="/UGX/XOF">
        Convert 1 UGX to XOF...
      </a>
    </li>
    <li>
      <a href="/UGX/XPD">
        Convert 1 UGX to XPD...
      </a>
    </li>
    <li>
      <a href="/UGX/XPF">
        Convert 1 UGX to XPF...
      </a>
    </li>
    <li>
      <a href="/UGX/XPT">
        Convert 1 UGX to XPT...
      </a>
    </li>
    <li>
      <a href="/UGX/YER">
        Convert 1 UGX to YER...
      </a>
    </li>
    <li>
      <a href="/UGX/ZAR">
        Convert 1 UGX to ZAR...
      </a>
    </li>
    <li>
      <a href="/UGX/ZMW">
        Convert 1 UGX to ZMW...
      </a>
    </li>
    <li>
      <a href="/UGX/ZWL">
        Convert 1 UGX to ZWL...
      </a>
    </li>
</ul>
</body>
