<body>
    <h1>Convert UYU</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/UYU/AED">
        Convert 1 UYU to AED...
      </a>
    </li>
    <li>
      <a href="/UYU/AFN">
        Convert 1 UYU to AFN...
      </a>
    </li>
    <li>
      <a href="/UYU/ALL">
        Convert 1 UYU to ALL...
      </a>
    </li>
    <li>
      <a href="/UYU/AMD">
        Convert 1 UYU to AMD...
      </a>
    </li>
    <li>
      <a href="/UYU/ANG">
        Convert 1 UYU to ANG...
      </a>
    </li>
    <li>
      <a href="/UYU/AOA">
        Convert 1 UYU to AOA...
      </a>
    </li>
    <li>
      <a href="/UYU/ARS">
        Convert 1 UYU to ARS...
      </a>
    </li>
    <li>
      <a href="/UYU/AUD">
        Convert 1 UYU to AUD...
      </a>
    </li>
    <li>
      <a href="/UYU/AWG">
        Convert 1 UYU to AWG...
      </a>
    </li>
    <li>
      <a href="/UYU/AZN">
        Convert 1 UYU to AZN...
      </a>
    </li>
    <li>
      <a href="/UYU/BAM">
        Convert 1 UYU to BAM...
      </a>
    </li>
    <li>
      <a href="/UYU/BBD">
        Convert 1 UYU to BBD...
      </a>
    </li>
    <li>
      <a href="/UYU/BDT">
        Convert 1 UYU to BDT...
      </a>
    </li>
    <li>
      <a href="/UYU/BGN">
        Convert 1 UYU to BGN...
      </a>
    </li>
    <li>
      <a href="/UYU/BHD">
        Convert 1 UYU to BHD...
      </a>
    </li>
    <li>
      <a href="/UYU/BIF">
        Convert 1 UYU to BIF...
      </a>
    </li>
    <li>
      <a href="/UYU/BMD">
        Convert 1 UYU to BMD...
      </a>
    </li>
    <li>
      <a href="/UYU/BND">
        Convert 1 UYU to BND...
      </a>
    </li>
    <li>
      <a href="/UYU/BOB">
        Convert 1 UYU to BOB...
      </a>
    </li>
    <li>
      <a href="/UYU/BRL">
        Convert 1 UYU to BRL...
      </a>
    </li>
    <li>
      <a href="/UYU/BSD">
        Convert 1 UYU to BSD...
      </a>
    </li>
    <li>
      <a href="/UYU/BTC">
        Convert 1 UYU to BTC...
      </a>
    </li>
    <li>
      <a href="/UYU/BTN">
        Convert 1 UYU to BTN...
      </a>
    </li>
    <li>
      <a href="/UYU/BWP">
        Convert 1 UYU to BWP...
      </a>
    </li>
    <li>
      <a href="/UYU/BYN">
        Convert 1 UYU to BYN...
      </a>
    </li>
    <li>
      <a href="/UYU/BZD">
        Convert 1 UYU to BZD...
      </a>
    </li>
    <li>
      <a href="/UYU/CAD">
        Convert 1 UYU to CAD...
      </a>
    </li>
    <li>
      <a href="/UYU/CDF">
        Convert 1 UYU to CDF...
      </a>
    </li>
    <li>
      <a href="/UYU/CHF">
        Convert 1 UYU to CHF...
      </a>
    </li>
    <li>
      <a href="/UYU/CLF">
        Convert 1 UYU to CLF...
      </a>
    </li>
    <li>
      <a href="/UYU/CLP">
        Convert 1 UYU to CLP...
      </a>
    </li>
    <li>
      <a href="/UYU/CNH">
        Convert 1 UYU to CNH...
      </a>
    </li>
    <li>
      <a href="/UYU/CNY">
        Convert 1 UYU to CNY...
      </a>
    </li>
    <li>
      <a href="/UYU/COP">
        Convert 1 UYU to COP...
      </a>
    </li>
    <li>
      <a href="/UYU/CRC">
        Convert 1 UYU to CRC...
      </a>
    </li>
    <li>
      <a href="/UYU/CUC">
        Convert 1 UYU to CUC...
      </a>
    </li>
    <li>
      <a href="/UYU/CUP">
        Convert 1 UYU to CUP...
      </a>
    </li>
    <li>
      <a href="/UYU/CVE">
        Convert 1 UYU to CVE...
      </a>
    </li>
    <li>
      <a href="/UYU/CZK">
        Convert 1 UYU to CZK...
      </a>
    </li>
    <li>
      <a href="/UYU/DJF">
        Convert 1 UYU to DJF...
      </a>
    </li>
    <li>
      <a href="/UYU/DKK">
        Convert 1 UYU to DKK...
      </a>
    </li>
    <li>
      <a href="/UYU/DOP">
        Convert 1 UYU to DOP...
      </a>
    </li>
    <li>
      <a href="/UYU/DZD">
        Convert 1 UYU to DZD...
      </a>
    </li>
    <li>
      <a href="/UYU/EGP">
        Convert 1 UYU to EGP...
      </a>
    </li>
    <li>
      <a href="/UYU/ERN">
        Convert 1 UYU to ERN...
      </a>
    </li>
    <li>
      <a href="/UYU/ETB">
        Convert 1 UYU to ETB...
      </a>
    </li>
    <li>
      <a href="/UYU/EUR">
        Convert 1 UYU to EUR...
      </a>
    </li>
    <li>
      <a href="/UYU/FJD">
        Convert 1 UYU to FJD...
      </a>
    </li>
    <li>
      <a href="/UYU/FKP">
        Convert 1 UYU to FKP...
      </a>
    </li>
    <li>
      <a href="/UYU/GBP">
        Convert 1 UYU to GBP...
      </a>
    </li>
    <li>
      <a href="/UYU/GEL">
        Convert 1 UYU to GEL...
      </a>
    </li>
    <li>
      <a href="/UYU/GGP">
        Convert 1 UYU to GGP...
      </a>
    </li>
    <li>
      <a href="/UYU/GHS">
        Convert 1 UYU to GHS...
      </a>
    </li>
    <li>
      <a href="/UYU/GIP">
        Convert 1 UYU to GIP...
      </a>
    </li>
    <li>
      <a href="/UYU/GMD">
        Convert 1 UYU to GMD...
      </a>
    </li>
    <li>
      <a href="/UYU/GNF">
        Convert 1 UYU to GNF...
      </a>
    </li>
    <li>
      <a href="/UYU/GTQ">
        Convert 1 UYU to GTQ...
      </a>
    </li>
    <li>
      <a href="/UYU/GYD">
        Convert 1 UYU to GYD...
      </a>
    </li>
    <li>
      <a href="/UYU/HKD">
        Convert 1 UYU to HKD...
      </a>
    </li>
    <li>
      <a href="/UYU/HNL">
        Convert 1 UYU to HNL...
      </a>
    </li>
    <li>
      <a href="/UYU/HRK">
        Convert 1 UYU to HRK...
      </a>
    </li>
    <li>
      <a href="/UYU/HTG">
        Convert 1 UYU to HTG...
      </a>
    </li>
    <li>
      <a href="/UYU/HUF">
        Convert 1 UYU to HUF...
      </a>
    </li>
    <li>
      <a href="/UYU/IDR">
        Convert 1 UYU to IDR...
      </a>
    </li>
    <li>
      <a href="/UYU/ILS">
        Convert 1 UYU to ILS...
      </a>
    </li>
    <li>
      <a href="/UYU/IMP">
        Convert 1 UYU to IMP...
      </a>
    </li>
    <li>
      <a href="/UYU/INR">
        Convert 1 UYU to INR...
      </a>
    </li>
    <li>
      <a href="/UYU/IQD">
        Convert 1 UYU to IQD...
      </a>
    </li>
    <li>
      <a href="/UYU/IRR">
        Convert 1 UYU to IRR...
      </a>
    </li>
    <li>
      <a href="/UYU/ISK">
        Convert 1 UYU to ISK...
      </a>
    </li>
    <li>
      <a href="/UYU/JEP">
        Convert 1 UYU to JEP...
      </a>
    </li>
    <li>
      <a href="/UYU/JMD">
        Convert 1 UYU to JMD...
      </a>
    </li>
    <li>
      <a href="/UYU/JOD">
        Convert 1 UYU to JOD...
      </a>
    </li>
    <li>
      <a href="/UYU/JPY">
        Convert 1 UYU to JPY...
      </a>
    </li>
    <li>
      <a href="/UYU/KES">
        Convert 1 UYU to KES...
      </a>
    </li>
    <li>
      <a href="/UYU/KGS">
        Convert 1 UYU to KGS...
      </a>
    </li>
    <li>
      <a href="/UYU/KHR">
        Convert 1 UYU to KHR...
      </a>
    </li>
    <li>
      <a href="/UYU/KMF">
        Convert 1 UYU to KMF...
      </a>
    </li>
    <li>
      <a href="/UYU/KPW">
        Convert 1 UYU to KPW...
      </a>
    </li>
    <li>
      <a href="/UYU/KRW">
        Convert 1 UYU to KRW...
      </a>
    </li>
    <li>
      <a href="/UYU/KWD">
        Convert 1 UYU to KWD...
      </a>
    </li>
    <li>
      <a href="/UYU/KYD">
        Convert 1 UYU to KYD...
      </a>
    </li>
    <li>
      <a href="/UYU/KZT">
        Convert 1 UYU to KZT...
      </a>
    </li>
    <li>
      <a href="/UYU/LAK">
        Convert 1 UYU to LAK...
      </a>
    </li>
    <li>
      <a href="/UYU/LBP">
        Convert 1 UYU to LBP...
      </a>
    </li>
    <li>
      <a href="/UYU/LKR">
        Convert 1 UYU to LKR...
      </a>
    </li>
    <li>
      <a href="/UYU/LRD">
        Convert 1 UYU to LRD...
      </a>
    </li>
    <li>
      <a href="/UYU/LSL">
        Convert 1 UYU to LSL...
      </a>
    </li>
    <li>
      <a href="/UYU/LYD">
        Convert 1 UYU to LYD...
      </a>
    </li>
    <li>
      <a href="/UYU/MAD">
        Convert 1 UYU to MAD...
      </a>
    </li>
    <li>
      <a href="/UYU/MDL">
        Convert 1 UYU to MDL...
      </a>
    </li>
    <li>
      <a href="/UYU/MGA">
        Convert 1 UYU to MGA...
      </a>
    </li>
    <li>
      <a href="/UYU/MKD">
        Convert 1 UYU to MKD...
      </a>
    </li>
    <li>
      <a href="/UYU/MMK">
        Convert 1 UYU to MMK...
      </a>
    </li>
    <li>
      <a href="/UYU/MNT">
        Convert 1 UYU to MNT...
      </a>
    </li>
    <li>
      <a href="/UYU/MOP">
        Convert 1 UYU to MOP...
      </a>
    </li>
    <li>
      <a href="/UYU/MRO">
        Convert 1 UYU to MRO...
      </a>
    </li>
    <li>
      <a href="/UYU/MRU">
        Convert 1 UYU to MRU...
      </a>
    </li>
    <li>
      <a href="/UYU/MUR">
        Convert 1 UYU to MUR...
      </a>
    </li>
    <li>
      <a href="/UYU/MVR">
        Convert 1 UYU to MVR...
      </a>
    </li>
    <li>
      <a href="/UYU/MWK">
        Convert 1 UYU to MWK...
      </a>
    </li>
    <li>
      <a href="/UYU/MXN">
        Convert 1 UYU to MXN...
      </a>
    </li>
    <li>
      <a href="/UYU/MYR">
        Convert 1 UYU to MYR...
      </a>
    </li>
    <li>
      <a href="/UYU/MZN">
        Convert 1 UYU to MZN...
      </a>
    </li>
    <li>
      <a href="/UYU/NAD">
        Convert 1 UYU to NAD...
      </a>
    </li>
    <li>
      <a href="/UYU/NGN">
        Convert 1 UYU to NGN...
      </a>
    </li>
    <li>
      <a href="/UYU/NIO">
        Convert 1 UYU to NIO...
      </a>
    </li>
    <li>
      <a href="/UYU/NOK">
        Convert 1 UYU to NOK...
      </a>
    </li>
    <li>
      <a href="/UYU/NPR">
        Convert 1 UYU to NPR...
      </a>
    </li>
    <li>
      <a href="/UYU/NZD">
        Convert 1 UYU to NZD...
      </a>
    </li>
    <li>
      <a href="/UYU/OMR">
        Convert 1 UYU to OMR...
      </a>
    </li>
    <li>
      <a href="/UYU/PAB">
        Convert 1 UYU to PAB...
      </a>
    </li>
    <li>
      <a href="/UYU/PEN">
        Convert 1 UYU to PEN...
      </a>
    </li>
    <li>
      <a href="/UYU/PGK">
        Convert 1 UYU to PGK...
      </a>
    </li>
    <li>
      <a href="/UYU/PHP">
        Convert 1 UYU to PHP...
      </a>
    </li>
    <li>
      <a href="/UYU/PKR">
        Convert 1 UYU to PKR...
      </a>
    </li>
    <li>
      <a href="/UYU/PLN">
        Convert 1 UYU to PLN...
      </a>
    </li>
    <li>
      <a href="/UYU/PYG">
        Convert 1 UYU to PYG...
      </a>
    </li>
    <li>
      <a href="/UYU/QAR">
        Convert 1 UYU to QAR...
      </a>
    </li>
    <li>
      <a href="/UYU/RON">
        Convert 1 UYU to RON...
      </a>
    </li>
    <li>
      <a href="/UYU/RSD">
        Convert 1 UYU to RSD...
      </a>
    </li>
    <li>
      <a href="/UYU/RUB">
        Convert 1 UYU to RUB...
      </a>
    </li>
    <li>
      <a href="/UYU/RWF">
        Convert 1 UYU to RWF...
      </a>
    </li>
    <li>
      <a href="/UYU/SAR">
        Convert 1 UYU to SAR...
      </a>
    </li>
    <li>
      <a href="/UYU/SBD">
        Convert 1 UYU to SBD...
      </a>
    </li>
    <li>
      <a href="/UYU/SCR">
        Convert 1 UYU to SCR...
      </a>
    </li>
    <li>
      <a href="/UYU/SDG">
        Convert 1 UYU to SDG...
      </a>
    </li>
    <li>
      <a href="/UYU/SEK">
        Convert 1 UYU to SEK...
      </a>
    </li>
    <li>
      <a href="/UYU/SGD">
        Convert 1 UYU to SGD...
      </a>
    </li>
    <li>
      <a href="/UYU/SHP">
        Convert 1 UYU to SHP...
      </a>
    </li>
    <li>
      <a href="/UYU/SLL">
        Convert 1 UYU to SLL...
      </a>
    </li>
    <li>
      <a href="/UYU/SOS">
        Convert 1 UYU to SOS...
      </a>
    </li>
    <li>
      <a href="/UYU/SRD">
        Convert 1 UYU to SRD...
      </a>
    </li>
    <li>
      <a href="/UYU/SSP">
        Convert 1 UYU to SSP...
      </a>
    </li>
    <li>
      <a href="/UYU/STD">
        Convert 1 UYU to STD...
      </a>
    </li>
    <li>
      <a href="/UYU/STN">
        Convert 1 UYU to STN...
      </a>
    </li>
    <li>
      <a href="/UYU/SVC">
        Convert 1 UYU to SVC...
      </a>
    </li>
    <li>
      <a href="/UYU/SYP">
        Convert 1 UYU to SYP...
      </a>
    </li>
    <li>
      <a href="/UYU/SZL">
        Convert 1 UYU to SZL...
      </a>
    </li>
    <li>
      <a href="/UYU/THB">
        Convert 1 UYU to THB...
      </a>
    </li>
    <li>
      <a href="/UYU/TJS">
        Convert 1 UYU to TJS...
      </a>
    </li>
    <li>
      <a href="/UYU/TMT">
        Convert 1 UYU to TMT...
      </a>
    </li>
    <li>
      <a href="/UYU/TND">
        Convert 1 UYU to TND...
      </a>
    </li>
    <li>
      <a href="/UYU/TOP">
        Convert 1 UYU to TOP...
      </a>
    </li>
    <li>
      <a href="/UYU/TRY">
        Convert 1 UYU to TRY...
      </a>
    </li>
    <li>
      <a href="/UYU/TTD">
        Convert 1 UYU to TTD...
      </a>
    </li>
    <li>
      <a href="/UYU/TWD">
        Convert 1 UYU to TWD...
      </a>
    </li>
    <li>
      <a href="/UYU/TZS">
        Convert 1 UYU to TZS...
      </a>
    </li>
    <li>
      <a href="/UYU/UAH">
        Convert 1 UYU to UAH...
      </a>
    </li>
    <li>
      <a href="/UYU/UGX">
        Convert 1 UYU to UGX...
      </a>
    </li>
    <li>
      <a href="/UYU/USD">
        Convert 1 UYU to USD...
      </a>
    </li>
    <li>
      <a href="/UYU/UYU">
        Convert 1 UYU to UYU...
      </a>
    </li>
    <li>
      <a href="/UYU/UZS">
        Convert 1 UYU to UZS...
      </a>
    </li>
    <li>
      <a href="/UYU/VEF">
        Convert 1 UYU to VEF...
      </a>
    </li>
    <li>
      <a href="/UYU/VES">
        Convert 1 UYU to VES...
      </a>
    </li>
    <li>
      <a href="/UYU/VND">
        Convert 1 UYU to VND...
      </a>
    </li>
    <li>
      <a href="/UYU/VUV">
        Convert 1 UYU to VUV...
      </a>
    </li>
    <li>
      <a href="/UYU/WST">
        Convert 1 UYU to WST...
      </a>
    </li>
    <li>
      <a href="/UYU/XAF">
        Convert 1 UYU to XAF...
      </a>
    </li>
    <li>
      <a href="/UYU/XAG">
        Convert 1 UYU to XAG...
      </a>
    </li>
    <li>
      <a href="/UYU/XAU">
        Convert 1 UYU to XAU...
      </a>
    </li>
    <li>
      <a href="/UYU/XCD">
        Convert 1 UYU to XCD...
      </a>
    </li>
    <li>
      <a href="/UYU/XDR">
        Convert 1 UYU to XDR...
      </a>
    </li>
    <li>
      <a href="/UYU/XOF">
        Convert 1 UYU to XOF...
      </a>
    </li>
    <li>
      <a href="/UYU/XPD">
        Convert 1 UYU to XPD...
      </a>
    </li>
    <li>
      <a href="/UYU/XPF">
        Convert 1 UYU to XPF...
      </a>
    </li>
    <li>
      <a href="/UYU/XPT">
        Convert 1 UYU to XPT...
      </a>
    </li>
    <li>
      <a href="/UYU/YER">
        Convert 1 UYU to YER...
      </a>
    </li>
    <li>
      <a href="/UYU/ZAR">
        Convert 1 UYU to ZAR...
      </a>
    </li>
    <li>
      <a href="/UYU/ZMW">
        Convert 1 UYU to ZMW...
      </a>
    </li>
    <li>
      <a href="/UYU/ZWL">
        Convert 1 UYU to ZWL...
      </a>
    </li>
</ul>
</body>
