<body>
    <h1>Convert UZS</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/UZS/AED">
        Convert 1 UZS to AED...
      </a>
    </li>
    <li>
      <a href="/UZS/AFN">
        Convert 1 UZS to AFN...
      </a>
    </li>
    <li>
      <a href="/UZS/ALL">
        Convert 1 UZS to ALL...
      </a>
    </li>
    <li>
      <a href="/UZS/AMD">
        Convert 1 UZS to AMD...
      </a>
    </li>
    <li>
      <a href="/UZS/ANG">
        Convert 1 UZS to ANG...
      </a>
    </li>
    <li>
      <a href="/UZS/AOA">
        Convert 1 UZS to AOA...
      </a>
    </li>
    <li>
      <a href="/UZS/ARS">
        Convert 1 UZS to ARS...
      </a>
    </li>
    <li>
      <a href="/UZS/AUD">
        Convert 1 UZS to AUD...
      </a>
    </li>
    <li>
      <a href="/UZS/AWG">
        Convert 1 UZS to AWG...
      </a>
    </li>
    <li>
      <a href="/UZS/AZN">
        Convert 1 UZS to AZN...
      </a>
    </li>
    <li>
      <a href="/UZS/BAM">
        Convert 1 UZS to BAM...
      </a>
    </li>
    <li>
      <a href="/UZS/BBD">
        Convert 1 UZS to BBD...
      </a>
    </li>
    <li>
      <a href="/UZS/BDT">
        Convert 1 UZS to BDT...
      </a>
    </li>
    <li>
      <a href="/UZS/BGN">
        Convert 1 UZS to BGN...
      </a>
    </li>
    <li>
      <a href="/UZS/BHD">
        Convert 1 UZS to BHD...
      </a>
    </li>
    <li>
      <a href="/UZS/BIF">
        Convert 1 UZS to BIF...
      </a>
    </li>
    <li>
      <a href="/UZS/BMD">
        Convert 1 UZS to BMD...
      </a>
    </li>
    <li>
      <a href="/UZS/BND">
        Convert 1 UZS to BND...
      </a>
    </li>
    <li>
      <a href="/UZS/BOB">
        Convert 1 UZS to BOB...
      </a>
    </li>
    <li>
      <a href="/UZS/BRL">
        Convert 1 UZS to BRL...
      </a>
    </li>
    <li>
      <a href="/UZS/BSD">
        Convert 1 UZS to BSD...
      </a>
    </li>
    <li>
      <a href="/UZS/BTC">
        Convert 1 UZS to BTC...
      </a>
    </li>
    <li>
      <a href="/UZS/BTN">
        Convert 1 UZS to BTN...
      </a>
    </li>
    <li>
      <a href="/UZS/BWP">
        Convert 1 UZS to BWP...
      </a>
    </li>
    <li>
      <a href="/UZS/BYN">
        Convert 1 UZS to BYN...
      </a>
    </li>
    <li>
      <a href="/UZS/BZD">
        Convert 1 UZS to BZD...
      </a>
    </li>
    <li>
      <a href="/UZS/CAD">
        Convert 1 UZS to CAD...
      </a>
    </li>
    <li>
      <a href="/UZS/CDF">
        Convert 1 UZS to CDF...
      </a>
    </li>
    <li>
      <a href="/UZS/CHF">
        Convert 1 UZS to CHF...
      </a>
    </li>
    <li>
      <a href="/UZS/CLF">
        Convert 1 UZS to CLF...
      </a>
    </li>
    <li>
      <a href="/UZS/CLP">
        Convert 1 UZS to CLP...
      </a>
    </li>
    <li>
      <a href="/UZS/CNH">
        Convert 1 UZS to CNH...
      </a>
    </li>
    <li>
      <a href="/UZS/CNY">
        Convert 1 UZS to CNY...
      </a>
    </li>
    <li>
      <a href="/UZS/COP">
        Convert 1 UZS to COP...
      </a>
    </li>
    <li>
      <a href="/UZS/CRC">
        Convert 1 UZS to CRC...
      </a>
    </li>
    <li>
      <a href="/UZS/CUC">
        Convert 1 UZS to CUC...
      </a>
    </li>
    <li>
      <a href="/UZS/CUP">
        Convert 1 UZS to CUP...
      </a>
    </li>
    <li>
      <a href="/UZS/CVE">
        Convert 1 UZS to CVE...
      </a>
    </li>
    <li>
      <a href="/UZS/CZK">
        Convert 1 UZS to CZK...
      </a>
    </li>
    <li>
      <a href="/UZS/DJF">
        Convert 1 UZS to DJF...
      </a>
    </li>
    <li>
      <a href="/UZS/DKK">
        Convert 1 UZS to DKK...
      </a>
    </li>
    <li>
      <a href="/UZS/DOP">
        Convert 1 UZS to DOP...
      </a>
    </li>
    <li>
      <a href="/UZS/DZD">
        Convert 1 UZS to DZD...
      </a>
    </li>
    <li>
      <a href="/UZS/EGP">
        Convert 1 UZS to EGP...
      </a>
    </li>
    <li>
      <a href="/UZS/ERN">
        Convert 1 UZS to ERN...
      </a>
    </li>
    <li>
      <a href="/UZS/ETB">
        Convert 1 UZS to ETB...
      </a>
    </li>
    <li>
      <a href="/UZS/EUR">
        Convert 1 UZS to EUR...
      </a>
    </li>
    <li>
      <a href="/UZS/FJD">
        Convert 1 UZS to FJD...
      </a>
    </li>
    <li>
      <a href="/UZS/FKP">
        Convert 1 UZS to FKP...
      </a>
    </li>
    <li>
      <a href="/UZS/GBP">
        Convert 1 UZS to GBP...
      </a>
    </li>
    <li>
      <a href="/UZS/GEL">
        Convert 1 UZS to GEL...
      </a>
    </li>
    <li>
      <a href="/UZS/GGP">
        Convert 1 UZS to GGP...
      </a>
    </li>
    <li>
      <a href="/UZS/GHS">
        Convert 1 UZS to GHS...
      </a>
    </li>
    <li>
      <a href="/UZS/GIP">
        Convert 1 UZS to GIP...
      </a>
    </li>
    <li>
      <a href="/UZS/GMD">
        Convert 1 UZS to GMD...
      </a>
    </li>
    <li>
      <a href="/UZS/GNF">
        Convert 1 UZS to GNF...
      </a>
    </li>
    <li>
      <a href="/UZS/GTQ">
        Convert 1 UZS to GTQ...
      </a>
    </li>
    <li>
      <a href="/UZS/GYD">
        Convert 1 UZS to GYD...
      </a>
    </li>
    <li>
      <a href="/UZS/HKD">
        Convert 1 UZS to HKD...
      </a>
    </li>
    <li>
      <a href="/UZS/HNL">
        Convert 1 UZS to HNL...
      </a>
    </li>
    <li>
      <a href="/UZS/HRK">
        Convert 1 UZS to HRK...
      </a>
    </li>
    <li>
      <a href="/UZS/HTG">
        Convert 1 UZS to HTG...
      </a>
    </li>
    <li>
      <a href="/UZS/HUF">
        Convert 1 UZS to HUF...
      </a>
    </li>
    <li>
      <a href="/UZS/IDR">
        Convert 1 UZS to IDR...
      </a>
    </li>
    <li>
      <a href="/UZS/ILS">
        Convert 1 UZS to ILS...
      </a>
    </li>
    <li>
      <a href="/UZS/IMP">
        Convert 1 UZS to IMP...
      </a>
    </li>
    <li>
      <a href="/UZS/INR">
        Convert 1 UZS to INR...
      </a>
    </li>
    <li>
      <a href="/UZS/IQD">
        Convert 1 UZS to IQD...
      </a>
    </li>
    <li>
      <a href="/UZS/IRR">
        Convert 1 UZS to IRR...
      </a>
    </li>
    <li>
      <a href="/UZS/ISK">
        Convert 1 UZS to ISK...
      </a>
    </li>
    <li>
      <a href="/UZS/JEP">
        Convert 1 UZS to JEP...
      </a>
    </li>
    <li>
      <a href="/UZS/JMD">
        Convert 1 UZS to JMD...
      </a>
    </li>
    <li>
      <a href="/UZS/JOD">
        Convert 1 UZS to JOD...
      </a>
    </li>
    <li>
      <a href="/UZS/JPY">
        Convert 1 UZS to JPY...
      </a>
    </li>
    <li>
      <a href="/UZS/KES">
        Convert 1 UZS to KES...
      </a>
    </li>
    <li>
      <a href="/UZS/KGS">
        Convert 1 UZS to KGS...
      </a>
    </li>
    <li>
      <a href="/UZS/KHR">
        Convert 1 UZS to KHR...
      </a>
    </li>
    <li>
      <a href="/UZS/KMF">
        Convert 1 UZS to KMF...
      </a>
    </li>
    <li>
      <a href="/UZS/KPW">
        Convert 1 UZS to KPW...
      </a>
    </li>
    <li>
      <a href="/UZS/KRW">
        Convert 1 UZS to KRW...
      </a>
    </li>
    <li>
      <a href="/UZS/KWD">
        Convert 1 UZS to KWD...
      </a>
    </li>
    <li>
      <a href="/UZS/KYD">
        Convert 1 UZS to KYD...
      </a>
    </li>
    <li>
      <a href="/UZS/KZT">
        Convert 1 UZS to KZT...
      </a>
    </li>
    <li>
      <a href="/UZS/LAK">
        Convert 1 UZS to LAK...
      </a>
    </li>
    <li>
      <a href="/UZS/LBP">
        Convert 1 UZS to LBP...
      </a>
    </li>
    <li>
      <a href="/UZS/LKR">
        Convert 1 UZS to LKR...
      </a>
    </li>
    <li>
      <a href="/UZS/LRD">
        Convert 1 UZS to LRD...
      </a>
    </li>
    <li>
      <a href="/UZS/LSL">
        Convert 1 UZS to LSL...
      </a>
    </li>
    <li>
      <a href="/UZS/LYD">
        Convert 1 UZS to LYD...
      </a>
    </li>
    <li>
      <a href="/UZS/MAD">
        Convert 1 UZS to MAD...
      </a>
    </li>
    <li>
      <a href="/UZS/MDL">
        Convert 1 UZS to MDL...
      </a>
    </li>
    <li>
      <a href="/UZS/MGA">
        Convert 1 UZS to MGA...
      </a>
    </li>
    <li>
      <a href="/UZS/MKD">
        Convert 1 UZS to MKD...
      </a>
    </li>
    <li>
      <a href="/UZS/MMK">
        Convert 1 UZS to MMK...
      </a>
    </li>
    <li>
      <a href="/UZS/MNT">
        Convert 1 UZS to MNT...
      </a>
    </li>
    <li>
      <a href="/UZS/MOP">
        Convert 1 UZS to MOP...
      </a>
    </li>
    <li>
      <a href="/UZS/MRO">
        Convert 1 UZS to MRO...
      </a>
    </li>
    <li>
      <a href="/UZS/MRU">
        Convert 1 UZS to MRU...
      </a>
    </li>
    <li>
      <a href="/UZS/MUR">
        Convert 1 UZS to MUR...
      </a>
    </li>
    <li>
      <a href="/UZS/MVR">
        Convert 1 UZS to MVR...
      </a>
    </li>
    <li>
      <a href="/UZS/MWK">
        Convert 1 UZS to MWK...
      </a>
    </li>
    <li>
      <a href="/UZS/MXN">
        Convert 1 UZS to MXN...
      </a>
    </li>
    <li>
      <a href="/UZS/MYR">
        Convert 1 UZS to MYR...
      </a>
    </li>
    <li>
      <a href="/UZS/MZN">
        Convert 1 UZS to MZN...
      </a>
    </li>
    <li>
      <a href="/UZS/NAD">
        Convert 1 UZS to NAD...
      </a>
    </li>
    <li>
      <a href="/UZS/NGN">
        Convert 1 UZS to NGN...
      </a>
    </li>
    <li>
      <a href="/UZS/NIO">
        Convert 1 UZS to NIO...
      </a>
    </li>
    <li>
      <a href="/UZS/NOK">
        Convert 1 UZS to NOK...
      </a>
    </li>
    <li>
      <a href="/UZS/NPR">
        Convert 1 UZS to NPR...
      </a>
    </li>
    <li>
      <a href="/UZS/NZD">
        Convert 1 UZS to NZD...
      </a>
    </li>
    <li>
      <a href="/UZS/OMR">
        Convert 1 UZS to OMR...
      </a>
    </li>
    <li>
      <a href="/UZS/PAB">
        Convert 1 UZS to PAB...
      </a>
    </li>
    <li>
      <a href="/UZS/PEN">
        Convert 1 UZS to PEN...
      </a>
    </li>
    <li>
      <a href="/UZS/PGK">
        Convert 1 UZS to PGK...
      </a>
    </li>
    <li>
      <a href="/UZS/PHP">
        Convert 1 UZS to PHP...
      </a>
    </li>
    <li>
      <a href="/UZS/PKR">
        Convert 1 UZS to PKR...
      </a>
    </li>
    <li>
      <a href="/UZS/PLN">
        Convert 1 UZS to PLN...
      </a>
    </li>
    <li>
      <a href="/UZS/PYG">
        Convert 1 UZS to PYG...
      </a>
    </li>
    <li>
      <a href="/UZS/QAR">
        Convert 1 UZS to QAR...
      </a>
    </li>
    <li>
      <a href="/UZS/RON">
        Convert 1 UZS to RON...
      </a>
    </li>
    <li>
      <a href="/UZS/RSD">
        Convert 1 UZS to RSD...
      </a>
    </li>
    <li>
      <a href="/UZS/RUB">
        Convert 1 UZS to RUB...
      </a>
    </li>
    <li>
      <a href="/UZS/RWF">
        Convert 1 UZS to RWF...
      </a>
    </li>
    <li>
      <a href="/UZS/SAR">
        Convert 1 UZS to SAR...
      </a>
    </li>
    <li>
      <a href="/UZS/SBD">
        Convert 1 UZS to SBD...
      </a>
    </li>
    <li>
      <a href="/UZS/SCR">
        Convert 1 UZS to SCR...
      </a>
    </li>
    <li>
      <a href="/UZS/SDG">
        Convert 1 UZS to SDG...
      </a>
    </li>
    <li>
      <a href="/UZS/SEK">
        Convert 1 UZS to SEK...
      </a>
    </li>
    <li>
      <a href="/UZS/SGD">
        Convert 1 UZS to SGD...
      </a>
    </li>
    <li>
      <a href="/UZS/SHP">
        Convert 1 UZS to SHP...
      </a>
    </li>
    <li>
      <a href="/UZS/SLL">
        Convert 1 UZS to SLL...
      </a>
    </li>
    <li>
      <a href="/UZS/SOS">
        Convert 1 UZS to SOS...
      </a>
    </li>
    <li>
      <a href="/UZS/SRD">
        Convert 1 UZS to SRD...
      </a>
    </li>
    <li>
      <a href="/UZS/SSP">
        Convert 1 UZS to SSP...
      </a>
    </li>
    <li>
      <a href="/UZS/STD">
        Convert 1 UZS to STD...
      </a>
    </li>
    <li>
      <a href="/UZS/STN">
        Convert 1 UZS to STN...
      </a>
    </li>
    <li>
      <a href="/UZS/SVC">
        Convert 1 UZS to SVC...
      </a>
    </li>
    <li>
      <a href="/UZS/SYP">
        Convert 1 UZS to SYP...
      </a>
    </li>
    <li>
      <a href="/UZS/SZL">
        Convert 1 UZS to SZL...
      </a>
    </li>
    <li>
      <a href="/UZS/THB">
        Convert 1 UZS to THB...
      </a>
    </li>
    <li>
      <a href="/UZS/TJS">
        Convert 1 UZS to TJS...
      </a>
    </li>
    <li>
      <a href="/UZS/TMT">
        Convert 1 UZS to TMT...
      </a>
    </li>
    <li>
      <a href="/UZS/TND">
        Convert 1 UZS to TND...
      </a>
    </li>
    <li>
      <a href="/UZS/TOP">
        Convert 1 UZS to TOP...
      </a>
    </li>
    <li>
      <a href="/UZS/TRY">
        Convert 1 UZS to TRY...
      </a>
    </li>
    <li>
      <a href="/UZS/TTD">
        Convert 1 UZS to TTD...
      </a>
    </li>
    <li>
      <a href="/UZS/TWD">
        Convert 1 UZS to TWD...
      </a>
    </li>
    <li>
      <a href="/UZS/TZS">
        Convert 1 UZS to TZS...
      </a>
    </li>
    <li>
      <a href="/UZS/UAH">
        Convert 1 UZS to UAH...
      </a>
    </li>
    <li>
      <a href="/UZS/UGX">
        Convert 1 UZS to UGX...
      </a>
    </li>
    <li>
      <a href="/UZS/USD">
        Convert 1 UZS to USD...
      </a>
    </li>
    <li>
      <a href="/UZS/UYU">
        Convert 1 UZS to UYU...
      </a>
    </li>
    <li>
      <a href="/UZS/UZS">
        Convert 1 UZS to UZS...
      </a>
    </li>
    <li>
      <a href="/UZS/VEF">
        Convert 1 UZS to VEF...
      </a>
    </li>
    <li>
      <a href="/UZS/VES">
        Convert 1 UZS to VES...
      </a>
    </li>
    <li>
      <a href="/UZS/VND">
        Convert 1 UZS to VND...
      </a>
    </li>
    <li>
      <a href="/UZS/VUV">
        Convert 1 UZS to VUV...
      </a>
    </li>
    <li>
      <a href="/UZS/WST">
        Convert 1 UZS to WST...
      </a>
    </li>
    <li>
      <a href="/UZS/XAF">
        Convert 1 UZS to XAF...
      </a>
    </li>
    <li>
      <a href="/UZS/XAG">
        Convert 1 UZS to XAG...
      </a>
    </li>
    <li>
      <a href="/UZS/XAU">
        Convert 1 UZS to XAU...
      </a>
    </li>
    <li>
      <a href="/UZS/XCD">
        Convert 1 UZS to XCD...
      </a>
    </li>
    <li>
      <a href="/UZS/XDR">
        Convert 1 UZS to XDR...
      </a>
    </li>
    <li>
      <a href="/UZS/XOF">
        Convert 1 UZS to XOF...
      </a>
    </li>
    <li>
      <a href="/UZS/XPD">
        Convert 1 UZS to XPD...
      </a>
    </li>
    <li>
      <a href="/UZS/XPF">
        Convert 1 UZS to XPF...
      </a>
    </li>
    <li>
      <a href="/UZS/XPT">
        Convert 1 UZS to XPT...
      </a>
    </li>
    <li>
      <a href="/UZS/YER">
        Convert 1 UZS to YER...
      </a>
    </li>
    <li>
      <a href="/UZS/ZAR">
        Convert 1 UZS to ZAR...
      </a>
    </li>
    <li>
      <a href="/UZS/ZMW">
        Convert 1 UZS to ZMW...
      </a>
    </li>
    <li>
      <a href="/UZS/ZWL">
        Convert 1 UZS to ZWL...
      </a>
    </li>
</ul>
</body>
