<body>
    <h1>Convert VEF</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/VEF/AED">
        Convert 1 VEF to AED...
      </a>
    </li>
    <li>
      <a href="/VEF/AFN">
        Convert 1 VEF to AFN...
      </a>
    </li>
    <li>
      <a href="/VEF/ALL">
        Convert 1 VEF to ALL...
      </a>
    </li>
    <li>
      <a href="/VEF/AMD">
        Convert 1 VEF to AMD...
      </a>
    </li>
    <li>
      <a href="/VEF/ANG">
        Convert 1 VEF to ANG...
      </a>
    </li>
    <li>
      <a href="/VEF/AOA">
        Convert 1 VEF to AOA...
      </a>
    </li>
    <li>
      <a href="/VEF/ARS">
        Convert 1 VEF to ARS...
      </a>
    </li>
    <li>
      <a href="/VEF/AUD">
        Convert 1 VEF to AUD...
      </a>
    </li>
    <li>
      <a href="/VEF/AWG">
        Convert 1 VEF to AWG...
      </a>
    </li>
    <li>
      <a href="/VEF/AZN">
        Convert 1 VEF to AZN...
      </a>
    </li>
    <li>
      <a href="/VEF/BAM">
        Convert 1 VEF to BAM...
      </a>
    </li>
    <li>
      <a href="/VEF/BBD">
        Convert 1 VEF to BBD...
      </a>
    </li>
    <li>
      <a href="/VEF/BDT">
        Convert 1 VEF to BDT...
      </a>
    </li>
    <li>
      <a href="/VEF/BGN">
        Convert 1 VEF to BGN...
      </a>
    </li>
    <li>
      <a href="/VEF/BHD">
        Convert 1 VEF to BHD...
      </a>
    </li>
    <li>
      <a href="/VEF/BIF">
        Convert 1 VEF to BIF...
      </a>
    </li>
    <li>
      <a href="/VEF/BMD">
        Convert 1 VEF to BMD...
      </a>
    </li>
    <li>
      <a href="/VEF/BND">
        Convert 1 VEF to BND...
      </a>
    </li>
    <li>
      <a href="/VEF/BOB">
        Convert 1 VEF to BOB...
      </a>
    </li>
    <li>
      <a href="/VEF/BRL">
        Convert 1 VEF to BRL...
      </a>
    </li>
    <li>
      <a href="/VEF/BSD">
        Convert 1 VEF to BSD...
      </a>
    </li>
    <li>
      <a href="/VEF/BTC">
        Convert 1 VEF to BTC...
      </a>
    </li>
    <li>
      <a href="/VEF/BTN">
        Convert 1 VEF to BTN...
      </a>
    </li>
    <li>
      <a href="/VEF/BWP">
        Convert 1 VEF to BWP...
      </a>
    </li>
    <li>
      <a href="/VEF/BYN">
        Convert 1 VEF to BYN...
      </a>
    </li>
    <li>
      <a href="/VEF/BZD">
        Convert 1 VEF to BZD...
      </a>
    </li>
    <li>
      <a href="/VEF/CAD">
        Convert 1 VEF to CAD...
      </a>
    </li>
    <li>
      <a href="/VEF/CDF">
        Convert 1 VEF to CDF...
      </a>
    </li>
    <li>
      <a href="/VEF/CHF">
        Convert 1 VEF to CHF...
      </a>
    </li>
    <li>
      <a href="/VEF/CLF">
        Convert 1 VEF to CLF...
      </a>
    </li>
    <li>
      <a href="/VEF/CLP">
        Convert 1 VEF to CLP...
      </a>
    </li>
    <li>
      <a href="/VEF/CNH">
        Convert 1 VEF to CNH...
      </a>
    </li>
    <li>
      <a href="/VEF/CNY">
        Convert 1 VEF to CNY...
      </a>
    </li>
    <li>
      <a href="/VEF/COP">
        Convert 1 VEF to COP...
      </a>
    </li>
    <li>
      <a href="/VEF/CRC">
        Convert 1 VEF to CRC...
      </a>
    </li>
    <li>
      <a href="/VEF/CUC">
        Convert 1 VEF to CUC...
      </a>
    </li>
    <li>
      <a href="/VEF/CUP">
        Convert 1 VEF to CUP...
      </a>
    </li>
    <li>
      <a href="/VEF/CVE">
        Convert 1 VEF to CVE...
      </a>
    </li>
    <li>
      <a href="/VEF/CZK">
        Convert 1 VEF to CZK...
      </a>
    </li>
    <li>
      <a href="/VEF/DJF">
        Convert 1 VEF to DJF...
      </a>
    </li>
    <li>
      <a href="/VEF/DKK">
        Convert 1 VEF to DKK...
      </a>
    </li>
    <li>
      <a href="/VEF/DOP">
        Convert 1 VEF to DOP...
      </a>
    </li>
    <li>
      <a href="/VEF/DZD">
        Convert 1 VEF to DZD...
      </a>
    </li>
    <li>
      <a href="/VEF/EGP">
        Convert 1 VEF to EGP...
      </a>
    </li>
    <li>
      <a href="/VEF/ERN">
        Convert 1 VEF to ERN...
      </a>
    </li>
    <li>
      <a href="/VEF/ETB">
        Convert 1 VEF to ETB...
      </a>
    </li>
    <li>
      <a href="/VEF/EUR">
        Convert 1 VEF to EUR...
      </a>
    </li>
    <li>
      <a href="/VEF/FJD">
        Convert 1 VEF to FJD...
      </a>
    </li>
    <li>
      <a href="/VEF/FKP">
        Convert 1 VEF to FKP...
      </a>
    </li>
    <li>
      <a href="/VEF/GBP">
        Convert 1 VEF to GBP...
      </a>
    </li>
    <li>
      <a href="/VEF/GEL">
        Convert 1 VEF to GEL...
      </a>
    </li>
    <li>
      <a href="/VEF/GGP">
        Convert 1 VEF to GGP...
      </a>
    </li>
    <li>
      <a href="/VEF/GHS">
        Convert 1 VEF to GHS...
      </a>
    </li>
    <li>
      <a href="/VEF/GIP">
        Convert 1 VEF to GIP...
      </a>
    </li>
    <li>
      <a href="/VEF/GMD">
        Convert 1 VEF to GMD...
      </a>
    </li>
    <li>
      <a href="/VEF/GNF">
        Convert 1 VEF to GNF...
      </a>
    </li>
    <li>
      <a href="/VEF/GTQ">
        Convert 1 VEF to GTQ...
      </a>
    </li>
    <li>
      <a href="/VEF/GYD">
        Convert 1 VEF to GYD...
      </a>
    </li>
    <li>
      <a href="/VEF/HKD">
        Convert 1 VEF to HKD...
      </a>
    </li>
    <li>
      <a href="/VEF/HNL">
        Convert 1 VEF to HNL...
      </a>
    </li>
    <li>
      <a href="/VEF/HRK">
        Convert 1 VEF to HRK...
      </a>
    </li>
    <li>
      <a href="/VEF/HTG">
        Convert 1 VEF to HTG...
      </a>
    </li>
    <li>
      <a href="/VEF/HUF">
        Convert 1 VEF to HUF...
      </a>
    </li>
    <li>
      <a href="/VEF/IDR">
        Convert 1 VEF to IDR...
      </a>
    </li>
    <li>
      <a href="/VEF/ILS">
        Convert 1 VEF to ILS...
      </a>
    </li>
    <li>
      <a href="/VEF/IMP">
        Convert 1 VEF to IMP...
      </a>
    </li>
    <li>
      <a href="/VEF/INR">
        Convert 1 VEF to INR...
      </a>
    </li>
    <li>
      <a href="/VEF/IQD">
        Convert 1 VEF to IQD...
      </a>
    </li>
    <li>
      <a href="/VEF/IRR">
        Convert 1 VEF to IRR...
      </a>
    </li>
    <li>
      <a href="/VEF/ISK">
        Convert 1 VEF to ISK...
      </a>
    </li>
    <li>
      <a href="/VEF/JEP">
        Convert 1 VEF to JEP...
      </a>
    </li>
    <li>
      <a href="/VEF/JMD">
        Convert 1 VEF to JMD...
      </a>
    </li>
    <li>
      <a href="/VEF/JOD">
        Convert 1 VEF to JOD...
      </a>
    </li>
    <li>
      <a href="/VEF/JPY">
        Convert 1 VEF to JPY...
      </a>
    </li>
    <li>
      <a href="/VEF/KES">
        Convert 1 VEF to KES...
      </a>
    </li>
    <li>
      <a href="/VEF/KGS">
        Convert 1 VEF to KGS...
      </a>
    </li>
    <li>
      <a href="/VEF/KHR">
        Convert 1 VEF to KHR...
      </a>
    </li>
    <li>
      <a href="/VEF/KMF">
        Convert 1 VEF to KMF...
      </a>
    </li>
    <li>
      <a href="/VEF/KPW">
        Convert 1 VEF to KPW...
      </a>
    </li>
    <li>
      <a href="/VEF/KRW">
        Convert 1 VEF to KRW...
      </a>
    </li>
    <li>
      <a href="/VEF/KWD">
        Convert 1 VEF to KWD...
      </a>
    </li>
    <li>
      <a href="/VEF/KYD">
        Convert 1 VEF to KYD...
      </a>
    </li>
    <li>
      <a href="/VEF/KZT">
        Convert 1 VEF to KZT...
      </a>
    </li>
    <li>
      <a href="/VEF/LAK">
        Convert 1 VEF to LAK...
      </a>
    </li>
    <li>
      <a href="/VEF/LBP">
        Convert 1 VEF to LBP...
      </a>
    </li>
    <li>
      <a href="/VEF/LKR">
        Convert 1 VEF to LKR...
      </a>
    </li>
    <li>
      <a href="/VEF/LRD">
        Convert 1 VEF to LRD...
      </a>
    </li>
    <li>
      <a href="/VEF/LSL">
        Convert 1 VEF to LSL...
      </a>
    </li>
    <li>
      <a href="/VEF/LYD">
        Convert 1 VEF to LYD...
      </a>
    </li>
    <li>
      <a href="/VEF/MAD">
        Convert 1 VEF to MAD...
      </a>
    </li>
    <li>
      <a href="/VEF/MDL">
        Convert 1 VEF to MDL...
      </a>
    </li>
    <li>
      <a href="/VEF/MGA">
        Convert 1 VEF to MGA...
      </a>
    </li>
    <li>
      <a href="/VEF/MKD">
        Convert 1 VEF to MKD...
      </a>
    </li>
    <li>
      <a href="/VEF/MMK">
        Convert 1 VEF to MMK...
      </a>
    </li>
    <li>
      <a href="/VEF/MNT">
        Convert 1 VEF to MNT...
      </a>
    </li>
    <li>
      <a href="/VEF/MOP">
        Convert 1 VEF to MOP...
      </a>
    </li>
    <li>
      <a href="/VEF/MRO">
        Convert 1 VEF to MRO...
      </a>
    </li>
    <li>
      <a href="/VEF/MRU">
        Convert 1 VEF to MRU...
      </a>
    </li>
    <li>
      <a href="/VEF/MUR">
        Convert 1 VEF to MUR...
      </a>
    </li>
    <li>
      <a href="/VEF/MVR">
        Convert 1 VEF to MVR...
      </a>
    </li>
    <li>
      <a href="/VEF/MWK">
        Convert 1 VEF to MWK...
      </a>
    </li>
    <li>
      <a href="/VEF/MXN">
        Convert 1 VEF to MXN...
      </a>
    </li>
    <li>
      <a href="/VEF/MYR">
        Convert 1 VEF to MYR...
      </a>
    </li>
    <li>
      <a href="/VEF/MZN">
        Convert 1 VEF to MZN...
      </a>
    </li>
    <li>
      <a href="/VEF/NAD">
        Convert 1 VEF to NAD...
      </a>
    </li>
    <li>
      <a href="/VEF/NGN">
        Convert 1 VEF to NGN...
      </a>
    </li>
    <li>
      <a href="/VEF/NIO">
        Convert 1 VEF to NIO...
      </a>
    </li>
    <li>
      <a href="/VEF/NOK">
        Convert 1 VEF to NOK...
      </a>
    </li>
    <li>
      <a href="/VEF/NPR">
        Convert 1 VEF to NPR...
      </a>
    </li>
    <li>
      <a href="/VEF/NZD">
        Convert 1 VEF to NZD...
      </a>
    </li>
    <li>
      <a href="/VEF/OMR">
        Convert 1 VEF to OMR...
      </a>
    </li>
    <li>
      <a href="/VEF/PAB">
        Convert 1 VEF to PAB...
      </a>
    </li>
    <li>
      <a href="/VEF/PEN">
        Convert 1 VEF to PEN...
      </a>
    </li>
    <li>
      <a href="/VEF/PGK">
        Convert 1 VEF to PGK...
      </a>
    </li>
    <li>
      <a href="/VEF/PHP">
        Convert 1 VEF to PHP...
      </a>
    </li>
    <li>
      <a href="/VEF/PKR">
        Convert 1 VEF to PKR...
      </a>
    </li>
    <li>
      <a href="/VEF/PLN">
        Convert 1 VEF to PLN...
      </a>
    </li>
    <li>
      <a href="/VEF/PYG">
        Convert 1 VEF to PYG...
      </a>
    </li>
    <li>
      <a href="/VEF/QAR">
        Convert 1 VEF to QAR...
      </a>
    </li>
    <li>
      <a href="/VEF/RON">
        Convert 1 VEF to RON...
      </a>
    </li>
    <li>
      <a href="/VEF/RSD">
        Convert 1 VEF to RSD...
      </a>
    </li>
    <li>
      <a href="/VEF/RUB">
        Convert 1 VEF to RUB...
      </a>
    </li>
    <li>
      <a href="/VEF/RWF">
        Convert 1 VEF to RWF...
      </a>
    </li>
    <li>
      <a href="/VEF/SAR">
        Convert 1 VEF to SAR...
      </a>
    </li>
    <li>
      <a href="/VEF/SBD">
        Convert 1 VEF to SBD...
      </a>
    </li>
    <li>
      <a href="/VEF/SCR">
        Convert 1 VEF to SCR...
      </a>
    </li>
    <li>
      <a href="/VEF/SDG">
        Convert 1 VEF to SDG...
      </a>
    </li>
    <li>
      <a href="/VEF/SEK">
        Convert 1 VEF to SEK...
      </a>
    </li>
    <li>
      <a href="/VEF/SGD">
        Convert 1 VEF to SGD...
      </a>
    </li>
    <li>
      <a href="/VEF/SHP">
        Convert 1 VEF to SHP...
      </a>
    </li>
    <li>
      <a href="/VEF/SLL">
        Convert 1 VEF to SLL...
      </a>
    </li>
    <li>
      <a href="/VEF/SOS">
        Convert 1 VEF to SOS...
      </a>
    </li>
    <li>
      <a href="/VEF/SRD">
        Convert 1 VEF to SRD...
      </a>
    </li>
    <li>
      <a href="/VEF/SSP">
        Convert 1 VEF to SSP...
      </a>
    </li>
    <li>
      <a href="/VEF/STD">
        Convert 1 VEF to STD...
      </a>
    </li>
    <li>
      <a href="/VEF/STN">
        Convert 1 VEF to STN...
      </a>
    </li>
    <li>
      <a href="/VEF/SVC">
        Convert 1 VEF to SVC...
      </a>
    </li>
    <li>
      <a href="/VEF/SYP">
        Convert 1 VEF to SYP...
      </a>
    </li>
    <li>
      <a href="/VEF/SZL">
        Convert 1 VEF to SZL...
      </a>
    </li>
    <li>
      <a href="/VEF/THB">
        Convert 1 VEF to THB...
      </a>
    </li>
    <li>
      <a href="/VEF/TJS">
        Convert 1 VEF to TJS...
      </a>
    </li>
    <li>
      <a href="/VEF/TMT">
        Convert 1 VEF to TMT...
      </a>
    </li>
    <li>
      <a href="/VEF/TND">
        Convert 1 VEF to TND...
      </a>
    </li>
    <li>
      <a href="/VEF/TOP">
        Convert 1 VEF to TOP...
      </a>
    </li>
    <li>
      <a href="/VEF/TRY">
        Convert 1 VEF to TRY...
      </a>
    </li>
    <li>
      <a href="/VEF/TTD">
        Convert 1 VEF to TTD...
      </a>
    </li>
    <li>
      <a href="/VEF/TWD">
        Convert 1 VEF to TWD...
      </a>
    </li>
    <li>
      <a href="/VEF/TZS">
        Convert 1 VEF to TZS...
      </a>
    </li>
    <li>
      <a href="/VEF/UAH">
        Convert 1 VEF to UAH...
      </a>
    </li>
    <li>
      <a href="/VEF/UGX">
        Convert 1 VEF to UGX...
      </a>
    </li>
    <li>
      <a href="/VEF/USD">
        Convert 1 VEF to USD...
      </a>
    </li>
    <li>
      <a href="/VEF/UYU">
        Convert 1 VEF to UYU...
      </a>
    </li>
    <li>
      <a href="/VEF/UZS">
        Convert 1 VEF to UZS...
      </a>
    </li>
    <li>
      <a href="/VEF/VEF">
        Convert 1 VEF to VEF...
      </a>
    </li>
    <li>
      <a href="/VEF/VES">
        Convert 1 VEF to VES...
      </a>
    </li>
    <li>
      <a href="/VEF/VND">
        Convert 1 VEF to VND...
      </a>
    </li>
    <li>
      <a href="/VEF/VUV">
        Convert 1 VEF to VUV...
      </a>
    </li>
    <li>
      <a href="/VEF/WST">
        Convert 1 VEF to WST...
      </a>
    </li>
    <li>
      <a href="/VEF/XAF">
        Convert 1 VEF to XAF...
      </a>
    </li>
    <li>
      <a href="/VEF/XAG">
        Convert 1 VEF to XAG...
      </a>
    </li>
    <li>
      <a href="/VEF/XAU">
        Convert 1 VEF to XAU...
      </a>
    </li>
    <li>
      <a href="/VEF/XCD">
        Convert 1 VEF to XCD...
      </a>
    </li>
    <li>
      <a href="/VEF/XDR">
        Convert 1 VEF to XDR...
      </a>
    </li>
    <li>
      <a href="/VEF/XOF">
        Convert 1 VEF to XOF...
      </a>
    </li>
    <li>
      <a href="/VEF/XPD">
        Convert 1 VEF to XPD...
      </a>
    </li>
    <li>
      <a href="/VEF/XPF">
        Convert 1 VEF to XPF...
      </a>
    </li>
    <li>
      <a href="/VEF/XPT">
        Convert 1 VEF to XPT...
      </a>
    </li>
    <li>
      <a href="/VEF/YER">
        Convert 1 VEF to YER...
      </a>
    </li>
    <li>
      <a href="/VEF/ZAR">
        Convert 1 VEF to ZAR...
      </a>
    </li>
    <li>
      <a href="/VEF/ZMW">
        Convert 1 VEF to ZMW...
      </a>
    </li>
    <li>
      <a href="/VEF/ZWL">
        Convert 1 VEF to ZWL...
      </a>
    </li>
</ul>
</body>
