<body>
    <h1>Convert VES</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/VES/AED">
        Convert 1 VES to AED...
      </a>
    </li>
    <li>
      <a href="/VES/AFN">
        Convert 1 VES to AFN...
      </a>
    </li>
    <li>
      <a href="/VES/ALL">
        Convert 1 VES to ALL...
      </a>
    </li>
    <li>
      <a href="/VES/AMD">
        Convert 1 VES to AMD...
      </a>
    </li>
    <li>
      <a href="/VES/ANG">
        Convert 1 VES to ANG...
      </a>
    </li>
    <li>
      <a href="/VES/AOA">
        Convert 1 VES to AOA...
      </a>
    </li>
    <li>
      <a href="/VES/ARS">
        Convert 1 VES to ARS...
      </a>
    </li>
    <li>
      <a href="/VES/AUD">
        Convert 1 VES to AUD...
      </a>
    </li>
    <li>
      <a href="/VES/AWG">
        Convert 1 VES to AWG...
      </a>
    </li>
    <li>
      <a href="/VES/AZN">
        Convert 1 VES to AZN...
      </a>
    </li>
    <li>
      <a href="/VES/BAM">
        Convert 1 VES to BAM...
      </a>
    </li>
    <li>
      <a href="/VES/BBD">
        Convert 1 VES to BBD...
      </a>
    </li>
    <li>
      <a href="/VES/BDT">
        Convert 1 VES to BDT...
      </a>
    </li>
    <li>
      <a href="/VES/BGN">
        Convert 1 VES to BGN...
      </a>
    </li>
    <li>
      <a href="/VES/BHD">
        Convert 1 VES to BHD...
      </a>
    </li>
    <li>
      <a href="/VES/BIF">
        Convert 1 VES to BIF...
      </a>
    </li>
    <li>
      <a href="/VES/BMD">
        Convert 1 VES to BMD...
      </a>
    </li>
    <li>
      <a href="/VES/BND">
        Convert 1 VES to BND...
      </a>
    </li>
    <li>
      <a href="/VES/BOB">
        Convert 1 VES to BOB...
      </a>
    </li>
    <li>
      <a href="/VES/BRL">
        Convert 1 VES to BRL...
      </a>
    </li>
    <li>
      <a href="/VES/BSD">
        Convert 1 VES to BSD...
      </a>
    </li>
    <li>
      <a href="/VES/BTC">
        Convert 1 VES to BTC...
      </a>
    </li>
    <li>
      <a href="/VES/BTN">
        Convert 1 VES to BTN...
      </a>
    </li>
    <li>
      <a href="/VES/BWP">
        Convert 1 VES to BWP...
      </a>
    </li>
    <li>
      <a href="/VES/BYN">
        Convert 1 VES to BYN...
      </a>
    </li>
    <li>
      <a href="/VES/BZD">
        Convert 1 VES to BZD...
      </a>
    </li>
    <li>
      <a href="/VES/CAD">
        Convert 1 VES to CAD...
      </a>
    </li>
    <li>
      <a href="/VES/CDF">
        Convert 1 VES to CDF...
      </a>
    </li>
    <li>
      <a href="/VES/CHF">
        Convert 1 VES to CHF...
      </a>
    </li>
    <li>
      <a href="/VES/CLF">
        Convert 1 VES to CLF...
      </a>
    </li>
    <li>
      <a href="/VES/CLP">
        Convert 1 VES to CLP...
      </a>
    </li>
    <li>
      <a href="/VES/CNH">
        Convert 1 VES to CNH...
      </a>
    </li>
    <li>
      <a href="/VES/CNY">
        Convert 1 VES to CNY...
      </a>
    </li>
    <li>
      <a href="/VES/COP">
        Convert 1 VES to COP...
      </a>
    </li>
    <li>
      <a href="/VES/CRC">
        Convert 1 VES to CRC...
      </a>
    </li>
    <li>
      <a href="/VES/CUC">
        Convert 1 VES to CUC...
      </a>
    </li>
    <li>
      <a href="/VES/CUP">
        Convert 1 VES to CUP...
      </a>
    </li>
    <li>
      <a href="/VES/CVE">
        Convert 1 VES to CVE...
      </a>
    </li>
    <li>
      <a href="/VES/CZK">
        Convert 1 VES to CZK...
      </a>
    </li>
    <li>
      <a href="/VES/DJF">
        Convert 1 VES to DJF...
      </a>
    </li>
    <li>
      <a href="/VES/DKK">
        Convert 1 VES to DKK...
      </a>
    </li>
    <li>
      <a href="/VES/DOP">
        Convert 1 VES to DOP...
      </a>
    </li>
    <li>
      <a href="/VES/DZD">
        Convert 1 VES to DZD...
      </a>
    </li>
    <li>
      <a href="/VES/EGP">
        Convert 1 VES to EGP...
      </a>
    </li>
    <li>
      <a href="/VES/ERN">
        Convert 1 VES to ERN...
      </a>
    </li>
    <li>
      <a href="/VES/ETB">
        Convert 1 VES to ETB...
      </a>
    </li>
    <li>
      <a href="/VES/EUR">
        Convert 1 VES to EUR...
      </a>
    </li>
    <li>
      <a href="/VES/FJD">
        Convert 1 VES to FJD...
      </a>
    </li>
    <li>
      <a href="/VES/FKP">
        Convert 1 VES to FKP...
      </a>
    </li>
    <li>
      <a href="/VES/GBP">
        Convert 1 VES to GBP...
      </a>
    </li>
    <li>
      <a href="/VES/GEL">
        Convert 1 VES to GEL...
      </a>
    </li>
    <li>
      <a href="/VES/GGP">
        Convert 1 VES to GGP...
      </a>
    </li>
    <li>
      <a href="/VES/GHS">
        Convert 1 VES to GHS...
      </a>
    </li>
    <li>
      <a href="/VES/GIP">
        Convert 1 VES to GIP...
      </a>
    </li>
    <li>
      <a href="/VES/GMD">
        Convert 1 VES to GMD...
      </a>
    </li>
    <li>
      <a href="/VES/GNF">
        Convert 1 VES to GNF...
      </a>
    </li>
    <li>
      <a href="/VES/GTQ">
        Convert 1 VES to GTQ...
      </a>
    </li>
    <li>
      <a href="/VES/GYD">
        Convert 1 VES to GYD...
      </a>
    </li>
    <li>
      <a href="/VES/HKD">
        Convert 1 VES to HKD...
      </a>
    </li>
    <li>
      <a href="/VES/HNL">
        Convert 1 VES to HNL...
      </a>
    </li>
    <li>
      <a href="/VES/HRK">
        Convert 1 VES to HRK...
      </a>
    </li>
    <li>
      <a href="/VES/HTG">
        Convert 1 VES to HTG...
      </a>
    </li>
    <li>
      <a href="/VES/HUF">
        Convert 1 VES to HUF...
      </a>
    </li>
    <li>
      <a href="/VES/IDR">
        Convert 1 VES to IDR...
      </a>
    </li>
    <li>
      <a href="/VES/ILS">
        Convert 1 VES to ILS...
      </a>
    </li>
    <li>
      <a href="/VES/IMP">
        Convert 1 VES to IMP...
      </a>
    </li>
    <li>
      <a href="/VES/INR">
        Convert 1 VES to INR...
      </a>
    </li>
    <li>
      <a href="/VES/IQD">
        Convert 1 VES to IQD...
      </a>
    </li>
    <li>
      <a href="/VES/IRR">
        Convert 1 VES to IRR...
      </a>
    </li>
    <li>
      <a href="/VES/ISK">
        Convert 1 VES to ISK...
      </a>
    </li>
    <li>
      <a href="/VES/JEP">
        Convert 1 VES to JEP...
      </a>
    </li>
    <li>
      <a href="/VES/JMD">
        Convert 1 VES to JMD...
      </a>
    </li>
    <li>
      <a href="/VES/JOD">
        Convert 1 VES to JOD...
      </a>
    </li>
    <li>
      <a href="/VES/JPY">
        Convert 1 VES to JPY...
      </a>
    </li>
    <li>
      <a href="/VES/KES">
        Convert 1 VES to KES...
      </a>
    </li>
    <li>
      <a href="/VES/KGS">
        Convert 1 VES to KGS...
      </a>
    </li>
    <li>
      <a href="/VES/KHR">
        Convert 1 VES to KHR...
      </a>
    </li>
    <li>
      <a href="/VES/KMF">
        Convert 1 VES to KMF...
      </a>
    </li>
    <li>
      <a href="/VES/KPW">
        Convert 1 VES to KPW...
      </a>
    </li>
    <li>
      <a href="/VES/KRW">
        Convert 1 VES to KRW...
      </a>
    </li>
    <li>
      <a href="/VES/KWD">
        Convert 1 VES to KWD...
      </a>
    </li>
    <li>
      <a href="/VES/KYD">
        Convert 1 VES to KYD...
      </a>
    </li>
    <li>
      <a href="/VES/KZT">
        Convert 1 VES to KZT...
      </a>
    </li>
    <li>
      <a href="/VES/LAK">
        Convert 1 VES to LAK...
      </a>
    </li>
    <li>
      <a href="/VES/LBP">
        Convert 1 VES to LBP...
      </a>
    </li>
    <li>
      <a href="/VES/LKR">
        Convert 1 VES to LKR...
      </a>
    </li>
    <li>
      <a href="/VES/LRD">
        Convert 1 VES to LRD...
      </a>
    </li>
    <li>
      <a href="/VES/LSL">
        Convert 1 VES to LSL...
      </a>
    </li>
    <li>
      <a href="/VES/LYD">
        Convert 1 VES to LYD...
      </a>
    </li>
    <li>
      <a href="/VES/MAD">
        Convert 1 VES to MAD...
      </a>
    </li>
    <li>
      <a href="/VES/MDL">
        Convert 1 VES to MDL...
      </a>
    </li>
    <li>
      <a href="/VES/MGA">
        Convert 1 VES to MGA...
      </a>
    </li>
    <li>
      <a href="/VES/MKD">
        Convert 1 VES to MKD...
      </a>
    </li>
    <li>
      <a href="/VES/MMK">
        Convert 1 VES to MMK...
      </a>
    </li>
    <li>
      <a href="/VES/MNT">
        Convert 1 VES to MNT...
      </a>
    </li>
    <li>
      <a href="/VES/MOP">
        Convert 1 VES to MOP...
      </a>
    </li>
    <li>
      <a href="/VES/MRO">
        Convert 1 VES to MRO...
      </a>
    </li>
    <li>
      <a href="/VES/MRU">
        Convert 1 VES to MRU...
      </a>
    </li>
    <li>
      <a href="/VES/MUR">
        Convert 1 VES to MUR...
      </a>
    </li>
    <li>
      <a href="/VES/MVR">
        Convert 1 VES to MVR...
      </a>
    </li>
    <li>
      <a href="/VES/MWK">
        Convert 1 VES to MWK...
      </a>
    </li>
    <li>
      <a href="/VES/MXN">
        Convert 1 VES to MXN...
      </a>
    </li>
    <li>
      <a href="/VES/MYR">
        Convert 1 VES to MYR...
      </a>
    </li>
    <li>
      <a href="/VES/MZN">
        Convert 1 VES to MZN...
      </a>
    </li>
    <li>
      <a href="/VES/NAD">
        Convert 1 VES to NAD...
      </a>
    </li>
    <li>
      <a href="/VES/NGN">
        Convert 1 VES to NGN...
      </a>
    </li>
    <li>
      <a href="/VES/NIO">
        Convert 1 VES to NIO...
      </a>
    </li>
    <li>
      <a href="/VES/NOK">
        Convert 1 VES to NOK...
      </a>
    </li>
    <li>
      <a href="/VES/NPR">
        Convert 1 VES to NPR...
      </a>
    </li>
    <li>
      <a href="/VES/NZD">
        Convert 1 VES to NZD...
      </a>
    </li>
    <li>
      <a href="/VES/OMR">
        Convert 1 VES to OMR...
      </a>
    </li>
    <li>
      <a href="/VES/PAB">
        Convert 1 VES to PAB...
      </a>
    </li>
    <li>
      <a href="/VES/PEN">
        Convert 1 VES to PEN...
      </a>
    </li>
    <li>
      <a href="/VES/PGK">
        Convert 1 VES to PGK...
      </a>
    </li>
    <li>
      <a href="/VES/PHP">
        Convert 1 VES to PHP...
      </a>
    </li>
    <li>
      <a href="/VES/PKR">
        Convert 1 VES to PKR...
      </a>
    </li>
    <li>
      <a href="/VES/PLN">
        Convert 1 VES to PLN...
      </a>
    </li>
    <li>
      <a href="/VES/PYG">
        Convert 1 VES to PYG...
      </a>
    </li>
    <li>
      <a href="/VES/QAR">
        Convert 1 VES to QAR...
      </a>
    </li>
    <li>
      <a href="/VES/RON">
        Convert 1 VES to RON...
      </a>
    </li>
    <li>
      <a href="/VES/RSD">
        Convert 1 VES to RSD...
      </a>
    </li>
    <li>
      <a href="/VES/RUB">
        Convert 1 VES to RUB...
      </a>
    </li>
    <li>
      <a href="/VES/RWF">
        Convert 1 VES to RWF...
      </a>
    </li>
    <li>
      <a href="/VES/SAR">
        Convert 1 VES to SAR...
      </a>
    </li>
    <li>
      <a href="/VES/SBD">
        Convert 1 VES to SBD...
      </a>
    </li>
    <li>
      <a href="/VES/SCR">
        Convert 1 VES to SCR...
      </a>
    </li>
    <li>
      <a href="/VES/SDG">
        Convert 1 VES to SDG...
      </a>
    </li>
    <li>
      <a href="/VES/SEK">
        Convert 1 VES to SEK...
      </a>
    </li>
    <li>
      <a href="/VES/SGD">
        Convert 1 VES to SGD...
      </a>
    </li>
    <li>
      <a href="/VES/SHP">
        Convert 1 VES to SHP...
      </a>
    </li>
    <li>
      <a href="/VES/SLL">
        Convert 1 VES to SLL...
      </a>
    </li>
    <li>
      <a href="/VES/SOS">
        Convert 1 VES to SOS...
      </a>
    </li>
    <li>
      <a href="/VES/SRD">
        Convert 1 VES to SRD...
      </a>
    </li>
    <li>
      <a href="/VES/SSP">
        Convert 1 VES to SSP...
      </a>
    </li>
    <li>
      <a href="/VES/STD">
        Convert 1 VES to STD...
      </a>
    </li>
    <li>
      <a href="/VES/STN">
        Convert 1 VES to STN...
      </a>
    </li>
    <li>
      <a href="/VES/SVC">
        Convert 1 VES to SVC...
      </a>
    </li>
    <li>
      <a href="/VES/SYP">
        Convert 1 VES to SYP...
      </a>
    </li>
    <li>
      <a href="/VES/SZL">
        Convert 1 VES to SZL...
      </a>
    </li>
    <li>
      <a href="/VES/THB">
        Convert 1 VES to THB...
      </a>
    </li>
    <li>
      <a href="/VES/TJS">
        Convert 1 VES to TJS...
      </a>
    </li>
    <li>
      <a href="/VES/TMT">
        Convert 1 VES to TMT...
      </a>
    </li>
    <li>
      <a href="/VES/TND">
        Convert 1 VES to TND...
      </a>
    </li>
    <li>
      <a href="/VES/TOP">
        Convert 1 VES to TOP...
      </a>
    </li>
    <li>
      <a href="/VES/TRY">
        Convert 1 VES to TRY...
      </a>
    </li>
    <li>
      <a href="/VES/TTD">
        Convert 1 VES to TTD...
      </a>
    </li>
    <li>
      <a href="/VES/TWD">
        Convert 1 VES to TWD...
      </a>
    </li>
    <li>
      <a href="/VES/TZS">
        Convert 1 VES to TZS...
      </a>
    </li>
    <li>
      <a href="/VES/UAH">
        Convert 1 VES to UAH...
      </a>
    </li>
    <li>
      <a href="/VES/UGX">
        Convert 1 VES to UGX...
      </a>
    </li>
    <li>
      <a href="/VES/USD">
        Convert 1 VES to USD...
      </a>
    </li>
    <li>
      <a href="/VES/UYU">
        Convert 1 VES to UYU...
      </a>
    </li>
    <li>
      <a href="/VES/UZS">
        Convert 1 VES to UZS...
      </a>
    </li>
    <li>
      <a href="/VES/VEF">
        Convert 1 VES to VEF...
      </a>
    </li>
    <li>
      <a href="/VES/VES">
        Convert 1 VES to VES...
      </a>
    </li>
    <li>
      <a href="/VES/VND">
        Convert 1 VES to VND...
      </a>
    </li>
    <li>
      <a href="/VES/VUV">
        Convert 1 VES to VUV...
      </a>
    </li>
    <li>
      <a href="/VES/WST">
        Convert 1 VES to WST...
      </a>
    </li>
    <li>
      <a href="/VES/XAF">
        Convert 1 VES to XAF...
      </a>
    </li>
    <li>
      <a href="/VES/XAG">
        Convert 1 VES to XAG...
      </a>
    </li>
    <li>
      <a href="/VES/XAU">
        Convert 1 VES to XAU...
      </a>
    </li>
    <li>
      <a href="/VES/XCD">
        Convert 1 VES to XCD...
      </a>
    </li>
    <li>
      <a href="/VES/XDR">
        Convert 1 VES to XDR...
      </a>
    </li>
    <li>
      <a href="/VES/XOF">
        Convert 1 VES to XOF...
      </a>
    </li>
    <li>
      <a href="/VES/XPD">
        Convert 1 VES to XPD...
      </a>
    </li>
    <li>
      <a href="/VES/XPF">
        Convert 1 VES to XPF...
      </a>
    </li>
    <li>
      <a href="/VES/XPT">
        Convert 1 VES to XPT...
      </a>
    </li>
    <li>
      <a href="/VES/YER">
        Convert 1 VES to YER...
      </a>
    </li>
    <li>
      <a href="/VES/ZAR">
        Convert 1 VES to ZAR...
      </a>
    </li>
    <li>
      <a href="/VES/ZMW">
        Convert 1 VES to ZMW...
      </a>
    </li>
    <li>
      <a href="/VES/ZWL">
        Convert 1 VES to ZWL...
      </a>
    </li>
</ul>
</body>
