<body>
    <h1>Convert VUV</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/VUV/AED">
        Convert 1 VUV to AED...
      </a>
    </li>
    <li>
      <a href="/VUV/AFN">
        Convert 1 VUV to AFN...
      </a>
    </li>
    <li>
      <a href="/VUV/ALL">
        Convert 1 VUV to ALL...
      </a>
    </li>
    <li>
      <a href="/VUV/AMD">
        Convert 1 VUV to AMD...
      </a>
    </li>
    <li>
      <a href="/VUV/ANG">
        Convert 1 VUV to ANG...
      </a>
    </li>
    <li>
      <a href="/VUV/AOA">
        Convert 1 VUV to AOA...
      </a>
    </li>
    <li>
      <a href="/VUV/ARS">
        Convert 1 VUV to ARS...
      </a>
    </li>
    <li>
      <a href="/VUV/AUD">
        Convert 1 VUV to AUD...
      </a>
    </li>
    <li>
      <a href="/VUV/AWG">
        Convert 1 VUV to AWG...
      </a>
    </li>
    <li>
      <a href="/VUV/AZN">
        Convert 1 VUV to AZN...
      </a>
    </li>
    <li>
      <a href="/VUV/BAM">
        Convert 1 VUV to BAM...
      </a>
    </li>
    <li>
      <a href="/VUV/BBD">
        Convert 1 VUV to BBD...
      </a>
    </li>
    <li>
      <a href="/VUV/BDT">
        Convert 1 VUV to BDT...
      </a>
    </li>
    <li>
      <a href="/VUV/BGN">
        Convert 1 VUV to BGN...
      </a>
    </li>
    <li>
      <a href="/VUV/BHD">
        Convert 1 VUV to BHD...
      </a>
    </li>
    <li>
      <a href="/VUV/BIF">
        Convert 1 VUV to BIF...
      </a>
    </li>
    <li>
      <a href="/VUV/BMD">
        Convert 1 VUV to BMD...
      </a>
    </li>
    <li>
      <a href="/VUV/BND">
        Convert 1 VUV to BND...
      </a>
    </li>
    <li>
      <a href="/VUV/BOB">
        Convert 1 VUV to BOB...
      </a>
    </li>
    <li>
      <a href="/VUV/BRL">
        Convert 1 VUV to BRL...
      </a>
    </li>
    <li>
      <a href="/VUV/BSD">
        Convert 1 VUV to BSD...
      </a>
    </li>
    <li>
      <a href="/VUV/BTC">
        Convert 1 VUV to BTC...
      </a>
    </li>
    <li>
      <a href="/VUV/BTN">
        Convert 1 VUV to BTN...
      </a>
    </li>
    <li>
      <a href="/VUV/BWP">
        Convert 1 VUV to BWP...
      </a>
    </li>
    <li>
      <a href="/VUV/BYN">
        Convert 1 VUV to BYN...
      </a>
    </li>
    <li>
      <a href="/VUV/BZD">
        Convert 1 VUV to BZD...
      </a>
    </li>
    <li>
      <a href="/VUV/CAD">
        Convert 1 VUV to CAD...
      </a>
    </li>
    <li>
      <a href="/VUV/CDF">
        Convert 1 VUV to CDF...
      </a>
    </li>
    <li>
      <a href="/VUV/CHF">
        Convert 1 VUV to CHF...
      </a>
    </li>
    <li>
      <a href="/VUV/CLF">
        Convert 1 VUV to CLF...
      </a>
    </li>
    <li>
      <a href="/VUV/CLP">
        Convert 1 VUV to CLP...
      </a>
    </li>
    <li>
      <a href="/VUV/CNH">
        Convert 1 VUV to CNH...
      </a>
    </li>
    <li>
      <a href="/VUV/CNY">
        Convert 1 VUV to CNY...
      </a>
    </li>
    <li>
      <a href="/VUV/COP">
        Convert 1 VUV to COP...
      </a>
    </li>
    <li>
      <a href="/VUV/CRC">
        Convert 1 VUV to CRC...
      </a>
    </li>
    <li>
      <a href="/VUV/CUC">
        Convert 1 VUV to CUC...
      </a>
    </li>
    <li>
      <a href="/VUV/CUP">
        Convert 1 VUV to CUP...
      </a>
    </li>
    <li>
      <a href="/VUV/CVE">
        Convert 1 VUV to CVE...
      </a>
    </li>
    <li>
      <a href="/VUV/CZK">
        Convert 1 VUV to CZK...
      </a>
    </li>
    <li>
      <a href="/VUV/DJF">
        Convert 1 VUV to DJF...
      </a>
    </li>
    <li>
      <a href="/VUV/DKK">
        Convert 1 VUV to DKK...
      </a>
    </li>
    <li>
      <a href="/VUV/DOP">
        Convert 1 VUV to DOP...
      </a>
    </li>
    <li>
      <a href="/VUV/DZD">
        Convert 1 VUV to DZD...
      </a>
    </li>
    <li>
      <a href="/VUV/EGP">
        Convert 1 VUV to EGP...
      </a>
    </li>
    <li>
      <a href="/VUV/ERN">
        Convert 1 VUV to ERN...
      </a>
    </li>
    <li>
      <a href="/VUV/ETB">
        Convert 1 VUV to ETB...
      </a>
    </li>
    <li>
      <a href="/VUV/EUR">
        Convert 1 VUV to EUR...
      </a>
    </li>
    <li>
      <a href="/VUV/FJD">
        Convert 1 VUV to FJD...
      </a>
    </li>
    <li>
      <a href="/VUV/FKP">
        Convert 1 VUV to FKP...
      </a>
    </li>
    <li>
      <a href="/VUV/GBP">
        Convert 1 VUV to GBP...
      </a>
    </li>
    <li>
      <a href="/VUV/GEL">
        Convert 1 VUV to GEL...
      </a>
    </li>
    <li>
      <a href="/VUV/GGP">
        Convert 1 VUV to GGP...
      </a>
    </li>
    <li>
      <a href="/VUV/GHS">
        Convert 1 VUV to GHS...
      </a>
    </li>
    <li>
      <a href="/VUV/GIP">
        Convert 1 VUV to GIP...
      </a>
    </li>
    <li>
      <a href="/VUV/GMD">
        Convert 1 VUV to GMD...
      </a>
    </li>
    <li>
      <a href="/VUV/GNF">
        Convert 1 VUV to GNF...
      </a>
    </li>
    <li>
      <a href="/VUV/GTQ">
        Convert 1 VUV to GTQ...
      </a>
    </li>
    <li>
      <a href="/VUV/GYD">
        Convert 1 VUV to GYD...
      </a>
    </li>
    <li>
      <a href="/VUV/HKD">
        Convert 1 VUV to HKD...
      </a>
    </li>
    <li>
      <a href="/VUV/HNL">
        Convert 1 VUV to HNL...
      </a>
    </li>
    <li>
      <a href="/VUV/HRK">
        Convert 1 VUV to HRK...
      </a>
    </li>
    <li>
      <a href="/VUV/HTG">
        Convert 1 VUV to HTG...
      </a>
    </li>
    <li>
      <a href="/VUV/HUF">
        Convert 1 VUV to HUF...
      </a>
    </li>
    <li>
      <a href="/VUV/IDR">
        Convert 1 VUV to IDR...
      </a>
    </li>
    <li>
      <a href="/VUV/ILS">
        Convert 1 VUV to ILS...
      </a>
    </li>
    <li>
      <a href="/VUV/IMP">
        Convert 1 VUV to IMP...
      </a>
    </li>
    <li>
      <a href="/VUV/INR">
        Convert 1 VUV to INR...
      </a>
    </li>
    <li>
      <a href="/VUV/IQD">
        Convert 1 VUV to IQD...
      </a>
    </li>
    <li>
      <a href="/VUV/IRR">
        Convert 1 VUV to IRR...
      </a>
    </li>
    <li>
      <a href="/VUV/ISK">
        Convert 1 VUV to ISK...
      </a>
    </li>
    <li>
      <a href="/VUV/JEP">
        Convert 1 VUV to JEP...
      </a>
    </li>
    <li>
      <a href="/VUV/JMD">
        Convert 1 VUV to JMD...
      </a>
    </li>
    <li>
      <a href="/VUV/JOD">
        Convert 1 VUV to JOD...
      </a>
    </li>
    <li>
      <a href="/VUV/JPY">
        Convert 1 VUV to JPY...
      </a>
    </li>
    <li>
      <a href="/VUV/KES">
        Convert 1 VUV to KES...
      </a>
    </li>
    <li>
      <a href="/VUV/KGS">
        Convert 1 VUV to KGS...
      </a>
    </li>
    <li>
      <a href="/VUV/KHR">
        Convert 1 VUV to KHR...
      </a>
    </li>
    <li>
      <a href="/VUV/KMF">
        Convert 1 VUV to KMF...
      </a>
    </li>
    <li>
      <a href="/VUV/KPW">
        Convert 1 VUV to KPW...
      </a>
    </li>
    <li>
      <a href="/VUV/KRW">
        Convert 1 VUV to KRW...
      </a>
    </li>
    <li>
      <a href="/VUV/KWD">
        Convert 1 VUV to KWD...
      </a>
    </li>
    <li>
      <a href="/VUV/KYD">
        Convert 1 VUV to KYD...
      </a>
    </li>
    <li>
      <a href="/VUV/KZT">
        Convert 1 VUV to KZT...
      </a>
    </li>
    <li>
      <a href="/VUV/LAK">
        Convert 1 VUV to LAK...
      </a>
    </li>
    <li>
      <a href="/VUV/LBP">
        Convert 1 VUV to LBP...
      </a>
    </li>
    <li>
      <a href="/VUV/LKR">
        Convert 1 VUV to LKR...
      </a>
    </li>
    <li>
      <a href="/VUV/LRD">
        Convert 1 VUV to LRD...
      </a>
    </li>
    <li>
      <a href="/VUV/LSL">
        Convert 1 VUV to LSL...
      </a>
    </li>
    <li>
      <a href="/VUV/LYD">
        Convert 1 VUV to LYD...
      </a>
    </li>
    <li>
      <a href="/VUV/MAD">
        Convert 1 VUV to MAD...
      </a>
    </li>
    <li>
      <a href="/VUV/MDL">
        Convert 1 VUV to MDL...
      </a>
    </li>
    <li>
      <a href="/VUV/MGA">
        Convert 1 VUV to MGA...
      </a>
    </li>
    <li>
      <a href="/VUV/MKD">
        Convert 1 VUV to MKD...
      </a>
    </li>
    <li>
      <a href="/VUV/MMK">
        Convert 1 VUV to MMK...
      </a>
    </li>
    <li>
      <a href="/VUV/MNT">
        Convert 1 VUV to MNT...
      </a>
    </li>
    <li>
      <a href="/VUV/MOP">
        Convert 1 VUV to MOP...
      </a>
    </li>
    <li>
      <a href="/VUV/MRO">
        Convert 1 VUV to MRO...
      </a>
    </li>
    <li>
      <a href="/VUV/MRU">
        Convert 1 VUV to MRU...
      </a>
    </li>
    <li>
      <a href="/VUV/MUR">
        Convert 1 VUV to MUR...
      </a>
    </li>
    <li>
      <a href="/VUV/MVR">
        Convert 1 VUV to MVR...
      </a>
    </li>
    <li>
      <a href="/VUV/MWK">
        Convert 1 VUV to MWK...
      </a>
    </li>
    <li>
      <a href="/VUV/MXN">
        Convert 1 VUV to MXN...
      </a>
    </li>
    <li>
      <a href="/VUV/MYR">
        Convert 1 VUV to MYR...
      </a>
    </li>
    <li>
      <a href="/VUV/MZN">
        Convert 1 VUV to MZN...
      </a>
    </li>
    <li>
      <a href="/VUV/NAD">
        Convert 1 VUV to NAD...
      </a>
    </li>
    <li>
      <a href="/VUV/NGN">
        Convert 1 VUV to NGN...
      </a>
    </li>
    <li>
      <a href="/VUV/NIO">
        Convert 1 VUV to NIO...
      </a>
    </li>
    <li>
      <a href="/VUV/NOK">
        Convert 1 VUV to NOK...
      </a>
    </li>
    <li>
      <a href="/VUV/NPR">
        Convert 1 VUV to NPR...
      </a>
    </li>
    <li>
      <a href="/VUV/NZD">
        Convert 1 VUV to NZD...
      </a>
    </li>
    <li>
      <a href="/VUV/OMR">
        Convert 1 VUV to OMR...
      </a>
    </li>
    <li>
      <a href="/VUV/PAB">
        Convert 1 VUV to PAB...
      </a>
    </li>
    <li>
      <a href="/VUV/PEN">
        Convert 1 VUV to PEN...
      </a>
    </li>
    <li>
      <a href="/VUV/PGK">
        Convert 1 VUV to PGK...
      </a>
    </li>
    <li>
      <a href="/VUV/PHP">
        Convert 1 VUV to PHP...
      </a>
    </li>
    <li>
      <a href="/VUV/PKR">
        Convert 1 VUV to PKR...
      </a>
    </li>
    <li>
      <a href="/VUV/PLN">
        Convert 1 VUV to PLN...
      </a>
    </li>
    <li>
      <a href="/VUV/PYG">
        Convert 1 VUV to PYG...
      </a>
    </li>
    <li>
      <a href="/VUV/QAR">
        Convert 1 VUV to QAR...
      </a>
    </li>
    <li>
      <a href="/VUV/RON">
        Convert 1 VUV to RON...
      </a>
    </li>
    <li>
      <a href="/VUV/RSD">
        Convert 1 VUV to RSD...
      </a>
    </li>
    <li>
      <a href="/VUV/RUB">
        Convert 1 VUV to RUB...
      </a>
    </li>
    <li>
      <a href="/VUV/RWF">
        Convert 1 VUV to RWF...
      </a>
    </li>
    <li>
      <a href="/VUV/SAR">
        Convert 1 VUV to SAR...
      </a>
    </li>
    <li>
      <a href="/VUV/SBD">
        Convert 1 VUV to SBD...
      </a>
    </li>
    <li>
      <a href="/VUV/SCR">
        Convert 1 VUV to SCR...
      </a>
    </li>
    <li>
      <a href="/VUV/SDG">
        Convert 1 VUV to SDG...
      </a>
    </li>
    <li>
      <a href="/VUV/SEK">
        Convert 1 VUV to SEK...
      </a>
    </li>
    <li>
      <a href="/VUV/SGD">
        Convert 1 VUV to SGD...
      </a>
    </li>
    <li>
      <a href="/VUV/SHP">
        Convert 1 VUV to SHP...
      </a>
    </li>
    <li>
      <a href="/VUV/SLL">
        Convert 1 VUV to SLL...
      </a>
    </li>
    <li>
      <a href="/VUV/SOS">
        Convert 1 VUV to SOS...
      </a>
    </li>
    <li>
      <a href="/VUV/SRD">
        Convert 1 VUV to SRD...
      </a>
    </li>
    <li>
      <a href="/VUV/SSP">
        Convert 1 VUV to SSP...
      </a>
    </li>
    <li>
      <a href="/VUV/STD">
        Convert 1 VUV to STD...
      </a>
    </li>
    <li>
      <a href="/VUV/STN">
        Convert 1 VUV to STN...
      </a>
    </li>
    <li>
      <a href="/VUV/SVC">
        Convert 1 VUV to SVC...
      </a>
    </li>
    <li>
      <a href="/VUV/SYP">
        Convert 1 VUV to SYP...
      </a>
    </li>
    <li>
      <a href="/VUV/SZL">
        Convert 1 VUV to SZL...
      </a>
    </li>
    <li>
      <a href="/VUV/THB">
        Convert 1 VUV to THB...
      </a>
    </li>
    <li>
      <a href="/VUV/TJS">
        Convert 1 VUV to TJS...
      </a>
    </li>
    <li>
      <a href="/VUV/TMT">
        Convert 1 VUV to TMT...
      </a>
    </li>
    <li>
      <a href="/VUV/TND">
        Convert 1 VUV to TND...
      </a>
    </li>
    <li>
      <a href="/VUV/TOP">
        Convert 1 VUV to TOP...
      </a>
    </li>
    <li>
      <a href="/VUV/TRY">
        Convert 1 VUV to TRY...
      </a>
    </li>
    <li>
      <a href="/VUV/TTD">
        Convert 1 VUV to TTD...
      </a>
    </li>
    <li>
      <a href="/VUV/TWD">
        Convert 1 VUV to TWD...
      </a>
    </li>
    <li>
      <a href="/VUV/TZS">
        Convert 1 VUV to TZS...
      </a>
    </li>
    <li>
      <a href="/VUV/UAH">
        Convert 1 VUV to UAH...
      </a>
    </li>
    <li>
      <a href="/VUV/UGX">
        Convert 1 VUV to UGX...
      </a>
    </li>
    <li>
      <a href="/VUV/USD">
        Convert 1 VUV to USD...
      </a>
    </li>
    <li>
      <a href="/VUV/UYU">
        Convert 1 VUV to UYU...
      </a>
    </li>
    <li>
      <a href="/VUV/UZS">
        Convert 1 VUV to UZS...
      </a>
    </li>
    <li>
      <a href="/VUV/VEF">
        Convert 1 VUV to VEF...
      </a>
    </li>
    <li>
      <a href="/VUV/VES">
        Convert 1 VUV to VES...
      </a>
    </li>
    <li>
      <a href="/VUV/VND">
        Convert 1 VUV to VND...
      </a>
    </li>
    <li>
      <a href="/VUV/VUV">
        Convert 1 VUV to VUV...
      </a>
    </li>
    <li>
      <a href="/VUV/WST">
        Convert 1 VUV to WST...
      </a>
    </li>
    <li>
      <a href="/VUV/XAF">
        Convert 1 VUV to XAF...
      </a>
    </li>
    <li>
      <a href="/VUV/XAG">
        Convert 1 VUV to XAG...
      </a>
    </li>
    <li>
      <a href="/VUV/XAU">
        Convert 1 VUV to XAU...
      </a>
    </li>
    <li>
      <a href="/VUV/XCD">
        Convert 1 VUV to XCD...
      </a>
    </li>
    <li>
      <a href="/VUV/XDR">
        Convert 1 VUV to XDR...
      </a>
    </li>
    <li>
      <a href="/VUV/XOF">
        Convert 1 VUV to XOF...
      </a>
    </li>
    <li>
      <a href="/VUV/XPD">
        Convert 1 VUV to XPD...
      </a>
    </li>
    <li>
      <a href="/VUV/XPF">
        Convert 1 VUV to XPF...
      </a>
    </li>
    <li>
      <a href="/VUV/XPT">
        Convert 1 VUV to XPT...
      </a>
    </li>
    <li>
      <a href="/VUV/YER">
        Convert 1 VUV to YER...
      </a>
    </li>
    <li>
      <a href="/VUV/ZAR">
        Convert 1 VUV to ZAR...
      </a>
    </li>
    <li>
      <a href="/VUV/ZMW">
        Convert 1 VUV to ZMW...
      </a>
    </li>
    <li>
      <a href="/VUV/ZWL">
        Convert 1 VUV to ZWL...
      </a>
    </li>
</ul>
</body>
