<body>
    <h1>Convert XAF</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/XAF/AED">
        Convert 1 XAF to AED...
      </a>
    </li>
    <li>
      <a href="/XAF/AFN">
        Convert 1 XAF to AFN...
      </a>
    </li>
    <li>
      <a href="/XAF/ALL">
        Convert 1 XAF to ALL...
      </a>
    </li>
    <li>
      <a href="/XAF/AMD">
        Convert 1 XAF to AMD...
      </a>
    </li>
    <li>
      <a href="/XAF/ANG">
        Convert 1 XAF to ANG...
      </a>
    </li>
    <li>
      <a href="/XAF/AOA">
        Convert 1 XAF to AOA...
      </a>
    </li>
    <li>
      <a href="/XAF/ARS">
        Convert 1 XAF to ARS...
      </a>
    </li>
    <li>
      <a href="/XAF/AUD">
        Convert 1 XAF to AUD...
      </a>
    </li>
    <li>
      <a href="/XAF/AWG">
        Convert 1 XAF to AWG...
      </a>
    </li>
    <li>
      <a href="/XAF/AZN">
        Convert 1 XAF to AZN...
      </a>
    </li>
    <li>
      <a href="/XAF/BAM">
        Convert 1 XAF to BAM...
      </a>
    </li>
    <li>
      <a href="/XAF/BBD">
        Convert 1 XAF to BBD...
      </a>
    </li>
    <li>
      <a href="/XAF/BDT">
        Convert 1 XAF to BDT...
      </a>
    </li>
    <li>
      <a href="/XAF/BGN">
        Convert 1 XAF to BGN...
      </a>
    </li>
    <li>
      <a href="/XAF/BHD">
        Convert 1 XAF to BHD...
      </a>
    </li>
    <li>
      <a href="/XAF/BIF">
        Convert 1 XAF to BIF...
      </a>
    </li>
    <li>
      <a href="/XAF/BMD">
        Convert 1 XAF to BMD...
      </a>
    </li>
    <li>
      <a href="/XAF/BND">
        Convert 1 XAF to BND...
      </a>
    </li>
    <li>
      <a href="/XAF/BOB">
        Convert 1 XAF to BOB...
      </a>
    </li>
    <li>
      <a href="/XAF/BRL">
        Convert 1 XAF to BRL...
      </a>
    </li>
    <li>
      <a href="/XAF/BSD">
        Convert 1 XAF to BSD...
      </a>
    </li>
    <li>
      <a href="/XAF/BTC">
        Convert 1 XAF to BTC...
      </a>
    </li>
    <li>
      <a href="/XAF/BTN">
        Convert 1 XAF to BTN...
      </a>
    </li>
    <li>
      <a href="/XAF/BWP">
        Convert 1 XAF to BWP...
      </a>
    </li>
    <li>
      <a href="/XAF/BYN">
        Convert 1 XAF to BYN...
      </a>
    </li>
    <li>
      <a href="/XAF/BZD">
        Convert 1 XAF to BZD...
      </a>
    </li>
    <li>
      <a href="/XAF/CAD">
        Convert 1 XAF to CAD...
      </a>
    </li>
    <li>
      <a href="/XAF/CDF">
        Convert 1 XAF to CDF...
      </a>
    </li>
    <li>
      <a href="/XAF/CHF">
        Convert 1 XAF to CHF...
      </a>
    </li>
    <li>
      <a href="/XAF/CLF">
        Convert 1 XAF to CLF...
      </a>
    </li>
    <li>
      <a href="/XAF/CLP">
        Convert 1 XAF to CLP...
      </a>
    </li>
    <li>
      <a href="/XAF/CNH">
        Convert 1 XAF to CNH...
      </a>
    </li>
    <li>
      <a href="/XAF/CNY">
        Convert 1 XAF to CNY...
      </a>
    </li>
    <li>
      <a href="/XAF/COP">
        Convert 1 XAF to COP...
      </a>
    </li>
    <li>
      <a href="/XAF/CRC">
        Convert 1 XAF to CRC...
      </a>
    </li>
    <li>
      <a href="/XAF/CUC">
        Convert 1 XAF to CUC...
      </a>
    </li>
    <li>
      <a href="/XAF/CUP">
        Convert 1 XAF to CUP...
      </a>
    </li>
    <li>
      <a href="/XAF/CVE">
        Convert 1 XAF to CVE...
      </a>
    </li>
    <li>
      <a href="/XAF/CZK">
        Convert 1 XAF to CZK...
      </a>
    </li>
    <li>
      <a href="/XAF/DJF">
        Convert 1 XAF to DJF...
      </a>
    </li>
    <li>
      <a href="/XAF/DKK">
        Convert 1 XAF to DKK...
      </a>
    </li>
    <li>
      <a href="/XAF/DOP">
        Convert 1 XAF to DOP...
      </a>
    </li>
    <li>
      <a href="/XAF/DZD">
        Convert 1 XAF to DZD...
      </a>
    </li>
    <li>
      <a href="/XAF/EGP">
        Convert 1 XAF to EGP...
      </a>
    </li>
    <li>
      <a href="/XAF/ERN">
        Convert 1 XAF to ERN...
      </a>
    </li>
    <li>
      <a href="/XAF/ETB">
        Convert 1 XAF to ETB...
      </a>
    </li>
    <li>
      <a href="/XAF/EUR">
        Convert 1 XAF to EUR...
      </a>
    </li>
    <li>
      <a href="/XAF/FJD">
        Convert 1 XAF to FJD...
      </a>
    </li>
    <li>
      <a href="/XAF/FKP">
        Convert 1 XAF to FKP...
      </a>
    </li>
    <li>
      <a href="/XAF/GBP">
        Convert 1 XAF to GBP...
      </a>
    </li>
    <li>
      <a href="/XAF/GEL">
        Convert 1 XAF to GEL...
      </a>
    </li>
    <li>
      <a href="/XAF/GGP">
        Convert 1 XAF to GGP...
      </a>
    </li>
    <li>
      <a href="/XAF/GHS">
        Convert 1 XAF to GHS...
      </a>
    </li>
    <li>
      <a href="/XAF/GIP">
        Convert 1 XAF to GIP...
      </a>
    </li>
    <li>
      <a href="/XAF/GMD">
        Convert 1 XAF to GMD...
      </a>
    </li>
    <li>
      <a href="/XAF/GNF">
        Convert 1 XAF to GNF...
      </a>
    </li>
    <li>
      <a href="/XAF/GTQ">
        Convert 1 XAF to GTQ...
      </a>
    </li>
    <li>
      <a href="/XAF/GYD">
        Convert 1 XAF to GYD...
      </a>
    </li>
    <li>
      <a href="/XAF/HKD">
        Convert 1 XAF to HKD...
      </a>
    </li>
    <li>
      <a href="/XAF/HNL">
        Convert 1 XAF to HNL...
      </a>
    </li>
    <li>
      <a href="/XAF/HRK">
        Convert 1 XAF to HRK...
      </a>
    </li>
    <li>
      <a href="/XAF/HTG">
        Convert 1 XAF to HTG...
      </a>
    </li>
    <li>
      <a href="/XAF/HUF">
        Convert 1 XAF to HUF...
      </a>
    </li>
    <li>
      <a href="/XAF/IDR">
        Convert 1 XAF to IDR...
      </a>
    </li>
    <li>
      <a href="/XAF/ILS">
        Convert 1 XAF to ILS...
      </a>
    </li>
    <li>
      <a href="/XAF/IMP">
        Convert 1 XAF to IMP...
      </a>
    </li>
    <li>
      <a href="/XAF/INR">
        Convert 1 XAF to INR...
      </a>
    </li>
    <li>
      <a href="/XAF/IQD">
        Convert 1 XAF to IQD...
      </a>
    </li>
    <li>
      <a href="/XAF/IRR">
        Convert 1 XAF to IRR...
      </a>
    </li>
    <li>
      <a href="/XAF/ISK">
        Convert 1 XAF to ISK...
      </a>
    </li>
    <li>
      <a href="/XAF/JEP">
        Convert 1 XAF to JEP...
      </a>
    </li>
    <li>
      <a href="/XAF/JMD">
        Convert 1 XAF to JMD...
      </a>
    </li>
    <li>
      <a href="/XAF/JOD">
        Convert 1 XAF to JOD...
      </a>
    </li>
    <li>
      <a href="/XAF/JPY">
        Convert 1 XAF to JPY...
      </a>
    </li>
    <li>
      <a href="/XAF/KES">
        Convert 1 XAF to KES...
      </a>
    </li>
    <li>
      <a href="/XAF/KGS">
        Convert 1 XAF to KGS...
      </a>
    </li>
    <li>
      <a href="/XAF/KHR">
        Convert 1 XAF to KHR...
      </a>
    </li>
    <li>
      <a href="/XAF/KMF">
        Convert 1 XAF to KMF...
      </a>
    </li>
    <li>
      <a href="/XAF/KPW">
        Convert 1 XAF to KPW...
      </a>
    </li>
    <li>
      <a href="/XAF/KRW">
        Convert 1 XAF to KRW...
      </a>
    </li>
    <li>
      <a href="/XAF/KWD">
        Convert 1 XAF to KWD...
      </a>
    </li>
    <li>
      <a href="/XAF/KYD">
        Convert 1 XAF to KYD...
      </a>
    </li>
    <li>
      <a href="/XAF/KZT">
        Convert 1 XAF to KZT...
      </a>
    </li>
    <li>
      <a href="/XAF/LAK">
        Convert 1 XAF to LAK...
      </a>
    </li>
    <li>
      <a href="/XAF/LBP">
        Convert 1 XAF to LBP...
      </a>
    </li>
    <li>
      <a href="/XAF/LKR">
        Convert 1 XAF to LKR...
      </a>
    </li>
    <li>
      <a href="/XAF/LRD">
        Convert 1 XAF to LRD...
      </a>
    </li>
    <li>
      <a href="/XAF/LSL">
        Convert 1 XAF to LSL...
      </a>
    </li>
    <li>
      <a href="/XAF/LYD">
        Convert 1 XAF to LYD...
      </a>
    </li>
    <li>
      <a href="/XAF/MAD">
        Convert 1 XAF to MAD...
      </a>
    </li>
    <li>
      <a href="/XAF/MDL">
        Convert 1 XAF to MDL...
      </a>
    </li>
    <li>
      <a href="/XAF/MGA">
        Convert 1 XAF to MGA...
      </a>
    </li>
    <li>
      <a href="/XAF/MKD">
        Convert 1 XAF to MKD...
      </a>
    </li>
    <li>
      <a href="/XAF/MMK">
        Convert 1 XAF to MMK...
      </a>
    </li>
    <li>
      <a href="/XAF/MNT">
        Convert 1 XAF to MNT...
      </a>
    </li>
    <li>
      <a href="/XAF/MOP">
        Convert 1 XAF to MOP...
      </a>
    </li>
    <li>
      <a href="/XAF/MRO">
        Convert 1 XAF to MRO...
      </a>
    </li>
    <li>
      <a href="/XAF/MRU">
        Convert 1 XAF to MRU...
      </a>
    </li>
    <li>
      <a href="/XAF/MUR">
        Convert 1 XAF to MUR...
      </a>
    </li>
    <li>
      <a href="/XAF/MVR">
        Convert 1 XAF to MVR...
      </a>
    </li>
    <li>
      <a href="/XAF/MWK">
        Convert 1 XAF to MWK...
      </a>
    </li>
    <li>
      <a href="/XAF/MXN">
        Convert 1 XAF to MXN...
      </a>
    </li>
    <li>
      <a href="/XAF/MYR">
        Convert 1 XAF to MYR...
      </a>
    </li>
    <li>
      <a href="/XAF/MZN">
        Convert 1 XAF to MZN...
      </a>
    </li>
    <li>
      <a href="/XAF/NAD">
        Convert 1 XAF to NAD...
      </a>
    </li>
    <li>
      <a href="/XAF/NGN">
        Convert 1 XAF to NGN...
      </a>
    </li>
    <li>
      <a href="/XAF/NIO">
        Convert 1 XAF to NIO...
      </a>
    </li>
    <li>
      <a href="/XAF/NOK">
        Convert 1 XAF to NOK...
      </a>
    </li>
    <li>
      <a href="/XAF/NPR">
        Convert 1 XAF to NPR...
      </a>
    </li>
    <li>
      <a href="/XAF/NZD">
        Convert 1 XAF to NZD...
      </a>
    </li>
    <li>
      <a href="/XAF/OMR">
        Convert 1 XAF to OMR...
      </a>
    </li>
    <li>
      <a href="/XAF/PAB">
        Convert 1 XAF to PAB...
      </a>
    </li>
    <li>
      <a href="/XAF/PEN">
        Convert 1 XAF to PEN...
      </a>
    </li>
    <li>
      <a href="/XAF/PGK">
        Convert 1 XAF to PGK...
      </a>
    </li>
    <li>
      <a href="/XAF/PHP">
        Convert 1 XAF to PHP...
      </a>
    </li>
    <li>
      <a href="/XAF/PKR">
        Convert 1 XAF to PKR...
      </a>
    </li>
    <li>
      <a href="/XAF/PLN">
        Convert 1 XAF to PLN...
      </a>
    </li>
    <li>
      <a href="/XAF/PYG">
        Convert 1 XAF to PYG...
      </a>
    </li>
    <li>
      <a href="/XAF/QAR">
        Convert 1 XAF to QAR...
      </a>
    </li>
    <li>
      <a href="/XAF/RON">
        Convert 1 XAF to RON...
      </a>
    </li>
    <li>
      <a href="/XAF/RSD">
        Convert 1 XAF to RSD...
      </a>
    </li>
    <li>
      <a href="/XAF/RUB">
        Convert 1 XAF to RUB...
      </a>
    </li>
    <li>
      <a href="/XAF/RWF">
        Convert 1 XAF to RWF...
      </a>
    </li>
    <li>
      <a href="/XAF/SAR">
        Convert 1 XAF to SAR...
      </a>
    </li>
    <li>
      <a href="/XAF/SBD">
        Convert 1 XAF to SBD...
      </a>
    </li>
    <li>
      <a href="/XAF/SCR">
        Convert 1 XAF to SCR...
      </a>
    </li>
    <li>
      <a href="/XAF/SDG">
        Convert 1 XAF to SDG...
      </a>
    </li>
    <li>
      <a href="/XAF/SEK">
        Convert 1 XAF to SEK...
      </a>
    </li>
    <li>
      <a href="/XAF/SGD">
        Convert 1 XAF to SGD...
      </a>
    </li>
    <li>
      <a href="/XAF/SHP">
        Convert 1 XAF to SHP...
      </a>
    </li>
    <li>
      <a href="/XAF/SLL">
        Convert 1 XAF to SLL...
      </a>
    </li>
    <li>
      <a href="/XAF/SOS">
        Convert 1 XAF to SOS...
      </a>
    </li>
    <li>
      <a href="/XAF/SRD">
        Convert 1 XAF to SRD...
      </a>
    </li>
    <li>
      <a href="/XAF/SSP">
        Convert 1 XAF to SSP...
      </a>
    </li>
    <li>
      <a href="/XAF/STD">
        Convert 1 XAF to STD...
      </a>
    </li>
    <li>
      <a href="/XAF/STN">
        Convert 1 XAF to STN...
      </a>
    </li>
    <li>
      <a href="/XAF/SVC">
        Convert 1 XAF to SVC...
      </a>
    </li>
    <li>
      <a href="/XAF/SYP">
        Convert 1 XAF to SYP...
      </a>
    </li>
    <li>
      <a href="/XAF/SZL">
        Convert 1 XAF to SZL...
      </a>
    </li>
    <li>
      <a href="/XAF/THB">
        Convert 1 XAF to THB...
      </a>
    </li>
    <li>
      <a href="/XAF/TJS">
        Convert 1 XAF to TJS...
      </a>
    </li>
    <li>
      <a href="/XAF/TMT">
        Convert 1 XAF to TMT...
      </a>
    </li>
    <li>
      <a href="/XAF/TND">
        Convert 1 XAF to TND...
      </a>
    </li>
    <li>
      <a href="/XAF/TOP">
        Convert 1 XAF to TOP...
      </a>
    </li>
    <li>
      <a href="/XAF/TRY">
        Convert 1 XAF to TRY...
      </a>
    </li>
    <li>
      <a href="/XAF/TTD">
        Convert 1 XAF to TTD...
      </a>
    </li>
    <li>
      <a href="/XAF/TWD">
        Convert 1 XAF to TWD...
      </a>
    </li>
    <li>
      <a href="/XAF/TZS">
        Convert 1 XAF to TZS...
      </a>
    </li>
    <li>
      <a href="/XAF/UAH">
        Convert 1 XAF to UAH...
      </a>
    </li>
    <li>
      <a href="/XAF/UGX">
        Convert 1 XAF to UGX...
      </a>
    </li>
    <li>
      <a href="/XAF/USD">
        Convert 1 XAF to USD...
      </a>
    </li>
    <li>
      <a href="/XAF/UYU">
        Convert 1 XAF to UYU...
      </a>
    </li>
    <li>
      <a href="/XAF/UZS">
        Convert 1 XAF to UZS...
      </a>
    </li>
    <li>
      <a href="/XAF/VEF">
        Convert 1 XAF to VEF...
      </a>
    </li>
    <li>
      <a href="/XAF/VES">
        Convert 1 XAF to VES...
      </a>
    </li>
    <li>
      <a href="/XAF/VND">
        Convert 1 XAF to VND...
      </a>
    </li>
    <li>
      <a href="/XAF/VUV">
        Convert 1 XAF to VUV...
      </a>
    </li>
    <li>
      <a href="/XAF/WST">
        Convert 1 XAF to WST...
      </a>
    </li>
    <li>
      <a href="/XAF/XAF">
        Convert 1 XAF to XAF...
      </a>
    </li>
    <li>
      <a href="/XAF/XAG">
        Convert 1 XAF to XAG...
      </a>
    </li>
    <li>
      <a href="/XAF/XAU">
        Convert 1 XAF to XAU...
      </a>
    </li>
    <li>
      <a href="/XAF/XCD">
        Convert 1 XAF to XCD...
      </a>
    </li>
    <li>
      <a href="/XAF/XDR">
        Convert 1 XAF to XDR...
      </a>
    </li>
    <li>
      <a href="/XAF/XOF">
        Convert 1 XAF to XOF...
      </a>
    </li>
    <li>
      <a href="/XAF/XPD">
        Convert 1 XAF to XPD...
      </a>
    </li>
    <li>
      <a href="/XAF/XPF">
        Convert 1 XAF to XPF...
      </a>
    </li>
    <li>
      <a href="/XAF/XPT">
        Convert 1 XAF to XPT...
      </a>
    </li>
    <li>
      <a href="/XAF/YER">
        Convert 1 XAF to YER...
      </a>
    </li>
    <li>
      <a href="/XAF/ZAR">
        Convert 1 XAF to ZAR...
      </a>
    </li>
    <li>
      <a href="/XAF/ZMW">
        Convert 1 XAF to ZMW...
      </a>
    </li>
    <li>
      <a href="/XAF/ZWL">
        Convert 1 XAF to ZWL...
      </a>
    </li>
</ul>
</body>
