<body>
    <h1>Convert XAG</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/XAG/AED">
        Convert 1 XAG to AED...
      </a>
    </li>
    <li>
      <a href="/XAG/AFN">
        Convert 1 XAG to AFN...
      </a>
    </li>
    <li>
      <a href="/XAG/ALL">
        Convert 1 XAG to ALL...
      </a>
    </li>
    <li>
      <a href="/XAG/AMD">
        Convert 1 XAG to AMD...
      </a>
    </li>
    <li>
      <a href="/XAG/ANG">
        Convert 1 XAG to ANG...
      </a>
    </li>
    <li>
      <a href="/XAG/AOA">
        Convert 1 XAG to AOA...
      </a>
    </li>
    <li>
      <a href="/XAG/ARS">
        Convert 1 XAG to ARS...
      </a>
    </li>
    <li>
      <a href="/XAG/AUD">
        Convert 1 XAG to AUD...
      </a>
    </li>
    <li>
      <a href="/XAG/AWG">
        Convert 1 XAG to AWG...
      </a>
    </li>
    <li>
      <a href="/XAG/AZN">
        Convert 1 XAG to AZN...
      </a>
    </li>
    <li>
      <a href="/XAG/BAM">
        Convert 1 XAG to BAM...
      </a>
    </li>
    <li>
      <a href="/XAG/BBD">
        Convert 1 XAG to BBD...
      </a>
    </li>
    <li>
      <a href="/XAG/BDT">
        Convert 1 XAG to BDT...
      </a>
    </li>
    <li>
      <a href="/XAG/BGN">
        Convert 1 XAG to BGN...
      </a>
    </li>
    <li>
      <a href="/XAG/BHD">
        Convert 1 XAG to BHD...
      </a>
    </li>
    <li>
      <a href="/XAG/BIF">
        Convert 1 XAG to BIF...
      </a>
    </li>
    <li>
      <a href="/XAG/BMD">
        Convert 1 XAG to BMD...
      </a>
    </li>
    <li>
      <a href="/XAG/BND">
        Convert 1 XAG to BND...
      </a>
    </li>
    <li>
      <a href="/XAG/BOB">
        Convert 1 XAG to BOB...
      </a>
    </li>
    <li>
      <a href="/XAG/BRL">
        Convert 1 XAG to BRL...
      </a>
    </li>
    <li>
      <a href="/XAG/BSD">
        Convert 1 XAG to BSD...
      </a>
    </li>
    <li>
      <a href="/XAG/BTC">
        Convert 1 XAG to BTC...
      </a>
    </li>
    <li>
      <a href="/XAG/BTN">
        Convert 1 XAG to BTN...
      </a>
    </li>
    <li>
      <a href="/XAG/BWP">
        Convert 1 XAG to BWP...
      </a>
    </li>
    <li>
      <a href="/XAG/BYN">
        Convert 1 XAG to BYN...
      </a>
    </li>
    <li>
      <a href="/XAG/BZD">
        Convert 1 XAG to BZD...
      </a>
    </li>
    <li>
      <a href="/XAG/CAD">
        Convert 1 XAG to CAD...
      </a>
    </li>
    <li>
      <a href="/XAG/CDF">
        Convert 1 XAG to CDF...
      </a>
    </li>
    <li>
      <a href="/XAG/CHF">
        Convert 1 XAG to CHF...
      </a>
    </li>
    <li>
      <a href="/XAG/CLF">
        Convert 1 XAG to CLF...
      </a>
    </li>
    <li>
      <a href="/XAG/CLP">
        Convert 1 XAG to CLP...
      </a>
    </li>
    <li>
      <a href="/XAG/CNH">
        Convert 1 XAG to CNH...
      </a>
    </li>
    <li>
      <a href="/XAG/CNY">
        Convert 1 XAG to CNY...
      </a>
    </li>
    <li>
      <a href="/XAG/COP">
        Convert 1 XAG to COP...
      </a>
    </li>
    <li>
      <a href="/XAG/CRC">
        Convert 1 XAG to CRC...
      </a>
    </li>
    <li>
      <a href="/XAG/CUC">
        Convert 1 XAG to CUC...
      </a>
    </li>
    <li>
      <a href="/XAG/CUP">
        Convert 1 XAG to CUP...
      </a>
    </li>
    <li>
      <a href="/XAG/CVE">
        Convert 1 XAG to CVE...
      </a>
    </li>
    <li>
      <a href="/XAG/CZK">
        Convert 1 XAG to CZK...
      </a>
    </li>
    <li>
      <a href="/XAG/DJF">
        Convert 1 XAG to DJF...
      </a>
    </li>
    <li>
      <a href="/XAG/DKK">
        Convert 1 XAG to DKK...
      </a>
    </li>
    <li>
      <a href="/XAG/DOP">
        Convert 1 XAG to DOP...
      </a>
    </li>
    <li>
      <a href="/XAG/DZD">
        Convert 1 XAG to DZD...
      </a>
    </li>
    <li>
      <a href="/XAG/EGP">
        Convert 1 XAG to EGP...
      </a>
    </li>
    <li>
      <a href="/XAG/ERN">
        Convert 1 XAG to ERN...
      </a>
    </li>
    <li>
      <a href="/XAG/ETB">
        Convert 1 XAG to ETB...
      </a>
    </li>
    <li>
      <a href="/XAG/EUR">
        Convert 1 XAG to EUR...
      </a>
    </li>
    <li>
      <a href="/XAG/FJD">
        Convert 1 XAG to FJD...
      </a>
    </li>
    <li>
      <a href="/XAG/FKP">
        Convert 1 XAG to FKP...
      </a>
    </li>
    <li>
      <a href="/XAG/GBP">
        Convert 1 XAG to GBP...
      </a>
    </li>
    <li>
      <a href="/XAG/GEL">
        Convert 1 XAG to GEL...
      </a>
    </li>
    <li>
      <a href="/XAG/GGP">
        Convert 1 XAG to GGP...
      </a>
    </li>
    <li>
      <a href="/XAG/GHS">
        Convert 1 XAG to GHS...
      </a>
    </li>
    <li>
      <a href="/XAG/GIP">
        Convert 1 XAG to GIP...
      </a>
    </li>
    <li>
      <a href="/XAG/GMD">
        Convert 1 XAG to GMD...
      </a>
    </li>
    <li>
      <a href="/XAG/GNF">
        Convert 1 XAG to GNF...
      </a>
    </li>
    <li>
      <a href="/XAG/GTQ">
        Convert 1 XAG to GTQ...
      </a>
    </li>
    <li>
      <a href="/XAG/GYD">
        Convert 1 XAG to GYD...
      </a>
    </li>
    <li>
      <a href="/XAG/HKD">
        Convert 1 XAG to HKD...
      </a>
    </li>
    <li>
      <a href="/XAG/HNL">
        Convert 1 XAG to HNL...
      </a>
    </li>
    <li>
      <a href="/XAG/HRK">
        Convert 1 XAG to HRK...
      </a>
    </li>
    <li>
      <a href="/XAG/HTG">
        Convert 1 XAG to HTG...
      </a>
    </li>
    <li>
      <a href="/XAG/HUF">
        Convert 1 XAG to HUF...
      </a>
    </li>
    <li>
      <a href="/XAG/IDR">
        Convert 1 XAG to IDR...
      </a>
    </li>
    <li>
      <a href="/XAG/ILS">
        Convert 1 XAG to ILS...
      </a>
    </li>
    <li>
      <a href="/XAG/IMP">
        Convert 1 XAG to IMP...
      </a>
    </li>
    <li>
      <a href="/XAG/INR">
        Convert 1 XAG to INR...
      </a>
    </li>
    <li>
      <a href="/XAG/IQD">
        Convert 1 XAG to IQD...
      </a>
    </li>
    <li>
      <a href="/XAG/IRR">
        Convert 1 XAG to IRR...
      </a>
    </li>
    <li>
      <a href="/XAG/ISK">
        Convert 1 XAG to ISK...
      </a>
    </li>
    <li>
      <a href="/XAG/JEP">
        Convert 1 XAG to JEP...
      </a>
    </li>
    <li>
      <a href="/XAG/JMD">
        Convert 1 XAG to JMD...
      </a>
    </li>
    <li>
      <a href="/XAG/JOD">
        Convert 1 XAG to JOD...
      </a>
    </li>
    <li>
      <a href="/XAG/JPY">
        Convert 1 XAG to JPY...
      </a>
    </li>
    <li>
      <a href="/XAG/KES">
        Convert 1 XAG to KES...
      </a>
    </li>
    <li>
      <a href="/XAG/KGS">
        Convert 1 XAG to KGS...
      </a>
    </li>
    <li>
      <a href="/XAG/KHR">
        Convert 1 XAG to KHR...
      </a>
    </li>
    <li>
      <a href="/XAG/KMF">
        Convert 1 XAG to KMF...
      </a>
    </li>
    <li>
      <a href="/XAG/KPW">
        Convert 1 XAG to KPW...
      </a>
    </li>
    <li>
      <a href="/XAG/KRW">
        Convert 1 XAG to KRW...
      </a>
    </li>
    <li>
      <a href="/XAG/KWD">
        Convert 1 XAG to KWD...
      </a>
    </li>
    <li>
      <a href="/XAG/KYD">
        Convert 1 XAG to KYD...
      </a>
    </li>
    <li>
      <a href="/XAG/KZT">
        Convert 1 XAG to KZT...
      </a>
    </li>
    <li>
      <a href="/XAG/LAK">
        Convert 1 XAG to LAK...
      </a>
    </li>
    <li>
      <a href="/XAG/LBP">
        Convert 1 XAG to LBP...
      </a>
    </li>
    <li>
      <a href="/XAG/LKR">
        Convert 1 XAG to LKR...
      </a>
    </li>
    <li>
      <a href="/XAG/LRD">
        Convert 1 XAG to LRD...
      </a>
    </li>
    <li>
      <a href="/XAG/LSL">
        Convert 1 XAG to LSL...
      </a>
    </li>
    <li>
      <a href="/XAG/LYD">
        Convert 1 XAG to LYD...
      </a>
    </li>
    <li>
      <a href="/XAG/MAD">
        Convert 1 XAG to MAD...
      </a>
    </li>
    <li>
      <a href="/XAG/MDL">
        Convert 1 XAG to MDL...
      </a>
    </li>
    <li>
      <a href="/XAG/MGA">
        Convert 1 XAG to MGA...
      </a>
    </li>
    <li>
      <a href="/XAG/MKD">
        Convert 1 XAG to MKD...
      </a>
    </li>
    <li>
      <a href="/XAG/MMK">
        Convert 1 XAG to MMK...
      </a>
    </li>
    <li>
      <a href="/XAG/MNT">
        Convert 1 XAG to MNT...
      </a>
    </li>
    <li>
      <a href="/XAG/MOP">
        Convert 1 XAG to MOP...
      </a>
    </li>
    <li>
      <a href="/XAG/MRO">
        Convert 1 XAG to MRO...
      </a>
    </li>
    <li>
      <a href="/XAG/MRU">
        Convert 1 XAG to MRU...
      </a>
    </li>
    <li>
      <a href="/XAG/MUR">
        Convert 1 XAG to MUR...
      </a>
    </li>
    <li>
      <a href="/XAG/MVR">
        Convert 1 XAG to MVR...
      </a>
    </li>
    <li>
      <a href="/XAG/MWK">
        Convert 1 XAG to MWK...
      </a>
    </li>
    <li>
      <a href="/XAG/MXN">
        Convert 1 XAG to MXN...
      </a>
    </li>
    <li>
      <a href="/XAG/MYR">
        Convert 1 XAG to MYR...
      </a>
    </li>
    <li>
      <a href="/XAG/MZN">
        Convert 1 XAG to MZN...
      </a>
    </li>
    <li>
      <a href="/XAG/NAD">
        Convert 1 XAG to NAD...
      </a>
    </li>
    <li>
      <a href="/XAG/NGN">
        Convert 1 XAG to NGN...
      </a>
    </li>
    <li>
      <a href="/XAG/NIO">
        Convert 1 XAG to NIO...
      </a>
    </li>
    <li>
      <a href="/XAG/NOK">
        Convert 1 XAG to NOK...
      </a>
    </li>
    <li>
      <a href="/XAG/NPR">
        Convert 1 XAG to NPR...
      </a>
    </li>
    <li>
      <a href="/XAG/NZD">
        Convert 1 XAG to NZD...
      </a>
    </li>
    <li>
      <a href="/XAG/OMR">
        Convert 1 XAG to OMR...
      </a>
    </li>
    <li>
      <a href="/XAG/PAB">
        Convert 1 XAG to PAB...
      </a>
    </li>
    <li>
      <a href="/XAG/PEN">
        Convert 1 XAG to PEN...
      </a>
    </li>
    <li>
      <a href="/XAG/PGK">
        Convert 1 XAG to PGK...
      </a>
    </li>
    <li>
      <a href="/XAG/PHP">
        Convert 1 XAG to PHP...
      </a>
    </li>
    <li>
      <a href="/XAG/PKR">
        Convert 1 XAG to PKR...
      </a>
    </li>
    <li>
      <a href="/XAG/PLN">
        Convert 1 XAG to PLN...
      </a>
    </li>
    <li>
      <a href="/XAG/PYG">
        Convert 1 XAG to PYG...
      </a>
    </li>
    <li>
      <a href="/XAG/QAR">
        Convert 1 XAG to QAR...
      </a>
    </li>
    <li>
      <a href="/XAG/RON">
        Convert 1 XAG to RON...
      </a>
    </li>
    <li>
      <a href="/XAG/RSD">
        Convert 1 XAG to RSD...
      </a>
    </li>
    <li>
      <a href="/XAG/RUB">
        Convert 1 XAG to RUB...
      </a>
    </li>
    <li>
      <a href="/XAG/RWF">
        Convert 1 XAG to RWF...
      </a>
    </li>
    <li>
      <a href="/XAG/SAR">
        Convert 1 XAG to SAR...
      </a>
    </li>
    <li>
      <a href="/XAG/SBD">
        Convert 1 XAG to SBD...
      </a>
    </li>
    <li>
      <a href="/XAG/SCR">
        Convert 1 XAG to SCR...
      </a>
    </li>
    <li>
      <a href="/XAG/SDG">
        Convert 1 XAG to SDG...
      </a>
    </li>
    <li>
      <a href="/XAG/SEK">
        Convert 1 XAG to SEK...
      </a>
    </li>
    <li>
      <a href="/XAG/SGD">
        Convert 1 XAG to SGD...
      </a>
    </li>
    <li>
      <a href="/XAG/SHP">
        Convert 1 XAG to SHP...
      </a>
    </li>
    <li>
      <a href="/XAG/SLL">
        Convert 1 XAG to SLL...
      </a>
    </li>
    <li>
      <a href="/XAG/SOS">
        Convert 1 XAG to SOS...
      </a>
    </li>
    <li>
      <a href="/XAG/SRD">
        Convert 1 XAG to SRD...
      </a>
    </li>
    <li>
      <a href="/XAG/SSP">
        Convert 1 XAG to SSP...
      </a>
    </li>
    <li>
      <a href="/XAG/STD">
        Convert 1 XAG to STD...
      </a>
    </li>
    <li>
      <a href="/XAG/STN">
        Convert 1 XAG to STN...
      </a>
    </li>
    <li>
      <a href="/XAG/SVC">
        Convert 1 XAG to SVC...
      </a>
    </li>
    <li>
      <a href="/XAG/SYP">
        Convert 1 XAG to SYP...
      </a>
    </li>
    <li>
      <a href="/XAG/SZL">
        Convert 1 XAG to SZL...
      </a>
    </li>
    <li>
      <a href="/XAG/THB">
        Convert 1 XAG to THB...
      </a>
    </li>
    <li>
      <a href="/XAG/TJS">
        Convert 1 XAG to TJS...
      </a>
    </li>
    <li>
      <a href="/XAG/TMT">
        Convert 1 XAG to TMT...
      </a>
    </li>
    <li>
      <a href="/XAG/TND">
        Convert 1 XAG to TND...
      </a>
    </li>
    <li>
      <a href="/XAG/TOP">
        Convert 1 XAG to TOP...
      </a>
    </li>
    <li>
      <a href="/XAG/TRY">
        Convert 1 XAG to TRY...
      </a>
    </li>
    <li>
      <a href="/XAG/TTD">
        Convert 1 XAG to TTD...
      </a>
    </li>
    <li>
      <a href="/XAG/TWD">
        Convert 1 XAG to TWD...
      </a>
    </li>
    <li>
      <a href="/XAG/TZS">
        Convert 1 XAG to TZS...
      </a>
    </li>
    <li>
      <a href="/XAG/UAH">
        Convert 1 XAG to UAH...
      </a>
    </li>
    <li>
      <a href="/XAG/UGX">
        Convert 1 XAG to UGX...
      </a>
    </li>
    <li>
      <a href="/XAG/USD">
        Convert 1 XAG to USD...
      </a>
    </li>
    <li>
      <a href="/XAG/UYU">
        Convert 1 XAG to UYU...
      </a>
    </li>
    <li>
      <a href="/XAG/UZS">
        Convert 1 XAG to UZS...
      </a>
    </li>
    <li>
      <a href="/XAG/VEF">
        Convert 1 XAG to VEF...
      </a>
    </li>
    <li>
      <a href="/XAG/VES">
        Convert 1 XAG to VES...
      </a>
    </li>
    <li>
      <a href="/XAG/VND">
        Convert 1 XAG to VND...
      </a>
    </li>
    <li>
      <a href="/XAG/VUV">
        Convert 1 XAG to VUV...
      </a>
    </li>
    <li>
      <a href="/XAG/WST">
        Convert 1 XAG to WST...
      </a>
    </li>
    <li>
      <a href="/XAG/XAF">
        Convert 1 XAG to XAF...
      </a>
    </li>
    <li>
      <a href="/XAG/XAG">
        Convert 1 XAG to XAG...
      </a>
    </li>
    <li>
      <a href="/XAG/XAU">
        Convert 1 XAG to XAU...
      </a>
    </li>
    <li>
      <a href="/XAG/XCD">
        Convert 1 XAG to XCD...
      </a>
    </li>
    <li>
      <a href="/XAG/XDR">
        Convert 1 XAG to XDR...
      </a>
    </li>
    <li>
      <a href="/XAG/XOF">
        Convert 1 XAG to XOF...
      </a>
    </li>
    <li>
      <a href="/XAG/XPD">
        Convert 1 XAG to XPD...
      </a>
    </li>
    <li>
      <a href="/XAG/XPF">
        Convert 1 XAG to XPF...
      </a>
    </li>
    <li>
      <a href="/XAG/XPT">
        Convert 1 XAG to XPT...
      </a>
    </li>
    <li>
      <a href="/XAG/YER">
        Convert 1 XAG to YER...
      </a>
    </li>
    <li>
      <a href="/XAG/ZAR">
        Convert 1 XAG to ZAR...
      </a>
    </li>
    <li>
      <a href="/XAG/ZMW">
        Convert 1 XAG to ZMW...
      </a>
    </li>
    <li>
      <a href="/XAG/ZWL">
        Convert 1 XAG to ZWL...
      </a>
    </li>
</ul>
</body>
