<body>
    <h1>Convert XAU</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/XAU/AED">
        Convert 1 XAU to AED...
      </a>
    </li>
    <li>
      <a href="/XAU/AFN">
        Convert 1 XAU to AFN...
      </a>
    </li>
    <li>
      <a href="/XAU/ALL">
        Convert 1 XAU to ALL...
      </a>
    </li>
    <li>
      <a href="/XAU/AMD">
        Convert 1 XAU to AMD...
      </a>
    </li>
    <li>
      <a href="/XAU/ANG">
        Convert 1 XAU to ANG...
      </a>
    </li>
    <li>
      <a href="/XAU/AOA">
        Convert 1 XAU to AOA...
      </a>
    </li>
    <li>
      <a href="/XAU/ARS">
        Convert 1 XAU to ARS...
      </a>
    </li>
    <li>
      <a href="/XAU/AUD">
        Convert 1 XAU to AUD...
      </a>
    </li>
    <li>
      <a href="/XAU/AWG">
        Convert 1 XAU to AWG...
      </a>
    </li>
    <li>
      <a href="/XAU/AZN">
        Convert 1 XAU to AZN...
      </a>
    </li>
    <li>
      <a href="/XAU/BAM">
        Convert 1 XAU to BAM...
      </a>
    </li>
    <li>
      <a href="/XAU/BBD">
        Convert 1 XAU to BBD...
      </a>
    </li>
    <li>
      <a href="/XAU/BDT">
        Convert 1 XAU to BDT...
      </a>
    </li>
    <li>
      <a href="/XAU/BGN">
        Convert 1 XAU to BGN...
      </a>
    </li>
    <li>
      <a href="/XAU/BHD">
        Convert 1 XAU to BHD...
      </a>
    </li>
    <li>
      <a href="/XAU/BIF">
        Convert 1 XAU to BIF...
      </a>
    </li>
    <li>
      <a href="/XAU/BMD">
        Convert 1 XAU to BMD...
      </a>
    </li>
    <li>
      <a href="/XAU/BND">
        Convert 1 XAU to BND...
      </a>
    </li>
    <li>
      <a href="/XAU/BOB">
        Convert 1 XAU to BOB...
      </a>
    </li>
    <li>
      <a href="/XAU/BRL">
        Convert 1 XAU to BRL...
      </a>
    </li>
    <li>
      <a href="/XAU/BSD">
        Convert 1 XAU to BSD...
      </a>
    </li>
    <li>
      <a href="/XAU/BTC">
        Convert 1 XAU to BTC...
      </a>
    </li>
    <li>
      <a href="/XAU/BTN">
        Convert 1 XAU to BTN...
      </a>
    </li>
    <li>
      <a href="/XAU/BWP">
        Convert 1 XAU to BWP...
      </a>
    </li>
    <li>
      <a href="/XAU/BYN">
        Convert 1 XAU to BYN...
      </a>
    </li>
    <li>
      <a href="/XAU/BZD">
        Convert 1 XAU to BZD...
      </a>
    </li>
    <li>
      <a href="/XAU/CAD">
        Convert 1 XAU to CAD...
      </a>
    </li>
    <li>
      <a href="/XAU/CDF">
        Convert 1 XAU to CDF...
      </a>
    </li>
    <li>
      <a href="/XAU/CHF">
        Convert 1 XAU to CHF...
      </a>
    </li>
    <li>
      <a href="/XAU/CLF">
        Convert 1 XAU to CLF...
      </a>
    </li>
    <li>
      <a href="/XAU/CLP">
        Convert 1 XAU to CLP...
      </a>
    </li>
    <li>
      <a href="/XAU/CNH">
        Convert 1 XAU to CNH...
      </a>
    </li>
    <li>
      <a href="/XAU/CNY">
        Convert 1 XAU to CNY...
      </a>
    </li>
    <li>
      <a href="/XAU/COP">
        Convert 1 XAU to COP...
      </a>
    </li>
    <li>
      <a href="/XAU/CRC">
        Convert 1 XAU to CRC...
      </a>
    </li>
    <li>
      <a href="/XAU/CUC">
        Convert 1 XAU to CUC...
      </a>
    </li>
    <li>
      <a href="/XAU/CUP">
        Convert 1 XAU to CUP...
      </a>
    </li>
    <li>
      <a href="/XAU/CVE">
        Convert 1 XAU to CVE...
      </a>
    </li>
    <li>
      <a href="/XAU/CZK">
        Convert 1 XAU to CZK...
      </a>
    </li>
    <li>
      <a href="/XAU/DJF">
        Convert 1 XAU to DJF...
      </a>
    </li>
    <li>
      <a href="/XAU/DKK">
        Convert 1 XAU to DKK...
      </a>
    </li>
    <li>
      <a href="/XAU/DOP">
        Convert 1 XAU to DOP...
      </a>
    </li>
    <li>
      <a href="/XAU/DZD">
        Convert 1 XAU to DZD...
      </a>
    </li>
    <li>
      <a href="/XAU/EGP">
        Convert 1 XAU to EGP...
      </a>
    </li>
    <li>
      <a href="/XAU/ERN">
        Convert 1 XAU to ERN...
      </a>
    </li>
    <li>
      <a href="/XAU/ETB">
        Convert 1 XAU to ETB...
      </a>
    </li>
    <li>
      <a href="/XAU/EUR">
        Convert 1 XAU to EUR...
      </a>
    </li>
    <li>
      <a href="/XAU/FJD">
        Convert 1 XAU to FJD...
      </a>
    </li>
    <li>
      <a href="/XAU/FKP">
        Convert 1 XAU to FKP...
      </a>
    </li>
    <li>
      <a href="/XAU/GBP">
        Convert 1 XAU to GBP...
      </a>
    </li>
    <li>
      <a href="/XAU/GEL">
        Convert 1 XAU to GEL...
      </a>
    </li>
    <li>
      <a href="/XAU/GGP">
        Convert 1 XAU to GGP...
      </a>
    </li>
    <li>
      <a href="/XAU/GHS">
        Convert 1 XAU to GHS...
      </a>
    </li>
    <li>
      <a href="/XAU/GIP">
        Convert 1 XAU to GIP...
      </a>
    </li>
    <li>
      <a href="/XAU/GMD">
        Convert 1 XAU to GMD...
      </a>
    </li>
    <li>
      <a href="/XAU/GNF">
        Convert 1 XAU to GNF...
      </a>
    </li>
    <li>
      <a href="/XAU/GTQ">
        Convert 1 XAU to GTQ...
      </a>
    </li>
    <li>
      <a href="/XAU/GYD">
        Convert 1 XAU to GYD...
      </a>
    </li>
    <li>
      <a href="/XAU/HKD">
        Convert 1 XAU to HKD...
      </a>
    </li>
    <li>
      <a href="/XAU/HNL">
        Convert 1 XAU to HNL...
      </a>
    </li>
    <li>
      <a href="/XAU/HRK">
        Convert 1 XAU to HRK...
      </a>
    </li>
    <li>
      <a href="/XAU/HTG">
        Convert 1 XAU to HTG...
      </a>
    </li>
    <li>
      <a href="/XAU/HUF">
        Convert 1 XAU to HUF...
      </a>
    </li>
    <li>
      <a href="/XAU/IDR">
        Convert 1 XAU to IDR...
      </a>
    </li>
    <li>
      <a href="/XAU/ILS">
        Convert 1 XAU to ILS...
      </a>
    </li>
    <li>
      <a href="/XAU/IMP">
        Convert 1 XAU to IMP...
      </a>
    </li>
    <li>
      <a href="/XAU/INR">
        Convert 1 XAU to INR...
      </a>
    </li>
    <li>
      <a href="/XAU/IQD">
        Convert 1 XAU to IQD...
      </a>
    </li>
    <li>
      <a href="/XAU/IRR">
        Convert 1 XAU to IRR...
      </a>
    </li>
    <li>
      <a href="/XAU/ISK">
        Convert 1 XAU to ISK...
      </a>
    </li>
    <li>
      <a href="/XAU/JEP">
        Convert 1 XAU to JEP...
      </a>
    </li>
    <li>
      <a href="/XAU/JMD">
        Convert 1 XAU to JMD...
      </a>
    </li>
    <li>
      <a href="/XAU/JOD">
        Convert 1 XAU to JOD...
      </a>
    </li>
    <li>
      <a href="/XAU/JPY">
        Convert 1 XAU to JPY...
      </a>
    </li>
    <li>
      <a href="/XAU/KES">
        Convert 1 XAU to KES...
      </a>
    </li>
    <li>
      <a href="/XAU/KGS">
        Convert 1 XAU to KGS...
      </a>
    </li>
    <li>
      <a href="/XAU/KHR">
        Convert 1 XAU to KHR...
      </a>
    </li>
    <li>
      <a href="/XAU/KMF">
        Convert 1 XAU to KMF...
      </a>
    </li>
    <li>
      <a href="/XAU/KPW">
        Convert 1 XAU to KPW...
      </a>
    </li>
    <li>
      <a href="/XAU/KRW">
        Convert 1 XAU to KRW...
      </a>
    </li>
    <li>
      <a href="/XAU/KWD">
        Convert 1 XAU to KWD...
      </a>
    </li>
    <li>
      <a href="/XAU/KYD">
        Convert 1 XAU to KYD...
      </a>
    </li>
    <li>
      <a href="/XAU/KZT">
        Convert 1 XAU to KZT...
      </a>
    </li>
    <li>
      <a href="/XAU/LAK">
        Convert 1 XAU to LAK...
      </a>
    </li>
    <li>
      <a href="/XAU/LBP">
        Convert 1 XAU to LBP...
      </a>
    </li>
    <li>
      <a href="/XAU/LKR">
        Convert 1 XAU to LKR...
      </a>
    </li>
    <li>
      <a href="/XAU/LRD">
        Convert 1 XAU to LRD...
      </a>
    </li>
    <li>
      <a href="/XAU/LSL">
        Convert 1 XAU to LSL...
      </a>
    </li>
    <li>
      <a href="/XAU/LYD">
        Convert 1 XAU to LYD...
      </a>
    </li>
    <li>
      <a href="/XAU/MAD">
        Convert 1 XAU to MAD...
      </a>
    </li>
    <li>
      <a href="/XAU/MDL">
        Convert 1 XAU to MDL...
      </a>
    </li>
    <li>
      <a href="/XAU/MGA">
        Convert 1 XAU to MGA...
      </a>
    </li>
    <li>
      <a href="/XAU/MKD">
        Convert 1 XAU to MKD...
      </a>
    </li>
    <li>
      <a href="/XAU/MMK">
        Convert 1 XAU to MMK...
      </a>
    </li>
    <li>
      <a href="/XAU/MNT">
        Convert 1 XAU to MNT...
      </a>
    </li>
    <li>
      <a href="/XAU/MOP">
        Convert 1 XAU to MOP...
      </a>
    </li>
    <li>
      <a href="/XAU/MRO">
        Convert 1 XAU to MRO...
      </a>
    </li>
    <li>
      <a href="/XAU/MRU">
        Convert 1 XAU to MRU...
      </a>
    </li>
    <li>
      <a href="/XAU/MUR">
        Convert 1 XAU to MUR...
      </a>
    </li>
    <li>
      <a href="/XAU/MVR">
        Convert 1 XAU to MVR...
      </a>
    </li>
    <li>
      <a href="/XAU/MWK">
        Convert 1 XAU to MWK...
      </a>
    </li>
    <li>
      <a href="/XAU/MXN">
        Convert 1 XAU to MXN...
      </a>
    </li>
    <li>
      <a href="/XAU/MYR">
        Convert 1 XAU to MYR...
      </a>
    </li>
    <li>
      <a href="/XAU/MZN">
        Convert 1 XAU to MZN...
      </a>
    </li>
    <li>
      <a href="/XAU/NAD">
        Convert 1 XAU to NAD...
      </a>
    </li>
    <li>
      <a href="/XAU/NGN">
        Convert 1 XAU to NGN...
      </a>
    </li>
    <li>
      <a href="/XAU/NIO">
        Convert 1 XAU to NIO...
      </a>
    </li>
    <li>
      <a href="/XAU/NOK">
        Convert 1 XAU to NOK...
      </a>
    </li>
    <li>
      <a href="/XAU/NPR">
        Convert 1 XAU to NPR...
      </a>
    </li>
    <li>
      <a href="/XAU/NZD">
        Convert 1 XAU to NZD...
      </a>
    </li>
    <li>
      <a href="/XAU/OMR">
        Convert 1 XAU to OMR...
      </a>
    </li>
    <li>
      <a href="/XAU/PAB">
        Convert 1 XAU to PAB...
      </a>
    </li>
    <li>
      <a href="/XAU/PEN">
        Convert 1 XAU to PEN...
      </a>
    </li>
    <li>
      <a href="/XAU/PGK">
        Convert 1 XAU to PGK...
      </a>
    </li>
    <li>
      <a href="/XAU/PHP">
        Convert 1 XAU to PHP...
      </a>
    </li>
    <li>
      <a href="/XAU/PKR">
        Convert 1 XAU to PKR...
      </a>
    </li>
    <li>
      <a href="/XAU/PLN">
        Convert 1 XAU to PLN...
      </a>
    </li>
    <li>
      <a href="/XAU/PYG">
        Convert 1 XAU to PYG...
      </a>
    </li>
    <li>
      <a href="/XAU/QAR">
        Convert 1 XAU to QAR...
      </a>
    </li>
    <li>
      <a href="/XAU/RON">
        Convert 1 XAU to RON...
      </a>
    </li>
    <li>
      <a href="/XAU/RSD">
        Convert 1 XAU to RSD...
      </a>
    </li>
    <li>
      <a href="/XAU/RUB">
        Convert 1 XAU to RUB...
      </a>
    </li>
    <li>
      <a href="/XAU/RWF">
        Convert 1 XAU to RWF...
      </a>
    </li>
    <li>
      <a href="/XAU/SAR">
        Convert 1 XAU to SAR...
      </a>
    </li>
    <li>
      <a href="/XAU/SBD">
        Convert 1 XAU to SBD...
      </a>
    </li>
    <li>
      <a href="/XAU/SCR">
        Convert 1 XAU to SCR...
      </a>
    </li>
    <li>
      <a href="/XAU/SDG">
        Convert 1 XAU to SDG...
      </a>
    </li>
    <li>
      <a href="/XAU/SEK">
        Convert 1 XAU to SEK...
      </a>
    </li>
    <li>
      <a href="/XAU/SGD">
        Convert 1 XAU to SGD...
      </a>
    </li>
    <li>
      <a href="/XAU/SHP">
        Convert 1 XAU to SHP...
      </a>
    </li>
    <li>
      <a href="/XAU/SLL">
        Convert 1 XAU to SLL...
      </a>
    </li>
    <li>
      <a href="/XAU/SOS">
        Convert 1 XAU to SOS...
      </a>
    </li>
    <li>
      <a href="/XAU/SRD">
        Convert 1 XAU to SRD...
      </a>
    </li>
    <li>
      <a href="/XAU/SSP">
        Convert 1 XAU to SSP...
      </a>
    </li>
    <li>
      <a href="/XAU/STD">
        Convert 1 XAU to STD...
      </a>
    </li>
    <li>
      <a href="/XAU/STN">
        Convert 1 XAU to STN...
      </a>
    </li>
    <li>
      <a href="/XAU/SVC">
        Convert 1 XAU to SVC...
      </a>
    </li>
    <li>
      <a href="/XAU/SYP">
        Convert 1 XAU to SYP...
      </a>
    </li>
    <li>
      <a href="/XAU/SZL">
        Convert 1 XAU to SZL...
      </a>
    </li>
    <li>
      <a href="/XAU/THB">
        Convert 1 XAU to THB...
      </a>
    </li>
    <li>
      <a href="/XAU/TJS">
        Convert 1 XAU to TJS...
      </a>
    </li>
    <li>
      <a href="/XAU/TMT">
        Convert 1 XAU to TMT...
      </a>
    </li>
    <li>
      <a href="/XAU/TND">
        Convert 1 XAU to TND...
      </a>
    </li>
    <li>
      <a href="/XAU/TOP">
        Convert 1 XAU to TOP...
      </a>
    </li>
    <li>
      <a href="/XAU/TRY">
        Convert 1 XAU to TRY...
      </a>
    </li>
    <li>
      <a href="/XAU/TTD">
        Convert 1 XAU to TTD...
      </a>
    </li>
    <li>
      <a href="/XAU/TWD">
        Convert 1 XAU to TWD...
      </a>
    </li>
    <li>
      <a href="/XAU/TZS">
        Convert 1 XAU to TZS...
      </a>
    </li>
    <li>
      <a href="/XAU/UAH">
        Convert 1 XAU to UAH...
      </a>
    </li>
    <li>
      <a href="/XAU/UGX">
        Convert 1 XAU to UGX...
      </a>
    </li>
    <li>
      <a href="/XAU/USD">
        Convert 1 XAU to USD...
      </a>
    </li>
    <li>
      <a href="/XAU/UYU">
        Convert 1 XAU to UYU...
      </a>
    </li>
    <li>
      <a href="/XAU/UZS">
        Convert 1 XAU to UZS...
      </a>
    </li>
    <li>
      <a href="/XAU/VEF">
        Convert 1 XAU to VEF...
      </a>
    </li>
    <li>
      <a href="/XAU/VES">
        Convert 1 XAU to VES...
      </a>
    </li>
    <li>
      <a href="/XAU/VND">
        Convert 1 XAU to VND...
      </a>
    </li>
    <li>
      <a href="/XAU/VUV">
        Convert 1 XAU to VUV...
      </a>
    </li>
    <li>
      <a href="/XAU/WST">
        Convert 1 XAU to WST...
      </a>
    </li>
    <li>
      <a href="/XAU/XAF">
        Convert 1 XAU to XAF...
      </a>
    </li>
    <li>
      <a href="/XAU/XAG">
        Convert 1 XAU to XAG...
      </a>
    </li>
    <li>
      <a href="/XAU/XAU">
        Convert 1 XAU to XAU...
      </a>
    </li>
    <li>
      <a href="/XAU/XCD">
        Convert 1 XAU to XCD...
      </a>
    </li>
    <li>
      <a href="/XAU/XDR">
        Convert 1 XAU to XDR...
      </a>
    </li>
    <li>
      <a href="/XAU/XOF">
        Convert 1 XAU to XOF...
      </a>
    </li>
    <li>
      <a href="/XAU/XPD">
        Convert 1 XAU to XPD...
      </a>
    </li>
    <li>
      <a href="/XAU/XPF">
        Convert 1 XAU to XPF...
      </a>
    </li>
    <li>
      <a href="/XAU/XPT">
        Convert 1 XAU to XPT...
      </a>
    </li>
    <li>
      <a href="/XAU/YER">
        Convert 1 XAU to YER...
      </a>
    </li>
    <li>
      <a href="/XAU/ZAR">
        Convert 1 XAU to ZAR...
      </a>
    </li>
    <li>
      <a href="/XAU/ZMW">
        Convert 1 XAU to ZMW...
      </a>
    </li>
    <li>
      <a href="/XAU/ZWL">
        Convert 1 XAU to ZWL...
      </a>
    </li>
</ul>
</body>
