<body>
    <h1>Convert XDR</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/XDR/AED">
        Convert 1 XDR to AED...
      </a>
    </li>
    <li>
      <a href="/XDR/AFN">
        Convert 1 XDR to AFN...
      </a>
    </li>
    <li>
      <a href="/XDR/ALL">
        Convert 1 XDR to ALL...
      </a>
    </li>
    <li>
      <a href="/XDR/AMD">
        Convert 1 XDR to AMD...
      </a>
    </li>
    <li>
      <a href="/XDR/ANG">
        Convert 1 XDR to ANG...
      </a>
    </li>
    <li>
      <a href="/XDR/AOA">
        Convert 1 XDR to AOA...
      </a>
    </li>
    <li>
      <a href="/XDR/ARS">
        Convert 1 XDR to ARS...
      </a>
    </li>
    <li>
      <a href="/XDR/AUD">
        Convert 1 XDR to AUD...
      </a>
    </li>
    <li>
      <a href="/XDR/AWG">
        Convert 1 XDR to AWG...
      </a>
    </li>
    <li>
      <a href="/XDR/AZN">
        Convert 1 XDR to AZN...
      </a>
    </li>
    <li>
      <a href="/XDR/BAM">
        Convert 1 XDR to BAM...
      </a>
    </li>
    <li>
      <a href="/XDR/BBD">
        Convert 1 XDR to BBD...
      </a>
    </li>
    <li>
      <a href="/XDR/BDT">
        Convert 1 XDR to BDT...
      </a>
    </li>
    <li>
      <a href="/XDR/BGN">
        Convert 1 XDR to BGN...
      </a>
    </li>
    <li>
      <a href="/XDR/BHD">
        Convert 1 XDR to BHD...
      </a>
    </li>
    <li>
      <a href="/XDR/BIF">
        Convert 1 XDR to BIF...
      </a>
    </li>
    <li>
      <a href="/XDR/BMD">
        Convert 1 XDR to BMD...
      </a>
    </li>
    <li>
      <a href="/XDR/BND">
        Convert 1 XDR to BND...
      </a>
    </li>
    <li>
      <a href="/XDR/BOB">
        Convert 1 XDR to BOB...
      </a>
    </li>
    <li>
      <a href="/XDR/BRL">
        Convert 1 XDR to BRL...
      </a>
    </li>
    <li>
      <a href="/XDR/BSD">
        Convert 1 XDR to BSD...
      </a>
    </li>
    <li>
      <a href="/XDR/BTC">
        Convert 1 XDR to BTC...
      </a>
    </li>
    <li>
      <a href="/XDR/BTN">
        Convert 1 XDR to BTN...
      </a>
    </li>
    <li>
      <a href="/XDR/BWP">
        Convert 1 XDR to BWP...
      </a>
    </li>
    <li>
      <a href="/XDR/BYN">
        Convert 1 XDR to BYN...
      </a>
    </li>
    <li>
      <a href="/XDR/BZD">
        Convert 1 XDR to BZD...
      </a>
    </li>
    <li>
      <a href="/XDR/CAD">
        Convert 1 XDR to CAD...
      </a>
    </li>
    <li>
      <a href="/XDR/CDF">
        Convert 1 XDR to CDF...
      </a>
    </li>
    <li>
      <a href="/XDR/CHF">
        Convert 1 XDR to CHF...
      </a>
    </li>
    <li>
      <a href="/XDR/CLF">
        Convert 1 XDR to CLF...
      </a>
    </li>
    <li>
      <a href="/XDR/CLP">
        Convert 1 XDR to CLP...
      </a>
    </li>
    <li>
      <a href="/XDR/CNH">
        Convert 1 XDR to CNH...
      </a>
    </li>
    <li>
      <a href="/XDR/CNY">
        Convert 1 XDR to CNY...
      </a>
    </li>
    <li>
      <a href="/XDR/COP">
        Convert 1 XDR to COP...
      </a>
    </li>
    <li>
      <a href="/XDR/CRC">
        Convert 1 XDR to CRC...
      </a>
    </li>
    <li>
      <a href="/XDR/CUC">
        Convert 1 XDR to CUC...
      </a>
    </li>
    <li>
      <a href="/XDR/CUP">
        Convert 1 XDR to CUP...
      </a>
    </li>
    <li>
      <a href="/XDR/CVE">
        Convert 1 XDR to CVE...
      </a>
    </li>
    <li>
      <a href="/XDR/CZK">
        Convert 1 XDR to CZK...
      </a>
    </li>
    <li>
      <a href="/XDR/DJF">
        Convert 1 XDR to DJF...
      </a>
    </li>
    <li>
      <a href="/XDR/DKK">
        Convert 1 XDR to DKK...
      </a>
    </li>
    <li>
      <a href="/XDR/DOP">
        Convert 1 XDR to DOP...
      </a>
    </li>
    <li>
      <a href="/XDR/DZD">
        Convert 1 XDR to DZD...
      </a>
    </li>
    <li>
      <a href="/XDR/EGP">
        Convert 1 XDR to EGP...
      </a>
    </li>
    <li>
      <a href="/XDR/ERN">
        Convert 1 XDR to ERN...
      </a>
    </li>
    <li>
      <a href="/XDR/ETB">
        Convert 1 XDR to ETB...
      </a>
    </li>
    <li>
      <a href="/XDR/EUR">
        Convert 1 XDR to EUR...
      </a>
    </li>
    <li>
      <a href="/XDR/FJD">
        Convert 1 XDR to FJD...
      </a>
    </li>
    <li>
      <a href="/XDR/FKP">
        Convert 1 XDR to FKP...
      </a>
    </li>
    <li>
      <a href="/XDR/GBP">
        Convert 1 XDR to GBP...
      </a>
    </li>
    <li>
      <a href="/XDR/GEL">
        Convert 1 XDR to GEL...
      </a>
    </li>
    <li>
      <a href="/XDR/GGP">
        Convert 1 XDR to GGP...
      </a>
    </li>
    <li>
      <a href="/XDR/GHS">
        Convert 1 XDR to GHS...
      </a>
    </li>
    <li>
      <a href="/XDR/GIP">
        Convert 1 XDR to GIP...
      </a>
    </li>
    <li>
      <a href="/XDR/GMD">
        Convert 1 XDR to GMD...
      </a>
    </li>
    <li>
      <a href="/XDR/GNF">
        Convert 1 XDR to GNF...
      </a>
    </li>
    <li>
      <a href="/XDR/GTQ">
        Convert 1 XDR to GTQ...
      </a>
    </li>
    <li>
      <a href="/XDR/GYD">
        Convert 1 XDR to GYD...
      </a>
    </li>
    <li>
      <a href="/XDR/HKD">
        Convert 1 XDR to HKD...
      </a>
    </li>
    <li>
      <a href="/XDR/HNL">
        Convert 1 XDR to HNL...
      </a>
    </li>
    <li>
      <a href="/XDR/HRK">
        Convert 1 XDR to HRK...
      </a>
    </li>
    <li>
      <a href="/XDR/HTG">
        Convert 1 XDR to HTG...
      </a>
    </li>
    <li>
      <a href="/XDR/HUF">
        Convert 1 XDR to HUF...
      </a>
    </li>
    <li>
      <a href="/XDR/IDR">
        Convert 1 XDR to IDR...
      </a>
    </li>
    <li>
      <a href="/XDR/ILS">
        Convert 1 XDR to ILS...
      </a>
    </li>
    <li>
      <a href="/XDR/IMP">
        Convert 1 XDR to IMP...
      </a>
    </li>
    <li>
      <a href="/XDR/INR">
        Convert 1 XDR to INR...
      </a>
    </li>
    <li>
      <a href="/XDR/IQD">
        Convert 1 XDR to IQD...
      </a>
    </li>
    <li>
      <a href="/XDR/IRR">
        Convert 1 XDR to IRR...
      </a>
    </li>
    <li>
      <a href="/XDR/ISK">
        Convert 1 XDR to ISK...
      </a>
    </li>
    <li>
      <a href="/XDR/JEP">
        Convert 1 XDR to JEP...
      </a>
    </li>
    <li>
      <a href="/XDR/JMD">
        Convert 1 XDR to JMD...
      </a>
    </li>
    <li>
      <a href="/XDR/JOD">
        Convert 1 XDR to JOD...
      </a>
    </li>
    <li>
      <a href="/XDR/JPY">
        Convert 1 XDR to JPY...
      </a>
    </li>
    <li>
      <a href="/XDR/KES">
        Convert 1 XDR to KES...
      </a>
    </li>
    <li>
      <a href="/XDR/KGS">
        Convert 1 XDR to KGS...
      </a>
    </li>
    <li>
      <a href="/XDR/KHR">
        Convert 1 XDR to KHR...
      </a>
    </li>
    <li>
      <a href="/XDR/KMF">
        Convert 1 XDR to KMF...
      </a>
    </li>
    <li>
      <a href="/XDR/KPW">
        Convert 1 XDR to KPW...
      </a>
    </li>
    <li>
      <a href="/XDR/KRW">
        Convert 1 XDR to KRW...
      </a>
    </li>
    <li>
      <a href="/XDR/KWD">
        Convert 1 XDR to KWD...
      </a>
    </li>
    <li>
      <a href="/XDR/KYD">
        Convert 1 XDR to KYD...
      </a>
    </li>
    <li>
      <a href="/XDR/KZT">
        Convert 1 XDR to KZT...
      </a>
    </li>
    <li>
      <a href="/XDR/LAK">
        Convert 1 XDR to LAK...
      </a>
    </li>
    <li>
      <a href="/XDR/LBP">
        Convert 1 XDR to LBP...
      </a>
    </li>
    <li>
      <a href="/XDR/LKR">
        Convert 1 XDR to LKR...
      </a>
    </li>
    <li>
      <a href="/XDR/LRD">
        Convert 1 XDR to LRD...
      </a>
    </li>
    <li>
      <a href="/XDR/LSL">
        Convert 1 XDR to LSL...
      </a>
    </li>
    <li>
      <a href="/XDR/LYD">
        Convert 1 XDR to LYD...
      </a>
    </li>
    <li>
      <a href="/XDR/MAD">
        Convert 1 XDR to MAD...
      </a>
    </li>
    <li>
      <a href="/XDR/MDL">
        Convert 1 XDR to MDL...
      </a>
    </li>
    <li>
      <a href="/XDR/MGA">
        Convert 1 XDR to MGA...
      </a>
    </li>
    <li>
      <a href="/XDR/MKD">
        Convert 1 XDR to MKD...
      </a>
    </li>
    <li>
      <a href="/XDR/MMK">
        Convert 1 XDR to MMK...
      </a>
    </li>
    <li>
      <a href="/XDR/MNT">
        Convert 1 XDR to MNT...
      </a>
    </li>
    <li>
      <a href="/XDR/MOP">
        Convert 1 XDR to MOP...
      </a>
    </li>
    <li>
      <a href="/XDR/MRO">
        Convert 1 XDR to MRO...
      </a>
    </li>
    <li>
      <a href="/XDR/MRU">
        Convert 1 XDR to MRU...
      </a>
    </li>
    <li>
      <a href="/XDR/MUR">
        Convert 1 XDR to MUR...
      </a>
    </li>
    <li>
      <a href="/XDR/MVR">
        Convert 1 XDR to MVR...
      </a>
    </li>
    <li>
      <a href="/XDR/MWK">
        Convert 1 XDR to MWK...
      </a>
    </li>
    <li>
      <a href="/XDR/MXN">
        Convert 1 XDR to MXN...
      </a>
    </li>
    <li>
      <a href="/XDR/MYR">
        Convert 1 XDR to MYR...
      </a>
    </li>
    <li>
      <a href="/XDR/MZN">
        Convert 1 XDR to MZN...
      </a>
    </li>
    <li>
      <a href="/XDR/NAD">
        Convert 1 XDR to NAD...
      </a>
    </li>
    <li>
      <a href="/XDR/NGN">
        Convert 1 XDR to NGN...
      </a>
    </li>
    <li>
      <a href="/XDR/NIO">
        Convert 1 XDR to NIO...
      </a>
    </li>
    <li>
      <a href="/XDR/NOK">
        Convert 1 XDR to NOK...
      </a>
    </li>
    <li>
      <a href="/XDR/NPR">
        Convert 1 XDR to NPR...
      </a>
    </li>
    <li>
      <a href="/XDR/NZD">
        Convert 1 XDR to NZD...
      </a>
    </li>
    <li>
      <a href="/XDR/OMR">
        Convert 1 XDR to OMR...
      </a>
    </li>
    <li>
      <a href="/XDR/PAB">
        Convert 1 XDR to PAB...
      </a>
    </li>
    <li>
      <a href="/XDR/PEN">
        Convert 1 XDR to PEN...
      </a>
    </li>
    <li>
      <a href="/XDR/PGK">
        Convert 1 XDR to PGK...
      </a>
    </li>
    <li>
      <a href="/XDR/PHP">
        Convert 1 XDR to PHP...
      </a>
    </li>
    <li>
      <a href="/XDR/PKR">
        Convert 1 XDR to PKR...
      </a>
    </li>
    <li>
      <a href="/XDR/PLN">
        Convert 1 XDR to PLN...
      </a>
    </li>
    <li>
      <a href="/XDR/PYG">
        Convert 1 XDR to PYG...
      </a>
    </li>
    <li>
      <a href="/XDR/QAR">
        Convert 1 XDR to QAR...
      </a>
    </li>
    <li>
      <a href="/XDR/RON">
        Convert 1 XDR to RON...
      </a>
    </li>
    <li>
      <a href="/XDR/RSD">
        Convert 1 XDR to RSD...
      </a>
    </li>
    <li>
      <a href="/XDR/RUB">
        Convert 1 XDR to RUB...
      </a>
    </li>
    <li>
      <a href="/XDR/RWF">
        Convert 1 XDR to RWF...
      </a>
    </li>
    <li>
      <a href="/XDR/SAR">
        Convert 1 XDR to SAR...
      </a>
    </li>
    <li>
      <a href="/XDR/SBD">
        Convert 1 XDR to SBD...
      </a>
    </li>
    <li>
      <a href="/XDR/SCR">
        Convert 1 XDR to SCR...
      </a>
    </li>
    <li>
      <a href="/XDR/SDG">
        Convert 1 XDR to SDG...
      </a>
    </li>
    <li>
      <a href="/XDR/SEK">
        Convert 1 XDR to SEK...
      </a>
    </li>
    <li>
      <a href="/XDR/SGD">
        Convert 1 XDR to SGD...
      </a>
    </li>
    <li>
      <a href="/XDR/SHP">
        Convert 1 XDR to SHP...
      </a>
    </li>
    <li>
      <a href="/XDR/SLL">
        Convert 1 XDR to SLL...
      </a>
    </li>
    <li>
      <a href="/XDR/SOS">
        Convert 1 XDR to SOS...
      </a>
    </li>
    <li>
      <a href="/XDR/SRD">
        Convert 1 XDR to SRD...
      </a>
    </li>
    <li>
      <a href="/XDR/SSP">
        Convert 1 XDR to SSP...
      </a>
    </li>
    <li>
      <a href="/XDR/STD">
        Convert 1 XDR to STD...
      </a>
    </li>
    <li>
      <a href="/XDR/STN">
        Convert 1 XDR to STN...
      </a>
    </li>
    <li>
      <a href="/XDR/SVC">
        Convert 1 XDR to SVC...
      </a>
    </li>
    <li>
      <a href="/XDR/SYP">
        Convert 1 XDR to SYP...
      </a>
    </li>
    <li>
      <a href="/XDR/SZL">
        Convert 1 XDR to SZL...
      </a>
    </li>
    <li>
      <a href="/XDR/THB">
        Convert 1 XDR to THB...
      </a>
    </li>
    <li>
      <a href="/XDR/TJS">
        Convert 1 XDR to TJS...
      </a>
    </li>
    <li>
      <a href="/XDR/TMT">
        Convert 1 XDR to TMT...
      </a>
    </li>
    <li>
      <a href="/XDR/TND">
        Convert 1 XDR to TND...
      </a>
    </li>
    <li>
      <a href="/XDR/TOP">
        Convert 1 XDR to TOP...
      </a>
    </li>
    <li>
      <a href="/XDR/TRY">
        Convert 1 XDR to TRY...
      </a>
    </li>
    <li>
      <a href="/XDR/TTD">
        Convert 1 XDR to TTD...
      </a>
    </li>
    <li>
      <a href="/XDR/TWD">
        Convert 1 XDR to TWD...
      </a>
    </li>
    <li>
      <a href="/XDR/TZS">
        Convert 1 XDR to TZS...
      </a>
    </li>
    <li>
      <a href="/XDR/UAH">
        Convert 1 XDR to UAH...
      </a>
    </li>
    <li>
      <a href="/XDR/UGX">
        Convert 1 XDR to UGX...
      </a>
    </li>
    <li>
      <a href="/XDR/USD">
        Convert 1 XDR to USD...
      </a>
    </li>
    <li>
      <a href="/XDR/UYU">
        Convert 1 XDR to UYU...
      </a>
    </li>
    <li>
      <a href="/XDR/UZS">
        Convert 1 XDR to UZS...
      </a>
    </li>
    <li>
      <a href="/XDR/VEF">
        Convert 1 XDR to VEF...
      </a>
    </li>
    <li>
      <a href="/XDR/VES">
        Convert 1 XDR to VES...
      </a>
    </li>
    <li>
      <a href="/XDR/VND">
        Convert 1 XDR to VND...
      </a>
    </li>
    <li>
      <a href="/XDR/VUV">
        Convert 1 XDR to VUV...
      </a>
    </li>
    <li>
      <a href="/XDR/WST">
        Convert 1 XDR to WST...
      </a>
    </li>
    <li>
      <a href="/XDR/XAF">
        Convert 1 XDR to XAF...
      </a>
    </li>
    <li>
      <a href="/XDR/XAG">
        Convert 1 XDR to XAG...
      </a>
    </li>
    <li>
      <a href="/XDR/XAU">
        Convert 1 XDR to XAU...
      </a>
    </li>
    <li>
      <a href="/XDR/XCD">
        Convert 1 XDR to XCD...
      </a>
    </li>
    <li>
      <a href="/XDR/XDR">
        Convert 1 XDR to XDR...
      </a>
    </li>
    <li>
      <a href="/XDR/XOF">
        Convert 1 XDR to XOF...
      </a>
    </li>
    <li>
      <a href="/XDR/XPD">
        Convert 1 XDR to XPD...
      </a>
    </li>
    <li>
      <a href="/XDR/XPF">
        Convert 1 XDR to XPF...
      </a>
    </li>
    <li>
      <a href="/XDR/XPT">
        Convert 1 XDR to XPT...
      </a>
    </li>
    <li>
      <a href="/XDR/YER">
        Convert 1 XDR to YER...
      </a>
    </li>
    <li>
      <a href="/XDR/ZAR">
        Convert 1 XDR to ZAR...
      </a>
    </li>
    <li>
      <a href="/XDR/ZMW">
        Convert 1 XDR to ZMW...
      </a>
    </li>
    <li>
      <a href="/XDR/ZWL">
        Convert 1 XDR to ZWL...
      </a>
    </li>
</ul>
</body>
