<body>
    <h1>Convert XPD</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/XPD/AED">
        Convert 1 XPD to AED...
      </a>
    </li>
    <li>
      <a href="/XPD/AFN">
        Convert 1 XPD to AFN...
      </a>
    </li>
    <li>
      <a href="/XPD/ALL">
        Convert 1 XPD to ALL...
      </a>
    </li>
    <li>
      <a href="/XPD/AMD">
        Convert 1 XPD to AMD...
      </a>
    </li>
    <li>
      <a href="/XPD/ANG">
        Convert 1 XPD to ANG...
      </a>
    </li>
    <li>
      <a href="/XPD/AOA">
        Convert 1 XPD to AOA...
      </a>
    </li>
    <li>
      <a href="/XPD/ARS">
        Convert 1 XPD to ARS...
      </a>
    </li>
    <li>
      <a href="/XPD/AUD">
        Convert 1 XPD to AUD...
      </a>
    </li>
    <li>
      <a href="/XPD/AWG">
        Convert 1 XPD to AWG...
      </a>
    </li>
    <li>
      <a href="/XPD/AZN">
        Convert 1 XPD to AZN...
      </a>
    </li>
    <li>
      <a href="/XPD/BAM">
        Convert 1 XPD to BAM...
      </a>
    </li>
    <li>
      <a href="/XPD/BBD">
        Convert 1 XPD to BBD...
      </a>
    </li>
    <li>
      <a href="/XPD/BDT">
        Convert 1 XPD to BDT...
      </a>
    </li>
    <li>
      <a href="/XPD/BGN">
        Convert 1 XPD to BGN...
      </a>
    </li>
    <li>
      <a href="/XPD/BHD">
        Convert 1 XPD to BHD...
      </a>
    </li>
    <li>
      <a href="/XPD/BIF">
        Convert 1 XPD to BIF...
      </a>
    </li>
    <li>
      <a href="/XPD/BMD">
        Convert 1 XPD to BMD...
      </a>
    </li>
    <li>
      <a href="/XPD/BND">
        Convert 1 XPD to BND...
      </a>
    </li>
    <li>
      <a href="/XPD/BOB">
        Convert 1 XPD to BOB...
      </a>
    </li>
    <li>
      <a href="/XPD/BRL">
        Convert 1 XPD to BRL...
      </a>
    </li>
    <li>
      <a href="/XPD/BSD">
        Convert 1 XPD to BSD...
      </a>
    </li>
    <li>
      <a href="/XPD/BTC">
        Convert 1 XPD to BTC...
      </a>
    </li>
    <li>
      <a href="/XPD/BTN">
        Convert 1 XPD to BTN...
      </a>
    </li>
    <li>
      <a href="/XPD/BWP">
        Convert 1 XPD to BWP...
      </a>
    </li>
    <li>
      <a href="/XPD/BYN">
        Convert 1 XPD to BYN...
      </a>
    </li>
    <li>
      <a href="/XPD/BZD">
        Convert 1 XPD to BZD...
      </a>
    </li>
    <li>
      <a href="/XPD/CAD">
        Convert 1 XPD to CAD...
      </a>
    </li>
    <li>
      <a href="/XPD/CDF">
        Convert 1 XPD to CDF...
      </a>
    </li>
    <li>
      <a href="/XPD/CHF">
        Convert 1 XPD to CHF...
      </a>
    </li>
    <li>
      <a href="/XPD/CLF">
        Convert 1 XPD to CLF...
      </a>
    </li>
    <li>
      <a href="/XPD/CLP">
        Convert 1 XPD to CLP...
      </a>
    </li>
    <li>
      <a href="/XPD/CNH">
        Convert 1 XPD to CNH...
      </a>
    </li>
    <li>
      <a href="/XPD/CNY">
        Convert 1 XPD to CNY...
      </a>
    </li>
    <li>
      <a href="/XPD/COP">
        Convert 1 XPD to COP...
      </a>
    </li>
    <li>
      <a href="/XPD/CRC">
        Convert 1 XPD to CRC...
      </a>
    </li>
    <li>
      <a href="/XPD/CUC">
        Convert 1 XPD to CUC...
      </a>
    </li>
    <li>
      <a href="/XPD/CUP">
        Convert 1 XPD to CUP...
      </a>
    </li>
    <li>
      <a href="/XPD/CVE">
        Convert 1 XPD to CVE...
      </a>
    </li>
    <li>
      <a href="/XPD/CZK">
        Convert 1 XPD to CZK...
      </a>
    </li>
    <li>
      <a href="/XPD/DJF">
        Convert 1 XPD to DJF...
      </a>
    </li>
    <li>
      <a href="/XPD/DKK">
        Convert 1 XPD to DKK...
      </a>
    </li>
    <li>
      <a href="/XPD/DOP">
        Convert 1 XPD to DOP...
      </a>
    </li>
    <li>
      <a href="/XPD/DZD">
        Convert 1 XPD to DZD...
      </a>
    </li>
    <li>
      <a href="/XPD/EGP">
        Convert 1 XPD to EGP...
      </a>
    </li>
    <li>
      <a href="/XPD/ERN">
        Convert 1 XPD to ERN...
      </a>
    </li>
    <li>
      <a href="/XPD/ETB">
        Convert 1 XPD to ETB...
      </a>
    </li>
    <li>
      <a href="/XPD/EUR">
        Convert 1 XPD to EUR...
      </a>
    </li>
    <li>
      <a href="/XPD/FJD">
        Convert 1 XPD to FJD...
      </a>
    </li>
    <li>
      <a href="/XPD/FKP">
        Convert 1 XPD to FKP...
      </a>
    </li>
    <li>
      <a href="/XPD/GBP">
        Convert 1 XPD to GBP...
      </a>
    </li>
    <li>
      <a href="/XPD/GEL">
        Convert 1 XPD to GEL...
      </a>
    </li>
    <li>
      <a href="/XPD/GGP">
        Convert 1 XPD to GGP...
      </a>
    </li>
    <li>
      <a href="/XPD/GHS">
        Convert 1 XPD to GHS...
      </a>
    </li>
    <li>
      <a href="/XPD/GIP">
        Convert 1 XPD to GIP...
      </a>
    </li>
    <li>
      <a href="/XPD/GMD">
        Convert 1 XPD to GMD...
      </a>
    </li>
    <li>
      <a href="/XPD/GNF">
        Convert 1 XPD to GNF...
      </a>
    </li>
    <li>
      <a href="/XPD/GTQ">
        Convert 1 XPD to GTQ...
      </a>
    </li>
    <li>
      <a href="/XPD/GYD">
        Convert 1 XPD to GYD...
      </a>
    </li>
    <li>
      <a href="/XPD/HKD">
        Convert 1 XPD to HKD...
      </a>
    </li>
    <li>
      <a href="/XPD/HNL">
        Convert 1 XPD to HNL...
      </a>
    </li>
    <li>
      <a href="/XPD/HRK">
        Convert 1 XPD to HRK...
      </a>
    </li>
    <li>
      <a href="/XPD/HTG">
        Convert 1 XPD to HTG...
      </a>
    </li>
    <li>
      <a href="/XPD/HUF">
        Convert 1 XPD to HUF...
      </a>
    </li>
    <li>
      <a href="/XPD/IDR">
        Convert 1 XPD to IDR...
      </a>
    </li>
    <li>
      <a href="/XPD/ILS">
        Convert 1 XPD to ILS...
      </a>
    </li>
    <li>
      <a href="/XPD/IMP">
        Convert 1 XPD to IMP...
      </a>
    </li>
    <li>
      <a href="/XPD/INR">
        Convert 1 XPD to INR...
      </a>
    </li>
    <li>
      <a href="/XPD/IQD">
        Convert 1 XPD to IQD...
      </a>
    </li>
    <li>
      <a href="/XPD/IRR">
        Convert 1 XPD to IRR...
      </a>
    </li>
    <li>
      <a href="/XPD/ISK">
        Convert 1 XPD to ISK...
      </a>
    </li>
    <li>
      <a href="/XPD/JEP">
        Convert 1 XPD to JEP...
      </a>
    </li>
    <li>
      <a href="/XPD/JMD">
        Convert 1 XPD to JMD...
      </a>
    </li>
    <li>
      <a href="/XPD/JOD">
        Convert 1 XPD to JOD...
      </a>
    </li>
    <li>
      <a href="/XPD/JPY">
        Convert 1 XPD to JPY...
      </a>
    </li>
    <li>
      <a href="/XPD/KES">
        Convert 1 XPD to KES...
      </a>
    </li>
    <li>
      <a href="/XPD/KGS">
        Convert 1 XPD to KGS...
      </a>
    </li>
    <li>
      <a href="/XPD/KHR">
        Convert 1 XPD to KHR...
      </a>
    </li>
    <li>
      <a href="/XPD/KMF">
        Convert 1 XPD to KMF...
      </a>
    </li>
    <li>
      <a href="/XPD/KPW">
        Convert 1 XPD to KPW...
      </a>
    </li>
    <li>
      <a href="/XPD/KRW">
        Convert 1 XPD to KRW...
      </a>
    </li>
    <li>
      <a href="/XPD/KWD">
        Convert 1 XPD to KWD...
      </a>
    </li>
    <li>
      <a href="/XPD/KYD">
        Convert 1 XPD to KYD...
      </a>
    </li>
    <li>
      <a href="/XPD/KZT">
        Convert 1 XPD to KZT...
      </a>
    </li>
    <li>
      <a href="/XPD/LAK">
        Convert 1 XPD to LAK...
      </a>
    </li>
    <li>
      <a href="/XPD/LBP">
        Convert 1 XPD to LBP...
      </a>
    </li>
    <li>
      <a href="/XPD/LKR">
        Convert 1 XPD to LKR...
      </a>
    </li>
    <li>
      <a href="/XPD/LRD">
        Convert 1 XPD to LRD...
      </a>
    </li>
    <li>
      <a href="/XPD/LSL">
        Convert 1 XPD to LSL...
      </a>
    </li>
    <li>
      <a href="/XPD/LYD">
        Convert 1 XPD to LYD...
      </a>
    </li>
    <li>
      <a href="/XPD/MAD">
        Convert 1 XPD to MAD...
      </a>
    </li>
    <li>
      <a href="/XPD/MDL">
        Convert 1 XPD to MDL...
      </a>
    </li>
    <li>
      <a href="/XPD/MGA">
        Convert 1 XPD to MGA...
      </a>
    </li>
    <li>
      <a href="/XPD/MKD">
        Convert 1 XPD to MKD...
      </a>
    </li>
    <li>
      <a href="/XPD/MMK">
        Convert 1 XPD to MMK...
      </a>
    </li>
    <li>
      <a href="/XPD/MNT">
        Convert 1 XPD to MNT...
      </a>
    </li>
    <li>
      <a href="/XPD/MOP">
        Convert 1 XPD to MOP...
      </a>
    </li>
    <li>
      <a href="/XPD/MRO">
        Convert 1 XPD to MRO...
      </a>
    </li>
    <li>
      <a href="/XPD/MRU">
        Convert 1 XPD to MRU...
      </a>
    </li>
    <li>
      <a href="/XPD/MUR">
        Convert 1 XPD to MUR...
      </a>
    </li>
    <li>
      <a href="/XPD/MVR">
        Convert 1 XPD to MVR...
      </a>
    </li>
    <li>
      <a href="/XPD/MWK">
        Convert 1 XPD to MWK...
      </a>
    </li>
    <li>
      <a href="/XPD/MXN">
        Convert 1 XPD to MXN...
      </a>
    </li>
    <li>
      <a href="/XPD/MYR">
        Convert 1 XPD to MYR...
      </a>
    </li>
    <li>
      <a href="/XPD/MZN">
        Convert 1 XPD to MZN...
      </a>
    </li>
    <li>
      <a href="/XPD/NAD">
        Convert 1 XPD to NAD...
      </a>
    </li>
    <li>
      <a href="/XPD/NGN">
        Convert 1 XPD to NGN...
      </a>
    </li>
    <li>
      <a href="/XPD/NIO">
        Convert 1 XPD to NIO...
      </a>
    </li>
    <li>
      <a href="/XPD/NOK">
        Convert 1 XPD to NOK...
      </a>
    </li>
    <li>
      <a href="/XPD/NPR">
        Convert 1 XPD to NPR...
      </a>
    </li>
    <li>
      <a href="/XPD/NZD">
        Convert 1 XPD to NZD...
      </a>
    </li>
    <li>
      <a href="/XPD/OMR">
        Convert 1 XPD to OMR...
      </a>
    </li>
    <li>
      <a href="/XPD/PAB">
        Convert 1 XPD to PAB...
      </a>
    </li>
    <li>
      <a href="/XPD/PEN">
        Convert 1 XPD to PEN...
      </a>
    </li>
    <li>
      <a href="/XPD/PGK">
        Convert 1 XPD to PGK...
      </a>
    </li>
    <li>
      <a href="/XPD/PHP">
        Convert 1 XPD to PHP...
      </a>
    </li>
    <li>
      <a href="/XPD/PKR">
        Convert 1 XPD to PKR...
      </a>
    </li>
    <li>
      <a href="/XPD/PLN">
        Convert 1 XPD to PLN...
      </a>
    </li>
    <li>
      <a href="/XPD/PYG">
        Convert 1 XPD to PYG...
      </a>
    </li>
    <li>
      <a href="/XPD/QAR">
        Convert 1 XPD to QAR...
      </a>
    </li>
    <li>
      <a href="/XPD/RON">
        Convert 1 XPD to RON...
      </a>
    </li>
    <li>
      <a href="/XPD/RSD">
        Convert 1 XPD to RSD...
      </a>
    </li>
    <li>
      <a href="/XPD/RUB">
        Convert 1 XPD to RUB...
      </a>
    </li>
    <li>
      <a href="/XPD/RWF">
        Convert 1 XPD to RWF...
      </a>
    </li>
    <li>
      <a href="/XPD/SAR">
        Convert 1 XPD to SAR...
      </a>
    </li>
    <li>
      <a href="/XPD/SBD">
        Convert 1 XPD to SBD...
      </a>
    </li>
    <li>
      <a href="/XPD/SCR">
        Convert 1 XPD to SCR...
      </a>
    </li>
    <li>
      <a href="/XPD/SDG">
        Convert 1 XPD to SDG...
      </a>
    </li>
    <li>
      <a href="/XPD/SEK">
        Convert 1 XPD to SEK...
      </a>
    </li>
    <li>
      <a href="/XPD/SGD">
        Convert 1 XPD to SGD...
      </a>
    </li>
    <li>
      <a href="/XPD/SHP">
        Convert 1 XPD to SHP...
      </a>
    </li>
    <li>
      <a href="/XPD/SLL">
        Convert 1 XPD to SLL...
      </a>
    </li>
    <li>
      <a href="/XPD/SOS">
        Convert 1 XPD to SOS...
      </a>
    </li>
    <li>
      <a href="/XPD/SRD">
        Convert 1 XPD to SRD...
      </a>
    </li>
    <li>
      <a href="/XPD/SSP">
        Convert 1 XPD to SSP...
      </a>
    </li>
    <li>
      <a href="/XPD/STD">
        Convert 1 XPD to STD...
      </a>
    </li>
    <li>
      <a href="/XPD/STN">
        Convert 1 XPD to STN...
      </a>
    </li>
    <li>
      <a href="/XPD/SVC">
        Convert 1 XPD to SVC...
      </a>
    </li>
    <li>
      <a href="/XPD/SYP">
        Convert 1 XPD to SYP...
      </a>
    </li>
    <li>
      <a href="/XPD/SZL">
        Convert 1 XPD to SZL...
      </a>
    </li>
    <li>
      <a href="/XPD/THB">
        Convert 1 XPD to THB...
      </a>
    </li>
    <li>
      <a href="/XPD/TJS">
        Convert 1 XPD to TJS...
      </a>
    </li>
    <li>
      <a href="/XPD/TMT">
        Convert 1 XPD to TMT...
      </a>
    </li>
    <li>
      <a href="/XPD/TND">
        Convert 1 XPD to TND...
      </a>
    </li>
    <li>
      <a href="/XPD/TOP">
        Convert 1 XPD to TOP...
      </a>
    </li>
    <li>
      <a href="/XPD/TRY">
        Convert 1 XPD to TRY...
      </a>
    </li>
    <li>
      <a href="/XPD/TTD">
        Convert 1 XPD to TTD...
      </a>
    </li>
    <li>
      <a href="/XPD/TWD">
        Convert 1 XPD to TWD...
      </a>
    </li>
    <li>
      <a href="/XPD/TZS">
        Convert 1 XPD to TZS...
      </a>
    </li>
    <li>
      <a href="/XPD/UAH">
        Convert 1 XPD to UAH...
      </a>
    </li>
    <li>
      <a href="/XPD/UGX">
        Convert 1 XPD to UGX...
      </a>
    </li>
    <li>
      <a href="/XPD/USD">
        Convert 1 XPD to USD...
      </a>
    </li>
    <li>
      <a href="/XPD/UYU">
        Convert 1 XPD to UYU...
      </a>
    </li>
    <li>
      <a href="/XPD/UZS">
        Convert 1 XPD to UZS...
      </a>
    </li>
    <li>
      <a href="/XPD/VEF">
        Convert 1 XPD to VEF...
      </a>
    </li>
    <li>
      <a href="/XPD/VES">
        Convert 1 XPD to VES...
      </a>
    </li>
    <li>
      <a href="/XPD/VND">
        Convert 1 XPD to VND...
      </a>
    </li>
    <li>
      <a href="/XPD/VUV">
        Convert 1 XPD to VUV...
      </a>
    </li>
    <li>
      <a href="/XPD/WST">
        Convert 1 XPD to WST...
      </a>
    </li>
    <li>
      <a href="/XPD/XAF">
        Convert 1 XPD to XAF...
      </a>
    </li>
    <li>
      <a href="/XPD/XAG">
        Convert 1 XPD to XAG...
      </a>
    </li>
    <li>
      <a href="/XPD/XAU">
        Convert 1 XPD to XAU...
      </a>
    </li>
    <li>
      <a href="/XPD/XCD">
        Convert 1 XPD to XCD...
      </a>
    </li>
    <li>
      <a href="/XPD/XDR">
        Convert 1 XPD to XDR...
      </a>
    </li>
    <li>
      <a href="/XPD/XOF">
        Convert 1 XPD to XOF...
      </a>
    </li>
    <li>
      <a href="/XPD/XPD">
        Convert 1 XPD to XPD...
      </a>
    </li>
    <li>
      <a href="/XPD/XPF">
        Convert 1 XPD to XPF...
      </a>
    </li>
    <li>
      <a href="/XPD/XPT">
        Convert 1 XPD to XPT...
      </a>
    </li>
    <li>
      <a href="/XPD/YER">
        Convert 1 XPD to YER...
      </a>
    </li>
    <li>
      <a href="/XPD/ZAR">
        Convert 1 XPD to ZAR...
      </a>
    </li>
    <li>
      <a href="/XPD/ZMW">
        Convert 1 XPD to ZMW...
      </a>
    </li>
    <li>
      <a href="/XPD/ZWL">
        Convert 1 XPD to ZWL...
      </a>
    </li>
</ul>
</body>
