<body>
    <h1>Convert XPT</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/XPT/AED">
        Convert 1 XPT to AED...
      </a>
    </li>
    <li>
      <a href="/XPT/AFN">
        Convert 1 XPT to AFN...
      </a>
    </li>
    <li>
      <a href="/XPT/ALL">
        Convert 1 XPT to ALL...
      </a>
    </li>
    <li>
      <a href="/XPT/AMD">
        Convert 1 XPT to AMD...
      </a>
    </li>
    <li>
      <a href="/XPT/ANG">
        Convert 1 XPT to ANG...
      </a>
    </li>
    <li>
      <a href="/XPT/AOA">
        Convert 1 XPT to AOA...
      </a>
    </li>
    <li>
      <a href="/XPT/ARS">
        Convert 1 XPT to ARS...
      </a>
    </li>
    <li>
      <a href="/XPT/AUD">
        Convert 1 XPT to AUD...
      </a>
    </li>
    <li>
      <a href="/XPT/AWG">
        Convert 1 XPT to AWG...
      </a>
    </li>
    <li>
      <a href="/XPT/AZN">
        Convert 1 XPT to AZN...
      </a>
    </li>
    <li>
      <a href="/XPT/BAM">
        Convert 1 XPT to BAM...
      </a>
    </li>
    <li>
      <a href="/XPT/BBD">
        Convert 1 XPT to BBD...
      </a>
    </li>
    <li>
      <a href="/XPT/BDT">
        Convert 1 XPT to BDT...
      </a>
    </li>
    <li>
      <a href="/XPT/BGN">
        Convert 1 XPT to BGN...
      </a>
    </li>
    <li>
      <a href="/XPT/BHD">
        Convert 1 XPT to BHD...
      </a>
    </li>
    <li>
      <a href="/XPT/BIF">
        Convert 1 XPT to BIF...
      </a>
    </li>
    <li>
      <a href="/XPT/BMD">
        Convert 1 XPT to BMD...
      </a>
    </li>
    <li>
      <a href="/XPT/BND">
        Convert 1 XPT to BND...
      </a>
    </li>
    <li>
      <a href="/XPT/BOB">
        Convert 1 XPT to BOB...
      </a>
    </li>
    <li>
      <a href="/XPT/BRL">
        Convert 1 XPT to BRL...
      </a>
    </li>
    <li>
      <a href="/XPT/BSD">
        Convert 1 XPT to BSD...
      </a>
    </li>
    <li>
      <a href="/XPT/BTC">
        Convert 1 XPT to BTC...
      </a>
    </li>
    <li>
      <a href="/XPT/BTN">
        Convert 1 XPT to BTN...
      </a>
    </li>
    <li>
      <a href="/XPT/BWP">
        Convert 1 XPT to BWP...
      </a>
    </li>
    <li>
      <a href="/XPT/BYN">
        Convert 1 XPT to BYN...
      </a>
    </li>
    <li>
      <a href="/XPT/BZD">
        Convert 1 XPT to BZD...
      </a>
    </li>
    <li>
      <a href="/XPT/CAD">
        Convert 1 XPT to CAD...
      </a>
    </li>
    <li>
      <a href="/XPT/CDF">
        Convert 1 XPT to CDF...
      </a>
    </li>
    <li>
      <a href="/XPT/CHF">
        Convert 1 XPT to CHF...
      </a>
    </li>
    <li>
      <a href="/XPT/CLF">
        Convert 1 XPT to CLF...
      </a>
    </li>
    <li>
      <a href="/XPT/CLP">
        Convert 1 XPT to CLP...
      </a>
    </li>
    <li>
      <a href="/XPT/CNH">
        Convert 1 XPT to CNH...
      </a>
    </li>
    <li>
      <a href="/XPT/CNY">
        Convert 1 XPT to CNY...
      </a>
    </li>
    <li>
      <a href="/XPT/COP">
        Convert 1 XPT to COP...
      </a>
    </li>
    <li>
      <a href="/XPT/CRC">
        Convert 1 XPT to CRC...
      </a>
    </li>
    <li>
      <a href="/XPT/CUC">
        Convert 1 XPT to CUC...
      </a>
    </li>
    <li>
      <a href="/XPT/CUP">
        Convert 1 XPT to CUP...
      </a>
    </li>
    <li>
      <a href="/XPT/CVE">
        Convert 1 XPT to CVE...
      </a>
    </li>
    <li>
      <a href="/XPT/CZK">
        Convert 1 XPT to CZK...
      </a>
    </li>
    <li>
      <a href="/XPT/DJF">
        Convert 1 XPT to DJF...
      </a>
    </li>
    <li>
      <a href="/XPT/DKK">
        Convert 1 XPT to DKK...
      </a>
    </li>
    <li>
      <a href="/XPT/DOP">
        Convert 1 XPT to DOP...
      </a>
    </li>
    <li>
      <a href="/XPT/DZD">
        Convert 1 XPT to DZD...
      </a>
    </li>
    <li>
      <a href="/XPT/EGP">
        Convert 1 XPT to EGP...
      </a>
    </li>
    <li>
      <a href="/XPT/ERN">
        Convert 1 XPT to ERN...
      </a>
    </li>
    <li>
      <a href="/XPT/ETB">
        Convert 1 XPT to ETB...
      </a>
    </li>
    <li>
      <a href="/XPT/EUR">
        Convert 1 XPT to EUR...
      </a>
    </li>
    <li>
      <a href="/XPT/FJD">
        Convert 1 XPT to FJD...
      </a>
    </li>
    <li>
      <a href="/XPT/FKP">
        Convert 1 XPT to FKP...
      </a>
    </li>
    <li>
      <a href="/XPT/GBP">
        Convert 1 XPT to GBP...
      </a>
    </li>
    <li>
      <a href="/XPT/GEL">
        Convert 1 XPT to GEL...
      </a>
    </li>
    <li>
      <a href="/XPT/GGP">
        Convert 1 XPT to GGP...
      </a>
    </li>
    <li>
      <a href="/XPT/GHS">
        Convert 1 XPT to GHS...
      </a>
    </li>
    <li>
      <a href="/XPT/GIP">
        Convert 1 XPT to GIP...
      </a>
    </li>
    <li>
      <a href="/XPT/GMD">
        Convert 1 XPT to GMD...
      </a>
    </li>
    <li>
      <a href="/XPT/GNF">
        Convert 1 XPT to GNF...
      </a>
    </li>
    <li>
      <a href="/XPT/GTQ">
        Convert 1 XPT to GTQ...
      </a>
    </li>
    <li>
      <a href="/XPT/GYD">
        Convert 1 XPT to GYD...
      </a>
    </li>
    <li>
      <a href="/XPT/HKD">
        Convert 1 XPT to HKD...
      </a>
    </li>
    <li>
      <a href="/XPT/HNL">
        Convert 1 XPT to HNL...
      </a>
    </li>
    <li>
      <a href="/XPT/HRK">
        Convert 1 XPT to HRK...
      </a>
    </li>
    <li>
      <a href="/XPT/HTG">
        Convert 1 XPT to HTG...
      </a>
    </li>
    <li>
      <a href="/XPT/HUF">
        Convert 1 XPT to HUF...
      </a>
    </li>
    <li>
      <a href="/XPT/IDR">
        Convert 1 XPT to IDR...
      </a>
    </li>
    <li>
      <a href="/XPT/ILS">
        Convert 1 XPT to ILS...
      </a>
    </li>
    <li>
      <a href="/XPT/IMP">
        Convert 1 XPT to IMP...
      </a>
    </li>
    <li>
      <a href="/XPT/INR">
        Convert 1 XPT to INR...
      </a>
    </li>
    <li>
      <a href="/XPT/IQD">
        Convert 1 XPT to IQD...
      </a>
    </li>
    <li>
      <a href="/XPT/IRR">
        Convert 1 XPT to IRR...
      </a>
    </li>
    <li>
      <a href="/XPT/ISK">
        Convert 1 XPT to ISK...
      </a>
    </li>
    <li>
      <a href="/XPT/JEP">
        Convert 1 XPT to JEP...
      </a>
    </li>
    <li>
      <a href="/XPT/JMD">
        Convert 1 XPT to JMD...
      </a>
    </li>
    <li>
      <a href="/XPT/JOD">
        Convert 1 XPT to JOD...
      </a>
    </li>
    <li>
      <a href="/XPT/JPY">
        Convert 1 XPT to JPY...
      </a>
    </li>
    <li>
      <a href="/XPT/KES">
        Convert 1 XPT to KES...
      </a>
    </li>
    <li>
      <a href="/XPT/KGS">
        Convert 1 XPT to KGS...
      </a>
    </li>
    <li>
      <a href="/XPT/KHR">
        Convert 1 XPT to KHR...
      </a>
    </li>
    <li>
      <a href="/XPT/KMF">
        Convert 1 XPT to KMF...
      </a>
    </li>
    <li>
      <a href="/XPT/KPW">
        Convert 1 XPT to KPW...
      </a>
    </li>
    <li>
      <a href="/XPT/KRW">
        Convert 1 XPT to KRW...
      </a>
    </li>
    <li>
      <a href="/XPT/KWD">
        Convert 1 XPT to KWD...
      </a>
    </li>
    <li>
      <a href="/XPT/KYD">
        Convert 1 XPT to KYD...
      </a>
    </li>
    <li>
      <a href="/XPT/KZT">
        Convert 1 XPT to KZT...
      </a>
    </li>
    <li>
      <a href="/XPT/LAK">
        Convert 1 XPT to LAK...
      </a>
    </li>
    <li>
      <a href="/XPT/LBP">
        Convert 1 XPT to LBP...
      </a>
    </li>
    <li>
      <a href="/XPT/LKR">
        Convert 1 XPT to LKR...
      </a>
    </li>
    <li>
      <a href="/XPT/LRD">
        Convert 1 XPT to LRD...
      </a>
    </li>
    <li>
      <a href="/XPT/LSL">
        Convert 1 XPT to LSL...
      </a>
    </li>
    <li>
      <a href="/XPT/LYD">
        Convert 1 XPT to LYD...
      </a>
    </li>
    <li>
      <a href="/XPT/MAD">
        Convert 1 XPT to MAD...
      </a>
    </li>
    <li>
      <a href="/XPT/MDL">
        Convert 1 XPT to MDL...
      </a>
    </li>
    <li>
      <a href="/XPT/MGA">
        Convert 1 XPT to MGA...
      </a>
    </li>
    <li>
      <a href="/XPT/MKD">
        Convert 1 XPT to MKD...
      </a>
    </li>
    <li>
      <a href="/XPT/MMK">
        Convert 1 XPT to MMK...
      </a>
    </li>
    <li>
      <a href="/XPT/MNT">
        Convert 1 XPT to MNT...
      </a>
    </li>
    <li>
      <a href="/XPT/MOP">
        Convert 1 XPT to MOP...
      </a>
    </li>
    <li>
      <a href="/XPT/MRO">
        Convert 1 XPT to MRO...
      </a>
    </li>
    <li>
      <a href="/XPT/MRU">
        Convert 1 XPT to MRU...
      </a>
    </li>
    <li>
      <a href="/XPT/MUR">
        Convert 1 XPT to MUR...
      </a>
    </li>
    <li>
      <a href="/XPT/MVR">
        Convert 1 XPT to MVR...
      </a>
    </li>
    <li>
      <a href="/XPT/MWK">
        Convert 1 XPT to MWK...
      </a>
    </li>
    <li>
      <a href="/XPT/MXN">
        Convert 1 XPT to MXN...
      </a>
    </li>
    <li>
      <a href="/XPT/MYR">
        Convert 1 XPT to MYR...
      </a>
    </li>
    <li>
      <a href="/XPT/MZN">
        Convert 1 XPT to MZN...
      </a>
    </li>
    <li>
      <a href="/XPT/NAD">
        Convert 1 XPT to NAD...
      </a>
    </li>
    <li>
      <a href="/XPT/NGN">
        Convert 1 XPT to NGN...
      </a>
    </li>
    <li>
      <a href="/XPT/NIO">
        Convert 1 XPT to NIO...
      </a>
    </li>
    <li>
      <a href="/XPT/NOK">
        Convert 1 XPT to NOK...
      </a>
    </li>
    <li>
      <a href="/XPT/NPR">
        Convert 1 XPT to NPR...
      </a>
    </li>
    <li>
      <a href="/XPT/NZD">
        Convert 1 XPT to NZD...
      </a>
    </li>
    <li>
      <a href="/XPT/OMR">
        Convert 1 XPT to OMR...
      </a>
    </li>
    <li>
      <a href="/XPT/PAB">
        Convert 1 XPT to PAB...
      </a>
    </li>
    <li>
      <a href="/XPT/PEN">
        Convert 1 XPT to PEN...
      </a>
    </li>
    <li>
      <a href="/XPT/PGK">
        Convert 1 XPT to PGK...
      </a>
    </li>
    <li>
      <a href="/XPT/PHP">
        Convert 1 XPT to PHP...
      </a>
    </li>
    <li>
      <a href="/XPT/PKR">
        Convert 1 XPT to PKR...
      </a>
    </li>
    <li>
      <a href="/XPT/PLN">
        Convert 1 XPT to PLN...
      </a>
    </li>
    <li>
      <a href="/XPT/PYG">
        Convert 1 XPT to PYG...
      </a>
    </li>
    <li>
      <a href="/XPT/QAR">
        Convert 1 XPT to QAR...
      </a>
    </li>
    <li>
      <a href="/XPT/RON">
        Convert 1 XPT to RON...
      </a>
    </li>
    <li>
      <a href="/XPT/RSD">
        Convert 1 XPT to RSD...
      </a>
    </li>
    <li>
      <a href="/XPT/RUB">
        Convert 1 XPT to RUB...
      </a>
    </li>
    <li>
      <a href="/XPT/RWF">
        Convert 1 XPT to RWF...
      </a>
    </li>
    <li>
      <a href="/XPT/SAR">
        Convert 1 XPT to SAR...
      </a>
    </li>
    <li>
      <a href="/XPT/SBD">
        Convert 1 XPT to SBD...
      </a>
    </li>
    <li>
      <a href="/XPT/SCR">
        Convert 1 XPT to SCR...
      </a>
    </li>
    <li>
      <a href="/XPT/SDG">
        Convert 1 XPT to SDG...
      </a>
    </li>
    <li>
      <a href="/XPT/SEK">
        Convert 1 XPT to SEK...
      </a>
    </li>
    <li>
      <a href="/XPT/SGD">
        Convert 1 XPT to SGD...
      </a>
    </li>
    <li>
      <a href="/XPT/SHP">
        Convert 1 XPT to SHP...
      </a>
    </li>
    <li>
      <a href="/XPT/SLL">
        Convert 1 XPT to SLL...
      </a>
    </li>
    <li>
      <a href="/XPT/SOS">
        Convert 1 XPT to SOS...
      </a>
    </li>
    <li>
      <a href="/XPT/SRD">
        Convert 1 XPT to SRD...
      </a>
    </li>
    <li>
      <a href="/XPT/SSP">
        Convert 1 XPT to SSP...
      </a>
    </li>
    <li>
      <a href="/XPT/STD">
        Convert 1 XPT to STD...
      </a>
    </li>
    <li>
      <a href="/XPT/STN">
        Convert 1 XPT to STN...
      </a>
    </li>
    <li>
      <a href="/XPT/SVC">
        Convert 1 XPT to SVC...
      </a>
    </li>
    <li>
      <a href="/XPT/SYP">
        Convert 1 XPT to SYP...
      </a>
    </li>
    <li>
      <a href="/XPT/SZL">
        Convert 1 XPT to SZL...
      </a>
    </li>
    <li>
      <a href="/XPT/THB">
        Convert 1 XPT to THB...
      </a>
    </li>
    <li>
      <a href="/XPT/TJS">
        Convert 1 XPT to TJS...
      </a>
    </li>
    <li>
      <a href="/XPT/TMT">
        Convert 1 XPT to TMT...
      </a>
    </li>
    <li>
      <a href="/XPT/TND">
        Convert 1 XPT to TND...
      </a>
    </li>
    <li>
      <a href="/XPT/TOP">
        Convert 1 XPT to TOP...
      </a>
    </li>
    <li>
      <a href="/XPT/TRY">
        Convert 1 XPT to TRY...
      </a>
    </li>
    <li>
      <a href="/XPT/TTD">
        Convert 1 XPT to TTD...
      </a>
    </li>
    <li>
      <a href="/XPT/TWD">
        Convert 1 XPT to TWD...
      </a>
    </li>
    <li>
      <a href="/XPT/TZS">
        Convert 1 XPT to TZS...
      </a>
    </li>
    <li>
      <a href="/XPT/UAH">
        Convert 1 XPT to UAH...
      </a>
    </li>
    <li>
      <a href="/XPT/UGX">
        Convert 1 XPT to UGX...
      </a>
    </li>
    <li>
      <a href="/XPT/USD">
        Convert 1 XPT to USD...
      </a>
    </li>
    <li>
      <a href="/XPT/UYU">
        Convert 1 XPT to UYU...
      </a>
    </li>
    <li>
      <a href="/XPT/UZS">
        Convert 1 XPT to UZS...
      </a>
    </li>
    <li>
      <a href="/XPT/VEF">
        Convert 1 XPT to VEF...
      </a>
    </li>
    <li>
      <a href="/XPT/VES">
        Convert 1 XPT to VES...
      </a>
    </li>
    <li>
      <a href="/XPT/VND">
        Convert 1 XPT to VND...
      </a>
    </li>
    <li>
      <a href="/XPT/VUV">
        Convert 1 XPT to VUV...
      </a>
    </li>
    <li>
      <a href="/XPT/WST">
        Convert 1 XPT to WST...
      </a>
    </li>
    <li>
      <a href="/XPT/XAF">
        Convert 1 XPT to XAF...
      </a>
    </li>
    <li>
      <a href="/XPT/XAG">
        Convert 1 XPT to XAG...
      </a>
    </li>
    <li>
      <a href="/XPT/XAU">
        Convert 1 XPT to XAU...
      </a>
    </li>
    <li>
      <a href="/XPT/XCD">
        Convert 1 XPT to XCD...
      </a>
    </li>
    <li>
      <a href="/XPT/XDR">
        Convert 1 XPT to XDR...
      </a>
    </li>
    <li>
      <a href="/XPT/XOF">
        Convert 1 XPT to XOF...
      </a>
    </li>
    <li>
      <a href="/XPT/XPD">
        Convert 1 XPT to XPD...
      </a>
    </li>
    <li>
      <a href="/XPT/XPF">
        Convert 1 XPT to XPF...
      </a>
    </li>
    <li>
      <a href="/XPT/XPT">
        Convert 1 XPT to XPT...
      </a>
    </li>
    <li>
      <a href="/XPT/YER">
        Convert 1 XPT to YER...
      </a>
    </li>
    <li>
      <a href="/XPT/ZAR">
        Convert 1 XPT to ZAR...
      </a>
    </li>
    <li>
      <a href="/XPT/ZMW">
        Convert 1 XPT to ZMW...
      </a>
    </li>
    <li>
      <a href="/XPT/ZWL">
        Convert 1 XPT to ZWL...
      </a>
    </li>
</ul>
</body>
