<body>
    <h1>Convert YER</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/YER/AED">
        Convert 1 YER to AED...
      </a>
    </li>
    <li>
      <a href="/YER/AFN">
        Convert 1 YER to AFN...
      </a>
    </li>
    <li>
      <a href="/YER/ALL">
        Convert 1 YER to ALL...
      </a>
    </li>
    <li>
      <a href="/YER/AMD">
        Convert 1 YER to AMD...
      </a>
    </li>
    <li>
      <a href="/YER/ANG">
        Convert 1 YER to ANG...
      </a>
    </li>
    <li>
      <a href="/YER/AOA">
        Convert 1 YER to AOA...
      </a>
    </li>
    <li>
      <a href="/YER/ARS">
        Convert 1 YER to ARS...
      </a>
    </li>
    <li>
      <a href="/YER/AUD">
        Convert 1 YER to AUD...
      </a>
    </li>
    <li>
      <a href="/YER/AWG">
        Convert 1 YER to AWG...
      </a>
    </li>
    <li>
      <a href="/YER/AZN">
        Convert 1 YER to AZN...
      </a>
    </li>
    <li>
      <a href="/YER/BAM">
        Convert 1 YER to BAM...
      </a>
    </li>
    <li>
      <a href="/YER/BBD">
        Convert 1 YER to BBD...
      </a>
    </li>
    <li>
      <a href="/YER/BDT">
        Convert 1 YER to BDT...
      </a>
    </li>
    <li>
      <a href="/YER/BGN">
        Convert 1 YER to BGN...
      </a>
    </li>
    <li>
      <a href="/YER/BHD">
        Convert 1 YER to BHD...
      </a>
    </li>
    <li>
      <a href="/YER/BIF">
        Convert 1 YER to BIF...
      </a>
    </li>
    <li>
      <a href="/YER/BMD">
        Convert 1 YER to BMD...
      </a>
    </li>
    <li>
      <a href="/YER/BND">
        Convert 1 YER to BND...
      </a>
    </li>
    <li>
      <a href="/YER/BOB">
        Convert 1 YER to BOB...
      </a>
    </li>
    <li>
      <a href="/YER/BRL">
        Convert 1 YER to BRL...
      </a>
    </li>
    <li>
      <a href="/YER/BSD">
        Convert 1 YER to BSD...
      </a>
    </li>
    <li>
      <a href="/YER/BTC">
        Convert 1 YER to BTC...
      </a>
    </li>
    <li>
      <a href="/YER/BTN">
        Convert 1 YER to BTN...
      </a>
    </li>
    <li>
      <a href="/YER/BWP">
        Convert 1 YER to BWP...
      </a>
    </li>
    <li>
      <a href="/YER/BYN">
        Convert 1 YER to BYN...
      </a>
    </li>
    <li>
      <a href="/YER/BZD">
        Convert 1 YER to BZD...
      </a>
    </li>
    <li>
      <a href="/YER/CAD">
        Convert 1 YER to CAD...
      </a>
    </li>
    <li>
      <a href="/YER/CDF">
        Convert 1 YER to CDF...
      </a>
    </li>
    <li>
      <a href="/YER/CHF">
        Convert 1 YER to CHF...
      </a>
    </li>
    <li>
      <a href="/YER/CLF">
        Convert 1 YER to CLF...
      </a>
    </li>
    <li>
      <a href="/YER/CLP">
        Convert 1 YER to CLP...
      </a>
    </li>
    <li>
      <a href="/YER/CNH">
        Convert 1 YER to CNH...
      </a>
    </li>
    <li>
      <a href="/YER/CNY">
        Convert 1 YER to CNY...
      </a>
    </li>
    <li>
      <a href="/YER/COP">
        Convert 1 YER to COP...
      </a>
    </li>
    <li>
      <a href="/YER/CRC">
        Convert 1 YER to CRC...
      </a>
    </li>
    <li>
      <a href="/YER/CUC">
        Convert 1 YER to CUC...
      </a>
    </li>
    <li>
      <a href="/YER/CUP">
        Convert 1 YER to CUP...
      </a>
    </li>
    <li>
      <a href="/YER/CVE">
        Convert 1 YER to CVE...
      </a>
    </li>
    <li>
      <a href="/YER/CZK">
        Convert 1 YER to CZK...
      </a>
    </li>
    <li>
      <a href="/YER/DJF">
        Convert 1 YER to DJF...
      </a>
    </li>
    <li>
      <a href="/YER/DKK">
        Convert 1 YER to DKK...
      </a>
    </li>
    <li>
      <a href="/YER/DOP">
        Convert 1 YER to DOP...
      </a>
    </li>
    <li>
      <a href="/YER/DZD">
        Convert 1 YER to DZD...
      </a>
    </li>
    <li>
      <a href="/YER/EGP">
        Convert 1 YER to EGP...
      </a>
    </li>
    <li>
      <a href="/YER/ERN">
        Convert 1 YER to ERN...
      </a>
    </li>
    <li>
      <a href="/YER/ETB">
        Convert 1 YER to ETB...
      </a>
    </li>
    <li>
      <a href="/YER/EUR">
        Convert 1 YER to EUR...
      </a>
    </li>
    <li>
      <a href="/YER/FJD">
        Convert 1 YER to FJD...
      </a>
    </li>
    <li>
      <a href="/YER/FKP">
        Convert 1 YER to FKP...
      </a>
    </li>
    <li>
      <a href="/YER/GBP">
        Convert 1 YER to GBP...
      </a>
    </li>
    <li>
      <a href="/YER/GEL">
        Convert 1 YER to GEL...
      </a>
    </li>
    <li>
      <a href="/YER/GGP">
        Convert 1 YER to GGP...
      </a>
    </li>
    <li>
      <a href="/YER/GHS">
        Convert 1 YER to GHS...
      </a>
    </li>
    <li>
      <a href="/YER/GIP">
        Convert 1 YER to GIP...
      </a>
    </li>
    <li>
      <a href="/YER/GMD">
        Convert 1 YER to GMD...
      </a>
    </li>
    <li>
      <a href="/YER/GNF">
        Convert 1 YER to GNF...
      </a>
    </li>
    <li>
      <a href="/YER/GTQ">
        Convert 1 YER to GTQ...
      </a>
    </li>
    <li>
      <a href="/YER/GYD">
        Convert 1 YER to GYD...
      </a>
    </li>
    <li>
      <a href="/YER/HKD">
        Convert 1 YER to HKD...
      </a>
    </li>
    <li>
      <a href="/YER/HNL">
        Convert 1 YER to HNL...
      </a>
    </li>
    <li>
      <a href="/YER/HRK">
        Convert 1 YER to HRK...
      </a>
    </li>
    <li>
      <a href="/YER/HTG">
        Convert 1 YER to HTG...
      </a>
    </li>
    <li>
      <a href="/YER/HUF">
        Convert 1 YER to HUF...
      </a>
    </li>
    <li>
      <a href="/YER/IDR">
        Convert 1 YER to IDR...
      </a>
    </li>
    <li>
      <a href="/YER/ILS">
        Convert 1 YER to ILS...
      </a>
    </li>
    <li>
      <a href="/YER/IMP">
        Convert 1 YER to IMP...
      </a>
    </li>
    <li>
      <a href="/YER/INR">
        Convert 1 YER to INR...
      </a>
    </li>
    <li>
      <a href="/YER/IQD">
        Convert 1 YER to IQD...
      </a>
    </li>
    <li>
      <a href="/YER/IRR">
        Convert 1 YER to IRR...
      </a>
    </li>
    <li>
      <a href="/YER/ISK">
        Convert 1 YER to ISK...
      </a>
    </li>
    <li>
      <a href="/YER/JEP">
        Convert 1 YER to JEP...
      </a>
    </li>
    <li>
      <a href="/YER/JMD">
        Convert 1 YER to JMD...
      </a>
    </li>
    <li>
      <a href="/YER/JOD">
        Convert 1 YER to JOD...
      </a>
    </li>
    <li>
      <a href="/YER/JPY">
        Convert 1 YER to JPY...
      </a>
    </li>
    <li>
      <a href="/YER/KES">
        Convert 1 YER to KES...
      </a>
    </li>
    <li>
      <a href="/YER/KGS">
        Convert 1 YER to KGS...
      </a>
    </li>
    <li>
      <a href="/YER/KHR">
        Convert 1 YER to KHR...
      </a>
    </li>
    <li>
      <a href="/YER/KMF">
        Convert 1 YER to KMF...
      </a>
    </li>
    <li>
      <a href="/YER/KPW">
        Convert 1 YER to KPW...
      </a>
    </li>
    <li>
      <a href="/YER/KRW">
        Convert 1 YER to KRW...
      </a>
    </li>
    <li>
      <a href="/YER/KWD">
        Convert 1 YER to KWD...
      </a>
    </li>
    <li>
      <a href="/YER/KYD">
        Convert 1 YER to KYD...
      </a>
    </li>
    <li>
      <a href="/YER/KZT">
        Convert 1 YER to KZT...
      </a>
    </li>
    <li>
      <a href="/YER/LAK">
        Convert 1 YER to LAK...
      </a>
    </li>
    <li>
      <a href="/YER/LBP">
        Convert 1 YER to LBP...
      </a>
    </li>
    <li>
      <a href="/YER/LKR">
        Convert 1 YER to LKR...
      </a>
    </li>
    <li>
      <a href="/YER/LRD">
        Convert 1 YER to LRD...
      </a>
    </li>
    <li>
      <a href="/YER/LSL">
        Convert 1 YER to LSL...
      </a>
    </li>
    <li>
      <a href="/YER/LYD">
        Convert 1 YER to LYD...
      </a>
    </li>
    <li>
      <a href="/YER/MAD">
        Convert 1 YER to MAD...
      </a>
    </li>
    <li>
      <a href="/YER/MDL">
        Convert 1 YER to MDL...
      </a>
    </li>
    <li>
      <a href="/YER/MGA">
        Convert 1 YER to MGA...
      </a>
    </li>
    <li>
      <a href="/YER/MKD">
        Convert 1 YER to MKD...
      </a>
    </li>
    <li>
      <a href="/YER/MMK">
        Convert 1 YER to MMK...
      </a>
    </li>
    <li>
      <a href="/YER/MNT">
        Convert 1 YER to MNT...
      </a>
    </li>
    <li>
      <a href="/YER/MOP">
        Convert 1 YER to MOP...
      </a>
    </li>
    <li>
      <a href="/YER/MRO">
        Convert 1 YER to MRO...
      </a>
    </li>
    <li>
      <a href="/YER/MRU">
        Convert 1 YER to MRU...
      </a>
    </li>
    <li>
      <a href="/YER/MUR">
        Convert 1 YER to MUR...
      </a>
    </li>
    <li>
      <a href="/YER/MVR">
        Convert 1 YER to MVR...
      </a>
    </li>
    <li>
      <a href="/YER/MWK">
        Convert 1 YER to MWK...
      </a>
    </li>
    <li>
      <a href="/YER/MXN">
        Convert 1 YER to MXN...
      </a>
    </li>
    <li>
      <a href="/YER/MYR">
        Convert 1 YER to MYR...
      </a>
    </li>
    <li>
      <a href="/YER/MZN">
        Convert 1 YER to MZN...
      </a>
    </li>
    <li>
      <a href="/YER/NAD">
        Convert 1 YER to NAD...
      </a>
    </li>
    <li>
      <a href="/YER/NGN">
        Convert 1 YER to NGN...
      </a>
    </li>
    <li>
      <a href="/YER/NIO">
        Convert 1 YER to NIO...
      </a>
    </li>
    <li>
      <a href="/YER/NOK">
        Convert 1 YER to NOK...
      </a>
    </li>
    <li>
      <a href="/YER/NPR">
        Convert 1 YER to NPR...
      </a>
    </li>
    <li>
      <a href="/YER/NZD">
        Convert 1 YER to NZD...
      </a>
    </li>
    <li>
      <a href="/YER/OMR">
        Convert 1 YER to OMR...
      </a>
    </li>
    <li>
      <a href="/YER/PAB">
        Convert 1 YER to PAB...
      </a>
    </li>
    <li>
      <a href="/YER/PEN">
        Convert 1 YER to PEN...
      </a>
    </li>
    <li>
      <a href="/YER/PGK">
        Convert 1 YER to PGK...
      </a>
    </li>
    <li>
      <a href="/YER/PHP">
        Convert 1 YER to PHP...
      </a>
    </li>
    <li>
      <a href="/YER/PKR">
        Convert 1 YER to PKR...
      </a>
    </li>
    <li>
      <a href="/YER/PLN">
        Convert 1 YER to PLN...
      </a>
    </li>
    <li>
      <a href="/YER/PYG">
        Convert 1 YER to PYG...
      </a>
    </li>
    <li>
      <a href="/YER/QAR">
        Convert 1 YER to QAR...
      </a>
    </li>
    <li>
      <a href="/YER/RON">
        Convert 1 YER to RON...
      </a>
    </li>
    <li>
      <a href="/YER/RSD">
        Convert 1 YER to RSD...
      </a>
    </li>
    <li>
      <a href="/YER/RUB">
        Convert 1 YER to RUB...
      </a>
    </li>
    <li>
      <a href="/YER/RWF">
        Convert 1 YER to RWF...
      </a>
    </li>
    <li>
      <a href="/YER/SAR">
        Convert 1 YER to SAR...
      </a>
    </li>
    <li>
      <a href="/YER/SBD">
        Convert 1 YER to SBD...
      </a>
    </li>
    <li>
      <a href="/YER/SCR">
        Convert 1 YER to SCR...
      </a>
    </li>
    <li>
      <a href="/YER/SDG">
        Convert 1 YER to SDG...
      </a>
    </li>
    <li>
      <a href="/YER/SEK">
        Convert 1 YER to SEK...
      </a>
    </li>
    <li>
      <a href="/YER/SGD">
        Convert 1 YER to SGD...
      </a>
    </li>
    <li>
      <a href="/YER/SHP">
        Convert 1 YER to SHP...
      </a>
    </li>
    <li>
      <a href="/YER/SLL">
        Convert 1 YER to SLL...
      </a>
    </li>
    <li>
      <a href="/YER/SOS">
        Convert 1 YER to SOS...
      </a>
    </li>
    <li>
      <a href="/YER/SRD">
        Convert 1 YER to SRD...
      </a>
    </li>
    <li>
      <a href="/YER/SSP">
        Convert 1 YER to SSP...
      </a>
    </li>
    <li>
      <a href="/YER/STD">
        Convert 1 YER to STD...
      </a>
    </li>
    <li>
      <a href="/YER/STN">
        Convert 1 YER to STN...
      </a>
    </li>
    <li>
      <a href="/YER/SVC">
        Convert 1 YER to SVC...
      </a>
    </li>
    <li>
      <a href="/YER/SYP">
        Convert 1 YER to SYP...
      </a>
    </li>
    <li>
      <a href="/YER/SZL">
        Convert 1 YER to SZL...
      </a>
    </li>
    <li>
      <a href="/YER/THB">
        Convert 1 YER to THB...
      </a>
    </li>
    <li>
      <a href="/YER/TJS">
        Convert 1 YER to TJS...
      </a>
    </li>
    <li>
      <a href="/YER/TMT">
        Convert 1 YER to TMT...
      </a>
    </li>
    <li>
      <a href="/YER/TND">
        Convert 1 YER to TND...
      </a>
    </li>
    <li>
      <a href="/YER/TOP">
        Convert 1 YER to TOP...
      </a>
    </li>
    <li>
      <a href="/YER/TRY">
        Convert 1 YER to TRY...
      </a>
    </li>
    <li>
      <a href="/YER/TTD">
        Convert 1 YER to TTD...
      </a>
    </li>
    <li>
      <a href="/YER/TWD">
        Convert 1 YER to TWD...
      </a>
    </li>
    <li>
      <a href="/YER/TZS">
        Convert 1 YER to TZS...
      </a>
    </li>
    <li>
      <a href="/YER/UAH">
        Convert 1 YER to UAH...
      </a>
    </li>
    <li>
      <a href="/YER/UGX">
        Convert 1 YER to UGX...
      </a>
    </li>
    <li>
      <a href="/YER/USD">
        Convert 1 YER to USD...
      </a>
    </li>
    <li>
      <a href="/YER/UYU">
        Convert 1 YER to UYU...
      </a>
    </li>
    <li>
      <a href="/YER/UZS">
        Convert 1 YER to UZS...
      </a>
    </li>
    <li>
      <a href="/YER/VEF">
        Convert 1 YER to VEF...
      </a>
    </li>
    <li>
      <a href="/YER/VES">
        Convert 1 YER to VES...
      </a>
    </li>
    <li>
      <a href="/YER/VND">
        Convert 1 YER to VND...
      </a>
    </li>
    <li>
      <a href="/YER/VUV">
        Convert 1 YER to VUV...
      </a>
    </li>
    <li>
      <a href="/YER/WST">
        Convert 1 YER to WST...
      </a>
    </li>
    <li>
      <a href="/YER/XAF">
        Convert 1 YER to XAF...
      </a>
    </li>
    <li>
      <a href="/YER/XAG">
        Convert 1 YER to XAG...
      </a>
    </li>
    <li>
      <a href="/YER/XAU">
        Convert 1 YER to XAU...
      </a>
    </li>
    <li>
      <a href="/YER/XCD">
        Convert 1 YER to XCD...
      </a>
    </li>
    <li>
      <a href="/YER/XDR">
        Convert 1 YER to XDR...
      </a>
    </li>
    <li>
      <a href="/YER/XOF">
        Convert 1 YER to XOF...
      </a>
    </li>
    <li>
      <a href="/YER/XPD">
        Convert 1 YER to XPD...
      </a>
    </li>
    <li>
      <a href="/YER/XPF">
        Convert 1 YER to XPF...
      </a>
    </li>
    <li>
      <a href="/YER/XPT">
        Convert 1 YER to XPT...
      </a>
    </li>
    <li>
      <a href="/YER/YER">
        Convert 1 YER to YER...
      </a>
    </li>
    <li>
      <a href="/YER/ZAR">
        Convert 1 YER to ZAR...
      </a>
    </li>
    <li>
      <a href="/YER/ZMW">
        Convert 1 YER to ZMW...
      </a>
    </li>
    <li>
      <a href="/YER/ZWL">
        Convert 1 YER to ZWL...
      </a>
    </li>
</ul>
</body>
