<body>
    <h1>Convert ZMW</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/ZMW/AED">
        Convert 1 ZMW to AED...
      </a>
    </li>
    <li>
      <a href="/ZMW/AFN">
        Convert 1 ZMW to AFN...
      </a>
    </li>
    <li>
      <a href="/ZMW/ALL">
        Convert 1 ZMW to ALL...
      </a>
    </li>
    <li>
      <a href="/ZMW/AMD">
        Convert 1 ZMW to AMD...
      </a>
    </li>
    <li>
      <a href="/ZMW/ANG">
        Convert 1 ZMW to ANG...
      </a>
    </li>
    <li>
      <a href="/ZMW/AOA">
        Convert 1 ZMW to AOA...
      </a>
    </li>
    <li>
      <a href="/ZMW/ARS">
        Convert 1 ZMW to ARS...
      </a>
    </li>
    <li>
      <a href="/ZMW/AUD">
        Convert 1 ZMW to AUD...
      </a>
    </li>
    <li>
      <a href="/ZMW/AWG">
        Convert 1 ZMW to AWG...
      </a>
    </li>
    <li>
      <a href="/ZMW/AZN">
        Convert 1 ZMW to AZN...
      </a>
    </li>
    <li>
      <a href="/ZMW/BAM">
        Convert 1 ZMW to BAM...
      </a>
    </li>
    <li>
      <a href="/ZMW/BBD">
        Convert 1 ZMW to BBD...
      </a>
    </li>
    <li>
      <a href="/ZMW/BDT">
        Convert 1 ZMW to BDT...
      </a>
    </li>
    <li>
      <a href="/ZMW/BGN">
        Convert 1 ZMW to BGN...
      </a>
    </li>
    <li>
      <a href="/ZMW/BHD">
        Convert 1 ZMW to BHD...
      </a>
    </li>
    <li>
      <a href="/ZMW/BIF">
        Convert 1 ZMW to BIF...
      </a>
    </li>
    <li>
      <a href="/ZMW/BMD">
        Convert 1 ZMW to BMD...
      </a>
    </li>
    <li>
      <a href="/ZMW/BND">
        Convert 1 ZMW to BND...
      </a>
    </li>
    <li>
      <a href="/ZMW/BOB">
        Convert 1 ZMW to BOB...
      </a>
    </li>
    <li>
      <a href="/ZMW/BRL">
        Convert 1 ZMW to BRL...
      </a>
    </li>
    <li>
      <a href="/ZMW/BSD">
        Convert 1 ZMW to BSD...
      </a>
    </li>
    <li>
      <a href="/ZMW/BTC">
        Convert 1 ZMW to BTC...
      </a>
    </li>
    <li>
      <a href="/ZMW/BTN">
        Convert 1 ZMW to BTN...
      </a>
    </li>
    <li>
      <a href="/ZMW/BWP">
        Convert 1 ZMW to BWP...
      </a>
    </li>
    <li>
      <a href="/ZMW/BYN">
        Convert 1 ZMW to BYN...
      </a>
    </li>
    <li>
      <a href="/ZMW/BZD">
        Convert 1 ZMW to BZD...
      </a>
    </li>
    <li>
      <a href="/ZMW/CAD">
        Convert 1 ZMW to CAD...
      </a>
    </li>
    <li>
      <a href="/ZMW/CDF">
        Convert 1 ZMW to CDF...
      </a>
    </li>
    <li>
      <a href="/ZMW/CHF">
        Convert 1 ZMW to CHF...
      </a>
    </li>
    <li>
      <a href="/ZMW/CLF">
        Convert 1 ZMW to CLF...
      </a>
    </li>
    <li>
      <a href="/ZMW/CLP">
        Convert 1 ZMW to CLP...
      </a>
    </li>
    <li>
      <a href="/ZMW/CNH">
        Convert 1 ZMW to CNH...
      </a>
    </li>
    <li>
      <a href="/ZMW/CNY">
        Convert 1 ZMW to CNY...
      </a>
    </li>
    <li>
      <a href="/ZMW/COP">
        Convert 1 ZMW to COP...
      </a>
    </li>
    <li>
      <a href="/ZMW/CRC">
        Convert 1 ZMW to CRC...
      </a>
    </li>
    <li>
      <a href="/ZMW/CUC">
        Convert 1 ZMW to CUC...
      </a>
    </li>
    <li>
      <a href="/ZMW/CUP">
        Convert 1 ZMW to CUP...
      </a>
    </li>
    <li>
      <a href="/ZMW/CVE">
        Convert 1 ZMW to CVE...
      </a>
    </li>
    <li>
      <a href="/ZMW/CZK">
        Convert 1 ZMW to CZK...
      </a>
    </li>
    <li>
      <a href="/ZMW/DJF">
        Convert 1 ZMW to DJF...
      </a>
    </li>
    <li>
      <a href="/ZMW/DKK">
        Convert 1 ZMW to DKK...
      </a>
    </li>
    <li>
      <a href="/ZMW/DOP">
        Convert 1 ZMW to DOP...
      </a>
    </li>
    <li>
      <a href="/ZMW/DZD">
        Convert 1 ZMW to DZD...
      </a>
    </li>
    <li>
      <a href="/ZMW/EGP">
        Convert 1 ZMW to EGP...
      </a>
    </li>
    <li>
      <a href="/ZMW/ERN">
        Convert 1 ZMW to ERN...
      </a>
    </li>
    <li>
      <a href="/ZMW/ETB">
        Convert 1 ZMW to ETB...
      </a>
    </li>
    <li>
      <a href="/ZMW/EUR">
        Convert 1 ZMW to EUR...
      </a>
    </li>
    <li>
      <a href="/ZMW/FJD">
        Convert 1 ZMW to FJD...
      </a>
    </li>
    <li>
      <a href="/ZMW/FKP">
        Convert 1 ZMW to FKP...
      </a>
    </li>
    <li>
      <a href="/ZMW/GBP">
        Convert 1 ZMW to GBP...
      </a>
    </li>
    <li>
      <a href="/ZMW/GEL">
        Convert 1 ZMW to GEL...
      </a>
    </li>
    <li>
      <a href="/ZMW/GGP">
        Convert 1 ZMW to GGP...
      </a>
    </li>
    <li>
      <a href="/ZMW/GHS">
        Convert 1 ZMW to GHS...
      </a>
    </li>
    <li>
      <a href="/ZMW/GIP">
        Convert 1 ZMW to GIP...
      </a>
    </li>
    <li>
      <a href="/ZMW/GMD">
        Convert 1 ZMW to GMD...
      </a>
    </li>
    <li>
      <a href="/ZMW/GNF">
        Convert 1 ZMW to GNF...
      </a>
    </li>
    <li>
      <a href="/ZMW/GTQ">
        Convert 1 ZMW to GTQ...
      </a>
    </li>
    <li>
      <a href="/ZMW/GYD">
        Convert 1 ZMW to GYD...
      </a>
    </li>
    <li>
      <a href="/ZMW/HKD">
        Convert 1 ZMW to HKD...
      </a>
    </li>
    <li>
      <a href="/ZMW/HNL">
        Convert 1 ZMW to HNL...
      </a>
    </li>
    <li>
      <a href="/ZMW/HRK">
        Convert 1 ZMW to HRK...
      </a>
    </li>
    <li>
      <a href="/ZMW/HTG">
        Convert 1 ZMW to HTG...
      </a>
    </li>
    <li>
      <a href="/ZMW/HUF">
        Convert 1 ZMW to HUF...
      </a>
    </li>
    <li>
      <a href="/ZMW/IDR">
        Convert 1 ZMW to IDR...
      </a>
    </li>
    <li>
      <a href="/ZMW/ILS">
        Convert 1 ZMW to ILS...
      </a>
    </li>
    <li>
      <a href="/ZMW/IMP">
        Convert 1 ZMW to IMP...
      </a>
    </li>
    <li>
      <a href="/ZMW/INR">
        Convert 1 ZMW to INR...
      </a>
    </li>
    <li>
      <a href="/ZMW/IQD">
        Convert 1 ZMW to IQD...
      </a>
    </li>
    <li>
      <a href="/ZMW/IRR">
        Convert 1 ZMW to IRR...
      </a>
    </li>
    <li>
      <a href="/ZMW/ISK">
        Convert 1 ZMW to ISK...
      </a>
    </li>
    <li>
      <a href="/ZMW/JEP">
        Convert 1 ZMW to JEP...
      </a>
    </li>
    <li>
      <a href="/ZMW/JMD">
        Convert 1 ZMW to JMD...
      </a>
    </li>
    <li>
      <a href="/ZMW/JOD">
        Convert 1 ZMW to JOD...
      </a>
    </li>
    <li>
      <a href="/ZMW/JPY">
        Convert 1 ZMW to JPY...
      </a>
    </li>
    <li>
      <a href="/ZMW/KES">
        Convert 1 ZMW to KES...
      </a>
    </li>
    <li>
      <a href="/ZMW/KGS">
        Convert 1 ZMW to KGS...
      </a>
    </li>
    <li>
      <a href="/ZMW/KHR">
        Convert 1 ZMW to KHR...
      </a>
    </li>
    <li>
      <a href="/ZMW/KMF">
        Convert 1 ZMW to KMF...
      </a>
    </li>
    <li>
      <a href="/ZMW/KPW">
        Convert 1 ZMW to KPW...
      </a>
    </li>
    <li>
      <a href="/ZMW/KRW">
        Convert 1 ZMW to KRW...
      </a>
    </li>
    <li>
      <a href="/ZMW/KWD">
        Convert 1 ZMW to KWD...
      </a>
    </li>
    <li>
      <a href="/ZMW/KYD">
        Convert 1 ZMW to KYD...
      </a>
    </li>
    <li>
      <a href="/ZMW/KZT">
        Convert 1 ZMW to KZT...
      </a>
    </li>
    <li>
      <a href="/ZMW/LAK">
        Convert 1 ZMW to LAK...
      </a>
    </li>
    <li>
      <a href="/ZMW/LBP">
        Convert 1 ZMW to LBP...
      </a>
    </li>
    <li>
      <a href="/ZMW/LKR">
        Convert 1 ZMW to LKR...
      </a>
    </li>
    <li>
      <a href="/ZMW/LRD">
        Convert 1 ZMW to LRD...
      </a>
    </li>
    <li>
      <a href="/ZMW/LSL">
        Convert 1 ZMW to LSL...
      </a>
    </li>
    <li>
      <a href="/ZMW/LYD">
        Convert 1 ZMW to LYD...
      </a>
    </li>
    <li>
      <a href="/ZMW/MAD">
        Convert 1 ZMW to MAD...
      </a>
    </li>
    <li>
      <a href="/ZMW/MDL">
        Convert 1 ZMW to MDL...
      </a>
    </li>
    <li>
      <a href="/ZMW/MGA">
        Convert 1 ZMW to MGA...
      </a>
    </li>
    <li>
      <a href="/ZMW/MKD">
        Convert 1 ZMW to MKD...
      </a>
    </li>
    <li>
      <a href="/ZMW/MMK">
        Convert 1 ZMW to MMK...
      </a>
    </li>
    <li>
      <a href="/ZMW/MNT">
        Convert 1 ZMW to MNT...
      </a>
    </li>
    <li>
      <a href="/ZMW/MOP">
        Convert 1 ZMW to MOP...
      </a>
    </li>
    <li>
      <a href="/ZMW/MRO">
        Convert 1 ZMW to MRO...
      </a>
    </li>
    <li>
      <a href="/ZMW/MRU">
        Convert 1 ZMW to MRU...
      </a>
    </li>
    <li>
      <a href="/ZMW/MUR">
        Convert 1 ZMW to MUR...
      </a>
    </li>
    <li>
      <a href="/ZMW/MVR">
        Convert 1 ZMW to MVR...
      </a>
    </li>
    <li>
      <a href="/ZMW/MWK">
        Convert 1 ZMW to MWK...
      </a>
    </li>
    <li>
      <a href="/ZMW/MXN">
        Convert 1 ZMW to MXN...
      </a>
    </li>
    <li>
      <a href="/ZMW/MYR">
        Convert 1 ZMW to MYR...
      </a>
    </li>
    <li>
      <a href="/ZMW/MZN">
        Convert 1 ZMW to MZN...
      </a>
    </li>
    <li>
      <a href="/ZMW/NAD">
        Convert 1 ZMW to NAD...
      </a>
    </li>
    <li>
      <a href="/ZMW/NGN">
        Convert 1 ZMW to NGN...
      </a>
    </li>
    <li>
      <a href="/ZMW/NIO">
        Convert 1 ZMW to NIO...
      </a>
    </li>
    <li>
      <a href="/ZMW/NOK">
        Convert 1 ZMW to NOK...
      </a>
    </li>
    <li>
      <a href="/ZMW/NPR">
        Convert 1 ZMW to NPR...
      </a>
    </li>
    <li>
      <a href="/ZMW/NZD">
        Convert 1 ZMW to NZD...
      </a>
    </li>
    <li>
      <a href="/ZMW/OMR">
        Convert 1 ZMW to OMR...
      </a>
    </li>
    <li>
      <a href="/ZMW/PAB">
        Convert 1 ZMW to PAB...
      </a>
    </li>
    <li>
      <a href="/ZMW/PEN">
        Convert 1 ZMW to PEN...
      </a>
    </li>
    <li>
      <a href="/ZMW/PGK">
        Convert 1 ZMW to PGK...
      </a>
    </li>
    <li>
      <a href="/ZMW/PHP">
        Convert 1 ZMW to PHP...
      </a>
    </li>
    <li>
      <a href="/ZMW/PKR">
        Convert 1 ZMW to PKR...
      </a>
    </li>
    <li>
      <a href="/ZMW/PLN">
        Convert 1 ZMW to PLN...
      </a>
    </li>
    <li>
      <a href="/ZMW/PYG">
        Convert 1 ZMW to PYG...
      </a>
    </li>
    <li>
      <a href="/ZMW/QAR">
        Convert 1 ZMW to QAR...
      </a>
    </li>
    <li>
      <a href="/ZMW/RON">
        Convert 1 ZMW to RON...
      </a>
    </li>
    <li>
      <a href="/ZMW/RSD">
        Convert 1 ZMW to RSD...
      </a>
    </li>
    <li>
      <a href="/ZMW/RUB">
        Convert 1 ZMW to RUB...
      </a>
    </li>
    <li>
      <a href="/ZMW/RWF">
        Convert 1 ZMW to RWF...
      </a>
    </li>
    <li>
      <a href="/ZMW/SAR">
        Convert 1 ZMW to SAR...
      </a>
    </li>
    <li>
      <a href="/ZMW/SBD">
        Convert 1 ZMW to SBD...
      </a>
    </li>
    <li>
      <a href="/ZMW/SCR">
        Convert 1 ZMW to SCR...
      </a>
    </li>
    <li>
      <a href="/ZMW/SDG">
        Convert 1 ZMW to SDG...
      </a>
    </li>
    <li>
      <a href="/ZMW/SEK">
        Convert 1 ZMW to SEK...
      </a>
    </li>
    <li>
      <a href="/ZMW/SGD">
        Convert 1 ZMW to SGD...
      </a>
    </li>
    <li>
      <a href="/ZMW/SHP">
        Convert 1 ZMW to SHP...
      </a>
    </li>
    <li>
      <a href="/ZMW/SLL">
        Convert 1 ZMW to SLL...
      </a>
    </li>
    <li>
      <a href="/ZMW/SOS">
        Convert 1 ZMW to SOS...
      </a>
    </li>
    <li>
      <a href="/ZMW/SRD">
        Convert 1 ZMW to SRD...
      </a>
    </li>
    <li>
      <a href="/ZMW/SSP">
        Convert 1 ZMW to SSP...
      </a>
    </li>
    <li>
      <a href="/ZMW/STD">
        Convert 1 ZMW to STD...
      </a>
    </li>
    <li>
      <a href="/ZMW/STN">
        Convert 1 ZMW to STN...
      </a>
    </li>
    <li>
      <a href="/ZMW/SVC">
        Convert 1 ZMW to SVC...
      </a>
    </li>
    <li>
      <a href="/ZMW/SYP">
        Convert 1 ZMW to SYP...
      </a>
    </li>
    <li>
      <a href="/ZMW/SZL">
        Convert 1 ZMW to SZL...
      </a>
    </li>
    <li>
      <a href="/ZMW/THB">
        Convert 1 ZMW to THB...
      </a>
    </li>
    <li>
      <a href="/ZMW/TJS">
        Convert 1 ZMW to TJS...
      </a>
    </li>
    <li>
      <a href="/ZMW/TMT">
        Convert 1 ZMW to TMT...
      </a>
    </li>
    <li>
      <a href="/ZMW/TND">
        Convert 1 ZMW to TND...
      </a>
    </li>
    <li>
      <a href="/ZMW/TOP">
        Convert 1 ZMW to TOP...
      </a>
    </li>
    <li>
      <a href="/ZMW/TRY">
        Convert 1 ZMW to TRY...
      </a>
    </li>
    <li>
      <a href="/ZMW/TTD">
        Convert 1 ZMW to TTD...
      </a>
    </li>
    <li>
      <a href="/ZMW/TWD">
        Convert 1 ZMW to TWD...
      </a>
    </li>
    <li>
      <a href="/ZMW/TZS">
        Convert 1 ZMW to TZS...
      </a>
    </li>
    <li>
      <a href="/ZMW/UAH">
        Convert 1 ZMW to UAH...
      </a>
    </li>
    <li>
      <a href="/ZMW/UGX">
        Convert 1 ZMW to UGX...
      </a>
    </li>
    <li>
      <a href="/ZMW/USD">
        Convert 1 ZMW to USD...
      </a>
    </li>
    <li>
      <a href="/ZMW/UYU">
        Convert 1 ZMW to UYU...
      </a>
    </li>
    <li>
      <a href="/ZMW/UZS">
        Convert 1 ZMW to UZS...
      </a>
    </li>
    <li>
      <a href="/ZMW/VEF">
        Convert 1 ZMW to VEF...
      </a>
    </li>
    <li>
      <a href="/ZMW/VES">
        Convert 1 ZMW to VES...
      </a>
    </li>
    <li>
      <a href="/ZMW/VND">
        Convert 1 ZMW to VND...
      </a>
    </li>
    <li>
      <a href="/ZMW/VUV">
        Convert 1 ZMW to VUV...
      </a>
    </li>
    <li>
      <a href="/ZMW/WST">
        Convert 1 ZMW to WST...
      </a>
    </li>
    <li>
      <a href="/ZMW/XAF">
        Convert 1 ZMW to XAF...
      </a>
    </li>
    <li>
      <a href="/ZMW/XAG">
        Convert 1 ZMW to XAG...
      </a>
    </li>
    <li>
      <a href="/ZMW/XAU">
        Convert 1 ZMW to XAU...
      </a>
    </li>
    <li>
      <a href="/ZMW/XCD">
        Convert 1 ZMW to XCD...
      </a>
    </li>
    <li>
      <a href="/ZMW/XDR">
        Convert 1 ZMW to XDR...
      </a>
    </li>
    <li>
      <a href="/ZMW/XOF">
        Convert 1 ZMW to XOF...
      </a>
    </li>
    <li>
      <a href="/ZMW/XPD">
        Convert 1 ZMW to XPD...
      </a>
    </li>
    <li>
      <a href="/ZMW/XPF">
        Convert 1 ZMW to XPF...
      </a>
    </li>
    <li>
      <a href="/ZMW/XPT">
        Convert 1 ZMW to XPT...
      </a>
    </li>
    <li>
      <a href="/ZMW/YER">
        Convert 1 ZMW to YER...
      </a>
    </li>
    <li>
      <a href="/ZMW/ZAR">
        Convert 1 ZMW to ZAR...
      </a>
    </li>
    <li>
      <a href="/ZMW/ZMW">
        Convert 1 ZMW to ZMW...
      </a>
    </li>
    <li>
      <a href="/ZMW/ZWL">
        Convert 1 ZMW to ZWL...
      </a>
    </li>
</ul>
</body>
